[2018-02-01 08:36] filrak opened #614 "Move NewsletterPopup to a modal and remove it from vuex store"
Its connected with https://github.com/DivanteLtd/vue-storefront/issues/608
We should remove  the newsletter popup state from vuex ui-store (and find all occurences of this action dispatch) and use [Modal component](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/modal.md) for it

Please update ui-store docs when you're done with it -> https://github.com/DivanteLtd/vue-store

[2018-02-01 13:48] matibenav opened #615 "Core Pages have hardcoded notification texts"
Should be part of the data, allowing those messages to be overwritten by merge.

[2018-02-02 18:12] filrak commented on #612
Thank you!

[2018-02-03 07:23] pkarw commented on #615
The key goal here is to have the possiility to apply translations?

[2018-02-03 07:37] pkarw commented on #615
We should start using https://github.com/kazupon/vue-i18n

Starting with this purpose - notifications - it’s good starting point

[2018-02-03 07:40] pkarw opened #618 "Add i18n supprt"
https://github.com/kazupon/vue-i18n

This is connected to #615

[2018-02-03 07:41] pkarw commented on #615
I’m closing this one because I’ve just opened more general issue #618

[2018-02-03 07:41] #615 closed

[2018-02-03 07:42] pkarw commented on #618
We can start with test support just for notification messages for now

[2018-02-03 14:41] pkarw opened #620 "Add „i like it, i star it” button to the demo :)"
By clicking it user can send us a Github star while on demo - sharing his/her first impression and recognition :)

[2018-02-03 14:57] pkarw opened #621 "Pricing layer with direct access to Magento/cms"
We need to add an option for getting the Prices and Stock quantities for Category and Product view directly from Magwnto2

Right now some differences / desyncs May occur while using middleware Elastic data store

We should add option to override the prices from ES by prices and stock qtys got directly from Magento via Vue-Storefront-api

We need to have api method like: getPrices(skus[]) for the c

[2018-02-04 11:56] mercs600 opened #622 "Click on overlay should close active component eg. sidebar menu"
Steps to reproduce:
1) Open sidebar menu by burger btn
2) Click on the overlay
3) Now you can see, that overlay disappeared, but sidebar is not closed.

This is related with change of method name:
https://github.com/DivanteLtd/vue-storefront/commit/61017138914a2cc51d730730168ade928c5cf8df#diff-fde08628ea19d9d6e7ae0824cb1aa00fR15

[2018-02-04 12:29] pkarw commented on #621
localhost:8080/api/product/render-list?skus=WS11-XS-GREEN,WS11-XS-YELLOW

[2018-02-04 14:22] filrak commented on #622
@mercs600 should it be closed?

[2018-02-04 14:27] filrak commented on #618
@matibenav maybe you can help Akbar with it since you started some work on this :)

[2018-02-04 14:42] filrak commented on #590
i can handle it

[2018-02-04 15:16] mercs600 commented on #622
Yes we can close it now

[2018-02-04 15:16] #622 closed

[2018-02-04 15:20] pkarw commented on #618
Guys I’m on it :) I’m traveling by train right now while coding this feature ;)

[2018-02-04 16:27] filrak opened #624 "[vue-catalog] Testing vue-catalog on offline"
Some light task for evening ;)

We need to test vue-catalog theme on desktop/mobile/offline modes.

[2018-02-04 16:31] filrak opened #625 "Create Blank theme with component library"
I'm working on a new theme called 'blank' to help people implement VS faster -> it's just a basic VS setup without styling but with all functionalities.
It will also contain ready to use ui component library.

The theme will include:
- Homepage
- Category page (with filters)
- Product page
- User Dashboard
- Checkout
- Wishlist
- Cart
- Comparator

Each component will be properly documented :)

[2018-02-04 16:38] filrak opened #626 "Documentation on vestorefront.io"
After this milestone i will put our docs at vuestorefront.io so it will be easier to find everything ;)

[2018-02-04 17:36] pkarw opened #627 "Add the $t() support for i18n for remaining components"
I've already added the support for translations (http://kazupon.github.io/vue-i18n/en/api.html#methods) to Category, Product, Home components and all the instances of 'notification' event - system wide according to #618

We need to add some translation helper calls like:
[code]
should be changed to:
[code]

If there are any remaining, locale specific messages in the code we should change them for

[2018-02-04 17:40] #618 closed

[2018-02-05 10:43] Aekal opened #634 "Move css properties to atomic css classes in default theme"
I think we should check existing vue components in default theme and move some css properties from `<style>` to classes in `<template>` as described in [docs](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/themes/default/Working%20with%20stylesheets.md).

[2018-02-05 10:44] Aekal commented on #634
I'll take care of it

[2018-02-05 16:49] filrak commented on #634
I was thinking about it since november but had no time, great to hear that you will take care of it. Can you also change classes connected to colors to more generic? (c-primary c-secondary etc). With classes like this the theme will be much more customizable. Taka a look at vue-catalog theme and try to do sth similar ok?

[2018-02-05 20:11] filrak commented on #587
Isn't it just a product tile for 12 cols? We can add just one optional prop to the ProductTile.vue that makes image bigger and voila ;) (i amde something similar in vue-catalog theme - check [ProductTile.vue](https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/catalog/components/core/ProductTile.vue) and `mobileHorizontalMode`)

[2018-02-05 21:08] #604 closed

[2018-02-06 08:22] #612 closed

[2018-02-06 10:32] Aekal commented on #634
We can work on it later, as we discussed it'll be better to create separate issue for this.

[2018-02-06 15:32] rushtoni88 opened #638 "SyntaxError in installer.js"
When I try to run **npm run installer** I get the following error:

`

/Users/Ian/Documents/Workspace/work/vue-storefront/vue-storefront/installer.js:651
  inquirer.prompt(questions).then(async function (answers) {
                                  ^^^^^
SyntaxError: missing ) after argument list
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile

[2018-02-06 15:36] pkarw commented on #638
Can not confirm. Which version of node do you have? >=8.0.0 is required

https://www.dropbox.com/s/mi26fdipbn4c5kh/Zrzut%20ekranu%202018-02-06%2016.36.34.png?dl=0

[2018-02-06 15:49] rushtoni88 commented on #638
Apologies, it was because my node version was < 8.0.0. I'm now getting an error cannot find module 'shelljs'. Should this be installed globally or is this a required dev package?

[2018-02-06 16:18] rushtoni88 commented on #638
Upgrading node to > 8.0.0 fixed this. Thanks.

[2018-02-06 20:13] Aekal commented on #34
Is this issue still up-to-date? Do we need this view?

[2018-02-06 20:22] #201 closed

[2018-02-07 06:12] pkarw commented on #34
I think it's not relevant anymore. Closing

[2018-02-07 06:12] #34 closed

[2018-02-07 07:21] pkarw commented on #638
I've fixed the problem with missing shelljs dependency

[2018-02-07 07:21] #638 closed

[2018-02-07 16:04] Aekal opened #639 "Change color names to more generic and reduce the color palette"
Moved from #634.
Right now in default theme we're using classes like `c-lightgray`, `bg-emperor`, but it'll be better to use more generic classes and create better naming convention, like `c-primary`, `c-secondary`, etc.
We currently have 10+ colors, it'll be helpful to reduce the color palette and merge similar colors to one.

All ideas are welcome ;)

[2018-02-07 16:22] Aekal opened #640 "Add components for form inputs"
Right now we have a mess in code in places where we use many inputs (Checkout, MyAccount, Login/Register). Also the styles are often duplicated.

We should create reusable components to replace existing inputs and checkboxes.
For input component there should be an option to optionally add validation, icon (show/hide password) and so on.

[2018-02-07 22:22] #621 closed

[2018-02-08 09:27] PanMisza commented on #640
@Aekal, You can assign me to this.

[2018-02-08 10:24] Aekal commented on #640
Sure, I suggest to do this after merging my changes in #637 to prevent merge conflicts (I've refactored
 templates/styles code).

Additionally, it'll be nice to remove `#my_account` and `#checkout` styles in `pages/Checkout.vue` and `pages/MyAccount.vue` and change styles scope there to `<style lang="scss" scoped>`. We have duplicated styles for inputs because of this.

[2018-02-08 10:32] Aekal commented on #640
@pkarw Could you assign PanMisza to this issue? I don't see him on the list.

[2018-02-08 10:34] filrak commented on #640
@Aekal It's merged now ;)

[2018-02-08 10:34] filrak commented on #634
@Aekal can i close the issue?

[2018-02-08 10:37] filrak commented on #640
@PanMisza it would be also wise to make validation errors a component (i've started it long ago, there is a `validationError.vue` file). Instead of adding multiple div's (or other actions) for different validation errors we can do it in one components and just pass the error messages here.

[2018-02-08 11:09] Aekal commented on #640
Maybe we could even mix `FormInput` and `ValidationError` components to one? Then just pass validation as optional prop to `FormInput` component? It may be too complicated but it'll be nice to try.

[2018-02-08 11:49] Aekal commented on #634
Yes, we can close it

[2018-02-08 11:49] #634 closed

[2018-02-09 00:38] roboto-cloud opened #644 "No products found! after node --harmony cli.js fullreindex"
Hi, someone know why don't get the products?
the categories was success synced...

thanks in advance,

[2018-02-09 07:33] pkarw commented on #644
I belive we have to update the fullreindex (good topic for the PR) to do the following sequence of commands (the order is important):

[code]

after this sequence you can just run

[code]

to update the products. The key thing here is to synchronize categories and THEN `productcategories` links, before synchronizing the products because `productcategories` populates the REDIS cache setting up prop

[2018-02-09 07:45] filrak commented on #640
@Aekal very good idea!
 @PanMisza will you take care of it?

[2018-02-09 10:38] roboto-cloud commented on #644
if I use the sequence:

[code]

[2018-02-09 10:39] pkarw commented on #644
sorry, it should have been:

[code]

[2018-02-09 10:41] roboto-cloud commented on #644
you need fix this error typo on:
https://medium.com/@piotrkarwatka/vue-storefront-how-to-install-and-integrate-with-magento2-227767dd65b2

:)

[2018-02-09 10:41] pkarw commented on #644
Yes, I've just fixed it - thanks :)

[2018-02-09 11:01] pkarw commented on #525
@karolbzik will you handle this?

[2018-02-09 11:08] PanMisza commented on #640
@filrak
Yes, at the beginning of next week :)

[2018-02-09 13:36] filrak commented on #640
@PanMisza great, thanks ;)

[2018-02-09 16:17] roboto-cloud commented on #644
hi @pkarw, apologize for reopen this issue but I don't get product into vue-storefront...
here some captures and the step by step what I'm following:
__________
![00_prod](https://user-images.githubusercontent.com/32390825/36037375-e2f4ba64-0dbc-11e8-8a01-006e0f2295aa.png)
__________
![01_prod](https://user-images.githubusercontent.com/32390825/36037382-e719a79e-0dbc-11e8-99be-946509a54712.png)
__

[2018-02-09 16:23] Aekal commented on #591
@karolbzik
Do we need this banner only on mobile or also on desktop?

![zrzut ekranu 2018-02-09 o 17 17 02](https://user-images.githubusercontent.com/7126345/36037613-9102f1e8-0dbd-11e8-8239-0acd40d3270c.png)

[2018-02-09 16:46] Aekal commented on #587
It's not that simple, because col-xs is placed outside the component.
`ProductTile` is in `ProductListing` which is used in few places, so I think we shouldn't edit class there.
I can just make every 3rd product in `ProductListing` wider on mobile but is it expected behavior? Or only products with 'Sale' label should be wider?

[2018-02-09 21:07] pkarw commented on #644
Oh, we need to check how the elastic search index looks like.
Could you please execute ‘rm var/catalog.json && npm run dump’ within vue-storefront-api and then send me the var/catalog.json to let me check this for you?

[2018-02-10 01:04] roboto-cloud commented on #644
yes, here:
:)
[code]

[2018-02-11 11:37] pkarw commented on #644
OK, it seems like you have no products in the dump ("_type": "product" -> no records with this type)

Please try exectue:
[code]

and let me know about the output

[2018-02-11 11:45] #11 closed

[2018-02-11 11:45] pkarw commented on #639
@Aekal will you take care of this before 21st?

[2018-02-11 11:47] pkarw commented on #640
@PanMisza please do accept the github invitation to allow me to assign the task to you please :)

[2018-02-11 11:49] pkarw commented on #609
@filrak how does the status look like here?

[2018-02-11 12:03] pkarw opened #647 "Add product reviews sync to mage2nosql"

[2018-02-11 12:03] pkarw opened #648 "New feature "Product reviews" on Product card in the Default theme"
@karolbzik we need a design here

[2018-02-11 12:20] pkarw opened #649 "Synchronize linked upsell and crossell products"
http://devdocs.magento.com/swagger/#!/catalogProductLinkManagementV1

[2018-02-11 17:45] qiqqq commented on #606
@filrak I analyzed this task and I have other solution to do this:

In server.js we can add additional middleware which overwrite default src/assets/ like this:

[code]
We will have some global assets like logo, placeholder, etc. and theme-specific assets which will have priority to serve. Paths to assets remain unchanged and will be logic and simple to use in themes.

What you think about this so

[2018-02-12 10:45] HRR1337 opened #651 "Firefox issues first view demo vuestorefront"
Hi there,

Found some bugs regarding vuestorefront DEMO on Firefox.

On Categorypage:

- Open the demo and login
- Go to an category
- Click on a product.

Notice that the product wont open.

On page with the minicart open

- Click on minicart
- Try to close the minicart

Notice that the minicart wont close.

-- Hitting Refresh on firefox fixes these issues.

Thanks,

HR

[2018-02-12 10:52] pkarw commented on #644
@roboto-cloud any news? :)

[2018-02-12 12:52] JamesToothill commented on #644
@pkarw I had exactly the same issue and:

`node cli.js products --partitions=1`

Fixed it for me thanks

[2018-02-12 13:08] #587 closed

[2018-02-13 06:01] pkarw opened #654 "Home Page slider CTA is not linked"
We need to Just fix the button links on slider
![207cdd69-6770-4429-bf16-46f9ee8991e0](https://user-images.githubusercontent.com/211899/36135485-b936c268-108b-11e8-8bd0-a67c246a4e18.png)

[2018-02-13 08:58] filrak opened #655 "[vue catalog] add loading icon on images (catalog view, homepage, product page)"
It should work like in default theme

[2018-02-13 10:08] Aekal commented on #639
I think so, but I'm still looking for a good idea with color naming convention

[2018-02-14 09:10] filrak opened #659 "Documentation on how to write extensions"
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/extensions/Working%20with%20extensions.md

The file should contain a basic overwiew of vue storefront extensions system and a quick tutorial how to write an extension.

[2018-02-14 09:14] filrak opened #660 "Split Vuex Stores to actions/mutations/getters/helpers files"
Each module of our Vuex Store should be a separate folder containing `index.js` as a main export file and state + `actions.js`, `mutations.js`, `getters.js`. `helpers.js` (if needed). It will make reasoning about Vuex states easier and allow further refactoring of Stores

[2018-02-14 09:31] filrak opened #661 "Create theme/core mixins/filters in the same way as plugins + write docs"
In docs you shouldplace basic overwiew of how to use mixins/filters, how to write and register one and list of current mixins/filters

https://github.com/DivanteLtd/vue-storefront/blob/master/doc/filters/Working%20with%20filters.md
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/mixins/Working%20with%20mixins.md

[2018-02-14 09:35] filrak opened #662 "[theme-starter] Change text in Home.vue to one that supports vue-i18n"
We need to show people using starter how to work with strings with a live example ;)

[2018-02-14 09:36] #607 closed

[2018-02-14 09:38] filrak commented on #606
@qiqqq sounds good, go on with it ;)

And instagram feed and slides should be theme-specific for default theme

[2018-02-14 13:59] #651 closed

[2018-02-15 00:01] adaudenthun commented on #654
Hi,

I'm new and i think is a good issue to start ! :)
Can you tell me where this link normally send us ?

Thanks

[2018-02-15 04:55] pkarw commented on #654
Cool! You can choose it :) maybe just some category?

[2018-02-15 05:37] filrak commented on #644
@pkarw can you ads this to common issues docs?

[2018-02-15 08:30] thomasthune opened #665 "Shipping method - Droppoints"
Hi!

I'm working on making support for shipping droppoints(parcelshops). It's quite a big thing here in Denmark, so it's something that all projects we will be working on will be using.

So first things first, is this something that would make sense to "bake-in" to vue-storefront or should it be implemented more in a plugin/per use basis.

[2018-02-15 08:34] pkarw commented on #665
Wow, cool stuff. We’ve decided some time ago to put all integrations and this kind of specific features into extensions. Take a look at mailchimp integration. Looking forward for this PR!

[2018-02-15 09:19] qiqqq opened #666 "Make resources theme-specific"
This task is related with [#606](https://github.com/DivanteLtd/vue-storefront/issues/606) where we created theme-specific assets. Now we should do the same with /src/resources/

This task required also changes in some components and modules uses some global resources:

- src/components/core/blocks/MainSlider/MainSlider.vue
- /src/store/modules/social-tiles.js
- /src/themes/default/components/theme

[2018-02-15 09:29] Aekal commented on #627
We still need translations for all inputs with validation and checkboxes with label.
@PanMisza could you apply these translations in #640 ?

[2018-02-15 09:34] Aekal opened #667 "Add input for product qty in product page"
We should be able to specify quantity of products added to cart.
At the moment we can add only 1 product by clicking on `Add to cart` button.
We have a design for qty in bundle products, so maybe we can implement this also in product page?

![image](https://user-images.githubusercontent.com/7126345/36249667-ad6ba8de-123b-11e8-80ea-507681f3ab0c.png)

[2018-02-15 09:37] Aekal opened #668 "Change size of microcart qty label for 100+ products"
Big numbers don't fit in label container
![image](https://user-images.githubusercontent.com/7126345/36249805-2c86bc08-123c-11e8-8de7-8a7ef399170c.png)

[2018-02-15 09:42] Aekal opened #669 "Reset filters after category change"
When we select a color/size/price filter in one category and then go to another category filters are still selected. We should reset them on category change.

The opposite wrong behavior appears when on mobile we open a window with filters, select some, close window and open again. Filters selected before disappear.

[2018-02-15 09:47] Aekal opened #670 "Change ButtonFull and ButtonOutline template"
It'll be better to change exisiting `div` tags to `button` for better semantics and accessibility.
Also, instead of using text props we can use [slots](https://vuejs.org/v2/guide/components.html#Single-Slot).

[2018-02-15 09:53] Aekal opened #671 "Add 'Sort by' feature"
In design of category page we have 'Sort by …' select.
![image](https://user-images.githubusercontent.com/7126345/36250438-15f95796-123e-11e8-8739-845cbb852a20.png)
We should create this select with logic and add options like:
- Price: low to high
- Price: high to low
- Newest
- *Popularity
- *On sale: show first

[2018-02-15 10:08] Aekal opened #672 "Sidebar menu adjustments"
- Extend clickable area of 'My account' link to full width when user is not logged in
<img width="373" alt="zrzut ekranu 2018-02-15 o 10 58 12" src="https://user-images.githubusercontent.com/7126345/36251054-141d2ec8-1240-11e8-914c-c07c4b572f46.png">
- Change arrow tag from `span` to `button` and extend clickable area (50% for link and 50% for arrow will be good)
<img width="532" alt="zrzut ekranu

[2018-02-15 18:44] adaudenthun commented on #654
OK , you can assign me this ticket ?

Thanks ! :)

[2018-02-15 19:30] #668 closed

[2018-02-15 22:26] pkarw commented on #654
Please accept the github invitation I’ve just send you to allow me adding you to the project thanks!

[2018-02-15 22:39] adaudenthun commented on #654
it's ok for me

[2018-02-15 22:43] pkarw commented on #666
@qiqqq will you take care of this one?

[2018-02-16 08:00] qiqqq opened #677 "Create store locator extenstion"
To do is create extenstion to VS which allow to add store locator with google map and ability to filter local stores.

[2018-02-16 16:16] filrak opened #678 "[VERY IMPORTANT] make VS core a NPM package"
We are planning to release v 1.0 in April. To do it we want to be sure that application is easly upgradable even after implementations. We want it to eventually be a npm package which is easly upgradable but to do it we first need to have one source for our core and other for the rest of the application. This task is hard and requires some changes but at the and of the day it will allow us to have

[2018-02-16 17:09] qiqqq commented on #666
@pkarw Yes, I can try

[2018-02-16 17:10] #606 closed

[2018-02-16 19:27] #662 closed

[2018-02-17 01:22] adaudenthun commented on #654
#680

[2018-02-17 10:16] adaudenthun commented on #654
Cool :)

[2018-02-17 10:16] #654 closed

[2018-02-17 10:27] #60 closed

[2018-02-17 10:27] #129 closed

[2018-02-17 10:28] #614 closed

[2018-02-17 13:14] thomasthune commented on #665
#681

[2018-02-17 15:35] pkarw opened #683 "Move the filter logic from ColorButton, SizeButton, ThemeButton: from theme to core"
We do need just move the methods to the core components to avoid duplication on creating users themes

[2018-02-17 15:53] #669 closed

[2018-02-17 17:23] filrak opened #685 "Move scripts to separate folder"
- [ ] Create an webpack alias 'scripts' and change all pathes pointing to them to use alias
- [ ] Move scripts to `core/scripts` folder (all.js, installer.js, server.js, fixconfigs.js)
- [ ] Make changes in package.json to adjust script pathes
- [ ] Make sure all scripts still works properly (especially installer)
- [ ] Make sure pathes in above scripts and in the project are still viable after ch

[2018-02-18 16:44] pkarw opened #687 "Add docs for vuex stores"
We need a basic docs for vuex stores API - which is the core data api for Vue Storefront:
- [x] cart.js
- [x] product.js
- [x] category.js
- [x] checkout.js
- [x] meta.js
- [x] order.js
- [x] stock.js
- [x] sync.js
- [x] user.js
- [x] attribute.js

[2018-02-18 18:57] #503 closed

[2018-02-19 07:49] pkarw opened #690 "Add discount codes support within the Checkout"
GET /V1/carts/{cartId}/coupons
GET /V1/carts/{cartId}/coupons
PUT /V1/carts/{cartId}/coupons/{couponCode}
DELETE /V1/carts/mine/coupons

The option should be available only when `config.cart.synchronize_totals` is turned `true`

[2018-02-19 07:54] pkarw opened #691 "Add shipping / payment options (and costs) sync with Magento on the checkout"
The options could be synced to local storage OR to ElasticSearch (probably better option is to use local storage)

In this case we need to add `vue-storefront-api` proxy for
`GET /V1/guest-carts/{cartId}/shipping-methods`
`GET /V1/carts/{cartId}/shipping-methods`
`GET /V1/carts/mine/shipping-methods`

please take a look at:
- https://github.com/DivanteLtd/vue-storefront-api/blob/bb9b1ff039991c8beb

[2018-02-19 07:55] pkarw commented on #690
Related to #691

[2018-02-19 08:13] filrak opened #692 "Create documentation on Vuex Stores"
* First fill this document with general approach to our data handling https://github.com/DivanteLtd/vue-storefront/blob/master/doc/data/Working%20with%20Vuex.md
* Make separate docs for each Vuex Store like in this example https://github.com/DivanteLtd/vue-storefront/blob/master/doc/data/Product%20Store.md

[2018-02-19 11:40] pkarw commented on #692
OK, it's duplicate of #687 I'll take care of it

[2018-02-19 11:48] #692 closed

[2018-02-19 11:49] filrak commented on #687
I'm adding content from duplicated issue:
*First fill this document with general approach to our data handling https://github.com/DivanteLtd/vue-storefront/blob/master/doc/data/Working%20with%20Vuex.md
*Make separate docs for each Vuex Store like in this example https://github.com/DivanteLtd/vue-storefront/blob/master/doc/data/Product%20Store.md

[2018-02-19 12:01] #683 closed

[2018-02-19 15:02] pkarw commented on #591
we should have it on both mobile and desktop @Aekal could you take care of this one?

[2018-02-19 15:03] pkarw commented on #608
@mercs600 will you handle this before 1st of March?

[2018-02-19 15:05] pkarw commented on #639
@Aekal we do have release on 1st march. Will you handle this one before the date?

[2018-02-19 15:05] pkarw commented on #660
@szafran89 we do have release planned for 1st March and I belive we should have this one finished for 1.0RC; is it possible for you?

[2018-02-19 15:06] pkarw commented on #640
@PanMisza we do have release on 1st March; could you handle it before?

[2018-02-19 15:17] pkarw opened #693 "[i18n] Create the Spanish translation"
Working with translations is pretty easy with Vue Storefront, take a look at: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/i18n/Working%20with%20translations.md for reference

[2018-02-19 15:18] pkarw opened #694 "[i18n] Create German translation"
Working with translations is pretty easy with Vue Storefront, take a look at: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/i18n/Working%20with%20translations.md for reference

[2018-02-19 15:18] pkarw opened #695 "[i18n] Create Polish translation"
Working with translations is pretty easy with Vue Storefront, take a look at: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/i18n/Working%20with%20translations.md for reference

[2018-02-19 15:19] pkarw opened #696 "[i18n] Create French tranlsation"
Working with translations is pretty easy with Vue Storefront, take a look at: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/i18n/Working%20with%20translations.md for reference

[2018-02-19 17:43] #670 closed

[2018-02-19 19:57] szafran89 commented on #660
@pkarw I'll do it for sure.

[2018-02-19 20:57] PanMisza commented on #640
@pkarw
Sorry for delay... I'm currently changing my flat and have no time for this.
I can finish this task this weekend.

[2018-02-19 21:19] mercs600 commented on #608
@pkarw yes, I'm working on it

[2018-02-20 14:20] pkarw opened #697 "Contentful / Headless CMS integration"
Would be great to have Contentful.com integration as the CMS is one of the key parts of Fashion eCommerce

I see it as a general components/widgets that can be easily themable to get specific Contentful documents and colections

For reference: https://www.contentful.com/developers/docs/javascript/tutorials/integrate-contentful-with-vue-and-nuxt/

[code]

We can try to move some statics to Contenfu

[2018-02-20 15:29] pkarw commented on #455
We need separate ES indexes and additional query parameters for dynamic requests for this

[2018-02-20 15:40] Aekal commented on #591
Done :)

[2018-02-20 15:40] #591 closed

[2018-02-20 16:04] pkarw opened #699 "Add support for virtual products"
I mean very simple support: if you've got only virtual products in the cart, no shipping address should be required for the checkout. Is meant for orders of digital media/gift cards etc

[2018-02-20 16:49] mercs600 commented on #639
@Aekal 100% agree with you, please look on my previous post #126 . I can take care of it

[2018-02-20 18:04] Aekal commented on #639
@mercs600 Great! So please take care of it, I'm assigning to you

[2018-02-20 18:15] pkarw commented on #666
@qiqqq what do you think: when should we have this one done?

[2018-02-20 18:22] #22 closed

[2018-02-20 18:22] #23 closed

[2018-02-20 18:22] #33 closed

[2018-02-20 18:22] #74 closed

[2018-02-20 18:23] #21 closed

[2018-02-20 18:23] #27 closed

[2018-02-20 18:23] #30 closed

[2018-02-21 09:26] filrak opened #703 "Prepare NPM package (move core to core/ folder)"
We are planning to release v 1.0 in April. To do it we want to be sure that application is easly upgradable even after implementations. We want it to eventually be a npm package which is easly upgradable but to do it we first need to have one source for our core and other for the rest of the application. This task is hard and requires some changes but at the and of the day it will allow us to have

[2018-02-21 09:52] filrak opened #705 "Make separate package.json and gitignore files for themes"
Now we have one big package.json file, we should split the dependencys to core and theme-specific.

- [x] Move default theme dependencys to `themes/default/package.json`
- [x] Move catalog theme dependencys to `themes/catalog/package.json`
- [x] Add `.gitignore` for both themes with `node_modules`

[2018-02-21 11:43] filrak opened #707 "Make posibility to extend webpack build in themes"
There should be posibility to extend the webpack build (at least `webpack.base` for now) from themes since core build will be untouchable.

I recommend using this for merging
https://github.com/survivejs/webpack-merge

We should have posibility to add `webpack.extend.js` file in `theme/themename/` which will be merged with current build.

- [ ] Add posibility to merge `webpack.extend.js`  with `we

[2018-02-21 11:52] pkarw commented on #707
This is very important, agree.

[2018-02-21 12:31] marlass commented on #707
I can take on that one.

[2018-02-21 12:32] pkarw opened #708 "Add integration with Magento Product alerts (to allow guest/logged in users to signup for the alert)"

[2018-02-21 12:35] pkarw opened #709 "Add Magento wishlist integration"
https://github.com/mediamanDE/magento-module-wishlist-api

[2018-02-21 14:00] matibenav opened #710 "Make Core Configurable Attribute Component"
Since some attributes have their own behavior and state, it would be advisable to make them a component for Product Page and Category Filters.

It should dispatch the configuration of the product changing the _selectedVariant_ and marking itself as selected. In case of Category Filters, changing the selected filter.

[2018-02-21 14:28] #659 closed

[2018-02-21 14:29] pkarw commented on #685
@qiqqq we have time for this til l1st March; is it doable?

[2018-02-21 14:29] pkarw commented on #685
please test the installer and other scripts at least twice 👯‍♂️

[2018-02-21 16:57] qiqqq commented on #685
@pkarw Yes, I want to do this within a few days

[2018-02-21 16:59] qiqqq commented on #666
@pkarw I want to do [#685](https://github.com/DivanteLtd/vue-storefront/issues/685) first and this next within a few days

[2018-02-21 17:58] filrak opened #713 "Improve theme-starter theme"
Add some basic pages without styling and HTML Markup
- [x] Category Page
- [x] Product Page

[2018-02-21 20:14] #608 closed

[2018-02-21 20:16] pkarw commented on #609
What’s needed more to close this issue @filrak?

[2018-02-22 08:05] filrak opened #715 "Change Category Page to new proposal"
- [x] Change the Category Page component according to https://github.com/DivanteLtd/vue-storefront/blob/master/doc/new-core-proposal/CategoryPage.md
- [x] Make changes in default and catalog theme so they work with new core page
- [x] Remove Core Category from temporary docs
- [x] Fill the official docs for Category Page https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/core/

[2018-02-22 09:18] filrak opened #719 "[docs] Update 'Working With data'"
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Working%20with%20data.md

The file is a little bit outdated. Now we have much  more items in indexedDB (for each store)

[2018-02-22 09:48] filrak opened #720 "Make extensions a separate npm packages"
Requires https://github.com/DivanteLtd/vue-storefront/issues/705

[2018-02-22 10:45] filrak opened #724 "Make index.html <head> content theme specific"
I recommend using https://github.com/declandewet/vue-meta since it supports SSR
- [x] Remove current meta behavior
- [x] Move theme specific head tags from `index.template.html` to `{theme}/resource/head.js'
- [x] Inject the tags in App.vue

[2018-02-22 13:05] filrak opened #727 "Test production build with new folder structure"
I moved build to `/core`. Everything should work fine but we need to test production build, anyone willing to do it?

[2018-02-22 15:41] qiqqq opened #728 "Add prompt (question) to installer.js to allow user overwrite local.json file if exist"
When /config/local.json file exist and someone run installer.js, then installer breaks with info:

`ERROR
Can't create backend config.
Please check log file for details: .../vue-storefront/var/log/install.log`

but there is no information in the install.log file. This can be confusing for new users so maybe shoud we ask user if he wants to overwrite the file or add some info to logs?

I know that

[2018-02-22 15:57] pkarw commented on #728
Sure, go for it @qiqqq !

[2018-02-22 15:59] qiqqq commented on #728
I need to analyze it because there is probably another reason for the error than not overwriting the file. I will check it.

[2018-02-23 01:13] roboto-cloud commented on #644
@pkarw I use

`node cli.js products --partitions=1`

and it partial fix my issue, I get the product info but not the image...

![screenshot from 2018-02-23 02-10-50](https://user-images.githubusercontent.com/32390825/36573031-17a42196-183f-11e8-89a9-cd64ae3b5c4b.png)

[2018-02-23 03:55] pkarw commented on #644
You should configure the Magento Image URL within the vue-storefront-api config
But, this is strange. We are using “image” medium (also there are small_inage and thumbnail available by default) for lists by default maybe it’s not asssines in Magento?

[2018-02-23 07:28] filrak opened #729 "Add separata package.json files for extensions / install script"
- [x] Add extension-specific dependencys to extensions files
- [x] Add extension install script registering it in config

[2018-02-23 07:42] filrak opened #730 "Make Service Worker extendable in themes"
Now we have file called `service-worker-ext.js` - it should be placed in theme root and compiled along with main sw file .

- [x] Remove current `service-worker-ext.js` from thtmes root.
- [x] Place `service-worker-ext.js` in `theme/{themename}/` for each theme
- [x] Change pathes in webpack config according to changes
- [x] Test if it works (you can attach some console log for install event)

[2018-02-23 07:58] filrak opened #731 "Check our package.json and remove unused dependencys"
For most cases its just searching for imports in a project. We have A LOT of packages that we are not using and now npm install command takes ages

[2018-02-23 10:05] filrak opened #734 "Make favicon theme-specific and served from <head>"
blocker: https://github.com/DivanteLtd/vue-storefront/issues/724

Favicons should be more flexible and extendable. Now the serving process (from `server.js`) looks just like this:
[code]
It should be server in a more standard way from <head> tags.

- [x] Remove current favicon service from `server.js` and remove the npm package
- [x] Add current favicon to head tags on themes (default, catalog, th

[2018-02-23 10:18] #703 closed

[2018-02-23 10:20] filrak commented on #609
It's done. @akbarik awesome job!

[2018-02-23 10:20] #609 closed

[2018-02-23 10:23] filrak commented on #728
Can we move it to 1.1 milestone? It's a great UX feature and we definietely need to add this but for now we need to prepare for release.

[2018-02-23 10:41] filrak opened #736 "Merge core/api and core/lib folders"
They group the same type of content, we can place `/api` folder inside `/lib`

[2018-02-23 10:49] filrak opened #737 "Make themes a separate npm packages"
After installation the theme will be copied to `themes` folder so people can work with it

Blockers:
https://github.com/DivanteLtd/vue-storefront/issues/730
https://github.com/DivanteLtd/vue-storefront/issues/707
https://github.com/DivanteLtd/vue-storefront/issues/705

[2018-02-23 10:51] filrak commented on #665
@thomasthune it's assigned to Milestone 1.0RC - will you do it before 1st of March or should we move it to next milestone?

[2018-02-23 11:02] thomasthune commented on #665
Yes, i don't think that should be a problem, hopefully i can wrap it up during the weekend.

[2018-02-23 11:32] filrak commented on #707
@marlass if you want to do more you can make posibility to extend all builds (make `build-extend` folder in  themes and add 3 webpack files named the same as build)

[2018-02-23 11:41] filrak commented on #665
Thanks ;)

[2018-02-23 12:17] anqaka opened #740 "[catalog] theme not displaying - wrong mixins path"
In two files (`src/themes/catalog/components/theme/Search.vue`, `src/themes/catalog/components/core/blocks/Wishlist/Product.vue`)
there is a wrong mixin's path:
`mixins: [coreComponent('core/blocks/...')]`
webpack cannot find a module and front doesn't display

[2018-02-23 12:42] filrak commented on #740
Feel free to assign yourself to issues you're willing to do ;)

[2018-02-23 12:42] #740 closed

[2018-02-23 13:45] pkarw commented on #715
@akbarik how about this one Akbar?

[2018-02-23 14:07] filrak commented on #639
@mercs600 will you handle it till 1st of march or you want this task to be moved to the next milestone?

[2018-02-23 14:20] pkarw commented on #730
OK, I'll take this one

[2018-02-23 14:36] #730 closed

[2018-02-23 14:39] pkarw commented on #728
This is in fact probably as easy as it looks like - I mean, the reason is that `jsonFile.write()` throws an exception when the file exists. So in case user select to overwrite the file we should just remove it just before writing the new one

[2018-02-23 14:40] pkarw commented on #685
@qiqqq please test the installer after moving it - for sure you should change the default path were `vue-storefront-api` is installed (to move it one '../' level up) https://github.com/DivanteLtd/vue-storefront/blob/646f41349244becf1fce5991b7ddb5be6f9dcb4e/installer.js#L575

The same with other paths (config files etc)

[2018-02-23 18:03] qiqqq commented on #685
@pkarw Changes in installer.js are unnecessary. There are only shell scripts invoked by [shelljs](https://www.npmjs.com/package/shelljs) and this package invoke scripts always form root directory. I tested it and additionaly I checked shell.exec('pwd') returns root directory (location of installer.js file does not matter)

Here is pull request -> https://github.com/DivanteLtd/vue-storefront/pull/7

[2018-02-23 19:04] #685 closed

[2018-02-23 19:58] #736 closed

[2018-02-23 21:37] pkarw commented on #727
I've tested it - seems like it's working fine. npm run build && npm start

[2018-02-23 21:40] #727 closed

[2018-02-23 21:47] pkarw commented on #715
Would be good to complete this one to 1.0RC because it's a major structural change. Please be VERY VERY careful :)

[2018-02-23 21:49] #731 closed

[2018-02-24 13:18] mercs600 commented on #639
I'm working on it, it will done in this release

[2018-02-24 14:42] qiqqq commented on #705
@filrak @pkarw I can do this task

[2018-02-24 15:36] pkarw commented on #705
Great!

[2018-02-24 15:43] mercs600 commented on #639
@Aekal @filrak What do you think about :hover support handling by css class ? Do we need this ?
I noticed that @karolbzik mark on sigma some primary colors:
![zrzut ekranu 2018-02-24 o 16 41 20](https://user-images.githubusercontent.com/7935392/36632057-9287c226-1981-11e8-9ca3-0f94b2f4ee44.png)

You can see there is 2 values for primary color. So I think this is hover variant.

[2018-02-24 17:11] mercs600 commented on #639
You can see what I mean on this draft:
https://github.com/mercs600/vue-storefront/blob/99f48340d5e94a3146da2d9e7e7e9c39175d960a/src/themes/default/css/variables/_colors.scss

1. I set list with real name colors
2. Next we have maps with main project colors. These are colors which @karolbzik prepared on Sigma - UI guide. On these maps you can set simple color value or some additional variants like

[2018-02-25 07:59] filrak commented on #639
For me it looks very good but not so staightforwart So it requires docs :)

[2018-02-25 07:59] filrak commented on #639
@aekal wdyt?

[2018-02-25 08:09] filrak opened #749 "Standarizing Core Pages API"
Bedore 1.0RC I want to prepare new API proposals for core pages + most important Core component with @akbarik

- [x] Home
- [x] Category
- [ ] Product
- [ ] Compare
- [ ] Search
- [ ] Product Tile component

The implementation task will be created after 1.0RC
You can find new proposals here: https://github.com/DivanteLtd/vue-storefront/tree/master/doc/new-core-proposal

[2018-02-25 08:43] filrak opened #750 "Change Home Page to new proposal"
- [x] Change the Home Page component according tohttps://github.com/DivanteLtd/vue-storefront/blob/master/doc/new-core-proposal/HomePage.md
- [x] Make changes in default and catalog theme so they work with new core page
- [x] Remove Core Home from temporary docs
- [x] Fill the official docs for Home Page https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/core/HomePage.md

[2018-02-25 08:50] filrak commented on #750
@akbarik can you look at the proposal, write down your ideas and then assign this issue to yourself?

[2018-02-25 09:03] pkarw commented on #639
I think this is good idea. Please proceed @mercs600 and close it before 1st :)

[2018-02-25 10:29] filrak commented on #640
@PanMisza Great ;)

[2018-02-25 13:25] qiqqq commented on #666
@filrak @pkarw I analyzed this task and my solution for this is to move some resourses (ig_feed.json, slides.json and promoted_offers.json) to theme's resources. The problem is that this resources are imported in core components and stores, so we must change imports in global files to for example "theme/resource/ig_feed.json" and this will be cause webpack error if someone will be want to use core

[2018-02-25 13:35] pkarw commented on #666
Thanks for digging into this. First solution is much better in my opinion.

BUT

Why not to make the paths to resources theme dependent?
I mean - to move the resource path to the component property to be set within specific theme?

<slider resource=“theme/slides.json” />

?

So it’s a variant of your first solution. We can keep the default paths as property defaults

[2018-02-25 13:39] pkarw opened #752 "Add docs on how to use and query the Elastic DataStore"

[2018-02-25 13:41] pkarw opened #753 "Publish the npm package"
As the core is now separated we just need to:
- [ ] create a build / boilerplate copy script
- [ ] run npm installer script in post install step
- [x] create npm account and publish the package

Then to consider if we need to:
- add interactive setup to check if user need to create boilerplate (99% cases) and if to run the installer
- add theme selector to the installer script

[2018-02-25 15:44] nsuberi opened #754 "Copy address data from shipping - box doesn't select"
https://demo.vuestorefront.io/checkout

On step 3 when I try to click the box to "copy address data from shipping" it checks and then automatically unchecks without copying over the information.

~ Nathan

[2018-02-25 15:45] nsuberi commented on #754
Same type of behavior happens when trying to click "I want to generate an invoice for the company"

[2018-02-25 15:53] pkarw commented on #754
Thanks! Please advise us on which device this behavior occurs? You’ve tested it on demo or on the latest version from the Github? You’re making the order as a guest or logged in user?

I’ve tested it as guest on iPhone and seems to work just fine

![537c428f-2416-4e69-9c8d-40d68c6062c2](https://user-images.githubusercontent.com/211899/36643492-685921cc-1a4c-11e8-8192-e4a93e418b1a.png)
![04ff5d76-b

[2018-02-25 17:08] nsuberi commented on #754
Hi P,

I tested from the demo site on Safari as a guest.

I'm following along w/ your progress through watching the GitHub and am excited for y'alls launch March 1. I hope to be one of your beta testers! My parents run a mom-and-pop shoe and jewelry shop in Annapolis, MD, and I am going to try to integrate your front-end with Magento to create an e-commerce site with them.

~ Nathan

[2018-02-26 08:11] #705 closed

[2018-02-26 08:12] #665 closed

[2018-02-26 09:24] filrak commented on #666
@pkarw @qiqqq I think this component shouldn't be  external json-dependent at all and have the data inside of it. Core component should only be responsible for taking the data as props

[2018-02-26 12:02] filrak commented on #666
Tbh i think this feed should be an extension

[2018-02-26 15:58] pkarw commented on #754
Yeah, that sounds great! The issue: t's strange, it's working for me just fine on iOS Safari :( @akbarik when you'll finish 1.0RC tasks you can take a look at it :)

[2018-02-26 16:11] pkarw commented on #104
Related to #715 and https://github.com/DivanteLtd/vue-storefront/blob/master/doc/new-core-proposal/CategoryPage.md

[2018-02-26 16:47] #715 closed

[2018-02-26 17:10] #750 closed

[2018-02-26 17:29] pkarw opened #758 "Change Product Page to new proposal"
- [x] Change the Product Page component according to new proposal
- [x] Make changes in default and catalog theme so they work with new core page
- [x] Remove Core Home from temporary docs
- [x] Fill the official docs for Home Page https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/core/ProductPage.md

[2018-02-26 17:29] #758 closed

[2018-02-26 19:45] pkarw opened #761 "Create docs on how to setup order_2_magento.js"
This is the missing part of Magento2 tutorial published on Medium

[2018-02-26 19:45] pkarw opened #762 "Create the docs on how to setup dynamic prices and totals sync with Magento2"

[2018-02-26 19:46] pkarw commented on #749
Product Page done!

[2018-02-26 19:52] pkarw commented on #661
@szafran89 is the 1st March realistic? :)

[2018-02-26 19:52] pkarw commented on #660
@szafran89 is the 1st March realistic? :)

[2018-02-26 19:54] pkarw commented on #640
@PanMisza how the progress looks like for this one ?:)

[2018-02-26 23:06] szafran89 commented on #660
@pkarw done ;)

[2018-02-27 08:56] filrak opened #764 "Integrate Algolia search instead of current Search Component"
https://community.algolia.com/vue-instantsearch/getting-started/getting-started.html it comes with Vue components out of the box so it shouldnt take much time

- [ ] Remove current search component
- [ ] Add Algolia search as an extension ( [here](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/extensions/Working%20with%20extensions.md) are the instructions how to do it)
- [ ] repalce

[2018-02-27 09:35] pkarw opened #765 "vue-carousel generates an console error"
<img width="442" alt="zrzut ekranu 2018-02-27 10 34 57" src="https://user-images.githubusercontent.com/211899/36721003-f6325f46-1ba9-11e8-8d32-8199ec52f36a.png">
It does happen when switching from Home Page to any other

[2018-02-27 09:36] pkarw commented on #765
Can we just remove the slider on HP as we did on product page?

[2018-02-27 10:25] filrak commented on #660
@szafran89 gr8 ;)

[2018-02-27 10:25] #660 closed

[2018-02-28 05:35] #661 closed

[2018-02-28 08:02] pkarw commented on #765
https://github.com/SSENSE/vue-carousel/issues/139

[2018-02-28 10:49] pkarw commented on #728
After fixing this issue please add `npm run installer` to the `core/scripts/postinstall.js` which will shorten the installation sequence to just one command :)

[2018-02-28 10:56] pkarw commented on #627
I've just fixed the forms

[2018-02-28 10:56] #627 closed

[2018-02-28 10:57] pkarw commented on #765
Ugly hotfix applied on that and waiting for the final solution from the authors

[2018-02-28 11:50] pkarw opened #772 "Rename events in MyAccount"

[2018-02-28 12:47] EliasKotlyar opened #773 "NodeJS 6.x is not supported"
I tried to install it on the normal NodeJS 6.x Version which is stock on Ubuntu. Unfortunately, it fails with the following error:
[code]

After upgrading to NodeJS 8.0 everyhing is running fine.

Is this intended? According to the requirements, there is no minimum version of NodeJS required:
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Installing%20on%20Linux%20and%20MacOS.md

[2018-02-28 12:50] pkarw commented on #773
This is not an issue, this is intended. We'll add minimum node version to package.json

[2018-02-28 12:51] pkarw commented on #772
We need to have all the "dot" events renamed to "dash" convention :)

[code]

[2018-02-28 13:02] EliasKotlyar opened #774 "Installation fails if not run with "sudo""
If you run the "npm run installer" without sudo, it fails:
[code]

[2018-02-28 13:05] EliasKotlyar commented on #773
Thanks you! I provided a documentation fix.

[2018-02-28 13:05] #773 closed

[2018-02-28 13:30] pkarw opened #776 "Create list of all event across all the components and stores"

[2018-02-28 16:20] EliasKotlyar commented on #694
Hello ,

I have started work on this Feature. Due to the fact that the translation files are provided in only one file and also only in JSON, i decided to refactor them to CSV. I have completed this task, but unfortunately, i struggled integrating a solution which will use all CSV-Files from a directory. It should be possible with this Plugin:
https://www.npmjs.com/package/babel-plugin-wildcard

I

[2018-02-28 16:32] karolbzik commented on #525
<img width="1440" alt="vue storefront - my orders 28 02 2018" src="https://user-images.githubusercontent.com/18116406/36799321-29c566ba-1cad-11e8-8a8b-1cdd05c1936a.png">

The view "My orders" in the project at https://www.figma.com/file/VKyqbHFI55TKIKcQlFLiVpVF/Vue-Storefront-Open-Source.

@akbarik will it be enough to start?

[2018-02-28 17:09] pkarw commented on #694
Ok I think that it’s good enough to just include the selected locale file as you already made it work within the latest PR. We just need to merge in the new translation strings

[2018-02-28 17:27] karolbzik commented on #648
<img width="1440" alt="vue storefront - product card product reviews 28 02 2018" src="https://user-images.githubusercontent.com/18116406/36802360-f966883e-1cb4-11e8-931c-6a7e112f85e1.png">

At https://www.figma.com/file/VKyqbHFI55TKIKcQlFLiVpVF/Vue-Storefront-Open-Source, under the name "Product card + product review".

[2018-02-28 19:29] pkarw commented on #525
Thanks @karolbzik!

[2018-03-01 05:38] akbarik commented on #525
Thanks @karolbzik! I have a question though, what happens if user presses View order and Remake order? Do we have to build a new page for Order? @pkarw, can you also add your comments?

[2018-03-01 06:14] jimhill21 opened #783 "Windows npm install fail on vue-carousel hotfix"
The vue-carousel hotfix will not allow npm install in windows regardless of the cli tried.  If this syntax will stay the same it should detect the env and adjust the syntax.

Don't hate me because I'm on windows :stuck_out_tongue_closed_eyes:

Applying vue-carousel hotfix for https://github.com/SSENSE/vue-carousel/issues/139

'cp' is not recognized as an internal or external command,
operable prog

[2018-03-01 06:51] pkarw commented on #783
Good point :)

Could you please fix it as a first PR?:)

[2018-03-01 07:49] akbarik commented on #754
Hi @nsuberi! Can you also check if that buggy behavior appears on test.vuestorefront.io too?

[2018-03-01 10:44] #639 closed

[2018-03-01 10:45] #666 closed

[2018-03-01 11:59] #772 closed

[2018-03-01 12:05] pkarw opened #785 "Number 2 missed from the checkout step"
Not sure when it has been missed :) the same problem exists on desktop
![d0573abf-0026-4151-a961-7b46a69928b6](https://user-images.githubusercontent.com/211899/36844009-217f654c-1d51-11e8-8454-1edcd1002d94.png)ar

[2018-03-01 13:36] EliasKotlyar commented on #694
Hello @pkarw ,

Thanks your for merging the CSV-Feature. Now i would love to provide the german-translations. I would use the following Saas:
https://crowdin.com

Magento is using it(https://crowdin.com/project/magento-2), and i suppose its a good way to create localisation.

What do you think about it? Its completely free for open source projects.

Greatings
Elias

[2018-03-01 13:38] pkarw commented on #694
Thanks for your effort! I think it's good move with standardized CSV format.

Please go ahead with crowdin

[2018-03-01 14:06] EliasKotlyar commented on #694
Okey, i have linked my repository to the crowdin. Now everyone can contribute to the translation process:
https://crowdin.com/translate/vue-storefront/5/en-de

[2018-03-01 15:02] RIanDeLaCruz commented on #764
Hi! I've seen the project. I haven't really been able to use it in a project of my own. but I'm interested in working on this.

[2018-03-01 16:02] filrak commented on #764
@RIanDeLaCruz great. Feel free to assign yourself :)

[2018-03-01 16:11] thedamianmason commented on #774
This issue has plagued every instance i've tried, the installer just doesn't seem to work using Ubuntu 16.04, Node v8.9.4, Docker v12.17.12.1-ce.

[2018-03-01 17:04] pkarw commented on #774
@akbarik could you test it, as far as I remember you work on Ubuntu?

[2018-03-01 17:08] pkarw commented on #774
The issue above (regarding the output) points to problem with removing /dist/* - because of permissions. By some reason the content of the folder must have been filled on super user permissions (have you built the project even once using audio before)?

It’s not related to installer I belive

@thedamianmason could you explain some more on the installer problems - maybe you could paste some logs?

[2018-03-01 17:31] #785 closed

[2018-03-01 17:39] pkarw commented on #694
Great job @EliasKotlyar thanks!

[2018-03-01 18:47] pkarw commented on #783
OK, @jimhill21 I think it's fixed now: https://github.com/DivanteLtd/vue-storefront/pull/788

Could you retest and if it's fine close this issue?
The hotfix is no longer needed as vue-carousel 0.6.9 solves the original problem that hotfix was prepared for

[2018-03-01 18:47] pkarw commented on #765
Fixed with https://github.com/DivanteLtd/vue-storefront/pull/788

[2018-03-01 18:48] #765 closed

[2018-03-01 19:05] jimhill21 commented on #783
Works great!

[2018-03-01 19:05] #783 closed

[2018-03-01 19:25] jimhill21 opened #790 "vuetify no longer being recognized after 1.0RC"
After the 1.0RC branch my vuetify package is no longer working.  I have been using vuetify globally within my project and it has stopped working.

I tried with my packages in the main package.json as well as moving my packages to the themes folder packages.json

**{{theme}}/plugins/vuetify**
[code]

[2018-03-01 19:43] jimhill21 commented on #790
This issue may be related to webpack changes made prior and am closing until further investigation.

[2018-03-01 21:15] thedamianmason commented on #774
@pkarw @akbarik I gave up on Ubuntu. Debian works like a charm.

[2018-03-01 21:52] jimhill21 commented on #790
I have discovered the root of the issue.  Vuetify works great if it's in the main core/app.js but if I try to run it from the theme plugins it will not get recognized.

[2018-03-02 03:59] RIanDeLaCruz commented on #764
@filrak I think I have to be a contributor to assign myself?

[2018-03-02 07:54] akbarik commented on #754
I could reproduce this bug on Safari. Something's wrong with the button itself. But if you press on a text beside the button, it works. I'll try to fix it shortly.

[2018-03-02 10:05] HRR1337 commented on #764
Algolia search can also be used for the categories (filtering, sorting and search inside categorie) see a demo here: https://magento2.algolia.com/women/tops-women/hoodies-and-sweatshirts-women.html
And here is the magento 2 extension: https://github.com/algolia/algoliasearch-magento-2

Maybe it is possible that we can choose what we want in categories? (default / Algolia)

[2018-03-02 11:08] opiumated commented on #776
Would love to have a go on this task. A description would help clear things up.

[2018-03-02 11:21] pkarw commented on #776
Please go on!

[2018-03-02 12:23] opiumated commented on #776
Can this go into a separate .md file? Or is there a specific place in the codebase you want this list of events?

[2018-03-02 12:32] filrak commented on #790
@marlass please take q look, it could be related to your webpack tweaks

[2018-03-02 12:56] pkarw commented on #776
Separate file is fine. Please put it into /doc folder and link from README.MD

[2018-03-02 17:19] pkarw commented on #776
Would be Great if you could paste some links to the reference $emits of these events by pasting the Github permalinks (click on the left gutter of any source code line on github.com and choose Copy permalink)

It will make this documentation really useful and interactive

[2018-03-02 17:46] jimhill21 commented on #790
@filrak @marlass I actually tried pre 1.0RC and this issue was still happening

[2018-03-02 17:51] pkarw commented on #790
@jimhill21 did it work for you with vuestorefront before? When exactly did it stop to work?

We’ve modified the web pack config two days before release ;-)

[2018-03-02 17:55] pkarw commented on #707
Can we close this on @filrak?

[2018-03-02 17:56] #707 closed

[2018-03-02 18:05] jimhill21 commented on #790
@pkarw I apologize for a bad title on this ticket.  Initially I thought it was due to the RC but I tried checking out older versions and found it has been an issue maybe always.

I think your webpack changes are totally fine as it pertains to this issue.  This seems existing prior to the RC.

[2018-03-02 18:36] filrak commented on #790
Have you tried importing components separately?

[2018-03-02 19:05] pkarw opened #792 "Add Stripe support via Payment request API"
Related to #86
The payment method should be implemented as an extension (https://github.com/DivanteLtd/vue-storefront/blob/3d93b214720a9ae0636f6a94803d918bdf61a419/doc/extensions/Working%20with%20extensions.md)
It seems to be pretty easy on the checkout / front end. But let’s discuss with @pkarw how to integrate the status changes with the backend

[2018-03-02 19:07] pkarw opened #793 "Add PayPal support"
Related to #86 and #792

The payment method should be implemented as an extension (https://github.com/DivanteLtd/vue-storefront/blob/3d93b214720a9ae0636f6a94803d918bdf61a419/doc/extensions/Working%20with%20extensions.md)
It seems to be pretty easy on the checkout / front end. But let’s discuss with @pkarw how to integrate the status changes with the backend

[2018-03-02 19:09] pkarw commented on #644
@roboto-cloud could we just close this issue?

[2018-03-02 19:10] pkarw commented on #729
@qiqqq could you take care of this?

[2018-03-02 19:58] filrak commented on #790
Or please provide a branch with your code so I can see whats going on ;)

[2018-03-02 20:17] filrak commented on #790
Please take a look at core/plugins/index.js. You can find there this function:
[code]

So you should only export used plugin in your `{theme}/plugins/index.js`
Somethign like this:
[code]
The plugins folder is meant to be used for your own plugins, not external.

In case of Vuetify config we would need some extender for app.js. I'll take care of it

[2018-03-02 20:28] filrak commented on #790
Please take look at this branch. I made vuetify working here by creating app-extend.js file )take a look ta vuetify-test template).

I willa dd this functionality to the core

https://github.com/filrak/vue-storefront/tree/vuetify-test

[2018-03-02 20:44] jimhill21 commented on #790
I could always get it to work in the main app.js.  I was trying to use the plugins so I didn't need to modify the core.

If we could add something like the app-extend you did to the core that would be awesome!

[2018-03-02 20:45] filrak commented on #790
@update i added this feature
https://github.com/DivanteLtd/vue-storefront/commit/ffcf7e0775a51f86d6b834d86fa9000c0928ac8c
pull the changes please ;)

[2018-03-02 21:16] jimhill21 commented on #790
awesome!  I will close this as you provided 2 great solutions!

[2018-03-02 21:16] #790 closed

[2018-03-03 00:46] nsuberi commented on #754
Hi all, what are the credentials fro test.vuestorefront.io? They don't seem to be posted on the readme. Congratulations on 1.0RC!

[2018-03-03 03:41] hengsoheak opened #797 "Can't build storefront npm."
I'm using below environment

OS: Ubuntu 16.*
Docker+Node 8.*
try to install Vue-storefront as their introduction in gitHub.
Then I got below error

`ERROR in ./core/app.js
    Module not found: Error: Can't resolve 'theme/app' in '/home/sopheak/Desktop/vue-storefront/core'
     @ ./core/app.js 2:0-28
     @ ./core/client-entry.js
Child
    Hash: b2461c01062d79caea3f
    Time: 2300ms

[2018-03-03 05:28] pkarw commented on #797
Please check if there is the App.vue file within your theme folder:
[code]

[2018-03-03 05:29] pkarw commented on #754
demo/!@#demo :) THanks!

[2018-03-03 06:01] pkarw commented on #694
@EliasKotlyar could you please add other languages to the project (Spanish, French, Polish)?

[2018-03-03 06:38] pkarw commented on #525
@akbarik one change; we need to get the orders from http://devdocs.magento.com/swagger/#!/salesOrderRepositoryV1/salesOrderRepositoryV1GetListGet

via `vue-storefront-api` of course, and store the data in the `localForage` (new collection required)

[2018-03-03 06:43] hengsoheak commented on #797
I have no Thems folder
<img width="893" alt="screen shot 2018-03-03 at 1 41 50 pm" src="https://user-images.githubusercontent.com/812528/36931475-c6e035be-1ee8-11e8-801f-6c493b92bdbc.png">

[2018-03-03 06:46] hengsoheak commented on #797
I've clone but why I have no this file
<img width="868" alt="screen shot 2018-03-03 at 1 45 43 pm" src="https://user-images.githubusercontent.com/812528/36931493-336fd0d6-1ee9-11e8-9b97-4ece28c46de4.png">

[2018-03-03 06:47] pkarw commented on #797
App.vue is probably within default theme - here is the original one:
https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/App.vue

[2018-03-03 06:49] hengsoheak commented on #797
So I have to copy from it from default to thems directory?

[2018-03-03 06:53] hengsoheak commented on #797
Oh i check I have this file existing in default directory

[2018-03-03 07:04] filrak commented on #797
If you want to make your own theme Just copy theme-starter and rename it. It contains all required files

[2018-03-03 07:06] pkarw commented on #525
OK @akbarik I've made the `vue-storefront-api` job and exposed the endpoint
`http://localhost:8080/api/user/order-history?token=<current user token>` - so it's very similar to `/api/user/me` call; the difference is the data range returned:

[code]

[2018-03-03 07:07] hengsoheak commented on #797
No, i didn't, It is the first time for with me Vue-storefront so I have to complete my installation but now I'm still facing the error. Let me try to reinstall and follow some tutorial

[2018-03-03 07:07] pkarw commented on #525
https://github.com/DivanteLtd/vue-storefront-api/commit/5003e42622487f66d358afe7d18b3344411f8f0e

[2018-03-03 07:28] pkarw commented on #525
I would suggest to create another localForage collection for orders history like `ordersHistory` and store there orders under separate keys (each order should be a separate record within this collection), then you can get the whole collection just bu doing simple iteration:

[code]

[2018-03-03 09:07] filrak commented on #797
@hengsoheak pull last changes. The problem was with webpack aliases, now it should work ;)

[2018-03-03 09:21] #752 closed

[2018-03-03 09:31] pkarw commented on #647
The design is already on the figma.
We should create the separate components for the reveies. There should be an event to load the data. No data fetch logic in the components core.

Then an extension should be added to bind this component and load the reviews from some  3rd party service - for example stamped.io

[2018-03-03 09:33] #285 closed

[2018-03-03 09:33] #313 closed

[2018-03-03 09:35] pkarw commented on #647
Related to #648

[2018-03-03 09:38] pkarw commented on #764
Could you please draft in bullet points the solution you like to implement here (which classes to modify etc) to get the approval?

This is serious enhancement and should be done right :)

I mean - I think for starter we need to just override the Search components not the whole catalog. This should be implemented as an extension

[2018-03-03 10:02] hengsoheak commented on #797
It is work as well

Thank you very much @filrak

[2018-03-03 10:35] akbarik commented on #754
Hi @nsuberi! I think I fixed the issue. Can you please check it?

[2018-03-03 10:52] collymore commented on #792
Assign this to me, will take care of it next week.

[2018-03-03 10:56] filrak commented on #797
Thanks! ;)

[2018-03-03 10:56] #797 closed

[2018-03-03 12:30] akbarik commented on #774
Hi @thedamianmason and @EliasKotlyar! Can you guys please send me the result of running these 2 commands in console?
1. ls -l <you vue-storefront directory>
2. groups <your user's name>
Thanks in advance!

[2018-03-03 15:28] hengsoheak commented on #797
I'm using in Mac it is simply a little bit slow for requesting do I need to do or read some document to prevent slow request in local development and how is it going if I am planning for 2000 users active real time?

`Elasticsearch INFO: 2018-03-03T15:24:46Z
  Adding connection to https://demo.vuestorefront.io/api/catalog

Mailchimp extension registered
Google Analytics extension registered
Ensure

[2018-03-03 15:43] pkarw commented on #797
Seems like slow network connection to demo.vuestorefront.io used as a backend
Please reinstall VS and choose the option to install vue-storefront-api backend locally it will speed up everything

We’re using macOS for development and average response time is always <0.5s for the whole request

[2018-03-04 07:14] #687 closed

[2018-03-04 07:34] thedamianmason commented on #774
@akbarik
1.
-rwxrwxrwx   CODE_OF_CONDUCT.md
drwxrwxrwx   config
-rwxrwxrwx   CONTRIBUTING.md
drwxrwxrwx   core
drwxrwxrwx   doc
-rwxrwxrwx   LICENSE
drwxrwxrwx  node_modules
-rwxrwxrwx   package.json
-rwxrwxrwx   package-lock.json
-rwxrwxrwx   README.md
drwxrwxrwx   src
drwxrwxrwx   test

2. adm cdrom sudo dip www-data plugdev lxd lpadmin docker

[2018-03-04 08:11] akbarik commented on #774
Thanks, @thedamianmason!
Are you sure you get the same error as @EliasKotlyar posted? In your case there's no dist folder and therefore npm run installer shouldn't give you that error.

[2018-03-04 17:36] hengsoheak opened #802 "Install Vue-storefront on Ubuntu16.4 VmWare machine"
Dear Vue-Storefront,

I'm testing vue-storefront with Ubuntu16.4 as your tutorial after then I got below error.

`ERROR                                                                                         │
│                                                                                               │
│ Can't start docker in background.

[2018-03-04 20:18] pkarw commented on #802
Thanks for the report. It seems like you don’t have the docker installed

[2018-03-05 03:45] RIanDeLaCruz commented on #764
Alright. I'll work on that plan @pkarw

[2018-03-05 04:26] pkarw opened #804 "Add open source / headless CMS integration"
Related to #697

We should select one of the most popular headless CMSes (https://headlesscms.org/) - would be great if it's based on Node.js for coherent technological stack with VS and implement an integration.

At first stage it can be just the content-block integration, then we can think of building the navigation and other meta data editors based on JSON API provided by such CMS

[2018-03-05 05:17] #761 closed

[2018-03-05 05:17] #762 closed

[2018-03-05 08:53] pkarw opened #805 "One-click deployment to PaaS"
There is an idea to use the https://zeit.co/now#frequently-asked-questions to build a multi cloud hosting for VS

I imagine the process like:
- you're developing the VS locally,
- at some point enters the command like "vsf live",
- you need to provide the Magento2 auth keys,
- all other stuff is published by the "vsf" management tool automatically - like zeit now does for the general nodejs.apps

[2018-03-05 10:13] ganeshr28 opened #806 "wrong product and customer details are added in magento 2 backend"
i having issue wrond product name and customer details is added in magento 2 backend

vuestorefont
![screenshot from 2018-03-05 15-33-32](https://user-images.githubusercontent.com/32222445/36969402-64bebd52-208b-11e8-96d8-b3038b46ffb7.png)

![2](https://user-images.githubusercontent.com/32222445/36969425-76a6b3f8-208b-11e8-8597-9804928be747.png)

check the order no its 15

![3](https://user-images

[2018-03-05 10:24] pkarw commented on #806
Any idea why "ganesh rames" exactly this string could be used for the customer name? Haven't you placed a similar order with this customers details before?

[2018-03-05 10:30] pkarw commented on #806
I've just tested it on demo.veustorefront.io and it works fine - could you please test it there as well? You should be able to check the data Magento stored with the order by checking the e-mail provided
![screenshot 2018-03-05 11 30 24](https://user-images.githubusercontent.com/211899/36970363-9d7c8bec-2068-11e8-8ed4-82b22184af31.png)
![screenshot 2018-03-05 11 29 25](https://user-images.githubus

[2018-03-05 10:37] ganeshr28 commented on #806
@pkarw  yes i have placed with "ganesh remesh" before but form vue storefront when add new name like above it dosnt take that name evey time it takes name which i have entered earlier

[2018-03-05 10:39] pkarw commented on #806
vue storefront is queuing the orders and it is possible that the new order you placed was transferred to the magento later on - could you please check it?

[2018-03-05 10:51] ganeshr28 commented on #806
how can i check wheather my order is queued
can you tell me how can i remove all database value and start fresh and then retrive the product details form magento 2

[2018-03-05 11:24] pkarw commented on #806
@ganeshr28 you need to use https://github.com/DivanteLtd/mage2vuestorefront; details: https://medium.com/@piotrkarwatka/vue-storefront-how-to-install-and-integrate-with-magento2-227767dd65b2

The database is stored in ES - so you can run some GUI against the Elastic Search to manage the index
The order queue is managed by KUE https://github.com/Automattic/kue - please find some more info there on

[2018-03-05 11:29] ganeshr28 commented on #806
@pkarw thanks i solved the issue by doing the following  in mage2vuestorefront :
in src folder
node --harmony cli.js fullreindex
followed by
node cli.js taxrule
node cli.js attributes
node cli.js categories
node cli.js productcategories
node cli.js products

thanks once again @pkarw :+1:

[2018-03-05 11:48] #806 closed

[2018-03-05 13:04] EliasKotlyar commented on #694
Hello @pkarw ,

I have requested Access trough the Crowdin Github Integration to link it directly to this repository. Afterwards it would be easy to provide Translations. Feel free to contact me in Slack if there are any issues.

Greatings
Elias

[2018-03-05 15:53] StasiekDivante opened #807 "Dropdown issue"
Now button behaves differently when text label or arrow are pressed, whole button should show subcategories, text label should not redirect to category

<img width="246" alt="2i" src="https://user-images.githubusercontent.com/37068687/36984621-99ea0158-2095-11e8-8dd4-6ff0144626b4.png">
<img width="243" alt="3i" src="https://user-images.githubusercontent.com/37068687/36984622-9a079df8-2095-11e8-838

[2018-03-05 16:10] EliasKotlyar commented on #805
We could also use google firebase. Its basically the same as zeit(as far as i can compare it), and its hosted by google.

[2018-03-05 20:19] pkarw commented on #807
@StasiekDivante adter such change the user will be able to browse just the bottom level categories.
I understand your reasoning that the but I would argue which solution is better from the User point of view

Let @karolbzik decide :)

[2018-03-06 07:53] 2monkey opened #809 "Google - Payment Request API"
How about this option?
With this option implemented, you dont need a user account (like PayPal Express).

https://developers.google.com/web/fundamentals/payments/deep-dive-into-payment-request

![pr-top](https://user-images.githubusercontent.com/8565430/37020311-a24a1988-211b-11e8-973a-78f2a6327dc7.png)

[2018-03-06 07:54] HRR1337 opened #810 "Firefox - > Product keeps added in cart after removing them"
Hi there,

Issue: On firefox @ demo.vuestorefront.io

Add products to cart - > Remove them via the minicart - > Hit refresh. (or ctrl - f5)
Message pops-up: products added to cart (and products are added to cart).

Outcome should be: just refresh the page, and dont add products to cart.

Thanks,

HRR

[2018-03-06 07:56] pkarw opened #811 "Firefox: cart item is not being updated after server cart sync"

[2018-03-06 08:11] akbarik commented on #774
Any changes on this issue? Is it still relevant?

[2018-03-06 08:13] akbarik commented on #754
I'm closing this issue, but if it's still not fixed, we'll open it again.

[2018-03-06 08:13] #754 closed

[2018-03-06 08:59] filrak opened #812 "Create Wordpress Integration extension"
It would be great to have posibility to connect wordpress for static sites and blog posts. The extension should provide some injectable components (as a mixins) with very basic functionalities like:
- single post (id via props)
- posts list
- comments for post (id via props)

Also the posts and templates should be cached for offline-ready experience.

[2018-03-06 11:27] HRR1337 commented on #810
Small update - its also on Chrome

[2018-03-06 12:03] nsuberi commented on #754
Hi all, apologies for slow response! I am still getting the same issue with test.vuestorefront.io on Safari 11.0.3 (13604.5.6). I made an account and logged in and it still occurred. I reloaded the page while logged in and it still occurred.

[2018-03-06 12:04] pkarw commented on #754
@nsuberi demo and test are not yet updated after this fix :) Please test it locally or please do wait for the updates

[2018-03-06 12:16] StasiekDivante commented on #807
@pkarw together with @karolbzik we decided to choose button to show subcategories. It might be slighly worse from the user point of view, but it's a fair trade for the sake of consistency

[2018-03-06 12:19] pkarw commented on #811
I found some issue on Firefox regarding JSON files support OR serviceworker?, we'll investigate it

[2018-03-06 12:19] pkarw commented on #810
I found some issue on Firefox regarding JSON files support OR serviceworker?, we'll investigate it

[2018-03-06 12:20] pkarw commented on #809
#86 is all about that :) So yeah, it's cool we should have this an a option, implemented using extensions to VS. Are you willing to build such extension?

[2018-03-06 12:22] pkarw commented on #807
OK, so it's ready to development, hoping for finding any brave soul to fix it :)

[2018-03-06 12:26] pkarw commented on #228
Duplicate of #793

[2018-03-06 12:26] #228 closed

[2018-03-06 12:26] pkarw commented on #810
This is service worker misconfirugration. FIxing it

[2018-03-06 12:28] BlitZ-UK commented on #807
Ok, am i right in saying then that the desired functionality for this is that the far right ">" arrow should view the subcategories (in the menu) and clicking the category name should take you to the category itself?

[2018-03-06 12:30] StasiekDivante commented on #807
hey @BlitZ-UK! That's the way it works now, arrow and text label should have the same functionality, redirecting to subcategories menu

[2018-03-06 12:33] BlitZ-UK commented on #807
Yep that's correct, i was just double checking the functionality of how it should be - If we're removing the ability to go directly to the category, and it'll all now instead display the subcategories, can we add a "View All" button at the top of the subcategories shown, which will then take you to the category? That way you can still get to the top level category from the Menu.

[2018-03-06 12:40] StasiekDivante commented on #807
Correct! Just be sure to keep same style, and place View All at the very top
<img width="354" alt="scr" src="https://user-images.githubusercontent.com/37068687/37032717-cedeaec8-2143-11e8-9bd4-5d34279e5ecc.png">

[2018-03-06 12:42] BlitZ-UK commented on #807
Sounds like a plan, i'll get this implemented.

[2018-03-06 12:42] #810 closed

[2018-03-06 12:42] #811 closed

[2018-03-06 12:43] pkarw commented on #810
@HRR1337 fixed and updated on the demo.vuestorefront.io - please flushh the application storage or test in the incognito mode because it required the update of Service Worker

[2018-03-06 12:44] pkarw commented on #86
Go @BlitZ-UK Go! :)

[2018-03-06 12:47] #802 closed

[2018-03-06 12:50] filrak commented on #86
@BlitZ-UK maybe you can take care of this one?

[2018-03-06 12:51] 2monkey commented on #809
Yeah of course.

[2018-03-06 12:52] BlitZ-UK commented on #677
Where would the store location data be pulled in from? As i am unsure if all the platform adaptors would have this data available, where else can it be pulled from?

[2018-03-06 12:58] BlitZ-UK commented on #86
Sure! With Stripe integration it'll be built right in anyway (to some extent). But in a future milestone it would be good to add this support for manual Payment Request API integration.

[2018-03-06 13:22] MikeSheward commented on #720
We will be creating the Stripe Extension as a seperate NPM package to kickoff this. 👍

[2018-03-06 13:31] pkarw commented on #809
@2monkey @MikeSheward seems to work on this in #86 please contact directly to avoid feature duplication :)

[2018-03-06 13:32] pkarw commented on #86
@MikeSheward  -> @2monkey is willing to help with this - as commented on #809

[2018-03-06 14:02] pkarw opened #815 "Extend vue-storefront-api to return the order job data + endpoint for getting this job return data"
We need to return the job id to store it in the browser along the order data to be able to query the KUE for this particular job data after job processing is done. To get the Magento / any other platform - order ID

[2018-03-06 15:01] pkarw commented on #815
Done! https://github.com/DivanteLtd/vue-storefront/blob/master/doc/data/How%20to%20get%20Magento2%20order%20id%20after%20sync.md

[2018-03-06 15:01] #815 closed

[2018-03-06 15:04] pkarw commented on #86
@MikeSheward not sure, but this: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/data/How%20to%20get%20Magento2%20order%20id%20after%20sync.md

May be interesting and helpfull. We're now storing the resulting Magento2 order id's in the vue-storefront-api redis cache:

https://github.com/DivanteLtd/vue-storefront-api/blob/0acfc471534c9f0abeaf5c263719e08118a96dcc/src/worker/order_to_mag

[2018-03-06 16:23] MikeSheward commented on #86
@pkarw thanks for them links, i'll take a look.

[2018-03-06 18:04] #694 closed

[2018-03-06 18:09] pkarw commented on #525
@akbarik assigned back to You :) fingers crossed!

[2018-03-06 20:07] EliasKotlyar commented on #774
@akbarik : I tried to reproduce my error again, but now everything working fine. I suppose that you should not run "npm install" with sudo.

[2018-03-06 20:19] pkarw commented on #774
Ok! Thanks for retesting, im closing the issue for now

[2018-03-06 20:19] #774 closed

[2018-03-07 04:33] pkarw commented on #793
https://developer.paypal.com/docs/classic/ipn/integration-guide/IPNSetup/ - we need to add the ipn listener as a vue-storefront-api extension

[2018-03-07 04:34] pkarw commented on #793
https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/

[2018-03-07 04:51] pkarw commented on #793
https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/server-side-REST-integration/#set-up-the-payment

[2018-03-07 13:09] 2monkey opened #818 "Messenger - Customer Chat-Plugin"
How about this?

https://developers.facebook.com/docs/messenger-platform/discovery/customer-chat-plugin

![23423329_322601184884475_7886446887677460480_n](https://user-images.githubusercontent.com/8565430/37093810-ef4b65de-2210-11e8-9e37-5b8838e7f9b1.png)

[2018-03-07 13:10] 2monkey commented on #809
Ok, i will contact him.

[2018-03-07 13:13] 2monkey commented on #86
@MikeSheward hey :) how far are you with this extension?

[2018-03-07 13:16] pkarw commented on #818
Would be great to have FB messenger integration, go for it (it should be implemented as an extension)

[2018-03-07 13:20] MikeSheward commented on #86
Hey, it's currently very WIP. I've made some changes to the core to allow for adding dynamic payment provider sections to be added to the checkout, a few new events ect, which should make it easier for other payment providers to use too, i'll try and get something to show by the end of today.

[2018-03-07 13:48] pkarw commented on #86
Great! Please send us some PR with the changes as I'm concerning how should we implement Paypal integration right now :)

[2018-03-07 13:48] pkarw commented on #809
I'll close this one as a duplicate :)

[2018-03-07 13:48] #809 closed

[2018-03-07 19:12] #724 closed

[2018-03-08 06:11] pkarw commented on #86
@MikeSheward maybe this new feature will be usefull for you guys: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/Extending%20UI%20from%20extensions.md

I've added it with Paypal integration on mind :)

[2018-03-08 09:25] MikeSheward commented on #86
Thanks, this is useful - To be uniform across extensions, I will refactor the Stripe to adhere to this doc instead, previously i was using the Dynamic Components method from the Vue docs, but this will also work just as well.

[2018-03-08 09:51] filrak commented on #818
It will be also cool for demo purposes ;)

[2018-03-08 17:22] pkarw opened #823 "Add the documentation for the platform abstraction layer (vue-storefront-api)"
@nkuehn that would be great (lighter stack)! Unfortunately I don't have the full specification of the calls.

This is currently a proxy of some methods from Magento2 API (http://devdocs.magento.com/swagger/) with some custom endpoints.
We used Magento2 data formats as a abstraction layer for further platforms (you can see how for example pimcore bridge works: https://github.com/DivanteLtd/pimcore2

[2018-03-08 19:26] #644 closed

[2018-03-08 19:38] nacimux commented on #696
I can help on this one, you can assign it to me !

[2018-03-08 19:44] pkarw commented on #696
Sure! Please go on!

[2018-03-08 20:44] pkarw commented on #455
https://github.com/magento/magento2/issues/4912

[2018-03-09 07:28] anilahy opened #824 "Products are not synchronized when i m used in mobile(Offline Mode and online mode both)"
I have done integration the vue-storefront with the magento2. when I am used the website from mobile then the products are not synchronized alert popup is shown.

need a help

[2018-03-09 07:30] pkarw commented on #824
It's hard to say without more details. What does it mean you've integrated the site (which steps did you execute)? What works on desktop vs mobile? Could you provide the screenshots please? Any errors in the console?

[2018-03-09 08:00] 2monkey opened #825 "Push Notifications - Extension"
Extension worthy?
Im working currently on Payments API and FB Messenger Integration, but i think this feature is a must.

https://onesignal.com/

![unbenannaat](https://user-images.githubusercontent.com/8565430/37196754-4f94ef42-2378-11e8-808e-75514d3f433c.PNG)

[2018-03-09 08:02] pkarw commented on #825
yes, it's cool!

Regarding payments - please take a look at:
- https://github.com/DivanteLtd/vue-storefront/pull/822 - any payment extension should be compliant with this "new stanard" - it will be merged in within few days but please treat it as already merged :)
- and the: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/Extending%20UI%20from%20extensions.md

[2018-03-09 08:03] pkarw commented on #86
@2monkey are on this?

[2018-03-09 08:03] pkarw commented on #86
Regarding payments - please take a look at:

#822 - any payment extension should be compliant with this "new stanard" - it will be merged in within few days but please treat it as already merged :)
and the: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/Extending%20UI%20from%20extensions.md

[2018-03-09 08:04] pkarw commented on #793
Regarding payments - please take a look at:

#822 - any payment extension should be compliant with this "new stanard" - it will be merged in within few days but please treat it as already merged :)
and the: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/Extending%20UI%20from%20extensions.md

[2018-03-09 08:04] pkarw commented on #792
Regarding payments - please take a look at:

- #822 - any payment extension should be compliant with this "new stanard" - it will be merged in within few days but please treat it as already merged :)
- and the: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/Extending%20UI%20from%20extensions.md

[2018-03-09 08:06] 2monkey commented on #86
Okey, good to know.

[2018-03-09 09:05] anilahy commented on #824
Hello Piotr Karwatka,

I have integrated the Vue storefront and magento2(local machine) successfully.
The website is working fine on desktop but when I m open the website
in mobile then products are not synchronised is shown. 

I have followed the steps which are given in this 
link: https://medium.com/@piotrkarwatka/vue-storefront-how-to-install-and-integrate-with-magento2-227767dd65b2

DESKTOP S

[2018-03-09 09:10] Igloczek commented on #805
Maybe something like this?
https://devcenter.heroku.com/articles/heroku-button

[2018-03-09 10:24] pkarw commented on #720
@MikeSheward it's cool; so I've assigned this one to You

[2018-03-09 10:30] pkarw commented on #672
@Aekal I've just assigned this one to you :)

[2018-03-09 10:31] pkarw commented on #640
@PanMisza any progress on that?

[2018-03-09 12:31] pkarw commented on #824
The screenshots haven't been attached properly, please resend

[2018-03-09 14:07] pkarw commented on #640
@Aekal any chance that you'll take care of this one maybe next week? It doesn't seem like any body is working on this :)

[2018-03-09 14:34] pkarw commented on #690
I've created the API methods:
- POST http://localhost:8080/api/cart/apply-coupon?token=att6d2m63xyxkwwahm7v4vkfxapcw3sj&coupon=ARMANI&cartId=18358
- POST http://localhost:8080/api/cart/delete-coupon?token=att6d2m63xyxkwwahm7v4vkfxapcw3sj&cartId=18358
- GET http://localhost:8080/api/cart/coupon?token=att6d2m63xyxkwwahm7v4vkfxapcw3sj&cartId=18358

The example coupon code is ARMANI (-45%)

[2018-03-09 14:39] pkarw commented on #690
https://github.com/DivanteLtd/vue-storefront-api/commit/f5a3640099eeb6e6de65cc4c66ba0115303e12f8

[2018-03-09 14:45] pkarw commented on #690
@karolbzik will add the Microcart.vue UI controls for this

[2018-03-09 21:33] filrak opened #829 "Different variants on product listings and product views"
Currently it doesnt matter in which variant I click on a category/product listing - its always showing the base configuration.

We should add choosen variant to clicked product in vuex store.

Screenshots (choosen on top left)
![image](https://user-images.githubusercontent.com/15185752/37231022-d96ff11e-23e9-11e8-8ac1-02ee69943f5a.png)
And this showed:
![image](https://user-images.githubuserconten

[2018-03-10 08:00] karolbzik commented on #690
@akbarik I tried to design it in the simplest way but for all critical use scenarios.

Design for the sidebar cart with 1) already defined discount code (name + value) 2) link to add a discount code 3) discount code can be removed by clicking the closing icon.
![vs - sidebar cart 10 03 2018](https://user-images.githubusercontent.com/18116406/37239684-698191f8-2440-11e8-994d-818f8a6ba4ea.png)

Afte

[2018-03-10 08:45] akbarik commented on #690
@karolbzik, thanks a lot!

[2018-03-10 12:59] karolbzik opened #830 "Improve modals/pop-ups animations"
We need to improve animation for modals.
TODO - 1) check good practices for material motion 2) describe improvements for modals.

[2018-03-10 13:03] karolbzik opened #831 "Improvement and unification of forms"
We need to unify and improve the experience with forms (fields, checkboxes, radio buttons, buttons etc) in the main template.

TODO: 1) defining one unified UI guide for forms 2) applying improvements (especially on the shopping process and with validation).

[2018-03-10 13:06] karolbzik opened #832 "Improvement and unification of notifications"
We need to test, unify (eg. colors) and improve notifications.

TODO 1) test if we have all types of notifications, list missing notifications (place/scenario, copy, action button on the notification) 2) unification (one unified style guide for notifications) 3) applying improvements and adding missing notifications.

[2018-03-10 13:08] karolbzik opened #833 "Design horizontal primary navigation for desktop view"
We should consider designing horizontal primary navigation with a mega menu, visible on the desktop.

[2018-03-10 13:12] karolbzik opened #834 "Improvement of UX for secondary navigation on infopages"
We need to improve the experience for using secondary (contextual) navigation in my account and info sites, especially on mobile views.
<img width="589" alt="zrzut ekranu 2018-03-10 o 14 10 21" src="https://user-images.githubusercontent.com/18116406/37242607-d75d68d8-246c-11e8-900a-4271a471c961.png">

TODO:
1. Design views for desktop, tablet, mobile
2. Discuss with developers (we need to confront

[2018-03-10 13:15] karolbzik opened #835 "Design logo and banners for the main template"
We need to improve the experience from the homepage by adding better logo and banners for our main template.

TODO
1. Design logo + naming for the main template
2. Design a set of new banners (HD quality, 2x+)
3. Applying a new look to the project

[2018-03-10 13:16] karolbzik opened #836 "Design and change favicon"
We need to design and change favicon for the main template.

[2018-03-10 13:19] karolbzik opened #837 "Design Track my order page"
We need to design and develop "track my order" page for use scenarios:
- As a Customer, I can check a status of my order (status in store, status in delivery) by typing the number of my order in form;
- As a Customer, I can check a status of my order without login.

The base for that page is here https://demo.vuestorefront.io/order-tracking

[2018-03-10 13:24] karolbzik opened #838 "Test and improve UX at Compare products page"
We need to test the page on mobile screens and unify typography, colors and styling for tables.https://demo.vuestorefront.io/compare.

TODO:
1. Test https://demo.vuestorefront.io/compare on mobile screens and desktop, list adjustments
2. Select adjustments & discuss them
3. Apply adjustments

[2018-03-10 13:31] karolbzik opened #839 "Connecting demo with Google Analytics account UA-108235765-2"
@filrak can you use currently existing extension for Google Analytics and connect our demo with UA-108235765-2?

[2018-03-10 13:35] karolbzik commented on #818
@2monkey great suggestion, will you work on it? Do you know if this widget will have any scenario for off-line? It would be great to have on-line / off-line stages with this widget. Eg. in Drify or LiveChat there are "we are currently off-line" stages.

[2018-03-10 13:41] karolbzik opened #840 "Adding Hotjar trackign code"
For user experience improvement we want to perform analysis of click/scroll tracking with Hotjar.

Could someone help me with adding tracking code?

[code]

Details from Hotjar https://help.hotjar.com/hc/en-us/articles/115009336727-Manually-Adding-the-Tracking-Code.

[2018-03-10 13:47] karolbzik opened #841 "Adding Google Tag Manager feature"
Let's add Google Tag Manager to the main template.
I prepared account with ID GTM-WGQ7T9C.

Here's official documentation for installation - https://developers.google.com/tag-manager/quickstart.

Can anyone help me with this?

[2018-03-10 13:53] karolbzik opened #842 "Integration with Emarsys"
I have a suggestion to consider integration with Emarsys - they are a great marketing automation engine for enterprise eCommerce companies. The integration could contain 1) e-mail 2) tracking on the web 3) recommendation engine.

If someone would be interested - I can arrange a demo account and configure the tool so we could have eCommerce extended with this robust eCommerce tool used only by ente

[2018-03-10 17:12] filrak commented on #677
For the beginnig it should get the data from mocking  json and be implemented as an extension. We can świtch to sync instead of json later

[2018-03-10 17:28] pkarw commented on #677
Please take a look at: https://github.com/DivanteLtd/vue-storefront/tree/master/src/extensions/droppoint-shipping and https://github.com/DivanteLtd/vue-storefront/blob/master/doc/extensions/droppoint-shipping.md

[2018-03-10 20:55] pkarw commented on #729
@MikeSheward we should allow users to install extensions as a npm packages - for example: https://github.com/develodesign/vue-storefront-stripe

Should we have a web pack alias that will allow to include the extensions from /src/extensions and /src/extensions/node_modules?

[2018-03-11 09:51] admench opened #843 "Shopify integration"
Hi,

Love the platform. Quick question, is it possible to integrate with the shopify api?

When I heard your talk at this at the London vuejs meetup you said it was possible to integrate with many ecommerce platforms, just wondered if you could respond with your take on this?

Many thanks

[2018-03-11 10:34] filrak commented on #843
Yes  it's possible without any problems but shopify connector is not created yet. Currently we have working connectors for magento 2, pimcore and magento 1 on the way. Maybe you will take care of this? You can find tutorials on how to integrate any platform in our README

[2018-03-11 13:05] 2monkey commented on #818
@karolbzik yeah you can use the offline event - to access typical info messages.

[2018-03-11 15:20] Igloczek commented on #753
How we would like people to set up this project in the future?
1. Run `npm install vue-storefront` on a clean project, then the same way add themes and extensions. It will require some, probably serious, changes, but will keep the core safe from unwanted modifications and make shipping updates easier.
2. Create a Vue CLI template `vue init vue-storefront` form the current state, the extensions and

[2018-03-11 15:25] pkarw commented on #753
@filrak has a plan for it (more like opt. 1 - "npm install vue-storefront" and if you didn't have it before it will create the boilerplate by creating the folders /src, /extensions, /core ... the core folder will be overridden after each npm update / npm install if we publish new version of the core). Is a solution that needs to be polished  - for example we need to have each theme as separate npm

[2018-03-11 15:31] pkarw opened #845 "Fix the Travis issues"
https://travis-ci.org/DivanteLtd/vue-storefront/builds/351997164?utm_source=email&utm_medium=notification

[2018-03-11 15:53] filrak commented on #825
I this we shoul implement native notifications as it is possible with existing vue-storefront-api as a push server. There is no need to use 3rd partys

[2018-03-11 15:58] filrak commented on #764
@RIanDeLaCruz how the things are going?

[2018-03-11 16:01] filrak commented on #729
@pkarw yes, we should add webpack alias `ext` and move the extension registtration from json to index.js file at` src/extensions`

[2018-03-11 16:10] pkarw commented on #729
I belive it's just the https://github.com/DivanteLtd/vue-storefront/blob/8184c8e41888d4bb690642f5c7b4e972f10eaa30/core/lib/extensions.js#L1 to be modified

@MikeSheward will you take care of it Tomorrow? @filrak

[2018-03-11 16:24] pkarw commented on #845
Done @Igloczek

[2018-03-11 16:24] #845 closed

[2018-03-11 17:25] Igloczek commented on #99
Maybe we can go with a simpler design without the typical gallery [like Nike did in their new store](https://econsultancy.com/blog/69844-why-nike-s-refreshed-product-pages-improve-cx-beat-adidas).

[2018-03-11 17:56] #696 closed

[2018-03-11 18:00] #691 closed

[2018-03-11 18:38] nacimux commented on #793
I pick this one, assign it to me please.

[2018-03-11 18:47] pkarw commented on #793
Ok, Please go on; remember about the #822 (should be merged with core early next week)

[2018-03-11 19:24] 2monkey commented on #825
@filrak yeah native is the best option, but currently the only native options for that are things like firebase.

[2018-03-11 23:06] Igloczek opened #849 "Add dynamic port allocation"
The way how Vue folks handle it - https://github.com/vuejs-templates/webpack/pull/913

For those who run into `Error: listen EADDRINUSE :::3000` before it will be fixed - just run `killall node` and you will be fine 😉

[2018-03-11 23:34] Igloczek commented on #753
Something that for sure is worth to investigate in future is the `vue-cli@3.0.0`.
It's currently in beta, but seems to have all features necessary to abstract configuration, setup project and make updates possible.

[2018-03-12 04:33] pkarw commented on #849
@Igloczek this is good idea with the port-scanner, thanks

[2018-03-12 09:19] Aekal commented on #640
@pkarw Ok, I'll work on it

[2018-03-12 09:21] pkarw commented on #671
@kruchy8 ok, go on :)

[2018-03-12 09:36] talalus commented on #838
I can continue on this

[2018-03-12 09:38] pkarw commented on #838
OK!

[2018-03-12 09:51] talalus commented on #838
@pkarw maybe something like this https://codyhouse.co/demo/products-comparison-table/index.html ?

[2018-03-12 09:53] pkarw commented on #838
I don't have an opinion on this :) @karolbzik?

[2018-03-12 10:33] StasiekDivante commented on #838
@talalus that table looks good, lets go with it

[2018-03-12 10:54] bartdominiak commented on #655
@filrak can you assign me to this ticket?

[2018-03-12 11:35] anthuanvasquez commented on #693
I can help, assign to me

[2018-03-12 11:56] anqaka commented on #807
@MikeSheward are you still working on this issue? Not sure if I can assign it or it already "in process" :)

[2018-03-12 12:37] StasiekDivante commented on #838
![compare products](https://user-images.githubusercontent.com/37068687/37284047-69b23f54-25fa-11e8-8e45-c428c5bcaf03.png)
I made you design for compare page, hope that will be helpful

[2018-03-12 12:38] StasiekDivante commented on #838
if there are more than 2 products table should scroll horizontally on its own

[2018-03-12 12:48] filrak commented on #729
@MikeSheward please contact with @Igloczek. He is working on moving themes to npm packages. Both tasks should use the same format

[2018-03-12 12:50] pkarw commented on #693
Great, please go for it!

[2018-03-12 12:57] pkarw commented on #807
As far as I know @MikeSheward is now working on the Payment's related issue; so I belive you can just take this one!

[2018-03-12 12:58] anqaka commented on #807
Ok, I'll try to implement this

[2018-03-12 13:12] Igloczek commented on #729
I'll take this over, the plan is to add new CLI command that will handle the process of adding new packages and necessary configuration.

For now, I will just symlink from `node_module` to the destination directory to don't mess with webpack for now and keep all setup scripts in the core.

I'd like to add a npm task like `npm run package` that will have the interactive shell with 3 questions
1. Ty

[2018-03-12 13:37] Igloczek commented on #720
It's related to #729 so I'll take it over

[2018-03-12 13:38] Igloczek commented on #737
Related to #729

[2018-03-12 13:48] kjugi commented on #841
I've dive deep into this issue and searched something like this: https://github.com/mib200/vue-gtm Don't know if this plugin worth to implement but seems to do what we want. The question is which tags and events to trigger.

I've tried to add it on local (pushed one commit with an implement on my fork) but found one problem. In REAMDE author said we must copy/paste GTM tag in our `index.html` and

[2018-03-12 13:59] #672 closed

[2018-03-12 14:26] #829 closed

[2018-03-12 14:28] #734 closed

[2018-03-12 15:34] szafran89 opened #854 "Missing confirm dialog before remove product from cart"
Would be great to add confirm dialog with message like `Are you sure you would like to remove this item from the shopping cart? Y/N`

![image](https://user-images.githubusercontent.com/5370251/37293227-faefbad8-2612-11e8-99c3-c5ffc13c00c8.png)

[2018-03-12 15:36] Igloczek opened #855 "Cleanup release tags"
All release tags should follow same format, for example https://git-scm.com/book/en/v2/Git-Basics-Tagging
So we should change:
[code]
Also will be nice to register for the pre-release program - https://github.com/prerelease/agreement

[2018-03-12 15:46] pkarw commented on #854
@karolbzik Wdyt?

[2018-03-12 16:16] anthuanvasquez commented on #693
@pkarw can you check the PR https://github.com/DivanteLtd/vue-storefront/pull/856

[2018-03-12 18:01] karolbzik commented on #841
@kjugi thank you for the suggestion.

From my point of view the best would be creating an integration with already predefined GTM data layer for ehanced ecommerce for Google Analytics (then we could even skip #839 issue). The shape of the data layer is explained here https://developers.google.com/tag-manager/enhanced-ecommerce.

@pkarw @filrak WDYT about https://github.com/mib200/vue-gtm and what

[2018-03-12 18:04] karolbzik opened #858 "Integration with Intercom"
It would be great if someone could develop an integration with https://www.intercom.com/.
This tool contains both livechat and marketing automation.

[2018-03-12 18:58] karolbzik commented on #804
@pkarw I think we need to discuss and clarify the direction for the content management (static pages and banners).

[2018-03-12 19:07] karolbzik commented on #854
@szafran89 can you show 2-3 use cases for this feature?

I'm not sure if this additional layer of confirmation is needed here. The type of confirmation you mention I connect with the use scenarios where changes are irreversible.

[2018-03-12 19:21] filrak commented on #854
Maybe better approach would be notification similar to the one when the item is added to cart but with "retry" button?

[2018-03-12 19:24] filrak opened #859 "Unit tests for Category Page core component"
The API of Category Page will not change in the near future (in opossite to the other core pages) so the component is ready to be tested.

The tests should cover all the methods from the docs: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/core/CategoryPage.md

[2018-03-12 19:32] filrak opened #860 "Merge wishlist and compare properties from Product Page"
As you can see in the [docs](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/core/ProductPage.md) we have two methods allowing user to check if the product is on wishlist/comparator. We should have only one for each. The task includes adjusting theme product components to the new API.

- [x] Change core product page
- [x] Adjust theme product pages
- [x] Change the doc file

[2018-03-12 19:34] filrak commented on #804
@karolbzik there is a task for this with Wordpress integration https://github.com/DivanteLtd/vue-storefront/issues/812

[2018-03-12 19:40] filrak commented on #812
We can also think about using contentful for this

[2018-03-12 19:53] szafran89 commented on #854
It's just proposal. I meant something like in luma theme, but true it's one more layer so it can be a little bit confused.

![2018-03-12 20_45_37](https://user-images.githubusercontent.com/5370251/37305951-727a53f6-2636-11e8-8ac7-fea1ed172e4c.gif)

[2018-03-12 20:26] #693 closed

[2018-03-13 08:07] pkarw commented on #824
Thanks for the details on Drift; here it's the video showing this issue in action: https://drive.google.com/file/d/1NUWHNCvjyHw9I0N7KvZdwS2kJWPEoQ3F/view

@anilahy could you please send us the output of Chrome Devloper's console please?

I'll investigate this issue in the next few days

[2018-03-13 09:10] MikeSheward commented on #849
This is a good idea, i have come across this need myself.

[2018-03-13 11:16] Igloczek commented on #169
@filrak now we have `develop` branch (I see you already merged few PR here 👍 ), but probably will be nice to add info somewhere in the docs about it and the git-flow rules.

[2018-03-13 11:27] pkarw commented on #804
https://github.com/netlify/netlify-cms
https://strapi.io/demo

[2018-03-13 11:59] clagosarias commented on #525
@karolbzik what about dividing the orders by their status? a first section with the pending orders and then a second section below with the finished or canceled ones?

[2018-03-13 12:00] pkarw commented on #805
Deploy to Heroku is cool -> https://github.com/strapi/strapi

It sounds to me.

[2018-03-13 13:13] 2monkey commented on #805
I think firebase is a great solution, there we have the native push notifications and all other stuff for progressive web apps.

[2018-03-13 14:04] pkarw commented on #824
Thanks for reporting this issue! Fixed with https://github.com/DivanteLtd/vue-storefront/pull/861

Please pull the most recent changes from "develop" branch: https://github.com/DivanteLtd/vue-storefront/tree/develop

[2018-03-13 15:48] karolbzik opened #862 "Test scenario with Firefox and Adblocker"
On of partners mentioned that "Vue Storefront is not working on Firefox when there's ad blocker turned on". I will check this.

[2018-03-13 20:07] qiqqq commented on #728
@pkarw @filrak This problem does not occur. When i moved scripts to /core/scripts/, I had some typo in code and propably this cause this problem. I tested it now few times and jsonFile.write() overwrite local.json file, there are no errors. I think this task is to close.

[2018-03-14 05:02] pkarw commented on #728
Thanks!

[2018-03-14 05:02] #728 closed

[2018-03-14 09:08] filrak commented on #825
@2monkey, nah we can implement it using our API server without any problems

[2018-03-14 09:42] karolbzik opened #864 "Preview of Vue Storefront on different mobile platforms"
We are preparing a preview of Vue Storefront on different OS: Android, iOS, Windows and want to publish a short business overview of how PWA works on them.

[2018-03-14 11:27] #824 closed

[2018-03-14 11:35] 2monkey commented on #825
@filrak that sounds great, so we need a backend extension for sending and analytics. Is it right? or do you want to use CLI for sending?

[2018-03-14 16:53] filrak commented on #825
No, we need backend with exposed endpoint for sending push notifications. We shouldn't stick to 3rd partys like Firebase since they require additional steps to use VS (like gnerating Firebase config keys). We can easly do it in a native way. Do you want to take care of it @2monkey ?

[2018-03-15 07:28] pkarw commented on #793
@nacimux how are things in here? :)

[2018-03-15 17:29] pkarw commented on #818
@2monkey I Just wanted to ask if you’re on this topic maybe?

[2018-03-15 18:21] qiqqq commented on #525
@pkarw as we discussed, I can take this task

[2018-03-15 18:30] MarcosMdo opened #869 "Bootstrap Vue import config"
Has anyone imported  BootstrapVue in with vue storefront? Curious as to how you went around doing so with how storefront is set up.

Thanks

[2018-03-16 00:41] ryanhmaas commented on #843
Is that tutorial up to date? The file structure of the most recent build seems substantially different.

Thanks!

[2018-03-16 03:24] pkarw commented on #843
@ryanhmaas not sure which exactly? The vue-storefront code structure changed before 1.0RC, maybe this is the reason?

[2018-03-16 03:46] pkarw opened #870 "Add Magento1 catalog support"

[2018-03-16 06:20] 2monkey commented on #818
@pkarw yeah, will create a github for this extension. I think on the weekend or begin of the next week.
The PHP Code is already finished.

[2018-03-16 07:52] pkarw commented on #870
https://github.com/DivanteLtd/magento1-vsbridge

[2018-03-16 07:52] karolbzik commented on #839
+ additional tracking codes for other templates:
https://demo-catalog.vuestorefront.io/ -> UA-108235765-4
https://demo-magento1.vuestorefront.io/ -> UA-108235765-3

[2018-03-16 08:12] #839 closed

[2018-03-16 08:46] 2monkey commented on #825
@filrak  yeah after the FB Messenger and  Payments API Integration.

[2018-03-16 10:28] karolbzik opened #873 "Design video banner component"
Let's discuss how to add a video banner (format, title, subtitle, buttons). Examples: https://solar.com.pl/, https://www.tesla.com/. We need to design these components in UI guide first before coding to make sure that it's unified and applicable to any custom templates.

[2018-03-16 10:40] filrak commented on #825
Amazing, thanks!

[2018-03-16 11:06] karolbzik opened #874 "Design hero banner in versions"
We need to consider designing hero banner in versions:
- just button
- no button at all

[2018-03-16 17:29] pkarw opened #875 "Stock qty. check on update"
We need to handle "servercart-after-itemupdated" and remove the item from the cart in case it's not available

For example: https://demo.vuestorefront.io/p/MS08/strike-endurance-tee-627/MS08

<img width="1435" alt="screenshot 2018-03-16 18 28 40" src="https://user-images.githubusercontent.com/211899/37535397-e60e5ba0-2947-11e8-9bdd-a489c8087a94.png">

[2018-03-16 18:57] HRR1337 commented on #854
Make it then atleast optional... I dont see any good cases for a popup when you want just to remove something.

[2018-03-16 20:19] 2monkey commented on #818
@pkarw what is the hook to bind a script tag (like google analytics tag) ?
[This](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/components/Extending%20UI%20from%20extensions.md) is the only doc that i found.

[2018-03-16 21:11] pkarw commented on #729
@Igloczek @filrak I've done this with #878

Because of the web pack nature (doesn't support dynamic import / require) I had to modify the extension loader - moving enabled extensions from config/local.json to /extensions/index.js

Otherwise, it wouldn't have been possible to load extensions installed via npm like - https://github.com/develodesign/vue-storefront-stripe

By the way - I've added depe

[2018-03-16 21:11] #729 closed

[2018-03-16 21:12] pkarw commented on #720
@Igloczek @filrak @MikeSheward  I've done this with #878

Because of the web pack nature (doesn't support dynamic import / require) I had to modify the extension loader - moving enabled extensions from config/local.json to /extensions/index.js

Otherwise, it wouldn't have been possible to load extensions installed via npm like - https://github.com/develodesign/vue-storefront-stripe

By the way - I

[2018-03-16 21:12] #720 closed

[2018-03-16 21:21] pkarw commented on #169
Added info to the contributing docs

[2018-03-16 21:21] #169 closed

[2018-03-16 21:28] pkarw commented on #818
I'm affraid we don't have this kind of event yet; right now we do have per-page events, like product-after-created etc. You need something more general. Please take a look at vue-analytics module which is used by VS for analytics support, it can be kind of inspiration how to embed such a permanent element

[2018-03-16 21:29] pkarw commented on #818
Oh, and of course if needed please add your own event hook and create a PR to the core, no problem

[2018-03-16 21:31] 2monkey commented on #818
Alright, thank you 👍

[2018-03-16 23:01] 2monkey commented on #448
https://developers.google.com/speed/pagespeed/module/

@filrak  ngx_pagespeed module for the demo store

[2018-03-16 23:39] filrak commented on #869
I dont see any potentat problems. What do you mean by 'how storefront is set up'?

[2018-03-17 08:20] karolbzik opened #881 "Design Select country and language pop-up"
We need to design a pop-up where Customer could select country and language (in case there are multiple languages in a specific country). Let's use an existing style guide to design this component.

[2018-03-17 08:24] nacimux commented on #793
@pkarw sorry, I have a huge pressure in my job ! i can't work on the issue before next Thuersday ! mybe you can add "Help wanted" to the issue ?

[2018-03-17 09:20] pkarw commented on #881
Related to #455

[2018-03-17 09:48] filrak opened #882 "Correct slider on mobile"
Product slider from homepage should have  one product visible at a time on mobile

[2018-03-18 10:18] filrak commented on #793
@nacimux we can wait, no problem

[2018-03-18 10:21] filrak commented on #854
@HRR1337 I think the notification with "retry" button is a good solution. Anyone against?

[2018-03-18 10:48] AurelienLavorel opened #884 "Guest order with associated account"
![before](https://user-images.githubusercontent.com/5844661/37564996-47088aca-2aa1-11e8-9d66-2a0fea6aa9cf.png)

If I already have an account and I forgot to log in, in **personal data** checkout step, I can continue checkout.

We should have a no blocking validation message, for example: You already have an account, please login to see your complete order list

![login-warning](https://user-images

[2018-03-18 10:52] AurelienLavorel opened #885 "Back in checkout step"
When we are at checkout, in **Shipping** step for example, if we use the navigator back button, we are redirected to the previous page. We should be redirected to the previous step.

URL should change on step change. For example **/checkout/shipping** for shipping step.

[2018-03-18 11:09] pkarw commented on #885
Good point. Right now you must change the previous step data by "Edit link". Would be great if you can work on this?

[2018-03-18 11:12] pkarw commented on #884
You mean that we should check if the e-mail exists in the database in the background right? I'm not sure if this is not a security breach (this kind of service may be used for scanning the e-mail addresses against Magento customer database). On the other hand probably this is not a high risk and we can have it as an option configured in the config. Good point

[2018-03-18 11:13] pkarw commented on #884
I belive that we need to create a special API method within the `vue-storefront-api` just getting the email address on the input and returning true/false whatever account exists

[2018-03-18 11:14] #875 closed

[2018-03-18 11:42] pkarw opened #886 "Developer's experience feedback"
Hi All!

As our community is growing rapidly we're getting more and more feedback from developers. We would like to put it simply: Best possible developer's experience is one of our key goals!

This is the reason we decided to create three Release Candidate's versions: RC -> RC2 -> RC3 -> 1.0 Final.

From the 1.0RC we try to not change any key application parts that can break Extensions or Themes,

[2018-03-18 11:56] filrak opened #887 "Check if components are following single source of truth rule"
Components that are using Vuex stores shouldn't make their own copies of state. This rule is called "single source of truth". The task is to make sure all our core components are following that rule and uses Vuex state data only from compouted properties.

[2018-03-18 12:00] filrak opened #888 "Move all data fetches from components to pages. (dumb/smart components)"
All core components that are grouped in pages (this excludes root components like microcart or overlay) should be dumb components which means they should only display data passed by the props. The data fetching from Vuex stores should take place in pages ONLY. The pages and global components should be the only smart  components.

(You can read more about this principle [here](https://coryrylan.com

[2018-03-18 12:28] pkarw commented on #855
Hmm. Renaming past releases and tags on Github is not working as smoothly as I've thought; just tried to rename 0.2.1-alpha -> v0.2.1-alpha.0

without any success :) Could You try this @Igloczek or @filrak ?

[2018-03-18 12:42] pkarw commented on #888
It should be possible to make Smart Components -> Web Components; so for example "smart" Producft component should have been provided with "<Product sku="SKU" />" to get the data and display the proper product. By doing such decomposition we would be able to offer the Smart Components even to other frameworks by being compilant with WebComponents standard (for example)

[2018-03-18 12:48] pkarw commented on #855
To not mess up I suggest just moving to the semantic versioning (the difference is basically just the "v" prefix and then numeric postfix for -alpha, -rc releases) with the next release; wdyt @Igloczek ?

[2018-03-18 12:49] filrak commented on #888
I disagree. For me only route components (pages) and root components (the ones that are in App.vue) should handle the vuex data. It would be much easier to compose pages and dubug them with this approach. @igloczek what do you think?

[2018-03-18 12:50] pkarw commented on #855
I've created the semantic copies of tags - https://www.dropbox.com/s/ssk7sr47wyyxp43/Screenshot%202018-03-18%2013.50.00.png?dl=0

But by some reason they are not displayed in the Github https://github.com/DivanteLtd/vue-storefront/tags -> so I'm not able to modify the releases ..

[2018-03-18 13:06] pkarw commented on #855
OK! The reason was pretty silly :) Wrong origin :)

Now it's fixed!

[2018-03-18 13:06] #855 closed

[2018-03-18 13:07] pkarw commented on #888
To be discussed :)

[2018-03-18 13:09] pkarw commented on #888
Good example is a Headless CMS integration: https://github.com/DivanteLtd/vue-storefront/issues/804

I imagine the integration as a Core component like `<CmsBlock path="headless cms identifier" />`. When embeded it get's via Headless CMS api the JSON object to be displayed.

Then as a theme developer you create your own component like BlogPost.vue which has "CmsBlock" as a mixin. In your component

[2018-03-18 13:12] filrak commented on #888
I think Such integration should be am extension in a first place

[2018-03-18 13:14] filrak commented on #888
This case is different than what the task is about. This task is about vs core and the data mess here. I agree the data from 3rd partys should be handled differently and case by case

[2018-03-18 13:17] pkarw commented on #888
OK :) I belive that we need a short discussion,  2-3 beers and we ahieve a consensus here ;)

[2018-03-18 13:38] filrak commented on #888
...or kill each other ;)

[2018-03-18 13:42] filrak commented on #884
@pkarw such service could also use a register page so i think its not a security issue

[2018-03-18 15:06] pkarw opened #892 "Add all required install steps to Travis"
http://elliot.land/post/using-docker-compose-on-travis-ci

Its the core/scripts/installer.js procedure but not in interactive mode to be copied here. Doing so we will be able to run some HTTP tests to check if there are no critical runtime errors to the core after each build

[2018-03-18 15:07] pkarw commented on #892
The installer script probably just need to have an —silent mode to install the app using defaults

[2018-03-18 17:21] #885 closed

[2018-03-18 17:26] pkarw opened #893 "Prepare Coding Standards and Naming Convention for extension developers"
We need to put all the rules core devs are try to be compliant with into single document that allow extension developers to create quality and coherent code

[2018-03-19 07:42] karolbzik opened #894 "Prepare style guide and unify design of all components"
For default template, we need to publish and stick to one unified style guide, make sure that all views are using the same styling and adjust the default template.

[2018-03-19 08:25] karolbzik commented on #894
@StasiekDivante could you pls pick this issue?

The most important are:
1. Clearing the mess at "Style guide" design by adding sections for particular atoms, molecules and organisms of the UI
![zrzut ekranu 2018-03-19 o 09 23 41](https://user-images.githubusercontent.com/18116406/37584838-487e488e-2b57-11e8-8abd-ddf41958f635.png)

2. Unification of styles (fonts, colors, UI components) used on vie

[2018-03-19 11:37] RIanDeLaCruz commented on #764
@pkarw @filrak Sorry for the delay.

Looking over the project, we could definitely implement it as an extension.

Users would have to do the following, when using this extension:
1) Have their own Algolia account
2) Install the Algolia extension for their platform, ie Magento
  - This is necessary for Algolia to be able to index the site
3) Configure the keys for the extension and in the configura

[2018-03-19 11:57] pkarw commented on #764
Rlan it would be very hard to replace the whole ES feature by Algolia - this make no sense as we're using ES as a database.

I see Algolia as a replacement for text search feature of VS (This Sidebar that's opened while you do search). Just like that. So you need to create an extension exposing this Search component probably. I think you don't have to worry about SSR at this point

It still make s

[2018-03-19 12:04] RIanDeLaCruz commented on #764
To clarify, we just need the Algolia UI? @pkarw

[2018-03-19 12:09] filrak opened #895 "External checkout extension"
Allow to use external checkout (eg from Magento) in VS

[2018-03-19 13:51] smartapant commented on #329
@pkarw I think better password validation on client side could improve UX - it took me a couple of requests to get the idea of the right password format. What do you think?

[2018-03-19 14:49] pkarw commented on #764
I thought that we'll use Algolia API to get the results and display them in one of the Vue.js components

[2018-03-19 15:11] RIanDeLaCruz commented on #764
I was asking my question because of
"it would be very hard to replace the whole ES feature by Algolia - this make no sense as we're using ES as a database"

What did you mean?

[2018-03-20 07:23] pkarw opened #896 "GrapesJS integration for Visual Merchandising parts"
Related to #804 (somehow)

It would be great to have some Vue components that support Graphes Visual Editor.

http://grapesjs.com/

![screenshot 2018-03-20 08 23 40](https://user-images.githubusercontent.com/211899/37640944-043c2256-2c18-11e8-97f7-2f79db2148f7.png)

R&D needed:
- how to manage Vue component blocks inside Graphes (we need to render the blocks to get an output html?)
- how to receiv

[2018-03-20 11:26] filrak opened #897 "Add 'proceed to checkout' action in 'Add to cart' notification"
Such an action would be a great UX improvement
![image](https://user-images.githubusercontent.com/15185752/37651875-e3794a86-2c39-11e8-9d9f-357e4e9f8b2f.png)

[2018-03-20 13:15] pkarw commented on #897
We need extend the `notification` message for the `action2` I belive:

[code]

[2018-03-20 18:18] pkarw opened #900 "Continue to shipping button should be right adjusted after user is logged in"
https://www.dropbox.com/s/cvildmcc12dzs90/Screenshot%202018-03-20%2019.17.31.png?dl=0

[2018-03-20 18:25] #900 closed

[2018-03-20 19:07] pkarw opened #901 "Escape key should close the popups"
For example it doesn't for Login popup

[2018-03-21 10:59] filrak opened #904 "Create order placement test"
The test should simulate filling the checkout form and proceeding to "place order". It should also check if the request was correctly sent to vue-storefront-api without any errors like wrong schema format etc.

[2018-03-21 11:10] phronesis commented on #859
You can assign it to me

[2018-03-21 13:25] Igloczek commented on #888
I have no opinion on this topic yet, but I'll drop some article that may help to choose the right way.

https://hackernoon.com/architecting-single-page-applications-b842ea633c2e

BTW. I would not consider any kind of refactoring as a "good first issue".

[2018-03-21 13:55] pkarw opened #906 "Add the "indexTool" which will be responsible for taking care of ES indexes"
Reference:

- https://github.com/DivanteLtd/vue-storefront-api/blob/8e0b07bfd50cfd95d6fd754224b3f493d73b70f1/migrations/1513602868543-change_field_types.js

- https://github.com/DivanteLtd/magento1-vsbridge/blob/54138ddfc86840f6e8cbba8ebb91b4fd68a84df9/node-app/src/index.js#L267

[2018-03-21 13:56] pkarw commented on #904
This should be E2E test - and the first step is: https://github.com/DivanteLtd/vue-storefront/issues/892

It's funny - we discussed it Today with @bobbyshaw  :)

[2018-03-22 12:41] admench commented on #843
Thanks @filrak - I don't think I quite have the skills to build a connector yet, but may in the future! In the meantime I am making a nuxt.js implementation using the Shopify Javascript SDK.

[2018-03-22 17:15] filrak commented on #843
@admench the integration is not that hard, maybe you should give it a a try at least with basic stuff (we can help with the rest) before creating everything from scratch by yourself - here is a tutorial on how to do the integration https://medium.com/@piotrkarwatka/how-to-connect-3rd-party-platform-to-vue-storefront-df9cb30779f6 . In case of any questions @pkarw will be happy to help you ;)

[2018-03-23 04:27] pkarw commented on #906
https://github.com/DivanteLtd/vue-storefront/blob/develop/doc/Database%20tool.md

[2018-03-23 04:27] #906 closed

[2018-03-23 04:27] #737 closed

[2018-03-23 10:32] HemanthkumarHJ opened #908 "npm run installer is not working"
I am using ubuntu server16.x.

git clone https://github.com/DivanteLtd/vue-storefront-api.git vue-storefront-api
cd vue-storefront-api
npm install

above 3 commands are worked properly, but last one "npm run installer" giving some error like below
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! vue-storefront@1.0.0_RC installer: 'node ./core/scripts/installer'
npm ERR! Exit status 1
npm ERR! Fa

[2018-03-23 10:35] Igloczek commented on #893
#907

[2018-03-23 12:43] pkarw commented on #908
It's hard to say, we need some more info. Please attach the full log of the installer. It's not clear from your description but of course you're running the `npm run installer` inside `vue-storefront` directory right?

Which branch are you using (develop or master)?

[2018-03-23 13:58] pkarw commented on #895
http://demo-magento2.vuestorefront.io/vue/cart/sync/token/s7nirf24cxro7qx1hb9uujaq4jx97nvp/cart/3648

and then check the:

http://demo-magento2.vuestorefront.io/checkout/cart/

[2018-03-23 13:58] pkarw commented on #895
General endpoint URL is: http://demo-magento2.vuestorefront.io/vue/cart/sync/token/{userToken}/cart/{cartId}

[2018-03-23 14:11] benyang2015 opened #911 "the vue-storefront can use one page checkout instead of default checkout？"

[2018-03-23 14:15] pkarw commented on #911
As far as I know there is no module for it; but to be honest - our checkout is very close to One page checkout :)

[2018-03-24 08:38] filrak commented on #895
The frontend ext is coming ;)

[2018-03-24 08:56] filrak commented on #911
The checkout will be rewritten soon to allow more flexibility. Also - you can do one page checkout with this checkout too. You just need to send all section events at the end and voila ;)

[2018-03-24 11:18] pkarw commented on #841
You should create a component for this I belive please take a look at analytics extension as a reference

[2018-03-24 12:20] benyang2015 commented on #911
@filrak the next version(RC2) will release about rewritten checkout?

[2018-03-24 15:01] pkarw commented on #908
I've just tested it on Debian server (https://demo-magento-checkout.vuestorefront.io/) and seems to work;

I've got the following versions of tools:
[code]

[2018-03-24 15:31] noindie opened #912 "Fix checkout form in mobile"
I suggest you to fix this behaviour in mobile form: when you forget to fill in a field and click on the button to proceed there usually is a javascript that brings you back to the "incomplete" field that is required.

![vuestorefronycheckout](https://user-images.githubusercontent.com/10724669/37865738-378d1c0c-2f81-11e8-96ed-69f08b5884e9.png)

ciao

[2018-03-24 15:56] pkarw commented on #895
https://github.com/filrak/vsf-external-checkout
+
https://github.com/DivanteLtd/magento2-external-checkout

DEMO: https://demo-magento-checkout.vuestorefront.io/

[2018-03-24 15:56] #895 closed

[2018-03-24 20:04] filrak commented on #911
Not yet, i'd say rc3

[2018-03-24 20:05] filrak commented on #911
But i can't guarantee

[2018-03-25 14:31] karolbzik commented on #894
@StasiekDivante I've reviewed all your changes, pls check comments on the main Figma file. I think we have the right direction but the design still requires some improvements.

[2018-03-26 06:00] HemanthkumarHJ commented on #908
yes, i am running the `npm run installer` inside `vue-storefront` directory. I am using develop branch.

[2018-03-26 09:35] pkarw opened #916 "Add async, on-demand indexing for modified products (using webhooks)"
https://github.com/smile-io/magento2-module-webhook

Sth like this along with https://github.com/DivanteLtd/mage2vuestorefront/blob/718248035d75eace5696933ed64b27e65812f5ab/src/api/routes/magento.js#L15

[2018-03-26 12:10] #908 closed

[2018-03-26 12:49] pkarw opened #917 "Add generic attribute selectors for configurable products"
Right now we have the product configurable attributes hard-coded to Product.vue page and Category.vue (filters); it should be set once in the config file and the UI should be automatically generated to not let user to get lost in the custom changes

[2018-03-26 12:53] pkarw opened #918 "Move core to separate npm module"
Gentleman, I think it should be the cornerstone task for the RC3; We need to have a plan here. This task is very important for two reasons:
- first, to make vue-storefront very easy to be updated
- second, to make the git-repo management more streamlined.

Right now the best way to work on your custom implementation is to do the fork or another kind of copy of the main repo + then git pull our ori

[2018-03-26 13:10] pkarw commented on #917
I believe we need at least:
- DropdownAttributeSelector
- LabelsAttributeSelector

.. radio buttons - seems like out-dated and hardly scalable solution. We need these UI controls for the Category filters as well.

It's https://github.com/DivanteLtd/vue-storefront/blob/master/core/components/ColorButton.vue and https://github.com/DivanteLtd/vue-storefront/blob/master/core/components/SizeButton.vue

[2018-03-26 14:53] filrak commented on #918
IMO We should keep this project with for development of core and default theme but we should also create a template (separate repo) for creating VS stores.

[2018-03-26 15:17] #882 closed

[2018-03-26 16:37] filrak commented on #917
@pkarw for now only one component would be sufficient but we should provide this two in default theme.

I Will take care of the default one

[2018-03-26 16:57] pkarw commented on #917
Please do I’ll change the logic
W dniu pon., 26.03.2018 o 18:38 Filip Rakowski <notifications@github.com>
napisał(a):

--
--

<https://divante.co/>

Piotr Karwatka
CTO
+48 501 601 055
Dmowskiego 17,
50-203 Wrocław, Poland <https://goo.gl/maps/3WL88P9DqZF2>

Divante.co <https://divante.co/> | Twitter <https://twitter.com/divanteltd>
| GitHub <https://github.com/DivanteLtd>

<https://divante.co/sola

[2018-03-26 18:42] #869 closed, assigned to nobody

[2018-03-26 21:15] jinn-magedev opened #920 "Broken inheritance mechanism for logo.svg"
If you put your custom logo.svg to src/themes/your-theme/assets folder vue-storefront still returns image from core/assets/folder, but if your change file name from "logo.svg" to "logo1.svg" and update logo component to use logo1.svg it returns image from src/themes/your-theme/assets. Looks like file from core/assets has more priority than file from theme/assets. In my opinion it is a wrong approa

[2018-03-26 23:17] francishero opened #922 "No available storage method found"
I followed the instructions for windows.
But after running `npm run dev` for vue-storefront

i get error `UniversalStorage-probably in SSR mode, Error: No available storage method found`

How to reproduce ? Windows 10 machine and follow setup instructions for windows

[2018-03-26 23:18] #922 closed

[2018-03-26 23:18] francishero commented on #922
That was just console output, it works !

[2018-03-27 06:35] pkarw commented on #805
OK, so the preferred option is with Heroku.

https://devcenter.heroku.com/articles/heroku-button
https://github.com/strapi/strapi -> here you have "Deploy to heroku" button included

Challenges:
1. We need to have both: vue-storefront and vue-storefront-api installed by one click
2. Both projects are using Redis and ElasticSearch local instalations - the good news is that we can switch to Heroku a

[2018-03-27 06:44] pkarw opened #923 "Payment's extension boilerplate + short tutorial"
Guys, we're so close to make Your stripe extension the de-facto standard for payment extensions :)

Could You please;
1. Accept my PR with changes to the docs (regarding installation procedure) - https://github.com/develodesign/vue-storefront-stripe
2. Change the name of the plugin to "vsf-payment-stripe" - to make the convention name
3. Change the Component name to "UpperCamelCase" - https://gith

[2018-03-27 06:53] pkarw commented on #920
@jinn-magedev thanks for this report; I belive it can be related to service worker caching strategy we had in place (cacheFirst) - https://github.com/DivanteLtd/vue-storefront/pull/924 -> I've fixed it

Please do the full rebuild to generate new Service Worker ('npm run build') and just after this step run npm dev

Of course, please do Clear Storage before the tests

[2018-03-27 07:25] pkarw commented on #805
Another option is Digital Ocean: https://www.digitalocean.com/products/one-click-apps/django/

[2018-03-27 07:29] pkarw commented on #805
https://www.digitalocean.com/community/tutorials/how-to-create-digitalocean-snapshots-using-packer-on-ubuntu-16-04

[2018-03-27 07:56] jinn-magedev commented on #920
@pkarw I pulled latest changes from master branch, ran 'npm run build' then "npm run dev", cleared storage but I still have this issue

[2018-03-27 10:19] filrak commented on #920
https://github.com/DivanteLtd/vue-storefront/blob/master/core/scripts/server.js#L48 from what i see it should work. I'll test tomorrow... but tbh i think we should get rid of this inheritance mechanism and make alla ssets theme-specific. Now it's a bit confusing and radundant to have assets in core

[2018-03-27 13:33] webzellentOpenSource commented on #840
In the Settings (Hotjar) page the following must be set:

"Track changes automatically, including fragments"

Link: https://help.hotjar.com/hc/en-us/articles/115011805428-Hotjar-on-Single-Page-Apps

[2018-03-27 13:51] #917 closed

[2018-03-27 14:00] filrak opened #931 "Add possibility to extend Vuex stores in themes"

[2018-03-27 14:01] filrak opened #932 "Add possibility to extend Vuex plugins on themes"
`plugins.js` in `theme/store`

[2018-03-27 16:40] nuovecode commented on #886
I'm just jotting down a few ideas to start a discussion.

- I would really like a strong deploy strategy for a VS project. We discussed a bit on slack but I'd like to deepen. In development you can fork the project and then develop the theme inside it. Correct? but I'd like not to keep all the core under version control, I'd like to have in the repo of my project just a configuration file (and may

[2018-03-28 06:06] pkarw commented on #908
Please check if You have docker-compose installed - https://docs.docker.com/compose/install/

[2018-03-28 08:37] StasiekDivante opened #934 "Mobile side menu"
<img width="629" alt="screen shot 2018-03-28 at 10 35 04" src="https://user-images.githubusercontent.com/37068687/38017893-b3792258-3273-11e8-82fc-9651dda6cd63.png">
On mobile side menu should take full width, on other sizes stays as it is
Would be great to make dividers start/end 15 px from each site on mobile, drop if too time consuming

[2018-03-28 17:06] #920 closed

[2018-03-29 03:05] #525 closed

[2018-03-29 08:06] ganeshr28 opened #944 "giving error while installing vue-storefornt"
@pkarw
while installing i am getting error
![screenshot from 2018-03-29 13-36-06](https://user-images.githubusercontent.com/32222445/38077309-2e887f60-3356-11e8-9e89-bda89e0639bf.png)

[2018-03-29 13:15] pkarw commented on #944
Hello please try again with the latest version pulled from the git; I've fixed one installer related issue and it works for me on Debian Linux

If the problem occurs, please go to `vue-storefront` directory and execute the sequence of:

`yarn install
yarn build`

Then please provide us with the console output of these commands

[2018-03-30 09:20] #934 closed

[2018-03-30 09:35] StasiekDivante opened #952 "Font weight"
All fonts with **weight light should be replaced with weight regular** and fonts with **weight normal should be replaced with weight bold**

[2018-03-30 09:47] StasiekDivante opened #953 "No breadcrumbs and different font size on mobile"
right now there is no bredcrumbs on mobile:

<img width="503" alt="screen shot 2018-03-30 at 11 45 57" src="https://user-images.githubusercontent.com/37068687/38133564-099d85fa-3410-11e8-8a8c-c1e23cf9f315.png">

also header should be a little bit bigger (36px instead of 24px)

<img width="359" alt="screen shot 2018-03-30 at 11 42 29" src="https://user-images.githubusercontent.com/37068687/38133588

[2018-03-30 09:50] StasiekDivante opened #954 "Spacing problem"
right now header have same margin on top and bottom

![screen shot 2018-03-30 at 11 47 55](https://user-images.githubusercontent.com/37068687/38133631-512aa268-3410-11e8-835d-5fff52ad19de.png)

Spacing should be 35px on top and 10px at the bottom on mobile

<img width="459" alt="screen shot 2018-03-30 at 11 48 05" src="https://user-images.githubusercontent.com/37068687/38133646-62e1beb0-3410-11e8-

[2018-03-30 09:51] collymore commented on #923
This has now been published with the changes requested to https://www.npmjs.com/package/vsf-payment-stripe
We'll work on a template boilerplate and some detailed instructions next.

[2018-03-30 09:53] StasiekDivante opened #955 "Capital button letters"
All buttons should have normal case letters instead all caps

![screen shot 2018-03-30 at 12 02 41](https://user-images.githubusercontent.com/37068687/38134278-8ea55e24-3412-11e8-8e9c-3f97977753b1.png)
![screen shot 2018-03-30 at 11 51 23](https://user-images.githubusercontent.com/37068687/38134279-8ec2baf0-3412-11e8-98c7-32ffa8f91c2d.png)

[2018-03-30 09:54] StasiekDivante opened #956 "Slight color change"
Change all #333 colors to #4F4F4F

[2018-03-30 10:01] StasiekDivante opened #957 "Button shift"
When you hover over topbar icon on desktop button shifts ~2px to the bottom

![screen shot 2018-03-30 at 11 31 33](https://user-images.githubusercontent.com/37068687/38133985-a72bd9ce-3411-11e8-8801-3d9e117291b8.png)

icons should be aligned to exact height of topbar

<img width="220" alt="screen shot 2018-03-30 at 12 00 57" src="https://user-images.githubusercontent.com/37068687/38134146-2030124a

[2018-03-30 10:11] pkarw commented on #923
Cool!

[2018-03-30 10:40] StasiekDivante opened #958 "Improvements of the input labels in forms"
If input is in focus or have value in it upper label should be visible

<img width="618" alt="screen shot 2018-03-30 at 12 39 53" src="https://user-images.githubusercontent.com/37068687/38135266-8127ed52-3417-11e8-85b5-9910696df424.png">

right now there is no label at all

![screen shot 2018-03-30 at 12 37 51](https://user-images.githubusercontent.com/37068687/38135270-89c6634e-3417-11e8-9839-b19

[2018-03-30 12:52] karolbzik opened #961 "Adjustments in the product box"
We need to adjust product box:
1.  Product box doesn't stick to the grid => it should stick to the grid of the page;
2. Product box has his own padding/margin => it shouldn't have any padding/margin, it should stick to the grid;
3. Image area inside product box doesn't fit the high of the image => image area should fit the height of the area, I suggest setting the minimum height = width of the who

[2018-03-30 13:56] lorenaramonda commented on #957
Hi @StasiekDivante can you please more specific about browsers and devices where this happens?

[2018-03-30 13:58] StasiekDivante commented on #957
sure, it's safari on macOS High Sierra

[2018-03-30 14:05] lorenaramonda commented on #957
ok, thanks. gonna have a look 😉

[2018-03-30 14:23] lorenaramonda commented on #955
Hi @StasiekDivante that said, you mean removing all .uppercase class? Because I think it's that class that cause the uppercase

[2018-03-30 14:43] lorenaramonda commented on #956
Hi @StasiekDivante just to be sure to operate in the right context, can you make an example in where it should changed, ie a button?
I see that #333 is set as value of the color variable of night-rider, if this color should not be present at all we could consider to remove it from variables list and replacing it where used with the proper color (#4f4f4f)

[2018-03-30 17:48] lorenaramonda opened #965 "Bug on account menu on Firefox"
In Firefox the account menu closes before succeeding selecting any of the links into the dropdown

<img width="254" alt="firefox-issue" src="https://user-images.githubusercontent.com/4409084/38147488-d7486ac8-3452-11e8-9171-13e821a259fc.png">

[2018-03-30 18:18] StasiekDivante opened #966 "Adjustments in "My account dropdown" component"
<img width="289" alt="screen shot 2018-03-30 at 20 14 03" src="https://user-images.githubusercontent.com/37068687/38148506-187bf9b6-3457-11e8-919a-302fca560a05.png">

Dropdown redisn

<img width="183" alt="screen shot 2018-03-30 at 20 14 57" src="https://user-images.githubusercontent.com/37068687/38148527-27c32eee-3457-11e8-9774-15e09ff34c29.png">

- text should be aligned left
- fonts should have

[2018-03-30 18:34] karolbzik opened #967 "Adjustments in the products slider component"
Current state:
![2](https://user-images.githubusercontent.com/18116406/38148468-f640250c-3456-11e8-99dc-4f57e567e002.png)

Desired state:
<img width="623" alt="zrzut ekranu 2018-03-30 o 20 15 15" src="https://user-images.githubusercontent.com/18116406/38148505-1749a70a-3457-11e8-8952-aceed28d85e6.png">

We need to improve products slider:
1. Currently, product boxes on slider contain name and pric

[2018-03-30 19:02] karolbzik opened #968 "Adjustments in the Get inspired component"
Current state:
![6](https://user-images.githubusercontent.com/18116406/38149365-97240882-345a-11e8-85fa-accf76f4f0a7.png)

Desired state:
<img width="575" alt="zrzut ekranu 2018-03-30 o 20 39 45" src="https://user-images.githubusercontent.com/18116406/38149337stickbdcc-345a-11e8-96cc-3d07e8470e19.png">

Adjustments:

1. Inspiration boxes should stick to the grid, the spacing between components sho

[2018-03-30 19:02] karolbzik commented on #967
After making these changes from this issue - please assign this issue to me so I could verify the changes and make sure that everything is working well.

[2018-03-30 19:50] karolbzik opened #969 "Adjustments on the "Sidebar menu" feature"
Current state:
<img width="367" alt="zrzut ekranu 2018-03-30 o 21 38 21" src="https://user-images.githubusercontent.com/18116406/38151227-b6aac2ce-3462-11e8-8812-2f9680637382.png">
<img width="359" alt="zrzut ekranu 2018-03-30 o 21 38 13" src="https://user-images.githubusercontent.com/18116406/38151228-b6d2355c-3462-11e8-90dc-6820f0142442.png">
<img width="606" alt="zrzut ekranu 2018-03-30 o 21 37

[2018-03-31 08:05] pkarw commented on #944
Is it any better after the changes? Can we close this one?

[2018-03-31 08:13] karolbzik commented on #969
After making these changes from this issue - please assign this issue to me so I could verify the changes and make sure that everything is working well.

[2018-03-31 08:16] pkarw opened #970 "Add asyncData() support for the subcomponents"
Somehow related to:
https://github.com/nuxt/nuxt.js/issues/32#issuecomment-377523977

https://nuxtjs.org/faq/async-data-components/

Why loading the data into core/pages is not optimal solution? Because it breaks the SRP principle - when You like to add your let's say `ProductDetails` component to other page You need to somehow duplicate the data fetching logic. Of course, we can move the more-sop

[2018-03-31 08:28] pkarw commented on #753
Blocker: #918

@Igloczek are you on this maybe?

[2018-03-31 08:29] #640 closed

[2018-03-31 08:30] pkarw commented on #838
@talalus how about this one? :)

[2018-03-31 08:32] pkarw commented on #792
@collymore do You think that's doable to add the Payment Request experimental support for credit cards and Stripe?

It would be one of the first eComm platforms supporting this new standard

[2018-03-31 08:48] karolbzik commented on #966
I made some adjustments to make this dropdown:
<img width="311" alt="zrzut ekranu 2018-03-31 o 10 42 48" src="https://user-images.githubusercontent.com/18116406/38161507-77397784-34d0-11e8-9c2a-9bc19b42a270.png">

Important:
1. Heigh of a single row in the navigation = 40px
2. Shadow 10px 10% of visibility;
3. Mouseover - a different color for a row and font

The design is available in "My orders"

[2018-03-31 09:07] qiqqq commented on #966
@pkarw I can do this improvement. You can assign this to me.

[2018-03-31 09:08] pkarw commented on #966
Thanks!

[2018-03-31 09:11] qiqqq commented on #965
@pkarw this is related with #966 so i can fix this also

[2018-03-31 09:16] talalus commented on #838
I'll work on it in this weekend

[2018-03-31 13:02] karolbzik opened #971 "Adjustments on "Search sidebar widget" component"
Current state:
<img width="876" alt="zrzut ekranu 2018-03-31 o 14 27 53" src="https://user-images.githubusercontent.com/18116406/38163168-c85b079e-34ef-11e8-9643-2981bfddf601.png">
<img width="935" alt="zrzut ekranu 2018-03-31 o 14 27 34" src="https://user-images.githubusercontent.com/18116406/38163170-c87d2f04-34ef-11e8-9240-94118cbfc0ec.png">
<img width="366" alt="zrzut ekranu 2018-03-31 o 14 27

[2018-03-31 14:28] pkarw commented on #99
@karolbzik I would love to implement media sync and close the gallery feature; are you willing to provide some designs?

[2018-03-31 14:53] lorenaramonda commented on #965
I think it happens because the dropdown menu is **inside** the button tag that actually it's not valid html code, I guess.

[2018-03-31 15:34] #944 closed

[2018-03-31 15:44] karolbzik opened #972 "Adjustments on "Order confirmation page""
Order confirmation page = thank you page.

Current state:
<img width="397" alt="zrzut ekranu 2018-03-31 o 15 49 50" src="https://user-images.githubusercontent.com/18116406/38163871-5d00598e-34fb-11e8-983d-961f26bcddc1.png">
<img width="1227" alt="zrzut ekranu 2018-03-31 o 15 49 36" src="https://user-images.githubusercontent.com/18116406/38163873-5d22fbec-34fb-11e8-9c0b-6c97b89a698a.png">

Desired

[2018-03-31 15:52] karolbzik commented on #648
I've updated a little the project, the most important changes:
- Unified fonts (color, size, weight)
- Separating lines on the mobile view
- Number of reviews in the headline of the section with reviews

<img width="360" alt="vs - 3 1 product cart on mobile 31 03 2018" src="https://user-images.githubusercontent.com/18116406/38164915-0c1312e4-350c-11e8-9c57-05a7589c7076.png">
<img width="1440" alt=

[2018-03-31 15:53] karolbzik commented on #648
After coding and releasing - assign me please this task later so I could perform UX tests.

[2018-03-31 15:56] karolbzik commented on #854
I agree with @filrak.

[2018-03-31 16:49] karolbzik commented on #99
@pkarw it's ready

Gallery on mobile, visible after clicking zoom icon / photo
<img width="360" alt="3 3 product card with zoomed photo on mobile" src="https://user-images.githubusercontent.com/18116406/38165462-f9bedd8c-3513-11e8-823f-6d42313b7bf8.png">

Gallery on desktop, visible after clicking zoom icon / photo
<img width="1440" alt="3 2 product card with zoomed photo" src="https://user-images

[2018-03-31 18:28] pkarw opened #973 "Fix the PWA manifest regarding iOS limitations"
https://medium.com/@firt/progressive-web-apps-on-ios-are-here-d00430dee3a7?source=linkShare-40e7fcac2098-1522520805

1. The icon - shouldn’t require transparent background (not supported on iOS)
2. App Top Bar - now it’s transparent and totally not usable
3. Is there a way to fix the Splash screen?

[2018-03-31 19:32] karolbzik commented on #99
All designs are available here - https://www.figma.com/file/VKyqbHFI55TKIKcQlFLiVpVF/Vue-Storefront under the names:
- Product card (including mouse over and mouse away the image)
- Product card on mobile
- Product card with zoomed photo
- Product card with zoomed photo on mobile

Important issues:
1. Distance between photos in zoomed photos view = 30px
![20](https://user-images.githubusercontent.

[2018-03-31 19:32] karolbzik commented on #99
Assign me please to test this feature after it's done.

[2018-03-31 20:04] karolbzik opened #974 "Adjustments on Product card in the top with key information"
Here I listed a few adjustments for the top of the product card (the area with photo, name, price, colors/size, buttons etc; all above the Product details area).

Current state:
![25](https://user-images.githubusercontent.com/18116406/38166953-25175874-352d-11e8-990e-846198f873d2.jpg) and mobile
![26](https://user-images.githubusercontent.com/18116406/38166970-8cf4154a-352d-11e8-8b34-7173daf8b94f.

[2018-03-31 20:17] karolbzik opened #975 "Adjustments on Product card in Product details"
Current state:
<img width="378" alt="zrzut ekranu 2018-03-31 o 22 05 20" src="https://user-images.githubusercontent.com/18116406/38167088-cccc7778-352f-11e8-8561-c07c5b1c046f.png">
<img width="1018" alt="zrzut ekranu 2018-03-31 o 22 04 50" src="https://user-images.githubusercontent.com/18116406/38167089-cceee5b0-352f-11e8-9c30-fde81f1da845.png">

Desired state:
<img width="245" alt="zrzut ekranu 2

[2018-03-31 20:18] karolbzik commented on #975
Please assign me for testing this issue after it will be done.

[2018-03-31 20:18] karolbzik commented on #974
Please assign me for testing after these adjustments will be done.

[2018-03-31 20:21] karolbzik commented on #971
Please assign me for testing after this issue will be done.

[2018-03-31 20:25] karolbzik commented on #966
@qiqqq great, thanks! Before closing this issue please assign it to me for testing.

[2018-03-31 20:28] karolbzik commented on #958
We designed all forms based on Material Design guidelines - https://material.io/guidelines/components/text-fields.html, official documentation may be useful here.

[2018-03-31 20:40] karolbzik commented on #955
@lorenaramonda yes, we improved styling for all buttons, key changes are:

Desired state:
<img width="318" alt="zrzut ekranu 2018-03-31 o 22 31 32" src="https://user-images.githubusercontent.com/18116406/38167311-8861e952-3533-11e8-9bf9-0038e8374563.png">
<img width="256" alt="zrzut ekranu 2018-03-31 o 22 31 55" src="https://user-images.githubusercontent.com/18116406/38167312-8885f52c-3533-11e8-90

[2018-03-31 22:25] filrak commented on #753
@Igloczek it's rather easy to migrate to vue-cli 3.0 if we will have some webpack magicians.

For now I think we should just create npm package with core folder (npm ignore for everything else - it will remain just for development purposes) and prepare some boilerplate template on other repo with structure similar to current `src` folder). WDYT?

[2018-03-31 22:31] filrak commented on #967
I don't agree with some of the desired changes. I'll discuss it with @karolbzik and then change accordingly ;)

[2018-04-01 09:31] pkarw opened #976 "Separate Vuex stores as npm module"
Related to #918

I think it would be great to have the whole data api (aka vuex stores :)) in separate npm module. By refactoring the project to such form we'll allow developers to play wth the eCommerce data models and Magento (vue-storefront-api) integration in their own projects - no matter if based on Vue.js or React ...

This potentially is great value because around 50% of time spent on the

[2018-04-01 09:46] pkarw commented on #976
TODO:
[ ] Move the 'theme/store' dependency out of the 'store/index.js' to avoid the circular references
[ ] Move 'core/lib/storage' to 'core/store/lib/storage' - this module is used ONLY by Vuex stores
[ ] Add localForage dependency to package.json
[ ] Move the 'core/lib/search' to 'core/store/lib/search' - this module is used ONLY by Vuex stores
[ ] Add bodybuilder dependency to package.json
[ ]

[2018-04-01 16:39] lorenaramonda commented on #955
Thank you @karolbzik, having a style guide is way much helpful, especially for those not on the project since the beginning. If these are all the info needed for this task, I would be happy to help you.

[2018-04-01 20:46] filrak opened #977 "Create LastTimeOnline plugin [simple version]"
This plugin will allow developers to check how long user has been offline and use this knowledge to modify some parts of app beheviar.
For example if user is offlien more than one hour he cant aadd anything to cart (only to wishlist)

[2018-04-02 08:06] pkarw commented on #973
The topbar need to be fixed on android as well. It's kind of orange :) should be white

[2018-04-02 11:47] alexjoverm opened #979 "VS integration with Nuxt"
Hi there! Loving vue-storefront, I find it very well done and in my company we're deciding whether to use it for the next online store project.

The thing is, we wanted to use Nuxt and have full SSR support, so some questions arise:

 - Is it possible to integrate VS with Nuxt? Any guidance and examples to do that?
 - How's the SSR support so far? I've found some issues such as #138 #165 but it's

[2018-04-02 13:20] filrak commented on #979
VS SSR support out of the box works very well so you don't need nuxt ;) We are supporting it fully for SEO purposes and rendering speed.

[2018-04-02 14:20] pkarw commented on #99
@nuovecode I'm merging this in but there is just one bug with the zoom on mobile: https://www.dropbox.com/s/ii2b7tn8si5w6pw/Screenshot%202018-04-02%2016.19.17.png?dl=0

[2018-04-02 15:47] #202 closed

[2018-04-03 10:30] karolbzik commented on #966
@qiqqq there was a good suggestion from @StasiekDivante that we should add a margin 5px like this ![27](https://user-images.githubusercontent.com/18116406/38244385-c88b6e8c-373a-11e8-9a48-f602c3942b48.png)

@StasiekDivante thanks!

[2018-04-03 13:47] pkarw opened #981 "Rename API urls /api/changePassword and /api/resetPassword"
... accordingly to: /api/change-password and /api/reset-password

[2018-04-04 03:12] pkarw opened #982 "Fix the order-history to display the most recent orders"
https://www.dropbox.com/s/7mh03k5o7no3kg6/Screenshot%202018-04-04%2005.08.55.png?dl=0

Requires some tweaks to `/user/order-history` api endpoint

[2018-04-04 10:52] pkarw opened #983 "Problem adding grouped products to the cart"
https://www.dropbox.com/s/o85ma2e8735rlam/Screenshot%202018-04-04%2012.50.56.png?dl=0

It seems like problem with searching by SKU, preparing the grouped product

[2018-04-04 11:11] pkarw commented on #983
By some reason this simple sub-product has type_id = 'simple' and 'configurable_children' set; seems like some residual data

https://www.dropbox.com/s/z6iezp9jq0lunya/Screenshot%202018-04-04%2013.10.35.png?dl=0

[2018-04-04 11:46] pkarw commented on #983
We need to add type_id==='configurable' check to https://github.com/DivanteLtd/vue-storefront/blob/9e40c1afb338c9bf6e147a60461c85fd33ae14e6/core/helpers/index.js#L30 as well

[2018-04-04 18:35] jasonmarysael opened #984 "Installation issue - Can't restore data for ElasticSearch."
When running the installation I face the following error:

![err1](https://user-images.githubusercontent.com/28600053/38326967-5de42d86-3847-11e8-8619-173c3ce86d86.png)

install.log:

![err2](https://user-images.githubusercontent.com/28600053/38327002-759fd2d6-3847-11e8-988e-63f99159e166.png)

Can anybody please tell me what I am doing wrong?

[2018-04-05 03:59] pkarw commented on #984
Seems like Elastic Search isn't working; please take a look at this: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/FAQ%20and%20Receipes.md#problem-docker-installer

Please check the output from `docker-compose up -d` in `vue-storefront-api` directory. Then make sure that ES is working properly by - for example running: `curl -i http://localhost:9200`

In the end if there is a perman

[2018-04-05 11:34] filrak opened #986 "Make extensions theme specific"
Desired path for `src/extensions` is `src/{theme}/extensions`.

Right now we have one global place for extensions which is ok for developing single themes but doesn't work good with multiple themes since it requires all of them to support all extensions so they should be theme specific

[2018-04-05 11:41] thomasthune commented on #923
Ok, so for me the only payment method showing up on the checkout page is the default, "cashondelivery". As far as i can see the checkout reads payment methods from a different store, than where the payment methods are added.
Checkout reads from the cart store and the payment methods are added to the payment store.

I am a bit unsure as to where it should be placed. It is possible to change the get

[2018-04-05 11:59] thomasthune commented on #923
Using payment store instead of cart, added action and getter. If this is on the track, let me know and i will create a PR. https://github.com/thomasthune/vue-storefront/commit/2f91cbe9782834f9833d5bc95e68029833a33c46

[2018-04-05 13:00] pkarw commented on #923
This seems like good idea to unify this. Please proceed, please test the checkout extensively before pushing out the PR ok?

[2018-04-05 13:35] francishero opened #987 "invite to slack"
Request for invite to slack, seems email way is not working

[2018-04-05 15:16] pkarw commented on #987
I believe I've already send you invitation could you confirm?

[2018-04-05 17:51] #987 closed

[2018-04-05 17:51] #979 closed

[2018-04-06 05:26] francishero commented on #987
Nothing

On 5 April 2018 at 09:51, Piotr Karwatka <notifications@github.com> wrote:

[2018-04-06 08:38] bartdominiak commented on #972
can I take this one?

[2018-04-06 08:53] pkarw commented on #972
Sure, go on!

[2018-04-06 10:13] Januszpl commented on #897
Working on it

[2018-04-06 10:44] Igloczek commented on #753
After some research, I think that releasing the current version of the core as npm package make no sense at all.

- all dependencies are added in the root, so core itself is useless
- webpack works as a standalone tool, it's hard to use it from outside or customize - we will need to build something like Nuxt, which at least for me, is too complicated - https://github.com/nuxt/nuxt.js/tree/dev/lib/

[2018-04-06 11:06] szafran89 commented on #901
@anqaka as we discussed over chat, it would be better if you care about this one ;)

[2018-04-06 11:15] anqaka commented on #901
@szafran89 I'll try to make modals accessible, I cannot make assignment  for now

[2018-04-06 11:56] #984 closed

[2018-04-07 09:30] akbarik opened #992 "Russian translation"
Add Russian translation to i18n

[2018-04-07 23:15] makiten commented on #982
Does the API call only come from Magento?
If so, would the fix be in `vue-storefront-api`, since `src/platform/magento2/magento2-rest-client/lib/customers.js` is where the API call happens?

[2018-04-08 05:17] jimcreate78 opened #994 "Move manifest.json to theme"
The manifest file contains all of the customization for the pwa which should be in the theme folder.

[2018-04-08 20:57] collymore commented on #973
Assign this to me and I'll fix this.
There are also a few basic fixes from Lighthouse testing I'll look at

<img width="781" alt="screen shot 2018-04-08 at 21 55 38" src="https://user-images.githubusercontent.com/55946/38472421-b7a24b40-3b77-11e8-925b-c15362555a05.png">

[2018-04-09 02:05] pkarw commented on #973
Thanks Luke!

[2018-04-09 02:06] pkarw commented on #966
It should appear in the dropdown menu as other links I belive

[2018-04-09 07:58] filrak commented on #994
@jimcreate78 as @pkarw said good point ;) Maybe you will take care of this?

[2018-04-09 08:00] filrak commented on #977
https://github.com/filrak/offline-timer - now everything that's left is integration to a plugin

[2018-04-10 08:09] pkarw commented on #923
@collymore any progress in here? :)

[2018-04-10 09:57] qiqqq commented on #966
@karolbzik this is done on **feature/my-account-dropdown** branch in my repository. Let me know uf you test it, I will create pull request.

[2018-04-10 10:46] bitbager opened #1001 "Data bridge skeleton"
Hello there!

Are you planning to prepare a data bridge extension skeleton? It’s nice to depend on Pimcore or Magento data bridges, but all of them differ a lot from each other and contain code that's redundant for a new bridge integration.

What I mean by a skeleton is a totally new repository, which would contain only what's needed for the 3rd party integration with a nice manual on how to make

[2018-04-10 10:49] bitbager opened #1002 "Testing the app"
Hi again 🙂

I did not find any documentation on how to test the app. Although it has some tests, actually the Modal spec was the only one I found, I have no clue on how to run and debug specific parts of the app, especially the ones I'm implementing & customizing in the src.

Do you have any recommended way of testing specific features? Perhaps it would be great to at least describe it in the docs

[2018-04-10 11:20] mohc opened #1003 "CONTRIBUTING.md broken link to coding guidelines"
The coding guidelines link in the CONTRIBUTING.md file returns a 404 not found.
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Coding%20Guidelines.md

[2018-04-10 11:22] #1003 closed, assigned to nobody

[2018-04-10 11:29] pkarw commented on #1001
Good point, however we don't it on our roadmap :( Please take a look at github.com/DivanteLtd/magento1-vsbridge -> node-app.

This is a pretty good example of how the skeleton can look like. The assumption is that API endpoints returns the data in the exact same format as ElasticSearch entities (arrays of JSON)

So in case when we do have API specs for the endpoints  and this skeleton node-app ->

[2018-04-10 12:19] bitbager commented on #1001
Sure. Once I master it, I think it should be straightforward to publish it 🙂

[2018-04-10 12:41] #983 closed

[2018-04-10 12:44] pkarw commented on #986
I think we should have support for both: global extensions and theme level extensions

[2018-04-10 12:54] #986 closed

[2018-04-10 12:54] pkarw commented on #986
Done with https://github.com/pkarw/vue-storefront/commit/8911093e986fb41b931a7525eaa3e324e88e1218

[2018-04-10 13:00] pkarw commented on #994
Done

[2018-04-10 13:00] #994 closed

[2018-04-10 13:01] pkarw commented on #966
Ready for tests: https://test.vuestorefront.io

[2018-04-10 14:02] #976 closed

[2018-04-10 16:31] filrak commented on #1002
Since it is a vue application most of the tests can be done with vue devtools. The sync parts need to be checked in magento directly

[2018-04-10 16:46] qiqqq commented on #965
@pkarw @filrak fixed, we can close this issue

[2018-04-10 21:44] unherz opened #1008 "ISO language codes and translations"
Hello everyone

atm there are some translations wiht ISO code names like "en-US" or "de-DE".
**Is there a need or a usecase for a more complete list of translations like "en-AU", "en-GB"?**

On the one hand we are talking about simple translations but on the other hand date formats might change per country + language. Also there are some people with a fixed languagecode in their browser like "en-G

[2018-04-10 22:44] davidxiao opened #1009 "Hi, How about adding marketplace?"

[2018-04-11 03:57] pkarw commented on #1009
This is pretty tempting but also a very broad topic to cover. I’m afraid we won’t be able to take care of this by ourselves because of the resources. Would be great to have some community members / partners looking after this feature

[2018-04-11 04:00] pkarw commented on #1008
You’re basically right but we’re using the ISO codes for culture selection as you said- because of the general internationalization (currency, date formats). At this stage is just on the roadmap but this was the reason

[2018-04-11 07:48] kyvaith commented on #792
Stripe imposes a fee on payments. Please implement Payment request API directly as a default payment method.

[2018-04-11 07:53] kyvaith opened #1010 "Please implement Google Yolo as a default sign in/sign up method"
Would be great to get a native sign in/sign up mechanisms on three major platforms (Google, Apple, Microsoft). Lets start with Google: https://developers.google.com/identity/one-tap/web/
Its implemented on Polymer demo store: https://polykart-credential-payment.appspot.com/list/mens_tshirts

[2018-04-11 08:04] kyvaith commented on #812
From my perspective would be better to implement #896 for building views and integrate https://github.com/TryGhost/Ghost for blogging.

[2018-04-11 08:09] kyvaith commented on #699
This should be provided with extensible "custom action" after purchase. In example the purchased ebook should open in a web player.

[2018-04-11 08:12] kyvaith commented on #804
Also, please refer to my proposal https://github.com/DivanteLtd/vue-storefront/issues/812#issuecomment-380364586

[2018-04-11 08:38] kyvaith opened #1011 "Progressive Web AMPs"
Maybe as a part of next big release, but vue-storefront should defenitly leverage next big approach of integrating AMP with PWA. Please refer to:
https://www.smashingmagazine.com/2016/12/progressive-web-amps/#amp-to-pwa
https://amphtml.wordpress.com/2016/08/22/getting-started-with-amp-for-e-commerce/
https://ampbyexample.com/introduction/amp_for_e-commerce_getting_started/

Example of AMP that ins

[2018-04-11 09:01] kyvaith opened #1012 "Add support for iOS payment request api with Apple Pay"
Google's implementation of Payment Request API works great on Chrome (and Samsung Web Browser) and Edge (and PWAs form MS Store). Apple did it diferentntly, so if #973 wil be done, implementing #86 should be done with support for Apple Pay https://webkit.org/blog/8182/introducing-the-payment-request-api-for-apple-pay/

[2018-04-11 09:03] kyvaith commented on #923
Please refer to my comment: https://github.com/DivanteLtd/vue-storefront/issues/792#issuecomment-380360536 and this: https://github.com/DivanteLtd/vue-storefront/pull/822#issuecomment-380362934

[2018-04-11 13:07] filrak commented on #1012
Apple pay will require separate extensions for Magento (or other paltforms) similar to Stripe payments extension ( https://github.com/develodesign/vue-storefront-stripe ). Will you take care of this?

[2018-04-11 15:56] djpaoloc commented on #984
Try to install Elasticsearch + Redis
`brew install elasticsearch`
`brew install redis`
(if use OSX)

[2018-04-11 17:48] wsheldon opened #1015 "AWS?"
Brilliant project!  Thanks Piotr and others.

At first glance, it seems that AWS Elasticsearch, ElasticCache, DynamoDB, Lambda and CloudFront could be leveraged for those services.  Then wrap it all into a CloudFormation template and distribute.

Has anyone tried this?  I may give it a shot, out of curiosity.

[2018-04-11 19:41] pkarw commented on #1015
Hi Wilson, thanks! Yes, Your idea sounds like a way to go, it will be marvelous to have a demo showing the VS on cloud

Could You try to take care of this?

[2018-04-11 19:43] pkarw commented on #1011
@filrak @Igloczek guys could I put you in on this?

[2018-04-11 19:43] #1009 closed

[2018-04-11 19:43] #1008 closed

[2018-04-11 19:45] pkarw commented on #1010
Thanks, good point. We definitely should consider this integration. It's to be checked how it will involve the Magento / Custom backend Authorization mechanisms - and how should we integrate with them

[2018-04-11 19:54] kyvaith commented on #1010
IMO by pushing password-less account entity to Magento DB, but I'm not a developer. Do you assume direct Magento login for implementations using vue-storefrontend?

[2018-04-11 20:00] pkarw commented on #1010
We're relying on the backend authorization and personal data storage - and we don't have any personal data stored in Elastic/Mongo etc. So it's for a discussion (because it must be integrated and integrated with all the possible backends - Magento1, Magento2, Pimcore). We're using general JS tokens based authorization mechanism against some central databsae (for example on demo.vuestorefront.io it

[2018-04-12 07:01] pkarw opened #1016 "Vue Storefront for Kiosks"
Please let us know if it make any sense: Vue Storefront theme to offer the shopping experience in offline (offline kiosks for the in-shop buyers) - or just catalogs.

It opens whole new perspectives and user groups for the project - retailers entering Online and wanting to integrate online + offline

[2018-04-12 07:08] #1016 closed

[2018-04-12 11:07] Igloczek commented on #1011
I'll just copy paste my answer from Slack :)
"I know it's possible to build "PWAMP", but this product needs a lot of love to be fully functional SPA, then we can think about more and more PWA features and then maybe we should think about AMP.
Stop hyping on cool acronyms, do one thing good and them move forward"

[2018-04-12 15:02] wsheldon commented on #1015
@pkarw Hi Piotr, yes I will try to work on this in the next few weeks.  It may ultimately be a CloudFormation template but hoping it doesn't require a fork (though that may be necessary).  Thanks!

[2018-04-12 16:54] pkarw opened #1017 "Publish the core/store as separate npm extension using Lerna"
Bartek coul You help me with this?

[2018-04-12 19:10] pkarw opened #1018 "Add customer token renewal mechanism"

[2018-04-13 09:03] pkarw opened #1019 "Optimize the Home page slider (image sizes) + Lightouse performance results"
The performance got degraded during the active development of last few months. We need to run som Lightouse reports and focus on bringing it back :)

Who's excited for this challenge? :-)

[2018-04-13 10:45] #957 closed

[2018-04-13 10:45] pkarw commented on #1001
https://github.com/DivanteLtd/magento1-vsbridge/blob/master/doc/VueStorefrontBridge%20API%20specs.md here You have the docs for the API that should be exposed to have full integration (checkout, shopping carts, user accounts + catalog) with the example on Magento1 (partially implemented yet)

[2018-04-13 10:47] pkarw commented on #1001
Having such API you need to use:
- node-app - https://github.com/DivanteLtd/magento1-vsbridge/tree/master/node-app - for consuming the endpoints responsible for the catalog (attributes, products, categories, taxrules)
- vue-storefront-api - to proxy the rest of the endpoints (it should be transparent proxy in this case as the VueStorefrontBridgeApi == vue-storefront-api bridge)

[2018-04-13 10:48] filrak commented on #86
It's ntoa ssigned to anyone so I will take care of this ;)

[2018-04-13 19:37] pkarw commented on #953
@jmikolajczyk the breadcrumb doesn't look good on the Product page / mobile version: https://www.dropbox.com/s/5kniaigkpaudc8o/Screenshot%202018-04-13%2021.33.17.png?dl=0

Also on static pages like /legal the font size hasn't been fixed to 36px

[2018-04-14 06:44] pkarw commented on #958
Tomek could you make this happen?:)

[2018-04-14 06:44] pkarw commented on #952
And this one :)

[2018-04-14 06:47] #955 closed

[2018-04-14 06:49] pkarw commented on #838
@talalus how about this ticket?

[2018-04-14 11:35] Tjitse-E opened #1026 "Add configurable host to json configuration"
`yarn start` now always uses localhost, but in some cases we need to specify a real IP address (on a shared server for example). It would be handy if we could specify this in the default.json/local.json like:

[code]

[2018-04-16 01:41] jimcreate78 opened #1028 "Error when extending user store with getters."
When I tried to extend the user store adding getters, I would get a vuex error that isLoggedIn was defined more than once.  Also,  I believe some of the user functionality would fire multiple times.

[code]

**PLEASE NOTE: This issue was occurring prior to the newest store modifications.**

[2018-04-16 09:18] pkarw opened #1031 "Optimize and lower the number of requests after serverPull"
- https://github.com/DivanteLtd/magento1-vsbridge/blob/master/doc/VueStorefrontBridge%20API%20specs.md#get-vsbridgecartpayment-methods
- https://github.com/DivanteLtd/magento1-vsbridge/blob/master/doc/VueStorefrontBridge%20API%20specs.md#post-vsbridgecartshipping-methods
- https://github.com/DivanteLtd/magento1-vsbridge/blob/master/doc/VueStorefrontBridge%20API%20specs.md#post-vsbridgecartshipping

[2018-04-16 09:25] pkarw commented on #953
Fine for me

[2018-04-16 09:39] jmikolajczyk commented on #953
Also I fixed header font size on static page.
![header_static_page_mobile](https://user-images.githubusercontent.com/38243788/38801653-b96f6536-416a-11e8-91cc-062ac69fb5ac.png)

[2018-04-16 10:51] pkarw opened #1034 "Move the default ES schema out from 'src/lib/elastic.js' (vue-storefront-api) + add docs on how to change it"

[2018-04-16 10:53] pkarw commented on #753
I'm closing this it makes no sense for now to invest more time int oseparating core as npm just for the sake of separate core module :)

[2018-04-16 10:54] #753 closed

[2018-04-16 11:02] pkarw commented on #1001
TODO: publish it as a boilerplate with separate github repo + write some docs on how to start giving magento1-vsbridge as an example

[2018-04-16 12:23] 99percent6 opened #1035 "Does not open the product card"
Hello!
I found one problem - in browsers FireFox and mobile Safari (in these it is checked for sure, there may be some others also have a problem) after the first download of the site, the product card does not open. I checked this also on https://demo.vuestorefront.io/ . You can click it as many times as you like, but it will not open, after restarting the page the card opens. Seems a problem wit

[2018-04-16 12:53] pkarw commented on #1035
Yes, I've observed this last week and even came with some fix: https://github.com/DivanteLtd/vue-storefront/commit/b621f12cd1a66b313e41a4365adaffddf71a5367

Setting the cache timeout for 2s; Did you tested this version (I mean the latest "develop" snapshot)?
If it still occurs then we should find for some other solution

[2018-04-16 13:27] 99percent6 commented on #1035
No, I have not tested it yet, but I will definitely do it and give feedback.

[2018-04-16 13:44] #956 closed

[2018-04-16 18:55] muhammedfayazp opened #1036 "error not found"
while compiling found an error in

\vue-storefront\node_modules\elasticsearch\src\lib\transport.js:307:15)

[2018-04-17 06:16] 99percent6 commented on #1035
Yes, it's working!

[2018-04-18 12:14] HRR1337 commented on #1019
Hi there,

First short suggestion: Images..

- Example image: slider 1 https://demo.vuestorefront.io/assets/slide_01.jpg

 is 2880*1280 .. thats way to large. if you make it 1920 thats already more then enough, and set the quality to 0 (yes, really, in photoshop).. will not make a big (almost non) difference, and the size will go down from 168kb to 33kb..

What I do personally is serving .webp whe

[2018-04-19 06:56] richcrowe opened #1054 "Cannot find module "...@vue-storefront/theme-default/webpack.config.js""
Hi!
I can't finish execute the **npm run installer** command because I get an error message **Can't build storefront npm**. In VS logs I did't find any problems and errors, then I went to **./core/scripts/installer** and found there the **npmBuild()** method. OK!
Then I tried to run  the **npm run build** command in my terminal but I got another error **Cannot find module** but I don't understand

[2018-04-19 06:59] pkarw commented on #1054
Hi! It seems like by some reason sth went wrong with the config step of the installer.

What do you have in vue-storefront/config/local.json set as .theme? It should point to "default".

From the error message: '/Users/r.crowe/Documents/dev/PHPStorm/magentovue/vue-storefront/src/themes//webpack.config.js'

it seems like theme is by some reason set to '' (it should have been: vue-storefront/src/the

[2018-04-19 07:02] richcrowe commented on #1054
![image](https://user-images.githubusercontent.com/26653363/38976057-b26c17d4-43b8-11e8-9c94-74d329be68f2.png)

[2018-04-19 07:02] pkarw commented on #1054
Could you please change this line in config/default.json to 'default' and rerun installer?

[2018-04-19 07:05] pkarw commented on #1054
second thing - please check if you have theme-default folder inside vue-storefront/node_modules/@vue-storefront?

[2018-04-19 07:13] richcrowe commented on #1054
@pkarw ok, now I have ```Error: Cannot find module '/Users/r.crowe/Documents/dev/PHPStorm/magentovue/vue-storefront/src/themes/@vue-storefront/default/webpack.config.js'```

And I no have **../node_modules/@vue-storefront**

[2018-04-19 07:16] pkarw commented on #1054
shouldn't have happened :)

OK it seems you need to run "yarn install" - lerna is used to create these virtual modules and it's doing its job on "yarn install" step

[2018-04-19 07:40] richcrowe commented on #1054
@pkarw omg, this is the best day of my life!
![image](https://user-images.githubusercontent.com/26653363/38977660-aaadc9c0-43bd-11e8-9b20-1834a58d6117.png)
Thank you!

PS I needed to run **yarn install** for @vue-storefront package, but I used **npm install**

[2018-04-19 07:42] #1054 closed

[2018-04-19 07:46] pkarw commented on #1054
That's great! :)

[2018-04-19 09:20] Tjitse-E opened #1055 "VS doesn't handle negative product stocks"
Problem: sometimes in Magento, a product has a negative stock. For example:
![stocks](https://user-images.githubusercontent.com/14849044/38982970-8897cdf8-43c3-11e8-8509-c190fdb809be.png)

This is causing VS to crash for that particular product:
![negative-stock-crash](https://user-images.githubusercontent.com/14849044/38983009-a22ff164-43c3-11e8-8bea-1e53f61a2e28.png)

I'm using the latest master

[2018-04-19 09:23] #1035 closed, assigned to nobody

[2018-04-19 09:32] pkarw opened #1056 "Fix the catalog theme after RC2 breaking changes to GenericSelector"
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Upgrade%20notes.md

![unnamed 1](https://user-images.githubusercontent.com/211899/38983653-2253321a-43c5-11e8-8c36-9f37b6844587.png)
![unnamed](https://user-images.githubusercontent.com/211899/38983655-22734154-43c5-11e8-9966-bc911026d795.png)

[2018-04-19 10:54] pkarw opened #1060 "Provide the higher quality icon for PWA splashscreen"
https://www.dropbox.com/s/5haebp7y9i5hr3d/Screenshot%202018-04-19%2012.53.57.png?dl=0

Would be good to have it till Imagine

[2018-04-19 11:22] qiqqq opened #1062 "Make index.template.html theme-specific"
In index.template.html is script to load fonts asynchronously. We need to make this file theme-specific to define theme's fonts separately.

Fonts for default theme:

- Playfair+Display:400,400i,700,700i,900
- Roboto:300,300i,400,400i,700

Fonts for catalog theme:

- Montserrat:300,400,400i,500,600,700,800

[2018-04-19 11:29] qiqqq commented on #1062
I think we don't need all italic and bold fonts so we should check this

[2018-04-19 12:04] Tjitse-E commented on #1055
@pkarw you're right, it's not the negative qty, but i've not yet discovered what's wrong with these products. The special price is also missing.

[2018-04-20 12:28] qiqqq opened #1066 "Make ProductTile placeholder as background"
Now placeholde is image, we need to make it as background image to better visibility with lazy-loading

[2018-04-20 13:09] #1026 closed

[2018-04-20 17:02] Januszpl commented on #807
@pkarw I think this one should be closed

[2018-04-21 09:25] #1034 closed

[2018-04-21 09:26] pkarw commented on #1019
Thanks @HRR1337 - great insights. We've implemented quite a few optimizations last week, preparing to the Magento Imagine; Could you please prepare a PR with Your's ideas? Please check out latest develop

[2018-04-21 21:02] bobbyshaw commented on #954
I don't have permission to. You may wish to assign this item to me.

[2018-04-21 22:37] bobbyshaw commented on #912
I've started work on this if you wish to assign to me.

[2018-04-23 06:33] fit opened #1074 "Images; 500 Internal Server Error"
Hi!
The product images are not fetched from the database because I have an error 500
![image](https://user-images.githubusercontent.com/26653363/39109890-993d1bf6-46d7-11e8-9a3c-b7c4c3afa981.png)

I installed **vue-storefront** with `yarn installer` and everything seems to work except images of the products :(
I tried to reinstall  **vue-storefront** but it did't help me

How to solve this problem

[2018-04-23 15:58] phronesis opened #1076 "Filter Products Imported From Magento To Elastic Search By Stock Availability Or Other Criteria"
For our implementation, we have a requirement to only display products that are in stock or have backorder set on them or products from certain Magento website_ids. I am assuming that some others may have similar use cases and wanted to work on a PR that will be useful to others.

My thoughts on implementing this are:
Setting configuration options on mage2vs config to import products based on cert

[2018-04-23 16:28] pkarw commented on #1076
Good point! The out of stock products are listed or not regarding the Magento2 configuration (https://magento.stackexchange.com/questions/173486/magento2-rest-api-products-list-and-out-of-stock) I’m not sure if they can be filtered base on the availability thru api?

Filter before pushing products to ES / it may have sense; other option is to just filter them on the frontend extending the current

[2018-04-23 17:16] phronesis commented on #1076
@pkarw thanks for your prompt response. I can confirm from this magento issue: https://github.com/magento/magento2/issues/2245 that we can't do the filtering on the API level, it MAY change in the 2.3 release.

So I will go with the options of filtering just before pushing to ES or filtering on the frontend.

Will reference this issue in the PR.

Thanks for the heads-up on adding the store code to

[2018-04-23 20:52] alankent commented on #1011
Just FYI, I am doing some research on PWA, AMP, and ecommerce. So feel free to drop me a line if you ever get around to this.

[2018-04-24 08:51] benyang2015 opened #1077 "have a social login plugin?"

[2018-04-24 09:29] pkarw commented on #1077
Not yet, feel free to contribute ;)

[2018-04-24 09:30] pkarw commented on #1076
OK! Please let me know about the progress and if You need any support

[2018-04-24 19:59] pkarw commented on #1074
Do you have imagemagick (“convert” cli command) available?
The second thing is if you have config.magento2 urls set properly to point to the magento2 media url?

[2018-04-24 20:01] pkarw commented on #1074
Any issue in the vue-storefront-api console?

[2018-04-25 05:10] fit commented on #1074
Oh...
I did not expect this at all but my problem was with `imagemagick`.
```brew install imagemagick``` solved my problem.
Thanks!

[2018-04-25 05:10] #1074 closed

[2018-04-25 06:33] #966 closed

[2018-04-25 08:31] DesignNG commented on #307
@pkarw - Did this ever get done?

[2018-04-25 08:32] pkarw commented on #307
@DesignNG I haven't hear anything on that :/

[2018-04-25 08:47] kyvaith commented on #1012
This is an example of implementation of Payment Request API working in Chrome, Safari, Edge etc: https://web-payment-apis.appspot.com/payment-request.html This should be implemented as a uniform PR API for all platforms, not separated for any of them.

[2018-04-25 08:51] kyvaith commented on #1077
Related to #1010

[2018-04-25 10:29] DesignNG commented on #307
@pkarw Considering Builtwith stats show that WooCommerce powers 42% of all online stores worldwide, compared to Magento at 4%, surely it would make sense to offer that functionality out of the box as you do for Magento?

<img style="max-width:100%;" alt="screen shot 2018-04-25 at 11 28 03" src="https://user-images.githubusercontent.com/38355633/39240494-d7188a28-487b-11e8-9c1c-f42e8238acfc.png">

[2018-04-25 11:29] #897 closed

[2018-04-25 11:33] #961 closed

[2018-04-25 21:23] #1036 closed, assigned to nobody

[2018-04-25 21:40] #953 closed

[2018-04-25 21:40] #1002 closed

[2018-04-25 21:42] pkarw commented on #918
I'm closing this one as it seems to makes no sense at this point

[2018-04-25 21:42] #918 closed

[2018-04-25 21:42] #886 closed

[2018-04-25 21:51] #1062 closed

[2018-04-26 06:04] #1077 closed

[2018-04-26 06:05] #1031 closed

[2018-04-26 12:57] filrak commented on #1011
@pkarw AMP is a great piece of tech especially the newest version with shadow-amp allowing to easly integrate it with any website withou affecting design that much but I think it's more a 'nice to have' than 'must have' before 1.0.

[2018-04-26 12:58] filrak commented on #1012
@kyvaith FYI we are adding Payment Request API in a PoC for one client. After PoC we will polish it and add to VS ;)

[2018-04-26 12:59] #977 closed

[2018-04-26 19:54] #969 closed

[2018-04-27 08:37] pkarw commented on #1055
@Tjitse-E any updates on that? Do you need some help?

[2018-04-27 09:26] MikeSheward commented on #923
@pkarw Is it the docs that are just left that needs doing for this now? We wrote some docs somewhere, possibly in the repo. We can expand upon that and create the example repo. The example payment method at the moment is cash on delivery i think? (the most simplest payment extension example).

[2018-04-27 09:27] pkarw commented on #923
Yes. Please update and put all the docs in one place + create a boilerplate/example extension to show other guys how to create the extensiosn

[2018-04-27 10:21] pkarw opened #1085 "Refactor asyncData on Category and Product page to make the queries easier to modify within the themes"

[2018-04-27 12:37] pkarw commented on #94
* and grouped products; bundles are not

[2018-04-27 12:39] pkarw commented on #94
Add configuration of the bundle product right before adding it to the cart
![screenshot 2018-04-27 14 38 38](https://user-images.githubusercontent.com/211899/39362968-bfbc6a12-4a28-11e8-9008-9dfd82a55a69.png)
![screenshot 2018-04-27 14 38 26](https://user-images.githubusercontent.com/211899/39362969-bfd7ae08-4a28-11e8-9fe2-560499360028.png)

[2018-04-27 12:40] pkarw opened #1086 "Add configurable options with types of text + checkbox + setup the cart item regarding the selected options"
![screenshot 2018-04-27 14 36 45](https://user-images.githubusercontent.com/211899/39362999-e954be6a-4a28-11e8-9d88-6b83eb3b25bd.png)

[2018-04-27 12:42] pkarw commented on #1086
Related to: https://github.com/DivanteLtd/vue-storefront/issues/377

[2018-04-27 15:12] talalus commented on #838
Sorry for the delay, I'm still on it, I was in total miss in the past few weeks applying for master.
50% is done

[2018-04-27 21:14] #1085 closed

[2018-04-27 21:39] #99 closed

[2018-04-27 21:40] #952 closed

[2018-04-27 22:51] pkarw opened #1093 "Fix the product grid in the search on mobile"
It should've looked exactly as a category page - two columns etc.

![screenshot 2018-04-28 00 50 45](https://user-images.githubusercontent.com/211899/39388155-431ce29c-4a7e-11e8-99d1-bf85073e08e8.png)

[2018-04-28 15:29] pkarw opened #1096 "Notification: click on the message should fire the default action1"
It should just close the notification in the most cases. On the mobile - it’s relatively hard to point out to “OK” button with your thumbs:)
![41780f8b-bea7-4da1-8f87-4a9296a8e50f](https://user-images.githubusercontent.com/211899/39398130-abc97964-4b09-11e8-964f-a464b1e4dffb.png)

[2018-04-28 16:14] Januszpl commented on #1096
So perhaps we should change the design here ? Make OK btn wider and put some line between two actions "OK" and "PROCEED TO CHECKOUT" ?

[2018-04-28 16:30] pkarw commented on #1096
Could you just try with 50/50% and send screen how it looks like?

[2018-04-28 17:10] Januszpl commented on #1096
## Version with just chaning the width 50/50
<img width="376" alt="ver2b" src="https://user-images.githubusercontent.com/7412776/39399065-a5cffea0-4aed-11e8-80e3-d9e6ce5bb4e7.png">
<img width="496" alt="ver2" src="https://user-images.githubusercontent.com/7412776/39399066-a5eac794-4aed-11e8-91cb-28a584d1dcd2.png">

## version with some min-height (centered via flexbox) and with separator:*
<img wi

[2018-04-28 17:39] pkarw commented on #1096
It doesn’t look good for me to be honest. My suggestion:
- text message shouldn’t have been centered - please align to left
- optimize the default action position for mobile - align it to the right for being accessible by right thumb
- action1 should be aligned to right
- action2 should be aligned to left
- actions should have some min width / left and right paddling a for about 20px from text - b

[2018-04-28 18:35] #838 closed

[2018-04-28 20:24] pkarw opened #1102 "Add store.override()"
It would be nice to have an option to re-map the Vuex action used by core/store module in the VS

I see it as a method to extend the Vuex.store used by VS:-
`store.override('product/list', (payload) => {})`
or
`store.override('product/list', 'mystore/list')`

Then we need to override `dispatch()` method to make the usage of such a map. Of course, we'll be needing a `dispatchOriginal()` to execute

[2018-04-29 18:13] Januszpl commented on #1096
My suggestions:
- I would replace "OK" for "CLOSE" or "KEEP SHOPPING" (which is used by many top large ecommerce and we give clear action label).
- I would not make "Product has been added to the cart!" triggering any action.

[2018-04-30 05:40] benyang2015 opened #1103 "order success page not display order id"

[2018-04-30 05:59] pkarw commented on #1103
This is not an issue, this is how it was designed :)

[2018-04-30 06:24] pkarw opened #1104 "Support URL filters on the Category page"
We should have support for passing the filters in the URL to create the SEO friendly and promo links

I mean for example:
https://demo.vuestorefront.io/c/women-20/color/241/size/124

Right now the filters works fully just on the client side and are not supoprted by the SSR
After changing the filter the attributes should've been added to the window.location

[2018-04-30 06:45] pkarw opened #1105 "Change the notification event name for custom actions"
https://github.com/DivanteLtd/vue-storefront/blob/9a98265b0e014f450b30095fceb64f4f3b762252/core/components/Notification.vue#L27

It should be changed to: **notification-after-**

We should include some additional data/arguments as an option for custom actions.

For example:
[code]

The **payload** should be included in the $emit call of the **"notification-after-" + action event**

Add the default

[2018-04-30 10:47] pkarw opened #1106 "Add and test the support for all other custom attribute types"
Multiselect  (99% cases it works just fine)
Text
Date

[2018-04-30 12:09] cagartner opened #1108 "Create translation for Brazilian Portuguese (pt_BR)"
Hello,

This project is awesome and a want help with a translation for brazilian portuguese, soon I'll send a PR with a translation.

Cheers.

[2018-04-30 12:32] pkarw commented on #1108
That's great! Looking forward to it!

[2018-04-30 13:50] pkarw commented on #1086
https://magento.stackexchange.com/questions/217547/magento-2-rest-api-add-product-to-cart-with-custom-option-type-file

[2018-04-30 19:52] cagartner commented on #1108
Created PR :)

[2018-04-30 21:48] #1103 closed

[2018-04-30 21:48] pkarw commented on #1108
Thanks, great job! Merged!

[2018-04-30 21:48] #1108 closed

[2018-05-01 12:35] MikeSheward commented on #923
Will do!

[2018-05-01 22:28] alankent opened #1114 "Category filter for color is good, add price range and it forgets the color?"
I browse to a category and select a color filter (e.g. red). All the images refresh to be red photos - very nice! I can add size constraints. Still nice red product photos, with the added size constraint.

I then added a price filter constraint. All the images went back to random colors (blue, green, etc). The size filter still seems to be applied. But any combination I try with a price filter spe

[2018-05-02 05:15] pkarw commented on #1114
Thanks Alan! Will check it, seems like and/or filter priorities issue probably

[2018-05-02 09:58] #958 closed

[2018-05-02 10:40] pkarw commented on #1114
Fixed in develop branch

[2018-05-02 10:40] #1114 closed

[2018-05-03 19:31] lorenaramonda commented on #881
Hi @pkarw I would like to try to do this, the only thing that leaves me hesitant is the mentioned style guide. You mean that there are out there style guides that tells you how to make a language switcher popup? 😁For instance, a dropdown language list rather than a modal with form fields to set the settings?
Maybe we can make it as a modal in which user can set language country and in case currenc

[2018-05-04 07:07] karolbzik commented on #1060
@StasiekDivante could you please export logo from Figma?

[2018-05-04 07:42] lorenaramonda commented on #881
Ah, ok, uhm, i found this:
<img width="625" alt="switch-country" src="https://user-images.githubusercontent.com/4409084/39617265-52cf67cc-4f7f-11e8-9471-7f93f804b7b3.png">
so it must be this way? 😁

[2018-05-04 07:59] pkarw commented on #881
Corect

[2018-05-04 08:01] lorenaramonda commented on #881
great! i'll try although i surely would have doubts on something so probably I would ask lots of questions 😁 ✌️

[2018-05-04 13:29] pkarw opened #1117 "Misplaced labels vs input boxes"
![screenshot 2018-05-04 15 27 18](https://user-images.githubusercontent.com/211899/39630489-b8a44b82-4faf-11e8-820f-78f230c68b74.png)

seems like padding/margin issue - please check out all other forms (checkout, login, register, forget password + my account

[2018-05-04 17:30] lorenaramonda commented on #881
ah one other thing, the modal should be open by click on united states in the footer?

[2018-05-04 17:33] pkarw commented on #881
Yes :) we have to figure out how to support the multi site installation - but it’s a topic for different discussion:)

[2018-05-07 08:25] Aekal commented on #975
Changes in develop, I just couldn't edit dots in list items, because they are rendered as text

![zrzut ekranu 2018-05-07 o 10 22 21](https://user-images.githubusercontent.com/7126345/39692299-bfe2b73e-51e0-11e8-84e5-d42da2c9ed1a.png)

[2018-05-07 12:15] filrak commented on #1102
If noone will take it I can start development next week.

[2018-05-07 12:23] filrak opened #1122 "Add background sync for offline orders with Notification"
Currently when order is placed offline if we remain in the shop till it comes back online the order is proceeded to the server which is good for standard situations like train travels where you're loosing connection for 1-2 mins but it would be much better if we can proceed the order even after long time and even if user closes the website.

I made it with background sync for one of VS implementat

[2018-05-08 04:10] pkarw commented on #973
https://www.netguru.co/codestories/few-tips-that-will-make-your-pwa-on-ios-feel-like-native

[2018-05-08 07:17] lorenaramonda commented on #881
@pkarw can u please assign me this? 😁

[2018-05-09 16:52] pkarw opened #1123 "Escape key should be closing the Image zoom popup"

[2018-05-10 09:25] #1117 closed

[2018-05-10 09:26] #1093 closed

[2018-05-10 09:27] #1055 closed

[2018-05-10 09:28] pkarw commented on #1055
I've close this one and need your es dump to try to figure out what's wrong. The issue is not with the negative stock anyway

[2018-05-10 09:28] pkarw commented on #1019
@HRR1337 maybe You can take this one?

[2018-05-10 09:29] pkarw commented on #1015
@wsheldon any progress regarding this issue? :)

[2018-05-10 09:36] pkarw commented on #697
It can be Strapi CMS as well: https://strapi.io/

[2018-05-10 10:07] StasiekDivante commented on #1060
![logo](https://user-images.githubusercontent.com/37068687/39864695-bbf4de6a-544a-11e8-9b48-bc687e20c5dc.png)

Logo in bigger size

[2018-05-10 12:15] wsheldon commented on #1015
@pkarw Would really like to but haven't had any time yet.  Perhaps in June

[2018-05-10 14:29] qiqqq opened #1127 "Remove from wishlist - fixes"
After removing the product from the wishlist with the Remove button in the sidebar the button on the product card is not updated. (we need to connect produt page button's state with remove button on wishlist sidebar).

Additionaly wishlist should'nt close when user remove product only when click on router-link (to product page)

https://prnt.sc/jg5lt7

[2018-05-14 07:32] pkarw opened #1134 "Multiwebsite PoC"
Currently, the Multi Website support is possible by setting up few separate instances of Vue Storefront configured to use other API endpoints + have few ElasticSearch indexes (each for one storeview). Magento2 API allows the user to simply add the: http://magento-store.example.com/store_code/V1 ... to the endpoitns so You can just switch the store view by changing store_code - from "default" to an

[2018-05-14 07:54] pkarw opened #1135 "Mutliwebsite support for the vue-storefront-api"
Regarding #1134

If we add a global URL parameter - like:
`/api/:store_code/user/login` as an addition to current routes: `/api/user/login` we'll be able to run the multi-website configuration of the vue-storefront-api

OR we can set the `store_code` as an HTTP header - like `X-VS-Store` - which is probably the easier way to handle the vue-storefront part  (see below - the second step)

The second

[2018-05-14 08:52] #974 closed

[2018-05-14 16:37] danieldeicide commented on #1015
@wsheldon I am also interested. Can't wait to see it in action.

[2018-05-14 16:40] wsheldon commented on #1015
Thanks @danieldeicide Ok will do my best to work on it in next few weeks

[2018-05-14 22:06] szafran89 commented on #971
I'll take care about this issue

[2018-05-15 09:04] pkarw opened #1142 "Add Magento CMS Integration"
The best way to go is to store the CMS pages into Elastic Search - by extending the https://github.com/DivanteLtd/mage2vuestorefront for the new entity type.

The second option - let's say PoC - is to just add the vue-storefront-api endpoint which will be proxy to the cmsBlock API endpoints

Please take a look at: https://github.com/DivanteLtd/vue-storefront-api/blob/master/src/api/extensions/exam

[2018-05-15 09:05] pkarw commented on #1142
On the frontend we need to extend core/store/modules to add the cms vuex module reading from this endpoint (endpoint url need to be configurable as a the config.cms.ednpoint) + UI component like core/components/blocks/CmsBlock displaying the HTML from the specific block id given as a props

[2018-05-15 12:27] tobiasdalhof commented on #805
Google Cloud Launcher is also another option: https://console.cloud.google.com/launcher

[2018-05-16 20:59] mercs600 commented on #1106
@pkarw Which custom attributes do you mean ? Category filters or product details ?
BTW. For better support various attributes on product details page we should have access to type of these attributes. I see this field with attributes for category, but not for product page.  .

![zrzut ekranu 2018-05-16 o 22 57 15](https://user-images.githubusercontent.com/7935392/40143741-8c00c2c0-595c-11e8-8cd7-1

[2018-05-17 11:17] pkarw commented on #1106
Hi Adam, Yes I meant category filters + displaying the filters on the category page at first step. Then kind of different options should be checked for Bundle products and for Configurable Options for products - all these types are supported by VS now but need to be tested.

Regarding the question - You can get the attribute metadata (the record You're refering to) from:
state.attribute.list_by_co

[2018-05-17 11:52] pkarw opened #1147 "Create production setup tutorial"
(AWS, Docker, DigitalOcean, You Name It) - with Pm2, http proxy etc
Step by Step tutorial setup for Elastic, Redis, VS-API, VS -

[2018-05-18 07:18] marlass commented on #892
I can work on that issue.

[2018-05-18 07:35] #713 closed

[2018-05-18 07:37] filrak opened #1152 "Make Theme Starter a basic theme for development"
For now we are using demo default theme for development. It would be great if we can have demo and dev templates separated.

For this purpose we want to make theme-starter a basic theme for developing VS themes. To achieve this we need to pull out all data and behavior without styling to allow developers make use of it without digging into logic.