[2018-05-18 07:54] JCown commented on #1096
I'll work on that

[2018-05-18 07:58] kacperknapik opened #1153 "Collection slider hover state is broken"
![image](https://user-images.githubusercontent.com/22354613/40222994-be12d610-5a81-11e8-9f56-bec569271070.png)

Outer slider elements have broken hover state (seen on Windows and Linux). Gray background color appears (not visible on the above screenshot).

Collection slider component:
![image](https://user-images.githubusercontent.com/22354613/40222980-b1c18eb0-5a81-11e8-8ab8-62eacdb1328d.png)

[2018-05-18 09:43] filrak opened #1157 "Move lazy loaded products on Category from default theme to core + add option to disable"
I will move the lazy product loading behavior from default theme to core AND add data attribute 'loadProductsOnScroll" to allow disabling this behavior

[2018-05-18 09:48] zavodyanka commented on #1060
I will work on it

[2018-05-18 09:57] mercs600 commented on #588
After conversation with Staszek this task is resolved.

[2018-05-18 09:57] #588 closed

[2018-05-18 10:10] pkarw commented on #649
It's already done in the mage2vs importer: https://github.com/DivanteLtd/mage2vuestorefront/commit/b71aa8844c5ea6c3b555e150fcb2145d6058e74f

so it's in:
[code]

https://www.dropbox.com/s/x12koq099hm3r2w/Screenshot%202018-05-18%2012.07.21.png?dl=0

[2018-05-18 10:44] Igloczek commented on #976
Store is now available on npm - https://www.npmjs.com/package/@vue-storefront/store

[2018-05-18 11:04] #1157 closed

[2018-05-18 11:07] patrykpiston commented on #1105
Closing as the notification event name was changed accordingly to the task

PR: https://github.com/DivanteLtd/vue-storefront/pull/1159

[2018-05-18 11:07] #1105 closed

[2018-05-18 11:56] Igloczek commented on #1017
Published https://www.npmjs.com/package/@vue-storefront/store

[2018-05-18 11:56] #1017 closed

[2018-05-18 12:09] kacperknapik commented on #954
This task seems finished:

![image](https://user-images.githubusercontent.com/22354613/40233895-00fd19b8-5aa5-11e8-96a1-a416216d8540.png)

[2018-05-18 12:09] #954 closed

[2018-05-18 12:53] DarkMukke opened #1162 "Create a PM2 ecosystem or proccess file"
http://pm2.keymetrics.io/docs/usage/application-declaration/

It would be great to have a file for this for both dev and production. The file allows us to create ENV variables per environment, it allows us to watch file changes in dev, it also alows us to set of a cluster environment for the queue workers

it will also allow people that are new to easily run a working environment without the need

[2018-05-18 12:58] #1153 closed

[2018-05-18 15:42] #1066 closed

[2018-05-19 13:07] benyang2015 opened #1178 "docker-compose up not work"

[2018-05-22 07:21] filrak opened #1192 "Workbox migration"
It would be great if we migrate to newest tools. SW-precache is a bit outdated.
You can find the config under `core/build` folder
Here is a guide on how to do it:
https://developers.google.com/web/tools/workbox/guides/migrations/migrate-from-sw

[2018-05-22 07:48] #1060 closed

[2018-05-22 07:48] #973 closed

[2018-05-22 07:48] #860 closed

[2018-05-22 07:49] #972 closed

[2018-05-22 07:49] #94 closed

[2018-05-22 07:49] #892 closed

[2018-05-22 08:02] StasiekDivante commented on #836
favicon
[favicon.ico.zip](https://github.com/DivanteLtd/vue-storefront/files/2025543/favicon.ico.zip)

[2018-05-22 11:29] pkarw commented on #667
@filrak could You add it before 1.0?

[2018-05-22 11:29] pkarw commented on #671
@filrak could You take a look at it - @kruchy8 prepared a PR but it's not integrated with the Elastic Search - I can help you with this

[2018-05-22 11:30] #86 closed

[2018-05-22 11:31] #32 closed

[2018-05-22 11:31] pkarw commented on #1178
Please provide us with the exact logs

[2018-05-22 11:31] #1178 closed

[2018-05-22 11:31] #1127 closed

[2018-05-22 17:11] pkarw commented on #881
Hi Lorena

Are You Working on the popul as well?
I’ve put my research for Multiwebsite in here:
https://github.com/DivanteLtd/vue-storefront/issues/1135
https://github.com/DivanteLtd/vue-storefront/issues/1134

Please check the comments / there is a config file example that can be used in the pop up to list the available stores.
This is the specification on how multiwebsite will be implemented

It

[2018-05-22 20:01] mercs600 opened #1194 "Images don't refresh after filter change"
Ok I was working on #1104 and I noticed strange behaviour of images loading after filter change. You can see it on video below.  https://www.dropbox.com/s/usl63n623k9vvdi/v-lazy-bug.mov?dl=0
1. Open some category
2. Change the color filter
3. Some pictures are not refreshed.
I think this bug is related with v-lazy component plugin. When we changed directive v-lazy to v-lazy-container this plugin d

[2018-05-23 11:01] iamike opened #1196 "how can I stop port 3000"
it looks once it started by yarn, you can never get it stop. please advice...

[2018-05-25 06:59] hbakhtiyor opened #1201 "add to ecommwar.com list"

[2018-05-25 08:34] kyvaith opened #1202 "Progressive image loading"
Just an idea - how about adopting Medium-syle progressive image loading? IMO it's the most elegant way to load images. Please look here: https://jmperezperez.com/medium-image-progressive-loading-placeholder/

[2018-05-25 11:17] pkarw commented on #1201
Thanks :) But .. I don't see it there listed?

[2018-05-25 16:02] mercs600 opened #1204 "Error: Can't resolve 'core/components/blocks/Notification"
Wrong path to notification mixin in catalog theme.

[2018-05-25 16:15] mercs600 opened #1206 "Image is not defined on product page."
I noticed this bug on catalog theme. Right now we have just gallery computed value, when catalog theme is using image value which doesn't exist ;-)

I prefer restore image value as first key of gallery array.

[2018-05-25 16:32] mercs600 opened #1208 "CaseSensitivePathsPlugin errors on theme-starter"
Some imports are not recognized by CaseSensitivePathsPlugin.

[2018-05-25 19:32] mercs600 commented on #1194
I think we can close it now ;-)

[2018-05-25 19:32] #1194 closed

[2018-05-25 22:15] pkarw commented on #881
Done in the https://github.com/pkarw/vue-storefront/commits/feature/1135_multistore

[2018-05-25 22:15] #881 closed

[2018-05-25 22:16] #1196 closed

[2018-05-25 22:16] pkarw commented on #1135
Done in the
https://github.com/pkarw/vue-storefront/commits/feature/1135_multistore
https://github.com/DivanteLtd/vue-storefront-api/tree/feature/1135_multistore

[2018-05-25 22:16] #1135 closed

[2018-05-25 22:17] #1134 closed

[2018-05-26 09:29] lorenaramonda commented on #1096
I agree with @Januszpl
I also don't like too much "proceed to checkout" splitted in two lines 🤔

[2018-05-27 07:43] pkarw opened #1211 "Fix bundle product styles"
https://test.vuestorefront.io/p/24-WG080/sprite-yoga-companion-kit-45

There is No design for this page but you can adjust it to general styles - input boxes, checkboxes to be fixed margins and padding

[2018-05-27 07:44] pkarw commented on #1211
![082714d6-e305-411d-a467-1a3c7109ce8a](https://user-images.githubusercontent.com/211899/40583600-86b0e014-6192-11e8-93e3-cfec48807399.png)

[2018-05-27 17:06] lorenaramonda commented on #881
I need to know which are the color codes for countries and languages links in this modal because from the jpg it's hard to know, they seems to be grey but I'm not sure, maybe @StasiekDivante could help me? 😁

[2018-05-27 17:13] lorenaramonda commented on #881
and @pkarw does your implementation provides more than one language per country?

[2018-05-27 18:02] mfdeveloper commented on #1178
Hey @benyang2015, I've got the same problem to start the `backend` services with `docker-compose` after shutdown my PC. Try to run `npm run all`. This npm task run `docker-compose up -d > /dev/null 2>&1`. If you run just `docker-compose up`, the Elasticsearch service will be with **red** signal

[2018-05-27 19:05] #1204 closed

[2018-05-27 19:05] #1206 closed

[2018-05-27 19:05] #1208 closed

[2018-05-27 19:12] lorenaramonda commented on #881
Hi @pkarw I did a little refactoring, added some style and divided the list in two column when storeviews enabled are more than a minim number (by default 3 + 1 - the current country).
But this function still needs to be completed: https://github.com/bitbull-team/vue-storefront/blob/59e853a1f275c4aad06a372b3cb2021fa1034d8d/src/themes/default/components/core/blocks/Switcher/Language.vue#L45

Here a

[2018-05-28 11:18] filrak opened #1212 "Close on escape mixin."
It's a good UX practice to allow users to close microcart/wishlist/sidebar menu etc via escape key.

The best idea is just to create mixin doing it's job and provide a method name to handle the closing event which can eb used in other components.

For example in mixin we are exposing function `onEscClicked(callback)` which runs the callback function responsible for closung currently opened modal/s

[2018-05-28 12:36] qiqqq commented on #982
Yes, this is done

[2018-05-28 12:36] #982 closed

[2018-05-28 13:22] filrak opened #1213 "Core modules[proposal, discussion]"
Hi!
For now we are using core components and pages to develop our stores which works well but have some drawbacks that can be fixed:

- The functionalities are grouped in component-structure-oriented way rather that feature-oriented which is not the best approach for a modular application
- It kind of forces people to use same component structure for each store which doesn't play well with impleme

[2018-05-28 13:36] patrykpiston commented on #1213
I like the idea, It would make it easier to use just the parts one needs. As you said it will give way more flexibility to someone who wants to create something on top of VS with a totally different interface in mind.

[2018-05-28 15:16] michael-kaufman commented on #1213
As someone 2 weeks into this code, I agree and like the Modular approach. It does get rather tricky to know what comes from where exactly. Having duplicate folder names in different places is a little confusing too. Perhaps refactoring folder names to make it clear for e.g. core-logic vs core-theme or plug-in-logic vs plug-in-theme; or something similar would help too.  Thanks!

[2018-05-28 20:50] Triloworld commented on #1213
Nice idea (and work!), VUE is for simplicity and development experience. I don't like second and more layer above existing in vue, because people use it for that simple approach.

I check that module directory and is clearly better approach to some problems.
One problem is the most obvious, used grouped functionality or simple one? maybe just use vuex?
Maybe "core/api" as showed in description. It

[2018-05-28 20:52] nuovecode commented on #1213
I'm torn. On the one hand I like the idea of using a more modular approach for components, on the other hand we risk complicating the file and folder structure too much. Now It's quite easy to understand how components works just looking at the code, to split them into more granular components without losing the current (awesome) semplicity it will be a great challenge.
But, you are right, it's ti

[2018-05-29 03:50] #649 closed

[2018-05-29 03:58] pkarw commented on #1213
Great discussion!

I’m afraid of this approach because of the following arguments:
- modules - it’s another layer of abstraction for the newcomers; it’s a little bit  mess with the vuex modules and src/extensions
- I agree with Irene, it’s now far easier to understand the structure of the Ui with more granulated components - we’ll probably lost it it with modules
- I don’t see easy way to do the a

[2018-05-29 04:06] pkarw commented on #1213
Maybe sth with satisfy all  is to stick with the current component structure AND add this module based mixins / logic separation?

Then we should have sth like core/api or sth - just with this set of logic mixins instead of modules to not mess with vuex modules.

In that case if somebody would like to create totally custom theme he or she can avoid the core/components and use the core/api instead

[2018-05-29 12:19] pkarw commented on #1213
Exactly, core components grouping these more granular mixins - this makes sense for me!

[2018-05-29 13:04] filrak commented on #1213
Love to hear that ;d

[2018-05-29 15:51] mercs600 commented on #1213
I agree with you guys! Core methods as mixins to couple some basic components it's good idea 🥇
From my point of view it should be easier to maintenance, refactore and test.

@pkarw you asked how can we combine these mixins with vuex.  In my opinion when we want to use some state/getter etc from vuex we should map this state in this mixin.
So for example we have method addToCart, we should map muta

[2018-05-29 15:57] mercs600 commented on #1202
I totally agree with @filrak. It looks good, but this moment this is not required. Generally I think we should keep simple theme boilerplate which you can develop instead of implement ( and maintenance ) a lot of features.  But.. if you want, feel free to develop some plugin maybe ;-)

[2018-05-29 16:28] kyvaith commented on #1202
@mercs600 once again,
* I'm not a developer
* I posting stuff that seems to be for me must have in your project
* This are not requirements for near releases but for future improvement
* If they are reasonable for you just keep them, maybe with new tag like 'future-improvement'
*If they're not, just close.

Thanks, and thanks for your work and generally gre Idea for a project.

[2018-05-29 16:33] mercs600 commented on #1102
@filrak @pkarw did you see this approach ?
article: https://blog.hellocomet.co/mixin-composition-in-vuex/
example: https://gitlab.com/etnbrd/vuex-composition-example/tree/master

[2018-05-29 23:28] DavidRouyer commented on #1213
Modularization? Of course!

One mixin per file is perfectly fine for me.
I saw what you did in core/modules and I have a few remarks:
* Don't call your files add.js, products.js and remove.js: call them addToCart.js, productsInCart.js, removeFromCart.js (make you did this in a rush, much more readable).
* In these files, try:
[code]
instead of
[code]
If you use VS Code or another tool which unders

[2018-05-30 07:38] DavidRouyer commented on #1213
Keep in mind that you
* Are not breaking anything when moving files (Vuex modules will work the same way, you import it differently)
* You can change the folder structure and still be backward compatible by keeping the store folder (with the current index.js and exports which redirects to the new folders)
* We can add JSDoc comments for example for depreciation warnings, or ESLint rules

[2018-05-30 08:18] #695 closed

[2018-05-30 11:52] pkarw opened #1226 "Improve the SEO support"
We're getting some calls from the users that would be great to update the SEO capabilities VS is offering:
- routes + redirects (we should support magento urls to be perfectly honest),
- markup structure
- meta tags

We need some basic SEO audit for the default theme + apply the insights

[2018-05-30 12:16] Triloworld opened #1227 "Checkout: required (red label) missing on country select"
<img width="732" alt="zrzut ekranu 2018-05-30 o 14 14 22" src="https://user-images.githubusercontent.com/2671726/40719430-ea577b86-6413-11e8-9ea9-8d530fe9c7d4.png">

[2018-05-30 12:22] Triloworld opened #1228 "Checkout: tabbing & pressing enter can remove accidental items in summary."
This state produce error when submitting form.
That feature can be removed from code
<img width="1004" alt="zrzut ekranu 2018-05-30 o 14 20 02" src="https://user-images.githubusercontent.com/2671726/40719707-a4c224c6-6414-11e8-95ce-7673ecbb437e.png">

[2018-05-30 12:46] pkarw commented on #1228
Don't quite get it? It seems like You've different passwords provided, validation error + cannot continue to shipping (disabled button). Isn't it correct behavior?

[2018-05-30 12:53] pkarw commented on #1228
OK, it shouldn't be empty - for sure :) So How to reproduce this step by step?

[2018-05-30 13:09] Triloworld commented on #1228
There are inputs that are accessible by pressing TAB (it give focus on buttond, inputs etc) on checkout page.
I removed style so there is: edit, remove and close button. I can even change quantity by focus on it.

<img width="921" alt="zrzut ekranu 2018-05-30 o 15 07 20" src="https://user-images.githubusercontent.com/2671726/40721937-36a1c698-641b-11e8-8d20-57c60b3e57a2.png">

[2018-05-30 13:10] pkarw commented on #1228
OK :D

[2018-05-30 13:18] Triloworld commented on #1228
I will focus on heavy test before we (as a company) will be using it on production.
I have more issues, as that can I create it like that? I will more precise describe steps :)

[2018-05-30 13:21] Triloworld opened #1229 "Quantity field - accept dot (.) and show error"
1. Add product to card
2. Open cart
3. Press "Edit"
4. Type "0.1" into number field. It will produce error as visible on screenshoot.

<img width="731" alt="zrzut ekranu 2018-05-30 o 15 16 58" src="https://user-images.githubusercontent.com/2671726/40722498-cdabf508-641c-11e8-93b3-96cc1b145417.png">

[2018-05-30 13:48] Triloworld opened #1230 "Adding to compare/favorite - name value missing in popup message"
1. Go to https://demo.vuestorefront.io/p/24-WG09/luma-analog-watch-41
2. Click "Add to compare"

<img width="842" alt="zrzut ekranu 2018-05-30 o 15 46 07" src="https://user-images.githubusercontent.com/2671726/40724151-a94a7726-6420-11e8-86ae-71e226809174.png">

[2018-05-30 14:01] Triloworld opened #1231 "My account - newsletter button is active even wihout change"
1. Log in
2. Go to newsletter section
3. Click "Edit newsletter preferences"
4. Button is active, even if no change occur.

<img width="653" alt="zrzut ekranu 2018-05-30 o 15 56 51" src="https://user-images.githubusercontent.com/2671726/40724781-2be5d1f2-6422-11e8-95d7-2ccb91486d97.png">

[2018-05-30 14:07] Triloworld opened #1232 "My account - Session break"
This is weird.
1. Log in
2. Click "My profile"
2. Click "My shipping details"
3.  Click "My profile"

You get "https://demo.vuestorefront.io/it/my-account" with italian language and session is broken.
You cannot go back (not working)
Cannot click on profile avatar
Cannot change language

<img width="1324" alt="zrzut ekranu 2018-05-30 o 16 07 16" src="https://user-images.githubusercontent.com/26717

[2018-05-30 14:13] Triloworld commented on #1232
One more place:
1. Click in footer on "About us"
2. Click logo from top.
Italian language and broken session.

[2018-05-30 14:46] Triloworld commented on #1226
Thats bad. There isn't any additional markup.

First question: what type of data will be implemented?
Source: https://developers.google.com/search/docs/guides/intro-structured-data#multiple-entities-on-the-same-page#structured-data-format

There is place for module with provide some additional data to header/content.

Rich snippet (there is need to be added some helper):

- Brand & contact - main

[2018-05-30 14:47] Igloczek opened #1233 "Add CHANGELOG.md"
Add a CHANGELOG.md file, following rules of https://keepachangelog.com/en/1.0.0/

OFC we will need to adjust contribution rules, to force everyone to add changes description to "Unreleased" group on every PR.

[2018-05-30 16:05] Igloczek opened #1234 "Investigate Evan You advices about Yarn workspaces and eslint setup"
https://twitter.com/youyuxi/status/1001827456293236737

[2018-05-30 20:01] pkarw commented on #1232
Thanks, fixed!

[2018-05-30 20:01] #1232 closed

[2018-05-30 20:02] pkarw commented on #1230
Thanks, fixed!

[2018-05-30 20:02] #1230 closed

[2018-05-30 20:08] pkarw commented on #1229
Thanks, fixed!

[2018-05-30 20:08] #1229 closed

[2018-05-30 20:30] pkarw commented on #1228
Couldn't reproduce the sequence with tab etc. But I've hardened the  Checkout checks for the cart items instead

[2018-05-30 20:31] #1228 closed

[2018-05-30 20:58] pkarw commented on #1227
I've added '*' - but probably the ticket is about the missing green/red label right? @mercs600 are You willing to help with that?

[2018-05-30 20:59] pkarw commented on #1231
@akbarik could You please take care of that one?

[2018-05-30 21:49] pkarw commented on #1233
This is good idea! We can start by combining the [Release notes](https://github.com/DivanteLtd/vue-storefront/releases) with [Upgrade notes](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Upgrade%20notes.md)

[2018-05-30 21:49] pkarw commented on #1233
Anybody willing to start? :)

[2018-05-31 23:49] benyang2015 opened #1238 "how to use port 80 set 80 default?"

[2018-05-31 23:55] benyang2015 commented on #598
how to write plugin to vs,I want to write the one page checkout plugin to vs

[2018-06-01 04:48] gopalindians commented on #1238
You can set port 80 in https://github.com/DivanteLtd/vue-storefront/blob/master/config/default.json#L4 just edit it before running build.

[2018-06-01 07:03] Triloworld commented on #1227
Consistent is key. If other field are colored in red then this one need to react in same manner.

[2018-06-01 07:17] pkarw commented on #1238
Please also consider putting some http proxy as nginx in front of Your VS insntace. Closing the issue for now

[2018-06-01 07:17] #1238 closed

[2018-06-01 10:08] JCown commented on #1096
Progress:
- replaced the actions ("OK" is on the right side now - to make it easier to tap on mobile).
- clicking on notification (but not on action buttons) will fire action like "OK" button does
- text aligned to left; width of action buttons is no longer equal (and buttons are aligned to right side of notification popup)

Please see attached screenshots for mobile and desktop view and **share y

[2018-06-01 10:46] pkarw opened #1239 "Improve the docs"
Now the docs are scattered across multiple medium (github, medium.com ...), different formats etc

It may be really confusing, especially for the newcomers!

Which tools should we use? wiki? What for API specs?

We’re also looking for volunteers ready to help us with improving the docs

[2018-06-01 11:20] pkarw commented on #1239
Any ideas, requests, what to improve first hand - are welcome

[2018-06-01 11:27] cagartner opened #1240 "Add loader like youtube when click in pages links"
Hello,

In my experience on demo and live projects, i have a little problem with general navigation, when I click in some pages links, like product details, the page delay some seconds, this makes me click several times on the same link.

i'm from Brazil, so my connection some time is bad... So, adding a simple loader like youtube loader I thinks its enough.

![Image of Youtube](https://i.imgur.co

[2018-06-01 13:10] cagartner commented on #1239
I think a video/documentation showing how to config a basic production enviroment, in digital ocean for example.

[2018-06-02 05:55] benyang2015 opened #1241 "No matching version found for vue-storefront-stripe@^1.0.71"
npm install error

[2018-06-02 06:50] pkarw commented on #1241
Fixed with 1.0.2 hotfix, thanks!

[2018-06-02 06:50] pkarw commented on #1241
Oh, please do use "yarn install"

[2018-06-02 07:05] pkarw commented on #1241
Please configm

[2018-06-02 08:55] #1241 closed

[2018-06-02 13:00] mercs600 commented on #385
I'm closing this issue because this is duplicate of #1104

[2018-06-02 13:00] #385 closed

[2018-06-02 13:54] pkarw opened #1252 "Add storeViews configuration to the vue-storefront-api"
The key is to have different defaultLanguage set per storeview - currently, when taxes are calulated server side there is a global default country

Mirroring vue-storefront config: https://github.com/DivanteLtd/vue-storefront/blob/94dfeaa356df97e25447769b7ad56ecd3bc68247/config/default.json#L14

The second option is to pass the country via GET parameter - which also could be a good option in case

[2018-06-02 14:33] pkarw opened #1253 "Add support for "prices in catalog include tax" catalog option"
Right now the taxcalc mechanism assumes that prices in catalog don't include tax. It should be configurable via config

[2018-06-02 15:37] pkarw commented on #1253
This mode is required by some marketing rules

[2018-06-02 18:08] pkarw commented on #1253
Right now when disabling tax call by config.tax - product.price is treated like priceInclTax; but it’s workaround

We need to calculate net price from gross price when config.tax.sourcePriceInclTax=true

[2018-06-02 18:08] pkarw commented on #1253
It should be set per store.

[2018-06-02 18:19] #1252 closed

[2018-06-03 21:20] jimcreate78 opened #1258 "When placing order, regionId is a required field error."
error: API call failed: Please check the shipping address information. regionId is a required field.
2018-06-03T21:04:06.555Z - error: Error placing an order Please check the shipping address information. regionId is a required field. string

When placing an order the regionId is set to 0 which the api is not accepting.

[2018-06-03 21:23] jimcreate78 opened #1259 "Cannot navigate away from MyAccount"
Once I navigate to MyAccount I cannot leave.  The meta title changes to italian language and it-shop appears in my indexDB the moment I try to click away from MyAccount.

[2018-06-04 03:40] pkarw commented on #1259
This issue has been fixed in 1.0.3 - please let me know if the issue still occurs after pulling latest changes from master / develop?

[2018-06-04 04:19] #1259 closed

[2018-06-04 07:46] pkarw commented on #1258
OK, so I've added a region mapper:
- https://github.com/DivanteLtd/vue-storefront-api/commit/0bf0f2effe146f1641da9bc7a62b42e0703f2e52

... and added support for region_code/region_id fields in the Checkout:

- https://github.com/DivanteLtd/vue-storefront/commit/e5dd7e1fffc6256fe0a92150bbf35d9b07dcd7c8

Now You can:
- set in the theme: Checkout/ShippingInformation and Checkout/BillingInformation th

[2018-06-04 09:01] collymore commented on #1239
How about using Vuepress?
It's really easy to use and I'd be happy to setup this?

It's what powers the main vue docs https://vuejs.org and vuepress site https://vuepress.vuejs.org/guide

[2018-06-04 16:54] dennisotugo commented on #1233
@pkarw I would like to start this!

[2018-06-04 18:08] pkarw commented on #1233
Thats great! Please go on and propose the initial version as a Pull Request!

[2018-06-04 18:10] Igloczek commented on #1239
I'd say that first of all docs should have own repository, to not mix docs updates with development, but what is most important, everything will be in one place.
Talking about tools +1 to vuepress, but also https://github.com/GitbookIO/gitbook is a nice choice, in snowdog we are using is currently for various things and just works.

[2018-06-06 11:41] sheensol commented on #1231
@pkarw I can do this

[2018-06-06 14:13] pkarw commented on #1231
OK, go for it

[2018-06-07 06:45] #1056 closed

[2018-06-07 06:45] #1076 closed

[2018-06-07 06:45] #1019 closed

[2018-06-07 06:46] #916 closed

[2018-06-07 15:22] GarPit opened #1264 "npm run installer in Dockerfile"
Hello,

I'm trying to make an image and writing a Dockerfile:

    FROM node:latest
    RUN git clone https://github.com/DivanteLtd/vue-storefront.git
    WORKDIR /vue-storefront
    RUN npm install
    RUN /bin/echo -e “No\ngit\n../vue-storefront-api\nhttp://localhost:8080/img/” | npm run installer

But last one doesn't work, `npm run installer` requires user input. Is there a way to pass it?

[2018-06-07 15:27] GarPit commented on #1264
Ok, but after this `npm run installer`, right?

[2018-06-07 15:27] zstarer commented on #1264
thanks! man that was a quick response :)

[2018-06-07 15:27] pkarw commented on #1264
Yes

[2018-06-07 15:29] GarPit commented on #1264
So using `yarn` instead of `npm` will make my input args work?

[2018-06-07 15:30] pkarw commented on #1264
We’re working on official docker images. Currently you can test the vue-storefront-api image and next 1-2 weeks we’ll be having the frontend image as well: https://github.com/DivanteLtd/vue-storefront-api/tree/feature/docker?files=1

[2018-06-07 15:31] pkarw commented on #1264
@GarPit no, it’s not abot arguments it’s about workspaces which are supported only by yarn; args is different story

[2018-06-07 15:32] zstarer commented on #1264
we just moved from using node:latest to node:8.5.0 since we saw an earlier PR that you were using 8.5.0 on debian

[2018-06-07 15:32] pkarw commented on #1264
You’re preparing these images for your deployment or kind of general ones?

[2018-06-07 15:32] GarPit commented on #1264
@pkarw Thanks, I saw both vue-storefront-api and vue-storefront repos on DockerHub. Not working yet?

[2018-06-07 15:33] GarPit commented on #1264
For development

[2018-06-07 15:34] GarPit commented on #1264
So my question is about passing input to those 4 questions. `yarn` or `npm` it doesn't matter

[2018-06-07 16:05] pkarw commented on #1264
Never tried this :) maybe just add the second mode to the installer / getting params from the named  args or ENV?

Generally speaking installer uses lot of defaults to generate the config file and maybe it’s a better way to generate the local.json outside the installer?

This is how we probably will approach configs in our official docker

[2018-06-07 16:13] pszreder commented on #1264
@GarPit we are working on a fully containerized environment for both projects (vue-storefront and vue-storefront-api).

For vue-storefront-api - take a look at the feature/docker branch. Testers welcome! :-)

For the vue-storefront - we are working on an official image, currently available at hub.docker.com is incomplete (for clarity, I will remove it so that it does not cause confusion). There ar

[2018-06-07 22:17] pkarw opened #1266 "Test + Fix MS Edge + IE10 support"
![win7_ie_10 0](https://user-images.githubusercontent.com/211899/41129201-47de6686-6ab1-11e8-8838-8622d6f080a5.jpg)
![win10_ie_11 0](https://user-images.githubusercontent.com/211899/41129202-48019e3a-6ab1-11e8-964e-70bde97d8fc1.jpg)
![win10_edge_17 0](https://user-images.githubusercontent.com/211899/41129203-482353fe-6ab1-11e8-8859-36dfdcbed881.jpg)

[2018-06-07 22:17] #1258 closed

[2018-06-08 06:34] pkarw commented on #1028
This will be closed after we close #1102

[2018-06-08 08:49] pkarw opened #1268 "The color switcher doesn't always switch the photo"
https://www.dropbox.com/s/zp06g0db8z3pelr/Screenshot%202018-06-08%2010.47.47.png?dl=1

All other attributes are correctly set; photo not - but just .. by the switcher in the middle :D The color switchers on the edges works fine - not sure if it's anyhow related :) Just an observation

[2018-06-08 09:49] Aekal opened #1269 "Check core components"
We should check existing core components and move some logic from/to theme.
At the moment we have some empty files in core. It'll be nice to check each file and decide which logic should be placed in core and which in theme.
We can also clean up some code, remove unnecessary files etc.

[2018-06-08 10:16] sheensol commented on #1231
kindly add me contributor in repo

[2018-06-08 17:57] gopkumargopi commented on #1102
@pkarw please assign this to me if my PR addressed this issue.

[2018-06-08 18:36] pkarw commented on #1269
@aekal Please remove {{ multistoreEnabled }} snippet from filter which causes displaying ... true
![0cd7e098-3d22-48a3-addd-dd8c7d58b3a3](https://user-images.githubusercontent.com/211899/41174892-a1878302-6b5b-11e8-833a-e4407aaff7c1.jpeg)

[2018-06-08 21:57] Aekal commented on #1269
@pkarw I forgot to remove one line for debugging purposes :P

[2018-06-09 01:38] Triloworld opened #1273 "Documentation - readme.md"
Why even bother?
No informations about supporting browsers - thats first important section.
Take for example: https://github.com/vuejs/vue 👀
Requirements section is very important as many folks on slack pointed out (ImageMagick for example).  - second
There exist logo, maybe add it ? - third
License section can go to the end of list, because there can be added little badge in header :)
Technology

[2018-06-09 01:49] Triloworld commented on #697
Can be GraphCMS as well: https://graphcms.com/ ?

[2018-06-09 04:41] pkarw commented on #697
Why not? Sure

[2018-06-09 05:02] pkarw commented on #1273
Thanks for your feedback! Sure - Readme is worth improving, we'll take care of the changes.
Would be great if You could help us with the docs and other issues! Feel free to choose some interesting tickets and start working on them!

[2018-06-09 05:16] pkarw opened #1274 "Add more integration tests"
We already have a Cypress framework integrated from the last hackathon (thanks to @marlass) and sole example test created: https://github.com/DivanteLtd/vue-storefront/blob/8fc6235fb7c24bb3d538e275fcdefdf349115b82/cypress/integration/basic-client-path.js

Would be great to add some more e2e tests, covering:

- [x] Login
- [x] Register
- [x] Configure product (select variant check if the right prod

[2018-06-09 18:59] jonashrem opened #1275 "Installation guide with local redis & elasticsearch"
The guide here https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Installing%20on%20Linux%20and%20MacOS.md states that you can use a local elasticsearch and redis instead of locker.

But the guide below only explains a deployment using docker.

Is anyone interested in extending the guide for installation without docker?

[2018-06-11 08:12] benyang2015 commented on #1275
@jonashrem do you solved this? I also want to know how to install redis & elasticsearch on local

[2018-06-11 08:22] benyang2015 opened #1276 "how to add bestseller on the left filter on the category?"

[2018-06-11 08:26] benyang2015 opened #1277 "Create facebook pixel Integration extension"

[2018-06-11 08:56] pkarw commented on #1277
Could You provide some more spec + acceptance criteria for this featuer?

[2018-06-11 08:59] pkarw commented on #1276
Please take a look on how this component has been designed: https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/components/theme/blocks/Inspirations/Inspirations.vue

And try to create Your own for displaying bestsellers. Then please use it in the https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/components/core/blocks/Category/Sidebar.vue

[2018-06-11 10:00] #1102 closed

[2018-06-11 10:57] pkarw opened #1279 "URL enhancements"
Let's try to:
- use "url_key" instead of automatically generated slug
- in the slug generation - don't remove diacritic characters - instead convert them to latin ones
- try to remove "/p" from the product url's as an otpion
-

[2018-06-11 15:52] filrak opened #1281 "Products attributes are multiplied after login"
Steps to reproduce
1. Visit VS,
2. Log in
3. Go to the product page (from homepage)

After above steps you should see this:

![image](https://user-images.githubusercontent.com/15185752/41242546-21f383f6-6da0-11e8-9fb7-5cebb8878c26.png)

or even this
![image](https://user-images.githubusercontent.com/15185752/41242623-52218df2-6da0-11e8-9029-a38c6489c5f3.png)

[2018-06-12 02:53] benyang2015 opened #1282 "something error"
<img width="1234" alt="vue-error" src="https://user-images.githubusercontent.com/15188607/41267661-e316104c-6e2e-11e8-9278-bf56bad974c3.png">

[2018-06-12 11:01] pkarw commented on #1279
Please set `config.products.useShortCatalogUrls=true` and `config.products.useMagentoUrlKeys=true` to use the new URL formats

[2018-06-12 11:14] #1279 closed

[2018-06-12 11:48] pkarw opened #1284 "HTML Entities are not encoded as UTF8 characters in <title>"
<img width="483" alt="screenshot 2018-06-12 13 47 31" src="https://user-images.githubusercontent.com/211899/41288611-3dc5a116-6e47-11e8-9fa6-815abfbff9cf.png">

[2018-06-12 12:08] #1284 closed

[2018-06-12 17:55] slightlyoff opened #1286 "JS Bundles are too large for mobile"
Howdy!

This project was brought to my attention by @tomayac, @ devnook, and @rowan-m.

Running the [live demo](https://demo.vuestorefront.io/) through [Web Page Test unearthed some surprises](https://www.webpagetest.org/result/180612_2W_282b204cdbfb9ff26d9ea34730770892/).

One of the most concerning issues is the size of the JS bundles. The [Content Breakdown view](https://www.webpagetest.org/res

[2018-06-12 18:03] pkarw commented on #1286
Thanks for Your observation; this is one of the reasons we started working on https://github.com/DivanteLtd/vue-storefront/pull/1210

It’s still Work In Progress but You can test it if You like / have some free time. @DavidRouyer is working on this one and it probably solve this issue

Any support is appreciated, we’re open source, and the biggest challenge is always to find as much time for the d

[2018-06-12 18:03] #1282 closed

[2018-06-13 18:42] pkarw commented on #1253
Done!

[2018-06-13 18:42] #1253 closed

[2018-06-13 18:42] #1276 closed

[2018-06-13 21:22] ismailyenigul opened #1290 "Dynamic config reload OR just to use the ENV variables for endpoint hosts and key variables"
I installed vue-storefront-1.0.5 and modifed config/local.json file.
replaced all localhost:8080 to http://myhostname:8080 in local.json

There is not localhost string in local.cf but I see that vue-storefront still tries to connect localhost:8080
for some requests.

![image](https://user-images.githubusercontent.com/2566232/41378731-a9e8ec6e-6f68-11e8-9cb5-4f74ca7d5795.png)

Is there any other pl

[2018-06-13 21:24] ismailyenigul opened #1291 "how to start vue-storefront and vue-storefront-api after installing"
Hi

I installed vue-storefront and vue-storefront-api with yarn && yarn installer

when I reboot the server, how should I start it again? I do not see any information about this on documentation.  I simply run npm start on vue-storefront and vue-storefront-api directory.
But I am not sure whether this is propery way or not.

and Is there any stop command rather then kill ?

[2018-06-13 21:26] ismailyenigul opened #1292 "howto replace localhost:8080 and localhost:3000 with FQDN"
Hi,

What is the proper way to access vue-storefront and vue-storefront-api over and fqdn instead of localhost? which files should I edit to make it work.
right now I only edit config/local.json file on both project. But I see that vue-storefront still try to access localhost:8080 for API.

[2018-06-14 06:11] pkarw opened #1293 "Remove elasticsearch-js dependency"
Related to: https://github.com/DivanteLtd/vue-storefront/pull/1210

ElasticSearch is just used in the core/store/lib/search.js
As we’re using bodybuilder for building the Elastic queries I don’t see much value in this library itself. You can just switch to fetch() instead of ElasticSearch.search() - put the query in the request body, set the index name and entity name in the url (see the network t

[2018-06-14 06:11] pkarw opened #1294 "Remove 'moment' dependency"
Related to:
https://github.com/DivanteLtd/vue-storefront/pull/1210

Wow! We can start with removing moment.js - it’s used just in one place (https://github.com/DivanteLtd/vue-storefront/search?utf8=✓&q=moment&type=) and we’ll save 10%

[2018-06-14 06:33] pkarw commented on #1294
Related to #1286

[2018-06-14 06:34] pkarw commented on #1293
Related to #1286

[2018-06-14 08:27] filrak commented on #1266
IE 10 support requires rewriting default theme, for edge everything except unsupported enhancements like ` mix-blend-mode` for images works now

[2018-06-14 08:28] #1293 closed

[2018-06-14 08:28] #1294 closed

[2018-06-14 11:56] pkarw opened #1298 "Create docs for config/default.json"
We need to describe each variable - line by line with the reference links to the source code.

[2018-06-14 11:56] pkarw commented on #1298
Related to #1239

[2018-06-15 04:45] pkarw commented on #1281
@filrak how about this one?

[2018-06-15 04:45] #1264 closed

[2018-06-15 07:29] #671 closed

[2018-06-15 17:39] pkarw commented on #1290
Config files are being read only during the compilation process. Have you restarted “yarn dev” after changing the endpoints? Please also “Clear Storage” in the browser developer tools “Application” pane. Let me know if the problem still exists.

[2018-06-15 17:41] pkarw commented on #1291
Yes it’s correct way to start it. It’s just a Node app. We’re working on docker containers for VS and VS-api so it will surely simplify start/stop process

[2018-06-15 17:41] pkarw commented on #1292
Duplicate of #1290

[2018-06-15 17:41] #1292 closed

[2018-06-15 17:43] pkarw commented on #1286
We made a first step with removing two huuuge packages (#1293, #1294) / it gave us -40% in size

[2018-06-15 18:50] tomayac commented on #1286
Brilliant progress! Tree shaking is good, but a common sense human audit is priceless!

[2018-06-15 19:22] ismailyenigul commented on #1290
Thanks for the update.
But I am still looking for where to update for localhost:8080/api/user/create calls?
Everything in local.json refers to my custom domain url.

[2018-06-15 19:40] pkarw commented on #1290
Please attach the default + local jsons to let me check it

[2018-06-15 20:17] #1233 closed

[2018-06-15 20:18] #1123 closed

[2018-06-15 20:19] pkarw commented on #1011
After some research done on the topic -> it makes no sense to combine PWA + AMP due to AMPHTML limitations (by some validation constraints / security rules it's not possible to use dynamic content as JS inside AMPHTML sites)

[2018-06-15 20:19] #1011 closed

[2018-06-15 20:20] pkarw commented on #1012
The PR API is currently extremly limited - basically just CoD and card payments are doable using this API

[2018-06-15 20:20] #1012 closed

[2018-06-15 20:21] #1106 closed

[2018-06-15 20:21] pkarw commented on #1269
Good job!

[2018-06-15 20:21] #1269 closed

[2018-06-15 20:22] #1015 closed

[2018-06-15 20:22] pkarw commented on #904
This is done!

[2018-06-15 20:22] #904 closed

[2018-06-15 20:23] pkarw commented on #1028
Fixed with the latest change of vuex module registration

[2018-06-15 20:23] #1028 closed

[2018-06-15 20:36] pkarw commented on #1281
I suggest You to use some global/store wide flag set in the `product/fetch` OR in the `ProductTile.vue` on click (maybe even better to put it here as it's clearly UI related issue, not Vuex one?) It should be cleared by kind of `setTimeout()` in case of exceptions / user derail from classical flow because it's - as all the mutexes - pretty risky to set some global lock :)

The second place to clea

[2018-06-16 08:43] ismailyenigul commented on #1290
local.json

more config/local.json
{
  "server": {
    "host": "167.99.181.100",
    "port": 3000
  },
  "elasticsearch": {
    "httpAuth": "",
    "host": "http://vuestore.ysrtech.net:8080/api/catalog",
    "index": "vue_storefront_catalog"
  },
  "ssr": {
    "executeMixedinAsyncData": true
  },
  "storeViews": {
    "multistore": false,
    "mapStoreUrlsFor": [
      "de",
      "it"
    ],

[2018-06-16 10:18] filrak opened #1308 "Product filters sometimes does not work properly"
![image](https://user-images.githubusercontent.com/15185752/41497880-46e5b2fc-715f-11e8-99b5-e1263dae7fda.png)
![image](https://user-images.githubusercontent.com/15185752/41497881-4be3697a-715f-11e8-969f-153485ed6da3.png)

[2018-06-16 10:19] filrak commented on #1239
I'm currently working on docs.vuestorefront.io since last month. I'll finish it after everything I'm working on currently will be done. I started doing ti with nuxt and GH API but it can be easly moved to anything else

[2018-06-17 10:19] #1308 closed

[2018-06-19 08:12] pkarw commented on #1290
The config looks good at a first glance. Please let me know which exact requests go to the localhost? It may help me spot the problem.

Please also do confirm that after chaning the config you've restarted the app + cleared the browser storage?

[2018-06-19 08:41] chetan-prime opened #1315 "Error: render function or template not defined in component: GenericSelector"
I have updated to 1.05 to see if it would fix an issue with the products not displaying.
Now I can see the error in console, earlier 1.01 would give a "500 | Internal Server Error" but nothing on console.
I am using products I imported from magento2 using the mage2vuestorefront package. That imported fine with no errors. I'm able to open the category pages just fine and can see the products list a

[2018-06-19 08:45] chetan-prime commented on #1315
Looks like I need to change some of the hostnames from "localhost" in my local.json. That I'm changing but this is not connected to the product link opening error I mentioned above

[2018-06-20 07:29] filrak opened #1316 "Create Core API module for Cart"

[2018-06-20 07:29] #1316 closed

[2018-06-20 07:29] filrak opened #1317 "Offline orders with push notification"

[2018-06-20 07:29] #1317 closed

[2018-06-20 08:33] akbarik commented on #1231
Currently on all My Account pages, including My Profile, My Shipping Details and My Newsletter (newsletter has a bug though), the Update button is always active, no matter were there any changes in the fields or not. If there are no changes, pressing Update button doesn't trigger the API call to the backend.
Should we leave it this way or should we make the Update button inactive (disabled) if the

[2018-06-20 10:18] pkarw commented on #1315
Please change the import path of GenericSelector from the `core/components/GenericSelector` to `theme/components/core/GenericSelector` in your theme

[2018-06-20 10:18] #1315 closed

[2018-06-20 10:18] #1291 closed

[2018-06-20 10:20] pkarw commented on #1231
There is an agreed change to the validation mechanism to make the buttons enabled all the time and show apropriate validation messages when sth is wrong: https://github.com/DivanteLtd/vue-storefront/pull/1073

I think we should leave it as it is

[2018-06-20 10:26] pkarw opened #1318 "External Checkout redirect hardening (Magento1, Magento2)"
Currently, when user clicks "Goto checkout" with the External checkout enabled (https://medium.com/p/af415843ac86?source=user_profile---------10-------------------) we assume that the shopping cart has been synchronized with Magento

If the Magento API responses are extremely slow OR user was offline for the long time - it may occur that the shopping cart is NOT synchronized yet, when user select

[2018-06-20 11:00] #1231 closed

[2018-06-20 16:51] akbarik opened #1323 "My Account page update without changes"
When you change value of any field on either My Profile, My Shipping Details or My Newsletter sections of My Account page, and press Update button, it fairly updates the info by sending it to the backend. But after you've done so, press Edit button and without changing any values press Update button. The info is sent to the backend again, even though there was no change this time. This bug shows u

[2018-06-21 05:35] alinadivante opened #1326 "After selecting a filter with specific color, in the gallery there are photos for all configurations."
1.  Visit Vuestorefront
2. Go to any category
3. Choose any product
4. Select color
5. Review available gallery

**Actual results:**
There are photos for all configurations, not for specific color.
![image](https://user-images.githubusercontent.com/36628922/41699800-e8805d78-7525-11e8-8b6b-c5d1ee6d16a3.png)

**Expected:**
There should be photos only for specific color.

[2018-06-21 05:41] pkarw commented on #1326
You mean that the photo is not changing to the currently selected color (white in this case), right?

I mean -> photos of other colors should stay where they are, but we should have changed the current one for white

[2018-06-21 05:41] pkarw commented on #1326
This is related to: #1268 @nuovecode could You take care of this?

[2018-06-21 05:42] #1323 closed

[2018-06-21 05:49] alinadivante commented on #1326
I mean two issue: the first one is actually reported (#1268 ) and the other: I assumed that by choosing a specific color I will have a photo gallery containing only clothes in that color

[2018-06-21 05:52] pkarw commented on #1326
Ok, the second point is a new feature / feature enchantment then :) could you create the second issue for it? The current, expected behavior is that it just should show the specific color photo, not filtering the gallery.

I agree that it would be useful feature, why not to add it?

[2018-06-21 06:11] alinadivante opened #1327 "Choosing a specific color will show a photo gallery containing only clothing in this color."
As new user of the vue storefront, I expect that by selecting a color, I will only see available photos for this filtr, not for all configurations.

**Example:**
Choosing a black blouse, where two photos are available for this color, I can browse the gallery. However, only one picture will be shown for green or yellow color.

![image](https://user-images.githubusercontent.com/36628922/41700999-f38

[2018-06-21 12:34] john19691 opened #1330 "Deploying to Heroku"
How would I deploy this to Heroku? I get an application error every time. I even tried using Github pages but still get an error.

[2018-06-21 12:40] pkarw commented on #1330
Hi John, we don't have an recipe for this yet. Which error are You getting?

[2018-06-21 12:48] john19691 commented on #1330
So there isn't a way to deploy this yet? Just an application error on Heroku, it works locally.

[2018-06-21 13:42] pkarw commented on #1330
Nobody has tested it yet :(

[2018-06-21 13:42] #1330 closed

[2018-06-21 14:10] leon0v opened #1333 "HTTP/2"
I ran a [Lighthouse](https://developers.google.com/web/tools/lighthouse/) audit on the default PWA. 1 failing audit is that the app doesn't use HTTP/2. I get that it's not necessary, but what would be the best way to implement this?

[2018-06-21 14:12] pkarw commented on #1333
we're using http2 on the https://demo.vuestorefront.io (nginx level). http2 is just experimentally supported by the nodejs so that's the reason we don't support it directly in the app

[2018-06-21 18:41] #1333 closed

[2018-06-22 03:11] benyang2015 commented on #1277
facebook pixel plugin：like
https://marketplace.magento.com/apptrian-facebook-pixel.html

[2018-06-22 07:55] chetan-prime opened #1334 "Please configure product custom options and fix the validation errors"
I have vuestore configured along with products imported via mage2vuestorefront .
This is magento2 for a optical vision store, so each product has custom options like "Right-sphere" , "Left-sphere" etc. which user has to specify power etc. before selecting an item. In M2 it shows the dropdown for each option.

However in vue-storefront I can see the default options like size, color etc., but all th

[2018-06-22 08:22] pkarw commented on #1334
Hi! Thanks for this issue! We're currently supporting just a basic types of the configurable options:
https://github.com/DivanteLtd/vue-storefront/blob/master/core/components/ProductCustomOptions.js

https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/components/core/ProductCustomOptions.vue

It seems like Your options types differs from "radio", "select" neither "checkbox"

[2018-06-22 08:54] #1122 closed

[2018-06-22 09:18] nstgmk opened #1335 "Cache not responding"
When I clear the browser cache, enter my store's home page and then navigate to any category or product page I get the error message "Cache not responding". After this happens and I check Application > IndexedDB in Chrome I can see that nothing gets added to the database. For example, if I try to add something to the cart I can see that it's not added in the database. I can place an order in the c

[2018-06-22 10:10] pkarw commented on #1335
Thanks! This is great insight for solving this problem once and for all. We should consider how to deal with it; currently there is a fallback to the in-memory cache so the app is working in case of problesm with cache not responding - like normally. The downside is that if this problem will happen - then nothing is stored in the persistent storage (so after reloading the page shopping cart, user

[2018-06-22 10:12] pkarw commented on #1335
The simplest way to work around it is just to modify the:
https://github.com/DivanteLtd/vue-storefront/blob/6be64960d9dc5e728fcdda75068f80d8dbc8436a/core/store/lib/storage.js#L42

and the:
https://github.com/DivanteLtd/vue-storefront/blob/6be64960d9dc5e728fcdda75068f80d8dbc8436a/core/store/lib/storage.js#L129

to add the `ready()` chain before setItem(), getItem():
https://localforage.github.io/lo

[2018-06-22 13:18] nstgmk commented on #1335
Great suggestion! I've given it a try now. I changed `getItem` to the following:
[code]

And it worked great! No more error messages and IndexedDB stores persistently. I tried to the same with `setItem`:

[code]

But this was not successful. I got the same error message that the cache was not responding and also a new error `Uncaught (in promise) TypeError: Cannot read property 'db' of null`. It l

[2018-06-22 13:44] pkarw opened #1338 "Phone number field is missing in the Edit Profile"
https://www.dropbox.com/s/upkhbw116z26i4t/Screenshot%202018-06-22%2015.44.29.png?dl=0

It's available to enter for the shipping details however :)

[2018-06-22 13:55] pkarw commented on #1335
That's cool - in the meantime I've fixed it in parallel to Your fix:
https://github.com/DivanteLtd/vue-storefront/commit/079a2f002999dc0b3ced64a4c06e9b5c64aaecea

:)

For me it works for `setItem` as well. The message You're getting is probably caused by some other reason ..

[2018-06-22 14:04] benyang2015 opened #1339 "vue-storefront use new database,how to manage the database?"

[2018-06-22 14:09] nstgmk commented on #1335
You're probably right :) I'll try your solution instead and see if it works. Thanks!

[2018-06-22 14:09] #1335 closed

[2018-06-22 14:12] pkarw commented on #1339
what do You mean? Please check: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Database%20tool.md

If you need some more sophisticated tools then please search for some ElasticSearch gui

[2018-06-22 14:13] pkarw commented on #1335
Thanks! Without Your observation i wouldn't have fix it! :)

[2018-06-22 15:12] pkarw opened #1344 "Add customizable virtual products support"
http://demo-magento2.vuestorefront.io/luma-yoga-for-life.html

[2018-06-22 21:03] pkarw opened #1348 "Thank You Page on iPhone after notifications have been added"
![4e51e4b9-9a4f-4b21-88b8-d7635218fb5b](https://user-images.githubusercontent.com/211899/41799099-66ff85e8-7670-11e8-87c7-0bac3041abf4.png)

[2018-06-22 21:13] #1348 closed

[2018-06-22 21:17] #1227 closed

[2018-06-23 05:57] pkarw opened #1351 "Thank You Page improvements"
- text layout
- remove Notification button on iPhone
![2bc080a7-dfa5-4127-ac9f-fa49ce15de80](https://user-images.githubusercontent.com/211899/41806276-06514b8c-76bb-11e8-9633-8376f4c3b7e5.png)
![ba15df21-fc6a-4125-896f-49d321eded1c](https://user-images.githubusercontent.com/211899/41806277-067965ae-76bb-11e8-9b75-a4abbca1a57b.png)

[2018-06-23 11:20] chetan-prime commented on #1334
Thanks, for some reason github took 20 hours your reply to be visible on my end.
I can see in the code that "select" dropdowns don't seem to be covered. Will attempt to change the code on my end and send a PR in when I get it to work with default theme

[2018-06-23 13:42] nuovecode commented on #1327
Hi! ok that's could be a configuration. Do you agree?

[2018-06-23 14:00] nuovecode commented on #1326
Hi! can't find this bug. The steps I'm doing on https://demo.vuestorefront.io are:

1. Visit Vuestorefront
2. Go to category pants /c/pants-27
3. Choose  product "Portia Capri" (the first of the list)

_The gallery goes to selected color photo (blue)_

4. Select color green

_The gallery goes to the green photo_

Ok to give the option to show only the photos of the selected option (and not the who

[2018-06-24 03:40] john19691 commented on #1330
it doesnt have to be heroku, i just want to deploy it so i can check on my iphone, etc

[2018-06-24 12:34] chetan-prime commented on #1334
This is a simplistic patch for the default theme that enables support for "drop_down" custom options. This is apparently different from "select" which the theme already has code for.
In this patch had elected to use a custom ProductOptions.js within the theme itself.
This is mainly for the reference of anyone else who faced problems with their "drop_down" product options.

[1.05-productoptions-pat

[2018-06-24 12:34] #1334 closed

[2018-06-24 12:38] pkarw commented on #1334
Cool! How about including this change in the core? Would be great if you will be willing to test it a little bit and send us a Pull Requst?

[2018-06-24 12:39] pkarw commented on #1334
@chetan-prime let me know what do you think about it?

[2018-06-24 15:00] chetan-prime commented on #1334
Sure, will do a PR in a day or two. I am checking on my end for the correct vue classes to use to make the select look better

[2018-06-25 05:36] alinadivante commented on #1326
@nuovecode Hi! Try to switch to Orange color. After your steps + 4. Select the color orange -  I still see green

[2018-06-25 06:39] fineb2c opened #1354 "Freezing while setting up on EC2"
I'm trying to set this up on Amazon EC2 but it gets frozen during 'Restoring Data into ElasticSearch.' Any ideas?

[2018-06-25 12:44] #1354 closed

[2018-06-25 13:44] szafran89 opened #1357 "Develop branch doesn't work"
Please check latest version of develop

![image](https://user-images.githubusercontent.com/5370251/41853542-4b9d7164-788e-11e8-943b-2259b730cb91.png)

[2018-06-25 13:51] pkarw commented on #1351
@filrak and the UI improvements?

[2018-06-25 14:03] pkarw commented on #1357
It seems like it stopped to work after the last commits from Saturday. I've got a version from the end of the Friday and it's fine. From the message from @szafran89 it seems like it maybe somehow connected to
https://github.com/DivanteLtd/vue-storefront/commit/1f569054b73d9412e934fe25985c41e70026b66b

I'm not sure if mixins shouldn't have been a array (in this commit it's an object)

[2018-06-25 15:01] filrak commented on #1357
My fault, mixins should be an Array. I must admit im an idiot :x

[2018-06-25 15:22] #1357 closed

[2018-06-25 16:10] #1339 closed

[2018-06-25 20:49] pkarw commented on #836
This faivicon is not transparent ;( https://www.dropbox.com/s/daqqjq2hkc6zt5y/Screenshot%202018-06-25%2022.47.54.png?dl=0 @StasiekDivante @qiqqq

[2018-06-25 22:18] #1338 closed

[2018-06-25 22:19] #1162 closed

[2018-06-25 22:19] #836 closed

[2018-06-26 05:21] michaelsmith193 opened #1362 "Page Links Not Redirecting"
When I click any link on the app, it doesn't redirect me. When I right click and open in a new tab, it works. Any ideas??

[2018-06-26 05:40] pkarw commented on #1362
Could You please paste the developer tools console output?

[2018-06-26 05:49] michaelsmith193 commented on #1362
you can view it on http://13.229.73.65/

[2018-06-26 06:09] michaelsmith193 commented on #1362
Log: http://textuploader.com/dzow4

I just tried Safari, and the Sidebar doesn't even open

[2018-06-26 06:15] pkarw commented on #1362
OK, it works for me because I've got a localhost:8080 api runing on my machine.
You haven't changed the endpoint URLs and elasticsearch url in the config/local.json - and it ends up trying to get the data from localhost:8080 which is default.

Please find & replace all the `localhost` references in the config/local.json with the proper API endpoints https://www.dropbox.com/s/ndw29ep33hro1j2/Screen

[2018-06-26 06:19] michaelsmith193 commented on #1362
So I replace it with my Magento URL ?

[2018-06-26 06:34] michaelsmith193 commented on #1362
what is vue-storefront-api? So 13.229.73.65:8080?

[2018-06-26 06:36] pkarw commented on #1362
No idea :) It depends on where You've installed it :)

[2018-06-26 06:39] michaelsmith193 commented on #1362
Isn't it default installed on localhost:8080

[2018-06-26 07:42] michaelsmith193 commented on #1362
I tried running the vue-storefront-api on both localhost:8080 and 0.0.0.0:8080. Put 13.229.73.65:8080 on the config/local.json file but couldn't access both of them, and get { Error: Request Timeout after 5000ms ..... }

[2018-06-26 08:38] pkarw commented on #1362
Please check Yout firewall settings

[2018-06-26 08:49] michaelsmith193 commented on #1362
Thanks so much :) It was the firewall settings in Ec2

[2018-06-26 08:51] #1362 closed

[2018-06-26 13:26] kyvaith opened #1364 "Automated tests with Gherkin, Cucumber and Puppeteer"
Another proposal. Please look at this article on Medium: https://medium.com/@anephenix/end-to-end-testing-single-page-apps-and-node-js-apis-with-cucumber-js-and-puppeteer-ad5a519ace0

This looks cool and modern. Gherkin simplifies a way to write automated test, using high-level speakeen language to define steps and tests.

[2018-06-26 13:28] pkarw commented on #1364
We've started the e2e tests initiative using cypress and probably won't like to change the framework for a while https://github.com/DivanteLtd/vue-storefront/tree/develop/cypress/integration

[2018-06-26 13:30] #1364 closed

[2018-06-26 19:02] #968 closed

[2018-06-27 10:30] alinadivante opened #1372 "Wrong validation for Zip-code field."
1.  Log in into Vuestorefront
2. Go to My Account→ My shipping details
3. Edit your shipping details
4. Type three letters into Zip-code and try to save changes

**Actual results:**
Wrong validation.
![image](https://user-images.githubusercontent.com/36628922/41968554-1458f200-7a05-11e8-946f-0d1fe4f410fd.png)

**Expected:**
It should be possible saving three letters or notification should be chang

[2018-06-27 21:07] Aekal opened #1377 "Improve e2e cypress tests"
At the moment our tests works, but they are very sensitive to changes. For example selectors like
[code]
can easly break by changing one class / moving elements in code. It'll be better to add some key `data` attributes and use instead of selectors
[code]
We can also use other recommendations descibed in cypress docs https://docs.cypress.io/guides/references/best-practices.html

I think after thes

[2018-06-28 09:03] pkarw opened #1381 "Magento2 one login (external checkout)"
Currently, when You're logged in to Vue storefront and uses the External Checkout (going to Magento checkout for just placing an order - https://medium.com/p/af415843ac86?source=user_profile---------10-------------------) Your session is being held even after returning back to VS.

However, If you're not authorized in VS -> go to Magento2 for checkout -> authorize -> go back -> the session is not

[2018-06-28 12:27] mishanino opened #1383 "Category component doesn't contain data about category description and category image"
We use the latest versions of vue-storefront and vue-storefront-api from master branch, but we can't to get data from component or from vuex about category description and category image.
Magento Admin Dashboard:
![image](https://user-images.githubusercontent.com/4930295/42033932-1bfc939e-7ae7-11e8-9f33-0793e6f31471.png)

Vue Storefront Component Data:
![image](https://user-images.githubuserconten

[2018-06-28 12:43] mishanino commented on #1383
take a look at config/local.json (vue-storefront) entites section
add the fields to the includeFields
and restart yarn dev

[2018-06-29 07:59] moezzie opened #1388 "Basic client path integration tests failing"
Bug report
Branch: develop

The Cypress integration tests in `tests/integration/basic-client-path.js` fails on closing the initial modal that is supposed pop up.
The modal doesn't seem to be displayed any longer.

<img width="553" alt="modal" src="https://user-images.githubusercontent.com/329627/42083090-28da61f6-7b8a-11e8-8225-ad92a2938907.png">

[2018-06-29 14:09] pkarw opened #1395 "Fix the SearchPanel query"
Currently, the search breaks on such cases:
- doesn't search for products by "sku"
- uses OR operator (probably needs to use AND) -> https://www.dropbox.com/s/48vf4dlqlrduwg6/Screenshot%202018-06-29%2016.08.13.png?dl=0
- doesn't support fuzzy/partial searches (https://www.dropbox.com/s/hq2xmeioxbtiy5t/Screenshot%202018-06-29%2016.08.43.png?dl=0)

Would be great if somebody could take care of the s

[2018-06-30 18:58] daksamit opened #1397 "Typo in doc/Faq and Receipes.md"
![image](https://user-images.githubusercontent.com/7165997/42128281-26fd716a-7ca8-11e8-8c15-0fbe8ec8ea6f.png)

Missing Y character.

[2018-07-01 08:06] moezzie commented on #1388
Seems to have been fixed with commit [de14973](https://github.com/DivanteLtd/vue-storefront/commit/de149737b4ee972756a11e4899c7a85208840b60#diff-0f2993e46ac355c16c28ed95ee74b144)

[2018-07-01 09:44] moezzie commented on #312
I just submitted PR #1398 implementing this feature for the checkout and my account pages.

[2018-07-02 04:43] pkarw commented on #1397
Thanks, fixed!

[2018-07-02 04:43] #1397 closed

[2018-07-02 16:48] #1377 closed

[2018-07-02 16:48] #1388 closed

[2018-07-02 16:49] #1274 closed

[2018-07-02 21:37] kshaa opened #1401 "Homepage slider scroll performance issue"
Pre-requisites:
- OSX 10.12.6
- Chrome 67.0

Steps to reproduce:
- Install and open Vue-storefront
- Have it open in desktop mode (couldn't reproduce issue in mobile)
- Scroll very quickly to bottom of page, then up, then down, etc.

Expect:
- Scroll is swift and smooth, all pictures are immediately visible, when scrolling into view

Reality:
- Scrolling into view results in grey/black boxes, whic

[2018-07-03 08:20] mdanilowicz opened #1404 "Password reset not working"
Error when I try to change my password:

![2018-07-03_10h23_07](https://user-images.githubusercontent.com/7597086/42207635-b0dd0f40-7eaa-11e8-8c33-9f04cd52f819.png)

[2018-07-03 08:33] mdanilowicz commented on #1404
Fixed in develop branch

[2018-07-03 08:33] #1404 closed

[2018-07-03 11:51] alinadivante opened #1405 "There is no possibility to browse the photo gallery by clicking on the thumbnails."
1. Visit Vuestorefront
2. Go to any category
3. Choose product
4. Click on the magnifying glass icon in the picture
5. Change the photo by clicking on the thumbnails on the left
![image](https://user-images.githubusercontent.com/36628922/42216247-7ba4f06a-7ec1-11e8-9dac-445ecc0d362d.png)

**Actual results:**
Nothing happens. Photo is not changed.

**Expected results:**
It should be possible to bro

[2018-07-03 12:46] alinadivante opened #1406 "There is no menu option on the mobile device that redirects to the "Compare Products" site."
1. Visit Vuestorefront on your mobile phone
2. Choose any products
3. Add to compare
4. Go to Compare Products

**Actual results:**
There is nowhere Product comparison site.

**Expected results:**
There should be "Compare Products" option in hamburger menu or some icon in the header of the page redirecting to Product comparison.

[2018-07-03 12:47] #1405 closed

[2018-07-03 13:04] pkarw commented on #1406
@StasiekDivante please propose how this option should look like

[2018-07-03 13:24] alinadivante opened #1408 "Search results don't match entered query."
1. Visit Vuestorefront
2. Click on Search icon
3. Type "SALE" and look at the results
4. Now clear field and type "NEW" and also look at the results

**Actual results:**
After step 3 there are products with "SALE" label (ok).
After step 4 - results include products that don't match the search query (-).
![image](https://user-images.githubusercontent.com/36628922/42222181-a38d7fbc-7ed4-11e8-9258-7b

[2018-07-03 18:36] pkarw commented on #1326
Irene - let me wrap up the problem: the issue is wha to do with the images that are not attached to any specific color right?

First: we need to have a config option - current behavior of merging media_gallery and children images should still be available.

If the option switches the gallery behavior to this new one - we  can just filter out the media_gallery keeping just configurable children ima

[2018-07-03 18:37] pkarw commented on #1326
we don’t plan to manage small, thumb ... images. Only media_gallery and images collected from the configurable_children

[2018-07-04 08:29] #455 closed

[2018-07-04 08:30] #389 closed

[2018-07-04 13:22] pkarw commented on #1001
Consider it done: https://github.com/DivanteLtd/vue-storefront-integration-boilerplate

[2018-07-04 13:22] #1001 closed

[2018-07-05 10:19] alinadivante opened #1415 "After marking and unmarking the checkbox the hover effect remains on it."
1. Visit Vuestorefront
2. Open any category
3. In Price column mark a checkbox
4. Unmark the same checkbox

**Actual results:**
Hover effect remains on unmarked checkbox.
![image](https://user-images.githubusercontent.com/36628922/42317771-702ebf62-804d-11e8-9fc7-4ece8831474a.png)

**Expected results:**
Hover effect should disappear if mouse cursor is not on the checkbox.

[2018-07-05 10:34] alinadivante opened #1416 "In Gear category, the filter contains only a black color, despite the products available in different colors."
1. Visit the Vuestorefront
2. Go to the Hardware category
3. Check the available colors in the filter

**Current results:**
There is only a black color, although there are products of different colors.
![image](https://user-images.githubusercontent.com/36628922/42318419-4012e982-804f-11e8-9f5f-97d4b68fbbeb.png)
![image](https://user-images.githubusercontent.com/36628922/42318431-4c25041c-804f-11e8

[2018-07-05 11:48] alinadivante opened #1417 "After changing application language all products disapper from cart and wishlist"
1. Log in into the Vuestorefront
2. Add some products to cart and wishlist
3. Change the application language (click on US/EN/USD and Choose your country)
4. Check your cart

**Current results:**
After changing application language all products disapper from cart and wishlist

**Expected results:**
There should be the same products that were added before changing the language

[2018-07-05 13:59] pkarw commented on #1417
This is an intentional behavior. I'm not sure about mixing the content from 2 shops (prices, currency, order routing ...). Well, I can of course add this option (like keeping the carts as an configuration option).

It's just a prefix-issue for the localStorage current-cart collection

[2018-07-06 01:25] benyang2015 opened #1418 "is there a doc about integrate Magento2 to vue-storefront step by step,include all need plugin or project?"
the doc about install vue-storefront on linux is not detailed.
we also need to install mage2vuestorefront and magento2-vsbridge.
after import the data from magento2 to vuestorefront,we alse need to rebuild the project,we need the detailed doc.
Thanks!

[2018-07-06 11:49] #1418 closed

[2018-07-06 20:33] jimcreate78 commented on #1258
I am getting permission denied when trying to...
sudo npm install github:DivanteLtd/magento2-rest-client
or
sudo npm install magento2-rest-client

[2018-07-09 07:44] pkarw commented on #923
Maciej here is the task about the payments

[2018-07-09 12:00] frankgrupe opened #1420 "Password rules not alligned"
Tried demo.vuestorefront.io from mobile:
1. added items to cart
2. registered with password "test1234"
3. gone through checkout
4. confirming the order I get a password error and cannot "easily" correct it (see
![screenshot_20180707-082839_chrome](https://user-images.githubusercontent.com/40632569/42449308-6aa86314-8380-11e8-8190-cc74b87482a3.jpg)
)

Password rules should be the same throughout th

[2018-07-09 12:09] collymore commented on #793
Hi, can you assign this to us and we'll be working on it from today.

[2018-07-09 12:16] pkarw commented on #793
OK, @mdanilowicz will help You if You need any support.

[2018-07-09 12:37] pkarw commented on #1420
Thanks!

Just a short question to let us reproduce this issue: Have You clicked "login to your account" in the checkout? I've just tested this path and got this kind of error immediately in the "Register" form - not being able to go to "place an order" step (which is desired flow).

I'm just trying to localize the form that passed You to the checkout :)

[2018-07-09 13:01] frankgrupe commented on #1420
I ticked "I want to create an account" on the way to checkout and entered the password "test1234" there twice.

[2018-07-09 13:07] pkarw commented on #1420
Thanks! Now it's clear.

I think we should do two things:

1). Adjust our form validation to the backend validation rules (exactly as described in the err. msg)
2).  As this is a separate rest call - we can handle the errors in a more sophisticated/use-friendly way. In case of the `user/register` error, we should scroll the screen up and set the focus to the `password` field, to make it easier to

[2018-07-09 16:40] akbarik commented on #1420
Yes, @pkarw, I'm taking it

[2018-07-10 06:17] valmedia commented on #1417
Will it be able to auto convert the item to a linked item for given language?

[2018-07-12 08:27] Bek81 opened #1423 "Starter theme - Product page - 500 | Internal Server Error"
Hi,

We are testing vue-storefront (e vue-storefront-api).
Our goal should be to develop a completely custom frontend from scratch, so we want to try the "theme-starter".
After the installation and config, we execute "yarn dev" and browse to the URL "http://localhost:3000"; from the home-page we browse to the product page by following the link. The product page opens correctly showing the JSON wit

[2018-07-12 18:36] mdanilowicz commented on #1415
Fixed in #1424

[2018-07-12 18:40] #1415 closed

[2018-07-13 08:33] StasiekDivante commented on #1406
<img width="360" alt="sidebar menu on mobile" src="https://user-images.githubusercontent.com/37068687/42681516-33e70e24-8688-11e8-94fd-a8c6228d5706.png">
Let's just add compare products link in sliding menu

[2018-07-16 14:18] pkarw commented on #1420
@akbarik could You just let me know about the status in here

[2018-07-16 14:57] anqaka commented on #1142
#1328 issue resolved

[2018-07-16 14:57] #1142 closed

[2018-07-16 15:00] anqaka opened #1426 "CMS Integration - add cms data by idntifier"
add feature to cms-data extension: Get CmsBlock & CmsPage by Magento `identifier`
Magento API module:  https://github.com/SnowdogApps/magento2-cms-api/pull/2

[2018-07-16 18:09] #255 closed

[2018-07-16 18:40] Aekal commented on #598
Duplicated #911

[2018-07-16 18:40] #598 closed

[2018-07-17 08:45] pricccc opened #1427 "The convention is, that schemas are stored under /src/models?"
Hello, I might be wrong, but I was looking through your code and it looks to me that the schemas are actually stored in /core/store/modules while in your documentation it says that they're stored in /src/models (link below).

[https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Working%20with%20data.md](url)

[2018-07-17 10:21] pkarw commented on #1427
Correct. Could You please fix it?

[2018-07-17 11:18] dimasch opened #1428 "Dublicated rows in Indexed DB for CMS extension"
The includes work only for simple array `['cat', 'etc']` But in CMS blocs using `[{id: '', identifier: ''}, {...}]`
https://github.com/DivanteLtd/vue-storefront/blob/f8035412705c0449783bf7441cbf560822ff7677/src/extensions/cms/store.js#L45

I check fix:
[code]

[2018-07-17 11:24] pkarw commented on #1428
@anqaka coult You take a look at this?

[2018-07-17 12:24] pricccc commented on #1427
I could, but I don't know where do you want it to be changed? Should the documentation be changed so that it would fit the code, or should the code be edited to meet the documentation? I feel that the first is correct so i did that.

[2018-07-17 14:58] mishanino opened #1429 "The product page shows incorrect related products until you refresh page"
The product page shows incorrect related products untill you refresh page

**Steps to reproduce:**
1) go to the product page https://demo.vuestorefront.io/p/WS10/karissa-v-neck-tee-1529/WS10
2) go to the "Similar products" section and click to the 4th product
![image](https://user-images.githubusercontent.com/4930295/42825374-8e2c335e-89ea-11e8-82e6-0cab81937774.png)
3) go to the "Similar products

[2018-07-17 17:39] pkarw commented on #1429
This is the expected behavior as we’re just reloading the product data without related information. However we could easily fix it within the theme - the solution may be to use a event in the Related component to refresh the data or to use <a href... instead of <router-links to address the related products (which is not recommended)

[2018-07-18 07:48] filrak opened #1430 "Offline orders confirmation"
**Current behavior:**

Currently when we are offline and placing the order it's data is stored in indexedDB with `transmitted: false` property. After coming back online the app automatically [checks](https://github.com/DivanteLtd/vue-storefront/blob/master/core/client-entry.js#L135) if there are any orders with property `transmitted` set to `false`. If so it's sent to the server.

**Desired behavi

[2018-07-18 08:24] Tjitse-E opened #1431 "VS frontend crashing multiple times a day in production"
I'm running Vue Storefront 1.1, deployed on a server, with Elastic and Redis, not using docker. I'm using Nagios to check if both the API and the frontend are up. I've noticed that the frontend is crashing multiple times a day. This actually causes a few minutes of downtime multiple times a day.

I'm building the frontend like this, using PM2:
[code]

What triggers a frontend rebuild? Any ideas wh

[2018-07-18 08:49] dare-adewole opened #1432 "Vue Storefront Setup - #02 Technical Webcast video update (https://www.youtube.com/watch?v=M6lXVZUfnR8))"
[](https://www.youtube.com/watch?v=M6lXVZUfnR8)

[2018-07-18 09:14] pkarw commented on #1431
This is stange. None of these commands is running the build process. Are you shure it's rebuilding or restarting (significant difference) ;)

[2018-07-18 09:49] filrak opened #1433 "[ Cart ] Add coupon functionalities to cart module"
Read before picking:
- [About modules](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/api-modules/about-modules.md) - explaination, structure, motivations behind modules
- [Refactoring plan for modules](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/api-modules/refactoring-to-modules.md)

Currently our Core Cart Module contains Microcart and Cart items behavior (mostly

[2018-07-18 10:22] filrak opened #1434 "[ Wishlist ] Add Wishlist core module"
We should move wishlist logic to Core API Wishlist Module (first create it ^^), use it inside core components and unit test core api modules ( read [this](https://github.com/DivanteLtd/vue-storefront/issues/1213) if you don't know what core api modules are ). Basically this module will be extremely similar to Cart module which can be found in `core/api/cart`

What should be done
- [x] Logic from W

[2018-07-18 13:44] Tjitse-E commented on #1431
Ok i've doubled the ES memory to 8GB, let's see if that solves the issue.

[2018-07-18 14:14] filrak opened #1435 "[ DRAFT / WIP ] [ Core API Module / User ]"
WIP. But if there is anyone interested on implementing User API Module you can write here now and I'll contact you to discuss details ;)

[2018-07-18 18:43] pkarw commented on #1427
OK! Fixed

[2018-07-18 19:12] pkarw opened #1437 "IE11 support"
We're supporting all the modern browsers but seemingly the IE11 still got some issues with Vue Storefront. We're looking forward for somebody to test it out and fix the major IE11 errors.

[2018-07-18 19:13] pkarw commented on #1431
Probably sth around 16GB would be safe; but please just let me know if it helped

[2018-07-19 04:13] #1428 closed

[2018-07-20 06:01] alinadivante opened #1443 "Untranslated content in 'Payment method' section."
1. Login into Vuestorefront
2. Add something to the cart
3. Go to checkout
4. Continue to shipping
5. In 'Payment method' select Stripe option
6. Press 'Go review the order'

**Actual results:**
Untranslated content.
The card number and alert are not translated.
![image](https://user-images.githubusercontent.com/36628922/42985573-597fe6be-8bf2-11e8-8912-2906a3f36864.png)
![image](https://user-imag

[2018-07-20 06:03] pkarw commented on #1443
Alina, this is from Stripe - it discovers the language using browser settings (probably Polish in Your case), it's not a bug ;)

[2018-07-20 06:03] #1443 closed

[2018-07-20 06:08] alinadivante opened #1444 "Errors in the console after refreshing the checkout page."
1. Login into Vuestorefront
2. Go to checkout
3. Refresh page

**Actual results:**
User is logged out. Errors in Console.
(After the next refresh of the page, the user is logged in and the home page is opened)
![image](https://user-images.githubusercontent.com/36628922/42985997-1eb28f8a-8bf4-11e8-80a0-8e1cebdf999e.png)

**Expected:**
The user should stay logged in to the checkout page.

[2018-07-20 06:13] alinadivante commented on #1443
Oh, ok :)

[2018-07-20 08:25] filrak commented on #1444
I was able only to reproduce the redirection to homepage

[2018-07-20 21:57] daksamit opened #1447 "Using acss with vue-storefront"
I wonder, if all css rules should be atomic,
it would be good idea to use [atomic css](https://acss.io/) with vue storefront ?

[2018-07-21 06:51] zadigus opened #1448 "Question about architecture"
Hi,
Can someone tell me the meaning of the arrow that goes from the elastic database to vue-storefront-api? What is supposed to happen there? I would have expected the opposite, i.e. an arrow going from the api to the database as I can imagine that the api depends on the database rather than the other way around.
Hence my question: what do you mean with it? I am working on an e-commerce platform f

[2018-07-21 13:53] Januszpl opened #1449 "E2E tests - managing state (logged/not logged)"
@pkarw @Aekal
We have some basic tests but we should think how we want test app for logged in users

Here we have some strategies:
https://youtu.be/5XQOK0v_YRE?t=541

1. Sub requests (fast, easy, flexible, no server/db, not true e2e, requieres fixtures),
2. static user (real session e2e, requires server, seed the db, shares test state),
3. Dynamic user: (no state mutations, flexible / powerful, db

[2018-07-23 09:19] Tjitse-E commented on #1431
We've just doubled the memory again to 16GB now, hopefully this will help.

[2018-07-23 09:48] filrak commented on #1447
Prinarly it was the goal but during the growth of the project we noticed that its not working as expected for a large community and atm we are trying to focus on separating most common atomic rules only (like for margins, paddings)

[2018-07-23 10:18] mishanino commented on #1429
@pkarw, how can I easily to get related item url for <a href, because seems localizedRoute wokrs only for router-link and url_key is empty in component?

[2018-07-23 11:03] pkarw commented on #1429
Hi mishanino, what do You mean? Could You paste Your code to letm e better understand the problem?

[2018-07-23 11:06] #1447 closed

[2018-07-23 11:08] pkarw commented on #1448
Hi @zadigus thanks for pointig out this issue. Unfortunatelly this diagram has been processed so many times that it contains such minor issues.

You're right - api depends on the database and the arrow shows the data flow correctly. vue-storefront-api hasn't got any write permissions to the ElasticSearch (just read only as ES is populated by data pump - mage2vuestorefront in that case).

Please ta

[2018-07-23 11:08] #1448 closed

[2018-07-23 11:10] pkarw commented on #1431
OK, let me know how it was after such a change

[2018-07-23 11:10] #1431 closed

[2018-07-23 11:10] #1147 closed

[2018-07-23 11:10] #1298 closed

[2018-07-23 11:12] #1406 closed

[2018-07-23 14:40] mishanino commented on #1429
@pkarw you wrote that "to use <a href... instead of <router-links to" but localizedRoute don't working for <a> element
`<a
    class="mr5 mb5 bg-cl-transparent brdr-1 brdr-circle brdr-cl-transparent :brdr-cl-bg-primary relative inline-flex pointer color border-box"
    :href="localizedRoute({
      name: product.type_id + '-product',
      params: {
        parentSku: product.parentSku ? product.p

[2018-07-24 08:32] Tjitse-E commented on #1431
We've increased the elastic size to 16GB but this didn't help, the frontend is still crashing multiple times per day. After a view minutes it's back online. Elastic is functioning as normal (no entries in the logs), and `pm2 log` also returns nothing special.

@pkarw can you re-open this issue?

[2018-07-24 08:37] phronesis commented on #1430
Hi, @filrak just wondering why the desired approach is better? How does it provide a better user experience?
Secondly, would it be possible to have a configuration option as to the behavior in the event other implementations may prefer it to behave the way it currently behaves?

[2018-07-24 09:17] pkarw commented on #1432
Updated: https://youtu.be/iyOL_31BD4A?t=2m4s

[2018-07-24 09:17] #1432 closed

[2018-07-24 09:45] pkarw commented on #1429
Hi!

localizedRoute returns an object which unfortunatelly is not compilant with the href property. The method has the second mode - working on strings

Please try to use sth like this:
[code]

[2018-07-24 11:56] dare-adewole commented on #1432
Dear Piotr,

Confirmed. Thanks for the Notification.
Awesome work you guys are doing.

Best Regards,
Dare McAdewole.

On Tue, Jul 24, 2018 at 10:17 AM Piotr Karwatka <notifications@github.com>
wrote:

[2018-07-24 12:45] JCown commented on #862
For me it's working without any problems on Ubuntu with latest Firefox and Adblock Plus installed.

[2018-07-24 13:47] mishanino commented on #1429
@pkarw Hello, thank you, it is working

[2018-07-24 14:22] Aylay opened #1454 "Not deleting empty class in textarea when filled"
_Component :_ ~/components/core/blocks/Form/BaseTextarea.vue

Like BaseInput component, the BaseTextarea label have to move above the field when it's filled. But it doesn't.

_The solution :_
Replace `@textarea="$emit('textarea', $event.target.value)"`
By `@input="$emit('input', $event.target.value)"`
In ~/components/core/blocks/Form/BaseTextarea.vue

[https://vuejs.org/v2/guide/forms.html](https:

[2018-07-24 17:56] filrak commented on #1454
@Aylay can you make a PR with the solution? ;)

[2018-07-25 05:21] ekoeditaa commented on #981
Looks like I may be able to help. Can you help advise me on where to start?

[2018-07-25 07:02] Aylay commented on #1454
@filrak Yes, no problem, i do it right now :)

[2018-07-25 09:50] qiqqq commented on #1408
After analysis this issue with @alinadivante we decided that this queries works ok so we decided to close this issue.

[2018-07-25 09:50] #1408 closed

[2018-07-25 09:53] pkarw commented on #981
You should start with vue-storefront-api changing the api routing the. For the backward compatibility we should keep the old endpoint names along with the new fixed ones. Then you need to modify the vue-storefront/config/default.json to point to the new endpoints and to a find in files to double check if there are no other references to it

[2018-07-25 10:06] mishanino opened #1457 "Compared products are deleted when there is a pagerefresh"
**Steps to reproduce:**
1. Add product to compare
2. Make page refresh
3. compare products are gone

[2018-07-25 10:23] pkarw commented on #1457
Hmm is it on demo or test? I've just tested it out and seems like it's fine - could You please check the dev-tools Application/IndexedDb tab if the compare data is stored in there?
<img width="1623" alt="screen shot 2018-07-25 at 06 22 50" src="https://user-images.githubusercontent.com/211899/43195521-4be9fda2-8fd3-11e8-92a7-4823dc9dbf3a.png">

[2018-07-25 10:24] pkarw commented on #1449
Good point. @alinadivante maybe You would like to add sth?

[2018-07-25 10:33] pkarw commented on #1457
Cofirmed :) It works fine when You first go to the compare page (products are then stored)

[2018-07-25 11:02] alinadivante commented on #1449
I will think about what to do with basic-client-path test.
When I'll have less work in my projects, I will try to think also  about tests of the logged in user.

[2018-07-25 11:36] pkarw opened #1458 "Flow.org type checking"
I believe it would be much easier for developers to work with the Vue Storefront core if we introduce the static type checking (https://flow.org/en/) in some parts of the core app.

I believe that for the PoC we could introduce Flow infrastructure to the project and then add the type definitions to the:
- [ ] Vuex cart module (addItem)
- [ ] Vuex product module (list, single)
- [ ] Core Pages (wit

[2018-07-25 15:10] mishanino opened #1459 "Category sorting by price is not working as expected"
The discount price doesn't effect to products order. Sorter uses the old price for the sorting by price.
https://demo.vuestorefront.io/c/men-11
![image](https://user-images.githubusercontent.com/4930295/43209680-ecc83ef2-9035-11e8-95dc-cbe548ee9bff.png)

[2018-07-25 15:31] brunobasto opened #1460 "Initial products cached forever"
First of all: Congrats! This is a great project. I find the architecture really interesting and seems to be scalable. The offline implementation looks nice.

I'm having a small problem and I was hoping to get some help:

I setup everything according to the docs. I have my store up and running. I even managed to import initial data from Magento. However, after that I can't get new products to show

[2018-07-25 17:14] pkarw commented on #1460
Hi @brunobasto! thanks for the message.

I see two ways to slove the problem:
- go to vue-storefront-api folder and run: `npm run db new` - this command will create new, empty database; then do the import and You're there
- second solution is to run the importer with additional argument; sth like:
[code]

The `removeNonExistient` will remove all the records from the database that were NOT PRESENT

[2018-07-25 17:20] pkarw commented on #1459
We should use the `final_price` instead of `price` for sorting because on the ES level price is not after discounts - it's original price

[2018-07-25 17:55] brunobasto commented on #1460
Hey @pkarw, thanks for getting back! However, I think I didn't described my issue very well. Let me try again.

I've successfully used `removeNonExistient` to remove the sample data and replace with my own Magento data. However,  the problem is not that old products don't get deleted. The problem is that the new ones never show up. I want to sync Magento products continuously (via a cron job for e

[2018-07-25 22:10] pkarw commented on #1460
Ok! You need to run the productcategories import before products import to populate redis cache with the category assignments

Or

Please pull the changes from github I’ve fixed this yesterday and now should be fine :)

[2018-07-25 22:29] brunobasto commented on #1460
Awesome! Will try pulling changes from Github and see how it goes. Thx

[2018-07-25 22:34] brunobasto commented on #1460
Great! It seems to work now. Thank you. Keep up the good work. Will try to contribute as soon as I get my head around the project.

[2018-07-25 22:34] #1460 closed

[2018-07-26 10:47] mishanino opened #1461 "Image zoom function on Iphone/Ipad"
When clicking the zoom function on iphone and tablet it only shows a white image.

![image](https://user-images.githubusercontent.com/4930295/43258130-77fb0c3a-90da-11e8-97c6-2cb1a08c515b.png)

[2018-07-26 12:02] filrak commented on #1458
We should also create sam basic interfaces for products orders etc containing fields that we are refering in ui and business logic

[2018-07-27 07:04] ekoeditaa commented on #981
What are the API names supposed to be changed to? Which file(s) should I modify first for the global setting?

[2018-07-27 07:39] pkarw opened #1462 "Refactor the installer script + restore in the vue-storefront-api"
Original issue: https://github.com/DivanteLtd/vue-storefront-api/issues/28#issuecomment-408101454

[2018-07-27 07:41] pkarw commented on #1281
This is fixed

[2018-07-27 07:41] #1281 closed

[2018-07-28 05:16] pkarw opened #1464 "Code Splitting SSR support"
Would be great to finalize, during the Hackathon, the #1210 / which is just lacking the SSR support currently

[2018-07-30 09:46] Aylay opened #1465 "ordersHistory always displayed ?"
Hi !

I just created an account on the demo.
I go to my account -> my orders
The empty table is displayed but I think that "No orders yet" that should be displayed.
What do you think ?

Here is the code : `<div class="col-xs-12" v-if="ordersHistory">`
Here is the debug : [Screenshot](https://dsh.re/4cee1)

I think that we should check if ordersHistory is empty or not because it always exists.
What

[2018-07-30 09:47] Aylay commented on #1465
Here's the code that checked that :
`<div class="col-xs-12" v-if="ordersHistory.length > 0">`

Go PR ?

[2018-07-30 09:48] pkarw commented on #1465
Sure, good idea

[2018-07-30 09:48] Aylay commented on #1465
Ok @pkarw  let's go :)

[2018-07-30 10:59] kosirm commented on #1431
Hi, I'm totally new to VS and this thread scares me a bit... @Tjitse-E could you confirm that problem is solved permanently? Could you explain for a beginner what are concrete steps to solve such a problem? @pkarw  I would like to know what is recommended server specification for Magento + VS to work properly (for middle size store, let say 1000 products)? Because if I need 16 GB of RAM only for E

[2018-07-30 11:12] Tjitse-E commented on #1431
@kosirm this was just a PM2 issue, nothing to do with vue storefront. This is the ecosystem.json config that we're currently using for the frontend:
[code]

[2018-07-30 11:50] kosirm commented on #1431
@Tjitse-E Thanks for your time and explanation!

[2018-07-30 14:08] #1465 closed

[2018-07-30 18:41] #1434 closed

[2018-07-31 04:35] patrykpiston opened #1470 "Refresh on product page causes return button change to menu button"
__Steps to reproduce:__
- Go to *demo.vuestorefront.io*
- Go to a product page
- Hit refresh

__Before refreshing:__
![screenshot from 2018-07-31 06-29-34](https://user-images.githubusercontent.com/23720398/43437921-c041533c-948b-11e8-91fa-659ea2acfa6f.png)

__After refreshing:__
![screenshot from 2018-07-31 06-29-45](https://user-images.githubusercontent.com/23720398/43437930-ccadb6ec-948b-11e8-9

[2018-07-31 09:40] john19691 opened #1472 "How To Add Icons To The Header?"
I have tried adding to the header, but there are no changes.
I created a file in:
- src/themes/default/components/core/blocks/Header/TestIcon.vue
- core/components/blocks/Header/TestIcon.js

and edited the Header.vue file
[code]

[2018-08-01 07:12] patrykpiston commented on #1458
I'd be happy to take that task.

[2018-08-01 07:14] pkarw commented on #1458
@patrykpiston that's cool - please go for it and start the task - we'll be having a Hackathon in Poznań on Friday - do You think that it's possible to do some infrastructure before Friday to let the guys take care of some  part of this refactor, as it's pretty broad topic?

[2018-08-01 07:35] #1472 closed

[2018-08-01 07:35] #1395 closed

[2018-08-01 07:36] john19691 opened #1473 "App Refreshes Back To Original After Changes"
I have made changes to the layout of the app. At first it displayed the changes, but after a few more changes, it reverted back to the original layout. When I refresh the page, the changed layout displays for a second, and reverts back. Any ideas why?

[2018-08-01 07:56] filrak commented on #1473
Check if you have Service Worker running on the background

[2018-08-01 08:06] #1457 closed

[2018-08-01 08:06] #1454 closed

[2018-08-01 08:19] #1429 closed

[2018-08-01 08:27] #1417 closed

[2018-08-01 08:55] pkarw commented on #1275
Consider it done: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Production%20setup%20(WIP).md

[2018-08-01 08:55] #1275 closed

[2018-08-01 11:52] DavidRouyer opened #1477 "Enforce coding guidelines with ESLint + TSLint + Prettier"
https://prettier.io/ is a pretty popular code formatter and it's integrated with a lot of tools.

[2018-08-01 15:16] akbarik opened #1480 "Login/Register pages are not adaptive on small resolutions"
On small resolutions (like width 320px) Login and Register pages don't look very adaptive. Text is overlapping. Screenshots talk to themselves.
<img width="399" alt="screen shot 2018-08-01 at 17 13 16" src="https://user-images.githubusercontent.com/15943863/43530735-96d16b76-95ae-11e8-9a08-0cdfa93074c7.png">
<img width="388" alt="screen shot 2018-08-01 at 17 13 31" src="https://user-images.githubu

[2018-08-01 15:33] DavidRouyer opened #1481 "Translation improvements"
- [ ] Replace CSV files with JSON -> Remove the need of preprocessing and additional dependencies
- [x] Lazy load translations https://kazupon.github.io/vue-i18n/guide/lazy-loading.html
- [ ] Replace the lang attribute in the HTML tag

[2018-08-01 15:38] pkarw commented on #1481
I’m not sure about the point no. 1 as many translators / agencies / tools used to user the csv/excel for translations. JSON format doesn’t has such a good support regarding the i18n tooling

[2018-08-01 16:08] DavidRouyer commented on #1481
I haven't seen any project supporting CSV files, [WordPress](https://developer.wordpress.org/themes/functionality/localization/) & [Drupal](https://localize.drupal.org/download) are using PO files, [Angular](https://angular.io/guide/i18n) uses XLF files (Vue doesn't support any file type OOB).
If we want a broader support, we should use the PO file format then?

[2018-08-02 05:45] mingfang commented on #1290
I'm seeing the same problem.

The exact urls are http://localhost:8080/api/cart/create?token=, and pretty much every api call.
Having to run build to change the url is not acceptable.
I build once and promote from dev to qa to prod with different config files and can't do another build.

[2018-08-02 06:15] pkarw commented on #1290
Thanks, so definitely we need to add the support of dynamic config variables via env

[2018-08-02 06:37] mingfang opened #1482 "Do not prepend http to elasticsearch.host"
https://github.com/DivanteLtd/vue-storefront/blob/da5d5d50412ac45b08db994941a964bfbd599539/core/store/lib/search.js#L24

I want to use relative paths in the config files.
That works for all other endpoints except for this one due to the prepend logic above.

[2018-08-02 07:15] pkarw commented on #1482
Good point :)

[2018-08-02 07:16] pkarw commented on #1481
OK, which problem is this solving - time to build?

[2018-08-02 07:33] pkarw commented on #1482
Related to #1290

[2018-08-02 07:40] mingfang commented on #1290
The solution is to name the json file to be the same as NODE_ENV, e.g. if NODE_ENV=production then the config file should be production.json.

[2018-08-02 07:58] pkarw commented on #1290
It’s not he solution to have dynamic reloading. Currently to have it supported (node-config) by webpack we’re generating static json file. It was recommended solution by node-config authors but then as I’ve seen they came with some other options. Please just take a look at he options of integrating node-config with webpack apps

[2018-08-02 08:12] DavidRouyer commented on #1481
For now I'll keep the CSV files, but I'll totally redo the way translations are handled.
Until now, we had the translation.preprocessor.js in the [webpack.base.config.js](https://github.com/DivanteLtd/vue-storefront/blob/da5d5d50412ac45b08db994941a964bfbd599539/core/build/webpack.base.config.js#L180-L191) but it appears in https://github.com/DivanteLtd/vue-storefront/blob/da5d5d50412ac45b08db99494

[2018-08-02 08:25] Galch24 opened #1483 "Two different Elasticsearch clients - How to include them"
Hello.
We use one more Elasticsearch'es host to get addresses of Organizations.
My questions is how should I include a different Elasticsearch in the right way?

What I tryed to do:
1) I need to use different elastic  only in input form of address. So I create new vue component in storfront path:
storefront/src/themes/mytheme/components/theme/blocks/Form/AutocompleteAddress.vue

2) In my component

[2018-08-02 11:53] pkarw commented on #1481
Cool!

[2018-08-02 14:40] pkarw commented on #1483
Hello! In the new release we're not using elasticsearch-js anymore (https://github.com/DivanteLtd/vue-storefront/blob/master/core/store/lib/search.js). The problem with `localhost:9206` in Your case regards the header: `Failed to load http://elasticsearch:9206/: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed acc

[2018-08-02 15:00] patrykpiston commented on #1458
Unfortunately I was not able to implement flow into the project. I got it to work in the single .js files [(my branch)](https://github.com/patrykpiston/vue-storefront/tree/feature/flow-system-integration) but only by using this [webpack loader](https://www.npmjs.com/package/remove-flow-types-loader), and using very strict formatting rules. This meant only one liners when setting types of variables

[2018-08-02 18:29] #823 closed

[2018-08-03 05:26] filrak commented on #1458
So maybe TS ;)

[2018-08-03 05:28] filrak opened #1487 "Typescript integration + basic interfaces for Product and Order"
Integrate typescript into the project for the safe typechecks and better dev experience.
It'll be also great to create basic interfaces(tyeps) for Product and Order objects. You can place types inside `core/typings`

[2018-08-03 05:42] pkarw opened #1488 "[E2E] Add integration test for User Order History"

[2018-08-03 05:42] #1488 closed

[2018-08-03 05:46] filrak opened #1489 "[ CMS ] Create CMS module"
Together @pkarw we will make CMS API module

[2018-08-03 06:24] filrak opened #1491 "Use SSR only for specific pages."
We should be able to specify in app config pages that we want to be server rendered sice this is mostly for SEO purposes and using SSR in other pages can produce some problems with 3rd party libs. A good place to start is to make only `Home`, `Product`, `Category` and `Static` pages rendered on a server side. @pkarw can help with details.

[2018-08-03 06:31] pkarw opened #1492 "Integrate vsf-paypal module to the VS core"
https://www.npmjs.com/package/vsf-payment-paypal
https://www.npmjs.com/package/vsf-payment-paypal-api

It will probably need to install the magento2 module https://github.com/develodesign/m2-paypal-payment to demo-magento2.vuestorefront.io. Ask @me for it if needed

[2018-08-03 06:32] pkarw commented on #923
Currently we just need the point 6 to be completed:

[code]

[2018-08-03 06:33] pkarw commented on #1239
@filrak has some idea for that - ask him :)

[2018-08-03 06:42] filrak opened #1493 "[ Draft / Account ] Create Account module"
Read before picking:
- [About modules](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/api-modules/about-modules.md) - explaination, structure, motivations behind modules
- [Refactoring plan for modules](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/api-modules/refactoring-to-modules.md)

Create for managing user account data

Since this module is highly related to the

[2018-08-03 07:01] patrykpiston commented on #1458
Sure :)
I remember we talked about TS with Vue, wouldn't that bring too much change in the project? Just asking, I'm sure it would work since Vue has more or less, a native support for TS ;)

[2018-08-03 08:09] filrak opened #1494 "Change all online/offline dependencys and network status checks to use vue-offline"
Change all online/offline dependencys and network status checks to use vue-offline.

[2018-08-03 08:14] diptipatel opened #1495 "vue-storefront API | Facing error while installing"
Connector to Mangento : https://medium.com/@piotrkarwatka/vue-storefront-how-to-install-and-integrate-with-magento2-227767dd65b2

Without docker, it will install API?

In reference URL also mention "you must have docker and redis instances up and running (docker-compose up in vue-storefront-api directory)"

I am using ubuntu 16.0 OS. I installed npm, yarn etc..

I have not docker.

I am getting er

[2018-08-03 08:20] mishanino commented on #1459
@pkarw sorting by price still doesn't work, please, reopen the issue

[2018-08-03 08:41] pkarw commented on #1459
@mishanino do you have a final_price in the product entity? i

[2018-08-03 08:44] bartdominiak commented on #1480
This issue is also related to forgot-pass component. Please check out my bugfix.

[2018-08-03 08:47] mishanino commented on #1459
@pkarw I updated local.json according to your commit and the latest version from master branch (1.2.0), on the https://demo.vuestorefront.io/ price sorting also doesn't work
![image](https://user-images.githubusercontent.com/4930295/43633739-c8ac48ea-9712-11e8-9965-3052a4720528.png)

[2018-08-03 08:59] nahuelsanchez commented on #981
Hello there, I'll give it a try. :)

[2018-08-03 09:03] DavidRouyer commented on #1487
You want to go with Typescript instead of Flow?

[2018-08-03 09:06] #1480 closed

[2018-08-03 09:08] patrykpiston commented on #1487
@DavidRouyer I also thought Flow would be a better option in this case, but trying to implement it brought some issues to the table, you can read about them [here (issue#1458)](https://github.com/DivanteLtd/vue-storefront/issues/1458)

[2018-08-03 09:10] DavidRouyer commented on #1487
@patrykpiston I'm a TypeScript fan, can't start a project without it :)

[2018-08-03 09:11] patrykpiston commented on #1487
@DavidRouyer
+ I think TS is easier to implement here as Vue has native support for it. So it may just work out great ;)

[2018-08-03 09:12] pkarw commented on #981
Go for it!

[2018-08-03 09:12] michiel2806 commented on #1495
You have to [install docker](https://docs.docker.com/install/linux/docker-ce/ubuntu/) and add the docker group and add your account to the group.

To create the docker group and add your user:

    Create the docker group.

    $ sudo groupadd docker

    Add your user to the docker group.

    $ sudo usermod -aG docker $USER

[2018-08-03 09:24] mishanino commented on #1459
@pkarw, could you explain what exactly do you need? it is not clear for me, by the way, you can check it yourself on the your demo site https://demo.vuestorefront.io/c/men-11

[2018-08-03 09:25] #1470 closed

[2018-08-03 10:04] MatWaligora commented on #1351
Added a PR with UI improvements:

https://github.com/DivanteLtd/vue-storefront/pull/1501

[2018-08-03 10:48] mishanino opened #1503 "Styling break during few seconds after each page refresh"
I see broken styles during few seconds after each page refresh
![image](https://user-images.githubusercontent.com/4930295/43638664-5f78aa2a-9722-11e8-8782-cd8e03a8c523.png) I have this issue only when I use my own backend host, but I don't see any errors in the console. When I use your demo backend seems everything is ok with styling. I use vue-storefront 1.2.0 and defualt theme. Do you have any i

[2018-08-03 11:52] #1351 closed

[2018-08-03 12:18] MatWaligora commented on #1096
Here are some of my ideas on it :-)

<img width="485" alt="zrzut ekranu 2018-08-03 o 14 12 50" src="https://user-images.githubusercontent.com/20928689/43642503-1ed33700-9728-11e8-9e5f-a41ec2ee04a6.png">
<img width="488" alt="zrzut ekranu 2018-08-03 o 14 16 09" src="https://user-images.githubusercontent.com/20928689/43642504-1ef1d4da-9728-11e8-8bd5-ee1f9a6cd11d.png">
<img width="435" alt="zrzut ekr

[2018-08-03 12:20] Januszpl commented on #1444
The problem is in **core/pages/Checkout.js** where don't have access when loading page on store state cart data and then the first condition in beforeMOunt method is true so we got redirection to homepage

[2018-08-03 12:34] pkarw opened #1507 "Refactor /core/store/lib/i18n.js and /core/store/lib/event-bus.js"
Currently, the `core/store` vuex store is maintained as a separate npm module. By it's architecture (which bases on static imports) it's pretty hard to use some common app-wide services like i18n or event-bus.

It includes the event-bus like this:

[code]

and `../../lib/event-bus` looks like this:

[code]

... this is because ... eventBus is shared with other part of applications:

core/store/ind

[2018-08-03 12:49] #1444 closed

[2018-08-03 13:12] pkarw commented on #1416
Fixed!

[2018-08-03 13:12] #1416 closed

[2018-08-03 13:34] #849 closed

[2018-08-03 13:58] kjugi commented on #1437
I've just seen you are using VueCarousel here to sliders. Unfortunately, it's not supported in IE11 and they have still opened an issue on GH here: https://github.com/SSENSE/vue-carousel/issues/190
TLDR;
They need to add polyfill - array.prototype.includes()
The worst information here is an empty gallery in the product page

[2018-08-03 14:03] #1482 closed

[2018-08-03 14:31] pkarw opened #1518 "Border color for warning and error notifications"
<img width="338" alt="screen shot 2018-08-03 at 16 30 29" src="https://user-images.githubusercontent.com/211899/43648409-9ae72114-973a-11e8-995f-b6256f430f49.png">

We need just fix this OK button border?

[2018-08-03 14:37] mercs600 opened #1520 "incorrect shipping carrier code"
Right now when we place the order we have the same values in method_code and carrier_code, what is not correct for each shipping method
[code]

[2018-08-03 14:38] nahuelsanchez commented on #981
I created two PR for this, one for the vue-storefront repo and the other one for vue-storefront-api. I'm attaching both direct links.

- https://github.com/DivanteLtd/vue-storefront/pull/1519
- https://github.com/DivanteLtd/vue-storefront-api/pull/79

:)

[2018-08-03 14:46] pkarw commented on #981
Thanks! works just fine, merged in :)

[2018-08-03 14:47] #981 closed

[2018-08-03 15:27] MatWaligora commented on #1518
Sure, sorry I was not aware of different notification types. Fix: https://github.com/DivanteLtd/vue-storefront/pull/1521

[2018-08-03 16:44] #1520 closed

[2018-08-03 16:47] mercs600 commented on #1503
@mishanino which browser do you use ?

[2018-08-03 16:49] #1494 closed

[2018-08-03 16:49] mishanino commented on #1503
@mercs600 I have this issue for Chrome and Firefox

[2018-08-03 18:23] filrak commented on #1518
Can you please also remove the align center for the text? Please don't take it as an insult but for me it just looks very bad :/

[2018-08-03 19:15] filrak opened #1525 "Add PWACompact"
It'll be great to have this tool included into our app for the better support of various devices and browsers

https://developers.google.com/web/updates/2018/07/pwacompat

[2018-08-03 23:15] Januszpl commented on #1268
@pkarw @nuovecode Bug is related to using media_gallery with children images and using uniqBy method (imho problems is with the last as it removes duplicated entries but unfortunately without any extra logic and it removes the one coming from variant (simple product). Then later we can't show image assigned to this variant as it was removed from the array.  We should refactor this part and fix at

[2018-08-04 07:36] MatWaligora commented on #1518
@filrak https://github.com/DivanteLtd/vue-storefront/pull/1527

[2018-08-05 08:40] fraefel opened #1528 "Barcode scanning"
absolutely in love with vue-storefront ❤️ As a feature request, it would be nice to able to use a barcode scanner for adding products into the cart - several vue components already exists for this matter.

\T

[2018-08-05 09:23] pkarw opened #1529 "Cannot check the checkbox"
After the Base components refactor sth bad happened with checkboxes :)
It’s not possible to check it

Please take care of it as it critical issue in the checkout and other forms
![32b616b6-6c7e-44f6-9b33-1154cfa732d1](https://user-images.githubusercontent.com/211899/43684525-f5a5fb44-98a1-11e8-9435-1e91886ffe98.png)

[2018-08-05 16:53] PanMisza commented on #1529
I'll fix it today.

[2018-08-06 04:05] pkarw commented on #1529
Hmm it resulted in checkbox problem but maybe the source of it is in something else - I’ll take a look at it today thanks :)

The local problem you’re facing seems like it’s caused by ... non exiting Es index. Try to run “npm run restore2main; npm run db rebuild” to restore database

[2018-08-06 07:08] pkarw commented on #1529
I don't have any console erros in Safari + dev tools on Macosx; but the checkboxes don't work :)

[2018-08-06 07:09] patrykpiston commented on #1487
Just to let you know, I got the TS working with SFC, I'm just going to test it and make sure it's ok and will publish a branch with it.

[2018-08-06 08:00] pkarw opened #1530 "Spread operator error on Safari"
https://demo.vuestorefront.io (master branch) - Safari 11.0.3 - works just fine
https://test.vuestorefront.io (develop branch) OR localhost - Safari 11.0.3 - ends up with the following error:

[code]

Chrome - works perfectly fine.

It's pretty strange. My first thought was that maybe after separating the core as module sth bad happened to babel-preprocessing these files?

I need Your help guys :)

[2018-08-06 08:10] Igloczek commented on #1530
Babel processing is enabled for these modules https://github.com/DivanteLtd/vue-storefront/blob/develop/core/build/webpack.base.config.js#L133

[2018-08-06 08:25] Igloczek commented on #1530
That's the point, we want to run babel only on `node_modules/@vue-storefront`  ignoring rest of the `node_modules`

[2018-08-06 08:29] DavidRouyer commented on #1530
Yes, but we want to run Babel in the src and core folder too. I've tried some regex in exclude to exclude all of the packages except one based on https://github.com/webpack/webpack/issues/2031 but it didn't work, so remove the exclude, and add in the include part all the folders which should be babelified

[2018-08-06 08:57] Igloczek commented on #1530
Fixed

[2018-08-06 08:57] #1530 closed

[2018-08-06 09:05] 99percent6 opened #1531 "Problem with local forage (index db) in 2 tabs"
Hi!
I found a problem - when I go for the first time on the site (that is, without any cache or simply clean it all through the Application), then open a new tab and there again open the site, then open the product catalog. Open the console, go to Application and watch IndexDB - the shop is unavailable, it can not boot. In this regard, we can not get absolutely any data that is stored there. So fa

[2018-08-06 10:20] alinadivante opened #1532 "The product sorting option doesn't work."
1. Open https://test.vuestorefront.io/
2. Go to any category
3. Sort products by price or latest

*Current:*
Nothing happens. Sorting doesn't work.
![image](https://user-images.githubusercontent.com/36628922/43711346-ac7b316a-9972-11e8-99e7-f5e258a2d1a5.png)

*Expected:*
All products should be sorted by price (or from the latest ones).

[2018-08-06 10:26] alinadivante opened #1533 "Unintuitive sorting option."
1. Open https://test.vuestorefront.io/
2. Go to any category
3. Sort products

*Current:*
The "Sort by" option is very unintuitive for new user.
First of all - "arrow" icon suggests that dropdown list will be expand.
Second point - after hover over "Sort By" ("arrow cursor") is not changed to "hand-cursor"

(At the beginning I didn't know why Error message was displayed.)
![image](https://user-ima

[2018-08-06 11:08] alinadivante opened #1534 "The opinion entered and placeholders are overlapping."
1. Log in into vuestorefront
2. Add any product
3. Go to checkout
4. Place the order
5. Type something in "What we can improve?" section

*Current:*
The text you enter overlaps the placeholder
![image](https://user-images.githubusercontent.com/36628922/43713319-7e721cd2-9979-11e8-9ec0-9cccac8ffd40.png)

*Expected:*
Placeholder should disappear.

[2018-08-06 11:38] alinadivante opened #1535 "Incorrect order of sizes."
1. Go to any category
2. Look at 'Size' section

*Current:*
Incorrect order of sizes: S M L XS XL
![image](https://user-images.githubusercontent.com/36628922/43714655-f8f21b7a-997d-11e8-8f86-d47442814dab.png)

*Expected:*
There should be: XS S M L XL

[2018-08-06 11:55] PanMisza commented on #1532
I'll check that today.

[2018-08-06 13:11] sawden opened #1536 "Cannot change language"
When changing the language on [demo.storefront.io](https://demo.vuestorefront.io) nothing happens.

Browser: Chrome 67

[2018-08-06 14:18] pkarw commented on #1536
Thanks man! We had a problem with ElasticSearch, now it's solved. Should work on demo!

[2018-08-06 14:18] #1536 closed

[2018-08-06 18:39] dennisotugo commented on #1266
Has this been fixed? Recent deployment does not work at all in IE 11

[2018-08-06 20:14] filrak commented on #1507
As far as we will have typescript I'll try to rewrite it as injectable services with https://github.com/inversify/InversifyJS#step-2-declare-dependencies-using-the-injectable--inject-decorators

[2018-08-06 22:04] DavidRouyer opened #1540 "Remove every call to the global variable"
Alternatives:

- Event bus
- Local storage
- Root store

Variables:

- [x] `global.$VS.version` -> root store
- [x] `global.$VS.__DEMO_MODE__` -> root store or env.process variable handled by Webpack
- [x] `global.$VS.isSSR` -> Vue.prototype.$isServer
- [x] `global.$VS.storeView` -> root store
- [x] `global.$VS.localCache` -> Vue.prototype
- [x] `global.$VS.twoStageCachingDisabled` -> root store
-

[2018-08-07 07:25] john19691 opened #1541 "Image Doesn't Display For Products?"
For some reason my localhost link is correct, but my image src always stays at the assets/placeholder for some reason.

<img width="1031" alt="screen shot 2018-08-07 at 11 21 21 am" src="https://user-images.githubusercontent.com/40464112/43760838-5b13ecbe-9a34-11e8-94f5-2ac2d545a575.png">

[2018-08-07 14:25] pkarw commented on #1540
Related to #1507

[2018-08-07 14:28] pkarw commented on #1540
https://github.com/inversify/InversifyJS - and some kind of global Registries?

Let's say we'll be having a singleton registries named like:
- Database - for collections
- Context - for SSR, storeView, localCache, eventBus, i18n
- Config - for config

Then we can in the first step refactor `/core/store/lib/i18n` to just use this kind of registry that we'll be resolved by IoC to get the specific pr

[2018-08-07 15:53] filrak commented on #1528
Good idea! If anyone is willing to do this please make API module :)

[2018-08-07 15:59] filrak commented on #1541
If you put img address directly in a browser does it display the desired image?

[2018-08-08 02:31] ablears commented on #307
Are there any Woo adapters yet?

[2018-08-08 03:26] bishwos opened #1546 "Can't build storefront npm"
OS: Macos
npm: 6.12.0
node: v10.8.0
---

try to install Vue-storefront as the introduction on gitHub on the master branch.
Then errors similar to below on the step to run `yarn build` in vue-storefront

ERROR in ./src/extensions/index.js
Module not found: Error: Can't resolve '@vue-storefront/extension-droppoint-shipping/index.js' in '/Users/me/itg/store/vue-storefront/src/extensions'
 @ ./src/ext

[2018-08-08 03:50] pkarw commented on #1546
Have You run „yarn install” before?

[2018-08-08 04:36] bishwos commented on #1546
Yes, I have.
I followed the following steps:
Checked out throught git
`yarn`
`yarn build`

It fails on `yarn build`

also tried `yarn install` & then `yarn build`

[2018-08-08 05:06] bishwos commented on #1546
Here is the error:

yarn build v0.21.3
$ rimraf dist && yarn build:client && yarn build:server
yarn build:client v0.21.3
$ cross-env NODE_ENV=production webpack --config ./core/build/webpack.prod.client.config.js --mode production --progress --hide-modules
WARNING: NODE_ENV value of 'production' did not match any deployment config file names.
WARNING: See https://github.com/lorenwest/node-config/w

[2018-08-08 07:08] pkarw commented on #1546
@Igloczek it seems like a problem with the lerna - have you got sth like this before? After using "yarn install; yarn build" it should work just fine

[2018-08-08 07:13] pkarw commented on #1531
Hmm - I can not reproduce it as in my case the shop database is accessible in both tabs. But I've heard of problems regarding this situation with indexedDb (https://stackoverflow.com/questions/30580958/database-get-blocked-when-another-tab-of-same-application-is-open) and https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Using_IndexedDB#Version_changes_while_a_web_app_is_open_in_anoth

[2018-08-08 07:17] pkarw commented on #1541
Please do also check the `vue-storefront-api/config/local.json` the section named `imageable`  + `magento2` in the latter one You should have propper magento2 image path (`/media/catalog/product...`) set

[2018-08-08 07:17] pkarw commented on #1541
Then check if You have imagemagick (`convert` cli command) installed

[2018-08-08 07:26] Igloczek commented on #1546
Lerna is used only for publishing packages, plase do not confuse it with setting up local dependecies, because that is 100% based on yarn.

Questions round:
- what is your yarn version?
- did you run any `npm` commands before `yarn`? If true, plase remove whole `node_modules` and use just `yarn`. Using `npm` is prohibited in this project, becasue lack of support for features we need.

[2018-08-08 07:51] pkarw opened #1547 "[TypeScript] Optimizations"
We've introduced TypeScript to the project but for sure we need to find some ways to optimize how it's used:
- [ ] Do we still need Babel, or can we limit it's usage because TS is compiling the source anyway :)
- [ ] Can we limit the scope (modules) of what TS is compiling - because it's taking lot of time at first build

[2018-08-08 08:01] pkarw opened #1548 "[TypeScript] Add types to core/store/modules/cart module"
We need to make it in small, incremental improvements without disruptive changes neither destabilization.

We should put new types in `core/modules/product/types`. For now we do have `Product` typing that can be used

Please keep it in mind. It's fine to have one-two Vuex modules refactored per each major release (once a month)

Some examples of methods to be refactored using existing types:

* [

[2018-08-08 09:43] pkarw opened #1549 "[TypeScript] Add types to core/api/cart module"
- [ ] [addToCart](https://github.com/DivanteLtd/vue-storefront/blob/9620f77bc9323337a5a3d01d7355c5bb7f88ec51/core/api/cart/addToCart.js#L11)
- [ ] [removeFromCart](https://github.com/DivanteLtd/vue-storefront/blob/9620f77bc9323337a5a3d01d7355c5bb7f88ec51/core/api/cart/removeFromCart.js#L11)

[2018-08-08 09:48] pkarw opened #1550 "[TypeScript] Add types to core/api/user"
- [ ] [signIn](https://github.com/DivanteLtd/vue-storefront/blob/9620f77bc9323337a5a3d01d7355c5bb7f88ec51/core/api/user/signIn.js#L3)

[2018-08-08 09:50] pkarw opened #1551 "[TypeScript] Add types to core/api/wishlst"
- [x] [addToWishlist](https://github.com/DivanteLtd/vue-storefront/blob/9620f77bc9323337a5a3d01d7355c5bb7f88ec51/core/api/wishlist/addToWishlist.js#L11)
- [x] [removeFromWishlist](https://github.com/DivanteLtd/vue-storefront/blob/9620f77bc9323337a5a3d01d7355c5bb7f88ec51/core/api/wishlist/removeFromWishlist.js#L11)

[2018-08-08 10:17] pkarw opened #1552 "Bluefoot CMS integration"
Bluefoot CM available in the Commerce edition of Magento2 stores the data inside pages/blocks collection in the following format:

[code]

- [ ] Add a Magento2 api extension to return the JSON stored by Bluefoot CMS inside the magento/cms blocks and magento/cms pages - enrich with the related entities (bluefoot CMS stores just an entityId)
- [ ] Add an extension to [mage2vuestorefront](https://git

[2018-08-08 10:22] pkarw opened #1553 "Prismic headless CMS integration"
https://prismic.io/

We need to:
- [ ] add the [mage2vuestorefront](https://github.com/DivanteLtd/mage2vuestorefront) synchronizer to get the information from prismic - store it to Elastic
- [ ] enrich the cms module for prismic support

[2018-08-08 10:28] pkarw opened #1554 "Giftcards support"
We need to map the standard Magento2 feature of Giftcards to Vue Storefront checkout
In the second step, we should add the ability for the user to buy Gift card as a virtual product

[2018-08-08 10:36] john19691 commented on #1541
@pkarw Yes both are already done. Right now the issue is a few images show up, but the rest do not.

[2018-08-08 10:38] pkarw commented on #1551
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/TypeScript%20Action%20Plan.md

[2018-08-08 10:39] pkarw commented on #1550
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/TypeScript%20Action%20Plan.md

[2018-08-08 10:39] pkarw commented on #1549
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/TypeScript%20Action%20Plan.md

[2018-08-08 10:39] pkarw commented on #1548
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/TypeScript%20Action%20Plan.md

[2018-08-08 11:17] pkarw commented on #1549
Closed by: #1555

[2018-08-08 11:17] #1549 closed

[2018-08-08 12:33] pkarw commented on #1552
The result as it's returned from the API:

[code]

[2018-08-08 13:19] daksamit opened #1557 "typo and inactive link"
We have 'Youe' instead of 'Your' at the end of file:
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Extending%20vue-storefront-api.md

Also, inactive link under "Extensions list" section:
https://github.com/DivanteLtd/vue-storefront/blob/master/doc/extensions/Working%20with%20extensions.md

"Example of custom extension" link : https://github.com/DivanteLtd/vue-storefront/tree/master/

[2018-08-08 13:32] bishwos commented on #1546
@Igloczek Thanks, turns out the issue was the yarn version. Worked perfectly

[2018-08-08 13:33] #1546 closed

[2018-08-08 13:35] pkarw commented on #1557
Thanks, could You please fix it and send us a Pull Request please?

[2018-08-08 14:46] Igloczek opened #1559 "Add description of core imports changes to CHANGELOG"

[2018-08-08 16:40] pkarw opened #1560 "Boilerplate project / structure changes to vue-storefront"
This is an action plan of creating the `vue-storefornt-starter` project which will be a boilerplate for new websites. Currently we do have core + user files mixed altogether in the `vue-storefront`.

As the core + core/store modules are currently separated as npm packages - it's a natural next step with making vue-storefront easier to maintain and update.

1. Update aliases to poin to `@vue-storef

[2018-08-08 17:14] Igloczek commented on #1560
My local version of boilerplate pushed to https://github.com/DivanteLtd/vue-storefront-starter/tree/igloczek-poc

[2018-08-09 08:04] pkarw opened #1562 "Facebook login feature"
To add the Facebook login feature we should start with vue-storefront-api I believe. It should be an extension adding oauth2 endpoints I believe. Then we should also think of how to integrate it with the Magento2 authorization

However, the oauth2 endpoint should be implemented solely in the vue-storefront + vue-storefront-api w - not in the eCommerce backend.

[2018-08-09 09:29] pkarw opened #1565 "Add Error page in case of ElasticSearch is unavailable"
We need to add timeout handler to `core/lib/search` and display some safe error while in SSR mode and Elastic is down (therefore page cannot be rendered)

Currently in such a  case, `asyncData` returns Promise which is never resolved.

[2018-08-09 09:42] #1557 closed

[2018-08-09 10:39] janmyszkier commented on #1554
Completely agree, even https://demo.vuestorefront.io/ shows a block with subscription2coupon block, so this should be supported by VueSF at least as far as the first step described.

[2018-08-09 12:38] #1495 closed

[2018-08-09 14:02] salmanyaqoobin opened #1566 "Windows vue-storefront and vue-storefront-api issues"
i am working on windows 10 OS, setup everything as per https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Installing%20on%20Windows.md
i am facing some issues:
on vue-storefront-api when i run the following commad:
command: yarn migrate
i got following errors:

(node:16172) UnhandledPromiseRejectionWarning: Error: [illegal_argument_exception] Rejecting mapping update to [vue_storefront_c

[2018-08-09 16:52] DavidRouyer commented on #1566
`Rejecting mapping update to [vue_storefront_catalog] as the final mapping would have more than 1 type` = You're trying to use Elasticsearch 6.x but Vue Storefront only supports Elasticsearch 5.x (Elasticsearch 6.x introduced a breaking change, they do not support multiple types on the same index)

[2018-08-09 18:33] sebabromberg opened #1567 "Error: Cannot find module '/vue-storefront/src/themes/@vue-storefront/theme-default/webpack.config.js'"
Fresh install! Commands:
git clone
npm install
npm run dev

Error: Cannot find module '/git/vue-storefront/src/themes/@vue-storefront/theme-default/webpack.config.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (intern

[2018-08-09 19:52] DavidRouyer commented on #1567
Try changing the name of your theme in the config from "theme": "@vue-storefront/theme-default" to "theme": "theme-default",

[2018-08-10 03:51] pkarw commented on #1567
... and use yarn install instead od npm install

[2018-08-10 10:00] filrak opened #1569 "Delegate CPU-intensive tasks that are blocking main thread to Web Workers"
Just an idea. Let's see if we have some CPU intensive tasks that are blocking main thread (json parsing comes to my mind but it's already async) that we can delegate to another thread (we can use this lib or do it in a native way https://github.com/developit/workerize)

I'll be happy to hear your feedback

[2018-08-10 13:10] kovinka opened #1572 "Breadcrumbs tree structure on Product detail page is different"
Breadcrumbs tree structure on Product detail page differs when page is opened from category and on page reload.

Steps to reproduce:

1. Open demo category page https://demo.vuestorefront.io/c/women-20
2. Click on "Minerva LumaTech™ V-Tee" product
3. Product details page for ""Minerva LumaTech™ V-Tee"" is opened
4. Breadcrumbs tree structure is:
`Default Category / Women / Minerva LumaTech™ V-Te`

[2018-08-10 13:11] pkarw commented on #1572
This is because when You enter product URL directly we don't have the category context and product can be assigned to more than one category. VS is currently creating the breadcrumb probably from the first cateogry assigned to the product (to be checked) - which is not always the "root" one

[2018-08-10 14:18] sebabromberg commented on #1567
The name of the template is the original.

Yarn worked ok for me. What’s the difference? It make not sense. Thank you Piotr.

[2018-08-12 09:44] salmanyaqoobin commented on #1566
After downgrading the Elasticsearch to 5.x on windows now i am not getting the above error.

On windows power shell when i run the following command i get the error on api project.
command: yarn migrate

{ Error: [index_not_found_exception] no such index, with { resource.type="index_or_alias" & resource.id="vue_storefront_catalog" & index_uuid="_na_" & index="vue_storefront_catalog" }
    at respo

[2018-08-13 09:51] filrak opened #1576 "[ Newsletter ] Create newsletter module"
Read before picking:
- [About modules](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/api-modules/about-modules.md) - explaination, structure, motivations behind modules
- [Refactoring plan for modules](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/api-modules/refactoring-to-modules.md)

Create module containing all logic connected to newsletter.

For now obviously we

[2018-08-13 20:04] DavidRouyer commented on #1540
I suggest to remove those first 11 global variables and replace it with what I'm suggesting for each one (I can do it with a little refactoring), what do you guys think @pkarw @Igloczek @filrak?

[2018-08-13 20:08] pkarw commented on #1540
I think that we should start with some incremental changes - the first 11 variables to be moved to root store : for me it’s fine, fair enough

@Igloczek, @filrak?

[2018-08-14 08:49] lorenaramonda opened #1578 "Safari issues (on develop branch)"
I was checking the develop branch on safari and found out this couple of problems, one of which breaks the page. I think we should pay attention to these before going into production.

**MAJOR**
SyntaxError: The delete operator requires a reference expression.
`delete typeof this._localCache[key]`
This prevents the page to load images and any other js action to work

It can be solved by removing t

[2018-08-14 08:50] #1529 closed

[2018-08-14 09:07] DavidRouyer commented on #1578
I don't know about the 'minimal-ui' stuff, but try to pull again we've just fixed a thing https://github.com/DivanteLtd/vue-storefront/pull/1579

[2018-08-14 10:06] pkarw commented on #1578
For sure kind of `delete typeof this._localCache[key]` is an error that need to be fixed :)

[2018-08-14 10:07] pkarw commented on #1578
So, please pull the latest changes that fixed babel support and go on with other things You see that need to be fixed on Safari

[2018-08-14 10:09] pkarw commented on #1458
I'm closing this one as we have the TypeScript included :)

[2018-08-14 10:09] #1458 closed

[2018-08-14 10:09] #1503 closed

[2018-08-14 10:25] lorenaramonda commented on #1578
uuuh maybe it's due to http without https, let me check

[2018-08-14 10:37] Igloczek commented on #1540
Moving this to the root store makes sense for me, but probably will be worth to clean up the `store/index.js` file or at least add some comments here, since it's kinda hard to understand what is going on, since it doesn't look like the typical Vuex store setup.

[2018-08-14 10:46] rohithwap opened #1582 "Build Fails :: Service 'kibana' failed to build, remove x-pack"
Docker wasn't starting so I've  run the following

[code]

/vue-storefront$ **npm run installer**

[code]
**LOG**
[code]

/vue-storefront-api$ **docker-compose up -d**
[code]

**Environment:**
`Node v8.11.3 | Docker version 18.06.0-ce, build 0ffa825 | docker-compose version 1.8.0 |
 Ubuntu 16.04.5 LTS`

[2018-08-14 12:55] #1430 closed

[2018-08-14 14:16] pkarw commented on #1578
@lorenaramonda please push this change , thanks!

[2018-08-14 14:17] pkarw opened #1583 "Issue with the core/service-worker.js generated by webpack"
[code]

The desired state is:
https://demo.vuestorefront.io/dist/core-service-worker.js

[code]

[2018-08-14 15:44] lorenaramonda opened #1585 "Issues on translations"
**Localization which is not working:**
- _Similar product_ (src/themes/default/components/core/blocks/Product/Related.vue - 36)

**Unlocalized strings:**
- Label _Sale_ and _New_ on product listing (the string is held by the CSS in a pseudo element)
<img width="903" alt="schermata 2018-08-14 alle 14 27 32" src="https://user-images.githubusercontent.com/4409084/44091639-68420228-9fce-11e8-88da-63d4

[2018-08-14 19:32] pkarw opened #1589 "Refactor the way we're generating Service Workers"
@Igloczek found pretty interesting lib - https://www.npmjs.com/package/serviceworker-webpack-plugin

Would be great if somebody will be willing to do kind of PoC using it.

Acceptance criteria:
- the user should be able to extend the service worker with his/her own scripts: (https://github.com/DivanteLtd/vue-storefront/tree/master/core/service-worker)
- all the current SW caching rules should be a

[2018-08-14 19:39] #1583 closed

[2018-08-14 21:53] Igloczek opened #1590 "Normalize paths in installer script"
If the user passes path containing space for example `/User/name/My Folder/project` and then we use it to clone the backend repository, script crashes (without any meaningful error 😭 ).

To check: https://github.com/DivanteLtd/vue-storefront/blob/develop/core/scripts/installer.js#L138

Error log from send by one of users:
![untitled](https://user-images.githubusercontent.com/5119280/44120792-ca39c

[2018-08-15 10:05] filrak commented on #1589
Why don't we use Workbox (https://developers.google.com/web/tools/workbox/). It's a standard and most common tool used by Nuxt, Vue-cli and is a successor of sw-toolbox

[2018-08-15 10:07] pkarw commented on #1589
@filrak I'm up to this solution, let's fo it

[2018-08-15 12:07] qiqqq commented on #967
@karolbzik can you check these changes on test environment and tell me, can I close this task?

[2018-08-15 19:54] filrak commented on #1572
@pkarw shouldn't we fix it?

[2018-08-16 07:18] vue-kacper opened #1591 "[default] generate photos alt attributes on product page"
There are missing alt attributes on product page (Product Gallery Component):

`vue-storefront/src/themes/default/components/core/ProductGallery.vue`

This should improve slightly SEO for products.

[2018-08-16 13:20] lorenaramonda opened #1596 "One-word component names"
I've noticed that there are components named with only one word, this is [strongly discourage by Vue style guide](https://vuejs.org/v2/style-guide/#Multi-word-component-names-essential) and W3C specifications because it could encounter conflicts in future HTML5 tags.

Maybe we should think about a refactoring of these components name? 😁

[2018-08-16 15:31] pkarw commented on #1596
My opinion is: it would be good to refactor it, but how about the backward compatibility? I think it would be much easier to develop new theme (and we're designing one from scratch now) to improve this and other architectureal/component things; rather than pushing incremental changes to the existing theme

WDYT?

[2018-08-16 15:32] #1591 closed

[2018-08-16 15:37] lorenaramonda commented on #1596
Yes, I didn't know about the "new theme" project until one hour ago when I talked with @filrak . Now that I know what's on the plate I could say yes, it makes sense implemented it in the new one along with other code improvements 😁

[2018-08-16 15:43] pkarw commented on #1596
OK, I think we'll close it for now?

[2018-08-16 15:44] lorenaramonda commented on #1596
Could be closed if you don't forget it 😝 😇

[2018-08-16 15:45] pkarw commented on #1596
@filrak please put it on Your checklist please :)

[2018-08-16 15:50] Igloczek commented on #1596
Isn't better to keep it open and just add a proper label and milestone, rather than keeping it on some private "TO DO" list?

[2018-08-16 15:51] pkarw commented on #1596
@Igloczek @lorenaramonda no problem

[2018-08-16 16:41] benbenek opened #1598 "Additional config params needed for ES filter-aggregation"
It seems that ES aggregations (e.g. filter values) are limited to 10 items by default.

This can be reproduced easily in the official demo store with the 'size'-filter. If there are enough products (e.g. Default Category) the filter sidebar never shows all available sizes which are available according to product detail pages.

The solution is an additional configuration object which can be passed

[2018-08-17 09:24] Tjitse-E opened #1600 "Clicking on a product in wishlist triggers the wrong product variation"
### Steps to reproduce

1. Go to https://demo.vuestorefront.io/p/MSH10/sol-active-short-1007/MSH10-32-Blue
2. Add a few products to the wishlist
3. Select a different color.
4. Go to the related product
5. Click on a product from the wishlist

### Expected result:
The correct product variant is showed, in this case the black shorts and the blue shorts.

### Actual result
The green and purple short

[2018-08-17 10:43] EsteraVendic opened #1601 "Incorrect productinfo after searching for different product"
### Steps to reproduce:

1. Search for "short"
2. Click on "Erika Running Short"
3. Check specifications
4. Notice the pattern is set on "Graphic Print"
5. Search for "short" again
6. Click on "Hawkeye Yoga Short"
7. Check specifications
8. Notice the pattern is set on "Graphic Print"
9. Refresh page with cmd + R  or (ctrl+r) and check specifications again
10. Notice the pattern is changed to "Sol

[2018-08-17 11:16] pkarw commented on #1601
Thanks! This is related to https://github.com/DivanteLtd/vue-storefront/issues/1429

Solution for #1429: https://github.com/pkarw/vue-storefront/commit/e3f909ce4ecd54ad65e8d33c3eba4ec42f6bd7aa

We should add exactly the same event handler + refresh to: https://github.com/DivanteLtd/vue-storefront/blob/master/core/pages/Product.js

`customAttributes` computer property is not causing the UI refresh

[2018-08-17 11:18] pkarw commented on #1600
Thanks! We're adding the main product to the wishlist - it's kind of enhancement to pass the selected `childSku` with it

[2018-08-17 13:47] EsteraVendic opened #1602 "Search only shows for exact terms"
### Steps to reproduce:

1. Search for "LumaTech"
2. Search shows expected results
3. Search for "Luma Tech", "Tech pant" or "Luma tee"
4. There are no results

### Expected result:
Show LumaTech products matching the search term

### Actual result:
Products are not shown when searching for part of a word

![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/30499229/44269088-c9f3

[2018-08-17 13:59] pkarw commented on #1602
ES index schema/confiugration needs to be improved here for sure

[2018-08-17 14:40] benbenek commented on #1598
Sorry, my description probably was a bit bad.

Currently it's limited to 10 results per filter in ES by default. But it would be nice to have all available variants in these filters - that's what filters are for, right? ;)

What I've posted above with `{size: 100}` is just how i've made it work while trying to find the "bug" but this 3rd argument which increases this value to 100 doesn't even exis

[2018-08-17 21:56] filrak opened #1604 "Rename 'core/api` folder to 'core/modules` and change alias"
Since the '`api` folder was a temporary name for Vue Storefront modules it's time to name it properly.

This task involves
- [x] changing `core/api` folder name to `core/modules`
- [x] changing webpack alias from `core/api` to `core/module`
- [x] renaming all occurences of the old alias among the core components to the new one
- [x] making sure that all pathes are correct

[2018-08-17 22:00] filrak opened #1605 "Move features inside core modules root to /features folder"
According to [modules guide](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/api-modules/about-modules.md#how-module-should-look-like) `.ts` files that are now in the root of the modules should be in a `features` folder.

So for example for a `core/api/cart` module we have files like `addToCart.ts` etc in a root of the module. They should be moved to the `core/api/module_name/features

[2018-08-18 09:49] filrak commented on #1226
Some of the seo problems will be solved with new theme, regarding routes we should do it now

[2018-08-18 10:17] diptipatel opened #1606 "Facing error while install mage2vuestorefront (Magento to Vue StoreFront)"
I am trying to connect Magento to vue storefront API

I am referring below URL
**https://medium.com/@piotrkarwatka/vue-storefront-how-to-install-and-integrate-with-magento2-227767dd65b2**

While running **node cli.js **taxrule****
I am getting below Error as error: API call failed: Consumer is not authorized to access Magento_Tax::manage_tax

I am getting same error while running node cli.js produ

[2018-08-18 10:41] pkarw commented on #1606
Please check/enable the Tax permission in Magento2->System->Integrations integrations settings

[2018-08-18 10:41] #1606 closed

[2018-08-18 11:53] diptipatel commented on #1606
node cli.js categories
node cli.js productcategories
node cli.js product

Getting same error for while running all above command.
Consumer is not authorized to access Magento_CatalogInventory::cataloginventory

[2018-08-18 21:27] kjugi commented on #1437
If this PR: https://github.com/SSENSE/vue-carousel/pull/266 will be merged and released we can update lib in our `package.json` and sliders in vue-storefron should working fine. But dunno when and if it will be done.

[2018-08-21 10:28] diptipatel opened #1615 "Unable to see Magento Product image picture in vew store front"
I am able to see Magento product into vue storefront .

But unable to see magento product image into vew store front/

How to configure image URL.

I provided below configuration into vue-storefrontend-api/config/local.json

"magento2": {
    "url": "http://magentoURL,
    "imgUrl": "http://host:8080/media/catalog/product",
    "assetPath": "/var/www/html/ecomm/magento/pub/media",
    "magentoUser

[2018-08-21 12:25] pego commented on #1266
@pkarw edge is working, ie10 & ie11 seems broken.

[2018-08-21 13:41] pkarw commented on #1605
@filrak what's the preferred way to add custom / new modules on the extension / theme layer or via npm module? I think we should have a way for doing so as a third option for having vue storefront extendable

[2018-08-21 13:46] pkarw commented on #1266
OK, would be great to put all the required bugs on IE into issues and fix them one by one :)

[2018-08-22 05:26] diptipatel commented on #1615
Could you please update? I am unable to get magento product image on vue storefront.

[2018-08-22 05:32] vue-kacper commented on #1615
Please make sure Imagemagick is installed and try again:

https://medium.com/@piotrkarwatka/vue-storefront-how-to-install-and-integrate-with-magento2-227767dd65b2

Search for "imagemagick"

[2018-08-22 06:12] diptipatel commented on #1615
Thank you. I already installed imagemagick.

In magento Image path coming like from cache folder
**Magento Image Path**

`<img` class="product-image-photo" src="http://magento host.com/pub/media/catalog/product/cache/f073062f50e48eb0f0998593e568d857/m/h/mh01-gray_main.jpg" alt="Chaz Kangeroo Hoodie" width="240" height="300">`

**Vue StoreFront getting path as**
`<img alt="Tiffany Fitness Tee" src=

[2018-08-22 07:37] filrak commented on #1605
Currently it's just importing appropiate features since we have only them in the modules. I want to stick with it as long as we don't have most of the features separated to be backward compatible (from the developer PoV nothing changes). Once we have the main modules we will change the way we are currently registering it's parts and move it to one place

[2018-08-22 08:50] dennisotugo commented on #1615
Try installing imagemagick-dev on what platform you are running VSF in addition to imagemagick that you have

[2018-08-22 08:53] dennisotugo commented on #1266
Sorry for the late reporting on this. @pkarw Nearly all functionality does not work on IE11. Buttons don't work and Product Images does not show likewise. We can start with these ones.

[2018-08-22 09:25] #667 closed

[2018-08-22 09:30] pkarw commented on #1266
@dennisotugo please do

[2018-08-22 11:04] afirlejczyk opened #1620 "Cannot add bundle product with different configuration to shopping cart"
Try to choose different configuration for any bundle product.
In the shopping cart, there is always same product (with the same options), only quantity has changed.

![bundle-cart](https://user-images.githubusercontent.com/4245592/44460011-d00a7f00-a60b-11e8-8a97-d4efd15f4649.png)

[2018-08-22 11:07] pkarw commented on #1620
In my case the options are set correctly (different options) - but not as another product but rather incrementing the qty.
How it exactly works in Magento2?

[2018-08-22 11:09] #1601 closed

[2018-08-22 11:09] pkarw commented on #1601
Fixed + tested

[2018-08-22 11:10] afirlejczyk commented on #1620
Separated products are created in Magento2.

![bundle-magento-cart](https://user-images.githubusercontent.com/4245592/44460265-b289e500-a60c-11e8-84ba-3ac22a63b417.png)

[2018-08-22 11:12] #1585 closed

[2018-08-22 11:15] pkarw commented on #1578
@lorenaramonda is your recent fix #1584 closing this issue?

[2018-08-22 11:25] pkarw commented on #1590
@vue-kacper if You find some time before Bartek will - please close this issue as well

[2018-08-22 11:26] #1518 closed

[2018-08-22 11:33] qiqqq commented on #1576
@nuovecode I started work with this and I see you commited some changes. I will finish this taks

[2018-08-22 11:47] pszreder commented on #1582
@rohithwap I have just checked "docker-compose-up" in the fresh environment (more specifically, building a kibana image). Code taken from the master branch (https://github.com/DivanteLtd/vue-storefront-api.git), no local docker images in the cache:

[code]

The same docker / docker-compose version as yours.

[2018-08-22 11:52] #1582 closed

[2018-08-22 13:30] lorenaramonda commented on #1578
@pkarw yes it does. it still remains this -> [Error] Viewport argument key "minimal-ui" not recognized and ignored. (localhost, line 5) but it's non-blocking

[2018-08-22 13:54] dennisotugo commented on #873
@karolbzik is this issue still valid?

[2018-08-22 14:10] nuovecode commented on #1576
OOk @qiqqq go on 👍

[2018-08-23 03:40] zadigus commented on #1606
@pkarw you mean checking Stores -> Taxes solves the issue, as there are other Tax options, like Report -> Sales -> Tax and Stores -> Settings -> Configuration -> Tax Section which will not make the ˋnode cli.js taxruleˋ work. I got it working that way.

[2018-08-23 09:03] vue-kacper opened #1626 "[default][ux] bullets indicating active gallery element"
Is it only me or those **bullets indicating active gallery** element are **counterintuitive** from UX standpoint?

![ux2](https://user-images.githubusercontent.com/42430550/44515929-07d4fd80-a6c4-11e8-925a-f04f5c2f2d49.PNG)

Steps to reproduce:

1. Visit URL https://demo.vuestorefront.io/p/24-MB03/crown-summit-backpack-3
2. Click on the gallery indication bullets back and forth

## Expected result

[2018-08-23 13:54] filrak commented on #1626
Good eye for details ;). It was just implemented by other person ( @nuovecode ). @vue-kacper do you want to correct it?

[2018-08-24 06:03] vue-kacper commented on #1626
Thanks ;) Ok, since new theme will be available soon I'll apply this minor ux improvement directly to new theme if necessary

[2018-08-24 09:25] pkarw commented on #1602
Some hints:

[code]

[2018-08-24 09:30] pkarw opened #1630 "[i18n] Translation blinking after page refresh"
Steps to reproduce:
- https://test.vuestorefront.io/de/c/frauen-20 - refresh the page
- take a look at the Filters "Farbe" -> "Color" -> "Farbe"

[2018-08-24 09:33] pkarw commented on #1630
Seems like SSR generated page has correct translations -> then i18n loads default translation (which is english) and then loads the correct translation file again. Maybe we just must serve all supported languages (maybe just to make it possible in the config to mark which one's or load this information form `config.storeViews` during the compilation).

I know it's maybe not 10000% optimal regardin

[2018-08-24 09:36] #1096 closed

[2018-08-24 09:37] #967 closed

[2018-08-24 11:17] mateo2181 commented on #1606
Hi have the same problem. I got the error
Consumer is not authorized to access Magento_CatalogInventory::cataloginventory

[2018-08-24 12:02] mateo2181 commented on #1606
That works! thanks! I have another problem, when I run node cli.js categories just get default category. Do you why happen this?

[2018-08-24 12:40] mateo2181 commented on #1606
That works! Thanks!

[2018-08-24 17:08] diptipatel commented on #1606
Wow great to hear.

My Vue store front not showing Magento product images
I already installed imagick extension and also provide Magento catalog url in config.json file
Still images not displaying in Dev environment.

Any idea?
Is any other dependencies install?

[2018-08-24 17:48] marcelowu opened #1633 "install erro ubuntu"
![capturar](https://user-images.githubusercontent.com/30912144/44599499-ea2f9300-a7ac-11e8-8732-1df50eedea20.JPG)

Elasticsearch DEBUG: 2018-08-24T17:42:53Z
  Request complete

{ Error: Bad Request
    at respond (/var/www/html/api3/node_modules/elasticsearch/src/lib/transport.js:307:15)
    at checkRespForFailure (/var/www/html/api3/node_modules/elasticsearch/src/lib/transport.js:266:7)
    at Ht

[2018-08-24 19:13] mateo2181 commented on #1606
@diptipatel I had the same probem and my error was the properties magento2.url and magento2.imgUrl in file local.json under vue-storefront-api/config folder. I solved this trying to access to an image of a product in the browser, for example, in my case I have magento running in localhost and I can see an image in http://localhost/pub/media/catalog/product/b/u/buzo.jpg.
So in my case magento2.imgU

[2018-08-25 03:15] pkarw commented on #1633
It seems like ElasticSearch is not working or not accepting the requests. Please try to run docker-compose up in the vue-storefront-api and check if there are any errors?

[2018-08-25 21:31] marcelowu opened #1635 "Vue Storefront- How to setup apache reverse proxy"
Vue Storefront- How to setup apache reverse proxy

[2018-08-26 07:06] pkarw commented on #1635
There is a doc for that - please just check the develop branch, this PR:
https://github.com/DivanteLtd/vue-storefront/pull/1623

[2018-08-26 07:44] #1635 closed

[2018-08-26 07:45] #1578 closed

[2018-08-26 08:03] pkarw opened #1636 "[vue-storefront-api] Add Redis connection health check + reconnect"
If the connection stales or Redis is down - currently [o2m (order_2_magento)](https://github.com/DivanteLtd/vue-storefront-api/blob/master/src/worker/order_to_magento2.js) is not able of fixing this state by just reconnecting Redis.

This is kind of error to be handled there:

[code]

I belive we need to add some async monitor (even done by setTimeout?) to test the Redis status (using STATUS comma

[2018-08-27 06:29] diptipatel commented on #1606
@mateo2181 Still i can't able to see image magento product image in vue storefront. I have already installed **imagemagick**.
I have following questions:
1. **What is image path need to provide while installing vue store front? What is use of this image path?**

---------------------------------------------
2. **Magento Image path coming like from cache folder**
Magento Image Path
`<img class="pro

[2018-08-27 08:36] mateo2181 commented on #1606
@diptipatel the url should be http://localhost:8080/.... I have vue-storefront-api running in that address.
And vue-storefront-api call to Magento2.

My local.json below vue-storefront is
"images": {
    "baseUrl": "http://localhost:8080/img/",
    "productPlaceholder": "/assets/placeholder.jpg"
}
. . .

and my local.json in vue-storefront-api is
"magento2": {
    "url": "http://localhost",
    "i

[2018-08-27 10:45] vue-kacper commented on #1626
Yes, it's fixed now

[2018-08-27 11:46] zadigus commented on #1606
Please double-check my answer here: https://github.com/DivanteLtd/mage2vuestorefront/issues/28. I faced the very same problem yesterday.

[2018-08-27 12:36] daksamit opened #1637 "core/components/ProductTile.js typo"
here: [ProductTile.js](https://github.com/DivanteLtd/vue-storefront/blob/develop/core/components/ProductTile.js)
Typo - invalid property name, requred instead of required.

[2018-08-27 14:50] paulvanbladel opened #1640 "problem during install on windows"
clean git clone
yarn install
[code]

$ node -v
v10.9.0

$ yarn -v
1.9.4

$ webpack -v
4.17.1

[2018-08-27 18:41] #1420 closed

[2018-08-28 08:48] kovinka opened #1642 "Page reload on checkout causes errors"
When manually reload the Checkout page, it redirects to Homepage, Checkout component isn't updated (still displayed in storefront), getting js errors (please check screenshot), checked on https://demo.vuestorefront.io/.
<img width="1433" alt="screen shot 2018-08-28 at 11 27 23" src="https://user-images.githubusercontent.com/10535709/44711843-fa4eb780-aab7-11e8-822d-e799c608f1f5.png">

[2018-08-28 15:08] Igloczek commented on #1559
Related to #1513

[2018-08-28 17:50] #1576 closed

[2018-08-28 21:27] DavidRouyer commented on #1630
https://stackoverflow.com/a/48967239
They don't use the default locale and fallbackLocale https://github.com/DivanteLtd/vue-storefront/blob/0fc92cbc5c0a9d5e18ee1c6f96f3d987308e3e38/core/lib/i18n.ts#L9-L10 like we do. We just need to remove that and wait until the language is loaded to set it, it will be more elegant

[2018-08-29 04:33] benyang2015 commented on #793
paypal can work now or not？

[2018-08-29 06:09] vue-kacper commented on #1640
Try:

`npm i source-list-map`

or yarn syntax equivalent

[2018-08-29 07:05] vue-kacper opened #1649 "[default] filters are not updating"
# Steps to reproduce:

- Visit https://demo.vuestorefront.io
- Refresh browser window
- Select category Women -> Tops -> Jackets
- Click on Breadcrumbs "Tops"

![filters](https://user-images.githubusercontent.com/42430550/44771229-b8cb1480-ab6a-11e8-90ba-6fda10988f8c.PNG)

# Expected result:

Filters on the left sidebar should update accordingly without need for page refresh

# Actual result:

Fil

[2018-08-29 07:19] pkarw commented on #1649
Good point

[2018-08-29 07:39] pkarw opened #1650 "[vue-storefront-api] Investigate other way of providing the product images"
Related issues: #1541, #1648

Seems like keeping up with Imageable library is problematic: project is not so actively supported, there is a dependency on Imagemagick + problematic support

This is an open question: how should we improve it?

[2018-08-29 08:09] pkarw opened #1651 "Memory leaks tracking"
Related issue: #1431

We need to add [New Relic](https://newrelic.com/nodejs) or [APM](https://www.elastic.co/solutions/apm) integration to track the VS server app potential memory leaks

[2018-08-29 09:55] #1590 closed

[2018-08-29 09:55] #1559 closed

[2018-08-29 11:03] #1637 closed

[2018-08-29 11:09] #1525 closed

[2018-08-29 11:09] #1534 closed

[2018-08-29 11:16] pkarw commented on #1547
@DavidRouyer I've assigned this one to You for 1.4.0 (October) as You probably have the strongest experience of TypeScript among the core team ;P

[2018-08-29 11:30] pkarw commented on #1642
Thanks, it has been fixed in the develop branch and You can check it on https://test.vuestorefront.io

[2018-08-29 11:30] #1642 closed

[2018-08-29 12:00] #1604 closed

[2018-08-29 12:41] #1630 closed

[2018-08-29 12:49] #1551 closed

[2018-08-29 12:50] #1605 closed

[2018-08-29 12:58] #1550 closed

[2018-08-29 13:17] pkarw opened #1654 "Optimize the number of attributes to be stored in Vuex store"
Currently we're storing in the state all attributes metadata that can be potentially used. In fact this is outputed in SSR mode to the browser as window.__INITIAL_STATE__. We can save around 20-30KB of page size by just cutting the list to the attributes that are really used.

[2018-08-29 14:31] pkarw opened #1655 "Please test + fix the 1024x... breakpoint (iPad)"
Seems like there are some differences from the current version to demo.vuestorefront.io

# 1
![screenshot 2018-08-29 16 29 37](https://user-images.githubusercontent.com/211899/44794492-ec2c9400-aba8-11e8-9afc-320064d1d1cb.png)
![screenshot 2018-08-29 16 29 27](https://user-images.githubusercontent.com/211899/44794493-ecc52a80-aba8-11e8-8a8b-ee62042fa590.png)

# 2

![screenshot 2018-08-29 16 28 34]

[2018-08-29 15:28] kovinka commented on #1642
@pkarw checked on test env, page is not redirected now, but still have js errors and buttons/links are not clickable:
<img width="1272" alt="screen shot 2018-08-29 at 18 24 20" src="https://user-images.githubusercontent.com/10535709/44798081-50575400-abb9-11e8-8499-2db7f9b16598.png">

[2018-08-29 18:30] pkarw commented on #1642
I can't reproduce this error (Chrome 68, MacOSX); what's your system? Do you have the same issue on Your local instance with the latest develop branch checked out?

[2018-08-29 18:39] kovinka commented on #1642
i'm also using Chrome 68, MacOS.
For testing i directly opened checkout https://test.vuestorefront.io/checkout link.
In Firefox it's also reproduced:
<img width="1571" alt="screen shot 2018-08-29 at 21 37 43" src="https://user-images.githubusercontent.com/10535709/44808033-d7192a80-abd3-11e8-91a5-5de0c1864604.png">
Will check locally and update comment later with result.

[2018-08-30 07:04] qiqqq opened #1662 "Removal of double flexbox grid CSS"
We have double flexbox grid CSS in default theme:

- src/themes/default/css/base/_flexbox-grid.css
- src/themes/default/css/vendor/_flexboxgrid2.scss

We should remove first of them and fix layout bugs which occurs after removal.

[2018-08-30 08:33] #1640 closed

[2018-08-30 09:34] pkarw opened #1663 "Test + implement PM2 cluster mode"
We should definitely test the PM2 cluster mode with 2-4 instances set by default; this will allow us to do zero-downtime deployments + avoid problems with one processes crashing out

[2018-08-30 09:39] pkarw opened #1664 "Implement Output cache for server.js"
`core/scripts/server.js` generates the SSR output of the application. It's stateless, sessionless and generally speaking just outputs the HTML for the first user request.

It's a great fit for the output caching / even for generating static HTML's.
Although users can do caching on the nginx / varnish level currently - it would be great to provide a native feature for that, configurable in `config/

[2018-08-30 09:44] pkarw opened #1665 "Implement notification pipeline/buss (New Relic or APM)"
We should have an internal log system/pipeline (maybe Redis queue or sth) for noticing errors, bottlenecks etc.

We can use New Relic custom alerts or figure out APM (https://www.elastic.co/solutions/apm). We should monitor all internal problems, timeouts etc

[2018-08-30 09:45] pkarw commented on #1665
Related to: #1651

[2018-08-30 09:46] pkarw commented on #1565
We should also tweak + use `config/local.json` for having the Elastic query timeouts - in the SSR mode (`Vue.prototype.$isServer === true`)  we should have much shorter timeouts (around max. 1s)

[2018-08-30 09:48] pkarw commented on #1565
Checklist:
- [ ] ES queries: https://github.com/DivanteLtd/vue-storefront/blob/b3025f6c9675d30f7d1b7ccae46f4366024d96cd/core/store/lib/search.js#L49
- [ ] Task execution engine: https://github.com/DivanteLtd/vue-storefront/blob/b3025f6c9675d30f7d1b7ccae46f4366024d96cd/core/store/lib/task.js#L39
- [ ] User actions - https://github.com/DivanteLtd/vue-storefront/blob/86799892b9d1e9f94ff1af3603a94a65a

[2018-08-30 10:14] pkarw opened #1666 "Create native Magento2 indexer"
We should replace mage2vuestorefront with native Magento2 indexer: Magento2 module which will be pushing the Category, Product, Attribute, Taxrule data directly to ElasticSearch in on-demand mode.

Acceptance criteria:
- [ ] compatibility with [mage2vuestorefront](https://github.com/DivanteLtd/vue-storefront) data formats; Specification: https://github.com/DivanteLtd/vue-storefront-integration-boi

[2018-08-30 12:13] pkarw opened #1667 "Recently View products Module"
We should add the "Recently view products" to the My Account section.

Acceptance criteria:
- [ ] to keep the Recently view products in localForage / local storage in the browser
- [ ] to have the My Account view for it (using product Tiles - the same layout as we do have in the category)

[2018-08-30 12:16] #1655 closed

[2018-08-30 12:37] pkarw opened #1668 "Store credit support"
We need to add the support for Magento2 enterprise Store credit
Related issue: #1554

It should be implemented as a separate extension - not in the core.

Acceptance criteria:
- [ ] implement the store logic to [work exactly as in Magento2](https://docs.magento.com/m2/ee/user_guide/sales/credit-configure.html)
- [ ] provide this feature as a extension / npm module as no Enterprise features should

[2018-08-30 13:27] szafran89 opened #1670 "Add to cart more than avaliable"
If we add to cart more than available there are two notifications:
1. Product has been added ..
2. The most you can purchase is ..

![image](https://user-images.githubusercontent.com/5370251/44853957-99fe7800-ac67-11e8-87af-a4d5adba9452.png)

[2018-08-31 08:08] vue-kacper opened #1672 "[default] different product variants on client and SSR version (catalog)"
# Steps to reproduce:

- Visit https://demo.vuestorefront.io
- Select category Men -> View all
- Copy URL from address bar and paste it in new tab

# Expected result:

Both SSR and client generated version should present the same products / variants

# Actual result:

SSR version shows different product variants

[2018-08-31 08:31] lorenaramonda commented on #1533
Hi @alinadivante what about this?

I moved the sorting from the header to the list container:
<img width="1200" alt="schermata 2018-08-31 alle 10 29 20" src="https://user-images.githubusercontent.com/4409084/44901887-d6ce7b80-ad08-11e8-8de6-25a60a3833de.png">
removed the sorting arrows when not needed, while showed when a valid sort is selected:
<img width="1190" alt="schermata 2018-08-31 alle 10

[2018-08-31 10:19] vue-kacper commented on #1459
@pkarw I'm investigating this now, it might be much more complex problem related with #1672

There is also problem with proper ordering lazy loaded additional items. After changing sort order we should clear results first and then fetch fresh items.

For sure vue-strorefront-api returns wrong products orderind from ES

I'll do my best but it might not land in 1.3 till monday

[2018-08-31 10:27] pkarw commented on #1459
I believe this is not related to #1672 - please note that the products shown there are exactly the same (with the same price) - just differs by the variant.

The difference cames from Category.js:filterChanged - which is not applied server side. On the client side app - after applying filters is selecting the variant which regards the currently set color; if no color is set - then it's the first v

[2018-08-31 11:55] vue-kacper commented on #1459
@pkarw I figured it out - it's a mistake in sample input data, I'm not sure how many products are affected

![final_price](https://user-images.githubusercontent.com/42430550/44910691-76e5ce00-ad24-11e8-94c0-63726c5290b6.PNG)

For this product full price is incorrect in

`vue-storefont-api/var/catalog.json`

[2018-08-31 11:58] pkarw commented on #1459
`var/catalog.json` is automatically generated from `demo-magento2.vuestorefront.io`; what's the price there?

It may be kind of difference on the settings -> `priceInclTax` is calculated on our side and `final_price` is imported directly from Magento; so it means that priceInclTax probably contains tax - and if Magento is set to display netto prices (not sure) final_price is Nett price and display

[2018-08-31 12:54] vue-kacper commented on #1459
Prices in Magento and Vue Storefront for the same product behave differently:

`http://demo-magento2.vuestorefront.io/caesar-warm-up-pant.html`

`https://demo.vuestorefront.io/p/MP01/caesar-warm-up-pant-742/MP01`

Very interesting scenario is when you choose `size: 32` and `color: Gray` - there is big gap between price in M and VS.

but for the Purple color of this product prices are the same in M

[2018-09-01 06:02] diptipatel commented on #1606
Thank you every one. I have refereed DivanteLtd/mage2vuestorefront#28
Magento product/images showing in vue storefront.

[2018-09-01 06:03] diptipatel commented on #1615
Thank you for your support and help

[2018-09-01 12:02] bachus03 opened #1675 "Unable to uncheck the checkbox product in bundle product"
Hi, I have experienced an Issue with bundle product.

I have migrated products form magento 2 store to VS and when i I am on product page where the product is a bundle type I am unable to uncheck the product if the option is checkbox an there is only one checkbox. Offcourse I checked that the option IS NOT REQUIRED.

[2018-09-01 12:39] pkarw commented on #1675
Please check the ProductBundleOptions.vue - how the checkboxes logic is supported in there; as far as I know we’re currently not supporting all bundle options types so maybe it’s a good area for the contribution as well!

[2018-09-01 14:37] bachus03 opened #1677 "Can't Install Backend"
Os ubuntu 16.04
node 10.9.0
docker 18.06.1-ce, build e68fc7a
yarn 1.9.4
docker-compose  1.22.0, build f46880fe

When I run the yarn installer I get error like this:

![screenshot from 2018-09-01 16-13-01](https://user-images.githubusercontent.com/37640343/44946909-49248600-ae05-11e8-9829-3815b0f4c32d.png)

/home/bachu/vue_fun/vue-storefront/var/log/install.log
![image](https://user-images.githubus

[2018-09-01 14:48] bachus03 opened #1678 "Can't install backend npm"
Os ubuntu 16.04
node 10.9.0
docker 18.06.1-ce, build e68fc7a
yarn 1.9.4
docker-compose  1.22.0, build f46880fe

When I run the yarn installer I get error like this:

![screenshot from 2018-09-01 16-13-01](https://user-images.githubusercontent.com/37640343/44946909-49248600-ae05-11e8-9829-3815b0f4c32d.png)

/home/bachu/vue_fun/vue-storefront/var/log/install.log
![image](https://user-images.githubus

[2018-09-01 14:49] #1678 closed

[2018-09-01 15:08] bachus03 commented on #1677
Found the solution: https://stackoverflow.com/questions/52128212/npm-not-installing-package-hostname-ip-doesnt-match-certificates-altnames

**in my case I needed Add the line to /etc/hosts:**

1.1.1.1  a.sni.fastly.net.

[2018-09-01 15:26] pkarw commented on #1677
Thanks! Could You please add this solution to the doc/FAQ and recipes.md? If everything is fine please also close this issue

[2018-09-01 17:02] bachus03 opened #1682 "invalid json response body"
I have followed the steps to run vue-storefront and vue-stroefront-api and everything was working fine.

The problem is when I turn off my laptop the npm process are stoped(?) Then, when I want to run it again I am entering into the vue-storefront and vuestorefront-api directory and run npm run dev command.

I get info in the console that: Vue Storefront API started at http://localhost:8080 and in

[2018-09-01 17:11] bachus03 commented on #1682
I needed to "docer-compose up" first in vue-storefront-api

[2018-09-01 17:11] #1682 closed

[2018-09-02 16:50] daksamit opened #1683 "core/mixins/onEscapePress Typo"
I found typo in core/mixins/onEscapePress key handler
[core/mixins/onEscapePress](https://github.com/DivanteLtd/vue-storefront/blob/develop/core/mixins/onEscapePress/index.js#L10:21)

line:
`    this.$once('hook:desktroyed', () => {`
instead of
`    this.$once('hook:destroyed', () => {`

[2018-09-02 17:11] alinadivante commented on #1533
I thought that maybe you could apply a solution such as for example on Aliexpress?
![image](https://user-images.githubusercontent.com/36628922/44958688-fec60680-aee3-11e8-8b43-3ec650a64f89.png)

![image](https://user-images.githubusercontent.com/36628922/44958686-f1108100-aee3-11e8-85f9-13d62635bde5.png)

What do you think? Is it possible?

[2018-09-02 20:11] sezio opened #1685 "Run in docker container ? Or link with existing containers ?"
Hi,

I have the following docker config for a project I'm working on : 3 docker containers already linked to each others, that I use as my development environment :
* 1 container I use as a webserver, with the sources on a volume I share with my host
* 1 container for mysql, db data shared on a volume
* 1 container for elastic search (for other purposes than vue-storefront)

From what I see, docke

[2018-09-03 07:53] filrak opened #1686 "Potential memory leaks on SSR Vue components and Event Bus"
Related to: https://github.com/DivanteLtd/vue-storefront/issues/1651

There may potential memory leaks in `created` and `beforeCreate` lifecycle hooks on server side.
 If there are any global side effects created in this lifecycle hooks they are deleted mostly on `destroyed` or `beforeDesktroy`which are platform specific so the side effects can remain on the server side. This applies mostly to pla

[2018-09-03 07:55] pkarw commented on #1686
Good observation. Could You please find and give one specific example from VS code base? @filrak

[2018-09-03 08:03] #1683 closed

[2018-09-03 10:29] mercs600 commented on #1461
We can close it, because now it was fixed.

[2018-09-03 10:29] #1461 closed

[2018-09-03 10:53] mercs600 commented on #1433
@BartoszLiburski are you working on it ? I can handle it.

[2018-09-03 10:56] BartoszLiburski commented on #1433
@mercs600 no I am not. You can give it a shot!

[2018-09-03 11:08] pkarw commented on #1686
https://github.com/vuejs/vue/tree/dev/packages/vue-server-renderer#externals-caveats

[2018-09-03 11:08] pkarw commented on #1686
https://github.com/vuejs/vue/issues/5089

[2018-09-03 11:09] pkarw commented on #1686
Here is an report (in Polish - but You can get an idea) made by @tomasz-duda
[vsf-mem-leak.pdf](https://github.com/DivanteLtd/vue-storefront/files/2345280/vsf-mem-leak.pdf)

[2018-09-03 11:17] #1565 closed

[2018-09-03 11:17] #1663 closed

[2018-09-03 11:17] pkarw commented on #1565
I've added 500 error in this case - we need to create a better looking error page anyway :)

[2018-09-03 11:21] pkarw opened #1688 "Add an nice-looking error page"
In case of internal server error (for example ElasticSearch is not responding) we're currently displaying the very sad-looking message:

https://www.dropbox.com/s/rue8h3n3sur85bc/Screenshot%202018-09-03%2015.18.22.png?dl=0

We should create a kind of special error page based on the [PageNotFound](https://github.com/DivanteLtd/vue-storefront/blob/master/core/pages/PageNotFound.js).

This page shoul

[2018-09-03 11:29] pkarw commented on #923
Here is a first step on the docs/boilerplate: [Payment Integration Docs](https://github.com/DivanteLtd/vue-storefront/blob/develop/doc/Payment%20Gateway%20Integration.md)

[2018-09-03 16:44] bachus03 opened #1690 "Category filters not importing from magento 2"
As described here https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Feature%20list.md "Layered / Faceted Navigation for filtering of products in categories" **I am expecting that the filters will be created automatically** in vuestorefront after full import from magento 2, Am I wrong?

1. I have followed this:
https://medium.com/@piotrkarwatka/vue-storefront-how-to-install-and-integrate

[2018-09-03 17:05] marcelowu opened #1691 "error production"
![1](https://user-images.githubusercontent.com/30912144/44997114-59ae3b00-af82-11e8-947b-363bdb3d3eaa.JPG)
![2](https://user-images.githubusercontent.com/30912144/44997115-59ae3b00-af82-11e8-982a-393ee348938d.JPG)
![default](https://user-images.githubusercontent.com/30912144/45008381-b50b1800-afd8-11e8-97da-4ad170c91965.PNG)

[2018-09-03 19:09] pkarw commented on #1691
Please provide us with the `vue-storefront` logs (`yarn pm2 logs server` or `yarn pm2 monit server`)

[2018-09-03 19:48] pkarw commented on #1690
This is not an issue. The filter list is not being populated automatically. You need to add the filters You'll like to have displayed to the `config/local.json` field name is: `defaultFilters`

And then You can use proper controls for each individual filter in here:
https://github.com/DivanteLtd/vue-storefront/blob/49dc8a2dc9326e9e83d663cc27f8bb0688525f13/src/themes/default/components/core/blocks/

[2018-09-03 19:48] #1690 closed

[2018-09-03 20:56] marcelowu commented on #1691
![1](https://user-images.githubusercontent.com/30912144/45001339-9be77480-afa2-11e8-8635-a5db94ec85fe.JPG)
![2](https://user-images.githubusercontent.com/30912144/45001340-9be77480-afa2-11e8-96b9-e538d207d12d.JPG)
![3](https://user-images.githubusercontent.com/30912144/45001341-9be77480-afa2-11e8-93e8-dce456929952.JPG)

[2018-09-03 21:51] bachus03 commented on #1690
Thanks a lot, I am just starting playing with VS.

[2018-09-03 22:36] bachus03 commented on #1690
@pkarw Unfortunetly it didn't work. I have edited the config/local.json
![image](https://user-images.githubusercontent.com/37640343/45002681-c56fc280-afd9-11e8-8e31-0863fa2d3a98.png) and now category page is not loading at all. I can see to blue loading bar moving but noting more is happening. When I try to enter direct category url i get 404 error?
In Category/Sidebar.vue I can see the "else" for

[2018-09-04 03:31] pkarw commented on #1691
Ok, try to run "npm run db rebuild" in the vsapi folder at first

[2018-09-04 05:07] marcelowu commented on #1691
![default](https://user-images.githubusercontent.com/30912144/45011127-54370c00-afe7-11e8-91db-11b7d0758152.PNG)

[2018-09-04 05:32] marcelowu commented on #1691
![default](https://user-images.githubusercontent.com/30912144/45011781-bc3b2180-afea-11e8-9907-67e0b0003b43.PNG)

[2018-09-04 06:00] pkarw opened #1692 "Support for Elastic 7.x"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

Currently we’re storing multiple document types (product, attribute, categories, taxrules) in single index (vue_storefront_catalog by default). ES 6.x is no longer supporting this setu

[2018-09-04 09:52] filrak commented on #1686
@pkarw our checkout is a perfect example ;)
https://github.com/DivanteLtd/vue-storefront/blob/master/core/pages/Checkout.js#L88
[code]

[2018-09-04 10:30] pkarw commented on #1686
@filrak could you provide the solution for this particular case as an example?

Can we also test if it’s a real case for us? We need to be sure it’s causing a problems before solving it as this way of hooking the events is pretty popular in the app

Would be great if you can take 2h and test it maybe?

[2018-09-04 12:49] yuriboyko opened #1693 "Create a catalog search result page"
it would be really good to have a complete catalog search results page with filters and sorting options

[2018-09-04 17:37] pkarw opened #1698 "Populate elasticCache collection after SSR reload"
* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**

Currently the offline cache (indexedDb - elasticCache collection) is populated only when user clicks thru categories in the CSR (client's side rendering) mode. We should populate the c

[2018-09-04 19:31] marcelowu commented on #1691
thanks..

[2018-09-04 19:31] #1691 closed

[2018-09-04 19:31] #1633 closed

[2018-09-05 15:01] thierry2015 opened #1699 "Back button not properly working from a configurable product page"
* **I'm submitting a ...**
  - [X] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the current behavior?**
When I click on the back button in a variant product detail page (configurable-product route), I am redirected to the product detail page (configurable-product), that redirects me to th

[2018-09-05 15:07] pkarw commented on #1699
Thanks! You mean the arrow button in the VS UI and not the browser back button correct?

[2018-09-05 15:08] thierry2015 commented on #1699
Correct, the VS header back button

[2018-09-06 09:09] filrak opened #1700 "Create a VS backend mock server"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request => Please do not submit support request here, see note at the top of this template.

* **What is the motivation / use case for changing the behavior?**

Right now to play with VS on your own backend is required. It makes jumping into it quite harder even with our demo instance since it's impossible to tra

[2018-09-06 11:56] NilsITO commented on #307
As well looking for woocommerce functionality

[2018-09-07 01:02] marcelowu opened #1705 "error Vue Storefront External Checkout"
![default](https://user-images.githubusercontent.com/30912144/45192738-8da68c00-b220-11e8-9e47-062f44b90bac.PNG)

[2018-09-07 01:14] marcelowu commented on #1705
![default](https://user-images.githubusercontent.com/30912144/45192991-415c4b80-b222-11e8-89cb-0a5d7dd187dc.PNG)

[2018-09-07 04:40] marcelowu commented on #1705
hahaha...im sorry...thanks

[2018-09-07 11:16] pkarw commented on #1239
I think we can use VuePress - and start this task by simply running vue press instance + moving `/doc` folder to the new structure.

[2018-09-07 11:19] kovinka opened #1706 "Getting error while starting VS in docker after upgrade to v1.3.1"
* [bug] **Getting error while starting VS in docker after upgrade to v1.3.1**
<img width="697" alt="screen shot 2018-09-06 at 21 35 48" src="https://user-images.githubusercontent.com/10535709/45215604-a6598500-b2a6-11e8-8ba3-dd39bd77fa80.png">

**Additional info:**
  - all files connected to docker, webpack or typescript configuration are not modified;
  - themes and extensions are temporary remov

[2018-09-07 11:48] pkarw commented on #1706
@vue-kacper can You please test this issue as You're testing it on Linux anyway?

[2018-09-07 11:56] mercs600 commented on #1688
@pkarw @filrak To achieve error page without any async data we have to create new layout page without components which can use potential connection to some server service.

So we have to implement layout system, because right now App.vue use the same components for each route path

[code]

So I created POC of layout components with default and plain template. You can pass in router/path setting wh

[2018-09-07 12:03] pkarw commented on #1688
@filrak
I don't like this solution as it's quite a massive change just for single error page. Maybe we can create just a plain HTML error page instead ...

[2018-09-07 12:19] pkarw commented on #1693
This page should have a full filter support as well

[2018-09-07 12:22] pkarw opened #1707 "Add a page with products for specific manufacturer"
Acceptance criteria:

* [ ] The page should have seo-friendly URL in the routing (including manufacturer slug/name)
* [ ] The page should work with SSR mode
* [ ] The page should display the products with specific `manufacturer` attribute assigned
* **What is the motivation / use case for changing the behavior or adding new feature?**
This feature is pretty useful regarding the SEO purposes

[2018-09-07 12:25] pkarw opened #1708 "Add layered navigation multiselect support"
* **What is the motivation/use case for changing the behavior or adding new feature?**

Currently, filters allow the user to select one attribute value per filterable attribute; we should support multi-filters

* **Acceptance criteria**
- [ ] User can check multiple attribute values in the Category filters

[2018-09-07 12:26] pkarw opened #1709 "Add button in filter for mobile view. Button: “Apply” and “Clear”"
* **What is the motivation / use case for changing the behavior or adding new feature?**

This is a feature request just to improve the mobile UX

* **Acceptance criteria**
- [ ] "Apply" and "Clear" buttons

[2018-09-07 12:28] pkarw opened #1710 "Show categories in search"
* **What is the motivation / use case for changing the behavior or adding new feature?**

This is related to #1693

* **Acceptance criteria**
- [ ] User can filter out the search results using the category filter

[2018-09-07 12:30] pkarw opened #1711 "Implement the fallback mechanism for themes"
* **What is the motivation/use case for changing the behavior or adding a new feature?**

This is a requirement from our partner Vendic. I believe it's a requirement about theme fallback as it's available in Magento:
- we have a custom theme
- we have a default theme
- components' not present in the custom are loaded from the default

So this is kind of inheritance intended to simplify the themes

[2018-09-07 12:37] pkarw commented on #1688
OK, I'm not a frontend guy so would be great to hear what others think on this approach

[2018-09-07 15:06] DavidRouyer commented on #1192
Closing this in favor of #1589

[2018-09-07 15:06] #1192 closed

[2018-09-07 15:11] DavidRouyer commented on #1589
The problem is, we need a webpack pipeline to generate the service worker script, because we use the `theme` alias in the file https://github.com/DivanteLtd/vue-storefront/blob/master/core/service-worker/index.js
It would be better to have only one file, available to the user, with no imports. This way, we wouldn't need a Webpack pipeline for the service worker.

[2018-09-08 04:44] pkarw commented on #1686
Most of these events are used to update the UI based on use actions and are just unnecessary server side. We can check if Vue.prototype.$isServer and of true - skip binding the events probably

[2018-09-08 08:32] pkarw commented on #1540
@DavidRouyer I belive this one is good close; could You close it?

[2018-09-08 08:33] pkarw commented on #1290
@akbarik how about this one?

[2018-09-08 08:45] pkarw commented on #1650
@DavidRouyer would be great if You can get rid off `imageable` till next release

[2018-09-08 10:25] pkarw opened #1713 "Add AMP renderer"
* **What is the motivation / use case for changing the behavior or adding new
AMP version of the site can bring lot of improvements to the eCommerce SEO discover ability and performance.

However, there is no external JS allowed in AMplified pages. So probably we need to add the alternative renderer to generate just the AMP product and category pages and then distribute the traffic to existing VS

[2018-09-08 12:16] filrak commented on #1711
I can take care of it but maybe we should do it during implementation of new default theme? RIght now it'll require to include all packaes that current default theme needs along with this fallback. It'll be much easier if we'll have this mechanism in mind while creating this new theme.

[2018-09-08 12:29] pkarw commented on #1711
New theme z good chance to do it

[2018-09-08 12:49] #1540 closed

[2018-09-08 12:55] filrak commented on #1688
@pkarw It's not that massive change. The problem is that by displaying header/footer we are also querying ES for some data so we need another layout without this data to display in case of error as @mercs600 said. We can just wrap content from `App.vue` into some `Main.vue` component to achieve what @mercs600 is talking about. The layout system will be in new theme tho so this task can be just don

[2018-09-08 12:58] filrak commented on #1686
@pkarw moving the listeners to `beforeMount` or `mounted` hooks will be enough but as I mentioned at the beginning  (and as you also mentioned) first we need to be sure if it's producing this leaks so if anyone si willing to take this issue please start with this investigation :).

[2018-09-08 14:11] pkarw commented on #1688
Ok, i think we need to fix it in the current theme as well
@mercs600 you can go along with Your solution but please take care of the naming to have all convention in place

[2018-09-08 16:32] zadigus opened #1715 "core/scripts/server.js"
* [bug] **What is the current behavior?**

The following code is probably not what you want:

[code]
Indeed, it does not increase the port number, but concatenates 1 after the port. For example, if port 8080 is used, then this code will try with 80801 and not 8081.

[2018-09-08 16:51] pkarw commented on #1715
Thanks!

[2018-09-08 21:43] bachus03 opened #1716 "Category Filters not working"
Hi I tried ask on sluck but nobody responded :(

I have migrated data from magento 2 all good. I have atributte with code "drive". I have added this in config/local.json in default filters and whole category is not loadng now. I know that I have to use proper control in sidebar.vue but is it nomral that whole category is not loading?

[2018-09-09 05:32] pkarw commented on #1716
Hi! Are there any errors reported in the Vue-storefront or Vue-storefront-api console? I belive it may be caused due to the need of indexing this attribute in ES schema but I’m not sure

[2018-09-09 11:34] bachus03 commented on #1716
No there is nothing in vue-storefront/var/log/vue-storefront.log and vue-storefront/var/log/vue-storefront-api.log. I cleared them first and then try to capture my bug but nothing was written there during test.

1.) npm run db new -- --indexName=vue_storefront_catalog
2.) edited local.joson added my filter to defaultFilters like "defaultFilters": [
      "color",
      "size",
      "price",

[2018-09-09 11:42] pkarw commented on #1716
Try to load home page open dev console in Chrome go to category client side (without page reload) and check if there’s is any error in the dev console

If not please attach a elastic dump that will let us debug Rhiannon issue

[2018-09-09 12:01] bachus03 commented on #1716
There is something like this:

search.js:161 Error: {"root_cause":[{"type":"illegal_argument_exception","reason":"Fielddata is disabled on text fields by default. Set fielddata=true on [test] in order to load fielddata in memory by uninverting the inverted index. Note that this can however use significant memory. Alternatively use a keyword field instead."}],"type":"search_phase_execution_exceptio

[2018-09-09 12:07] pkarw commented on #1716
Elastic doesn’t allow to filter / aggregate Tex fields. Please check FAQ in our /doc regarding this issue - in short words you need to setup the valid field type in vsapi/config/*.schema.json and run “npm run db rebuild” to reindex ES with new field type set

[2018-09-09 12:48] pkarw commented on #1716
You should modify the “product” schema (not “attribute” - this is just for attributes meta data). Take a look on how “erin_recommends” and “size”, “color” are defined. The attribute to filter on should be of integer or drop down type (set in Magento)

[2018-09-09 13:18] filrak commented on #1686
Update, @tomasz-duda confirmed leaks

[2018-09-09 13:26] bachus03 commented on #1716
Yes I will do this :)

Ok translation for this I understand, but there is not any "name" property on this mapping ("elastic.schema.product.json")?

[2018-09-09 13:34] pkarw commented on #1716
Just check how SidebarMeni.vue uses “t()” helper it calls sth like “t(attribute_code + ‘_filter’)”

[2018-09-09 13:34] pkarw commented on #1716
You can add this hint - how to change filter caption - to the FAQ as well ;) thanks!

[2018-09-09 23:09] diboy2 commented on #1709
@pkarw I'd like to work on this.

[2018-09-10 12:02] kovinka commented on #1706
@pkarw fixed issue by adding missing lines/files to volumes config in docker-compose.yml
[code]
Docker starts now. Is it correct fix?

[2018-09-10 13:31] pkarw commented on #1706
@kovinka yes, please create Pull Request for it

[2018-09-10 14:51] kovinka commented on #1706
@pkarw done, please review PR.

[2018-09-10 18:03] pkarw commented on #1706
Thanks! Merged in :-)

[2018-09-10 18:03] #1706 closed

[2018-09-11 08:26] pkarw opened #1718 "Bundle the i18n.defaultLocale into multistoreLanguages.json"
* [bug] **What is the current behavior?**

Currently we're not bundlign the config.i18n.defaultLocale (if it's different than english) to multistoreLanguages.json

Details: https://vuestorefront.slack.com/archives/CA68P1JUF/p1536573660000100

* [bug] **What is the expected behavior?**

It should be bundled along with other languages

* **Acceptance criteria**
- [ ] multistoreLanguages.json doesn c

[2018-09-11 09:06] filrak opened #1719 "Make intelisense for modules working with lerma"
* [bug] **What is the current behavior?**
When using intelisense on VS modules imported by alias `@vue0storefront/core/modules` we are not receiving intelisense description for the method

![image](https://user-images.githubusercontent.com/15185752/45349643-25560280-b5b2-11e8-9bf9-b1f9955857c9.png)
(it displays only import but i needed to press shift to make screenshot ^^)
* [bug] **What is the ex

[2018-09-11 12:51] pkarw opened #1720 "Add Open Loyalty integration as a extension"
* **What is the motivation/use case for changing the behavior or adding a new feature?**

We would like to synchronize all the events + user transactions with openloyalty.io using the API. We should've been able to display the points + redeem coupon codes from OLOY in the VS checkout as well.

* **Acceptance criteria**
- [ ] we're recording the transactions from VS to Open Loyalty
- [ ] we're disp

[2018-09-12 07:24] pkarw opened #1721 "GraphQL improvements"
* **What is the motivation/use case for changing the behavior or adding new feature?**

We need to make graphQL more extendable. Of course - one can use `AppoloQuery` to directly query the data but still many users will be using `SearchQuery` and vuex stores maintaining the API/graphQL interoperability.

* **Acceptance criteria**
- [x] Add the mechanism to extend the graphQL queries / entity types

[2018-09-12 08:05] pkarw opened #1723 "Bundle product price is presented without the tax"
The product page - price is Net = 73:
![screenshot 2018-09-12 10 03 27](https://user-images.githubusercontent.com/211899/45410930-3d418b00-b673-11e8-937e-bf8006ebfae9.png)

In micro cart - we do have the price with tax (23%)
![screenshot 2018-09-12 10 03 33](https://user-images.githubusercontent.com/211899/45410960-4af71080-b673-11e8-8ac7-bde7c696df0b.png)

* **Acceptance criteria**
- [ ] Tax shou

[2018-09-12 08:07] pkarw commented on #1723
To check: https://github.com/DivanteLtd/vue-storefront/blob/813857a51219cf0467bf5d437493630c12819d26/core/pages/Product.js#L142

[2018-09-12 08:09] pkarw commented on #1723
It may be related to the issue we've discovered with the mage2vuestorefront: https://github.com/DivanteLtd/mage2vuestorefront/blob/ada7a243245597bd7634bbdfbb338307998f499d/src/adapters/magento/product.js#L103

[2018-09-12 08:14] #1715 closed

[2018-09-12 08:17] #1718 closed

[2018-09-12 09:50] vue-kacper commented on #1723
On develop branch I get the same price on product page as in shopping cart

![p1](https://user-images.githubusercontent.com/42430550/45417208-edb68b80-b681-11e8-9c45-e2c5d4e1c38d.PNG)

![p2](https://user-images.githubusercontent.com/42430550/45417216-f14a1280-b681-11e8-9dbd-b2218d3cb8a4.PNG)

[2018-09-12 09:52] pkarw commented on #1723
OK, seems like sth is wrong with my config then :/ Closing for now

[2018-09-12 09:52] #1723 closed

[2018-09-12 10:32] zadigus opened #1725 "Is it normal that npm i != yarn?"
* [bug] **What is the current behavior?**

```npm install != yarn```

If I do

[code]
then some packages are missing to let the installation / app execution work.

* [bug] **What is the expected behavior?**

[code]
is equivalent to
[code]
My motivation is pretty simple: I am willing to deploy the application on a Jelastic system where each node reboot triggers an `npm install` which everytime brea

[2018-09-12 11:12] pkarw commented on #1725
This won't be possible :( We're using `Lerna` to handle Multirepo and it requires `yarn` https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Monorepo.md

[2018-09-12 14:15] zadigus commented on #1725
Yeah but why is the output of
[code]
so much different from that of
[code]
? That should at least match, shouldn't it?

[2018-09-13 08:16] pkarw commented on #1725
It's pretty different as Lerna is creating lot of symlinks for `@vue-storefront/core` and other "virtual" modules, we cannot use npm anymore :(

[2018-09-13 08:17] #1725 closed

[2018-09-13 08:17] pkarw commented on #1688
@mercs600 I'm leaving just You with this one

[2018-09-13 08:47] pkarw opened #1726 "Elastic Schema Generator"
Related to: #1692

This should be implemented in the `vue-storefront-api` or `mage2vuestorefront` project.

* **What is the motivation / use case for changing the behavior or adding new feature?**

Would be great to add automatic schema generator (for reference: https://github.com/DivanteLtd/magento1-vsbridge/pull/13)

* **Acceptance criteria**
* [ ] schema generator that generates the product sch

[2018-09-13 09:15] tomtev commented on #1196
None of these works.

[2018-09-13 09:28] pkarw commented on #1664
https://github.com/kwhitley/apicache

[2018-09-13 12:41] cmeyertons opened #1727 "Intellisense does not work w/ VS Code + Vetur"
* [bug] **What is the current behavior?**
Intellisense (go to definition, etc.) does not work w/ VS Code + Vetur in .vue files

* [bug] **What is the expected behavior?**
These should work out of the box

I attempted tweaking the jsconfig.json w/o luck

* [bug] **Please provide the steps to reproduce and if possible a minimal demo of the problem** via
1. Pull master
1. go to `src/themes/default/co

[2018-09-13 12:46] pkarw commented on #1727
Not sure if it's related to https://github.com/DivanteLtd/vue-storefront/issues/1719

@filrak ?

[2018-09-13 23:06] diboy2 commented on #1535
I'd like to work on this.

[2018-09-14 03:58] pkarw commented on #1535
@diboy2 ok, go for it :)

[2018-09-14 07:31] filrak commented on #1727
Yes it's related to lerma  and `@vue-storefront ` alias that is not recognized by InteliSense

[2018-09-14 07:32] filrak commented on #1721
Maybe we can completely switch to Apollo?

[2018-09-14 07:32] filrak commented on #1720
I can take care of this next month ;)

[2018-09-14 17:59] stuartz-VernonCo commented on #1685
use a docker-compose.yml file to run all four of your containers and link them.  For an example of a docker-compose file linking containers, view https://docs.docker.com/compose/compose-file/#depends_on

[2018-09-14 19:37] #1664 closed

[2018-09-17 05:02] jorkvist opened #1733 "Catalog view infinite scroll not working on mobile"
* [bug]
  - Version:
  - Browser: Firefox 62.0.1 | Mobile Chrome 69.0.3497.91

Products lazyload (infinite scroll) is broken on mobile, when scrolling to the bottom, no new products is loading. Tested on my live site but also on https://demo.vuestorefront.io/

(bonus, the counter is not working always says 50 items)

[2018-09-17 21:13] jorkvist opened #1734 "Broken menu link on PDP"
* [bug] **What is the current behavior?**
When going to a product with a direct link, fx: https://demo.vuestorefront.io/p/WS12/radiant-tee-1561/WS12 the menu in the left upper corner is expected, instead an arrow is shown and when that's clicked the visitor goes to a invalid route and jumps of the site.

* [bug] **What is the expected behavior?**
Show menu instead when a user not comes from intern

[2018-09-18 01:26] cmeyertons commented on #1727
looks like this is already an issue logged against Vetur:

https://github.com/vuejs/vetur/issues/890

[2018-09-18 01:26] #1727 closed

[2018-09-18 09:28] bookernath commented on #1437
The PR you mentioned is merged now, @kjugi

[2018-09-18 17:31] pkarw commented on #1733
@mdanilowicz @vue-kacper or @qiqqq could you please take a look  at this one, please?

[2018-09-19 08:46] DavidRouyer opened #1736 "Move social tiles store to the theme"
* [bug] **What is the current behavior?**

The social tiles store is in the core, but it's a theme specific behavior https://github.com/DivanteLtd/vue-storefront/tree/master/core/store/modules/social-tiles

* [bug] **What is the expected behavior?**

Social tiles store should be inside the theme

* **What is the motivation / use case for changing the behavior or adding new feature?**

Leaner core

[2018-09-19 08:57] DavidRouyer opened #1737 "Move theme specific translations to the theme"
* [bug] **What is the current behavior?**

Strings translations used in the theme are specified in the core files.

* [bug] **What is the expected behavior?**

Strings translations specific to the theme should be in `src/themes/<theme>/resource/i18n`

* **What is the motivation / use case for changing the behavior or adding new feature?**

- Leaner core
- Make it clearer of what to override
- Can

[2018-09-19 09:13] DavidRouyer opened #1738 "Move core assets to the theme"
* [bug] **What is the current behavior?**

Assets are in the core

* [bug] **What is the expected behavior?**

Assets should be in the theme folder

* **What is the motivation / use case for changing the behavior or adding new feature?**
- Leaner core
- Make it clearer of what to override

[2018-09-19 11:47] filrak opened #1742 "Get rid of cart-after-itemchanged event"
* **What is the motivation / use case for changing the behavior or adding new feature?**
We are slowly moving to more reliable and easier to debug architecture which includes removing event-based scenarios.

The task here is to rewrite all `cart-after-itemchanged` event-based functionalities to ones relying on Vue reactivity system and Vuex. The cart object should only change in Vuex and component

[2018-09-19 21:51] #1738 closed

[2018-09-19 21:51] #1736 closed

[2018-09-20 06:46] mdanilowicz commented on #1734
@jorkvist Thank you for reporting

[2018-09-20 21:56] DavidRouyer opened #1749 "RFC: i18n"
- Feature Name: i18n overhaul
- Start Date: 2018-09-20
- RFC PR:

# Summary
[summary]: #summary

Overhaul of the i18n module by:
 - Supporting multistore scenarios & multilanguage stores
 - Move all the translations into one JSON file inside the theme, and introduce core/modules/extensions translation keys scoping
 - Add a mechanism for modules to expose translations keys & add warnings for missin

[2018-09-21 08:05] filrak commented on #1749
Totally agree that it's a good way, now it's such a mess

Regarding extension scoping - extensions will also be a modules so I'm wondering if the separation is needed. H

[2018-09-21 08:07] filrak commented on #1737
it's ok, @pkarw is on vacation so feel free to go on with this one :d

[2018-09-21 08:14] DavidRouyer commented on #1749
extension/modules -> they work the same way so if the extension concept disappear, it doesn't impact this :)

[2018-09-21 08:15] DavidRouyer commented on #1737
You've already merged it so I'm closing it 😄