[2019-08-12 12:39] #3357 closed

[2019-08-12 12:40] #590 closed

[2019-08-12 12:40] #893 closed

[2019-08-12 12:40] alinadivante opened #3359 "Wrong URLs for "de" and "it" stores."
## Current behavior
Currently, we have wrong URLs for "de"/"it" stores.
Please, see how the links look like on the example `/de`:

1. Link from sidemenu (and no products found):
![image](https://user-images.githubusercontent.com/47415585/62866074-4bc77500-bd10-11e9-9b0d-526d246a76f7.png)
2. Link from banner on homepage (user is redirected to /page-not-found):
![image2](https://user-images.githubus

[2019-08-12 12:40] #1560 closed

[2019-08-12 12:43] #2979 closed

[2019-08-12 13:17] cewald commented on #3332
After some further research it turns out to be caused by a mutation caveat of using `Object.assign()` – If I use `Vue.set()` it also works with a "normal", cached property/getter as well.

I've added it to the open PR.

[2019-08-13 09:31] alinadivante opened #3362 "Problems storing products added to the Wishlist"
##Relates to:
#3348

## Steps to reproduce the issue
**Scenario 1:**

1. Log in into vsf
1. Add any products to wishlist
1. Log out
1. Make sure that wishlist is empty now
1. Refresh page

**Scenario 2:**

1. Log in into vsf
1. Add any products to wishlist
1. Log out
1. Make sure that wishlist is empty now
1. Again add any products to wishlist (as guest)
1. Log in into vsf (use the same account as

[2019-08-13 11:40] alinadivante opened #3363 "[iOS] Page is scrolled when scrolling the side menu."
## Current behavior
On iOS devices - the page is scrolled when scrolling the side menu.

![ios_scrolling](https://user-images.githubusercontent.com/47415585/62938995-7ed13d80-bdd0-11e9-98bf-601dcc6b59cb.gif)

## Expected behavior
Prevent page scrolling when Sidemenu is open.

## Steps to reproduce the problem
1. Go to https://test.storefrontcloud.io/ on the iPad
2. Open the searchbar and enter "to

[2019-08-13 11:59] pkarw commented on #3362
@alinadivante the thing is that wishlist is not being synced with Magento there is still a FR for that waiting to be implemented. So we’re having just single source of wishlist which is browser cache

[2019-08-13 12:23] pkarw commented on #3359
@lukeromanowicz can you Please take a look at this one?

[2019-08-13 12:24] pkarw commented on #3359
@alinadivante thanks for reporting! Is this issue only occurring on develop branch? can you please check 1.10 as well please?

[2019-08-13 17:08] #859 closed

[2019-08-13 17:08] #3243 closed

[2019-08-13 17:27] alinadivante commented on #3359
Yes, I checked v1.10 at next.storefront and there is no problem there

[2019-08-13 17:29] pkarw commented on #2167
Its all about sending the SearchQuery object in plain json to /api/catalog and then construct elasticsearch query in API instead of constructing it in the client.

The SearchAdapter and ElasticsearchQuery classes should be refactored simplified
It should be kept as an option to have the current behavior (building queries in client) for backward compatibility but it should be disabled by default

[2019-08-13 17:30] pkarw commented on #2167
@andrzejewsky can you please take care of this one after finishing the tasks from 1.22 please?

[2019-08-14 07:41] pkarw opened #3364 "Add Google Recommendations integration"
## What is the motivation for adding / enhancing this feature?

The feature request to add a `Recommended products` block based on the:
https://cloud.google.com/recommendations-ai/docs/

## What are the acceptance criteria

* [ ] `RecommendedProducts` smart commponent added to display the recommended products
* [ ] `vue-storefront-api` based product catalog integration with the Google API (to send

[2019-08-14 07:46] pkarw commented on #3364
Related: https://aws.amazon.com/personalize/

[2019-08-14 14:24] JeremyGfeller opened #3365 "Problem synchronisation of new products and image in offline mode"
I have a problem, when I add a new product in Magento, the product doesn't come in vue-storefront, but if I update the price (in Magento), he is updated in vue-storefront.

The second problem is for the images, when I put the navigator in offline mode, all the pictures disapear and become all white.

I hope anyone can help me

[2019-08-14 14:25] JeremyGfeller commented on #3365
* someone, sorry

[2019-08-14 14:42] pkarw commented on #3365
@JeremyGfeller thanks for contacting us. are you using `mage2vuestorefront` indexer? If so please check if you're properly using the the [delta sync mode](https://github.com/DivanteLtd/mage2vuestorefront#delta-indexer). Please check the https://github.com/DivanteLtd/magento2-vsbridge-indexer as well

@alinadivante can you please check the offline mode pictures? Is it on: `demo`, `next` or `test.st

[2019-08-14 14:43] pkarw commented on #3359
OK, @lukeromanowicz  so I belive it might be related to the last fixes in the `multistore.ts`

[2019-08-15 09:04] JeremyGfeller commented on #3365
Thanks for your answer, yes I use `mage2vuestorefront` I launched this command in the directory of `mage2vuestorefront` :

It means, I have to run every time this command when I create, update, or delete a product or a price or anything else for a product ?
Or there is another way to synchronize everything automatically ?

[2019-08-15 09:07] pkarw commented on #3365
Correct, it should be scheduled in crontab; the other way is to use native indexer (magento2-vsbridge-indexer project)

[2019-08-15 09:10] JeremyGfeller commented on #3365
With the native indexer, it synchronize everything automatically ?

[2019-08-15 09:10] pkarw commented on #3365
that’s  correct

[2019-08-15 09:25] JeremyGfeller commented on #3365
Does it normal, I have to put credential when I want to download to Magento folder ?
![Capture d’écran 2019-08-15 à 11 23 50](https://user-images.githubusercontent.com/36196039/63086004-31c7a580-bf4f-11e9-9e76-ad00079b7164.png)

[2019-08-15 13:28] JeremyGfeller commented on #3365
So I installed your magento2-vsbridge-indexer project but there is nothing update automatically. Do you need something from my configuration and the command i've made in the terminal ?

[2019-08-15 13:28] pkarw opened #3367 "Add `vue-storefront-api` output cache"
## What is the motivation for adding / enhancing this feature?

Vue Storefront does support the tagged output caching. Would be great to add the same feature to the API, to limit the number of ElasticSearch queries - and having the tags to easily invalidate the cache.

Reference PR: https://github.com/DivanteLtd/vue-storefront/pull/1731

## What are the acceptance criteria

- [ ] the `vue-storefro

[2019-08-15 13:50] ThibaultSavary opened #3368 "AsyncDataLoader queue not processed when using store getters"
Hello,

Looks like AsyncDataLoader queue isn't processed when a component get data using getters instead of direct access to store.

Example
Component in modules/prismic/components
[code]
Template in modules/prismic/pages
[code]
beforeRegistration hook
[code]

Is there something I'm not understanding about the usage of the beforeRegistation hook's execut fn or is this a bug ?

[2019-08-15 14:00] pkarw commented on #3368
Hi! I'd reccomend you to try the [serverPrefetch](https://ssr.vuejs.org/api/#serverprefetch) instead of `AsyncDataLoader`

[2019-08-15 14:20] pkarw opened #3369 "Add the i18n support for modules"
## What is the motivation for adding / enhancing this feature?

<img width="161" alt="Bildschirmfoto 2019-08-15 um 15 44 43" src="https://user-images.githubusercontent.com/211899/63101205-d3afb800-bf78-11e9-8875-c6cac355a36e.png">

**Chris (MDM):**

Hey, im working on an module and want to add my own i18n file for translation only in the module. Is it possible and how?
I add this structure directl

[2019-08-15 14:40] pkarw opened #3370 "Limit the number of Elastic queries in the vue-storefront-api per each catalog request"
## What is the motivation for adding / enhancing this feature?

Currently, per each catalog request, we're executing at least 2 Elastic queries:

* getting the products,
* getting the tax rates to calc the taxes.

The rates can be stored in Redis/local memory as they're changing extremely rarely!

Where to start:

* https://github.com/DivanteLtd/vue-storefront-api/blob/d7b6fe516eeb214615f54726fb38

[2019-08-15 15:57] ThibaultSavary commented on #3368
Yeah I'm switching to serverPrefetch, thanks for your anwer.

[2019-08-15 15:57] #3368 closed

[2019-08-16 09:05] cewald opened #3372 "`dynamicConfigReload` should use deep copy for `Object.assign()`"
# Summary
[summary]: #summary

If I use `dynamicConfigReload` to extend existing and nested config values (like in `config.storeViews`) the current `config = Object.assign(config, loadedConfig)` method will overwrite all nested values with the new array. It would be better to use the [deep-copy util](https://github.com/lorenwest/node-config/wiki/Using-Config-Utilities#extenddeepmergeinto-mergefrom

[2019-08-16 09:26] cewald commented on #3372
I opened a PR with my proposal: https://github.com/DivanteLtd/vue-storefront/pull/3373

[2019-08-16 09:30] przspa commented on #3325
@pkarw @patzick problem exists when we start app from "/my-account", ssr try to render MyAccount and client render Home when you logged out.

We have two ways:
1.  moved requiresAuth from https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/user/router/beforeEach.ts to https://github.com/DivanteLtd/vue-storefront/blob/develop/core/pages/MyAccount.js
2. add no-ssr for MyAccount pa

[2019-08-16 13:00] pkarw commented on #3325
Maybe we should have the server side redirect to home page exactly the same as we do have in checkout?

From these two options the second is probably better but I’m not sure how it will work? NoSSR means in the server markup there will be just well ... empty placeholder instead of my account so what will be the clients side behavior when I start the page from my-account url?

[2019-08-16 13:02] pkarw commented on #3372
Hi Christian! Thanks, interesting case and thanks for the time spent on explaining it; you’ve convicted me :)

[2019-08-16 13:34] #3327 closed

[2019-08-16 15:48] #3249 closed

[2019-08-16 16:25] andrzejewsky opened #3375 "Optimize cart/sync actions"
## What is the motivation for adding / enhancing this feature?
Some cart actions cause sending many API requests to do simple actions eg. adding or removing products to/from the cart. Sometimes user can see some part of the UI that have not refreshed yet even though he has triggered some changes or sometimes it takes really long. Would be nice to sort out with that.

## What are the acceptance cri

[2019-08-16 16:28] pkarw commented on #3375
The first thought was to move the whole “cart/sync” plus “cart/merge” to vsapi - and sending out just the json with the current cart and the server cart token and perform the merge server side. It should be optional behavior (to the current one in order to keep the backward compatibility and support some use cases like 1k+ lines orders where sending the whole cart to server just for sync makes a l

[2019-08-19 07:07] pkarw commented on #3359
@lukeromanowicz can you please check it out? I've co-assigned @patzick here as well in case you won't find time for it

[2019-08-19 07:09] pkarw commented on #3263
Re-assigned to @przspa

[2019-08-19 07:11] #3328 closed

[2019-08-19 07:14] pkarw commented on #2514
This is almost done with the data resolvers. @andrzejewsky can you please check if after #3337 we've done it?

[2019-08-19 07:15] przspa commented on #3263
@pkarw I can check this issue after wednesday

[2019-08-19 07:15] pkarw commented on #2636
@przspa I've assigned this issue to you if it won't be a problem?

[2019-08-19 07:17] pkarw commented on #3362
@patzick i'm not sure if this is an issue or just a feature request but it'd be better to double-check it

[2019-08-19 07:19] przspa commented on #3325
@pkarw I can resolve this issue after wednesday.  SSR redirect isn't good idea because user see only home page and can be confused why, but I will check all option for fix it and propose resolve.

[2019-08-19 07:19] pkarw commented on #3325
Perfect! Thanks

[2019-08-19 07:23] patzick commented on #2271
@zimme sorry this was caused by merge into master. I'm reopening it.

[2019-08-19 07:29] przspa commented on #3329
@pkarw I checked this task and I will fix it after wednesday

[2019-08-19 08:54] patzick commented on #2179
Current state: indexer should be upgraded to add available filters for every category. Filters should be fetched from Magento. After that frontend app can be changed to use this config from the category object.

[2019-08-19 08:57] alinadivante commented on #3365
I have the same problem I wrote about here https://github.com/DivanteLtd/vue-storefront/issues/3263#issuecomment-519890661
I see new product added only on Magento front, not in VSF.
@pkarw Maybe something is wrong with fullreindex.sh script or maybe I'm doing something wrong. I need clear instructions for re-index and re-import processes.

[2019-08-19 09:55] omercan opened #3379 "Unable to download the requested image - 400"
# Is there something you don't understand? What is it? Describe it.

Hello, I'm having trouble to display product images on VSF. My first products image can be seen but after second migration image requests failed:

`{
code: 400,
result: "Unable to download the requested image http://localhost:8888/magento/pub/media/catalog/product/1/0/10501-02734-os_01.jpg.sthumbnails.1000.1250-600x750.jpg"
}`

W

[2019-08-19 10:58] pkarw commented on #3379
If you're using docker to run all the containers make sure your `vue-storefront-api` container has the access to `localhost:8888` - I mean if the network is bridged otherwise it's trying to get the image from API cotnainer - 8888 port where it's probably not available

[2019-08-19 11:00] #3246 closed

[2019-08-19 16:40] omercan commented on #3379
@pkarw thank you but I'm sure it's like that.

[2019-08-19 16:50] omercan opened #3383 "Invalid / inaccessible index name given in the URL on deploying"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [ ] I checked to make sure that this issue has not already been filed

## Keep the problem description concise and include:

I deployed the VSF and VSF-API with the documentation. https://docs.vuestorefront.io

[2019-08-19 17:16] pkarw commented on #3383
It’s 99% that you’ve got different index names in the vs / vsapi config (config/local.json). Check the elasticsearch.indices section - you need to have your index whitelisted in the api. Please check the src code at the position noted in the exception on details how it works: it simply checks if the index name (provided by the frontend app as a query parameter) fits the api config

By the way - pl

[2019-08-19 17:16] #3383 closed

[2019-08-19 17:17] pkarw commented on #3379
It’s very hard for us to help you in this particular case; it’s seemingly not an VS core issue

[2019-08-19 17:19] pkarw commented on #3379
Maybe please add some debugging code like trying to retrieve the url and save it locally (I mean modifying the img.js endpoint) there must be some reason for api not being able to download the file

[2019-08-19 17:19] #3379 closed

[2019-08-19 17:19] #3372 closed

[2019-08-19 17:22] pkarw commented on #3362
Related: #709

[2019-08-20 02:22] grimasod opened #3385 "Invalid Discount code handling error"
## Current behavior

An invalid Discount code results in an error notification emitted from the task handler, with the error message coming from the API / Backend. The error is not returned to the calling function, so there is not opportunity to handle it in the theme. The default theme has code for handling this situation, but it never runs.

## Expected behavior

This should be handled by the th

[2019-08-20 06:25] alinadivante commented on #2814
checked on https://test.storefrontcloud.io/ environment - Email has successfully been sent 👌

[2019-08-20 08:48] pkarw opened #3387 "Add product related hooks"
## What is the motivation for adding/enhancing this feature?

It would be great to add an elegant set of hooks related to the products to make the 3rd party integrations (like hotjar, GTM, analytics) easier.

Take a look at how guys are [doing GTM integration right now](https://github.com/DivanteLtd/vue-storefront/blob/master/src/modules/google-tag-manager/hooks/afterRegistration.ts). It requires

[2019-08-20 08:49] pkarw commented on #3205
@filrak is there a list of already implemented hooks? I'm not sure if we already have cart hooks, I als ocreated a product hooks ticket

[2019-08-20 08:49] pkarw commented on #3387
Related: #3205

[2019-08-20 08:51] pkarw commented on #3387
Related: #3217

[2019-08-20 08:54] pkarw opened #3388 "Add cart related hooks"
## What is the motivation for adding / enhancing this feature?

To implement the missing hooks - accordingly to #3205

- `afterCartLoaded(cartItems): mutator`,
- `beforeCartSynced(clientItems): mutator` - called in the `cart/sync`
- `beforeCartMerged(serverItems, clientItems): mutator` - called in the `cart/merge`
- `afterCartUpdated(cartItems): listener` - example use cases:

1. To inform the use

[2019-08-20 08:56] pkarw commented on #3387
@filrak if you won't find a time to implement this feature then @andrzejewsky please take care of it - we've got a deadline set for 19 th of September (the release date of 1.11-rc1)

[2019-08-20 08:58] pkarw opened #3389 "Add general purpose hooks"
## What is the motivation for adding / enhancing this feature?

- `afterAppInit: listener` - after modules and theme are registered
- `beforeStoreViewChange(storeView): mutator `- you can access/modify storeView object before changing
- `afterStoreViewChange(storeView): mutator`- you can access storeView object after changing storeView
- `beforePlaceOrder(order): mutator` - you can access/modify o

[2019-08-20 08:59] pkarw commented on #3389
Please mark @kkdg in PR; Degi please create a special page in the docs maybe just for hooks to have them all well listed? It will make a module development a way easier to have this reference in one oplace

[2019-08-20 09:27] alinadivante commented on #3337
I have to reject this issue, because, as I mentioned in PR #3378 I have problem with displaying prices in offline mode.

[2019-08-20 09:31] pkarw opened #3390 "Improve the cart product.product_option format"
## What is the motivation for adding / enhancing this feature?

We're using the `product.product_option` to provide the backend with the selected product options. [Here you have the code which is setting the options right now](https://github.com/DivanteLtd/vue-storefront/blob/de74711537ccd0f4a70d46ba2e61f6d8e2345a13/core/modules/catalog/helpers/index.ts#L343).

Let's simplify it from:

[code]

TO

[2019-08-20 09:33] pkarw commented on #3390
In order to have it still compatible with Magento2 we need to change the new format to old one just before calling the `vue-storefront-api` endpoint OR change the `vue-storefront-api` endpoint input format and map the format inside the [cart/update](https://github.com/DivanteLtd/vue-storefront-api/blob/d7b6fe516eeb214615f54726fb382e72ff2cc34b/src/platform/magento2/cart.js#L15).

**Please note**: c

[2019-08-20 09:35] pkarw commented on #3390
ps. there is also an `product.options` property which is presenting the options as [they appear to the user](https://github.com/DivanteLtd/vue-storefront/blob/de74711537ccd0f4a70d46ba2e61f6d8e2345a13/core/modules/catalog/helpers/index.ts#L408). Not sure about the naming :/

[2019-08-20 09:35] pkarw commented on #3390
Related to #3321

[2019-08-20 09:58] filrak commented on #3387
The order-related ones are already implemented

[2019-08-20 10:01] pkarw opened #3391 "Elastic request aggregation"
## What is the motivation for adding / enhancing this feature?

By each product or category page request we're currently executing at least few requests for Elastic data:

* get product,
* get related,
* get reviews,
* get attributes

How about merging them all into a single request? It could be very easily done at the `syncData` method level.

I mean if we take all the requests directed to Elasti

[2019-08-20 10:02] pkarw commented on #3391
Related to #2167

[2019-08-20 10:11] filrak commented on #3387
Also what would be a use case to modify the product? Can't we do this just by modifying the searchQuery?

[2019-08-20 10:33] pkarw commented on #3337
@alinadivante are you using the newest API (test.storefrontcloud.io/api or local copy)?

[2019-08-20 11:25] alinadivante commented on #3337
@pkarw You are right. Today I changed endpoints in my config and I used demo.storefrontcloud.io
Using test.storefrontcloud.io/api endpoints then problem does not occur.

[2019-08-20 12:12] alinadivante opened #3392 "On the wishlist, in the case of discounted products, the price original is not crossed out"
## Current behavior
On the wishlist, in the case of discounted products, the price original is not crossed out

![image (1)](https://user-images.githubusercontent.com/47415585/63346596-9d49b280-c355-11e9-973c-cab3b4048bb0.png)

## Expected behavior
The price original should be crossed out.

## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io
2. Add discounted product to Wishli

[2019-08-20 12:13] Roywcm commented on #3379
I have exactly the same problem. Looks like docker is restricting access to my localhost. I know it's not VSF related, but how to give docker access?

[2019-08-20 12:14] alinadivante opened #3393 "'Close' icon in the login popup is located in the wrong place."
## Current behavior
'Close' icon in the login popup is located in the upper **left** corner.

![image (1)](https://user-images.githubusercontent.com/47415585/63346488-607dbb80-c355-11e9-8e23-5b916760e6c3.png)

## Expected behavior
'Close' icon should be located in the upper **right** corner.

## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io
2. Press My account icon

## Repo

[2019-08-20 12:26] Roywcm commented on #3379
Allright, figured it out sooner as expected. I added extra_hosts to my docker-compose.nodejs.yml

[2019-08-20 13:57] patzick commented on #3385
QA - this should be tested on hotfix/v1.10.1 branch, or next, when its deployed. Steps to reproduce above.

[2019-08-20 13:57] #3385 closed

[2019-08-20 14:20] patzick commented on #3286
Great job @cewald, thanks for your input! :)

[2019-08-20 14:20] #3286 closed

[2019-08-20 14:23] patzick commented on #3332
@cewald nice catch! my bad, thanks!
Just for sharing knowledge - Object.assign works good, but it needs to be assigned into new object:
[code]

[2019-08-20 14:23] #3332 closed

[2019-08-20 17:03] andrzejewsky commented on #2167
@pkarw yeah, sure 🎉

[2019-08-21 05:14] #3341 closed

[2019-08-21 05:28] pkarw commented on #3365
@alinadivante please contact me today regarding this one

[2019-08-21 07:01] cewald commented on #3359
It seems to be caused by `vue-storefront/core/modules/url/helpers/index.ts` – but only in multistore mode.

The variable `fullPath` is then regardless concatenated to itself.

I solved it by using the `removeStoreCodeFromRoute` method like:
[code]

[2019-08-21 08:31] cewald opened #3396 "404 and infinite redirect on category pages in multistore mode"
## Current behavior

If I got to a category page in a non-default store like `http://www.test.de/de/boys.html` the page will return a 404 (in multistore mode). But it will work in the default store without store-code in url like `http://www.test.de/de/boys.html`.

I first tracked it down to the changes for the new 404 page from #3296 & #3243, when the `beforeEachGuard` in [`core/modules/url/router

[2019-08-21 09:23] #3110 closed

[2019-08-21 09:23] #3109 closed

[2019-08-21 09:23] #3111 closed

[2019-08-21 09:30] filrak commented on #3388
All of them seems like a good choice for hooks ;)

[2019-08-21 09:41] filrak commented on #3393
wasn't @andrzejewsky fixing this?

[2019-08-21 10:39] pkarw commented on #1620
Fixed with #3261

[2019-08-21 10:39] #1620 closed

[2019-08-21 10:58] andrzejewsky commented on #3393
no 😄, but it looks so simple, I can do fix it in my other tasks as additional thing

[2019-08-21 13:34] rain2o opened #3399 "Optional defaultStoreCode in url for multistore"
## What is the motivation for adding / enhancing this feature?
It would be very useful if there could be a configuration option to have VSF keep the store code/url key of the default store in the URL. At the moment the defaultStoreCode is not included in the url and it just loads the store without it. However, in some multistore situations it makes more sense to have the storecode/url key always i

[2019-08-21 18:52] cewald commented on #3396
I did some more research, and if I see it right, it always matches the `*` route of `page-not-found` for dynamic routes (`routeData`) results in `beforeEachGuard`.

For example:  if there is a category found it will return the correct `routeData` like `{ name: 'category', params: … }` but also returns just one item in its `matches` array which is `page-not-found` because of the `/*` path. Does thi

[2019-08-21 19:32] pkarw commented on #3396
@cewald it might be as you wrote - vue.js executes the guards chain by each `addRoutes()` call, moreover there could be a multimatch (first the right route then `*` - maybe there is a way to prevent it) @lukeromanowicz it's been seemingly introduced by the #3243

[2019-08-21 19:47] ResuBaka commented on #3396
Then I can maybe give some infos on where the error could come from.

I have found today that in [here](https://github.com/DivanteLtd/vue-storefront/blob/b6d713725030b0b9c6e489cc447a8e7ba28368af/core/server-entry.ts#L66) the  `router.onReady(() => {` is called now later than in 1.9 I have not tested it in 1.10.
So that router guards are called before `router.onReady`  this could be the problem in

[2019-08-21 20:51] pkarw commented on #3370
closed becuase #3367 solves this issue as well

[2019-08-22 05:30] cewald commented on #3396
@ResuBaka I tested your code on `1.11.0-rc.1` and it didn't resolve the problem. As far as I understand the storeView is prepared correctly when the `mappingFallback` and `mapUrl` is called. The results of it are right, except of the matched route, which is always `page-not-found` with `*`, which is actually correct. But shouldn't it also match the fallback routes?

[2019-08-22 05:49] ResuBaka commented on #3396
So you have a fallback URL in your routes?

One other problem could be that now all router guards from modules are fired before the theme routes are registered could that be the problem you have? @cewald

[2019-08-22 06:15] cewald commented on #3396
@ResuBaka Yes a fallback is been returned. E.g.: If I went to `http://localhost:3000/de/women/tops-women/jackets-women/jackets-23`, I get the following `routeData` from `mapUrl`/`mappingFallback` dispatch:
[code]
I'm currently testing in a plain VSF installation of latest develop branch where I enabled the multistore mode.

[2019-08-22 11:09] #3367 closed

[2019-08-22 13:36] lukeromanowicz opened #3406 "Theme upgrade CLI tool"
## What is the motivation for adding/enhancing this feature?
When updating VueStorefront we also have to update the theme. Due to copying the whole default theme and modifying it, we usually have to manually track down all the changes even in components that were not modified. We need a tool that will do it automatically. We will solve it with the fallback mechanism in 2.0 but a walkaround for now

[2019-08-23 06:31] pkarw commented on #3406
Hi @lukeromanowicz this idea is really cool; however, I don't see a chance to have it before 19 of September (release date of 1.11); switching the milestone to 2.0rc1

[2019-08-23 06:33] pkarw commented on #3131
This is the task about UI or Vuex? If Vuex then consider it done (in 1.110

[2019-08-23 06:34] #2924 closed

[2019-08-23 06:36] pkarw commented on #2854
@phoenixdev-kl this is a pretty good idea, why not to implement it to 2.0?

[2019-08-23 06:36] pkarw commented on #2837
This will be done with #3337

[2019-08-23 06:39] #2075 closed

[2019-08-23 06:39] #1899 closed

[2019-08-23 06:39] #1769 closed

[2019-08-23 07:27] cewald commented on #3396
@pkarw @ lukeromanowicz What could be good solution?

Would it be convenient to create a state value like `lastRouteMatch` to evaluate if the current `beforeEachGuard.to` value isn't the same as the last to prevent this infinite match loop?

Or maybe it's somehow possible to rearrange the routes that the `*`/`page-not-found` route is always the last one as suggested normally.

[2019-08-23 10:10] cewald commented on #3396
I've tested the first approach where I added an extra state value which is set in `beforeEachGuard` and it seems to work. But I'm not really sure if this is a good practice.
See it in detail here: https://github.com/DivanteLtd/vue-storefront/compare/DivanteLtd:develop...icmaa:bugfix/3396-wrong-404-redirect

[2019-08-23 10:38] #3393 closed

[2019-08-23 10:39] #3392 closed

[2019-08-23 11:27] alinadivante commented on #3393
@przspa just like we talked, please move `X` to the line

[2019-08-23 12:10] alinadivante commented on #3385
Ok, have  `You've entered an incorrect coupon code. Please try again.` message on hotfix/v1.10.1 branch

[2019-08-23 13:02] pkarw commented on #3172
@cewald @alinadivante can we close this one after #3286 was already solved?

[2019-08-23 13:05] cewald commented on #3172
@pkarw Yes, it's solved.

[2019-08-23 13:06] #3172 closed

[2019-08-24 08:51] manojibcarockers commented on #1196
Reset server config file like apache2 -> 000-default.conf
After restart the server to solve the issue.

[2019-08-24 11:53] AshishSuhane opened #3415 "Unnecessary check for `cartItem.quoteId` in _serverDeleteItem method"
## Current behavior

There is a check for `cartItem.quoteId` in _serverDeleteItem method on `core/modules/cart/store/action.ts` file.
[code]

Here `if condition` is not making any sense as we are initializing it on both conditions i.e if  `quoteId` is empty we are initializing it with cartServerToken, and if it is there then also we are overriding it with the same value. If we remove that if condi

[2019-08-24 19:05] Fifciu opened #3418 "currentStoreView is bugged inside URL Mapping extend function"
## Current behavior
Inside the URL Mapping function `currentStoreView` returns bad store code. I am on /eu/ storeView and it says I am on default one "/". What's interesting, `removeStoreCodeFromRoute` function works properly.

In 1.9 version `currentStoreView` worked properly in that place.

## Expected behavior
`currentStoreView` works properly in URL Mapping extend function in 1.10 as it worked

[2019-08-25 13:39] kkdg commented on #3389
@pkarw Sure thing, noted, and module cookbook already has a single recipe dedicated to hooks. Let me arrange them and lay them out as efficient as possible once they are ready.

[2019-08-25 18:18] pkarw commented on #3418
@lukeromanowicz can you take a look at this one please?

[2019-08-25 18:27] pkarw commented on #3415
Yeah, thanks for pointing this out :)

[2019-08-25 19:11] pkarw commented on #3418
Filip please just check if this is not related to https://github.com/DivanteLtd/vue-storefront/commit/4cbdc4179d95360cb5b613d3a12ddcbaf633bbe6#diff-53eb0dcbb2c62c8af0204c3f9aaf84fc and [further changes](https://github.com/DivanteLtd/vue-storefront/blob/master/core/lib/multistore.ts) that might require you to do some config changes in the config.storeViews section

[2019-08-25 19:17] pkarw commented on #3418
@lukeromanowicz if this is an unexpected behavior caused by this new feature implements it means we need a upgrade notes or some backward compatible defaults badly :-)

[2019-08-25 19:54] ResuBaka commented on #3418
I can test this tomorrow too.

It would be create to have the storeViews config your are using.

And an other thing could be that you could try your config in the Unit test to check if they would work with your config? @Fifciu

Link to the tests [master](https://github.com/DivanteLtd/vue-storefront/blob/master/core/lib/test/unit/multistore.spec.ts).

[2019-08-25 20:56] lukeromanowicz commented on #3396
@cewald your fix seems to be a fine workaround but it definitely should not be considered as the final solution. Instead of finding and eliminating the root cause, we're only limiting the symptoms. Did you have any luck with finding why de-page-not-found is being dispatched over and over?

[2019-08-25 21:22] Fifciu commented on #3418
I have set `appendStoreCode` to true in each storeview.
What's interesting, `storeCodeFromRoute` and `removeStoreCodeFromRoute` works properly. Only `currentStoreView` is bugged.

### Example console logs
[code]

### Part of my multistore config - with hidden URIs
[code]

[2019-08-26 05:15] cewald commented on #3396
@lukeromanowicz Yes, the second part is definitely just a workaround.

I guess the problem is that the `page-not-found` route is always matched before the custom dynamic routes, because the custom routes are added always to the end of the routes array via [`router.addRoutes`](https://router.vuejs.org/api/#router-addroutes). But I didn't found a way to change this order. Nevertheless, it is working

[2019-08-26 06:00] ResuBaka commented on #3418
My local config which I have used to test this https://pastebin.com/raw/G4pUk12m.

The change I have made to have working products https://www.diffchecker.com/kxtB3fUa.
This change is probably only needed because you have the product slug in the url_path in elasticsearch.

I have tested this in the eu storeView and there the eu prefix was on product URLs and category URLs.

Can you try your config

[2019-08-26 06:04] patzick commented on #2544
Thanks, @obsceniczny! Ready for QA tests :)

[2019-08-26 06:04] #2544 closed

[2019-08-26 06:06] ResuBaka commented on #3418
One thing that I now see it the `productsPrefix` where and how are you using that. Maybe the problem has something to do with that?
@Fifciu

[2019-08-26 08:11] Fifciu commented on #3418
So `currentStoreView` works properly for you inside forProduct and forCategory?

It is custom parameter. There I define custom prefix which is appended for each product based on storeView. Source of the problem was - I couldn't identify storeCode with currentStoreView as I did in 1.9. I think it isn't problematic. I added custom parameters to config many times in different places.

[2019-08-26 13:22] ResuBaka commented on #3418
For it me it works like it should. I have no problem with storeCodes.

All product URLs and category URLs are working fine.

[2019-08-26 20:51] pkarw commented on #3396
Unfortunately there is probably no way to re-order the routes other than messing with Vue.router internals which is probably not something we’d like to do :)

Maybe there is a way to just move the place where ‘*’ is being added to after modules and themes registration (in app.ts) - as modules and themes are adding the routes in their registration sequence

Not really sure about this as the urlDisp

[2019-08-27 08:44] cewald commented on #3396
@pkarw I tried your approach like: https://github.com/DivanteLtd/vue-storefront/compare/DivanteLtd:develop...icmaa:bugfix/3396-wrong-404-redirect
I added a dynamic 404-dispatcher for the current url if the path is not mappable. It weirdly kind of leads to a similar problem. The page will be now loaded correctly if found, but if not it shows the 404-page for a second and then disappears, leaving be

[2019-08-27 08:50] ResuBaka commented on #3396
The PR that @lukeromanowicz has opened works for the and him. So it looks like it is fixed, I am only going to check the PR if it is all still working when you use host based storeViews and not storeCode based ones.

Could you test if that branch fixes it for you too? @cewald

[2019-08-27 08:57] przspa commented on #3263
@pkarw #3264 this PR isn't right because we have map for it https://github.com/DivanteLtd/vue-storefront/blob/be5d5faddf844ee7e731dc9adb206709bf288b3d/core/modules/catalog/helpers/index.ts#L540 I fix it 👍

[2019-08-27 09:01] cewald commented on #3396
I tried it. It seems to work – but if I go to a page which leads to a 404-page, the 404-page shortly appears in the browser and then disappears again and left behind an empty content section – or, on a plain installation, the 404-page also disappears for a second and is back again after half a second (like flickering). @ResuBaka Can you relate to this flickering?

[2019-08-27 09:51] lukeromanowicz commented on #3396
I believe that my fix is working correctly on 201e470896e91cd348f21d8cfc2474bf128d2d62. Later the latest develop was merged and caused some new issues. I'm tracking down the root of it but its not directly related. I have a confirmation from @cewald and @alinadivante that before merging latest develop it was working fine.

[2019-08-27 09:54] Cool-and-Deadly commented on #1965
Is the Sylius integration still planned?

[2019-08-27 11:04] alinadivante opened #3435 "HTTP ERROR undefined while browsing sub/category pages."
## Relates to:
#3298

## Current behavior
502 errors in dev console.

In the following configuration, where:
`filterUnavailableVariants` = `true`
`configurableChildrenStockPrefetchStatic` = `false`
`configurableChildrenStockPrefetchDynamic` = `false`

`HTTP ERROR undefined` appears when browsing different pages.

![image](https://user-images.githubusercontent.com/36628922/63766307-2e2b0b80-c8cb-11

[2019-08-27 11:16] alinadivante opened #3436 "Photo of the unavailable variant is displayed."
## Relates to:
#3298

## Current behavior

In the following configuration, where:
`filterUnavailableVariants` = `true`
`configurableChildrenStockPrefetchStatic` = `true`
`configurableChildrenStockPrefetchDynamic` = `true`

when I open a product with an unavailable option directly via the URL - then it's OK → unavailable variant is removed from the list. **BUT** when I open this product (with the u

[2019-08-27 15:00] ArturDivante opened #3437 "Doubled SKU row in compare tab"
## Current behavior
SKU table row is doubled for all products

![doubleSKU](https://user-images.githubusercontent.com/47415585/63782343-8d991380-c8eb-11e9-8754-5937aa63608b.png)

## Expected behavior
SKU row should only be displayed once.

## Steps to reproduce the issue
1. Open test.storefrontcloud.io
2. Open any category page
3. From category page view, add any product to compare list
4. Open co

[2019-08-27 18:46] #3363 closed

[2019-08-27 19:02] patzick commented on #3415
Thanks! :)

[2019-08-27 19:02] #3415 closed

[2019-08-27 19:07] patzick commented on #3329
Thanks @manvendra-singh1506 !

[2019-08-27 19:07] #3329 closed

[2019-08-27 19:29] pkarw commented on #3437
@przspa can you please just take a look at this one?

[2019-08-27 19:48] pkarw commented on #3396
Great job! I really liked the teamwork spirit shown by this issue. So, cool! :)

[2019-08-28 12:15] zimme commented on #3144
@filrak I've been converting https://github.com/kodbruket/vsf-storyblok-sync to the new module api and it's nice.

However I can't really use the `router` the api provides. I need to import the `RouterManager` and add routes using that so that the routes are mapped in multi store mode etc.

It's fine, but I just thought I'd mention it so it could be added to the docs.

[2019-08-28 13:11] michaelKurowski opened #3440 "Build of VSF fails for some people due to lack of dependencies in the container"
## Current behavior
VSF fails during yarn install for some people due to lack of python2, g++ and make.
The task falls on node-sass, due to the fact that it uses node-gyp underneath in order to compile some packages.

## Expected behavior
yarn install should pass in the container

## Steps to reproduce the issue
The issue is nondeterministic and affects only some people. It always happens during y

[2019-08-28 21:13] pkarw commented on #3440
Good point! Can you prepare a PR with a fix please?

[2019-08-29 02:52] grimasod opened #3442 "Router beforeEach hooks run many times on page reload"
## Current behavior

On a page reload, all the registered beforeEach hooks run many times.

This is because the router calls the hooks when any routes are added to it. Localized multi-store routes are added one store at a time and dynamic routes are also added one at a time, causing the hooks to run each time. With several stores and many pre-loaded dynamic routes (eg many Categories), this can re

[2019-08-29 10:01] JeremyGfeller commented on #3365
I always have the problem guys. I installed magento2-vsbridge-indexer but nothing synchronize automatically

[2019-08-29 10:14] #3263 closed

[2019-08-29 10:39] ResuBaka opened #3445 "Translation in data function are broken in SSR"
## Current behavior
When you have something like below. The rendert links are all in the default language or are not translated that I can't 100% say what happens here of these two cases.
[code]

This problem does only only happen when your load the page over SSR when you are in CSR it all works like one would expect.

This problem does only happen in production mode. In development mode (yarn dev

[2019-08-29 19:39] pkarw commented on #3445
Hi @ResuBaka. Are you using `serverPrefetch` in these components? I mean when using the SSR the`old way with `asyncData` I’m not sure on when the component tree is being created; it’s possible it’s been created before the translations has been loaded/registered - kind of race condition. This is where I’d start checking this issue at least :P

[2019-08-30 06:21] #3396 closed

[2019-08-30 09:05] #3388 closed

[2019-08-30 09:58] #3325 closed

[2019-08-30 11:20] patzick commented on #3437
thanks @manvendra-singh1506! :)

[2019-08-30 11:20] #3437 closed

[2019-08-30 13:31] #3389 closed

[2019-08-30 14:14] indiebytes opened #3451 "" is out of the stock" should be " is out of stock""
## Current behavior

Checkout.vue contains a translated text reading   _is out of the stock_...

## Expected behavior

... but I think it should read _is out of stock_.

## Steps to reproduce the issue

## Repository

https://github.com/DivanteLtd/vue-storefront/blob/develop/src/themes/default/pages/Checkout.vue#L66

## Can you handle fixing this bug by yourself?

- [X] YES
- [ ] NO

## Which [Rel

[2019-08-31 13:49] pkarw commented on #2985
Reopening, details: https://forum.vuestorefront.io/t/issue-clear-local-storage-after-deployment/589?u=pkarw

[2019-08-31 13:51] pkarw commented on #2985
We probably need to add a feature - kind of kill switch which is clearing out the localStorage; not sure how it should work; maybe - setting a localStorage hash with the current build number or hash - then in VS startup (app.ts) let’s check if it changed - if so: let’s programmatically clear the storage

[2019-08-31 13:56] pkarw commented on #2636
@przspa i just wanted to check the status?;)

[2019-08-31 13:57] #2514 closed

[2019-08-31 13:59] #3337 closed

[2019-08-31 14:00] pkarw commented on #3418
@Fifciu @ResuBaka im not sure if I can close this issue?

[2019-08-31 14:07] pkarw commented on #2478
@filrak is this one still valid?

[2019-08-31 15:21] ResuBaka commented on #3418
I had no problem with URLs when I have tested so for me there is no error.

I could only think that the problem comes from some custom code they have added because 1.10 has worked for like it should have.

[2019-08-31 18:16] Fifciu commented on #3418
Okay, we can close it

[2019-08-31 18:16] #3418 closed

[2019-09-01 20:06] patzick commented on #3451
Thanks:)

[2019-09-01 20:06] #3451 closed

[2019-09-02 06:06] lukeromanowicz opened #3453 "Unable to place order"
## Current behavior

Clicking place order on latest develop results with an error in console:
[code]
The order does not get placed.

![image](https://user-images.githubusercontent.com/46789227/64093897-4337ec80-cd5a-11e9-8d37-8536678cccaa.png)

## Expected behavior

You can place an order by hitting place order button on checkout

## Steps to reproduce the issue

1. add something to cart
2. try to

[2019-09-02 08:05] przspa commented on #2636
@pkarw for me

is worked, I can't replicate these issues or not know how it's should work @alinadivante can you check it or tell me more about these issues

[2019-09-02 13:50] pkarw opened #3454 "Optimize the `RouterManager.addRoutes`"
## What is the motivation for adding / enhancing this feature?

Related to: #3443

The goal: to reduce the number of times the router beforeEach hooks are run

1. @grimasod to optimize this route registration, going down to one and only `router.addRoutes` call I belive we need just to implement a `RouterManager.routeQueue[]` where `RouteManager.addRoutes` Has new optional argument `useRouteQueue=F

[2019-09-02 13:51] #3442 closed

[2019-09-03 06:36] adityasharma7 opened #3456 "VSF should be flexible to support id values to be numeric as well as alphanumeric"
## What is the motivation for adding / enhancing this feature?
We have all the id values of product, category, attribute etc defined as numeric type.
https://github.com/DivanteLtd/vue-storefront/blob/master/core/modules/catalog/types/Product.ts
https://github.com/DivanteLtd/vue-storefront-api/blob/master/config/elastic.schema.product.json
https://github.com/DivanteLtd/vue-storefront-integration-bo

[2019-09-03 07:44] pkarw commented on #3456
Hey! yeah, it makes sense; in the core, we're never casting these data to `numeric` but rather comparing the values always as strings so it's definitely what we aimed at (to let ppl. use the string ids); Please prepare the PR but also make sure it's still backward compatible

[2019-09-03 07:59] pkarw commented on #3211
Where to start: https://github.com/DivanteLtd/vue-storefront/blob/59519f3e1f03107aafff6fc0f001f424a8a00353/core/lib/sync/task.ts#L6

The user and password should be probably embedded within the URL - e.g: `config.cart.create_endpoint=https://user:password@domain.com` or `config.api.url=https://user:password@domain.com`.

The problem is that these endpoints are being executed CSR - in that case we

[2019-09-03 08:00] pkarw commented on #3211
@lukeromanowicz please decide the way we should have it

[2019-09-03 08:07] pkarw commented on #2861
All the endpoints should be just provided with `_ssr` option.

example:

[code]

Please make sure the following areas are updated:
- `vue-storefront-api` project,
- `core/scripts/installer.js`
- `quickSearchByQuery` - basically the search adapters in the `vue-storefront`,
- `sync/task.ts`

Then double-check if all the endpoints specified in the config were supported:

[code]

[2019-09-03 08:10] pkarw commented on #2182
These middlewares should be available to disable/enable via `config.server.enableOutputCompression`, `config.server.enableOutputMinify` ...

We can also consider the Webpack plugin for static files (CSS) minimization

Please make sure this mechanism is supporting Output caching

[2019-09-03 08:11] pkarw commented on #3168
It should work without any problems; can you please check it and propose a PR if necessary?

[2019-09-03 08:19] #2364 closed

[2019-09-03 08:21] #2131 closed

[2019-09-03 08:24] pkarw commented on #1707
The URL format should be like: `m/manufacturer-name`; if possible we should use the `theme/default/pages/Category.vue` just passing an additional parameter to it via routing

[2019-09-03 08:24] pkarw commented on #1707
The base module for this is `catalog-next` available in the `develop` branch. @patzick to ask in case of any questions

[2019-09-03 08:26] pkarw commented on #1707
We should use `manufacturer` field in Elastic to filter the products; probably we need to change the data format for `manufacturer` to `keyword` [in the Elastic schema](https://github.com/DivanteLtd/vue-storefront-api/blob/master/config/elastic.schema.product.json)

[2019-09-03 08:31] pkarw opened #3457 "Add unit tests for `core/modules/breadcrumbs`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:33] adityasharma7 commented on #3456
Thanks @pkarw for looking into it!
We will definitely ensure the backward compatibility.

[2019-09-03 08:33] pkarw opened #3458 "Add unit tests for `core/modules/catalog-next`"
## What is the motivation for adding/enhancing this feature?
Add unit tests for the module. Reference/example:

* https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
* https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
* [ ] all the actions should be tested
*

[2019-09-03 08:34] pkarw opened #3459 "Add unit tests for `core/modules/catalog`"
## What is the motivation for adding/enhancing this feature?
Add unit tests for the module. Reference/example:

* https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
* https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
* [ ] all the actions should be tested
*

[2019-09-03 08:34] pkarw opened #3460 "Add unit tests for `core/modules/checkout`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:35] pkarw opened #3461 "Add unit tests for `core/modules/cms`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:35] pkarw opened #3462 "Add unit tests for `core/modules/compare`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:36] pkarw opened #3463 "Add unit tests for `core/modules/mailer`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:36] pkarw opened #3464 "Add unit tests for `core/modules/newsletter`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:36] pkarw opened #3465 "Add unit tests for `core/modules/notification`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:37] pkarw opened #3466 "Add unit tests for `core/modules/order`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:37] pkarw opened #3467 "Add unit tests for `core/modules/recently-viewed`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:37] pkarw opened #3468 "Add unit tests for `core/modules/review`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:38] pkarw opened #3469 "Add unit tests for `core/modules/url`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:38] pkarw opened #3470 "Add unit tests for `core/modules/user`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 08:39] pkarw opened #3471 "Add unit tests for `core/modules/wishlist`"
## What is the motivation for adding/enhancing this feature?

Add unit tests for the module. Reference/example:
- https://github.com/DivanteLtd/vue-storefront/tree/develop/core/modules/catalog-next/test/unit
- https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/test/unit/formatCategoryLink.spec.ts

## What are the acceptance criteria
- [ ] all the actions should be tested
-

[2019-09-03 09:34] David-Dorr commented on #3471
This will be a good place to start for me

[2019-09-03 11:47] pkarw commented on #1692
@janmyszkier did a great job that can be continued in here:
- mage2vuestorefront: https://github.com/DivanteLtd/mage2vuestorefront/compare/master...janmyszkier:master
- vue-storefront-api: https://github.com/DivanteLtd/vue-storefront-api/compare/master...janmyszkier:jan/es6

[2019-09-03 15:14] janmyszkier commented on #1692
the current TODO is my opinion is as follows:

**Rely on config to decide which format to use**
since it is still Proof of Concept none of my repos rely on configs, but should rely on `apiVersion` value
`mage2vuestrorefront`: https://github.com/janmyszkier/mage2vuestorefront/blob/master/src/config.js#L57
`vue-storefront-api`: https://github.com/DivanteLtd/vue-storefront-api/blob/master/config/defa

[2019-09-03 15:37] lukeromanowicz commented on #3459
@pkarw not sure if there is much point in writing tests for the old catalog. It's a legacy module anyway.

[2019-09-03 15:39] lukeromanowicz commented on #3211
@pkarw credentials for basic auth can be visible for the user because the whole idea is to set the same credentials for SSR and API. connecting via user:password@domain sounds good to me.

[2019-09-03 19:02] pkarw commented on #3459
It’s still being used by Product.vue page and nothing shows it’s going to disappear in foreseeable future :)

[2019-09-03 22:04] vue-kacper opened #3474 "Unexpected null in search input"
## Current behavior
The search input is bound to "null" value in particular edge case.

## Expected behavior
Search input should not be bound to "null" value

## Steps to reproduce the issue

- Visit https://demo.storefrontcloud.io
- Clear site data (Application tab in chrome dev tools)
- Refresh page
- Open search sidebar
- Click on white space to take out focus from the search input
- Close sear

[2019-09-04 07:28] patzick opened #3475 "Add before-push hook to check unit tests"
## What is the motivation for adding / enhancing this feature?

Continuation of #3444  with running tests:unit on pre-push stage

## What are the acceptance criteria

- [ ] push needs to run tests:unit

## Can you complete this feature request by yourself?

- [ ] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for dev

[2019-09-04 09:54] defudef opened #3476 "Integrate conventional commits with commitlint"
## What is the motivation for adding / enhancing this feature?
When I checked commits, everyone writes them in a different way.
Conventional commits help keep them simple, short and in the same format. This convention speed up understands what kind of changes have been done.
To validate commit messages I suggest using Git pre-commit hook.

Conventional commits spec: https://www.conventionalcommits

[2019-09-04 09:57] lukeromanowicz commented on #3476
Great idea :+1:

@filrak @patzick @pkarw  What do you guys think?

[2019-09-04 10:00] pkarw commented on #3476
I like the idea 👍

[2019-09-04 11:54] pkarw commented on #3445
Changed to `question` as it's not related to the core probably (?) or is it?

[2019-09-04 11:56] pkarw commented on #3440
I'm not a fan of adding g++ and python to package.json requirements as it can open some potential security holes in case of production deployments using our docker files. maybe we should just put a note on that to our docs - FAQ section?

[2019-09-04 11:58] pkarw commented on #3440
@kkdg can you please take care of it - adding a note on this to FAQ?

[2019-09-04 12:08] kkdg commented on #3440
@pkarw Sure thing, Let me dig it further and update the docs accordingly. Thanks!

[2019-09-04 12:17] ResuBaka commented on #3445
I think that this can be closed it looks like it is a problem as we use `v-runtime-template` and when I try the same problem on like home.vue it works in the theme. So I am going to close this as it looks like not a problem auf VSF.

[2019-09-04 12:17] #3445 closed

[2019-09-04 12:19] alinadivante opened #3478 "After changing the store, the products added to the cart are moved."
## Current behavior
When I add products to the cart as a guest at the US store, and then change the store to (e.g.) DE, the products are automatically transferred. Thus, I can have products available in various stores in my basket and place such an order.

The currency varies depending on the store I am in, e.g. I place an order in euros but the order in dollars goes to the Magento panel.

## Expe

[2019-09-04 12:29] pkarw commented on #3478
This issue doesn't exist in `develop` (1.11); the log-in/log-out scenario is safe - it means that you have these products added in Magento (for this specific users' cart); in that case when product doesn't exist it won't be added to your local cart when switching the store

if there is a possibility to login by the same account to multistores there should be also a way to handle this cross-shoppin

[2019-09-04 12:32] pkarw commented on #3478
ps. I've added products to the cart logged in:
https://www.dropbox.com/s/7c2wiqmv48rqy7x/Screenshot%202019-09-04%2014.30.33.png?dl=0

then i've switched store to DE
https://www.dropbox.com/s/7c2wiqmv48rqy7x/Screenshot%202019-09-04%2014.30.33.png?dl=0

we're syncing the cart with the `storeCode` given so it should be safe: https://www.dropbox.com/s/2pugg4iv9dlvlda/Screenshot%202019-09-04%2014.32.14

[2019-09-04 12:32] #3478 closed

[2019-09-04 12:47] pkarw commented on #3478
For 1.10.1 please switch `config.storeViews.commonCache` to false in the config

[2019-09-04 12:57] pkarw commented on #3346
@alinadivante I've just checked it on localhost (the current `develop`) and can't reproduce it:
https://www.dropbox.com/s/2a89jb4l9k4onkl/Screenshot%202019-09-04%2014.57.29.png?dl=0

[2019-09-04 12:57] #3346 closed

[2019-09-04 13:02] #3435 closed

[2019-09-04 13:02] pkarw commented on #3435
Can't reproduce this on `develop`. My settings:
    "configurableChildrenStockPrefetchStatic": false,
    "configurableChildrenStockPrefetchDynamic": false,
    "configurableChildrenStockPrefetchStaticPrefetchCount": 8,
    "filterUnavailableVariants": true,

[2019-09-04 13:34] pkarw commented on #3167
I also noticed that `cacheProducts` causes the Elastic error passing empty query (check network tab - there are 3 requests for products (why three?)) when switching the category the third one causes an error

In the effect [static stock prefetching doesn't work](https://github.com/DivanteLtd/vue-storefront/blob/cba50b931e5ce8c930ec4ff91c1b917e7c41c241/core/modules/catalog-next/store/category/actio

[2019-09-04 13:36] pkarw commented on #3167
Moreover the condigion [checking the first SSR request](https://github.com/DivanteLtd/vue-storefront/blob/cba50b931e5ce8c930ec4ff91c1b917e7c41c241/src/themes/default/pages/Category.vue#L155) should be changed from:

[code]

to

[code]

I've changed in the: #3477

[2019-09-04 13:48] pkarw commented on #3167
The problem is that `getters.getCategoryFromPath` doesn't support multistore - I mean storeprefixes; https://www.dropbox.com/s/9iearxcl1dmgoda/Screenshot%202019-09-04%2015.48.16.png?dl=0

[2019-09-04 14:05] pkarw commented on #3436
@patzick please make sure we're supporting this feature in new product page as well: https://github.com/DivanteLtd/vue-storefront/commit/e24e10ea7c1f5e5ca8e757b1210aded7c9aaf8e1

[2019-09-04 14:09] pkarw opened #3479 "Pass `RouteManager` additionally to router to modules"
## What is the motivation for adding / enhancing this feature?

@filrak currently, because of Multistore and optimizations made in #3443 we don't want users to call `router.addRoutes` directly; we should then pass `RouteManager` instead of plain `vue-router` into module constructors - especially that we have more/less the same interface so it's not a breaking change even

related to #3443
related

[2019-09-04 14:13] #3359 closed

[2019-09-04 14:13] #3436 closed

[2019-09-04 14:13] #3453 closed

[2019-09-04 14:13] #3474 closed

[2019-09-04 15:48] filrak commented on #3479
@pkarw then we will loose a lot fo basic APIs from router. We can do this but I think we should make RouterManager a js proxy for router object and just proxy the addRoutes method. Then we can just export this proxy instead of a router everywhere. By doing this we are hiding unnecessary complexity and not confusing ppl that there is a router and RouterManager, wdyt?

[2019-09-04 17:01] filrak opened #3481 "Move translations from core to theme"
## What is the motivation for adding / enhancing this feature?

Translations are tightly coupled with theme therefore should be in a theme. Different themes could have different translations.

## What are the acceptance criteria

* [ ] Move translations from `core/i18n/resource/i18`n to `{themeroot}/i18n`

## Can you complete this feature request by yourself?
* [ ] YES
* [x] NO

## Which [Release

[2019-09-04 20:31] pkarw commented on #3479
I like the idea with proxy; can you mock it up please?

[2019-09-04 21:11] jorkvist opened #3483 "Product image is missing on PDP"
## Current behavior
Navigate to product page shows a error message and the product image are loaded.

## Expected behavior
Product Image should be shown

## Steps to reproduce the issue
Run v1.10.1 and goto a product page with only one product image.

![image](https://user-images.githubusercontent.com/5425824/64291635-efe7b900-cf68-11e9-8cd1-9abfc22f39bc.png)

Console:
![image](https://user-images

[2019-09-05 04:39] pkarw commented on #3483
@przspa please check this issue - it’s high priority

[2019-09-05 04:41] pkarw commented on #3481
Totally removing it from the core? I mean: we’ve got translations in theme that can override the core ones (I belive); i thought we should keep them in the core for a fallback if anyone is using vsf core and just misss the i18n setup etc. however I’m up for discussion @andrzejewsky @patzick @lukeromanowicz wdyt?

[2019-09-05 07:10] przspa commented on #3483
@pkarw ok I checking it

[2019-09-05 07:36] NavaneethVijay commented on #3483
@jorkvist I've found the solution, I am making a pull request for the same

[2019-09-05 07:53] przspa commented on #3483
@pkarw https://github.com/przspa/vue-storefront/tree/hotfix/%233483v1.10.2 fixed but we should pull it to v.1.10.2 because 1.10.1 was released

[2019-09-05 07:55] lukeromanowicz commented on #3481
IMHO we should put them into separate src/* modules - language packs. Ofc theme can have some translationsas well, that should be able to override module values as, but there is a set of standard values that are commonly used everywhere.

[2019-09-05 08:41] jorkvist opened #3485 "Broken first load on homepage and CMS pages in production"
## Current behavior
Everything works correct in development mode, but in production no images is showing up and menu is broken on the Homepage and CMS pages.

(If Im loading a category page and navigate to Homepage everything works correct. )
![image](https://user-images.githubusercontent.com/5425824/64325933-53093800-cfc9-11e9-976f-a4490777b6d3.png)

## Expected behavior
Should work as in develop

[2019-09-05 09:03] David-Dorr opened #3486 "Core > Unit Tests > Broken Tests because of missing depenancy"
## Current behavior

On running **Yarn test: unit**, 8 Unit Tests fail because of

## Expected behavior

**Yarn test: unit** should complete all unit tests successfully

## Steps to reproduce the issue

Run **Yarn test: unit**

## Repository

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) s

[2019-09-05 09:15] pkarw commented on #3486
Ok cool; please make sure you’re on develop branch and feel free to fix this along with adding up some unit tests :)

[2019-09-05 09:45] pkarw commented on #3485
I can confirm this issue; we're workin on solution right now; thanks

[2019-09-05 10:32] NavaneethVijay commented on #3483
Hi, can you review my PR, the issue is been solved at the earliest.

[2019-09-05 11:04] dz3n commented on #3369
I will take this

[2019-09-05 11:22] kamileon-div opened #3489 "Multistore -> nested routes names duplicated"
## Current behavior

When create a children route, it duplicates without language prefix.

## Expected behavior

Nested routes names should be prefixed by each language.

## Steps to reproduce the issue

Use multistore and create children route.

## Can you handle fixing this bug by yourself?

- [x ] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.ht

[2019-09-05 11:41] jakubmakielkowski opened #3490 "Typo in Register.vue and register-path.js"
Typo "fist" in 2 files:
https://github.com/DivanteLtd/vue-storefront/blob/master/test/e2e/integration/register-path.js
https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/components/core/blocks/Auth/Register.vue

[2019-09-05 12:05] pkarw commented on #3489
Hi! Thanks, can you paste example routing config to show the case please?

[2019-09-05 12:06] pkarw commented on #3489
`setupMultistoreRoutes` from `multistore.ts` is adding the localized routes

[2019-09-05 12:24] pkarw opened #3493 "Feature request - tweak the lazy loading"
## What is the motivation for adding / enhancing this feature?

Currently we're having lazy loading which is not  optimally configured; it generates placeholder urls in the SSR mode - so the first view of page is always:
https://www.dropbox.com/s/6c0xnn2x21hhtgm/Screenshot%202019-09-05%2014.22.40.png?dl=0

... the SSR markup is generated like this:

https://www.dropbox.com/s/jl04iona7ht5g1f/Screen

[2019-09-05 13:21] kamileon-div commented on #3489
Of course. Code below:

`{
    name: 'account',
    path: '/my-account',
    component: MyAccount,
    meta: { requiresAuth: true },
    children: [
      {
        name: 'account-settings',
        path: 'settings',
        component: AccountSettings,
        props: { page: 'lorem', title: 'Account settings' },
        meta: { requiresAuth: true }
      }
    ]
  },`

[2019-09-05 13:42] pkarw commented on #3489
yeah, we forgot about this :) can you please fix it? thanks!

[2019-09-05 17:25] themreza opened #3495 "Default root category level cannot be 0"
## Current behavior

When using a custom category structure that has the root categories at level 0, the code ignores this, thinking the config is not set and automatically assumes a root level of 2.

This results in categories not showing up in the sidebar menu.

## Expected behavior

VSF should allow for root levels and other similar iterations to begin at 0 rather than 1, or at least mention th

[2019-09-05 17:43] pkarw commented on #3486
@David-Dorr i just wanted to kindly ask about the status?

[2019-09-05 18:29] pkarw opened #3496 "Add lazy-hydrate to Home page product blocks"
## What is the motivation for adding / enhancing this feature?

The idea is to limit the size of `window.__INITIAL_STATE__`. We need to just port this PR: https://github.com/DivanteLtd/vue-storefront/pull/3344

## What are the acceptance criteria

- [ ] `window.__INITIAL_STATE__` for `Home.vue` doesn't contain products JSON

[2019-09-05 18:43] pkarw commented on #3495
Thanks, fixed with https://github.com/DivanteLtd/vue-storefront/pull/3497 - please do confirm it works for you

[2019-09-05 18:44] #3490 closed

[2019-09-05 19:06] pkarw opened #3498 "Fix the way we're prerfetching i18n for dayjs + VS locale"
## What is the motivation for adding / enhancing this feature?

Currently in the production mode we're prefetching all possible locales:
https://www.dropbox.com/s/jktt4j5123g9cc0/Screenshot%202019-09-05%2021.05.07.png?dl=0

We shouldn't. It's because:
- https://github.com/DivanteLtd/vue-storefront/blob/d91ae485fbb12abe84c76a8bf04ea51299a14395/core/i18n/index.ts#L47
- https://github.com/DivanteLtd/

[2019-09-05 19:09] #3495 closed

[2019-09-05 19:13] pkarw commented on #3498
This occurs only in production mode. Potential fix:
https://github.com/jantimon/resource-hints-webpack-plugin

[code]

[2019-09-05 19:16] pkarw commented on #3454
Additional comment for point 2:

**Is it necessary to create routes for all stores?**

Considering it's not possible to navigate directly between stores. Instead, the app gets reloaded, and all the routes recreated. So only the current store routes need to be added. Right? The exception is SSR for SEO, but that can be handled separately. This also seems like a big change though and could possibly

[2019-09-05 19:59] pkarw opened #3501 "Check if serving all CSS styles from external file will improve page speed results"
## What is the motivation for adding / enhancing this feature?

Currently, we're outputting all the styles (extracted from Vue components) in the HTML - which
causes pretty huge HTML bundle (but also let us avoid additional network calls).

We could do a PoC of `mini-css-extract-plugin` and keep it as an option for the production mode compiles for users to just .. well uncomment in the webpack con

[2019-09-06 06:16] kumarnaveenpal opened #3502 "All products are not importing to elastic database by mage2vs import command"
Hi there,
As I am importing product by **yarn mage2vs import** command, it import products to elastic but not all. The import process has been completed successfully but the products count is less. I have approx 12000 product in my magento 2 store but it imported only 4000-5000 products only.

I am using :
Node Version : v8.16.1
NPM Version : 6.4.1
vue-storefront Version : 1.10.0
Magento2 Version

[2019-09-06 06:42] pkarw commented on #3502
Hi there, please move this discussion to https://forum.vuestorefront.io
Please also do try the `magento2-vsbridge-indexer` instead of `mage2vuestorefront`: https://github.com/DivanteLtd/magento2-vsbridge-indexer

[2019-09-06 06:42] #3502 closed

[2019-09-06 07:32] waynetheisinger commented on #2365
Hi @pkarw - as I said above I'm taking on this task, feel free to assign it to me to stop someone else also working on it.

The `/kubernetes/*.yaml` files as they exist at the moment are only useful for local development and can't be used as templates for production because they assume that most of the folders exist on the host, which obviously they won't in production. I can document how they can

[2019-09-06 07:33] grimasod commented on #3454
@pkarw
Thanks for copying the comments to this issue. I'll try to get to work on it soon.

Do you think the default store routes are needed when on another store?

[2019-09-06 08:05] pkarw commented on #3454
I think they're not - probably - hard for me to find the exceptions ...

[2019-09-06 08:09] pkarw commented on #2365
hi @waynetheisinger thanks for taking this task; I'm not a devops expert neither kubernetes hard user so it's very hard for me to answer - maybe some other folks will have anything to add? it soundds reasonable what you wrote :)

[2019-09-06 08:13] pkarw commented on #3454
@grimasod it would be coll if by chance of this PR we'll add a `priority` field to routes so modules/theme routes can overlap more clever way :) If we have a queue it won't be any problem.

Related to: https://vuestorefront.slack.com/archives/C8JMCHQ6S/p1567757048024000

[2019-09-06 08:20] cewald commented on #3485
I think the bug comes in between this two commits in `develop` branch:
9dfc06c742055f831557ff442d011d300430f034 - a68315c33681cc57842e64a670cbcd8b2df71d84

I would recommend a `git bisect` to find the faulting commit.

[2019-09-06 08:32] pkarw commented on #3485
@cewald and @jorkvist please test our solution to this issue: https://github.com/DivanteLtd/vue-storefront/pull/3499

[2019-09-06 08:33] #3483 closed

[2019-09-06 08:34] grimasod commented on #3454
@pkarw Sure :)
I wonder if theme routes should always take priority? Or by default at least

[2019-09-06 08:34] pkarw commented on #3454
by ddefault theme should have the highest priority I belive

[2019-09-06 08:46] cewald commented on #3485
@pkarw Thanks, I'm at the hackathon and will test it quickly.

[2019-09-06 09:07] cewald commented on #3485
@pkarw
The PR above works but is only in master.
Is this a fix that will be in develop too?

[2019-09-06 09:17] mentizm commented on #3272
i will have a look on this issue at hackathon #17 in brunswick

[2019-09-06 09:38] cewald commented on #3399
I solved it by adding a second store, like which inherits from my desired default one.

For example:
I'm having a german store config which I wan't to be the default store.
So in best case the default store should also be available in `http://localhost/specific/url` and `http://localhost/de/specific/url` – so both is the `/de` store.

My solution would be to use the `extend` flag to extend from th

[2019-09-06 09:38] pkarw commented on #3485
Thanks for checking! Yeah @patzick will merge it in

[2019-09-06 10:36] David-Dorr commented on #3486
After doing some checking, it appears that with the Docker installation, there are some symlinks missing from the "@vue-storefront" node_module.

Compare: Install using "Yarn Installer"
`drwxr-xr-x    2 dave dave  4096 сеп  6 11:52 .
drwxr-xr-x 1437 dave dave 49152 сеп  6 11:53 ..
lrwxrwxrwx    1 dave dave    18 сеп  6 11:52 cli -> ../../packages/cli
lrwxrwxrwx    1 dave dave    10 сеп  6 11:52 co

[2019-09-06 10:43] David-Dorr commented on #3486
For now, I will focus the tasks for building unit tests for the modules, as they have a higher priority, and will return to this when opportunity allows.

[2019-09-06 10:52] pkarw commented on #3486
Cool; thanks

[2019-09-06 10:52] #3486 closed

[2019-09-06 11:32] bay20soft commented on #2093
Is there any option to enable error message so we can debug it. Right not it really hard to understand the exact issue. it just showing

Something went wrong ...
We've noticed Internal Server Error while rendering this request.

If you need an assistance you can drop us a line on a contact page

[2019-09-06 11:35] bay20soft opened #3505 "Error Something went wrong ..."
I have installed vue storefront successfully. It shows me the success message and url with 3000 port. But when i ran it shows 'Something went wrong ...' and 'We've noticed Internal Server Error while rendering this request.

If you need an assistance you can drop us a line on a contact page'

Not sure what exactly this issue for.

[2019-09-06 11:40] pkarw commented on #3505
Please move this discussion to forum.vuestorefront.io or Slack. It's probably your `vue-storefront` app has no connectivity to `vue-storefront-api` - an issue pretty often taking place in docker env. make sure the endpoints are reachable from one container to another

[2019-09-06 11:40] #3505 closed

[2019-09-06 11:43] pkarw opened #3506 "Create module to integrate google trace"
## What is the motivation for adding / enhancing this feature?

https://cloud.google.com/trace/docs/setup/nodejs

It will help a lot to improve the latency. We should have the

[code]

provided from the config file, module should be placed in `src` (not a core module)

[2019-09-06 11:46] pmaojo commented on #489
@pkarw
Would this be a good issue for the next hackaton?

[2019-09-06 11:46] pkarw opened #3507 "Integrate `response-times`"
## What is the motivation for adding / enhancing this feature?

https://github.com/expressjs/response-time

It should enabled via config variable (default on) - available in both: production and development setup

[2019-09-06 11:50] pkarw commented on #489
Not sure about It it doesn’t sound like something you can code within one day :)

[2019-09-06 11:52] pkarw commented on #489
Check this out: https://github.com/jankawulok/tb2vuestorefront

[2019-09-06 11:57] vue-kacper opened #3508 "Comparison feature is not keeping a state on page reload."
## What is the motivation for adding / enhancing this feature?

A small unconvenience - products on comparison list are not preserved between page reloads. That means we can not compare one product with another opened in a new tab.

We should keep products in comparison list in a session. This will prevent resets on page reload. We will be also able to open new links in new tabs with preserved ite

[2019-09-06 12:06] pkarw commented on #3508
They should; they were; something is broken probably with https://github.com/DivanteLtd/vue-storefront/blob/68e7b62ae52c53158f4724e7fe31cbfaef533a25/core/modules/compare/store/plugin.ts#L9 - or reading this itetm from `localStorage`

[2019-09-06 13:27] alinadivante commented on #3359
@pkarw everything looks all right, but I noticed that for **/de** store there is a typo in the URL after clicking `Der Frühling kommt`  banner from the Home page. Pleas fix it.

[2019-09-06 13:35] pkarw commented on #3359
Hi @alinadivante thanks for checking this out. Where's the type in the;

[code]

I can't see it :/

[2019-09-06 13:40] themreza commented on #3495
Yes, it does fix the issue.
Thank you.

[2019-09-06 13:42] alinadivante commented on #3359
/de/gear/gerat-3  :)
fixed 👍

[2019-09-06 14:30] sandermangel commented on #1552
@pkarw can we close this since BlueFoot is not available anymore?

[2019-09-06 14:30] #1552 closed

[2019-09-06 14:31] sandermangel commented on #1562
Duplicate of #3316

[2019-09-06 14:31] #1562 closed

[2019-09-06 14:35] sandermangel commented on #3179
Duplicate of #1711

[2019-09-06 14:35] #3179 closed

[2019-09-06 14:37] sandermangel commented on #2166
@pkarw was this finished? Can we add the "real life example" to the README maybe? :)

[2019-09-06 14:39] sandermangel commented on #2103
Hi @dennisotugo did you manage to make any headway? :)

[2019-09-06 17:23] pkarw commented on #2166
It hasn’t been finished yet :/ let’s keep it open

[2019-09-06 17:24] pkarw commented on #1552
True, positive

[2019-09-07 02:53] kkdg commented on #3440
Just to make sure, @michaelKurowski Did you use `docker`? or legacy mode? as in http://localhost:8081/guide/installation/linux-mac.html#install-the-vue-storefront

[2019-09-09 09:49] lukeromanowicz opened #3515 "Hash doesn't work in dynamic URLs"
## Current behavior
When entering a dynamic url product/category with hash, it doesn't get resolved correctly in CSR. SSR seems to be working correctly

## Expected behavior
Hash should not impact resolving dynamic URLs

## Steps to reproduce the issue
1. go to any category or product page
2. append hash to url e.g. https://demo.storefrontcloud.io/men/men-11#test

## Can you handle fixing this bug

[2019-09-09 14:18] tripti1410 commented on #2667
I am still facing this issue in chrome 76, one plus 6 phone and in Redmi POKO. Here is the website link: https://ecstatic-ardinghelli-6c0827.netlify.com/
It is a nuxt app.

[2019-09-09 14:27] ArturDivante commented on #3453
Problem solved

[2019-09-09 14:43] ArturDivante commented on #2544
Hello! @obsceniczny @patzick - Function works nice &fine with one exception - for bundle product it returns placeholder instead of actual picture. Can we fix that easy, or is it more complex?
![bundle](https://user-images.githubusercontent.com/47415585/64540725-e8d1f980-d320-11e9-98cc-572efacdfcce.png)

[2019-09-09 15:21] ArturDivante commented on #3483
Problem fixed

[2019-09-09 15:48] ArturDivante commented on #3437
Bug fixed

[2019-09-09 16:06] ArturDivante commented on #3474
Bug fixed

[2019-09-09 17:18] filrak commented on #2494
@AGPDev on it ;)

[2019-09-10 06:20] juho-jaakkola opened #3519 "Consider moving the theme into its own git repository"
## What is the motivation for adding / enhancing this feature?

Upgrading upstream changes from the default theme into a project specific custom theme is painful manual work. How about simply moving the default theme into its own git repository? Custom themes could be forked from it, and then upgraded simply by doing a `git pull` from upstream repository.

It would even be possible to extract the

[2019-09-10 06:22] juho-jaakkola commented on #3406
See also: https://github.com/DivanteLtd/vue-storefront/issues/3519

[2019-09-10 06:23] lukeromanowicz commented on #3406
@pkarw after 2.0 it's not needed anymore cause there will be the theme fallback

[2019-09-10 07:35] juho-jaakkola commented on #3519
Most likely there are some dependency issues, that would need to be solved in order for this to work?

[2019-09-10 07:51] juho-jaakkola commented on #3519
This is (maybe?) a bit off topic, but how are themes meant to work with multistore sites?

Does VSF already support having a separate theme for each storeview? So the config file would have separate entries for each:

`storeViews.en.theme = 'theme-left-to-right'` // English
`storeViews.ar.theme = 'theme-right-to-left'` // Arabic

I just started wondering, if it indeed is possible to define a separ

[2019-09-10 08:35] cewald opened #3520 "Attributes loaded via `attribute/list` in SSR are not in base-state"
## Current behavior

If I enter a product page directly via URL as a server-side request, the state (`list_by_id` and `list_by_code`) won't be populated with the results of the `attribute/list` action from the ssr-request, and it remains empty.

The search query made in [`core/modules/catalog/store/attribute/actions.ts:77`](https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/cat

[2019-09-10 09:12] pkarw commented on #3520
This is not an issue and it's intentionally filtered https://github.com/DivanteLtd/vue-storefront/pull/3326; the attributes are cached in the localStorage instead of being transferred with the HTML

[2019-09-10 09:12] #3520 closed

[2019-09-10 09:16] #2657 closed

[2019-09-10 09:18] pkarw opened #3521 "Create an upgrade tutorial (1.10-1.11)"
## What is the motivation for adding / enhancing this feature?

We need someone who'll take the 1.10 clean installation and will try to upgrade it to 1.11 and create a tutorial/doc on what exactly needs to be changed. Plus commit all the changes required as a simple, one commit/pull request to show clearly what needs to be done in order to upgrade.

Something that @filrak did showing the upgrade f

[2019-09-10 10:06] #3515 closed

[2019-09-10 10:11] #3369 closed

[2019-09-10 10:12] #3508 closed

[2019-09-10 10:14] pkarw commented on #3489
I just wanted to check up the status? The 1.11rc1 is planned for 19th of September

[2019-09-10 10:15] pkarw commented on #3454
@grimasod I just wanted to check the status as we're planning to release 1.11rc1 on 19th of September

[2019-09-10 10:17] pkarw commented on #2636
@przspa the issue here is that when localStorage is cleared out the data is not being copied from data loaded from Magento (when user logs in we load `api/user/me` that should consist of addresses)

[2019-09-10 10:17] cewald commented on #3520
@pkarw Ah I see. Thanks you, reading the changelogs could have saved me some time.

Okay, i get that change but I have two questions:
1. How I'm supposed to fetch product attributes that I need inside server-side html – like for SEO meta-tags in my case – when the initial state is completely flushed for attributes (without disabling `useInitialStateFilter`)?
1. How can I use the `optionLabel` help

[2019-09-10 10:32] filrak commented on #3519
@juho-jaakkola hey, thanks for your feedback. Fortunately this is exactly what we're working on for version 2.0  along with moving core to npm and multistore capabilities you mentioned ;) Stay tuned

[2019-09-10 10:32] #3519 closed

[2019-09-10 10:42] dz3n opened #3522 ""Clear wishlist" button on the wishlist page doesn't work"
## Current behavior
When you trying to remove some items from wishlish page with button "Clear wishlist", this button doesn't work and the items will not be deleted

## Expected behavior
This button have to work and clean the whole wishlist

## Steps to reproduce the issue
1. Add some item on wishlist
2. Try to remove it with "Clear wishlist" button

## Repository

## Can you handle fixing this bu

[2019-09-10 10:46] pkarw commented on #2868
@alinadivante can you please reimport and test this issue once again/

[2019-09-10 10:47] pkarw commented on #3522
@dz3n can you please fix it?

[2019-09-10 10:50] dz3n commented on #3522
@pkarw sure, PR is added

[2019-09-10 10:55] pkarw commented on #3520
ad1) The state is flushed only when transferring to Client's side - so they should be available in the `state` after `attribute/list` call + you should repeat this call client's side
ad2) after `product/list` you will be able to use the `optionLabel`

[2019-09-10 13:18] pkarw commented on #3032
This is probably solving the docker issue - we no longer need the `network mode: host` when we have both API + VS mounted under the same HTTP server (it's truly the localhost then)

It solves this one: https://github.com/DivanteLtd/vue-storefront/issues/3299
And makes this one out of sense: https://github.com/DivanteLtd/vue-storefront/issues/2861 (kind of: only for the localhost deployment)

[2019-09-10 14:44] pmaojo commented on #489
@pkarw I don't think its a one day coding challenge 🗡
 unless its a big team..

[2019-09-10 15:13] patzick commented on #3481
I completely agree with this issue. All translation files should be theme-specific.
However, we should leave in core translations which are strictly from the core, like messages throw as errors from actions etc. I don't have notifications in mind here - IMO there shouldn't be any of them in core, just in theme and theme can decide what to notify about and how.

To sum up - leave core-specific tran

[2019-09-10 15:30] patzick commented on #2544
@obsceniczny would you mind to take a look? :)

[2019-09-10 20:11] tonyisworking opened #3526 "Feature Request - Support WebP images and Switch to lazysizes over vue-lazyload"
## What is the motivation for adding / enhancing this feature?
WebP Image formats are supported by multiple browsers now, supporting it should be good for improved performance.

Switching to [lazysizes](https://github.com/aFarkas/lazysizes) instead of vue-lazyload will be needed for WebP image formats as Lazysizes supports picture element, where [vue-lazyload ](https://github.com/hilongjw/vue-lazy

[2019-09-10 21:59] tonyisworking commented on #3526
Also there's an example for supporting the [modern srcset pattern](https://github.com/aFarkas/lazysizes/blob/gh-pages/README.md#modern-transparent-srcset-pattern) which should solve issue #3493

[2019-09-10 23:32] #3522 closed

[2019-09-11 08:18] AdKamil commented on #3489
It seems that the problem is a little bit more complicated. I have to study it more.

[2019-09-11 10:56] AdrianBalcan commented on #2861
Thanks @pkarw!! This change will improve VSF performance on a Kubernetes setup.

[2019-09-11 11:20] cewald commented on #3520
@pkarw Thank you for your answer!!
My problem here is, that I need to get the option labels in the `metaInfo()` method of `vue-meta` in a single-page component (`theme/pages/Product.vue`). BUT the `ssr-renderer` clears the initial state before `metaInfo()` is executed.

I worked my way around it by loading the attributes as before in `asyncData` to get it server-side into the state and then assign

[2019-09-11 11:22] pkarw commented on #3520
You can still keep attributes in the SSR state by just removing the `attribute` from `initialStateFilter` -> [this line](https://github.com/DivanteLtd/vue-storefront/blob/f05629bf507942cfd3bdffb3f9e1b8e1279ef623/config/default.json#L94)

[2019-09-11 11:23] pkarw commented on #2861
@AdrianBalcan yeah, as soon as anyone weill implement it :D

[2019-09-11 11:27] pkarw commented on #2494
Temporarily done with https://github.com/DivanteLtd/vue-storefront/pull/3518 - can be extended in the future

[2019-09-11 11:27] #2494 closed

[2019-09-11 12:02] kkdg commented on #3521
Duly noted thanks!

[2019-09-11 15:17] themreza opened #3530 "Product attribute label doesn't show on the frontend"
## Current behavior

When using text-based product attributes, the label is not displayed correctly in the product page.

## Expected behavior

The label must be shown if the attribute code has been correctly added in the attribute index when importing, according to https://github.com/DivanteLtd/vue-storefront-integration-sdk/blob/tutorial/Format-attribute.md

## Steps to reproduce the issue

Addi

[2019-09-11 22:04] #2182 closed

[2019-09-12 06:48] alinadivante commented on #2868
@pkarw I still have a problem with reindex/reimport, even if I made sure that the **test_fullreindex.sh** script is properly configured..

[2019-09-12 09:58] juho-jaakkola opened #3536 "Error during e2e tests"
## Current behavior

When running the command:
[code]
I get the error:
[code]

My colleague made the following fix for it:

[code]

Are the tests working in Divante's internal use? Any idea what might cause the problem in our case?

## Repository

https://github.com/DivanteLtd/vue-storefront/tree/v1.10.0

## Can you handle fixing this bug by yourself?

- [ ] YES
- [ ] NO
- [x] Maybe

## Which [Rel

[2019-09-13 07:01] alinadivante commented on #3536
No, these tests are old, I will try to find time to improve them.
You can run these tests with `yarn tests:e2e`

[2019-09-13 07:08] juho-jaakkola commented on #3536
I asked earlier about the location of the *new* tests. Where are those located? Any documentation about those yet?

[2019-09-13 07:09] alinadivante commented on #3536
oh, sorry, my mistake. Unfortunately, I don't know anything about new tests.

[2019-09-13 07:17] juho-jaakkola commented on #3536
@pkarw Where can I find these new tests you mentioned?

As far as I'm concerned, this issue can be closed, and the effort of fixing the old tests can be used on the new tests. But there should be some reference to the new tests so that whoever finds this issue is able to find them.

[2019-09-13 07:25] pkarw opened #3539 "PM2 configuration for TypeScript"
## What is the motivation for adding / enhancing this feature?

After the recent server modules upgrade the pm2 configuration stopped working as it's not supporting typeScript.

We need to improve it, probably we have just two options:

A) to create another webpack config + build step for compiling `core/scripts/server.ts`; like we have `webpack.prod.sw.config.ts` for the  service workers; this is

[2019-09-13 08:04] pkarw commented on #3536
@juho-jaakkola the tests are splited across modules (`core/modules/*/test`)

[2019-09-13 08:09] patzick commented on #3167
Okay, here's what we've got to change:

1. When page is displayed without chosen filters, we get them from products query
2. When some filters are chosen, then we need to load all category filters
3. After changing some filter, we can change the rest of the displayed filters (they cannot be chosen) based on a returned query

[2019-09-13 08:17] pkarw commented on #3167
Correct. This change (I mean point 2) is required as before we were no situation that filters were included in the URL

[2019-09-13 08:45] grimasod commented on #3454
@pkarw I've made a PR for part 1, but it's not finished. There are issues with dynamic routes

[2019-09-13 11:04] lukeromanowicz opened #3543 "Separate building stage from yarn:start"
## Current behavior
PM2 requires ts-node instead of running purely on the built code from `dist`

## Expected behavior
I can build the project with dev dependencies, install prod dependencies only, move the full artifact to the prod server and run the app without any building

## Steps to reproduce the issue
See how ecosystem.json and package.json are configured

## Can you handle fixing this bug

[2019-09-13 11:05] lukeromanowicz commented on #3539
TS should not be required in yarn:start. I've created a separate bug report #3543

[2019-09-13 11:10] pkarw commented on #3543
It will be closed by #3539

[2019-09-13 14:47] #3100 closed

[2019-09-13 15:57] ArturDivante opened #3547 "Problem with quantity of products added to cart."
In given scenario, user is allowed to add 2 many products to cart. When that happens, it's impossible to reduce this quantity from cart window.

## Steps to reproduce the issue
1. Open https://demo.storefrontcloud.io/women/tops-women/jackets-women/jackets-23/neve-studio-dance-jacket-1369.html?childSku=WJ11-XS-Black. Stick with XS Black version
2. Set quantity to 30 and add product to cart -
3. Now

[2019-09-13 16:26] phoenixdev-kl commented on #2854
@pkarw great! sorry, the process is unfortunately not clear to me. if this feature is planned for 2.0, from which branch do i create a branch in my fork (release/v2.0 or develop)? and when the refactoring is finished, am i supposed to create the pull request in release/2.0?

[2019-09-13 19:43] pkarw commented on #3547
Hi @ArturDivante this is unfixable error since it's in the magento2 core. Details: https://github.com/DivanteLtd/vue-storefront/issues/3083#issuecomment-508951884

[2019-09-13 19:43] #3547 closed

[2019-09-13 20:25] lukeromanowicz opened #3549 "Broken sidebar menu in mobile view"
## Current behavior
Subemnu in sidebarmenu displays wrong positioned homepage link.

![image](https://user-images.githubusercontent.com/46789227/64892681-5fe6f500-d675-11e9-90ff-525917d548fe.png)

## Expected behavior
Homepage link should be invisible

## Steps to reproduce the issue
open website on mobile, enter some submenu, scroll right

## Repository

## Can you handle fixing this bug by yours

[2019-09-13 20:31] pkarw commented on #3549
@przspa please take care of this one

[2019-09-13 20:38] lukeromanowicz commented on #3549
When fixing this issue please also add `-webkit-overflow-scrolling: touch;` to menu, search results and cart so the scrolling on phones was smooth.

[2019-09-13 23:07] pkarw commented on #1692
https://github.com/DivanteLtd/vue-storefront-api/pull/342/files
https://github.com/DivanteLtd/mage2vuestorefront/pull/96

We probably won't gonna make it to Vue Storefront 1.11rc-1 - but we'll try to include the Elastic 7 support in 1.11rc-2 as it's pretty much required for the LTS

[2019-09-13 23:07] pkarw commented on #1692
https://github.com/DivanteLtd/vue-storefront-api/pull/342/files
https://github.com/DivanteLtd/mage2vuestorefront/pull/96

We probably won't gonna make it to Vue Storefront 1.11rc-1 - but we'll try to include the Elastic 7 support in 1.11rc-2 as it's pretty much required for the LTS

[2019-09-14 20:15] diboy2 commented on #3457
@pkarw Assign to me.

[2019-09-15 07:04] pkarw commented on #3457
@diboy2 it’s yours 👍

[2019-09-15 16:07] themreza opened #3553 "Allow custom currency formats"
## What is the motivation for adding / enhancing this feature?

Different countries have varying currency formats -- specifically the characters used to indicate the thousandth and decimal figures. Whereas in the U.S. the price of a product would be $123,456.768, in a European country such as Hungary it would look like 123.456,768 Ft.

## What are the acceptance criteria

- [ ] Add an option in th

[2019-09-16 07:11] phoenixdev-kl opened #3554 "Documentation: Command to create translations not working"
## Current behavior
When executing the following command from **docs/guide/basics/recipes.md**, an empty file i18n.csv is created:

[code]

## Expected behavior
As stated in recipes.md, a file containing all translations should be created.

## Steps to reproduce the issue
1. Open terminal
1. Navigate to your Vue Storefront root directory
1. Execute ```grep --include \*.js --include \*.vue -nrw  ./

[2019-09-16 07:13] pkarw commented on #3553
Please do check if this option fixes this issue for you: https://github.com/DivanteLtd/vue-storefront/blob/31093fa951b7e76b0003a69350b3c1f84e12ddcb/config/default.json#L445

[2019-09-16 08:29] #3506 closed

[2019-09-16 08:31] pkarw commented on #1700
It's been done with the Simple API example in the integration SDK: https://github.com/DivanteLtd/vue-storefront-integration-sdk/tree/tutorial/sample-api-js

[2019-09-16 08:31] #1700 closed

[2019-09-16 08:33] #2854 closed

[2019-09-16 08:34] #2976 closed

[2019-09-16 09:06] #3496 closed

[2019-09-16 09:26] themreza commented on #3553
@pkarw Yes this option is helpful and we're using it at the moment.
In addition, it would be nice to have the option of formatting the currency value itself as well.

We're currently modifying ``core/filters/price.js`` like so:

[code]

But we don't want to change the core files to stay up to date with the latest versions.

[2019-09-16 09:32] pkarw commented on #3553
@filrak how would you approach this issue?

[2019-09-16 11:49] afirlejczyk commented on #3062
Hi @pkarw
I made some fixes/changes regarding saving review with ratings in
https://github.com/DivanteLtd/magento2-review-api/pull/21

I also add example for adding new review with ratings.
https://github.com/DivanteLtd/magento2-review-api/blob/develop/docs/api-specs.md

https://github.com/DivanteLtd/magento2-review-api/releases/tag/1.2.0 - latest release.
So please remember to update module on Ma

[2019-09-16 12:36] juho-jaakkola commented on #3553
I have the same issue. So far I have two ideas:

## A) Add new configuration entries:
 - `storeViews.<storeCode>.i18n.currencyDecimalSeparator`
 - `storeViews.<storeCode>.i18n.currencyThousandsSeparator`

So for example this:
[code]
Would result in:
[code]

## B) Some kind of a shorthand:
[code]
This is perhaps more intuitive.

[2019-09-16 12:37] GabiDivante opened #3559 "Cannot add a review"
## Current behavior

Currently, when I want to add a review using the form on product page, I get erore messages:
- testing locally I get 500
![image (6)](https://user-images.githubusercontent.com/49188852/64958463-82545a80-d88f-11e9-892d-cd2ae0590b98.png)

- testing on test env I get 404

![Selection_070](https://user-images.githubusercontent.com/49188852/64958471-88e2d200-d88f-11e9-8760-d640490c

[2019-09-16 12:49] juho-jaakkola commented on #3553
After looking a bit deeper into the subject, it is probably best the use something like `Intl.NumberFormat` that @themreza mentioned. World has probably hundreds of different ways to display currencies. No need to reinvent the wheel when a solution already exist.

[2019-09-16 12:55] jakubmakielkowski opened #3561 "Product quantity better UX"
## What is the motivation for adding / enhancing this feature?
Product quantity field accepts float numbers. This behaviour may be misleading, because price on product page refreshes on quantity change. When adding item to cart quantity is parsed to integer.
Also better UX features are:
- disabling button and show warnings on input change, not after adding to cart
- setting upper limit of quantity

[2019-09-16 13:04] GabiDivante opened #3562 "Getting 500 when checking user newsletter subscription"
## Current behavior

Currently, when I'm logging in or going to my newsletter in my account, the subscription status cannot be checked.
There is an error message visible and in the console"
{"code":500,"result":"An error occured while accessing Mailchimp"}
for request GET /api/ext/mailchimp-subscribe/subscribe?email=user_email

## Expected behavior

When logging in or going to My newsletter in My

[2019-09-16 13:06] GabiDivante commented on #3562
![Peek 2019-09-16 14-45](https://user-images.githubusercontent.com/49188852/64960389-7cf90f00-d893-11e9-9038-e3809f08a451.gif)

[2019-09-16 13:55] pkarw commented on #3562
It seems like MailChimp misconfiguration

[2019-09-16 14:42] razzul opened #3564 "Unable to setup vue-storefront in CentOS7"
<img src="https://raw.githubusercontent.com/razzul/img/master/2019-09-16_200845.png">

[2019-09-16 14:47] razzul commented on #3564
node -v
**v10.16.0**

yarn -v
**1.17.3**

docker -v
**Docker version 19.03.2, build 6a30dfc**

docker-compose -v
**docker-compose version 1.23.2, build 1110ad01**

cat /etc/centos-release
**CentOS Linux release 7.6.1810 (Core)**

[2019-09-16 15:06] razzul commented on #1495
I am also facing the same issue

[2019-09-16 18:56] martinkosmela commented on #3564
You probably need to add your system user to Docker group in order to allow run Docker commands.

`sudo usermod -aG docker $YOUR_USER
newgrp docker`

I hope it helps.

[2019-09-16 19:05] pkarw commented on #3564
@razzul please use our https://forum.vuestorefront.io for these questions

[2019-09-16 19:05] #3564 closed

[2019-09-17 06:51] juho-jaakkola commented on #3553
## C) Allow projects to override/extend price rendering

Instead of trying to solve the problem for all possible languages and use cases, simply add a hook/mixing so every project can do whatever they want with the price before it is displayed.

## D) Use an existing library

For example
 - http://openexchangerates.github.io/accounting.js/
 - http://numeraljs.com/
 - https://numbrojs.com
 - https:

[2019-09-17 07:29] pkarw commented on #3559
This error is because the magento backend doesn't have the review module installed https://github.com/DivanteLtd/magento2-review-api. It's not a VSF issue (we haven't changed anything related to reviews recently)

[2019-09-17 07:29] #3559 closed

[2019-09-17 10:31] undefinederror opened #3567 "@vue-storefront/cli init:module"
I am following the VueStoreFront Cookbook, and at [Ch5 1 2-2. Recipe B (CLI bootstrapping) 2](https://docs.vuestorefront.io/guide/cookbook/module.html#_2-1-recipe-a-manual-bootstrapping) it reads:

`vsf init:module example-folder`

## Current behavior
[code]
## Expected behavior
`vsf init:module <folder>`  should be a known command

## Version
@vue-storefront/cli@0.0.15

[2019-09-17 11:51] pkarw commented on #3567
@kkdg Degi can you take care of this one?

[2019-09-17 12:53] GabiDivante opened #3569 "Instant checkout button is not visible in the cart sidebar"
## Current behavior

Instant checkout button is not visible in the cart sidebar, so I cannot use this option to place an order.
![Selection_071](https://user-images.githubusercontent.com/49188852/65043075-8305f300-d95a-11e9-95d1-f7ecf2c94a0c.png)

## Expected behavior

There is a visible Instant checkout button in the cart sidebar, so I can place an order using this option.

## Steps to reproduce

[2019-09-17 13:04] undefinederror opened #3570 "[docs] 2-1. Recipe A (Manual bootstrapping) outdated"
[2-1. Recipe A (Manual bootstrapping)](https://docs.vuestorefront.io/guide/cookbook/module.html#_2-1-recipe-a-manual-bootstrapping) seems to be outdated.
## Current behavior

## Problems
- '@vue-storefront/core/lib/modules' doesn't exist, I can find 'module'
- `StorefrontModule` isn't there, I can find `VueStorefrontModule`
- The implementation in docs is generally very different to what I can see

[2019-09-17 13:06] alinadivante opened #3571 "Incorrect behavior of the wishlist at multistore"
## Current behavior
Products added to the wishlist in a store other than the default (/de, /it) after switching to the default store are automatically transferred to the wishlist.

## Expected behavior
IMHO wishlist shouldn't be moved after changing the store.

## Steps to reproduce the issue
1. Run the latest develop http://localhost: 3000/
2. Change the store to /de or /it
3. Add something to th

[2019-09-17 14:08] GabiDivante commented on #3093
@patzick I've retested everything in #3217 and the product page overall:
- regarding issues which you couldn't reproduce - I couldn't as well, so I think these no longer occur,
- all fixes work fine,
- I just found one problem related to #2733 - in the offline mode, we cannot add any product to the cart due to hanged availability check - there are loading circle and inactive button visible till we

[2019-09-17 14:47] pkarw commented on #3093
Thanks @GabiDivante it works just fine on demo: https://demo.storefrontcloud.io/gear/gear-3/sprite-yoga-companion-kit-45.html

[2019-09-17 15:21] kkdg commented on #3567
@pkarw sure thing. stacked. thanks

[2019-09-17 15:45] kkdg commented on #3567
@undefinederror @filrak I found this happened because your version is too low to execute that command. It's not your fault, and of none either. I found even the latest npm package doesn't contain the script it needs to run `vsf init:module example`. However, if you checkout _Vue Storefront_ to `develop` branch, there you can find `./packages/cli/index.js` which contains the script to run the comma

[2019-09-17 15:47] #3567 closed

[2019-09-17 15:52] kkdg commented on #3570
@undefinederror Thank you for the issue, btw, can you clarify which branch are you on?

[2019-09-17 15:59] kkdg commented on #3570
To be clear, `cookbook` is based on the massive change VSF is going to take soon, (maybe it was planned for earlier, but you know "development") which means, it's based on `develop` branch. I am afraid you are on `master` branch, that's why you see such mismatches in code base so I think your title should be better written from _outdated_ to _predated_
You are ahead of other people and preparing f

[2019-09-17 16:01] #3570 closed

[2019-09-17 16:55] undefinederror commented on #3570
Hi @kkdg,

Thank you for clarifying this. Yes I am indeed on the `master` branch. Seeing discrepancies in the `cookbook` docs, not knowing any better, I assumed it was old information.

All clear now, I have amended the issue title :)

Thank you

[2019-09-17 16:58] undefinederror commented on #3567
Thank you @kkdg,

I didn't understand the `cookbook` section is meant to apply to a future release, my bad.
I think I am going to be patient and just wait for the module to be published on npm.

Thank you

[2019-09-17 21:37] #3549 closed

[2019-09-18 08:01] gibkigonzo commented on #3571
I would like to fix it. @pkarw Can you assign me?

[2019-09-18 10:12] rain2o opened #3576 "storeCodeFromRoute route object without host breaks loop"
## Current behavior
In `core/lib/multistore.ts::storeCodeFromRoute` if `matchedRouteOrUrl` is an object but is missing the `host` property, the current logic simply returns an empty string if the first store in the store loop does not match. The logic is basically the following:

1. Iterate all stores from `mapStoreUrlsFor`
2. In each iteration, create `normalizedPath` from `matchedRouteOrUrl.path

[2019-09-18 10:26] michaelKurowski commented on #3440
@pkarw It's not about adding g++, make and python to package.json. I'm not even possible whether it's possible to add them via npm. What I meant was to add them to the Dockerfile.
@kkdg AFAIK it occurs both for people using Docker, and directly calling `yarn`.

[2019-09-18 10:35] pkarw commented on #3571
Sure, there is a switch `localised` for having the prefixed localStorage keys for the wishlist - it should basically work just fine in 1.11 from what I see in the src: https://github.com/DivanteLtd/vue-storefront/blob/87214b516d25dcb5b4fb23a1b89efdb7e45c8450/core/helpers/initCacheStorage.ts#L15

[2019-09-18 10:36] pkarw commented on #3571
https://github.com/DivanteLtd/vue-storefront/blob/87214b516d25dcb5b4fb23a1b89efdb7e45c8450/core/modules/wishlist/index.ts#L7

[2019-09-18 10:38] pkarw commented on #3571
Oh the links were all wrong (1.10)

[2019-09-18 10:39] pkarw commented on #3571
This one: https://github.com/DivanteLtd/vue-storefront/blob/748efc08cda861373ad2bd836c142c83f1117aa1/core/lib/storage-manager.ts#L7

and here we have this localised based on config `localized = !config.storeViews.commonCache` the default value for this is: https://github.com/DivanteLtd/vue-storefront/blob/748efc08cda861373ad2bd836c142c83f1117aa1/config/default.json#L114 - `false`

@alinadivante wh

[2019-09-18 10:49] alinadivante commented on #3571
@pkarw     `"commonCache": false`

[2019-09-18 10:54] pkarw commented on #3571
that's strange :) in that case it should work just fine

[2019-09-18 11:20] gibkigonzo commented on #3571
I've created PR, I think this would fix a problem :) https://github.com/DivanteLtd/vue-storefront/pull/3577

[2019-09-18 11:23] alinadivante commented on #3093
@pkarw I changed my endpoints to `https://demo.storefrontcloud.io/api/` but I also have problem with addin a bundle product to the cart.
Error from dev console:
`mutations.ts:100 Deprecated mutation CATALOG_UPD_BUNDLE_OPTION - use PRODUCT_SET_BUNDLE_OPTION instead`

[2019-09-18 11:58] pkarw commented on #3093
@alinadivante ok cool, so this will be easy to fix - @patzick

[2019-09-18 13:27] #3521 closed

[2019-09-18 13:35] #3489 closed

[2019-09-18 14:52] alinadivante opened #3578 "Error applying coupon."
## Current behavior
When you try to apply valid discount coupon, nothing happens and there is error in dev console.
![image](https://user-images.githubusercontent.com/36628922/65158819-6093d880-da33-11e9-8627-484d72360545.png)

## Expected behavior
The discount coupon should be applied.

## Steps to reproduce the issue
1. Run the latest develop version
2. Add any product to the cart
3. Apply valid

[2019-09-18 14:59] pkarw commented on #3578
Probably related to cart refactor(?)

[2019-09-18 15:18] alinadivante opened #3579 "Problem with footer pages for non-default stores."
## Current behavior
Links from footer (in non-default stores) redirect to pages without content, and CMS pages to 404 page not found.
When I open CMS page from the footer,  the following error occurs in dev console:
![image](https://user-images.githubusercontent.com/36628922/65161174-67244f00-da37-11e9-884a-4c0a2caf719c.png)
And if I open CMS via URL,  the following error occurs in dev console:
![

[2019-09-18 15:45] andrzejewsky commented on #3578
It's not related to the refactor for sure. It seems like wrong reference to the `applyCoupon` I'm guessing there is some missing mixin... but I'll check, I'm pretty sure it'll be a quick fix

[2019-09-18 15:53] andrzejewsky commented on #3578
ahh even I can see it now... there is no mapped action, It supposed to be `this.$store.dispatch('cart/applyCoupon', this.couponCode)` call or `applyCoupon` mapped. I'll fix it.

[2019-09-18 18:59] pkarw commented on #3579
Seemingly these cms pages were not synced for lang. versions; which is fine and we should probably just better handle the 404 error (not having hydration/console errors); then to remove the links from footer if the `currentStoreView().storeCode !== config.i18n.defaultStorecode`

[2019-09-18 20:41] #3571 closed

[2019-09-18 21:07] pkarw commented on #3576
@alinadivante we need to confirm this issue

[2019-09-19 08:14] rain2o opened #3581 "2 Digit Locale breaks date filter"
## Current behavior
In the scenario where a locale is only 2-digits (e.g. 'en'), `separatorIndex` has a value of `-1`. The line `const languageCode = separatorIndex ? storeLocale.substr(0, separatorIndex) : storeLocale` checks the "truthiness" of that value, which according to [MDN](https://developer.mozilla.org/en-US/docs/Glossary/Truthy), -1 is actually truthy. This resulted in a series of error

[2019-09-19 08:24] #3468 closed

[2019-09-19 10:17] #2636 closed

[2019-09-19 10:59] #3465 closed

[2019-09-19 11:15] patzick commented on #3581
Thanks @rain2o :)

[2019-09-19 11:15] #3581 closed

[2019-09-19 11:30] jakubmakielkowski commented on #3561
closed https://github.com/DivanteLtd/vue-storefront/pull/3560

[2019-09-19 11:30] #3561 closed

[2019-09-19 11:35] #3462 closed

[2019-09-19 12:46] rain2o commented on #2756
This is related to https://github.com/DivanteLtd/magento2-rest-client/issues/8. A PR has been submitted to filter by customer_id only as that is the standard way to do this.

The other scenarios you mentioned @GabiDivante regarding a customer wanting to see past orders that were placed as a guest or the bug in which the user registers in checkout and the order is seen as Guest in Magento I believe

[2019-09-19 12:55] alinadivante commented on #3576
On 1.10.2 I have a different problem. When I try to open product details page (or category page), I am redirected to page without content,
![image](https://user-images.githubusercontent.com/36628922/65245637-3bfc3700-daed-11e9-8ae9-0d56d1bbe03b.png)

after refreshing the page I see the following error in the dev console.
![image](https://user-images.githubusercontent.com/36628922/65245774-854c8680

[2019-09-19 13:22] #3167 closed

[2019-09-19 18:46] Valentin-Seehausen commented on #3336
Also the action mutates state directly. This is problematic, because it is intransparent and difficult to detect.

My suggestion would be to only use mutations to mutate the state.

+1

[2019-09-19 19:02] andrzejewsky commented on #3569
@GabiDivante are you sure? For me everything is ok (newest develop):
<img width="1233" alt="Screenshot 2019-09-19 at 20 59 10" src="https://user-images.githubusercontent.com/7943292/65272979-703d1b00-db20-11e9-99d9-bdfd8eafea2a.png">

Please text me on slack, maybe I'm trying to reproduce it on the wrong way.

[2019-09-19 19:05] andrzejewsky commented on #3579
@alinadivante works for me, can you check again with the newest develop (maybe It has been fixed)?

[2019-09-19 20:42] #3562 closed

[2019-09-20 03:38] #3578 closed

[2019-09-20 05:48] alinadivante commented on #3562
yes, problem exists on test API, it would be great to have Mailchimp configuration/test account.
And @andrzejewsky, I didn't test it after your changes in the API, now I found out that you did this PR in the API after my approval: DivanteLtd/vue-storefront-api#336 😛

[2019-09-20 06:01] alinadivante commented on #3579
@andrzejewsky I still have the same errors, so maybe I'll send you my config and then check again if the problem is also reproducible for you

[2019-09-20 07:20] #3539 closed

[2019-09-20 07:35] alinadivante commented on #3569
@andrzejewsky The problem exists only in the test environment https://test.storefrontcloud.io/ (in the latest develop is ok).
This shouldn't be due to the Magento configuration, because it is the same Magento test.

[2019-09-20 07:37] pkarw commented on #3569
Seemingly the test.storefrontcloud.io has this module disabled; @patzick can you please confirm?

[2019-09-20 07:37] pkarw commented on #3569
I'm closing the issue bc. the Instant Checkout works on develop for me too

[2019-09-20 07:37] #3569 closed

[2019-09-20 10:50] alinadivante opened #3587 "The same country is displayed twice in the country switcher."
## Current behavior
If you are in store other than the default store, you will see that the same country is displayed twice in the country switching module.

![image](https://user-images.githubusercontent.com/36628922/65321764-585baa80-dba5-11e9-97bb-ca882ab530fd.png)
(but url addresses are fine)

## Expected behavior
There should be three different country names:
- United States - English
- Germa

[2019-09-20 11:36] alinadivante opened #3588 "Unexpected authorization error. Check your Network connection - but user is logged in."
## Current behavior
An authorization error occurred while attempting to log in due to a network problem. I get error message (visible on screenshot), the login pop-up remains, but after closing it turns out that I'm logged in.

![image](https://user-images.githubusercontent.com/36628922/65323246-22b8c080-dba9-11e9-9d3a-0bd482aa8533.png)

## Expected behavior
If  "Unexpected authorization error" oc

[2019-09-20 12:23] razzul commented on #3564
Hi @martinkosmela
I was trying to execute "yarn restore" and getting these error messages

[code]

[2019-09-20 12:34] pkarw commented on #3564
we don't support ES7 yet - it's in the making: https://github.com/DivanteLtd/vue-storefront-api/pull/342

[2019-09-20 12:58] razzul commented on #3564
Hi @pkarw, thanks for the replay but I am not using ES7
```image: docker.elastic.co/elasticsearch/elasticsearch:6.4.1```

[2019-09-20 13:05] razzul commented on #3564
Can't even do "yarn db rebuild" or "yarn db rebuild -- --indexName=vue_storefront_catalog_1"

[code]

[2019-09-20 13:15] pkarw commented on #3564
it's compatible only with ES5.6; the https://github.com/DivanteLtd/vue-storefront-api/pull/342 will be compatible from 6> up

[2019-09-20 13:26] ArturDivante opened #3590 "Incorrect size of suggested product pictures, in some scenarios"
In some scenarios, when availible products pool is limited, suggested product pictures are displayed in incorrectly small size.

## Steps to reproduce the issue
1. Launch develop with multistore enabled
_(reproducing this issue is easier on mulistore, because product pool is smaller and therefore it's easier to find product with only 2 or 3 suggested / promoted options instead of full 8)_
2. Open:

[2019-09-20 13:58] razzul commented on #3564
I am able to run "yarn restore" now, thanks

[2019-09-20 13:59] razzul commented on #3564
Do you have any idea how to pass token as you can seen in the errro token is missing.

[code]

[2019-09-20 15:24] razzul commented on #3564
Hi @pkarw, thanks for your support is now running in our stage server
http://karmickdev.com:3001

[2019-09-20 16:04] kkdg commented on #2365
@waynetheisinger I am feeling free to stop working on this, although it has been stacked to the queue and didn't get the much attention to get going :) thanks (well, however, I won't stop it forever since we have our own format to wrap up the topic. I will also be working on it when my queues become relaxed, in that time  your part will be a great help to that format too. Thanks!)

[2019-09-20 16:19] waynetheisinger commented on #2365
No problem - I had to move to another project this week but I'm back on this next week... I'll comment here to let you know when I make pushes to my fork so that you can keep an eye on things before I do a formal Pull Request back to the main project...

[2019-09-20 19:39] andrzejewsky commented on #3588
Can't reproduce @alinadivante, please send me more details on Slack

[2019-09-20 19:40] andrzejewsky commented on #3587
Unfortunately I'm unable to display all languages. Anyone know if there is some possibility to have access for all of available languages including default one?

[2019-09-20 19:43] pkarw commented on #3587
Please check your config: `storeViews.multistore` should be `true`. Reference: https://github.com/DivanteLtd/vue-storefront/blob/4c367452d306d80cd4397413fa60f7c568bf8e68/src/themes/default/components/core/blocks/Switcher/Language.vue#L9

[2019-09-20 19:51] andrzejewsky commented on #3587
@pkarw yeah, and this line displays current language but... when I have set "German" how can I display default one ("English")? There is no way to read the default lang. The `config.i18n.*` contains always current one.

[2019-09-20 20:37] andrzejewsky commented on #3576
I was looking at this function and this return when there is no `host` is unnecessary and it breaks the loop as you @rain2o mentioned. We can even delete it because when there is no matches at the end function returns empty string. Deleting this line solves the problem. I'll prepare PR with a little bit refactoring this one & check if everything works properly

[2019-09-20 22:16] vue-kacper opened #3594 "Bestsellers are not loading properly on "404" page."
## Current behavior

Bestsellers list is not loading properly on "404" page.

## Expected behavior

Bestsellers list should be rendered properly on "404" page.

## Steps to reproduce the issue

Visit: https://test.storefrontcloud.io/sample-error-page
Refresh page

![image](https://user-images.githubusercontent.com/42430550/65361661-a784f800-dc04-11e9-871a-a2140dbdee44.png)

## Which [Release Cycle

[2019-09-21 08:55] pkarw opened #3595 "Add same SKU with different custom options to the cart"
## What is the motivation for adding / enhancing this feature?

Unfortunately, we haven’t supported this case yet (custom options, same SKU); we recently added support for this case for bundle products and I believe it’s something that could be extrapolated to custom options: https://github.com/DivanteLtd/vue-storefront/pull/3261 3

More info:
- https://forum.vuestorefront.io/t/how-to-create-diffe

[2019-09-21 14:11] vue-kacper opened #3597 "Problem with custom options"
## Current behavior
I'm unable to add bundle type product to cart.

## Expected behavior
I should be able to see bundle type product price and add it to cart.

## Steps to reproduce the issue

Visit: https://test.storefrontcloud.io/gear/gear-3/sprite-yoga-companion-kit-45.html
Try to add the product to cart.

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) s

[2019-09-21 14:40] lorenaramonda commented on #3076
I fixed a typo on default language as a separate PR -> https://github.com/DivanteLtd/vue-storefront/pull/3596

[2019-09-21 15:25] vue-kacper commented on #3597
Related issue:

When I'm adding a bundle-type product to wishlist from the catalog page, in wishlist sidebar I can see the price of $0

![image](https://user-images.githubusercontent.com/42430550/65375308-355bf400-dc94-11e9-9c80-6f80eeb8ee11.png)

But from product details page - removing this bundle-type product from wishlist and adding it again will output different price in wishlist sidebar:

![

[2019-09-21 15:44] lorenaramonda commented on #3076
I guess that trings like `We don't have as many "Minerva LumaTech™ V-Tee-S-Black" as you requested."` are coming directly from Magento/Api so they should come already translated because on the frontend we don't have a placeholder for the product name in that string so it is not possible to localize it.

[2019-09-21 19:35] #3590 closed

[2019-09-22 11:47] pkarw commented on #3597
Related to: #3093 (last comment). @andrzejewsky or @patzick could you please fix it?

[2019-09-22 20:48] #3387 closed

[2019-09-23 07:09] #3023 closed

[2019-09-23 10:22] #3093 closed

[2019-09-23 11:02] ArturDivante commented on #3590
Problem fixed

[2019-09-23 11:54] ivancukns opened #3602 "Translations issues in production mode"
## Current behavior

When trying to translate strings taken from the query string, in custom theme components, the translation does not work in production mode. In dev mode, it works always.
If I try with hardcoded values, the translation works, but in this case, we need the string to be taken from the query.
Example code: `i18n.t(this.$route.query.newsletter)`

## Expected behavior

The query str

[2019-09-23 17:49] andrzejewsky commented on #3594
Actually duplicated here: https://github.com/DivanteLtd/vue-storefront/pull/3540#issuecomment-533501604

[2019-09-23 17:51] andrzejewsky commented on #3594
Actually duplicated here: https://github.com/DivanteLtd/vue-storefront/pull/3540#issuecomment-533501604

[2019-09-24 05:07] pkarw commented on #3602
Just one question to clarify - you mean the string is not getting translated but the query parameter value is accessible or if the query parameter is empty?

[2019-09-24 05:22] ResuBaka commented on #3602
The query parameter is accessible but it is not translated in production mode in dev mode it works just fine.

[code]

Here you have all the code to that we use. @pkarw

[2019-09-24 05:25] ResuBaka commented on #3602
Maybe some more missing info that are helpful.

* Multistore true
* default language: en-US
* storeView language: de-DE

[2019-09-24 06:57] gibkigonzo commented on #3602
@ResuBaka I've created PR to fix this https://github.com/DivanteLtd/vue-storefront/pull/3605 Is your config `i18n.bundleAllStoreviewLanguages` in production is set on `false`?

[2019-09-24 06:58] ResuBaka commented on #3602
Hey @gibkigonzo it is set to `true`.

[2019-09-24 06:58] GabiDivante opened #3606 "Product SKU should be always cast to string"
## What is the motivation for adding / enhancing this feature?

Sometimes the client SKU is in the form of an integer. On the VSF side, we keep them as a string. With synchronization enabled, this results in duplicate products (for vsf, this product is not in the cart). For security reasons, it seems necessary to cast both values ​​on a string, i.e. instead of the selected condition in here:
https

[2019-09-24 07:23] gibkigonzo commented on #3602
Ok :) I see also that there is in config `storeViews.de.disabled` and it's used only to build messages in one file. If we go on https://demo.storefrontcloud.io/de then on banners we have translation but on bottom of page there is still english.

[2019-09-24 07:36] #3588 closed

[2019-09-24 08:16] #3454 closed

[2019-09-24 08:16] #3594 closed

[2019-09-24 08:17] #3576 closed

[2019-09-24 08:19] #3587 closed

[2019-09-24 09:08] #2773 closed

[2019-09-24 09:08] #3602 closed

[2019-09-24 09:11] #3456 closed

[2019-09-24 09:12] #3293 closed

[2019-09-24 09:14] #3205 closed

[2019-09-24 09:25] pkarw opened #3607 "`productName` property is not defined in reviews"
## Current behavior

On PDP page:
https://www.dropbox.com/s/y8hldtj9oc9qksc/Screenshot%202019-09-24%2011.24.52.png?dl=0

[2019-09-24 09:27] pkarw opened #3608 "Size attribute labels not properly loaded"
## Current behavior

https://www.dropbox.com/s/20zcxlex4tv9zai/Screenshot%202019-09-24%2011.26.19.png?dl=0

@patzick you were working on this recently - please just take a look

[2019-09-24 09:29] pkarw opened #3609 "SSR Hydration issue on Homepage"
## Current behavior

https://www.dropbox.com/s/73gkks1l9opvmzt/Screenshot%202019-09-24%2011.28.47.png?dl=0

[2019-09-24 09:32] pkarw opened #3610 "Remove the debug info msg. for search adapters"
## Current behavior

https://www.dropbox.com/s/2ijggremep7adnj/Screenshot%202019-09-24%2011.32.12.png?dl=0

It doesn't convey any value

[2019-09-24 09:34] pkarw opened #3611 "Missing translation strings (all langs)"
## Current behavior

https://www.dropbox.com/s/21zo0wagbn052fp/Screenshot%202019-09-24%2011.33.36.png?dl=0

After adding review

[2019-09-24 09:47] pkarw commented on #3597
I can confim the issue with product options seems to be fixed - it now works for me both for wislists + cart

BUT there is another problem with custom options - I can't add the product to cart

Product with custom options:
http://localhost:3000/gear/gear-3/wayfarer-messenger-bag-custom-options-4.html

Error:

https://www.dropbox.com/s/k26z2fbqz6i8pcb/Screenshot%202019-09-24%2011.46.38.png?dl=0

Pl

[2019-09-24 11:03] pkarw opened #3612 "Can't login - probably due to mailchimp incorect settings"
## Current behavior

https://www.dropbox.com/s/qn32epafksiv7xc/Screenshot%202019-09-24%2013.02.36.png?dl=0

It's probably because Mailchimp is on the critical path

[2019-09-24 12:22] rain2o opened #3614 "appendStoreCode not working if VSF storeCode differs from API storeCode"
## Current behavior
The scenario we want to accomplish is where Vue Storefront store codes in the URL are different from the store code in the API layer (and Magento for our case). We are still using the `/:storeCode` pattern, it just needs to be different. For example, https://mystore.com/en-us should actually send `storeCode=en_us` to the API. I have been unable to accomplish this without modify

[2019-09-24 14:24] pkarw commented on #3032
This is just for 2.0 @andrzejewsky; assigning this to you just to not forget about it; please don't start this issue right away :D

[2019-09-24 19:20] andrzejewsky commented on #3612
@gibkigonzo can you have look at this? I think it's related to https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/user/store/actions.ts#L63 because that error is consumed in the template and displays as error notification which you can see on the screenshot (last one), would be nice to find out what where that error comes from.

[2019-09-24 19:41] andrzejewsky commented on #3607
I can't even add a review:
<img width="1300" alt="Screenshot 2019-09-24 at 21 37 10" src="https://user-images.githubusercontent.com/7943292/65544448-86c5e680-df13-11e9-8eca-e50cd06bf2a2.png">
API response says `Request does not match any route.` it might be a different route for reviews, for sure it needs to be checked as well.

@gibkigonzo please look at this, especially about that missing `produ

[2019-09-24 19:46] andrzejewsky commented on #3612
@gibkigonzo Unfortunately I couldn't reproduce it for the first sight, but for sure it should occurs when you go to `/my-account` as not logged user, then you will see login dialog and try to log in.

[2019-09-25 03:20] pkarw commented on #3607
Don’t worry about the issues with adding the reviews it’s because the particular endpoint you’re using for demo (test?) doesn’t has https://github.com/DivanteLtd/magento2-review-api installed. The only error to fix here is with prosuctName it’s  vidiblr on products having reviews like https://test.storefrontcloud.io/gear/gear-3/joust-duffle-bag-1.html

[2019-09-25 06:45] andrzejewsky commented on #3607
@pkarw In terms of reviews - yeah this is what I wanted to check today, thanks!
@gibkigonzo fixing that `productName` should be really quick, it seems like missing prop.

[2019-09-25 08:38] #3607 closed

[2019-09-25 08:52] janmyszkier commented on #1273
I think this can be closed thanks to PRs made and mentioned here

[2019-09-25 08:58] #3611 closed

[2019-09-25 11:09] gibkigonzo commented on #3612
@andrzejewsky working on it. Probably it's caused by wrong api key
[code]
I will pull this information to the console so that we can check on https://test.storefrontcloud.io

[2019-09-25 11:14] pkarw commented on #3612
It's surely caused by wrong api key. But ppl. might have wrong keys. It should display the error message probably but don't block the login procedure. It shouldn't be on critical path

[2019-09-25 11:15] pkarw commented on #3612
I'd say that even we shouldn't show the error message when reading the subscription status; only when subscribing/desubscribing  as it was before in 1.10/1.9 - can you please fix it to the previous state?

[2019-09-25 11:58] pkarw commented on #3612
It's because of additional await added in https://github.com/DivanteLtd/vue-storefront/blob/ac72a07a489bfb4e040c088315cb338d7408097d/core/modules/user/store/actions.ts#L129

[2019-09-25 13:24] #3579 closed

[2019-09-25 14:01] patzick commented on #3597
fixed with #3600 :)

[2019-09-25 14:26] pkarw commented on #3597
@patzick it's not :) see the comment about custom options: https://github.com/DivanteLtd/vue-storefront/issues/3597#issuecomment-534482149

[2019-09-25 14:29] #3609 closed

[2019-09-25 16:17] rain2o opened #3621 "silentMode in task.ts ignored for spawnNotification if response is a string"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Check our forum:
https://forum.vuestorefront.io/

# Is there something you don't understand? What is it? Describe it.
I am not sure if

[2019-09-25 17:02] undefinederror opened #3622 "url_key update partially in VSF unless indexer:reindex vsbridge_category_indexer is invoked"
Please answer the following questions for yourself before submitting an issue.
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

I have Magento2 loaded with sample data.
I have installed magento2-vsbridge-indexer, all entities set on "update on save".
I went on `<magento>/admin/catalo

[2019-09-25 18:39] andrzejewsky commented on #3597
There were few errors but when I've fixed them, now it seems like it's also a problem with the API:
<img width="1098" alt="Screenshot 2019-09-25 at 20 37 03" src="https://user-images.githubusercontent.com/7943292/65629856-7c1f5600-dfd4-11e9-8cdb-b1eb266b210a.png">
<img width="783" alt="Screenshot 2019-09-25 at 20 37 12" src="https://user-images.githubusercontent.com/7943292/65629863-804b7380-dfd4-

[2019-09-25 18:46] pkarw commented on #3622
@undefinederror you're right currently when the category is changed indexer is not performing re-index on products attached with this category and this is the reason why those products have the `product.url_path` field not updated (and this field is being taken to form the URLs). If you save / change any particular product (like prices) it's gonna be updatetd automatically. Can you please create a

[2019-09-25 18:56] #3612 closed

[2019-09-25 20:23] #3610 closed

[2019-09-25 20:24] pkarw commented on #3621
@andrzejewsky or @gibkigonzo please fix it before 1.11rc release

[2019-09-26 07:29] #3479 closed

[2019-09-26 09:37] undefinederror commented on #3622
done!
[DivanteLtd/magento2-vsbridge-indexer#122](https://github.com/DivanteLtd/magento2-vsbridge-indexer/issues/122)

Thank you @pkarw  for your prompt reply

[2019-09-26 10:03] razzul opened #3628 "Unable to place order"
<div class="text-center p-3">
          <span class="border-wrap"><img src="/razzul/img/blob/master/order-failed.gif?raw=true" alt="order-failed.gif"></span>
      </div>

[2019-09-26 10:05] razzul commented on #3453
How you got the solution ? for me its still there I am not able to place order event in cash on delivery

<div class="text-center p-3">
          <span class="border-wrap"><img src="/razzul/img/blob/master/order-failed.gif?raw=true" alt="order-failed.gif"></span>
      </div>

[2019-09-26 10:54] andrzejewsky commented on #3606
@GabiDivante is there any possibility to have sku as integer? I thought there is always a string as sku is in format like `xx-xx-xx` are you sure about that? can you show some examples or how to reproduce error when it breaks the synchronisation?

[2019-09-26 11:00] pkarw commented on #3606
@andrzejewsky it could be whatever. it should be cased to string to be sure

[2019-09-26 11:11] andrzejewsky commented on #3606
@pkarw ok I see, thanks 👍

[2019-09-26 11:36] andrzejewsky commented on #3628
@razzul thanks for reporting, and really nice video (it shows basically everything developers need) 👍 @gibkigonzo look at sending data to the API, it might be just wrong format

[2019-09-26 11:48] #3621 closed

[2019-09-26 13:11] #3606 closed

[2019-09-26 14:41] ArturDivante opened #3631 "Incorect breadcrumb redirection from static/cms pages for non-default stores"
## Current behavior
Homepage breadcrumb tries to redirect to default store instead of specific. As a result - empty page is displayed.

## Expected behavior
Homepage breadcrumb should navigate correctly to specific store homepage.

## Steps to reproduce the issue
1. With multistore enabled, switch to non-default langiage.
2. Open one of the static or CMS pages from the footer (i.e. http://localhos

[2019-09-26 14:54] undefinederror opened #3632 "cart sync not working"
## Current behavior
I have added two products on my local Magento instance while being logged in.
I log into VSF and I don't see the items in the cart.
The items do show up in the `api/cart/pull` response, sometimes.
## Steps to reproduce the issue
Sorry the gif is long, magento takes forever to respond
![cartsync](https://user-images.githubusercontent.com/8209966/65698555-fc999180-e07c-11e9-9002-

[2019-09-26 15:02] undefinederror commented on #3632
If it can help, these are the two items that are supposed to show up in cart

![image](https://user-images.githubusercontent.com/8209966/65700056-4f744880-e07f-11e9-9d55-69217657e2ba.png)

Let me know if I can provide more info

[2019-09-26 16:13] andrzejewsky commented on #3631
@ArturDivante

Yeah because we don't have translations for them, it was introduced here https://github.com/DivanteLtd/vue-storefront/pull/3592

[2019-09-26 18:30] ArturDivante commented on #3631
@andrzejewsky
Ok. I have no problem with them being linked there (for now). But with the fact, this redirection is not working, and throws user to empty page when clicked from de or it store ;)

[2019-09-26 18:33] andrzejewsky commented on #3631
@ArturDivante yeah agree with breadcrumb, that needs to be fixed.

[2019-09-26 19:33] pkarw commented on #3632
@undefinederror would you be so kind and test this scenario on “develop” branch?

[2019-09-26 19:35] pkarw commented on #3628
@razzul are you using our demo-magento2.vuestorefont instance or your own?

[2019-09-27 03:05] grimasod commented on #3631
I'll fix this, as part of PR #3267. Ready today

[2019-09-27 07:18] dimasch commented on #764
@pkarw Ready the first version of module for Algolia https://github.com/Interactivated/vsf-algolia-search
Pls, add feedback.
Thanks.

[2019-09-27 07:20] dimasch commented on #764
PS: I will improve documentation and implement load more feature.

[2019-09-27 07:51] #764 closed

[2019-09-27 07:51] pkarw commented on #764
Great job Dima! Thanks!

[2019-09-27 08:33] Dnd-Dboy commented on #2637
I will work on this during hackathon :)

[2019-09-27 08:34] DnD-Waxime commented on #3608
I will check it asap during the hackathon 👍

[2019-09-27 09:11] DnD-Waxime commented on #3501
Hi, I'll try to work on this during the hackathon 👍

[2019-09-27 09:18] pkarw opened #3635 "Test the `runInNewContext: false` in SSR Renderer"
## What is the motivation for adding / enhancing this feature?

I believe we can save a lot on TTFB (Time to First Byte) by making use of the [`runInNewContext: false`](https://github.com/DivanteLtd/vue-storefront/blob/01a1a0e093c6185a667d5c49e19b0cb77d4880b1/core/scripts/server.js#L28).

Currently, the Renderer is getting the app bundle and re-interprets it with each incoming request.

Unfortunat

[2019-09-27 09:19] pkarw commented on #3635
@gibkigonzo and @andrzejewsky I need your thougths on that :)

[2019-09-27 10:25] undefinederror commented on #3632
Of course!

![image](https://user-images.githubusercontent.com/8209966/65761813-e1cc2900-e11f-11e9-874b-ff12602d6d3b.png)

Seems like the "list" action returns no items, so nothing is added to client cart.
That sku doesn't look right, does it?
![image](https://user-images.githubusercontent.com/8209966/65762119-8babb580-e120-11e9-8419-f6f369bef961.png)

Could it be concatenating sku from all these

[2019-09-27 10:38] undefinederror commented on #3632
I just removed that one item, and now the cart syncs
![image](https://user-images.githubusercontent.com/8209966/65762949-85b6d400-e122-11e9-9442-07d54576bb7d.png)

[2019-09-27 10:46] undefinederror commented on #3632
I have re-added the item from VSF, I can see it in cart
![image](https://user-images.githubusercontent.com/8209966/65763467-cb27d100-e123-11e9-973f-4a8a8fd20c02.png)

`cart/update` payload has the short sku
![image](https://user-images.githubusercontent.com/8209966/65763568-ff02f680-e123-11e9-8489-1c8fdac83077.png)

response has the long sku
![image](https://user-images.githubusercontent.com/82099

[2019-09-27 10:47] pkarw commented on #3632
Yeah, we  can't sync the bundle products this way - they never exist in the Elastic; it shouldn't cause the error though; it was introduced with Vuex refactor of cart sync in 1.10 and got fixed by @andrzejewsky in 1.11 and now needs to be ported to 1.10

[2019-09-27 10:47] pkarw commented on #3632
currently, when the sync proces is interupted (by bundle product) the totals won't be also summed up we must better support exceptions in the `cart/merge`

[2019-09-27 11:01] pkarw commented on #3628
Hi @razzul I can't reproduce this error on `demo-magento2.vuestorefront.io` backend
https://www.dropbox.com/s/iei0mf3c0teter6/Screenshot%202019-09-27%2012.59.20.png?dl=0

Please do check the `vue-storefront-api` error log for more info. When there is no error message from the `api/order/create` endpoint it's probably a Magento2 related issue - maybe magento logs will be helpfull as well

https://g

[2019-09-27 11:01] #3628 closed

[2019-09-27 11:04] andrzejewsky commented on #3632
@undefinederror Did you use the newest develop branch? Because very similar issue was fixed yesterday, basically in the same place.

[2019-09-27 11:06] razzul commented on #3628
My own, its working after doing these changes.

<div class="text-center p-3">
          <span class="border-wrap"><img src="/razzul/img/blob/master/change-payment-settings.gif?raw=true" alt="change-payment-settings.gif"></span>
      </div>

[2019-09-27 11:10] pkarw commented on #3632
Hint: check if the [`getProductVariant`](https://github.com/DivanteLtd/vue-storefront/blob/fd23a49d633b07134da4eaa25aa12379e2166f42/core/modules/cart/store/actions/productActions.ts#L17) is in `try/catch` if not - then you need to fetch latest develop

[2019-09-27 11:17] undefinederror commented on #3632
I just checked out to develop this morning around 1:30 hrs ago, version 1.11.0-rc.1
getProductVariant has **no** try/catch

I'll have a better look in a couple of hours, after lunch.
Thank you for replying so quickly

[2019-09-27 11:55] mattheo-geoffray commented on #3457
Linked PR: https://github.com/DivanteLtd/vue-storefront/pull/3637

[2019-09-27 12:55] rain2o commented on #3399
Claiming this issue for today's Hackathon. Working on it with @khako

[2019-09-27 13:01] razzul opened #3639 "Language not changing, its only redirecting to base url"
<div class="text-center p-3">
          <span class="border-wrap"><img src="/razzul/img/blob/master/change-lang.gif?raw=true" alt="change-lang.gif"></span>
      </div>

As you can see, its only populating config.i18n default information, also there is no option to provide multiple i18n details to populate in modal.

[2019-09-27 13:03] mattheo-geoffray opened #3640 "Add compatibility with Mercure protocol"
## What is the motivation for adding / enhancing this feature?
Mercure repository: https://github.com/dunglas/mercure

The Mercure protocol allows to push data updates to web browsers and other HTTP clients.

It can publish real-time updates of resources served through web APIs, to reactive web and mobile apps.

It is built on top of HTTP so it supported by native browsers

One example for VSF is

[2019-09-27 13:26] nhp opened #3642 "Browser History partially broken, back working but forward not"
## Current behavior
If going from some dynamic link to another, like click through categories, or going from category to a product and using the browser:back functionality everything is fine. But after using browser.back there is just a short "flicker" of the browser:forward button and afterwards it is not usable. Browser:back keeps working.
Originating from static links, like homepage, going to a

[2019-09-27 13:28] gibkigonzo commented on #3639
It should work, it's probably related to your config. Can you check if in `storeViews` specific lang config is set to disabled?
For example:
[code]
It should be set on false to work properly

[2019-09-27 13:56] pkarw commented on #3642
@nhp this is something you observerd only on develop or also on master branches? @andrzejewsky it's maybe related to the issue your're working on

[2019-09-27 13:57] #3608 closed

[2019-09-27 14:02] pkarw commented on #3632
it should look like this:

[code]

:) Let us know if we can close this issue and by the same time @gibkigonzo has ported this bugfix to 1.10

[2019-09-27 14:18] undefinederror commented on #3632
yes, my bad, sorry, I did checkout to develop by I had forgotten to pull :(
I see the try/catch clause now, and the error in console is gone.

So, if I understand correctly, bundle products is something that currently cannot be rendered in client cart when the cart is sync'd from server. Is it something that I should implement myself (though I don't think I can) or is it that is planned to be supp

[2019-09-27 14:19] pkarw commented on #3632
Thanks! Would be great if you'll like to implement this feature and raise a Pull Request; we haven't had this feature on our roadmap yet

[2019-09-27 14:19] #3632 closed

[2019-09-27 14:22] Dnd-Dboy commented on #2637
Done, you can find my PR here: https://github.com/DivanteLtd/vue-storefront/pull/3645

[2019-09-27 14:46] mattheo-geoffray commented on #3475
Related PR: https://github.com/DivanteLtd/vue-storefront/pull/3646

[2019-09-27 15:17] rain2o commented on #2878
@pkarw VSF actually already integrations with the `/shipping-information` endpoint, which returns not only `totals`, but also `payment_methods`. It's a little confusing because of the name of the endpoint, but it's there nonetheless. In the post you can provide shipping and billing address. This is actually how Luma does it in standard Magento frontend. I think we could use the `CartService.setShi

[2019-09-27 15:43] pkarw commented on #2878
Cool observation. Let’s go this way indeed

[2019-09-27 16:31] rain2o commented on #2878
I'll claim this one. Starting it at the end of the hackathon, will finish it shortly after.

[2019-09-27 17:45] ResuBaka commented on #3642
@pkarw I have just tested it on demo as we could not test it when the issue was written (demo page had errors). On there I can see the same issue.

[2019-09-27 19:30] andrzejewsky commented on #3642
yeahh I had something similar either, seems like there is seriously something wrong, I'll try to figure out where is the problem

[2019-09-27 22:21] pkarw commented on #3639
I can't reproduce this one. Please @razzul check the @gibkigonzo suggestion and let us know if it helped

[2019-09-27 22:21] #3639 closed

[2019-09-27 22:22] pkarw commented on #3635
I've shortly testedd it out - it given me a lot of `duplicated getters` issues; doesn't seem to be easy to fix; first we must ensure it's worth further investigation by doing some trace/New Relic profiling

[2019-09-27 22:23] pkarw commented on #3543
it's not a bug by the way - so I changed the type

[2019-09-28 07:33] Faizanq commented on #1495
Am also facing same issue, USER already added into gruop.

I can run "docker run helllo-world" which work fine

what else am missing

[2019-09-28 12:02] mateuszrusyn opened #3652 "Custom category filter"
## Prerequisites
- [x] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

I've tried to add custom category filter (type, manufacturer).
I added filters in local.json:

` "defaultFilters": ["color", "size", "price", "manufacturer", "type"],`

and in elastic.schema.product.json

`"manufacture

[2019-09-28 13:08] andrzejewsky commented on #3652
@mateuszrusyn I'm not to sure but.. try to remove 'attribute' from `ssr.initialStateFilter` config option. @pkarw do you know how to solve this?

[2019-09-28 13:33] andrzejewsky commented on #3553
Hey, I've have introduced something like this right now: https://github.com/DivanteLtd/vue-storefront/blob/develop/config/default.json#L455 so far, so you can decide where you want to place the sign and value (it'll be available in 1.11), but still you cannot do anything with the value.

Introducing format that depends on the selected language/locale is a quite good solution and also I like the id

[2019-09-28 14:06] themreza commented on #3553
@andrzejewsky I believe having a config option is far easier than changing the theme via mixins for most of the users.

[2019-09-28 15:21] pkarw commented on #3652
@mateuszrusyn please make sure you’ve added “manufacturer” field to the config.entities.product*.includeFields so it will be fetched from the elastic. Please also make sure you’ve restarted elastic.

If none of those help the. Please paste a content elastic is returning from the /api/catalog/..../product/_search endpoint (in the network tab)

I’m also not sure which version of VS are you using? 1.

[2019-09-29 11:02] andrzejewsky commented on #3642
@nhp I've came across why `browser:forward` doesn't work. Basically this line: https://github.com/DivanteLtd/vue-storefront/blob/develop/core/modules/url/router/beforeEach.ts#L35 is responsible for it. We calling `next` when some route was changed which means that we always put this route on the top of the history stack.

So when you trigger `browser:back`, the route which you are going to is adde

[2019-09-29 19:24] andrzejewsky commented on #3635
@pkarw in my opinion, one person can spare one day for testing it, do some measurement as well, try to solve araised issues and decide, worth or not. What do you think?

[2019-09-29 20:40] pkarw commented on #2165
we should probably just update the `offlineHelper.isOnline` to check the response times measured by some well-known network request against the config based `config.api.offlineModeResponseTreshold`

[2019-09-30 06:36] razzul commented on #3639
Hi @gibkigonzo here is my congif:

[code]

[2019-09-30 06:38] razzul commented on #3639
Could you please guide me how to setup vue storefront for 2 languages
1. en-US-USD
2. de-DE-EUR

[2019-09-30 07:33] patzick commented on #3631
@grimasod we should take a closer look into #3267 as #3633 was aiming for fix here.
I believe we could try to add this to RC2 after CR :)

[2019-09-30 07:33] #3631 closed

[2019-09-30 07:40] gibkigonzo commented on #3639
I think we should remove `disabled` flag from config. It's misleading because it's used only in language switcher and while building messages json. It's not used in multistore. Maybe simpler solution is just check if specific storeView exist, for example:
[code]
@pkarw, wdyt?

@razzul Probably just set `disabled` to `false` and it should work fine.

[2019-09-30 08:19] #3457 closed

[2019-09-30 08:26] #2515 closed

[2019-09-30 09:30] razzul commented on #3639
Hi @gibkigonzo, now I am able to see the language options for German and Italy

<div class="text-center p-3">
          <span class="border-wrap"><img src="/razzul/img/blob/master/lang.gif?raw=true" alt="lang.gif"></span>
      </div>

But on clicking on German or Italy I am getting error

[2019-09-30 11:03] cewald opened #3655 "Multiple `prepareStoreView` calls overwrites existing store-view config incorrectly"
## Current behavior

If the `prepareStoreView` method is called multiple times after another, it overwrites the existing config with a plain store object if using `extend` to extend the current store.
After the first call, the `extend` property of the `StoreView` object is gone and then the `getExtendedStoreviewConfig` method merges wrong configs on second run.

This happens for example since in t

[2019-09-30 11:06] alinadivante opened #3656 "VSF freezes after selecting the checkbox "Use my company's address details"."
## Current behavior
VSF freezes after selecting the checkbox "Use my company's address details"

## Expected behavior
Company address details should be copied.

## Steps to reproduce the issue
1. Log in
2. Go to My Account
3. Switch to My shipping details tab
4. Press _Edit your shipping details_
5. Select the checkobox _Use my company's address details_

## Repository

## Can you handle fixing th

[2019-09-30 11:25] cewald commented on #3655
So, if I remove the `storeView.extend` code in `getExtendedStoreviewConfig` it is working:
[code]

I don't see the need of this two lines anyway when we are using `lodash-es/merge` in this order.
Should I open a PR without this lines or are there any doubts?

[2019-09-30 11:41] alinadivante commented on #3485
@patzick please check if the master has been merged into development, because I can reproduce it on release 1.11
![image](https://user-images.githubusercontent.com/36628922/65875664-0296b780-e388-11e9-8df6-12245b0c5125.png)

[2019-09-30 12:19] ArturDivante opened #3659 "Inconsistent behaviour of multistore on next.storefrontloud.io"
## Steps to reproduce the issue
1. Open https://next.storefrontcloud.io/it
2. Open https://next.storefrontcloud.io/de
3. Click on language selector in the footer

## Current behavior
/de shop opens from the link, but with content patrially in german, partially in english.
/it shop returns "something went wrong" error.
language selector opened from /de store contains only 1 option
![nextDe](https:/

[2019-09-30 12:42] alinadivante commented on #3659
@andrzejewsky please change the addresses of static pages in the default store
from http://localhost:3000/about-us to http://localhost:3000/i/about-us
http://localhost:3000/i/customer-service http://localhost:3000/customer-service

[2019-09-30 12:57] alinadivante commented on #3597
I have the same problem when I add a bundle-type (or group) product to wishlist (or compare list) from the catalog page on release v11.1
![image](https://user-images.githubusercontent.com/36628922/65880729-8b1a5580-e392-11e9-953c-3dd4dc408f1a.png)

![image](https://user-images.githubusercontent.com/36628922/65880768-a1c0ac80-e392-11e9-980c-82bdb749a4e5.png)

[2019-09-30 13:45] ArturDivante opened #3662 "Cannot change quantity on PDP in offline mode"
## Steps to reproduce the issue
1. Open next.storefrontcloud.io
2. Open Women category, then turn to **offline mode**
3. Open any product page
4. Try to adjust quantity

## Current behavior
Quantity field is inactive and user cannot "click into it" to adjust quantity in any way - keyboard input, buttons, scroll, etc.

## Expected behavior
Quantity should be adjustable in offline mode

## Repositor

[2019-09-30 15:37] pkarw commented on #3655
hi, @cewald thanks for that one! @andrzejewsky was fixing pretty much similar issue; @andrzejewsky please look at this one

[2019-09-30 15:46] pkarw commented on #3597
OK, this is urgent one. There is an option is using `priceInclTax` instead of `price_incl_tax` - but rather this is not this case; maybe it's becuase we're calculating the prices just on PDP. In that case I belive we may want to disable "add to wishlist" and "add to compare" for `budle` and `grouped` types of product on the category product list and let those products be added to the comparison/wi

[2019-09-30 15:48] pkarw commented on #3659
@andrzejewsky seemingly it's a mix of the other issues we already fixed in 1.11 and not yet in 1.10; maybe we should at first priority prepare 1.11 to the release and then fix this one in 1.10 by just backporting some fixes from 1.11; however if there is easier/other fix for this one please apply

[2019-09-30 16:05] pkarw commented on #3662
I guess it should be fixed in both: 1.11 / 1.10

[2019-09-30 16:07] andrzejewsky commented on #3597
everything works for me with the newest API (I have API installed locally), but it's just question of `priceInclTax` and `price_incl_tax` as you @pkarw said

[2019-09-30 16:10] #3597 closed

[2019-09-30 16:22] pkarw commented on #3485
@andrzejewsky please do recheck

[2019-09-30 16:39] andrzejewsky commented on #3662
@ArturDivante Seems like it works, even on `next`:

![test](https://user-images.githubusercontent.com/7943292/65898233-58338a00-e3b1-11e9-9b4e-12829f816d37.gif)

[2019-09-30 16:49] ArturDivante commented on #3662
@andrzejewsky You are switching to offline from PDP itself. Pls follow my steps and turn to offline mode **before** you open PDP.

[2019-09-30 16:59] andrzejewsky commented on #3655
@cewald yeah you are right, it works without that line, thanks! (Sorry I was faster with the PR 😃 )

[2019-09-30 17:07] andrzejewsky commented on #3662
@ArturDivante ok now I see, sorry

[2019-09-30 17:31] andrzejewsky commented on #3662
@ArturDivante  I'm not too sure if we can solve it as this is how it was designed. You cannot use all of functionalities in the offline mode, some of them are limited. In the offline mode we processing the data that has been loaded already.

It doesn't work because you are not checking the stock on the category page but only when you visit product page. Because of you visit this page in the offlin

[2019-09-30 17:49] pkarw commented on #3662
@andrzejewsky lets take it easy; in the offline mode stock check should be disabled so user should be able to add any qty they wanted; then when the cart is being synced magento / backend is checking the available qty anyway and raising an issue when needed

[2019-09-30 20:08] andrzejewsky commented on #3662
@pkarw yeah... sorry for complicating such a simple thing 😄 PR prepared

[2019-10-01 05:48] grimasod commented on #3631
@patzick Ok, I can look at it again. When I checked #3633 last week, it didn't resolve the same issues, but I see it has some of the same functionality now.

One difference is that #3633 has most code in the theme breadcrumb component, whereas I used the breadcrumbs module much more in #3267

I found the breadcrumbs module is necessary to avoid calculating the categories twice (once for breadcrumb

[2019-10-01 06:26] razzul opened #3668 "This site can't be reached ( in mobile)"
## Current behavior
I have hosted vue-storefront in my server which I can access from desktop but while I try to access from mobile it is not accessible

<div class="text-center p-3">
          <span class="border-wrap"><img src="/razzul/img/blob/master/Screenshot_2019-10-01-11-51-22-373_com.android.chrome.png?raw=true" alt="Screenshot_2019-10-01-11-51-22-373_com.android.chrome.png"></span>

[2019-10-01 06:29] pkarw commented on #3668
Seems like some issue with devops/server configuration rather than VSF core

[2019-10-01 06:29] #3668 closed

[2019-10-01 06:30] razzul commented on #3668
Hi @pkarw could you please guide me how to fix these issue

[2019-10-01 06:41] razzul commented on #3668
Issue solved, it was server related issue
Thanks

[2019-10-01 08:10] haelbichalex opened #3669 "Vue Production Mode: DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method."
Related issues: #3190, #2216, #1642
When reloading a category page, I get the following error in my console:
[code]

This is not really a bug for the releases listed below, since I can't reproduce the error there. I've seen this issue occurred a couple of times before and I want to find out what's happening there. Note that I'm already running the latest VSF version 1.10.3. Also this issue only oc

[2019-10-01 08:12] haelbichalex commented on #3669
Also interesting is this PR: #2220

[2019-10-01 08:59] pkarw commented on #3669
I've changed to `question` - I'm not sure if it's a bug - we need to confirm

[2019-10-01 10:31] #3642 closed

[2019-10-01 10:45] #3655 closed

[2019-10-01 10:46] #3656 closed

[2019-10-01 11:04] ArturDivante commented on #3656
Fixed correctly on develop

[2019-10-01 11:48] andrzejewsky commented on #3659
@ArturDivante please set `false` for `enabled` option in the config file under the particular stores sections, and these languages will appear

[2019-10-01 11:57] #3662 closed

[2019-10-01 13:45] ArturDivante opened #3673 "Make cart design consistent for all types of products"
## What is the motivation for adding / enhancing this feature?
After introducing possibility to edit product properties (color, size) from cart level, product box for them was redesigned - quantity field, remove button etc. were moved to new positions.

However, for products that don't have such options, old design is still in use. So in case you have both types of products in cart at the same tim

[2019-10-01 14:27] pkarw commented on #3673
seems like UI bug - and pretty easy to fix

[2019-10-01 17:42] cewald opened #3674 "`currentStoreView()` is empty in `metaInfo()` on SSR product page"
## Current behavior

The `storeView` state is empty when you call it inside `metaInfo()` on a server-side request of a single-file-component – like in the product-details-page.

I didn't found a way yet to get the current store view using the state management in `metaInfo()`. I want to show the current currency-sign and default-language-code inside an meta-tag.

I read about common [`vue-meta` cav

[2019-10-02 08:49] #3673 closed

[2019-10-02 10:59] #3659 closed

[2019-10-02 13:15] jakubmakielkowski opened #3680 "Login components shows up after Logging out"
## Current behavior
Login component pops up when it should not. It shows in some cases when **logging out**.

## Expected behavior
After logout no Login component shows up.

## Steps to reproduce the issue
1. Log in
2. Open left SidebarMenu
3. Navigate to "My Account"
4. Click Log out in this menu
5. Now Login components Popup. It is propably fired because router treis to navigate to protected rou

[2019-10-02 16:06] juho-jaakkola commented on #3553
@andrzejewsky It was already possible to define the currency placement using the `currencySignPlacement` setting that takes the value `append` or `prepend`. So this new `priceFormat` setting doesn't really introduce any new functionality.

I agree that best solution would be to have both a config option and a hook. The hook would give maximum flexibility in case the setting is not enough for some

[2019-10-02 17:08] andrzejewsky commented on #3485
ok for me works, @alinadivante / @ArturDivante Can you confirm with the newest develop?

[2019-10-03 05:31] alinadivante commented on #3485
@andrzejewsky for a short while I have this problem. After 1-2 seconds all the elements are displayed.

[2019-10-03 07:24] #3674 closed

[2019-10-03 10:39] cewald commented on #3674
@andrzejewsky Thanks for this fix! I only have one question: Why not hydrate the whole `storeView` object and just `{ storeCode: currentState.storeView.storeCode }`?

[2019-10-03 13:06] benkelly92 commented on #2662
I was also having this issue and believe it's related to memory.

We use a combination of Mac, Linux and WSL. On our Mac & WSL machines, it doesn't happen. On our Linux boxes, it would happen occasionally, and we'd need to rebuild to fix it.

Today we tried to spin up a testing server, using DigitalOcean's cheapest droplet and we'd get this issue with every build. However, after upping the memory

[2019-10-03 18:51] mattbryanswan commented on #1965
Does anyone have a status on this? It would be of primary interest to our implementation. I'd like to contribute or jumpstart it if it's gone cold.

[2019-10-04 06:54] pkarw commented on #1965
Hi Matt; nothing is going on here afaik; This might be usefull for you to quick-start: https://github.com/DivanteLtd/vue-storefront-integration-sdk

[2019-10-04 12:53] lukeromanowicz opened #3684 "Router is pushing a duplicated route to dynamically resolved urls"
## Current behavior
When `location.hash='foo'` executed on a dynamically resolved page then it takes two clicks on browser's "back" button to remove it from the url.

The reason why setting the hash over the location object breaks the history is the following: when setting the hash value over the location object the browser history is updated automatically. Then the vue-router comes and recognizes

[2019-10-04 13:07] pkarw commented on #3684
Related to: https://github.com/DivanteLtd/vue-storefront/pull/3653

[2019-10-06 05:44] Faizanq commented on #1495
For latecomers,

In my case in I have old docker version, that causing the issue.

But if you still facing the issue the do below changes, so will get more idea about the error

1. find line[196], vue-storefront/core/scripts/installer.js
2. inside [if] condition change "docker-compose up -d > /dev/null 2>&1" to "docker-compose up -d"
i.e.

 if (shell.exec(`docker-compose up -d`).code !== 0) {

[2019-10-07 12:15] krskibin commented on #3440
I have the same problem with building vsf using Docker. Why not add these dependencies to Dockerfile?

[2019-10-07 13:48] alinadivante commented on #3680
After logging out and reopening the sideMenu, the main view with categories should be displayed. Now it looks like on my screen:
![image](https://user-images.githubusercontent.com/36628922/66317469-dba52c00-e919-11e9-813e-72236525e9cc.png)

[2019-10-07 14:59] krskibin commented on #3463
I'll take this one. Can you assign me?

[2019-10-07 19:07] pkarw commented on #3463
@krskibin we can only assign issues to the core team members, but feel free to take this one; it's yours ;)

[2019-10-07 20:14] pkarw commented on #2861
@andrzejewsky we've just got another user inquiry regarding this issue Today (Slack) and I belive we should take care of it in the next feature release

[2019-10-07 20:26] pkarw commented on #3440
@andrzejewsky

[2019-10-08 05:18] ResuBaka commented on #3440
@michaelKurowski when you call it directly and don't have the native dependencies to build packages there it can only help with adding an entry to the documentation that you need to have like written [here](https://github.com/nodejs/node-gyp#installation) like python, make and C/C++ compiler toolchain installed when you are on linux/unix system.

For the docker container can you give me an example

[2019-10-08 06:57] rizwan-i-khan commented on #1678
any solutions for this?

[2019-10-08 13:08] afirlejczyk commented on #3622
@pkarw @underf

`product.url_path` - does not include parent category path (by default), so there is no need to update product after category changed.
we only have "short" url_path for products (by default) exported by https://github.com/DivanteLtd/magento2-vsbridge-indexer

As I take a look on screens, I understand that url path for **subcategories** is not updated ?
I will check that.

After we

[2019-10-08 13:09] #3622 closed

[2019-10-08 16:15] andrzejewsky commented on #3485
@jorkvist Is it still occurs for you? Could you check latest release? It seems like on the weaker connections there is a kind of blink - you don't see all of images but they are displayed after few seconds when they just loaded.

[2019-10-08 19:29] andrzejewsky commented on #2781
@gibkigonzo can you check if this occurs in the 1.11?

[2019-10-09 05:44] gibkigonzo commented on #2781
@andrzejewsky yes, it still occurs. I will check where is the problem

[2019-10-09 11:46] haelbichalex opened #3695 "Reset password based on website_id"
## What is the motivation for adding / enhancing this feature?

A user is associated to a website. Currently when using the reset password modal, a request is sent to the vue-storefront-api with the given email:
[code]
You see there is a hard coded websiteId "1" [here](https://github.com/DivanteLtd/vue-storefront-api/blob/master/src/api/user.js#L139).
If the current store is not associated to this

[2019-10-09 16:08] #3652 closed

[2019-10-09 16:52] mateuszrusyn opened #3696 "Getting specific product in custom component"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

# Is there something you don't understand? What is it? Describe it.
I don't know exactly how to use Vuex getters to get for example, singl

[2019-10-09 17:47] pkarw commented on #3696
Hi @mateuszrusyn please use the `product/list` or `product/single` action using the proper SearchQuery filter passed as an argument:

[code]

[2019-10-09 17:47] #3696 closed

[2019-10-10 00:07] themreza opened #3697 "Comparison attributes not showing up"
## Current behavior

When you add products to the comparison page, none of the product attributes show up, even though the imported attributes have is_comparable set to true.

## Expected behavior

It should correctly display the attributes marked to be shown in the comparison page.

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

- [X] YES
- [ ] NO

[2019-10-10 04:56] Zyles commented on #3553
Should add option to support how many decimal points you want.

Countries with prices like 100,00 usually do not display ",00", instead they show "100". This is an annoying problem with default Magento. Would be nice to not have it on vue storefront too.

The precision is only needed in checkout calculating taxes.

[2019-10-10 06:29] cewald opened #3698 "Multiple use of `attribute/list` action results overwrites each-other"
## Current behavior

If I load a custom attribute using `attribute/list` action (for example in a mounted method of component of a component) to fetch separat attributes, and there is another fetch going on, the result is overwriting the last one. So only the results of the last one are in the state attribute lists.

I think it is caused by updating the whole object at once without consider the cu

[2019-10-10 07:47] #3680 closed

[2019-10-10 07:49] cewald commented on #3698
Okay, probably I'm wrong with my guess about the overwritten state – but the `attribute/getAttributeListByCode` seems not to be updated if I load the attributes using `mapGetter` in a computed property. Maybe the computed caching is the problem – the state seems right.

I will close it – because it seems not to be a problem of VSF.

[2019-10-10 07:49] #3698 closed

[2019-10-10 08:44] lukeromanowicz commented on #3684
Additional scenario:
* go to category page
* navigate to product page from category page
* you need to press back twice to get back to category page

[2019-10-10 08:50] lukeromanowicz commented on #3140
It's also worth to add PNP. I'm working on it but unfortunately, it requires a lot of effort :)

[2019-10-10 08:53] lukeromanowicz commented on #2951
Github does it automatically. Not sure if it's necessary

[2019-10-10 09:15] juho-jaakkola commented on #2521
The workaround in my project is currently that only the VSF branches are being run inside containers, and they all connect to a separate external VSF-API instance.

[2019-10-10 13:09] CompactCodeEU opened #3700 "Migration documentation"
With the new releases following up pretty fast it might be good to complete this documentation about migration :

https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/cookbook/migration.md

[2019-10-10 14:23] lukeromanowicz commented on #2768
We were not able to reproduce it

[2019-10-10 14:23] #2768 closed

[2019-10-10 15:03] #911 closed

[2019-10-10 15:11] ResuBaka opened #3702 "Adding a debug icon which opens a small window with useful information"
## What is the motivation for adding / enhancing this feature?

This would be helpful to see the current commit, branch, version you are are on as a developer some where on the page.

## What are the acceptance criteria

* [ ] See the current branch
* [ ] See the current commit
* [ ] See the current version

## Can you complete this feature request by yourself?
* [x] YES
* [ ] NO

## Which [Releas

[2019-10-10 15:39] RakowskiPrzemyslaw opened #3704 "Product Page Schema implementation as JSON-LD"
# Summary
[summary]: #summary

Change Schema implementation to JSON-LD

# Motivation
[motivation]: #motivation

Google about [JSON-LD](https://developers.google.com/search/docs/guides/intro-structured-data#markup-formats-and-placement)

`JSON-LD is the recommended format. Google is in the process of adding JSON-LD support for all markup-powered features. The table below lists the exceptions to thi

[2019-10-10 17:26] #2781 closed

[2019-10-10 17:34] themreza commented on #3697
Why use 1 and 0 when in most of the places type boolean is defined with true/false?

I think this classifies as a bug since according to the development guides, it should return true/false. Also, to adhere to the platform-agnostic guidelines, the system should uniformly follow types defined in ElasticSearch, and not in the proxy APIs (like vue-storefront-api).

Inconsistency:

https://github.com/D

[2019-10-10 18:48] ThomasBaier commented on #3697
So actually you are right, magento standard 1 & 2 are using true / false for there variables.

return Object.values(attributesByCode).filter((a: any) => a.is_comparable===true)
would be a good solution.

unfortunately standard data of https://test.storefrontcloud.io is not representative with 0 1 data format.

[2019-10-10 20:00] pkarw commented on #3697
@andrzejewsky

[2019-10-10 20:40] pkarw commented on #3700
@kkdg is working on this; however he's on honeymoon right now :)

[2019-10-10 21:29] pkarw opened #3706 "Implement lazy-loading for products data"
## What is the motivation for adding / enhancing this feature?

Currently, when user enters product page or category we're downloading pretty heavy data file including all product infromation - `category-next/storeproduct/actions:cacheProducts` is being called. In CSR it's even 2 requests - first is for simplified JSON file; second is executed just to cache all the products in browser memory and t

[2019-10-10 21:30] pkarw commented on #3700
Plus: https://medium.com/the-vue-storefront-journal/vue-storefront-1-11-and-the-roadmap-update-edb7ca939238

[2019-10-10 21:30] #3700 closed

[2019-10-11 22:41] NuruddinBadawi opened #3712 "Installer enhancements to fit all CMS"
## What is the motivation for adding / enhancing this feature?

Now the installer guides you to setup your store with your/demo Magento store and the selling point  of vueStoreFront is:

and in my case, I want to connect with the WooCommer site but I don't see and guide to let me started, like what in connecting with Magento.

So the motivation of this idea is to enhance the installer to give us m

[2019-10-12 11:59] #2878 closed

[2019-10-12 17:29] pkarw commented on #3712
Hi there! Thanks! Currently we’re not supporting woockmmeece - we’ve got just a PoC integration that probably needs some further devloepnent. Our roadmap as for the core team doesn’t include further installer enhancements. Of course it might be a subject for some community driven development effort. We’re super happy to accept any new production ready integration 👍👍

[2019-10-12 17:29] #3712 closed

[2019-10-13 17:34] #3463 closed

[2019-10-13 19:48] #3440 closed

[2019-10-14 12:10] ResuBaka opened #3716 "Add to cart notification is in the wrong language"
## Current behavior

When you add an product in the german store to the cart it shows an english message in the notification.

![image](https://user-images.githubusercontent.com/15260832/66749984-858d3700-ee8b-11e9-9836-fe29843ded50.png)

## Expected behavior

Show german text in the notification.

## Steps to reproduce the issue

1. got to here https://next.storefrontcloud.io/de/men/tops-men/tees

[2019-10-17 03:02] grimasod opened #3722 "Recently Viewed dynamic module loading issues"
## Current behavior

1. On page reload, the Recently Viewed list is empty
2. The first viewed product is not added to the Recently Viewed list

## Expected behavior

1. Recently Viewed page is not empty after page reload
2. All viewed items are added to the list

## Steps to reproduce the issue

1. Go to https://next.storefrontcloud.io/ and login
2. Use the account menu to navigate to My Recently

[2019-10-17 07:41] #3485 closed

[2019-10-17 09:16] ArturDivante opened #3723 "No validation message - digits in city field"
## Related issue:
#2653

## Steps to reproduce the issue

1. Place some items in cart and go to checkout
2. Fill required fields
3. Input ONLY numbers (i.e. '001') in City* field

## Current behavior
Frontend checks, if there is at least one letter in the field. So for example '123a' will be acceptable. But if there are only digits in the field, proceed buttons ('continue to payment' and 'go to re

[2019-10-17 12:34] nhp commented on #3716
It looks like it is not just a thing of notifications but maybe something more general? It looks like in some cases that `$t()` is not working as expected.
Attached image shows wrong translations for prices (bottom) account/cart stuff (top right).
The translations for top left are normally covered by this code:
[code]
 For the topmost occurence (the cookie disclaimer within the grey box atop) we u

[2019-10-17 12:44] pkarw commented on #3716
@andrzejewsky

[2019-10-17 12:58] gibkigonzo commented on #3716
@nhp Which version do you use? This can occur in version `1.10.3` if in particular storeView config there is `disabled` flag set on `true`.

[2019-10-17 13:51] ResuBaka commented on #3716
@gibkigonzo He is part of the project so same version as the issue has in the description.

[2019-10-17 20:08] NuruddinBadawi commented on #3712
Thank you @pkarw for clarification, My question is, What the steps to move to another CMS, I mean a switch from Magento to another CMS?

[2019-10-17 21:30] mimustafa commented on #2360
We are still having problem when there is virtual product and there is no shipping address Here is Error: Error while adding shipping address at o2m.js:249:27

[2019-10-18 14:02] sdwebdesign commented on #1678
any update on this?

[2019-10-18 14:29] jissereitsma commented on #3140
I dived into this a bit: The `babel-loader` could be improved a bit by adding a `cacheDirectory` flag to it:
[code]

Disabling the following line speeds up a bit as well (and obviously disables source mapping, but maybe this is not needed by everyone):
[code]

[2019-10-20 18:18] cporte opened #3732 "SSR silently fails on 'category/single' when root category exists in ES"
## Current behavior
When ES contains the root category and going directly to a page awaiting 'category/single' dispatch in asyncData method (e.g. category or product page), the promise is never resolved and the asyncData method never ends.

## Expected behavior
The promise should always be resolved or rejected. I believe a `else { resolve(mainCategory) }` is  missing after the `if(sc.parent_id)` i

[2019-10-20 19:11] andrzejewsky commented on #3732
@cporte thanks for reporting! Should be easy to fix.

[2019-10-21 14:52] undefinederror opened #3735 "reviews for configurable product missing in product page"
## Current behavior
When going from catalog to product page, reviews are not shown on product page unless the item is a simple product.
After refresh on product page, reviews are shown.

## Expected behavior
Reviews should show up either way

## Steps to reproduce the issue
![storefront (2)](https://user-images.githubusercontent.com/8209966/67209777-483f2100-f418-11e9-89ad-3d29af9832fe.gif)

## My

[2019-10-22 08:34] adityasharma7 opened #3736 "Use encodeURIComponent to encode get parameters in multimatch.js"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Check our forum:
https://forum.vuestorefront.io/

# Is there something you don't understand? What is it? Describe it.

Instead of using

[2019-10-22 11:33] gibkigonzo commented on #3735
I've tested it in 1.11 and it doesn't occur. Probably it happens in 1.10 because on category page is stored wrong product in cache. I will try to fix it for 1.10

[2019-10-22 12:46] undefinederror commented on #3735
Hi @gibkigonzo ,
Well in 1.11 code seems to be well refactored, also the product object isn't mutated in place, but used to extend an empty object which gets then returned.
![image](https://user-images.githubusercontent.com/8209966/67286765-3e7df200-f4da-11e9-8e4e-767c3ce8c6dd.png)

If this has already been fixed in 1.11 then cool, I guess this can be closed.

[2019-10-22 18:47] #3723 closed

[2019-10-23 06:49] NicolasHofmairT23 commented on #3669
Hi, @pkarw We are still challenging this issue. Could you confirm the issue and could provide some information to this topic?

[2019-10-23 07:43] pkarw commented on #3669
@NicolasHofmairT23 I can't confirm this issue. We didn't get any other report on it + our QA was not able to reproduce.

You've got it on 1.10 or 1.11?

@alinadivante can we take a second look at this?

[2019-10-23 08:12] alinadivante commented on #3669
@pkarw I tried to reproduce this error on _demo_, _next_ and _test_, but I  also can't confirm it

[2019-10-23 08:49] #3314 closed

[2019-10-23 13:12] #3716 closed

[2019-10-23 14:30] dmytrokravch opened #3740 "Wrong price after first return from product page."
## Current behavior

After visiting the product list page I visit the product detail view page first time - Price there is correct. Then I return to the product list page again and then detail product view - this time I have the wrong price value (looks like it have discount of approximately 10%). this behavior seems to happen only on the second visit of the detail page, First visit and visits the

[2019-10-23 17:01] andrzejewsky commented on #3740
@gibkigonzo @krskibin can either of you look at this?

[2019-10-23 17:04] andrzejewsky commented on #3740
@dmytrokravch I've noticed that you mentioned about `calculateServerSide` set to `false` - remember that you have to do it basically in both projects: `vue-storefront` and the `vue-storefront-api` where it must be also set to `false` otherwise you prices will be wrong calculated

[2019-10-24 06:22] Ravin0319 opened #3743 "I need to return a json response in a route"
I need a route in my vuestorefront to return JSON response. (I'm not using vuestorefront api in my Project)

route:-
www.example.com/apple-app-site-association

examples:-
https://www.goldenscent.com/en/apple-app-site-association
https://www.noon.com/apple-app-site-association

In the above links Please check 'View Page Source' and 'Network Tab' for some details.

The link needs to return a JSON O

[2019-10-24 06:51] pkarw commented on #3743
Hi there! This might be helpfull: https://docs.vuestorefront.io/guide/core-themes/layouts.html

[2019-10-24 06:53] pkarw commented on #3740
@dmytrokravch please provide us with more details about this product you're encountering the issue with; the best would be be to provide us with JSON for this particualr product

[2019-10-24 08:08] svenehmer commented on #3740
We encountered a similar or same issue regarding the original_price attribute which does not always store the correct value. It does not occure everytime, but quite often if you navigate from the catalog to pdp and back.
Our workaround for it was removing the lines 87 - 89 in taxCalc.ts -> updateProductPrices() as the original_price attribute was re-set with the wrong value.

The updateProductPric

[2019-10-24 08:11] Ravin0319 commented on #3743
Thanks @pkarw

I was able to achieve this very easily, Just followed the 'Generating the XML output' example in the above link.

[2019-10-24 08:54] pkarw commented on #2232
I'd like us to focus on this task. My ideas of simple ways to optimize the bundle size:
1. Disable non-used modules
- `src/amp-renderer`
- `src/google-tag-manager`
- `src/hotjar`
- `src/google-analytics`
- `core/offline-order` (+ remove all dependencies + move all offline orders logick into this module prior to disabling it :) )
2. Remove `localForage` - we're now using only LocalStorage and it's

[2019-10-24 09:02] pkarw commented on #2232
https://www.dropbox.com/s/lktr1cttl2gojwo/Screenshot%202019-10-24%2010.58.53.png?dl=1

The `src/modules` it's really huge - it's not worth the size: https://github.com

Bundle overview:
https://www.dropbox.com/s/yn761a68sncvlqn/Screenshot%202019-10-24%2010.57.48.png?dl=1

[2019-10-24 09:04] pkarw commented on #2232
![Screenshot 2019-10-24 11 04 02](https://user-images.githubusercontent.com/211899/67470433-013a7100-f64e-11e9-9a86-88ad060c21c1.png)

[2019-10-24 09:04] pkarw commented on #2232
bodybuilder+graphql = 500kB

[2019-10-24 09:21] pkarw opened #3744 "Proxy routes feature"
## What is the motivation for adding / enhancing this feature?

One of the cool potential cases for using VSF is implementing just some pages on VSF and leep the rest on as is. It's partially doable using [external checkout](https://github.com/Vendic/magento2-external-checkout) however - it would be cool to have VSF asa front facade and then decide which pages are proxied (from the backend system)

[2019-10-24 10:11] dmytrokravch commented on #3740
@andrzejewsky yes, I know. 'calculateServerSide' in both projects set to 'false'.

[2019-10-24 10:25] dmytrokravch commented on #3740
@pkarw at the front we have only configurable products. Below I send an example of one of such product. Also, I attach its child product. All data originates from elasticSearch.
Configurable one:
`{
  "_index": "vue_storefront_magento_1",
  "_type": "product",
  "_id": "5429",
  "_version": 1,
  "_score": 21.866276,
  "_source": {
    "attribute_set_id": 10,
    "type_id": "configurable",
    "sku

[2019-10-24 14:48] TigerWhite1 opened #3748 "Cannot assign to read only property 'storeCode'"
## Current behavior

In production mode so with `yarn build` and `yarn start` I have an error.

at each refresh of the website it is necessary to restart with pm2. I did not find a default error behavior on the front. It can be an infinite loop or a 404

I think this error is only when the multiStore is enable.

I have this error :
[code]

I think the problem comes from the `core/scripts/server.js

[2019-10-25 09:15] #3743 closed

[2019-10-25 09:45] dmytrokravch opened #3750 "Sale price is not shown on category page when `"sourcePriceIncludesTax": true "calculateServerSide": false`"
## Current behavior

Sale price is shown on category page

## Expected behavior

Show sale price on category page

## Steps to reproduce the issue

set value `sourcePriceIncludesTax` to `true` and `calculateServerSide` to `false` in config
also set  `calculateServerSide` to `false` in `vue-storefront-api`

## Repository

## Can you handle fixing this bug by yourself?

- [] YES
- [x] NO

## Which [

[2019-10-25 09:47] pkarw commented on #3750
Related to #3740

[2019-10-25 09:50] juho-jaakkola opened #3751 "It should be possible to overwrite any existing meta tags"
## Current behavior
I am trying to change the value of this `robots` meta tag from my custom component:

[code]

My goal is to _modify_ the existing tag. However, what happens is, that a second tag gets added instead:

[code]

## Expected behavior
Developers should be able to decide whether they want to add a new tag, or overwrite the value of an existing one.

This can be achieved by adding the `

[2019-10-25 10:10] pkarw commented on #3750
Good point. I belive it's worth pushing this change as a Pull Request to the core @dmytrokravch

[2019-10-25 12:21] afirlejczyk commented on #3058
Hi @rain2o
Category position is already export to ES using https://github.com/DivanteLtd/magento2-vsbridge-indexer, it's there from the beginning.

[code]

mapping:
[code]

`product.category` is a nested type indeed to allow us sorting by position.
It's enough to build nested queries - I tried it some time ago, and it worked.

[2019-10-25 12:50] #3732 closed

[2019-10-25 13:01] #3498 closed

[2019-10-25 13:03] #3736 closed

[2019-10-25 13:14] dz3n commented on #3748
Hey, @TigerWhite1

Can you give me more info how to reproduce this issue. Can you tell me which branch you are working on and also if it is possible your package json because right now I do not receive this error on master branch

[2019-10-25 13:30] rain2o commented on #3058
@afirlejczyk Thanks for the info. It could be that I'm just not familiar enough with how to query in ES, but I couldn't figure out a good way to sort products in a particular category by this nested value based on the category ID. So in your example if I'm on Category 4, how would I sort all products in Category 4 by the position? I would need to first get all the products, then somehow filter the

[2019-10-25 16:50] afirlejczyk commented on #3058
Hi @rain2o - we can add conditions to sort!

- so we really need ID of current category,
- and add condition to sort

You can use sth like this in `elasticsearchQuery.js` to make it work

[code]

[2019-10-25 16:56] cporte commented on #3732
Thanks a lot for the fix!

[2019-10-26 03:44] OnlyC commented on #2166
This is what I'm looking for. Wanted to implement VSF to my ERP backend a year ago but building the API with elasticSearch was too complicated for me.

[2019-10-27 22:00] #3464 closed

[2019-10-27 22:01] #3471 closed

[2019-10-28 11:50] jimmy-lion commented on #2576
@mdesmet do you have working code for this?  Thanks

[2019-10-28 11:51] ArturDivante opened #3753 "Incorrect category links on homepage"
## Steps to reproduce the issue
1. Open homepage
2. Click on one of the category tiles on homepage

## Current behavior
Tiles are hyprlinked with following links:
localhost:3000/women
localhost:3000/men
localhost:3000/gear
Clicking any of them result in displaying: `We can't find the page` message

Category pages themselves are still accessible trough hamburger menu or direct url (correct1) input.

[2019-10-28 12:15] juho-jaakkola commented on #3751
I can work on this if someone confirms whether it is ok to add the `vmid` property to all of the meta tags.

[2019-10-28 13:47] ArturDivante opened #3754 "'Store Locator' page crashes"
Problem occurs on release/v1.11 as well as next and test environments.

## Steps to reproduce the issue
1. Open homepage
2. Click on 'Store Locator' link in the footer

## Current behavior
Page wont open
Error displayed on front:
![ErrorFront](https://user-images.githubusercontent.com/47415585/67683386-95c80a80-f991-11e9-822f-b5f1226c33ea.png)
Error in console:
![ErrorConsole](https://user-images.

[2019-10-28 18:37] andrzejewsky commented on #3753
@gibkigonzo as we talk together today there are two issues:
1. mentioned by @ArturDivante (occurs on 1.11) - just wrong links on homepage
2. wrong links on 1.10, on homepage we have links prefixex by `/c` - here please prepare hotfix from current master

[2019-10-28 21:40] paulocoghi opened #3755 "SSL certificate for non-www vuestorefront.io still expired"
When entering the site without www, it shows that the SSL certificate expired on October 23.

This is also confirmed here: https://www.ssllabs.com/ssltest/analyze.html?d=vuestorefront.io&hideResults=on&latest

[2019-10-28 21:41] paulocoghi commented on #3755
Only the certificate on the site with "www" is valid, and expires on January 02 2020

https://www.ssllabs.com/ssltest/analyze.html?d=www.vuestorefront.io&s=3.218.135.46&hideResults=on&latest

[2019-10-29 07:38] pkarw commented on #3755
Thanks @paulocoghi we'll fix it

[2019-10-29 07:39] #3697 closed

[2019-10-29 10:16] #3461 closed

[2019-10-29 14:17] ArturDivante opened #3757 "Missing parameter on compare list, when added from PLP"
Some products have 'Activity' paramter displayed in designated line in compare view. It displays properly, if product was added using 'add to compare' button on PDP. However, when the same product is added with button from PLP, this line in compare view will not appear.

For some reason, this parameter dont seem to be transfered, when we add product to compare using buttons from PLP (see scenario

[2019-10-29 16:18] TigerWhite1 commented on #3748
Hi @dz3n,

Thank you for your answer.

I work on the branch v1.10.4.

here is my json package :

[code]

but it's the same as on the config branch for the dev.

to reproduce just refresh the website and it does not work anymore.

[2019-10-29 16:22] TigerWhite1 opened #3758 "SearchPanel Invalid attempt to spread non-iterable instance"
## Current behavior

when I do a search I have this error :

[code]

the problem is that if a product is in any category this code is not working :

[code]
it's normal because `product.category` is undefined.

we need to implement this verification I think :

[code]
Thanks
## Expected behavior

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

- [X] YE

[2019-10-30 07:17] juho-jaakkola commented on #3751
I suppose this only needs to be implemented to VSF 2, because in version 1 site owners override the whole theme, so it is easy to just make the needed changes into the custom theme.

However in VSF 2 it will be possible to extend the default theme by overriding only individuak parts of it. So this should be implemented at least there.

[2019-10-30 08:43] gibkigonzo commented on #3748
Probably problem lies in `prepareStoreView` in multistore.ts. There is line that checks if `storeCode` exist (line 26). So if for example you pass there `{}` then `storeViewHasChanged` (line 25) is true  and app crash in line 37 because `storeView` is undefined (is set to undefined in line 27).

This object can be from header `core/scripts/server.js:184`
`storeCode: req.header('x-vs-store-code') ?

[2019-10-30 09:54] benjick opened #3763 "Add key additionalIncludeFields"
## What is the motivation for adding / enhancing this feature?

It's not very nice to have to keep all the default fields in my config just to add a single one. I'm suggesting a new key called `additionalIncludeFields` which will be merged with `includeFields`

## What are the acceptance criteria

- [ ] Being able to add new fields to `additionalIncludeFields` which are merged with `includeFields`

[2019-10-30 12:47] #3757 closed

[2019-10-30 15:46] #3753 closed

[2019-10-30 16:28] janfeldmann commented on #3669
Hey, we can reproduce this issue. We had the following structure inside
/layouts/Default.vue

`<main>
        <slot />
       <footer-contact />
</main>`

Moving the <footer-contact /> Element out of the <main> Container resolved the issue.

By debugging via Chrome DevTools I was able to see that the node type that the appendChild Method was used on was "text".

[2019-10-30 17:41] janfeldmann commented on #3669
@haelbichalex
Yeah :D copy 'n paste got me there
I updated my comment above

[2019-10-30 21:35] #3750 closed

[2019-10-30 21:35] #3740 closed

[2019-10-30 21:40] andrzejewsky commented on #3669
@janfeldmann that sounds like trail, we'll try again to solve this, one question - which version of vsf did you use?

[2019-10-31 06:52] janfeldmann commented on #3669
@andrzejewsky we are using version 1.10.2

[2019-10-31 07:28] haelbichalex commented on #3669
What also might be of interest: We get this error only when loading category pages directly via the url. When first loading the homepage for example, then navigate via the menu to the category, everything's working.

[2019-10-31 09:11] #3758 closed

[2019-10-31 18:58] pkarw commented on #3755
Fixed!

[2019-10-31 18:58] #3755 closed

[2019-11-01 10:39] adityasharma7 opened #3770 "Simplify code for getShippingDetails() method of UserShippingDetails.ts"
# Summary
[summary]: #summary
Improve the readability of getShippingDetails() method

# Motivation
[motivation]: #motivation
Improve readability

# Guide-level explanation
[guide-level-explanation]: #guide-level-explanation
NA

# Reference-level explanation
[reference-level-explanation]: #reference-level-explanation
NA

# Drawbacks
[drawbacks]: #drawbacks

NA

# Rationale and alternatives
[rationa

[2019-11-01 11:54] paulocoghi commented on #3755
Just curious, is there a reason to use different certificates for "www" and "non-www"?

[2019-11-01 19:10] pkarw commented on #3755
well, tbh - I've got no clue :) will ask the admin

[2019-11-02 07:52] tharoldD commented on #3299
@philippsander your workaround worked for me too.

[2019-11-02 14:33] andrzejewsky opened #3772 "Product cards are not properly clickable on mobile"
## Current behavior
When you open category page on mobile device, you have to click twice on the thumbnail to open the product page. First click triggers only picture zoom.

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state
- [x] This is a bug report for test version on https://test.stor

[2019-11-04 08:51] #3772 closed

[2019-11-04 14:20] dmytrokravch opened #3778 ""null" value in search input"
## Current behavior

After first entering the page, input field for search bound to "null" value

## Expected behavior

Search input should be clear

## Steps to reproduce the issue

Enter the https://demo.storefrontcloud.io/

## Repository

Enter the https://demo.storefrontcloud.io/ on any of browsers

## Can you handle fixing this bug by yourself?

- [] YES
- [x] NO

## Which [Release Cycle](htt

[2019-11-04 14:28] dmytrokravch opened #3779 "return button does not appear on product page"
## Current behavior

After entering the product page, return button does not appear

## Expected behavior

return button should be

## Steps to reproduce the issue

Go to: https://demo.storefrontcloud.io/ and go to the product page

## Repository

## Can you handle fixing this bug by yourself?

- [x] YES
- [] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.htm

[2019-11-04 15:00] pkarw commented on #3779
@alinadivante can anyone from QA confirm this one please?

[2019-11-04 16:41] undefinederror opened #3780 "cannot filter attribute AND configurable_option"
## Current behavior
Filter by "Erin recommends" (yes or no, doesn't matter), then filter by any color or size.
No results.

## Expected behavior
Some results

## My two cents
ES queries are currently constructed like this
[code]
This works if filters are ALL on attributes or ALL on configurable_options.
So, for Erin recommends + color filter it would work if any product had either
[code]
or
[code]

[2019-11-04 17:08] undefinederror commented on #3780
Below is a sample query (exported as POSTMAN collection) which returns the green (53) "Jade Yoga Jacket"
![image](https://user-images.githubusercontent.com/8209966/68139650-cc21fe80-ff2a-11e9-8eae-e815ac293be1.png)
[code]

[2019-11-04 18:13] ArturDivante opened #3781 "Incorrect display of product pictures in 2 columns view (PLP)"
## Steps to reproduce the issue
1. go to next.storefrontcloud.io
2. Open any category page
3. Set display to 2 columns

## Current behavior
In 2 columns view, product thumbnails are horizontal, which results in incoplete/cut view of the product.

![2Columns](https://user-images.githubusercontent.com/47415585/68145715-b0245a00-ff36-11e9-8b60-0021c9dea8af.png)

## Expected behavior
Product pictures

[2019-11-04 18:54] lukeromanowicz opened #3782 "Memory leak in dynamic config"
## Current behavior
There is a memory leak when handling incoming requests having dynamic confic reload enabled. Memory usage is slowly rising until app crash.

## Expected behavior
No memory leaks

## Steps to reproduce the issue
1. enable dynamic config reload
2. build & start app
3. load test

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](https://d