[2019-11-05 06:41] alinadivante commented on #3779
@pkarw  @dmytrokravch  this issue is the lack of a back arrow on the PDP, right?
So the arrow was intentionally removed a few months ago →  https://github.com/DivanteLtd/vue-storefront/issues/2804#issuecomment-487170122

[2019-11-05 07:46] #3779 closed

[2019-11-05 08:45] #3735 closed

[2019-11-05 09:07] pkarw commented on #3782
This might be usefull: https://github.com/DivanteLtd/vue-storefront/pull/3075

[2019-11-05 09:29] yuriboyko commented on #3748
@gibkigonzo Please check this PR https://github.com/DivanteLtd/vue-storefront/pull/3783 i think it solves this issue.

[2019-11-05 09:50] ArturDivante commented on #3778
I confirm, problem exist.
I reproduced it by:
1.opening search
2.clicking into the input
3. clicking out of it
4. closing search and reopening it
Similar problem was already addressed in #3474
![Null in search](https://user-images.githubusercontent.com/47415585/68197163-0f777e00-ffba-11e9-8f32-07ae679c2ccd.gif)

[2019-11-05 13:18] ArturDivante opened #3785 "Confusing default set of sorting dropdown"
Im not sure if it was always that way or just changed at some point, but currently when we open category page, sorting dropdown i set in 'latest' position. It looks like sorting by 'latest' is applied by default. But in fact it is not - default sorting is diffrent than 'latest'.

Other problem is, that user who actually want sort by 'latest', cannot do that directly, as this option is initialy unc

[2019-11-05 13:20] psmyrek commented on #3778
v1.10.4 does not contain fix from #3474 - see https://github.com/DivanteLtd/vue-storefront/commit/6861c4bde35ff4ae2ad8af6e3ab84a17ed259db7

[2019-11-05 20:48] AdKamil commented on #3778
I've tried to replicate this behaviour on `release/v.1.11`, `master`, `hotfix/v1.10.5` branches and didn't meet that.  [gif](https://gyazo.com/0d164b8f0bc8265e176dcba29111ed30)

[2019-11-06 06:13] AdKamil commented on #3785
I'm on it

[2019-11-06 15:33] #3781 closed

[2019-11-06 15:33] #3460 closed

[2019-11-06 15:36] andrzejewsky commented on #3748
@TigerWhite1 Can you check branch `hotfix/v1.10.5` it should works there, could you confirm?

[2019-11-07 07:46] alex24409331 commented on #2141
Also you may try this tutor. https://www.mag-manager.com/useful-articles/tipstricks/simple-products-with-custom-options-vs-configurable-products/

[2019-11-07 08:09] #3778 closed

[2019-11-07 14:53] #3121 closed

[2019-11-07 14:53] #3120 closed

[2019-11-07 14:53] #3113 closed

[2019-11-07 14:53] #3122 closed

[2019-11-07 14:54] #3126 closed

[2019-11-07 14:54] #3129 closed

[2019-11-07 14:54] #3123 closed

[2019-11-07 14:54] #3103 closed

[2019-11-07 14:55] #3107 closed

[2019-11-07 14:55] #3106 closed

[2019-11-07 14:55] #3124 closed

[2019-11-07 14:56] #3127 closed

[2019-11-07 14:56] #3128 closed

[2019-11-07 14:56] #3135 closed

[2019-11-07 14:58] pkarw commented on #3280
I guess it's been already done within 1.11 @lukeromanowicz

[2019-11-07 14:59] #3134 closed

[2019-11-07 15:00] #3131 closed

[2019-11-07 15:00] #2525 closed

[2019-11-07 15:01] #2581 closed

[2019-11-07 15:02] #3130 closed

[2019-11-07 15:03] pkarw commented on #3094
@andrzejewsky I'm not sure if this will be backward compatible but would simplify the core. If it can't be backward compatible let's don't do it

[2019-11-07 15:04] #1768 closed

[2019-11-07 15:06] #3136 closed

[2019-11-08 12:34] #3785 closed

[2019-11-09 06:29] #3748 closed

[2019-11-10 11:32] lukeromanowicz commented on #3782
Indeed, #3075 seems to be fixing it.

[2019-11-10 11:32] #3782 closed

[2019-11-10 16:30] cewald opened #3797 "Custom module `ConfigProvider` aren't called anymore"
## Current behavior

The possibility to include a custom config provider in `src/server.ts` isn't working anymore.
Since the new (very handy) logic to the server hooks the config provider isn't considered in the exports anymore. This seems to be forgotten while refactoring.

## Expected behavior

I should be able to include a `configProvider` in my modules custom `server.ts` like before in the `sr

[2019-11-11 11:34] dlandmann opened #3799 "AMP-Pages are broken"
## Current behavior
The generated "amphtml" Product-URL in the head (link-rel) isn´t correct. Error-Page (Something went wrong ...) is shown.

The AMP-Category Page works fine!

## Expected behavior

## Steps to reproduce the issue
Go the productpage and copy the amphtml URL from the code and paste into browser. In "older" versions of vue-storefront it works fine. Last work with the amp-feature wa

[2019-11-11 11:37] dlandmann commented on #3799
I would check the changlog.md and then try to fix is

[2019-11-11 13:53] RichPC commented on #2993
I was getting a 400 error for images too. After changing my image url to http instead of https the problem went away. My local domain was only using a self signed certificate, so I assume the image proxy refuses to download the image because of the untrusted cert.

[2019-11-11 16:58] pkarw commented on #3799
@dlandmann thanks! It's on 1.10 and/or 1.11?

[2019-11-11 18:35] themreza opened #3800 "Product labels `new` and `sale` use an incorrect boolean type"
## Current behavior

The `vue-storefront/core/modules/catalog/components/ProductTile.ts` component looks for two fields in the ElasticSearch product record to decide if the `new` and `sale` labels should be displayed on each product.

The checks for these fields assumes the fields to be of type string with an exact value of `'1'`.

![image](https://user-images.githubusercontent.com/5465057/6861142

[2019-11-11 19:32] #3797 closed

[2019-11-11 19:39] #3466 closed

[2019-11-11 20:00] andrzejewsky commented on #3800
thanks for reporting @themreza, actually we've fixed something similar, looks like easy to fix

[2019-11-11 20:30] dlandmann commented on #3799
@pkarw In Short ... Its on 1.10 **and** (with other Behaviour) on 1.11. See following tests. All tested with a clean Repo and the default config (only api set to https://test.storefrontcloud.io.)

**1.11-rc2**
- Category AMP it does not work
[code]
---
- Product AMP it does not work (Something went wrong ...)
[code]
---
---
**1.10.4**
- Category AMP works
[code]
---
- Product AMP it does not work

[2019-11-12 06:37] adityasharma7 opened #3802 "Make Cash on delivery code configurable"
## What is the motivation for adding / enhancing this feature?

The code for the cash on delivery is hard coded.
https://github.com/DivanteLtd/vue-storefront/blob/release/v1.11/src/modules/payment-cash-on-delivery/index.ts#L18
The idea is to make it configurable so that the value can be as per the backend system

## What are the acceptance criteria

- [ ]  Provision config file with offline paymen

[2019-11-12 07:02] WaleedTikken commented on #3800
It has been fixed along with the product display on latest option. :)

[2019-11-12 07:03] WaleedTikken commented on #3800
Just changed the default sort to

instead of

[2019-11-12 07:36] adityasharma7 opened #3803 "Store Wishlist to server"
## What is the motivation for adding / enhancing this feature?

Currently, the wishlist is stored at only client's end only.  Implement logic such that if backend sync is enabled, it can be stored to the backend.
Storing a wishlist on the server may add a lot of value specifically when recommending products and customer specific promotions.

## What are the acceptance criteria

- [ ] Provision con

[2019-11-12 09:00] andrzejewsky opened #3805 "Memory leak on category page"
## Current behavior
The memory increases once you change filters on the category page

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

- [x] This is a bug report for test version on https://test.storefrontcloud.io - In this case Dev

[2019-11-12 10:15] #3695 closed

[2019-11-12 11:18] pkarw commented on #3802
@adityasharma7 the other way around is just to copy this module and adjust it to your backend platform which probably is a preferred way rather than adding the configurable option

[2019-11-12 11:18] #3802 closed

[2019-11-12 11:18] pkarw commented on #3803
This is a duplicate of #709

[2019-11-12 11:18] #3803 closed

[2019-11-12 13:02] themreza commented on #3800
What does the sort order have to do with new and special labels?

If it was fixed, would you please share the link to the new ProductTile.ts?

[2019-11-12 13:16] adityasharma7 commented on #3803
Thanks @pkarw for pointing that. I will try to check for an existing issue before making further issues.

[2019-11-13 13:08] andrzejewsky commented on #3800
@WaleedTikken we've fixed issue with the sorting functionality on the category page and nothing else, this is about the `isOnSale` or `isNew` - it won't work if the value is different than `'1'` @themreza is right.

[2019-11-14 06:19] saeed-abdul-rahim opened #3808 "yarn stuck on building fresh packages"
# Executed docker-compose up
And the terminal is stuck on building fresh packages
Which version of yarn should I use?

[2019-11-14 08:51] haelbichalex commented on #3669
I found something, which I also could reproduce on the default theme without any changes using v1.10.4:
When loading a category page "a couple of times", sometimes it renders everything above the `<slot />` component in [Default.vue](https://github.com/DivanteLtd/vue-storefront/blob/e44e6fdfe7ff98af32c852905db67ef3f47e9c33/src/themes/default/layouts/Default.vue) and moves the `Category` component

[2019-11-14 10:03] #3470 closed

[2019-11-14 13:30] WaleedTikken opened #3809 "Product changes when the filter is removed, like select color and remove its color filter, product order will be changed"
## Current behavior

I've noticed that, when I got to the men's product page, there I saw latest products, and when I choose color filter, it displays all items according to that color, but after removing that filter I'm unable to view old latest list of product that were displayed in first place.

## Expected behavior

I want the query to be sort updated_at, after the filter is removed :)

[2019-11-14 15:40] dmytrokravch opened #3810 "In mobile and desktop safari special_price = 0"
## Prerequisites
I noticed that in Safari doesn't show me the special_price both on the category and product page.
Could it be because Safari does not support date comparison which you use in `tax.ts`: `if (fromDate && toDate)`.
Also when i check `app.__vue__.$store.state.product.current.special_price` on product page, it return me `0`
Please answer the following questions for yourself before subm

[2019-11-14 15:41] pkarw commented on #3809
Thanks Waleed!

[2019-11-14 15:41] pkarw commented on #3810
Good point, let's try it out.

[2019-11-14 15:42] pkarw commented on #3808
Please make sure you've got the https://github.com/nodejs/node-gyp package installed which is required by `sharp` library

[2019-11-14 15:44] pkarw commented on #3763
I think this is not necessary needed feature - complicating our - already complicated configs :)

[2019-11-14 15:44] #3763 closed

[2019-11-15 09:25] boehsermoe opened #3813 "VSF require only option id"
@afirlejczyk how can I access the attribute "types" in the vue storefront?

[2019-11-15 13:31] JuliaBonita opened #3814 "ERROR: "wrong version number:../ssl/record/ssl3_record""
I've been troubleshooting VSF for days. Before I deploy to a production server, I'm trying to practice deploying to localhost. (I can't use Docker for this project.) I've resolved almost every issue, but this "wrong version number:../ssl/record/ssl3_record" error will not go away. Here's the pm2 log data:
[code]

I have already confirmed that the self-signed SSL certificate works fine for all the

[2019-11-16 08:45] pkarw commented on #3814
Hi there! I think this issue is more devops than vsf related and it’s apparently not a vsf bug. So I’m changing the label to question

[2019-11-16 08:47] pkarw commented on #3808
@andrzejewsky maybe we should add some note or dependency on node-gyp(?) @kkdg do we have anything on that in the installation tutorial?

[2019-11-16 08:50] pkarw commented on #3669
@patzick @andrzejewsky it looks like an issue we already solved somewhere between 1.10.2 and 1.10.4 can you guys reproduce it?

[2019-11-16 13:11] Fifciu commented on #3813
## Best way
I think the most universal answer would be using `attribute/list` action to fetch this attribute. You could do it like that:
[code]

As it is async action, use it with async/await or Promise. For sure:
[code]

After that, if it succeeds. You would have all the information about the attribute in the Vuex store. Then you could access it by:
[code]

The most often use case with that data

[2019-11-16 14:21] pkarw commented on #3669
I’m not sure what can cause this issue @haelbichalex described. I’m concern about the lazy loading sub components we’re using to lazy load the layouts (themes/default/App.vue - https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/App.vue)

Some ideas for the investigation:
- putting the <slot /> into <div></div>
- trying to simplify the theme by removing the dynamic layouts

[2019-11-18 12:14] Fifciu commented on #2576
Could you share code?

[2019-11-18 12:29] mdesmet commented on #2576
It's for an older version of vue-storefront. I'm actually planning to move the site to AWS in a few weeks and will update to latest version at that point of time but now I'm working on other projects.

You can see the UI at https://unoco.life/, please review the UI already and let me know what you think.

[2019-11-18 12:52] mdesmet commented on #2576
To fully test it, you would have to create an account and then reset your password, then you will receive an email with a reset link which would lead you to the site and using the magento API your password will be reset to your chosen password. You then can log on using the new password. all from the vue storefront website.

To make it work I also had to change the email template  in magento for s

[2019-11-18 13:17] Fifciu commented on #2576
It would be still really useful for me because it is still better than starting from scratches. I have to do it anyway in this week. I'd be really thankful if you could share it

[2019-11-18 13:27] benkelly92 commented on #2576
Yes me too. We're looking to add this in a site that is using an older version of VSF as well so would be really useful.

Also, it looks to me like this functionality is already implemented in VS-API, is this what you used or do you hit the API directly?

[2019-11-18 13:32] andrzejewsky commented on #3809
Hello, @WaleedTikken I think it was fixed here: https://github.com/DivanteLtd/vue-storefront/pull/3793 and also now here: https://github.com/DivanteLtd/vue-storefront/pull/3817 (but it solves different issue)

[2019-11-18 13:36] mdesmet commented on #2576
As far as I remember i only submitted the PRs for the magento API, but not yet for vs-api and front (i remember there were some confusing naming which make you think it's already there).

[2019-11-18 14:25] boehsermoe commented on #3813
Thank you, the optionlabel helper is exactly what I needed👍 next time I will check the docu first https://docs.vuestorefront.io/guide/modules/catalog.html#optionlabel

[2019-11-18 14:25] #3813 closed

[2019-11-19 06:47] AshishSuhane opened #3818 "Zoom image issue on product page"
## Current behavior
On the product page, once you tap on the zoom icon and then press the back button it will open the previous product page with the zoom image modal.

## Expected behavior
It should open the product page without a zoom image modal.

## Steps to reproduce the issue
1. open demo.vuestorefront.io in a browser
2. click on any product and choose any products from suggestions.
3. click

[2019-11-19 07:57] pkarw commented on #3818
@przspa can you take a look?

[2019-11-19 08:28] lukeromanowicz opened #3819 "Implement parallel building"
## What is the motivation for adding / enhancing this feature?
Building takes a lot of time. We can try to reduce it with parallel building

## What are the acceptance criteria
SW, Translations, Client, and Server are being built in parallel.

## Can you complete this feature request by yourself?
* [x] YES
* [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.

[2019-11-19 12:22] #3805 closed

[2019-11-19 12:23] #3814 closed

[2019-11-19 17:31] juho-jaakkola opened #3822 "Not possible to override mappingFallback in VSF 1.11"
## Current behavior

In VSF `1.10` I was able to do this:

In `src/modules/index.ts`:

[code]
and in `my-module`:
[code]
As documented here: https://docs.vuestorefront.io/guide/basics/url.html#how-to-customize-the-mapping-mechanism

However, it seems in `1.11.0` the custom `mappingFallback` does not get called anymore.

## Expected behavior

I should be able to override the default `mappingFallbac

[2019-11-20 02:17] hawaiiden opened #3824 "Changing defaultLocale to jp-JP in local.json is not working"
## Prerequisites

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

## Information

I tried to change language and currency of my VS, so I edited i18n in local.json
like this,

[code]
Every locale is working except jp-JP, which is above way.
The error message is,

[code]

1. If there

[2019-11-20 06:24] #3799 closed

[2019-11-20 06:28] #3809 closed

[2019-11-20 07:30] pkarw commented on #3822
OK, we must check it

[2019-11-20 09:55] andrzejewsky commented on #3822
@juho-jaakkola you can still extend modules. Look at this line: https://github.com/DivanteLtd/vue-storefront/blob/v1.11.0-rc.2/src/themes/default/index.js#L22 you can override / extend any module you want. However, @pkarw I think we have to update docs about that because `extendModule` no longer exist

[2019-11-20 11:50] andrzejewsky commented on #3810
@dmytrokravch could you tell us which version of Safari did you use?

[2019-11-20 11:56] dmytrokravch commented on #3810
@andrzejewsky ios: 13.0, macOS: 13.0

[2019-11-20 14:06] dmytrokravch opened #3827 "category "sort by price" sorts products by "original price", not "special price" when "sourcePriceIncludesTax": true, "calculateServerSide": false"
## Current behavior

## Expected behavior

shoud sort by special price if it exist

## Steps to reproduce the issue

set in config:
"sourcePriceIncludesTax": true,
"calculateServerSide": false

## Repository

## Can you handle fixing this bug by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for deve

[2019-11-20 14:21] #3475 closed

[2019-11-20 14:21] FlushBG opened #3828 "Single store translations with Prismic"
# Summary
[summary]: #summary

Include an alternative page translation engine, including dynamic data (product titles, description), using Prismic as a source

# Motivation
[motivation]: #motivation

Currently, the only good way to translate your store is to use the provided multistore mechanism. It uses static files for the page content, included in the project, and multiple ES indexes, being pop

[2019-11-20 14:26] #3800 closed

[2019-11-20 14:28] pkarw commented on #3822
good point @andrzejewsky; @kkdg can you please update the docs - about the module extendibility (the change has been implemented to the 1.11 - the modules api changed)

[2019-11-20 14:57] #2867 closed

[2019-11-20 15:48] juho-jaakkola commented on #3822
I tried the approach @andrzejewsky mentioned, but my custom mapping still does not get called. I'm pretty sure something is still broken in 1.11.

Could you please test whether you are able to override the default `mappingFallback` action with a custom one?

[2019-11-20 16:16] andrzejewsky commented on #3822
@juho-jaakkola look at that diff: https://github.com/DivanteLtd/vue-storefront/compare/release/v1.11...andrzejewsky:extendingModuleExample?expand=1
I'm extending here (as example) `registerMapping`:
<img width="1371" alt="Screenshot 2019-11-20 at 17 15 01" src="https://user-images.githubusercontent.com/7943292/69256136-5029e680-0bb9-11ea-9133-ba34fee4a447.png">

[2019-11-21 07:43] #3669 closed

[2019-11-21 07:43] #1266 closed

[2019-11-21 07:44] pkarw commented on #3299
Closed by #3801 @kkdg we probably need to add a note on this config option to the docs

[2019-11-21 07:44] #3299 closed

[2019-11-21 11:09] #3076 closed

[2019-11-21 11:10] pkarw commented on #3827
The only option here is to sort by `final_price`. The `vue-storefront-api` is adding `special_price` [field dynamically](https://github.com/DivanteLtd/vue-storefront-api/blob/8b7ded1c780bc1c90b93dca04f6acb0ad76045e6/src/lib/taxcalc.js#L40) - so it's not stored in Elasticsearch. You can sort only by the fields stored in the Elasticsearch.

[2019-11-21 11:10] #3827 closed

[2019-11-21 11:12] pkarw commented on #3635
I've quickly checked it out and the amount of changes required for this option to work is way too big to justify by the results

[2019-11-21 11:12] #3635 closed

[2019-11-21 14:07] pkarw commented on #3824
Fixed by https://github.com/DivanteLtd/vue-storefront/pull/3831

[2019-11-21 14:07] #3824 closed

[2019-11-21 15:48] #3770 closed

[2019-11-21 18:35] Fifciu commented on #2576
@benkelly92 I've created PRs for both API and PWA.
It adds endpoint for creating new password - support for Magento 2 only: https://github.com/DivanteLtd/vue-storefront-api/pull/366

It adds new route and extending UserService: https://github.com/DivanteLtd/vue-storefront/pull/3833

As you said, you are using older version of VSF. I encourage you modify ResetPassword.vue. You just need to change:

[2019-11-22 10:40] psmyrek commented on #3149
@wdrdres3qew5ts21 @Gotsira I just installed `bootstrap-vue` and `bootstrap`:

`yarn add bootstrap-vue bootstrap`

then I imported `bootstrap-vue` with styles in default theme in `src\themes\default\index.js`:

[code]

and finally I edited the `Error.vue` component similarly like you did:

[code]

and it works. Bootstrap styles are not overwritten by vue-storefront styles.

![bootstrap-vue-is-worki

[2019-11-23 10:59] cewald opened #3836 "Lack of complete `Intl.NumberFormat()`/`toLocaleString()` support in NodeJs"
## Current behavior

This might be connected to #3553

If you use a Node version which not yet contains the `full-icu` package by default like `v10-LTS`, the numbers aren't formatted correctly on server-side which leads into a flickering of prices on initial page-load.

With version `v13.2.0` of node they start to implement `--with-intl=full-icu` as default, which contains all languages for nodes

[2019-11-23 18:43] sebastianrothbucher commented on #1642
Even though the concrete issue is fixed: this kind of issues keeps popping up.

It's hard to discover such errors as Vue in production mode does no longer run ```assertNodeMatch``` (which would otherwise detect and kick off a repair). Aside from running ```yarn dev``` (which has Vue production mode turned *off* and print out the node where the error occurs on console).

It's generally a bad idea t

[2019-11-24 12:05] Fifciu opened #3838 "Sync cart between tabs"
## Current behavior

Let's imagine a typical e-commerce scenario. I am opening the category's view and browsing stuff. Then I am opening a few product's views in new carts. I jump to the first product and adding it to cart then in other tab I am adding to the cart another product. In the end, I am again in tab with the category's view. I refresh and... I have only one product in the cart - but I s

[2019-11-25 12:55] andrzejewsky commented on #3838
Yeah, I think is the cache-related problem. VSF doesn't update anything if you don't force it or there are current data in the cache. Thanks for reporting @Fifciu

[2019-11-25 13:26] #3818 closed

[2019-11-25 16:05] haelbichalex opened #3842 "SyntaxError: Unexpected Token { on v1.11 after yarn start"
## Current behavior

When running `yarn start` I see the following error in pm2 logs for `server` and it fails to start:
[code]
![image](https://user-images.githubusercontent.com/15052352/69556799-b5a91900-0fa5-11ea-930a-ad6b6cc9cfd4.png)

## Expected behavior

`yarn start` should work without errors

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

-

[2019-11-26 10:13] oskar1233 opened #3844 "Multistore routes w/ dispatcher & `appendStoreCode: false`"
## Current behavior
`setupMultistoreRoutes` sets up routes with names without prepended store code. However `prepareDynamicRoute` & `mappingFallback` use routes with names with prepended store code.

E.g. we have `de` store in config and it has `appendStoreCode: false`. Route name generated with `setupMultistoreRoutes` will be e.g. `category`, while `mappingFallback` and `prepareDynamicRoute` will

[2019-11-26 10:24] MarcoPierozziTriboo commented on #3058
Hi everyone,

we had the same issues and we were able to solving as per @afirlejczyk suggestion by hacking a little bit `elasticsearchQuery.js`.

First, we passed the whole Request to the function, not only Request.searchQuery and created a fallback const searchQuery to preserve functionality. We needed to change also any caller to the function (we only found one btw).
[code]
Then, since the filte

[2019-11-26 12:02] pkarw commented on #3844
@lukeromanowicz can you please take a look at this one?

[2019-11-26 12:04] pkarw commented on #3838
Good point. We should probably just call the `cart/load` whenever the tab is activated

[2019-11-26 14:39] juho-jaakkola commented on #3822
I do not fully understand how the routing and url mapping works, but I think the difference is that in `1.10` the whole `mappingFallback` action got overridden by my custom module, whereas in `1.11` all registered `mappingFallback` actions get called.

So even if my module returns a matching route, the `mappingFallback` of the bundled `url` module will still get called which (apparently?) results

[2019-11-26 14:56] AdKamil commented on #3844
Be careful, because it may not work with nested routes.

[2019-11-26 16:06] andrzejewsky commented on #3842
@haelbichalex I've just tested that, everything works fine. Could you maybe add some details about that?

<img width="992" alt="Screenshot 2019-11-26 at 17 03 33" src="https://user-images.githubusercontent.com/7943292/69650564-13edfe80-106f-11ea-99d5-884fa2f366dc.png">

[2019-11-26 16:15] haelbichalex commented on #3842
This happens for me on our staging environment, here's the `yarn pm2 report`:
[code]

Also, I got it to work with the follwing `ecosystem.json`
[code]

Also I found something interesting in `pm2 logs`, but I couldn't find out why it's happening, sind I'm able to run `yarn ts-node`:
[code]

[2019-11-26 16:18] cdshotels-liborpansky commented on #3842
Hi, I have the same problem, today I went crazy during production deployment and after several hours I discovered the problem is base code from release branch v1.11.
When I switch to master, everything works as expected, in our dev branch (based on release/v1.11) pm2 processes do not start at all with the following error:
[code]

(there's probably missing pm2 environment variable pm2_env)

PM2 mod

[2019-11-26 16:45] Djancyp commented on #2994
I have a solution for personalized products. Overite the core module productsEquals.ts. After this you will be able to add same SKU multiple time to basket and sync with m2.
if(String(product1.sku ) === String(product2.sku)){
      if(product1.product_option.extension_attributes.custom_options && product2.product_option){
        let p1 = product1.product_option.extension_attributes.custom_options

[2019-11-26 19:07] andrzejewsky commented on #3842
Ok, thanks for reporting we'll try figure it out as soon as possible.

[2019-11-26 20:24] hawaiiden opened #3846 "I just install vs-api and vs, and it's not working."
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

![Screen Shot 2019-11-26 at 12 08 50 PM](https://user-images.githubusercontent.com/51763780/69668956-c5783a00-1045-11ea-9bde-3c00e66058d7.

[2019-11-27 08:08] mikesteeghs commented on #3822
I've got the same problem as @juho-jaakkola. I'm also trying to extend the `mappingFallback`, but this will redirect the page to `/page-not-found` when visiting the product page. This results in the following error: `[dispatcher] Cannot read property '/product-url-key' of undefined null`.

[2019-11-27 08:44] juho-jaakkola commented on #3822
The first problem is that the default `mappingFallback` expects the `category/single` action to return `null`, but it in fact returns `undefined`: https://github.com/DivanteLtd/vue-storefront/blob/v1.11.0-rc.2/core/modules/url/store/actions.ts#L86

But there is something wrong even if I fix the `if` clause.

[2019-11-27 09:13] andrzejewsky commented on #3842
@cdshotels-liborpansky @haelbichalex are you guys on our community slack? I'd like to ask you few questions, that would be helpful for me.

[2019-11-27 09:17] haelbichalex commented on #3842
@andrzejewsky sure 😉 PM'ed you

[2019-11-27 10:53] mikesteeghs commented on #3822
When outputting the `routeData` when `mappingFallback` is executed, it returns the following data by default:
[code]

After I extended the `mappingFallback` method with just a `return` in the method, `routeData` returned the following data:
[code]

So instead of an object, it returns an array with an undefined value, this results. When I check the `routeData` in the `beforeEachGuard` method, it's

[2019-11-27 12:21] pkarw commented on #3822
OK, I'm reopening the issue we need to check it our

[2019-11-27 12:33] juho-jaakkola commented on #3822
I think the best way would be to extend the feature (as opposed to overriding it completely like 1.10 was doing). Makes no sense that if you want to implement your own mapping, you need to re-implement all the other already existing mappings in your own module.

[2019-11-27 13:25] juho-jaakkola opened #3848 "New account gets registered to wrong store (when using multistore)"
## Current behavior

The registration is not working correctly in a multistore setup. The API request made to Magento is missing the `website_id` property, which causes Magento to use the default store instead of the one it should be using.

See: https://devdocs.magento.com/redoc/2.3/customer-rest-api.html#tag/customers

In my case I tried to create an account to the German store, but I the accoun

[2019-11-27 13:29] juho-jaakkola commented on #3848
I'm not completely sure whether this should be fixed into VSF or VSF-API.

I suppose the missing `website_id` could be added in either one:
 - https://github.com/DivanteLtd/vue-storefront/blob/v1.11.0-rc.2/core/modules/user/store/actions.ts#L72-L74
 - https://github.com/DivanteLtd/vue-storefront-api/blob/v1.11.0-rc1/src/api/user.js#L35-L56

[2019-11-27 14:13] filrak commented on #3822
Hey. Some time ago we changed the moduoes APi. You are using depreciated one. https://docs.vuestorefront.io/guide/cookbook/module.html#_2-1-recipe-a-extend-vuex-store-from-inside-a-module Please take a look at recipe B (extendStore). You can call it in every part of your wppz not only module.

The issue that you are facing is with APi to be depreciated. JEW API should work just fine. Issue with ol

[2019-11-27 15:38] Fifciu commented on #3842
I had a similar problem with the new API yesterday. Files while building process are transformed to the different compatibility mode (commonjs and stuff like that). I am not sure if the same happens in the PWA. But it might be that.

Sooo... the reason of error could be `import` from **dist** to some file which is outside of the **dist**. For example, in **src**

[2019-11-27 19:09] Danail-Irinkov commented on #3639
I am also having issue with creating additional stores. Can you please point us to a repository where multiple stores are deployed?

[2019-11-27 19:37] itsgauravjain22 opened #3852 "Need documentation to be updated with woocomerce stores in addition to magento store."
## What is the motivation for adding / enhancing this feature?
The installation part is really troubling as the documentation is incomplete for integration with woocommerce stores.

## What are the acceptance criteria
Documentation should be clear and precise for helping beginners to integrate with woocommerce.

## Can you complete this feature request by yourself?

- [ ] YES
- [x] NO

## Which [R

[2019-11-27 19:45] itsgauravjain22 commented on #3852
As a beginner, I was unable to launch test pwa with my woocommerce store due to insufficient documentation. Also, I faced a problem with elasticsearch container exiting instantaneously whenever I run `docker-compose -f docker-compose.yml -f docker-compose.nodejs.yml up -d`. Kindly help and make the installation beginner-friendly by automating deployment for woocommerce store.

[2019-11-28 01:37] #3846 closed

[2019-11-28 01:39] hawaiiden commented on #3846
I set vs's endpoint to api in local.json.
ex) "api" -> "http://my.public.ip.address:8080/api"

[2019-11-28 07:54] pkarw commented on #3852
Hi, @itsgauravjain22 the WooCommerce is not officially supported just yet. There is only a PoC. So you can't probably use it out of the box. Regarding the docs @kkdg this is something maybe we should look at (regarding the docker setup_

[2019-11-28 08:20] mikesteeghs commented on #3822
I got it working now! Thanks to the deleted comment of Filip. I created a custom module and made an override of the core Url module following the documentation: https://docs.vuestorefront.io/guide/cookbook/module.html#_2-2-recipe-b-override-vuex-store-with-extendstore

Unfortunately, I couldn't make it work with a Vuex plugin (like the docs mention in Recipe A).

[code]

[2019-11-28 11:19] filrak commented on #3822
@mikesteeghs I deleted it because I though the solution provided by @andrzejewsky already covered it and had no idea to dig deeper because I was in a train, sorry ;) Regarding plugins - what exactly you are struggling with?

[2019-11-28 12:36] andrzejewsky opened #3856 "Auto-deployment on our testing / stagins environment"
I've noticed our QA team have no possibility to test current / latest version on the real production usage because of these version are usually not deployed yet. The problem is that we have to do this manually so often nobody does it, unless we have new either RC or stable version.

In order to improve this process, I'd like to introduce something like auto deployments feature:

* Merge to develop

[2019-11-28 14:01] juho-jaakkola commented on #3848
I'm not able to reproduce the problem anymore. I'll reopen if I run into the problem again.

[2019-11-28 15:54] mikesteeghs commented on #3822
I tried to create a module with a plugin which listens to actions as follows:
[code]

But nothing was logged, so I also tried to register it as the url module (because it has to extend it) as follows:
[code]

But this will break the url module functionality. I'm not sure how the plugins functionality work and couldn't find out how to listen to actions of a particular module.

[2019-11-28 21:26] kkdg commented on #3822
@pkarw duly noted

[2019-11-30 07:16] JuliaBonita opened #3862 "Price of Recently Viewed Products Not Updated When Magento Updated"
## Current behavior
When I update a product's price in Magento, if the product was already viewed in VSF, the old price remains in the "Recently Viewed" products list. If you then click on the product in the "Recently Viewed" list, it will display the product with the correct price. So, the problem seems to be limited to the list view only.

## Expected behavior
The current price should be updated

[2019-11-30 15:17] kkdg commented on #3856
This is something I need too! every time it's changed/updated, I need an automated notice. having an idea on this, just I don't know when it will ripen though ;)

[2019-11-30 20:54] andrzejewsky commented on #3862
Thanks for reporting, I'll look at this.

[2019-11-30 21:56] kkdg commented on #3852
@pkarw @itsgauravjain22  Hi guys, they are going to be treated duly soon. Thanks

[2019-12-01 12:38] Fifciu opened #3863 "Extend in storeView config does not work"
## Current behavior

When I've used extend option where value of `appendStoreCode` should be inherited. I could not open checkout. Button still was link to the `/checkout` (without storeCode). I had warning in console:
[code]

I fixed it just by copy/paste stuff to storeViews instead of use `extend`. However, it would be so cool to use *extend* option.

## Expected behavior

Extend extending every

[2019-12-02 07:39] gibkigonzo commented on #3822
@mikesteeghs You can't add plugin with vuex module registration. There is some old [RFC](https://github.com/vuejs/vuex/issues/467) on github. But in vsf module registration you have access to store instance so you can do something like this.
[code]
Anyway you need to keep in mind that this plugin is registered in whole store scope, not for particular plugin. You can find other examples in vsf like

[2019-12-02 11:55] gibkigonzo commented on #3863
@Fifciu I couldn't reproduce this issue. We have test case for extending storeView `core/lib/test/unit/multistore.spec.ts:367`. I tried to break it, but I failed. :sweat_smile:  Can you show storeViews config that was not working(with `extend`)?

[2019-12-02 13:08] benjick opened #3866 "Redirect simple to configurable product problems"
## Current behavior
(I'm on 1.10.4 but I have implemented this: https://github.com/DivanteLtd/vue-storefront/pull/3804/files)

1. Go to `http://localhost:3000/se/f-b-3040` (simple product)
2. End up at `http://localhost:3000/se/f-001-b` (configurable product)
3. Press back, end up at `http://localhost:3000/se/f-b-3040`
4. Press back again, nothing
5. Press back again, nothing
6. Press back again,

[2019-12-02 13:34] pkarw commented on #3863
@lukeromanowicz can you please take a look at this one?

[2019-12-02 13:37] pkarw commented on #3822
@juho-jaakkola please let us know if we’re ok to close this issue?

[2019-12-02 13:38] #3852 closed

[2019-12-02 13:38] #3842 closed

[2019-12-02 13:39] pkarw commented on #3844
Related to #3614

[2019-12-02 13:58] dimasch opened #3867 "Incorrect update the qty of cart item"
## Current behavior
Update the qty - nothing to change. See only visually updated.
The Vuex state not updated.

## Expected behavior
Update the qty from frontend - then check Vuex state changed.

## Steps to reproduce the issue
Try to change the qty for some item in cart.

## Repository
https://github.com/DivanteLtd/vue-storefront/blob/1fd1cf4414b65a049401c3a8011344f462de29cf/core/modules/cart/sto

[2019-12-02 22:13] #3469 closed

[2019-12-03 10:51] ThomasBaier opened #3868 "Link back to vue storefront after payment"
## Prerequisites
Hey i'm developing a module for vue storefront which makes different payment options available from payment services. For some payments i use the createOrder Button to go to a third party service like paypal do the payment and then ### come back.

## Goal Scenario:
When the user is linked back to the shop, i want to open directly /checkout#payment or Thankyou page  to either adjus

[2019-12-03 16:23] undefinederror opened #3870 "static/ in .gitignore release/1.11"
why is `static/` in .gitignore?
https://github.com/DivanteLtd/vue-storefront/commit/bb574a3133ea74687dd681f7de3c674783a58b58#diff-a084b794bc0759e7a6b77810e01874f2

A colleague of mine has pulled release/1.11 into a local branch, merged into master and pushed master back to our host.

because of the `static/` entry, the new folder `/src/themes/default/components/theme/blocks/Static` has not been ad

[2019-12-03 16:31] undefinederror commented on #3870
ok, that folder wasn't actually new, my bad, it has indeed been in master for a while.
The git update flow was a bit more convoluted than what I described, still that entry in .gitignore made it so that the folder got, well... ignored. :)

The question still stands though, whether `/src/themes/default/components/theme/blocks/Static` got intentionally targeted for being excluded from commits.

[2019-12-04 08:37] cewald opened #3871 "`yarn start` crashes because `pm2` ecosystem file needs `script` property"
## Current behavior

If I currently start my VSF build using `yarn start`, I'll get the error `No script path - aborting` like:
[code]

This is caused by the missing `script` property in `ecosystem.json` – it's a required one.
So, if you change the file to the following, it's working again and uses the args for the interpreter:
[code]

## Steps to reproduce the issue

* Run `yarn`
* Run `yarn buil

[2019-12-04 08:44] cewald commented on #3871
PR is open: #3871

[2019-12-04 09:50] gibkigonzo commented on #3844
Hey @oskar1233 I think it works as it should, but it can be a bit confusing. If you set `appendStoreCode: false` then your store internal navigation (SPA navigation) will be `/`. In opposite you can have internal navigation `/<storeCode>` with `appendStoreCode: true`. And thats all.
`url` is supposed to be used **only** to switch between stores. If you set `url: "/de"` and `appendStoreCode: false`

[2019-12-04 18:23] oskar1233 commented on #3844
IMO that means design mess up. All you write makes sense but it is 1) undocumented (afaik) 2) too complicated.

Reproduce steps are IMO basic configuration and shouldn't make the store fail.

Also there are few backwards incompatible changes on `develop` so I wouldn't care much.

Anyway, I understand it is major design decision so I'll leave it up to core team - just dropped my thoughts & provided

[2019-12-04 19:59] leon0399 opened #3876 "Helm chart"
## What is the motivation for adding / enhancing this feature?

Provide an option to boot up a Kubernetes deployment via Helm Chart

## What are the acceptance criteria

* [ ] Helm chart
* [ ] Option to select own Docker image

## Can you complete this feature request by yourself?
* [x] YES
* [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this

[2019-12-05 07:46] tdugue opened #3878 "Newsletter token"
## Prerequisites
Please answer the following questions for yourself before submitting an issue.

* [x] I checked the documentation and found no answer
* [x] I am running the latest version
* [x] I checked to make sure that this issue has not already been filed

## Newsletter token
I have a concern for the subscription to the newsletter with magento 1. Distinction between guest and customer.

**Ex

[2019-12-05 10:18] cewald opened #3879 "Infinite scrolling category view and `category-next/loadMoreCategoryProducts` isn't working anymore"
## Current behavior

Since the fix for the category page memory-leak #3787 the infinite scrolling isn't working anymore.

Actually it's about the `CATEGORY_ADD_PRODUCTS` mutation which is called in the `category-next/loadMoreCategoryProducts` action. It lacks the changes of #3787 fix so it only adds its results to the `state` but not to the `nonReactiveState` which again leads to the problem that

[2019-12-05 10:30] cewald commented on #3879
PR is up #3880

[2019-12-05 11:41] andrzejewsky commented on #3871
@cewald already fixed, but thanks for report!

[2019-12-05 11:41] #3871 closed

[2019-12-05 12:29] undefinederror opened #3881 "non empty defaultStoreCode in multistore mode errors out"
## Current behavior
These two are the only changes to config/default.json
![image](https://user-images.githubusercontent.com/8209966/70234990-344e4500-1762-11ea-8b08-118e6c6e8e0b.png)
It results in an error loop
![image](https://user-images.githubusercontent.com/8209966/70234944-197bd080-1762-11ea-997c-4f161d2ef58e.png)

## Expected behavior
Should behave like v1.10 ~~redirect to host/{defaultStor

[2019-12-05 17:53] andrzejewsky commented on #3881
thanks for reporting, we need to check that 👍

[2019-12-05 17:57] andrzejewsky commented on #3879
Yeah.. this memory leak was super hard to fix... thanks for reporting and PR - I'll look at this 👍

[2019-12-05 17:59] andrzejewsky commented on #3867
@dimasch Hey, could you tell us which version of VSF did you use?

[2019-12-05 18:03] andrzejewsky commented on #3878
Hmm actually we haven't planned something like that. @pkarw Have you heard about that issue before? @TigerWhite1 Maybe we can change this question to the regular issue / feature request?

[2019-12-05 18:23] cewald commented on #3879
It's a duplicate of #3877 and is already fixed in `develop`.
Issue can be closed. Sorry for double posting the issue – I'm going to update to develop now to be up to date with changes like that.

[2019-12-05 18:24] #3879 closed

[2019-12-06 13:04] limajasachin commented on #2993
Assign "http://localhost:8080/media/catalog/product" as "imgUrl" in config/local.json file of vue-storefront-api folder and rebuild API docker images.
[code]

And Add localhost:8080 in allowed hosts in the config/local.json configuration file as below:

[code]

[2019-12-06 15:46] JuliaBonita opened #3882 "Safari Browser: Homepage Images Don't Appear"
## Current behavior

Everything works fine on Chrome and Edge, but on Safari (iOS & MacOS) the homepage product images never appear on first load. (Only the placeholder appears.) They also don't appear when you refresh the browser window. But if you click on any product or site link on the homepage and then click back to the homepage, all the product images appear as expected. Then refresh the hom

[2019-12-07 05:19] pkarw commented on #3882
Thanks for raising this issue. I’ve got it only on v1.10 (demo.storefrontcloud.io) and it’s apparently gone on v1.11 (test.storefrontcloud.io)

[2019-12-07 05:26] pkarw commented on #3868
Hi @ThomasBaier thats really great you’re working on extension like this! Can you please precise your question?

In general I’d suggest just adding a dedicated route inside your module (via router/index you’ve got probably inside the module) and redirect users to this specific url. Inside it you can just redirect (programmatically in JS) the user to any section they wanted

[2019-12-07 05:31] pkarw commented on #3881
Hi there! Are you sure it was doing the redirect in 1.10? I’m asking because #3643 is still open and not merged yet. Before that we haven’t got the redirect and this parameter was used for switching the elastic search index names and adding this parameter as ?storeView to api calls - in general for switching the store context for the default url

By having this parameter you were able to run the v

[2019-12-07 05:34] pkarw commented on #3870
Thanks for pointing this out. Well this directory is ignored to not let the users accidentally commit their files to the default theme when they’re contributing to the core. However it’s a ultra rare case it might happen and I agree it may lead to some unintentional issues. Please feel free to contribute a change to the core removing this gitignore, we’re happy to accept

[2019-12-07 05:35] #3822 closed

[2019-12-07 10:29] Fifciu opened #3883 "Different shape of category in product object (Elasticsearch)"
## What is the motivation for adding / enhancing this feature?

Easy sorting by sort order.

## What are the acceptance criteria

- [ ] Change shape of category's attribute inside product

## Can you complete this feature request by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick o

[2019-12-07 13:52] JuliaBonita opened #3884 ""No script path - aborting""
## Current behavior
`yarn start` throws this error: `[PM2][ERROR] No script path - aborting`

## Expected behavior
Yarn should start the VSF app with no error.

## Steps to reproduce the issue

Install the latest v1.11-rc.2 and try to start it.

## Can you handle fixing this bug by yourself?

YES

## Environment details
- Browser: Chromium
- OS: Ubuntu
- Node: v10.17.0
- Code Version: v1.11.0-rc.2

[2019-12-07 16:28] andrzejewsky commented on #3882
@pkarw so maybe we have to backport / solve that issue on 1.10

[2019-12-07 17:04] ktopouzi opened #3885 "Add to cart issue with non required custom options"
## Current behavior

Adding products with custom options on cart fails, asking for all product options to be selected.

## Expected behavior

Only the required options should be selected. Everything else is optional. The product should be added to cart successfully without selecting every option.

## Steps to reproduce the issue

Make a Magento 2 connection and pump some product with custom option

[2019-12-07 19:43] pkarw commented on #3884
@andrzejewsky i guess this is because of this missing “script” property in ecosystem.json we need to fix it quickly

[2019-12-07 19:44] andrzejewsky commented on #3884
@pkarw fixed on develop, a few days ago

[2019-12-07 19:45] pkarw commented on #3884
Oh, it’s been just fixed https://github.com/DivanteLtd/vue-storefront/pull/3872

@JuliaBonita please switch to develop for a while

[2019-12-07 19:45] #3884 closed

[2019-12-07 19:46] pkarw commented on #3885
@gibkigonzo @andrzejewsky

[2019-12-07 19:47] #1692 closed

[2019-12-07 19:49] pkarw commented on #3885
Maybe related to: #3595

[2019-12-07 19:51] andrzejewsky commented on #3885
@pkarw yeah, this the first thing that came to my mind. Worth to check that, thanks @ktopouzi

[2019-12-07 19:51] pkarw commented on #3885
Assigned to @gibkigonzo as he fixed something related in October: https://github.com/DivanteLtd/vue-storefront/pull/3694

@ktopouzi this PR was merged into develop branch (1.12rc1); can you please check it on develop?

[2019-12-07 21:42] itsgauravjain22 commented on #3852
@kkdg I hope vue storefront supports woocommerce as early as possible. As most small business eCommerce stores are hosted via woocommerce.

[2019-12-08 09:54] ktopouzi commented on #3885
Hey @pkarw I have switched on the develop branch and tested again. This issue is still here. ( just for clarification the develop branch version is 1.11.0 and not 1.12. Am I in a wrong branch?)

[2019-12-08 10:14] JuliaBonita commented on #3882
Thank you. I've upgraded to v.1.11 and can confirm the issue is fixed. Much appreciated!

[2019-12-08 11:27] amman20 commented on #1495
just use "sudo docker-compose up  -d" inside (vue-storefront/core/scripts/installer.js) in line 196

[2019-12-08 12:38] andrzejewsky commented on #3885
@ktopouzi develop is currently 1.11 -we merge there just improvements and bugfixes (no BC) because release is comming , 1.12 haven't started yet

[2019-12-08 17:11] ktopouzi commented on #3885
Oh okay. Piotr actually mentioned 1.12 that's why I got confused.  Even after setting the develop branch up the issue is still here.

[2019-12-08 19:35] lgs commented on #843
+1 bump

[2019-12-09 11:43] undefinederror commented on #3881
Yes you are right, no redirect to host/{defaultStoreCode} as I said previously. Not sure which dream I took it from :D

[2019-12-09 15:24] undefinederror commented on #3870
Happy to contribute, but I don't quite get what your are saying.
In order to prevent people from committing to default theme you have added `static/` to .gitignore?
That is only going to prevent people from committing to `/src/themes/default/components/theme/blocks/Static`, (only `static` folder in the whole project) isn't it?
Why not add `src/themes/default/` to .gitignore?
There is surely someth

[2019-12-10 07:40] grimasod opened #3890 "Mulistore Error page shows 404"
## Current behavior

The Error page on multistore sites shows 404 page-not-found

## Expected behavior

The Error page should be the same as the default store.

## Steps to reproduce the issue

Open the pages:

https://next.storefrontcloud.io/error
https://next.storefrontcloud.io/it/error

Notice that the IT store is incorrectly showing the 404 page. The default store is correct.

## Repository

#

[2019-12-10 08:46] #3885 closed

[2019-12-10 08:56] andrzejewsky commented on #1675
I think it was fixed @bachus03 could you check this on `develop` branch?

[2019-12-10 09:07] georgiev-ivan commented on #3866
I would like to take this issue

[2019-12-10 10:42] andrzejewsky commented on #3866
@benjick could you put here the real links on our test.storefrontcloud.io (or demo)? because I can't even reproduce this bug

[2019-12-10 10:46] georgiev-ivan commented on #3867
I would like to take this issue

[2019-12-10 11:11] janmyszkier opened #3891 "consider full url path for categories for more SEO friendly URLS"
## What is the motivation for adding / enhancing this feature?
To have more friendly URLS with bigger stores

## What are the acceptance criteria
it should be possible for full category url_path to be unique:
men/coats/fancy-coats
women/coats/fancy-coats

currently only `fancy-coats` is used to figure out which category to show (so it will fail, because `fancy-coats` nor `coats` is unique for the

[2019-12-10 11:20] ktopouzi commented on #3595
Hey guys, since I really need this feature, can you please point me out to the right direction to either solve or bypass somehow this issue? I am more than willing to fix this if you can guide me in some way. Thanks :)

[2019-12-10 11:26] georgiev-ivan commented on #3867
Hey @dimasch tested it on 1.11 branch and it works fine, but on 1.10 branch the getter returns different quantity as you have mentioned

[2019-12-10 15:03] pkarw commented on #3890
Hi @grimasod, hmm I didn't notice: what's wrong with this error page (for me it looks like this: https://www.dropbox.com/s/0oll82kpkn5bc91/Screenshot%202019-12-10%2016.02.50.png?dl=0)

[2019-12-10 22:21] andrzejewsky commented on #3867
ok so seems like we have to backport a bugfix thanks @georgiev-ivan

[2019-12-11 01:22] grimasod commented on #3890
Hi @pkarw
That's the page not found 404 page. It should be the error page, "Something went wrong ..." (using the Minimal layout)

[2019-12-11 01:28] grimasod commented on #3890
<img width="476" alt="Screen Shot 2019-12-11 at 10 24 50 AM" src="https://user-images.githubusercontent.com/29225088/70583380-ea051200-1c00-11ea-99af-e6b92ee009a5.png">
<img width="492" alt="Screen Shot 2019-12-11 at 10 25 04 AM" src="https://user-images.githubusercontent.com/29225088/70583384-ea051200-1c00-11ea-9a8b-80a2d78550a4.png">

[2019-12-11 08:00] pkarw commented on #3890
ah, OK! I got it (I guess): the issue is that under localized urls (/it/error) there is no error page but rather a 404 not-found-  is that the core of this issue?

[2019-12-11 08:05] pkarw commented on #3890
This issue is related to 1.11 only - but honestly, I don't know why is that because of the error page is a normal route - registered the same way as /page-not found (is in the same routing table) ...

[2019-12-11 08:06] pkarw commented on #3890
@gibkigonzo, @andrzejewsky will you please take a look?

[2019-12-11 08:13] grimasod commented on #3890
Yes, exactly. Sorry if my explanation was not clear :)

I don't understand either. I tried to figure it out, but don't have any more time to spend on it.

While investigating I saw some strange behavior sometimes where the current store code was not set in `window.__INITIAL_STATE__.user.current_storecode`. This could be the cause, but I'm not sure

[2019-12-11 08:16] pkarw commented on #3870
@andrzejewsky @filrak we need your comment

[2019-12-11 08:17] pkarw commented on #3883
@Fifciu there is `category_ids` in exactly that format - doesn't it solve the issue?

[2019-12-11 08:18] #3868 closed

[2019-12-11 08:54] mikesteeghs opened #3892 "Reset password is missing storeCode in request"
## Current behavior
When I'm using the reset-password functionality, a POST request is done to `/api/user/reset-password`. This returns a 500 status with the following error:

[code]

## Expected behavior
A POST request is done which returns a 200 status when a valid email address is provided. Thereby, the email to reset your password is send to the valid email address

## Steps to reproduce the i

[2019-12-11 09:53] TigerWhite1 commented on #3878
Yes sorry for long answer times.

even without speaking of magento for the modification of information of a customer account even a newsletter they would be more prudent to send a token to verify that it is the user who is at the request.

Of course only in the case of a customer who has an account. Otherwise no need token

[2019-12-11 16:28] undefinederror commented on #3870
ooooooaaaaaaaaaaaaaaaaa!! I think I get it!
What you want to target is the /static folder that is created running `yarn generate {cmd}` 😄
I didn't even know that folder would be there, I just run that command and saw the folder being generated.

So in .gitignore it should be `/static` instead of `static/`

Please let me know if my suspicions are correct. In case, if useful, I can submit a PR movin

[2019-12-11 17:46] andrzejewsky commented on #3890
it could be something related to the templates, we'll have a look

[2019-12-11 17:56] andrzejewsky commented on #3870
you guys were talking about `Static.vue` file while it's about static directory in the root of the project. I'm surprised that `Static.vue` haven't been committed in your case. It's super rare... so quickfix for you @undefinederror - turn off case sensitivity on you git

[2019-12-11 19:12] undefinederror commented on #3870
Hi @andrzejewsky
I am talking about folder https://github.com/DivanteLtd/vue-storefront/tree/master/src/themes/default/components/theme/blocks/Static

I am on Windows so that's probably why my .gitignore is case insensitive.
The thing is, if I clone the default theme to make a custom one. Modify files contained in that `Static` folder, they won't be committed.

Since the intended target is `/stati

[2019-12-11 19:38] andrzejewsky commented on #3870
@undefinederror are you 100% sure that exactly this ignore line solves your issue? I'm really sceptic about that because of we have people on board who are working on Windows and they never came across that issue before.

To ignore this path you need a wildcard something like `*/**/static`, weird. If it's really solves your problem, feel free to prepare a PR (from `develop`)

[2019-12-11 20:32] abdulbar opened #3893 "Categories and products show up on magento default page, but not on vuestorefront"
Hi Everyone. I have installed Vue and Magento 2.3 on localhost on Linux, and used fast integration method.
Vsf-frontend and api are running fine without any errors. I have used custom theme for the frontend, and can see the homepage as well.
When I run `sudo yarn mage2vs import` I can see my categories and products in the API terminal as well.

When I try to access the categories using `http://loc

[2019-12-12 08:00] pkarw commented on #3892
Good point there; the `processLocalizedURLAddress` helper, however, should add this `storeCode` parameter to the API url as long as you've got the `config.storeViews.multistore` set to `true`

[2019-12-12 08:01] pkarw commented on #3891
@janmyszkier I'm not sure if this is a request to the indexer/mage2vs? Because from the VSF point of view you can have whatever you like in the `url_path` - so it's probably not a FR to VSF itself, isn't it?

[2019-12-12 08:02] pkarw commented on #3882
Yeah, it's a backport candidate

[2019-12-12 08:17] pkarw opened #3896 "Implement dynamic theme selection per storeview: `storeView.theme`"
## What is the motivation for adding / enhancing this feature?

We haven't had this option - to select the theme per store view before, because of the fact that Webpack is automatically bundling all the imported resources into single app/vendor bundles. Meaning all the themes for all the storeviews would be provided to all the users no matter which theme are they using.

However - this has changed

[2019-12-12 08:17] pkarw commented on #3896
@nhp

[2019-12-12 08:18] pkarw commented on #3896
Workaround solution: https://www.yireo.com/blog/2019-11-19-vue-storefront-theme-inheritance

[2019-12-12 08:36] nhp opened #3897 "Add cache-tag like functionality to static page generator to limit amount of pages to be processed"
## What is the motivation for adding / enhancing this feature?
This is usefull when a full index takes a long time for all pages (like a couple of minutes for product pages alone) and you have a lot of changing data all the time and need to regenerate your pages because of that.
In this case you only want to generate the pages that were affected by the last update.

## What are the acceptance crit

[2019-12-12 08:40] pkarw commented on #3897
Plus: parallel rendering would be awesome (multiple processes) - but actually by having those tags you can easily do this by starting 2-3 cli scripts each for different tag/partition

[2019-12-12 08:59] nhp opened #3898 "Add Multistore capabilities to static page generation"
## What is the motivation for adding / enhancing this feature?
Currently only the default store config gets used to render the static pages. There needs to be a solution to render all active stores of a multi-store setup. In our opinion this could be achieved by having the domain- or store-name as root folder of the static pages like:

[code]

## What are the acceptance criteria
* [ ] All active s

[2019-12-12 09:05] Fifciu commented on #3883
@pkarw `category_ids` looks to be array of ids. I need also information about **product's sort order in each category**. Of course, I have it in the `category` but as array of objects - so it is hard to sort by that straightly in Elasticsearch query.

I've shown how easy could we sort them if we have proposed shape of data (I've used it in one project and it worked well)

[2019-12-12 09:06] pkarw commented on #3883
ok! @Fifciu now i got it :)

[2019-12-12 09:21] nhp opened #3899 "Add queueing for static page generation"
## What is the motivation for adding / enhancing this feature?
Inspired by #3897. If there is need to keep the infrastructure small (not adding new services all over the place) this could be some optional implementation for the processing part of #3897.

To be able to rebuild pages when data changes there needs to be a solution to not do this in a single process that also changes the data within E

[2019-12-12 09:23] nhp commented on #3897
I think having it in a "poor-mans" way, to prevent the need of a queuing service should be for this ticket and the queuing implementation should be handled in #3899 but the general functionality should be possible without the "worker-implementation".

[2019-12-12 10:23] parekhreena commented on #376
It is not just about cart totals, even on listing page the catalog rule should show the reduced price, which is not happening right now as far as i know.

[2019-12-12 11:03] undefinederror commented on #3870
@andrzejewsky Yes I am well positive :)

I go and create a new file in the `Static` folder I mentioned
![image](https://user-images.githubusercontent.com/8209966/70706040-6e28c980-1cd5-11ea-8c7b-c18070b94317.png)

I see no changes picked up in source control
![image](https://user-images.githubusercontent.com/8209966/70706102-93b5d300-1cd5-11ea-8eb0-fcdb52a18277.png)

I change `static/` to `/static

[2019-12-13 08:57] #3870 closed

[2019-12-13 11:45] agcty commented on #843
+1

[2019-12-16 04:53] DJ-DESIGN commented on #2604
ERROR                                                                                                                                                            │
│                                                                                                                                                                  │
│ Error: Can't build storefront npm.

[2019-12-16 07:40] cewald commented on #3399
If somebody is still looking for this: I implemented it using a server hook inside a new module (like in `robots` module with the `server.ts`) to add a new ExpressJS route with a regex to check if a store code exists inside the URL (and more magic) and redirect to the first store-code in `config.storeViews.mapStoreUrlsFor`.

[code]
__This isn't tested anywhere else but for my environment – you sho

[2019-12-16 09:22] pkarw commented on #3399
@cewald great job; can you submit this module (as a separate npm - to the forum.vuestorfront.io modules section) or even to the core (src/modules)?

[2019-12-16 09:57] TomFranssen opened #3907 "Accessibility improvements for modal dialog"
## What is the motivation for adding / enhancing this feature?

When opening a modal on VSF for instance the Log In modal and you tab through the modal till the end and press tab one more time your browser automatically starts it's focus on the top of the website instead of the top of the modal. This way it's very hard to get the focus back in the modal again.
According to the official WCAG standa

[2019-12-16 12:06] #3907 closed

[2019-12-16 14:18] benoitemile commented on #3112
Hi, do you think we need to have content data in ES ?

[2019-12-16 19:38] maikel-code opened #3909 "cmsBlock/list Params not passed through"
It´s a very easy one:
Just add the params `size` & `start` to createLoadingBlockQuery function.

Most likely somebody just forgot to pass those.
![Bildschirmfoto 2019-12-16 um 20 37 46](https://user-images.githubusercontent.com/17151530/70937037-f09dea00-2043-11ea-8d4e-78f23563608e.png)

[2019-12-16 21:15] maikel-code opened #3910 "CmsBlock SSR fix with new serverPrefetch method"
To make SSR finally work with cmsBlock:
- [ ] just rename `asyncData` to `serverPrefetch`.
- [ ] remove function params (as not needed) and outdated comments
- [ ] change `store.dispatch` to `this.$store.dispatch`

And BAM, just some new vue magic and it works as intended
serverPrefetch is out there since vue version 2.6 and gives you access to `this` object
[https://ssr.vuejs.org/api/#serverprefe

[2019-12-16 21:45] DJ-DESIGN opened #3911 "Can't build storefront npm."
Noob here...
I am running all latest versions and have been going through all documentation without any luck to resolve my issue. I have seen similar issues but no clear instruction on how to fix.

The furthest I was able to get was here in the VS doc(How to prevent an error "Can’t build storefront npm"):
https://docs.vuestorefront.io/guide/basics/recipes.html#how-to-get-dynamic-prices-to-work-cat

[2019-12-17 08:43] gibkigonzo commented on #3863
@Fifciu `appendStoreCode` can not be inherited with extend. Please check docs for 1.11 https://github.com/DivanteLtd/vue-storefront/blob/develop/docs/guide/basics/configuration.md ` Keep in mind that url, storeCode and appendStoreCode attributes cannot be inherited from oter storeviews.`

[2019-12-17 09:22] Fifciu commented on #3863
That's quite interesting. Not inheriting storeCode is obvious. However, why not inherit appendStoreCode? I think people rather use it for each storeCode or do not use it. So inheriting/global option would be so useful

[2019-12-17 10:07] georgiev-ivan commented on #3909
I would like to take this issue

[2019-12-17 10:47] juho-jaakkola opened #3914 "Order details should be unset after finishing the checkout"
## What is the motivation for adding / enhancing this feature?

The order details (name, address etc) currently remain in the form after completing an order.

This could be a problem on public computers, as the next person accessing the same shop would see the personal details of the previous customer.

## What are the acceptance criteria

This perhaps has two different use cases:

- If not logged

[2019-12-17 10:51] juho-jaakkola commented on #3914
Well actually even though contents of the cart are preserved, the personal details **do** get emptied if the browser is closed. So I suppose this is quite an edge case in the end.

[2019-12-17 11:34] gibkigonzo commented on #3892
`processLocalizedURLAddress` adds storeCode (exacly `adjustMultistoreApiUrl` do this). It fails when we have `config.storeViews.multistore` set to false. We just need to send websiteId: undefined in api so magento will use default store. https://github.com/DivanteLtd/vue-storefront-api/pull/382

[2019-12-17 20:52] Fifciu opened #3922 "Mistmatch between CSR & SSR multiplies Vue's instances x2"
In one of my modules I am using **AsyncDataLoader** to fetch some stuff inside module's **afterRegistration** hook. I've tried to just use *await* inside *async afterRegistration* but with that I could not get SSR.

That's source code of that file: https://github.com/vue-wordpress/vsf-wp-json/blob/master/hooks/afterRegistration.ts

I am using repo from master branch. It is 1.10.5. With that my nod

[2019-12-17 23:06] pkarw commented on #3922
Hey! Seemingly after fixing the ssr issue (within client-entry.ts) this has been broken. I guess we need to make shure the AsyncLoader.flush is well .. awaited. I guess currently it’s not and this leads to breaking the async data flow.

The other option is you’d move the logic from AsyncDataLoader to “serverPrefetch” call within your component

[2019-12-18 06:19] juho-jaakkola commented on #3914
I guess this is not something that needs to be fixed in core. It should be common knowledge to close the browser after using it on a public computer.

[2019-12-18 06:19] #3914 closed

[2019-12-18 08:59] #3910 closed

[2019-12-18 09:08] serzilo opened #3923 "Order-history request not fetching data"
## Current behavior
I am authorized user. After some time my token is invalidated. I go to cart and refresh page. I see many refresh and order-history requests.

![image](https://user-images.githubusercontent.com/2085355/71071890-7ded5580-218e-11ea-9e39-831e92811244.png)

I think, the problem is that order-history request doesnt use new token.,

## Expected behavior
I am authorized user.

[2019-12-18 09:30] Fifciu commented on #3922
Looks like it is not really caused by AsyncDataLoader. By fixing SSR issue you meant that: https://github.com/DivanteLtd/vue-storefront/commit/1fd1cf4414b65a049401c3a8011344f462de29cf @pkarw?

[2019-12-18 10:11] #3890 closed

[2019-12-18 10:14] #3909 closed

[2019-12-18 10:19] pkarw commented on #3923
@serzilo can you provide us with the error message `order-history` is returning or the `vue-storefront-api` output log?

[2019-12-18 10:46] maikel-code opened #3925 "Memory leak when dynamicConfigReload enabled"
## Current behavior

With dynamic config relaod enabled, the memory the instance consumes, rises slowly but constantly.
Happens on kubernetes.
We could fix that problem with reloading the config only once, as we need ENV vars inside config, which are available after build is done. You can see the difference in the image:
![memory leaking graph](https://user-images.githubusercontent.com/17151530/71

[2019-12-18 11:08] serzilo commented on #3923
I think bug is here:
core/lib/sync/task.ts
![image](https://user-images.githubusercontent.com/2085355/71081107-9f0a7200-219f-11ea-81f6-ea1ae9545c14.png)

[2019-12-18 12:18] KevinGorjan opened #3926 "Multi Shipping"
Hi

I've got a question for multi-shipping. Why does VueSF API only let me use 2 addresses?
In the documentation, there is mentioned that VueSF has "Multiple shipping address management". I searched in the code but it seems all is restricted to "Shipping-" and "Billing-"address. Or do I miss something?

https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/basics/feature-list.md#vue-

[2019-12-18 12:21] pkarw commented on #3926
Hi @KevinGorjan I guess it's actually a good idea for a Pull Request! The limitation is actually just the UI one so can be easily re-configured

[2019-12-18 12:22] pkarw commented on #3926
... oh there is already a module for this: https://github.com/aureatelabs/vsf-address-book :-)

[2019-12-18 12:22] #3926 closed

[2019-12-18 12:24] pkarw commented on #3923
@gibkigonzo can you please take a look?

[2019-12-18 12:28] pkarw commented on #3925
Thanks! Good point. @gibkigonzo I guess you were debugging some memory leaks recently and maybe can take a look?

[2019-12-18 14:07] andrzejewsky commented on #3925
I'm wondering if should we even use dynamic reloading in the production mode, what do you think @pkarw ?

[2019-12-18 14:10] pkarw commented on #3925
@andrzejewsky we should :) It's very useful when scaling up the application etc. @mkoszutowski is using this feature on storefrontcloud.io as well

[2019-12-18 14:12] maikel-code commented on #3925
An idea: Reload config only when smth has changed

[2019-12-18 14:13] pkarw commented on #3925
@maikel-code yeah that's an easy option I guess (with some kind of hashing)

[2019-12-18 14:46] Devors opened #3927 "Microcart/Product.vue don't use sourcePriceIncludesTax from"
## Current behavior
price-special includes tax twice when totals.discount_amount exist.

## Expected behavior
adding tax should be included depending on config. (sourcePriceIncludesTax)

## Steps to reproduce the issue
- sourcePriceIncludesTax: true
- add product with discount_amount to cart
- special price includes tax twice

## Repository
https://github.com/DivanteLtd/vue-storefront/blob/develop

[2019-12-18 14:48] pkarw commented on #3927
The totals are not touched by VSF at all. They're provided by the MAgento. Make sure your tax configuration is aligned with backend/Magento config

[2019-12-18 14:48] #3927 closed

[2019-12-18 15:17] andrzejewsky commented on #3923
got it, our token is not really invalidated, I mean it is, but it is not stored in the localStorage - just noticed that error in the code, I'll fix today.

[2019-12-18 17:44] Fifciu commented on #3922
I've struggled for a while but not succeed. I did changes inside server-entry, client-entry and app.ts. I tried to add some awaits etc. but there is probably other place which needs it.

Currently, I think that client/server does not wait for the serverPrefetch.

It is really strange behaviour because as far as I know server-renderer should process serverPrefetch out of the box. (Based on: https:/

[2019-12-18 17:51] gibkigonzo commented on #3922
I've tested AsyncDataLoader and it looks fine. https://github.com/DivanteLtd/vue-storefront/compare/master...gibkigonzo:bugfix/test-async-data-loader?expand=1 Here is example where we wait 10s. This nodes duplication is made by mismatch between ssr and csr content, so there should be more information in console.

[2019-12-18 23:52] andrzejewsky commented on #3925
@maikel-code I was looking for what causes that problem and I came across to the line with extending the config.

Could you please change the line
[code]
to:

[code]

I tested this one with a status that pm2 shows and seems like it solves that problem (memory doesn't increase or is balancing). It's really hard to confirm that so I would appreciate that if you can do this short test.

[2019-12-19 07:14] adityasharma7 opened #3929 "Search product fails for category filter when categoryId is string"
## Current behavior

Note: To generate the issue your backend system should have categoryId as a string
When we use the category filter for search product, the search fails when the categoryId is a string rather than an int value.

## Expected behavior

Category filter in search product should work for int as well as a string categoryIds

## Steps to reproduce the issue

Steps to regenerate:
1. Se

[2019-12-19 09:14] adityasharma7 commented on #2637
I think after the merge of https://github.com/DivanteLtd/vue-storefront/pull/3812, 1.11 only offers add to cart from wishlist, not product listing the changelog seems misleading and need to be updated.

https://github.com/DivanteLtd/vue-storefront/pull/3812/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR14

For reference comment and commit that removes it from the product listing for now in https://g

[2019-12-19 09:42] Fifciu commented on #3922
I've just figured out what was wrong. Inside CookieNotification we have something like:
[code]

Looks like server does not want to wait for that. Even if I return promise or use async/await. SO probably on the server `isOpen` === false and on the client `isOpen` === true. That's why we have this csr/ssr mismatch.

I changed it to mounted which should be totally ok (right?) and it seems to work.

[2019-12-19 10:01] pkarw commented on #3922
Perfect

[2019-12-19 10:01] #3922 closed

[2019-12-19 10:19] maikel-code commented on #3925
The if clause for configProvider Extension is not being executed, as I don´t use config extension modules. So your propsed fix won´t be executed
It´s basically all about these lines:
[code]

[2019-12-19 10:56] #3892 closed

[2019-12-19 10:57] #3836 closed

[2019-12-19 12:01] Fifciu opened #3934 "Extendable Elasticsearch queries"
## What is the motivation for adding / enhancing this feature?

When we are working on more advanced projects. We always need to create some custom stuff in ES queries. Custom aggregations, faceted filters or whole queries, e.g. for category view. It would be amazing if we could easily modify them (maybe from module?). Currently, it requires workarounds which is not a pleasure.

There should be so

[2019-12-19 13:13] gibkigonzo commented on #3925
[code]
Generally I have removed config reassignment because we change it by ref anyway, so there is no point to do that. And after some snapshots in devtools it looks pretty good. @maikel-code Can you test it in your env?

[2019-12-19 20:32] #3923 closed

[2019-12-20 10:02] michael-bouvy opened #3937 "Configuration mismatches when building once for many environments"
## Current behavior
When building in production mode, using `yarn build` the client-side configuration is generated based on `default.json`, `local.json` and `production.json` (taken from `NODE_ENV`), and written in both `dist/app.*.js` and `dist/core-service-worker.js`.

This is an issue as a single build may be (re)usable on several environments (ie. staging, preprod, prod), leveraging the `NODE

[2019-12-23 06:07] pkarw commented on #3937
Hi there! There is a config option: dynamicConfigReload which is set by default to false. Try just switching it to true - it will cause the config reload by each SSR request which apparently should solve this issue

[2019-12-23 10:44] michael-bouvy commented on #3937
Thanks @pkarw!

I actually had this option in mind, but didn't think it could help. Will give it a try.

[2019-12-24 08:57] pkarw opened #3942 "Optimize URL dispatcher for network-first strategy limit the number of subsequent url requests"
## What is the motivation for adding / enhancing this feature?

This is just an idea to discuss - and I’m not sure about the implementation (maybe just using `graphql` can solve the same issue slightly different way)

The `url/mappingFallback` Vuex action could be streamlined if we moved the logic to `vue-storefront-api`. There should be a url like: `https://Vue-storefront-api/api/url/map?url_path

[2019-12-24 08:58] pkarw commented on #3942
Related to: #3336

[2019-12-24 09:02] pkarw commented on #3942
I just wanted to put the notes on this challenge. Probably it will be tested in the R&D stream (“next”) first  and the there is much more quick-win optimization ideas for 1.12rc1 already :)

[2019-12-24 09:53] pkarw commented on #2696
I just realized that what @grimasod describe in his comment from 22 may is +/- Vue Storefront Next: https://medium.com/the-vue-storefront-journal/vue-storefront-whats-next-362362db44da?source=collection_home---7------0-----------------------

[2019-12-25 18:58] pkarw commented on #3942
... one of the options could be passing the product/category data via route additional property and then - within the asyncData - if the property is set the value is being used instead of calling product/single or category/single

[2019-12-25 19:05] #1589 closed

[2019-12-25 19:08] pkarw commented on #3911
Please check your node version; it’s hard to say anything more without the logs provided

[2019-12-25 19:08] #3911 closed

[2019-12-26 11:28] Sabari181 opened #3944 "How to use Docker in live server"
I have only 4gb server so i cant install redis and elastic search on 4gb server just i need to know how to use docker on my live server

[2019-12-26 13:50] zukilover commented on #1383
Hi @pkarw , is there any similar approach for VSFBridgeIndexer?

[2019-12-26 22:22] #3929 closed

[2019-12-26 22:41] andrzejewsky commented on #3944
Hello @Sabari181

Actually you mentioned that you can't use ES and Redis and you are asking about using a docker? I didn't really understand what you mean. I think you have noticed that our docker-compose files install ES and Redis itself and you probably asking about setting up VSF without them but with using docker? Am I right?

First of all, you can install VSF without VSF-API but you need to h

[2019-12-27 07:20] jamesgeorge007 opened #3946 "[CLI]: Have shorthands for version and help flags"
Introduce the respective shorthand for `--version` and `--help` flags.
- `vsf -h`
- `vsf -v`

## Can you complete this feature request by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

- [x] This is a normal feature request. This should be available on https://test.st

[2019-12-27 10:45] pkarw opened #3948 "Remove the `attribute/list` call around the codebase"
## What is the motivation for adding / enhancing this feature?

If we moved the fetching of attribute meta-data server-side (in the `storefront-api` or `vue-storefront-api` or both) we can potentially resign from fetching attribute metadata client's side). This is a huge optimization area as some of the attributes can have 1000+ different select options - plus some e-shops contains thousands of at

[2019-12-27 10:56] pkarw commented on #3948
Note: the `custom_attributes` should contain all the attributes that are visible on pdp and comparable

[2019-12-27 10:57] pkarw opened #3949 "Optimization priorities [1.12rc1]"
## What is the motivation for adding / enhancing this feature?

I've just decided to put a short note on the priorities over-optimization tasks we've planned for 1.12rc1. Not all of them have the same impact - therefore the same priority:

**High priority - high impact, no breaking changes, pretty obvious things to do**

1. [x] #2167 - Remove Elastic DSL from the frontend (move it to `storefront-a

[2019-12-27 11:01] pkarw commented on #3948
Not: this change should be backward compatible - so we should just remove the `attribute/list` calls but keep the whole logic for operating and indexind on attributes if anyone used it in the custom theme

[2019-12-27 11:06] pkarw opened #3950 "Optimize the `translation.processor`"
## What is the motivation for adding / enhancing this feature?

We should limit the `*.csv` files processed to only the locales that are defined within the `config.storeViews.i18n` + `config.i18n` - we don't need to compile all CSV files and this potentially will speed up the build process + if there is no `bundleAllStoreviewLanguages` set to true- will also optimize the bundle size (potentially)

[2019-12-27 11:24] pkarw opened #3951 "Optimize the `setupBreadcrumbs` for the PDP"
## What is the motivation for adding / enhancing this feature?

We can optimize how [the breadcrumbs are set](https://github.com/DivanteLtd/vue-storefront/blob/19a7c2f836209a57089be6dc2d5413c58032c1fc/core/modules/catalog/store/product/actions.ts#L72) - first we can limit the `category/list` calls to just single one (including multiple category ids) - getting just the parent category + it's `path`

[2019-12-27 11:32] pkarw opened #3952 "Simplify the `product` vuex store"
## What is the motivation for adding / enhancing this feature?

The following actions should be moved to the `storefront-api` or `vue-storefront-api` to simplify the frontend logic:

1. [ ] `setupVariants`
2. [ ] `preConfigureProduct`
3. [ ] `setupAssociated` + `configureGroupedAsync` + `configureBundleAsync`

## What are the acceptance criteria

- [ ] ...

## Can you complete this feature request

[2019-12-27 11:36] pkarw commented on #3949
@andrzejewsky @cewald @ResuBaka @gibkigonzo @haelbichalex @grimasod - please feel free to pick up some of these tasks as well as just share your comments/feedback/other ideas?

We decided to have the 1.12rc1  just all about the performance optimization

[2019-12-27 11:49] lukeromanowicz commented on #3949
There is no doubt that these are highly needed changes and will be a great improvement to vue storefront but I can already see the hell of upgrading customized projected to 1.12 :/ A comprehensive guide and preferably some migration accelerating would be welcomed.

Personally I would add https://github.com/DivanteLtd/vue-storefront/issues/3819 as high priority to that list and it's something I wil

[2019-12-27 11:54] pkarw commented on #3949
@lukeromanowicz cool - putting #3819 on the list; which tasks from the list you're afraid of regarding the upgrade path? I guess the `High priority` list doesn't consist any of non-b/c changes (i tried no to put any of those on it) even removing `bodybuilder` is not a b/c break as you as a developer can always import it

[2019-12-27 12:11] lukeromanowicz commented on #3949
Mainly I am afraid of:
* Remove Elastic DSL from the frontend
* removing attribute/list
* changing catalog logic once again

[2019-12-27 12:22] andrzejewsky commented on #3949
@lukeromanowicz understandable, we'll try to minimize BC-breaks / use deprecates instead.

@pkarw I think this one: https://github.com/DivanteLtd/vue-storefront/pull/3919 should be on that list because it's also part of 1.12, maybe it's not optimization itself but there are changes in webpack that might also reduce a bundle sizes etc.. and I think that will be the first thing what we will be worki

[2019-12-27 12:27] pkarw commented on #3949
You’re tight we need to be careful- I guess we should have - as awkward it sounds - config vars to enable this new behavior / or implement it as switchable modules / or at last have a upgrade docs with a notes how to get the prev. behavior up and running

Anyway - I’m almost sure we can achieve 100% backward compatibility with the current Vuex actions. There will be a case - as you described - if

[2019-12-27 12:39] ResuBaka commented on #3949
Removing the bodybuilder package should not be so hard as we can just send the contend of content of `SearchQuery` (_availableFilters,_appliedFilters,_searchText) to the api and with that we can build the query. As you normally would not use the `bodybuilder` directly it should be transparent to the user. They only need to know that they need to update the API. So in the end it would only be a b/c

[2019-12-27 14:00] pkarw opened #3955 "No image thumbnails leaded on 404 page"
## What is the motivation for adding / enhancing this feature?

There is a problem lazy loading images on 404 page: https://test.storefrontcloud.io/hgggdd

## What are the acceptance criteria

- [ ] images are correctly loaded for the bestseller blocks

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

[2019-12-27 14:00] jonathanribas opened #3956 "404 handled incorrectly"
## Current behavior
If I access a random URL like https://demo.vuestorefront.io/test.html, I'm getting a timeout

## Expected behavior
I should see a proper 404 Page Not Found.

## Steps to reproduce the issue
Access a random URL like https://demo.vuestorefront.io/test.html and you will have a timeout:

<img width="1675" alt="Screen Shot 2019-12-27 at 14 59 34" src="https://user-images.githubuserc

[2019-12-27 14:04] pkarw commented on #3956
Apparently this bug is related to 1.10 as it doesn’t occurs in 1.12: http://test.storefrontcloud.io/hdhd

[2019-12-27 16:32] #3950 closed

[2019-12-27 17:26] #2861 closed

[2019-12-27 18:22] #3946 closed

[2019-12-27 18:26] eerohakio opened #3957 "Stock logic not working with manage_stock: false"
## Current behavior
Using Magento and setting manage_stock false for product leads to situation where product cannot be added to cart. This is because maxQuantity for product is checked from stock.qty and theres no logic for manage_stock attribute.

## Expected behavior
If manage_stock is false no qty should be checked when adding product to cart or showing add to cart button

## Steps to reproduc

[2019-12-27 18:30] pkarw commented on #3957
Good point. Can you provide us with pull request solving this issue?

[2019-12-27 18:38] eerohakio commented on #3957
Ill try, did find out that logic doesnt work in production mode so gonna figure out something different there.

[2019-12-28 13:07] pkarw commented on #2232
[x] `graphql` is already loaded dynamically

[2019-12-28 13:39] pkarw commented on #3949
#2167 and #2232 are Work In Progress: https://github.com/DivanteLtd/vue-storefront/issues/2167

[2019-12-29 13:01] pkarw opened #3963 "Create an `default-optimized` theme based on `default`"
## What is the motivation for adding / enhancing this feature?

We can use theme inheritance (https://www.yireo.com/blog/2019-11-19-vue-storefront-theme-inheritance) to create a second theme `default-optimized` which could limit some non-frequently used features in order to limit the bundle size.

Some ideas for the optimizations:
- override the `Product.vue` (or some part of it) and disable the `

[2019-12-29 13:01] pkarw commented on #3963
... it should be a second theme, because in the standard `default` all the features should be still available to use

[2019-12-30 11:23] #2167 closed

[2019-12-30 11:24] pkarw commented on #2232
[x] `bodybuilder` has been removed as a part of #2167

[2019-12-30 12:57] pkarw commented on #3949
Another idea for optimization:

[code]

https://webpack.js.org/configuration/optimization/

[2019-12-30 17:52] #3956 closed

[2019-12-31 08:39] pkarw commented on #3963
Other ideas for optimizations:
- remove offline orders feature,
- optimize bundle size and remove localStorage (keeping just the localStorage support directly in the storage.ts)

[2019-12-31 12:55] gibkigonzo commented on #2232
WIP - Remove localForage
I will try to move it to separate package and remove all timeouts from `storage.ts`

[2020-01-01 10:00] dhaval-dev commented on #3911
@DJ-DESIGN Did you get any solution? I am getting same issue.

[2020-01-02 10:18] andrzejewsky commented on #3963
Actually makes sense for me, but maybe it's high time to introduce theme-related config file, and we can on/off some features there instead of writing a new theme? What do you think @pkarw?

[2020-01-02 10:21] pkarw commented on #3963
@andrzejewsky that's surely good idea - another one: have `src/modules/index` file per theme - to disable the modules not necessarily needed for a particular theme

BUT - there is a lot of things you can't disable via config or it would be too complex; say: removing product reviews - it's far easier to just remove the `<product-reviews` within the `Product.vue` which is separated to this dedcated

[2020-01-02 10:23] pkarw commented on #3949
As for now i think the #3963  and #3706 along with #2232 will provide us with the highest performance impact

[2020-01-03 08:38] mikesteeghs commented on #2883
I've added a plugin to Magento, to change the message that is coming from the backend. So you can set your custom error message over there and translate it in the frontend or backend. I'm not sure if you can translate it in the frontend when the message contains some variables like the email address.

For the people who are familiar with Magento, add this to the di.xml in you module:
[code]

Creat

[2020-01-03 09:10] janmyszkier commented on #843
To be honest I do not share @filrak thoughs on "without any problems" as I already see upcoming issues that would have to be fought with. Example:
https://help.shopify.com/en/api/reference/products/product-variant
this is representation of the "child" product, which is nowhere close to magento format (and what vueSF currently expects). there's no telling what color it is, and there's no telling it

[2020-01-03 13:40] gibkigonzo commented on #3963
Would be super cool if we could generate theme by cli (and also a theme config). For example:
1. `vsf init:theme` - always generate base theme with Product, Category, Cart, Checkout
2.  additional options which would add code to template and import modules
[code]
If someone would like to add in future more modules, then would need to add it in theme config (to import logic) and manually add proper

[2020-01-03 14:43] bottle93 opened #3970 "Overlay still active after closing modal component"
## Current behavior

Overlay needs to be double-clicked to close, after modal disappear.

## Expected behavior

Overlay to disappear after closing modal

## Steps to reproduce the issue

Even on demo.storefrontcloud.io when you subscribe to the newsletter, you have to double-click to get rid off the overlay after clicking the "subscribe" button
![Selection_022](https://user-images.githubuserconten

[2020-01-03 17:42] #3942 closed

[2020-01-03 21:51] DJ-DESIGN commented on #3911
Ok, thanks. I'm on version: 10.15.1

[2020-01-04 01:26] esklein commented on #843
Agree with @janmyszkier feedback on this. VueStorefront entire model is tied too tightly to Magento model. The storefront api and next gen architecture might provide approaches to handle this, but IMO mode should be more generic and extensible to truly support multi-platform in a real world environment.

[2020-01-04 14:59] DJ-DESIGN commented on #3911
I had a typo(space) in one of my project directory folder names. Breaking my build. The error log explained it. I'm still learning... Thanks for responding!

[2020-01-06 00:18] janmyszkier commented on #2467
@lukeromanowicz
WHY should the legacy setup be supported / listed at all? isn't it deprecated and it's OK to only leave it in the old commits?

[2020-01-06 01:26] lukeromanowicz commented on #2467
Some developers decide to go with legacy way for performance sake, especially when using macbooks or windows. Legacy way is still viable in specific cases, although it could be renamed, updated and better described when exactly you can benefit from it.

[2020-01-06 05:27] grimasod commented on #3963
How about a `minimal` theme that `default` inherits from?

- A barebones theme (minimum necessary layout, highly optimized)
- Includes basic functionality (Vuex getters, data prefetching, etc)
- Separate  Component, JS, and CSS files

It's easier to explain by example. In situations where we just want to change the Product page layout a little, or tweak the CSS, or change one function...

Currentl

[2020-01-06 11:08] jonathanribas commented on #3956
This bug occurs on 1.11.0 also.

[2020-01-06 19:56] andrzejewsky commented on #3970
@bottle93  thanks for reporting!
@gibkigonzo it's probably related also to sidebar logic and cart edit mode

[2020-01-07 07:43] gibkigonzo commented on #3970
I could reproduce this only on 1.10.5 and here is backport https://github.com/DivanteLtd/vue-storefront/pull/3973 In 1.11 it works ok

[2020-01-07 08:42] pkarw commented on #2467
That’s good point. @kkdg can you take care?

I guess we should even streamline the installation process further.

Eg: we can include vsfapi (the whole app) as a dependency (using npm) and have just single docker-compose - how does it sound? Maybe the next step.

[2020-01-07 09:54] #3970 closed

[2020-01-08 12:43] pkarw commented on #3963
@grimasod that's actually a good idea but I'm afraid of the complexity of refactoring the `default` page and the backward compatibility problems this re-architecture migh case (?)

So, maybe we created a `minimal` theme - and have all the customization options you described - but without refactoring the current default (?)

So if someone will be creating a theme can use the `minimal`. I see it as

[2020-01-08 12:44] pkarw commented on #3963
@gibkigonzo
@andrzejewsky wdyt?

[2020-01-08 15:32] ktopouzi opened #3976 "Cart sync issue on products with custom options"
## Current behavior

Here I am again with another bug I found with custom options. This time I believe this affects the `Microcart` component and the quantity/totals synchronizations. In my example, I got several products with custom options and 4-5 simple products.

I added the product **with** custom options in cart.

![Screenshot from 2020-01-08 17-21-41](https://user-images.githubusercontent.c

[2020-01-08 16:12] pkarw commented on #3976
Related issues: #3595, #3885

[2020-01-09 06:31] gibkigonzo commented on #3976
Hello :) I see this problem with "In stock" information, but I can't reproduce problem with quantity on https://next.storefrontcloud.io/

1. Added product with custom options:
![Zrzut ekranu z 2020-01-09 07-24-47](https://user-images.githubusercontent.com/42383376/72043319-259f0480-32b1-11ea-8111-25b526e43cf3.png)

2. Added simple product:
![Zrzut ekranu z 2020-01-09 07-26-21](https://user-images.

[2020-01-09 13:46] Zyles commented on #3112
Here are my thoughts.

Content is more than text. It is:

1. Structure
1. Design
1. Text
1. Images

This includes CSS, HTML, images and links.

A visual builder is great for content managers, saving workload on developers.

Storing a text document is not enough, such as Markdown or otherwise.

Now I know this should be an agnostic module, but I am leaning very strongly towards Wordpress myself. An

[2020-01-09 19:17] ktopouzi commented on #3976
Hey @gibkigonzo, thank you so much for your reply and effort on this one. The dead line for my  project is really close and I have been struggling with custom options.

I have recorded a gif showing the exact issue on the latest version (same as https://next.storefrontcloud.io/) using the same set of products. I hope its clear enough. If I can do anything else please let me know I would be more th

[2020-01-09 19:39] andrzejewsky commented on #3976
when @gibkigonzo finishes, I'll apply this fix in the upcoming release (1.11.1), there are other bugfixes and I think it's high time for release. @ktopouzi is that ok for you?

[2020-01-10 08:21] grimasod commented on #3963
@pkarw Thanks for the feedback

I think it should be possible to make it 100% backward compatible. Every component could still be in the `default` theme. The main difference is that it would inherit JS from the `minimal` theme. I haven't tested this idea though ;)

Yeah. Ideally they could choose either to inherit from.

That's true! But might be worth it in long run

The motivation for my suggest

[2020-01-10 08:28] gibkigonzo commented on #3976
@ktopouzi thanks for this gif :) Please check out this pr https://github.com/DivanteLtd/vue-storefront/pull/3977 I reproduced it but would be great if you could check it.

[2020-01-10 09:07] pkarw commented on #3112
@Zyles nice research is that a feature you're working on?

[2020-01-10 09:15] Zyles commented on #3112
@pkarw No not yet, we are still battling with Magento 2.3.3 frontend ... hopefully 2020 will be the year of headless.

[2020-01-10 10:13] gibkigonzo opened #3978 "Custom option prices being incorrectly added"
## Current behavior

Product with custom option shows incorrect prices based on selected options. In 1.10 selecting different checkboxes show wrong price (its fixed in https://github.com/DivanteLtd/vue-storefront/pull/3694). In 1.11 price doesn't change at all.

## Expected behavior

Price on product page with custom options should be showed proper to selected options.

## Steps to reproduce the i

[2020-01-10 10:13] gibkigonzo commented on #3978
Here is more info https://forum.vuestorefront.io/t/custom-option-prices-being-incorrectly-added-on-page-load/1082

[2020-01-10 14:41] bellodaniel opened #3980 "Add category filter on product listing page"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [ X] I am running the latest version
- [X ] I checked the documentation and found no answer
- [ X] I checked to make sure that this issue has not already been filed

## Check our forum:
https://forum.vuestorefront.io/

# Is there something you don't understand? What is it? Describe it.

Hello, I have

[2020-01-10 14:53] pkarw commented on #3980
Hi there, there is an additional `product.category` property that can solve the issue:

[code]

[code]

[2020-01-10 14:57] #3980 closed

[2020-01-10 22:31] andrzejewsky opened #3981 "Run production mode without TS"
We have several issues (eg. https://github.com/DivanteLtd/vue-storefront/pull/3851) with running server.ts using pm2. I think the best solution will be building server as well and run it without typescript. Even pm2 [docs](https://doc.pm2.io/en/runtime/integration/transpilers/) doesn't recommend to use transpilers on the production environment

[2020-01-11 12:51] pkarw commented on #3981
@andrzejewsky this same issue may affect vs-api and sf-api

[2020-01-12 16:18] clickgumshoe opened #3983 "Some question need clearly?"
I will use WordPress woocommerce as backend store.
I wondering how to manage orders, customers either in WordPress or vuestorefront admin ?
Data in storefront & woocommerce are synced whenever customer made a order? I mean orders & customers data in both platform?
Many thanks if you answer to my stupid question?

[2020-01-13 10:38] #3976 closed

[2020-01-13 14:10] revlis-x opened #3985 "Checkout Details reset after page refresh"
## Current behavior
When reloading the page with F5 and entering checkout, previously entered values for shop/checkout/shipping-details  are reset.

## Expected behavior
Before 1.11 even after a page refresh the state would be repopulated with the values from lcoalStorage.

## Steps to reproduce the issue
1. Goto https://next.storefrontcloud.io
2. Add product to cart and enter checkout
3. Fill per

[2020-01-13 17:36] #2576 closed

[2020-01-14 09:44] andrzejewsky commented on #3951
@pkarw this file you mentioned is not even called. On the product page, we also have [loadProductBreadcrumbs](https://github.com/DivanteLtd/vue-storefront/blob/master/core/modules/catalog/store/product/actions.ts#L684) that calls `category-next/loadCategories` only once, I mean the [api call](https://github.com/DivanteLtd/vue-storefront/blob/master/core/modules/catalog-next/store/category/actions.

[2020-01-14 10:58] SodHub opened #3986 "VSF 1.11 Multistore redirects to 404"
## Current behavior
We've updated our project from 1.10 to 1.11. Multistore feature doesnt work anymore. When switching to /it for instance, vsf redirects to 404 page
Anyone has the same issue? Any ideas what is wrong? Checked with default theme, same result

Category query returned empty result url_path = it null (in console)

## Expected behavior

Should link to storeview

## Steps to reproduce

[2020-01-14 13:23] revlis-x opened #3987 "Scroll Position between pages gets lost when using url-dispatcher"
## Current behavior
When accessing a page via its dispatcher-route (e.g. https://next.storefrontcloud.io/men/men-11) its scroll position when moving away and then back (Browser-Back-Button) is lost, whereas when accessing the category via https://next.storefrontcloud.io/c/men-11 the scroll position is correctly restored

## Expected behavior
Correct Scroll Position when using back button for url d

[2020-01-14 14:23] #3978 closed

[2020-01-14 14:48] SodHub commented on #3986
Fixed with adding "extend" to local.json
Example:

 "es": {
      "extend": "it",
      "storeCode": "es",
      "storeId": 4,
      "name": "Castellano",
      "url": "/es",
      "appendStoreCode": true,
      "elasticsearch": {
        "host": "/api/catalog",
        "index": "vue_storefront_catalog_4"
      },
      "tax": {
        "defaultCountry": "ES"
      },
      "i18n": {
        "full

[2020-01-14 14:48] #3986 closed

[2020-01-14 15:35] pkarw commented on #3955
This issue still occurs on my iOS / iPhone Chrome browser

[2020-01-15 09:42] pkarw commented on #3983
Hi; Vue Storefront doesn't have admin panel. It's just a frontend. WooCommerce it's not 100% supported, and it's not officialy supported at the moment :(

[2020-01-15 09:43] #3983 closed

[2020-01-15 11:34] pkarw commented on #3862
Recently viewed products are cached in the `localStorage` therefore it's not possible to refresh the price when Magento price got refreshed

[2020-01-15 11:34] #3862 closed

[2020-01-16 13:25] SodHub commented on #3926
Address book (add, edit, delete addreses) is not a multishipping feature.
Multishipping in M2 is when you can ship to different addresses

[2020-01-17 01:22] gcampedelli opened #3992 "Endless loop redirect in production setup - NGINX/VARNISH"
## Current behavior
Install on local and it works
Install VueStoreFront Production Setup it creates redirect loop
Server Ubuntu 18.04
Varnish => configured for multiple backends. If we dont config backends in Varnish for VueStorefront ports (api and vuestorefront) we get 502 bad gateway.
Elasticsearch same version of tutorial
Complete tutorial and yarn start in both folders
Result => able to acces

[2020-01-17 15:07] benoitemile commented on #2863
Hello, could you please explain why ?
In a flaky connection, (talking about being in transports with online/offline switching) when using site you're viewing gallery component with vue carousel slider and images; suddenly, you're offline and switched to a single image where client already downloaded images; then you come back online and get the carousel back again.
Isn't it confusing for the end u

[2020-01-17 16:45] pkarw commented on #2863
It was done on purpose. If we don;'t have the images (offline mode) it makes a little sense for the user to show the gallery - it's pretty much frustrating to swipe off empty placeholders in the end

[2020-01-17 19:11] ArturDivante opened #3995 "Incorrect cart sync on login in specific case"
During the tests of #3994 we found out, that cart sync works incorrect in terms of quantity of products:

## Steps to reproduce the issue
1. Login to user account
2. Add some product to cart
3. Logout, clear cache
4. As anonymous user, add **the same product** to the cart (color & size must match)
5. Now login to the same account again

## Current behavior
Only one item of added product is in the

[2020-01-17 19:27] pkarw commented on #3992
@kkdg can you please take a look?

[2020-01-18 22:15] mahmoudzalik opened #3996 "issue with defined variables that are not working"
![issue 2](https://user-images.githubusercontent.com/59918102/72671271-55d46900-3a50-11ea-8f5e-eefc9801217d.png)
 i have defined card_category in line 14 and txt_category_name in line 15 but as u can see in lines 19 and 20 i get error when i try to use them

thanks in advance for help
 i am still a rookie :)

[2020-01-19 21:38] kkdg commented on #3992
@gcampedelli Which tutorial were you referring to?
https://docs.vuestorefront.io/guide/installation/production-setup.html <-- this one?

[2020-01-19 21:48] gcampedelli commented on #3992
Yes, this one. I tried to reinstall again  with default configuration I get 502 error on vue-storefront.
I tried to apply a patch concerning ecosystem.json without much luck.
 I also tried to check some logs and I get this error while I execute "yarn pm2 logs" =>
" SyntaxError: Unexpected token {
3|server   |     at Module._compile (internal/modules/cjs/loader.js:723:23)
3|server   |     at Object

[2020-01-19 22:03] kkdg commented on #3992
Thanks, let me work on this

[2020-01-19 22:21] gcampedelli commented on #3992
Now, after changing ecosystem.json again I have:

 import { serverHooksExecutors }  from '@vue-storefront/core/server/hooks'
1|server  |        ^
1|server  | SyntaxError: Unexpected token {

Same error as someone else.

ecosystem.json is:
{
  "apps": [
    {
      "name": "server",
      "max_memory_restart": "1G",
      "instances": "4",
      "exec_mode": "cluster",
      "env": {
        "TS_NO

[2020-01-20 01:43] gcampedelli commented on #3842
Hello, above fix didn't work for me in the same error. I was reading this and I tried to run this command :
"pm2 start /path-to/vuestorefront/vue-storefront/core/scripts/server.ts"
And then this error showed up
[PM2][ERROR] Interpreter /usr/lib/node_modules/pm2/node_modules/.bin/ts-node is NOT AVAILABLE in PATH. (type 'which /usr/lib/node_modules/pm2/node_modules/.bin/ts-node' to double check.)

S

[2020-01-20 07:05] kkdg opened #3997 "[Docs] CSS framework integration - e.g. Tailwind CSS"
## What is the motivation for adding / enhancing this feature?

Tutorial or cookbook on integration with 3rd party CSS frameworks.

## What are the acceptance criteria

* [ ] Docs should give users a guide to follow using easy-to-follow steps

## Can you complete this feature request by yourself?
* [x] YES, this is a reminder for myself
* [ ] NO

## Which [Release Cycle](https://docs.vuestorefront

[2020-01-20 07:11] kkdg opened #3998 "[Docs] Tip on category slug irrespective of catalog url keys"
## What is the motivation for adding / enhancing this feature?

A tip on configuration for category url

## What are the acceptance criteria

* [x] Note a tip on configuration with respect to category url generation

## Can you complete this feature request by yourself?
* [x] YES, this is a reminder for myself
* [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cy

[2020-01-20 07:25] kkdg opened #3999 "[Docs] Final price in catalog price rules"
## What is the motivation for adding / enhancing this feature?

Tips on final price handling overall.

## What are the acceptance criteria

* [x] This should give a guide on how to deal with final price display

## Can you complete this feature request by yourself?
* [x] YES, this is a reminder
* [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state

[2020-01-20 07:27] kkdg opened #4000 "[Docs] cookbooks on Extend Elasticsearch entities for VSF"
## What is the motivation for adding / enhancing this feature?

Help users learn how to extend ES entities for VSF

## What are the acceptance criteria

* [x] Cookbook on how to extend ES entities for VSF

## Can you complete this feature request by yourself?
* [x] YES, this is a reminder
* [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this r

[2020-01-20 17:34] gcampedelli commented on #3992
Hello, I changed it more to this. My ecosystem.json is now like this:

[code]
And Nginx is like this

[code]

[2020-01-20 17:47] andrzejewsky commented on #3996
@maciejtrybula How is that related to the vue-storefront? I can't see any connection here...

PS. Android SDK hmm.. check your XML files, you maybe didn't declare something under that key

[2020-01-20 17:56] andrzejewsky commented on #3992
@gcampedelli Hey try to install ts-node (`npm add ts-node --save-dev`) and use the following ecosystem config:

[code]

[2020-01-20 18:59] gcampedelli commented on #3992
Ok, I tried it bow I get this in logs ```
"TSError: ⨯ Unable to compile TypeScript:
2|server   | core/scripts/server.ts(1,39): error TS2307: Cannot find module '@vue-storefront/core/server/hooks'."
[code]

[2020-01-20 19:37] gcampedelli commented on #3992
And after trying to debug nginx curl gives me => curl http://localhost:3001
Found. Redirecting to /error

So still in the subject of this issue - Endless redirect

[2020-01-20 20:24] #3944 closed

[2020-01-21 08:22] pkarw commented on #3995
The `qty` parameter is missef for the `addToCart` action call: https://github.com/DivanteLtd/vue-storefront/blob/d2da089765a730f657e9b90af4d3ccdd5634d612/core/modules/cart/store/actions/mergeActions.ts#L159

[2020-01-21 08:22] Michal-Dziedzinski commented on #2814
@alinadivante @pkarw shouldn't it be closed?

[2020-01-21 09:48] #2814 closed

[2020-01-21 09:48] pkarw commented on #2814
Thx

[2020-01-21 14:47] KevinGorjan opened #4003 "Lots of filters breaks the Category page"
## Current behavior
For our client, we have 29 different filters.
`["category", "new", "collar", "material", "gender", "performance_fabric", "format", "color", "features_bags", "category_gear", "size", "eco_collection", "style_bottom", "style_general", "price", "activity", "strap_bags", "mp_reward_sell_product", "manufacturer", "style_bags", "erin_recommends", "sale", "sleeve", "pattern", "climate

[2020-01-21 22:26] themreza commented on #1572
This bug still exists: https://i.imgur.com/XMkfIh3.gif
I can confirm it with our OpenCart connection as well, on Vue Storefront v1.11.0

[2020-01-22 08:31] pkarw commented on #1572
@themreza the breadcrumbs is the same as in containing category ("All / Gear") with just product title attached; it was like this from 0.3MVP ;)

[2020-01-22 08:50] gk-daniel opened #4004 "Comparison of bundled products in the productsEquals.ts"
## Current behavior

In the productsEquals.ts file, we can notice that bundle products are checked for attributes such as product.server_item_id, product.item_id or checksum. In our online store, we found that this condition (line 37) can return false, and in this case, when a bundled product is added to the basket, no more products can be added.

## Expected behavior

To fix this issue, we need t

[2020-01-22 20:27] #2755 closed

[2020-01-22 20:39] #3957 closed

[2020-01-22 21:25] #4004 closed

[2020-01-22 21:29] #3706 closed

[2020-01-22 21:40] #3955 closed

[2020-01-22 21:41] #3336 closed

[2020-01-23 09:01] #3996 closed

[2020-01-23 18:19] themreza commented on #1572
@pkarw
I checked the two online demos demo.storefrontcloud.io on v1.10.5 and next.storefrontcloud.io on v1.11.0 and this the bug only happens on v1.11.0.

The behavior is strange and in my opinion not normal (even if navigated from different parent categories) that a product should have a different breadcrumb when reloading the same URL.

Please look at this side-by-side demo and the moment I refr

[2020-01-23 22:28] Fifciu commented on #4003
Check network tab. Maybe in response you have ElasticSearch error which could be so helpful for us.

[2020-01-24 08:12] revlis-x commented on #4003
I experienced server errors with loooong GET-Request and various servers. Hace you tried switching to POST in config value elasticsearch.queryMethod.

[2020-01-24 09:15] KevinGorjan commented on #4003
Hi @Fifciu
I checked the network tab and as I mentioned above, I receive a valid response from ES, but I think there is something wrong for handling the data in VueSF.
---
Hi @revlis-x
We also tried to switch to POST, but it has the same outcome.
If you have problems with long GET-requests, you can increase the "max-http-header-size" of the VueSF API to "16384". In NodeJS v10 and higher, they decr

[2020-01-24 14:29] jakubmakielkowski opened #4024 "Overlapping text in PersonalDetails component in Checkout"
## Current behavior
Text "or login to your account" overlaps button on some screen widths
![image](https://user-images.githubusercontent.com/36307776/73076360-41fc8d00-3ebe-11ea-8486-458a4a06268b.png)

## Expected behavior
Text is styled correctly

## Can you handle fixing this bug by yourself?

- [X] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.h

[2020-01-24 14:30] jakubmakielkowski commented on #4024
Started fixing this issue

[2020-01-25 16:07] gcampedelli commented on #3992
Hello, after a while, I got it, almost working without the redirect. I moved vuestorefront files to magento2 root. And I had to declare localhost as 0.0.0.0. There is no more redirect loop.

[2020-01-25 16:07] #3992 closed

[2020-01-25 19:55] #3995 closed

[2020-01-26 17:16] simonmaass commented on #3997
Tailwind would be great

[2020-01-26 17:20] simonmaass opened #4027 "Breadcrumbs not considering "categoriesRootCategorylId""
## Current behavior

When setting categoriesRootCategorylId the breadcrumbs still show categories above that root category id

## Expected behavior

When setting categoriesRootCategorylId i would expect the breadrumbs not showing any category that lies above this root category.

## Steps to reproduce the issue

Set categoriesRootCategorylId to a lower category in level 2 or 3 for example. go to pr

[2020-01-26 17:29] simonmaass commented on #4027
also it looks like breadcrumbs are generated differently on server and client side...

[2020-01-26 17:56] andrzejewsky commented on #4003
@KevinGorjan seems like `product/list` action returns empty response (ref: https://github.com/DivanteLtd/vue-storefront/blob/f3c218d7a202718915d13a87f09ee57a04396c0b/core/modules/catalog/store/category/actions.ts#L236) - please double-check what comes from API/ES in the network tab, make sure  there is a response object that contains a products

[2020-01-26 18:00] #4024 closed

[2020-01-27 10:45] PandaTawer3 opened #4028 "Category filters in layered navigation"
I am trying to add a category filter to layered navigation such as in Magento 2.

I added a new property to defaultFilters on config/local.json
`"defaultFilters": [
      "price",
      "category_ids"
    ],`

Also, I added this to elastic.schema.product.json
`"category_ids": {"type": "integer"},`

I rebuilt container but when I try to go to category page I see the error that "Products don't synch

[2020-01-27 13:11] Fifciu opened #4029 "Searching with wildcard"
## What is the motivation for adding / enhancing this feature?

Let's imagine we have products like:

[code]

After I type: `flam` in the search I am receiving only: `flame`.

I want both. So I should use something like `*flam*`. However, multi_match does not support _wildcards_. So, I've used `query_string` instead of that as it allows wildcards. But according to that: https://stackoverflow.com/q

[2020-01-27 14:51] andrzejewsky opened #4030 "Script prefetch optimizations"
- Get rid of prefetching scripts that are not needed (lazy load?)
- Content loading shouldn't be affected by the script prefetching

ref: https://twitter.com/AndyDavies/status/1221793667540815872

[2020-01-27 16:07] pablogiralt commented on #3934
+1

[2020-01-28 10:37] vineeth030 commented on #3652
@mateuszrusyn Please let me know how you solved this issue.

[2020-01-28 14:32] SodHub commented on #2141
Any updates on this? We need to use custom options with configurable and bundle products

[2020-01-28 14:33] charleskj commented on #3058
I think the solution would be the combination nested sort by and filter by query.
Below blog explains the concept very well : https://qbox.io/blog/sorting-nested-fields-in-elasticsearch

[2020-01-28 20:44] #3985 closed

[2020-01-29 02:38] grimasod commented on #4027
@simonmaass How about using a category filter or breadcrumb filter? They were introduced in v1.11.0 for exactly this purpose. See
https://docs.vuestorefront.io/guide/upgrade-notes/#_1-10-1-11

For example:

`"breadcrumbFilterFields": { "level": {"gt": 1} }` = only categories above level 1 (the Default Category in Magento).

`"breadcrumbFilterFields": { "level": {"lte": 3} }` = only categories equa

[2020-01-29 02:46] grimasod commented on #4027
It's still a bug, because `categoriesRootCategorylId` wasn't officially deprecated. However, in previous versions

- It applied to any category query, not just breadcrumbs
- It's the root, ie **minimum**, not max ID
- It works on the Category **ID**, not the level
- This is flawed, because IDs are often not in numerical order in Magento and are not even numerical in some other backend systems
- it

[2020-01-29 03:00] grimasod commented on #4027
Is it using the `catalog` store somewhere in the theme? It should be using `catalog-next` only.

Another way this can happen is when the product is in multiple categories. If you browse from Category to Product, the last browsed Category will be used in the breadcrumbs (if it can be). But when calculated on the sever, there's no current Category and there's no way to know which is the preferred Ca

[2020-01-29 04:22] grimasod commented on #3963
Here's another idea...

How about a minimal theme module? In other words a module that contains mixins for every component (that has JS), including pages. The components in a minimal theme only contain HTML and CSS (plus one mixin import). All other themes could use the same mixins and extend / override as required.

[2020-01-29 09:06] andrzejewsky commented on #2141
@SodHub Hello, we don't support this for configurable products yet, it works just for simple ones. Unfortunately, implementation of that is not on our roadmap now so for sure we can't deliver in upcoming releases unless someone from the community will prepare a pull request.

[2020-01-29 10:19] michael-bouvy commented on #3937
Gave this a try, but I don't get expected result: GraphQL API endpoint used is still production one (as `NODE_ENV=production`), despite having set `NODE_CONFIG_ENV=my-env` (with `config/my-env.json` existing with env-specific conf).

Here is my `default.json` conf:

[code]

[2020-01-29 11:28] simonmaass commented on #4027
@grimasod thank you for the very detailled response. I am fine with switching to the filter functionality... I guess `categoriesRootCategorylId` should really then be deprecated...

As you said.. its technically a bug but if it really should be deprecated i guess there is no point in fixing...

[2020-01-30 05:52] pkarw commented on #4028
Hi there! Is there any particular error in the vsfapi console output logs?

[2020-01-30 07:04] lukeromanowicz commented on #1767
This bug is still valid

[2020-01-30 07:13] lukeromanowicz opened #4035 "v-model in BaseRadiobutton.vue doesn't get the value updated"
## Current behavior
Radiobutton falsely looks like it is designed to utilize v-model as the primary way of interacting with passed value. Unfortunately, the value after changing is not being emitted to the parent component, so the only way to use them is to use v-model/value properties for passing values to those components and listening to click events in order to update these values (by guessing

[2020-01-30 07:39] PandaTawer3 commented on #4028
@pkarw No, but if I check available filters in category only [], but every product have field category.

[2020-01-31 07:26] ResuBaka opened #4039 "Update eslint package for typescript"
## What is the motivation for adding / enhancing this feature?

The current version is only 100% compatible unit version <3.5.0 and with @typescript-eslint/eslint-plugin Version 2.* it is valid until version <3.8 (3.8 is currently in beta). This should be updated to have 100% support from the plugin and a maybe 100% support as they say there could be some cases where there could be problems.

This

[2020-01-31 10:35] steffen-wirth commented on #3822
@pkarw i tried @gibkigonzo example but extended mappingFallback function is not getting called. @mikesteeghs have you had success with extendStore method?

[2020-01-31 15:37] lukeromanowicz commented on #4039
I would say that '@typescript-eslint/ban-ts-ignore', '@typescript-eslint/no-empty-function' are very very problematic for testing. The rest, in my opinion, should be treated as errors and fixed upon updating the dependencies.
What do you guys think @gibkigonzo @andrzejewsky @pkarw

[2020-01-31 15:44] lukeromanowicz commented on #3893
Please try using native magento-vue storefront indexer instead of legacy javascript: https://github.com/DivanteLtd/magento2-vsbridge-indexer

[2020-01-31 15:47] #3893 closed

[2020-01-31 15:48] lukeromanowicz commented on #3891
Closing due to OP inactivity.

[2020-01-31 15:48] #3891 closed

[2020-02-01 13:44] simonmaass opened #4045 "Different filter object in SSR or client side"
## Current behavior

When loading category with filter on SSR i get the following object:
e.g.: http://localhost:3000/shop?manufacturer=736&price=0.0-50.0
`{ "manufacturer": { "id": "736", "label": "Bauerfeind", "type": "manufacturer", "attribute_code": "manufacturer" }, "price": { "id": "0.0-50.0", "type": "price", "from": 0, "to": 50, "label": "< €50", "single": true, "attribute_code": "price" }

[2020-02-03 10:05] j209 opened #4046 "Support python based ecommerce frameworks"
Hi
Any plan for support python-django based ecommerce frameworks like [saleor](https://github.com/mirumee/saleor),[shuup](https://github.com/shuup/shuup),[oscar](https://github.com/django-oscar/django-oscar/)...as back end for VSF?

[2020-02-03 10:08] #4035 closed

[2020-02-03 12:26] dmytrokravch opened #4047 "Category amp page - No products found"
## Current behavior

Products array is empty on each category amp page
Exemple:
https://test.storefrontcloud.io/amp/c/all-2

## Expected behavior
There should be products

## Steps to reproduce the issue
Open any category amp page

## Repository

## Can you handle fixing this bug by yourself?

- [ ] YES
- [x ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.ht

[2020-02-03 13:19] pkarw commented on #4047
The `amp-renderer` module just got removed from 1.12rc1 (`develop branch`) it's hard for us (the core team) to fix it and maintain in 1.11. However we're open to any contributions

[2020-02-03 13:20] pkarw commented on #4046
It's not planned for the core team, however we're open to any community driven integrations

[2020-02-03 13:20] #4046 closed

[2020-02-03 14:15] maikel-code opened #4048 "Update config to latest"
## What is the motivation for adding / enhancing this feature?

Using latest & optimized version of config

## What are the acceptance criteria

* [ ] ...

## Can you complete this feature request by yourself?
* [x] YES
* [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

* [x] This is a normal

[2020-02-03 14:58] maikel-code commented on #4048
Can someone grant me permissions to create a PR?

[2020-02-04 10:40] pkarw commented on #4048
@maikel-code you can create a PR that's not a problem. You mean updating config in the docs?

[2020-02-04 10:41] #4047 closed

[2020-02-04 11:06] gibkigonzo opened #4052 "Cache product for mapFallbackUrl"
## What is the motivation for adding / enhancing this feature?

In 1.12 (develop) there is added new action for fetching category/product/cms_page by url_path - `mapFallbackUrl`. It makes request with one query that points to multiple entities. In this task we need to find a way how to cache product data in `saveFallbackData`. We need to handle all types of products (simple, configurable, bundle_o

[2020-02-04 13:13] symos opened #4053 "Direct prices sync with Magento not working"
## Current behavior

When enabling "Direct prices sync" by setting the following configuration options to true:
"alwaysSyncPlatformPricesOver": true,
"clearPricesBeforePlatformSync": true,
"waitForPlatformSync": true,

prices stop showing in product listings.

This doesn't just happen in our installation, but also on a fresh demo installation (latest version) using the demo API.

## Expected behav

[2020-02-04 13:53] #4045 closed

[2020-02-05 12:58] lukeromanowicz opened #4057 "Make "remember me" checkbox during login actually do anything"
## Current behavior
I am probably missing something because it looks like checkbox "remember me" is hooked up to data property "remember" which... is not used anywhere.

## Expected behavior
"remember me" checkbox actually does some impact

## Steps to reproduce the issue
login with and without "remember me" selected

## Suggested solution
* if checkbox is not selected then put the token in some s

[2020-02-05 17:32] jbool24 commented on #3997
Sass is great but I would love to see how to get tailwind integrated instead so I can stay out of "css brain mode" and focused totally are structuring a elements in a theme.

[2020-02-06 03:32] kkdg commented on #3997
It's already implemented here https://github.com/AbsoluteWebServices/vuetique-theme by AbsoluteWeb. This issue deals with compatibility issue with `1.11` upgrade.

[2020-02-06 07:19] grimasod opened #4062 "Clear cart not working when logged in (v1.11.1)"
## Current behavior

Clicking the "Clear cart" button only clears the cart in the client, not on the backend server. After reloading the page the previous cart contents reappear. Other problems can occur because of this, like quantities multiplying in the cart.

The Microcart `clearCart` method calls the `cart/clear` action, which deletes the server token. When `cart/sync` is called next, the serv

[2020-02-06 08:14] pkarw commented on #4062
@gibkigonzo this came out after lazy cart change I guess. We need to make sure it works just fine in the 1.10.x as well. I saw that the user token is not cleared out - on Slack. It might cause this issue as well
https://vuestorefront.slack.com/archives/C7G188MFZ/p1580817976041500

[2020-02-06 10:31] simonmaass commented on #3997
@kkdg well it is customizing core files... not ideal i guess

[2020-02-06 14:25] simonmaass opened #4064 "Module: Google Tag Manager - Order placement not working"
## Current behavior

GTM event not fired when order placed

## Expected behavior

Event fired and data should be available in data layer.

## Steps to reproduce the issue

Place order and check Google Tag Manager debug console

## Repository

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) s

[2020-02-06 15:12] lukeromanowicz commented on #3819
Although there is a solution for building prod thanks to @gibkigonzo, running it in dev might still be improved. Reopening

[2020-02-06 15:14] simonmaass commented on #4064
it also looks like only orders from registered users are tracked...

`store.dispatch(
          'user/getOrdersHistory',
          { refresh: true, useCache: false }
        ).then(() => {
          const orderHistory = state.user.orders_history
          const order = orderHistory.items.find((order) => order['entity_id'].toString() === orderId)`

[2020-02-06 17:40] tonyisworking commented on #4064
I have a version that addresses this issue and adds in most of the GTM EE tracking. I can submit a PR for it later after some clean up.

[2020-02-06 19:05] jbool24 commented on #3997
👍
[code]
Exactly correct and what I would like to avoid. Monkey-patching like the above in the core `webpack.base.config.ts` will work it in but means remembering to re-patch later in a local implementation once the core gets moved into its own npm package. I'm trying to do it all through the theme and webpack extend workflow. Is there more documentation about how its outputting all the webpack as

[2020-02-06 20:59] simonmaass commented on #4064
This is definately wrong:

[code]

The mutations has an "s".. shoudl be
[code]

[2020-02-07 05:51] pkarw commented on #4064
Hi Simon! Thanks can you please open a PR with a fix?

[2020-02-07 09:00] simonmaass commented on #4064
@pkarw yeah will do - currently in contact with @tonyisworking... one of us will open a PR!

[2020-02-07 09:48] alinadivante opened #4066 "Listing page - scrolling down persistency"
## Current behavior
When I scroll PLP down to download more products and open any PDP (from a downloaded part of the products) and go back to PLP, I'm not the same place where I should be. I am at the height of the last product of the first "package of products".

## Expected behavior
The PLP should be scrolled to the place where user was before.

## Steps to reproduce the issue

1. Go to the PLP

[2020-02-07 10:33] gibkigonzo commented on #4062
When you click 'Clear cart' then we remove cart items and cart token, after that we make sync with backend. And we can't make sync if token is removed. So I've changed a little bit clear/cart, we can now manage what exactly we want to clear related to cart https://github.com/DivanteLtd/vue-storefront/pull/4068 (I will make same pr for 1.11)

[2020-02-07 15:52] lukeromanowicz commented on #3819
I've tried applying `thread-loader` but it doesn't seem to cause any major improvement.
Now I am trying to implement parallel-webpack but it requires some heavy dev-server modification. I will update this issue if I get to some positive results.

[2020-02-08 17:18] hitchhooker commented on #1843
Would be cool to see compatibility with podman as well.

[2020-02-09 08:50] Cyclonecode commented on #1843
I have had too much to do lately :) but will move this up in my todo list, actually I might look on this today. Let you know what is happening.

[2020-02-11 09:49] haelbichalex opened #4074 "Category page is freezing for a moment when a filter is applied/removed multiple times"
## Current behavior

The category page is freezing when you apply or remove the same filter you already applied again.

## Expected behavior

The page should not freeze.

## Steps to reproduce the issue

1. Visit category page (https://next.storefrontcloud.io/women/women-20)
2. Apply filter once
3. Notice the blue progress bar is showing the full loading progression
4. Remove filter again
5. You c

[2020-02-11 11:03] Ksardarion commented on #3486
@pkarw @David-Dorr
Is there are any updates?

[2020-02-11 11:04] pkarw commented on #3486
hmm @Ksardarion it's seemingly fixed from September, isn't it?

[2020-02-11 11:09] Ksardarion commented on #3486
@pkarw I'm getting a lot of issues like
`● Test suite failed to run

    Cannot find module '@vue-storefront/core/app' from 'blockMutations.spec.ts'

      2 | import blockMutations from '../../store/block/mutations'
      3 |

        |      ^
      5 |
      6 | describe('Block mutations', () => {
      7 |   beforeEach(() => {

      at Resolver.resolveModule (node_modules/jest-resolve/build/in

[2020-02-11 11:14] Ksardarion commented on #3486
@pkarw
![Screenshot from 2020-02-11 13-12-15](https://user-images.githubusercontent.com/12583664/74231842-32f44800-4cd0-11ea-90a0-fbfac0b0166c.png)
That's what I get when doing ls -la @vue-storefront

[2020-02-11 11:58] Michal-Dziedzinski commented on #4027
@grimasod @simonmaass is my change in PR above useful for you?

[2020-02-11 13:17] simonmaass commented on #4027
i went with "breadcrumbFilterFields": { "is_active": true, "include_in_menu": 1, "level": {"gt": 2} }

[2020-02-11 19:43] #3948 closed

[2020-02-11 19:55] #4062 closed

[2020-02-11 20:23] #3704 closed

[2020-02-11 20:37] #3595 closed

[2020-02-12 05:16] grimasod commented on #4027
@Michal-Dziedzinski thanks for asking, but I don't have any issue, just giving information.
As I explained above and in a comment on your PR, categoriesRootCategorylId doesn't work for me.
So, I also use breadcrumbFilterFields, that I added for this purpose.

[2020-02-12 08:36] haelbichalex commented on #2985
#3650

[2020-02-12 10:33] pkarw opened #4076 "Add `gzip` / `gunzip` for cache keys for `vsf` and `vsf-api`"
## What is the motivation for adding / enhancing this feature?

For some more complicated pages the cache keys for SSR cache can go into MBs (I saw an instance with a single page of 5MB text stored into Redis). It can be easily saved using gzip compression + minification applied to the

## Vue Storefront -`core/scripts/server.ts`:
1. https://github.com/DivanteLtd/vue-storefront/blob/4341ceaafe0fa2

[2020-02-12 10:33] pkarw commented on #4076
Related to: #3949

[2020-02-13 09:57] andrzejewsky commented on #4027
Ok so, I'm closing this issue, thanks 👍

[2020-02-13 09:57] #4027 closed

[2020-02-13 20:11] emancypage opened #4081 "Wrong invitation link to Slack Community"
Request for Slack invitation, it seems that in readme and in doc links are outdated.

[2020-02-14 13:33] simonmaass commented on #3952
we have a store with products that have over 20k variants - this would be a great improvement for us!

[2020-02-14 14:01] gukandrew commented on #3981
After commit d5060b5881901530a1c5438880b91fe9c72d9cc8 we got the error on production while starting pm2:
command
[code]

Got error:
[code]

[2020-02-15 20:11] themreza opened #4087 "Sidebar menu cannot have more than one custom submenu"
## Current behavior

The links in the sidebar menu are mostly generated from the root categories, with the possibility of paged navigation to subcategories.

This works fine for categories, but there is a problem with having more than one custom multi-level menu item. The `sub-btn` expects a prop called `id` which, when provided, performs an ElasticSearch lookup for the specified category.

In the

[2020-02-16 03:17] themreza commented on #4087
I've fixed it in my project this way:

SubCategory.vue:

* [Change to `v-if="myAccountLinks && !children.length"`](https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/components/core/blocks/SidebarMenu/SubCategory.vue#L53)

SidebarMenu.vue:

* [Add `id="my-account-links"` and `:is-category="false"`](https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default

[2020-02-16 04:38] themreza opened #4088 "Add an option to the sidebar menu to reset location when closed"
## What is the motivation for adding / enhancing this feature?

When choosing a sub-category via the sidebar menu, Vue Storefront remembers the last selected location in the menu even after the user has clicked on the menu item and the sidebar has been closed.

The commonly expected behavior from sidebar menus is to always go back to the root menu list when the menu is closed. I think the current

[2020-02-16 04:47] themreza commented on #4088
The implementation of this feature is quite simple. This is how I achieved it in my project (without the config option):

SidebarMenu.js:

* [Add `this.$store.commit('ui/resetSubmenu')`](https://github.com/DivanteLtd/vue-storefront/blob/master/core/compatibility/components/blocks/SidebarMenu/SidebarMenu.js#L31)

* [Add a new mutation `resetSubmenu (state) { state.submenu.path = [] state.submenu.de

[2020-02-16 13:40] michael-bouvy commented on #3937
I guess this issue should be reopened, @pkarw ? 🙂

[2020-02-16 13:52] michael-bouvy opened #4089 "Allow full client-side rendering + use pre-rendering for SEO bots"
## What is the motivation for adding / enhancing this feature?
SSR requires having a Node.js instance rendering pages, which can be a pain point in terms of availability and/or scalability of an app, and also requires CPU resources ($$).

Google officially recommends dynamic rendering for fully Javascript rendered websites: https://developers.google.com/search/docs/guides/dynamic-rendering:

* Ser

[2020-02-16 15:12] pkarw commented on #4089
That’s actually very interesting idea @filrak @andrzejewsky @gibkigonzo

[2020-02-16 15:13] pkarw commented on #3937
Sure, reopening

[2020-02-16 15:15] pkarw commented on #3937
Please check if this won’t solve the isssue: https://github.com/lorenwest/node-config/wiki/Environment-Variables#custom-environment-variables

We’re using this solution in storefront cloud to pass the variables via env to prebuilt docker containers

[2020-02-16 15:17] pkarw commented on #4087
Cool! Can you please prepare a PR with these fixed to the core?

[2020-02-16 15:17] pkarw commented on #4081
@tom-aniol do we have it fixed?

[2020-02-16 16:01] emancypage commented on #4081
@pkarw it seems to be fixed yesterday :) but on github readme file only. In [doc ](https://docs.vuestorefront.io/guide/general/introduction.html#useful-links )it is still wrong.

[2020-02-16 18:13] michael-bouvy commented on #3937
This is an interesting feature, but does not fit the need: environment variables are only processed on server side, and from what I can see, once the JS is bundled at build time with a given environment-specific config, values are not reloaded, even with `dynamicConfigReload`

[2020-02-16 18:26] #4066 closed

[2020-02-16 18:31] andrzejewsky commented on #4087
@themreza When it comes to PR - please use `hotfix/v1.11.2` branch, we'll include this one in the upcoming release

[2020-02-16 18:33] andrzejewsky commented on #4089
yeah it is.... not to sure how hard that will be to implement in VSF 1.x but the idea sounds interesting : )

[2020-02-17 05:32] themreza opened #4090 "Incorrect root categories when extending includeFields"
## Current behavior

These are the default included fields for ElasticSearch category queries, as defined in the `default.config` file:

`"includeFields": [ "id", "*.children_data.id", "*.id", "children_count", "sku", "name", "is_active", "parent_id", "level", "url_key", "url_path", "product_count", "path", "position"]`

According to these fields, only the `id` field of each category's `children_d

[2020-02-17 16:19] jonathanribas commented on #4089
@andrzejewsky, we are actually struggling with NodeJS on high load.
We need a solution for VSF 1.x, we can't move to 2.x now, the project has only one year lifetime. It's impossible to sale one more migration project to my stakeholders.
You guys need to help us. Thank you.

[2020-02-17 18:44] themreza commented on #4089
I totally agree with this feature and think that it's high priority.
SSR takes a significant amount of resources and if most of the traffic is uncached page hits, it really makes an impact on performance and time-to-first-byte.

I'm finding out that using the production server to build Vue Storefront is inefficient. One idea that came to my mind (I'm not sure how practical it is), is prerendering

[2020-02-17 18:56] pkarw commented on #4089
we should definitely try this out; within 1.11 there is a static page generator included that might be an option @themreza however it’s not yet used anywhere on production

We definitely should give this feature a try

[2020-02-17 19:46] gibkigonzo commented on #4089
We can create new entry file based on `client-entry.ts` and new `build:prerender` script. In this new entry we need to remove parts that assume that there was ssr (`window.__INITIAL_STATE__`, `store.dispatch('url/registerDynamicRoutes')`, etc) and enable asyncData on first load (here it's disabled because we assume that there was asyncData on ssr https://github.com/DivanteLtd/vue-storefront/blob/m

[2020-02-17 20:08] andrzejewsky commented on #4089
another solution is just using caching layer for SSR pages, render once, serve many times (eg. Redis)

[2020-02-17 20:11] #3838 closed

[2020-02-17 20:14] andrzejewsky commented on #3981
@gukandrew can you give me more details about runtime environment (node version, npm version, os etc.) - because it totally works for me and for people who used to have a problem with ts-node

[2020-02-18 07:55] domideimel opened #4093 "Filter use on Category Page throws error"
## Current behavior
When using the filter on the Category Page, vue router throws an error due to missing callback by applying the filter in here:

https://github.com/DivanteLtd/vue-storefront/blob/6c4d2333a0c4724655b3e0b058cc8303515279e8/core/modules/catalog-next/store/category/actions.ts#L202-L204

The reason is explained hier https://github.com/vuejs/vue-router/issues/2881#issuecomment-52055437

[2020-02-18 09:24] pkarw commented on #4093
Cool! Can you please propose a PR with the suggested fix?

[2020-02-18 09:34] pkarw commented on #4089
@andrzejewsky yeah actually we have it out of the box. I’m not sure if this external SSR service will provide us with expected performance results over VueSSR + cache we already have; however it’s worth trying and I heard that @themreza is working on kind of PoC?

I guess that we should have this second option available as a server module or config option. @gibkigonzo notes will be very helpful in

[2020-02-18 09:38] #4052 closed

[2020-02-18 09:40] pkarw commented on #4090
Thanks! @gibkigonzo can you fix this by first chance?

[2020-02-18 09:41] pkarw commented on #3963
This idea is being partially implemented (just the optimization ideas) as part of new optional theme we are building at the moment: https://github.com/DivanteLtd/vsf-capybara

[2020-02-18 09:43] pkarw commented on #4089
Pretty loosely but still related: #3899, #3897

[2020-02-18 09:45] #3553 closed

[2020-02-18 10:06] gk-daniel commented on #2160
@jorkvist Is this issue still relevant? Since locally the amp page does not exist

[2020-02-18 10:18] gukandrew commented on #3981
Sure:
Sure here is my dev machine setup:
[code]

Here is staging os (in prod mode):
[code]

Got same error on both environments...

[2020-02-18 11:57] pkarw opened #4094 "Improve caching headers"
## What is the motivation for adding / enhancing this feature?

We need to make sure the SSR cache works better with CDN and HTTP proxies by properly setting the HTTP headers:

1. [ ] make sure the ETag header is properly set (unique per url/content); use the 3rd party Express middleware if needed

We need to let the user configure via config file this header as well to set the must-revalidate or

[2020-02-18 11:58] pkarw commented on #4094
Related to: #3949

[2020-02-18 12:28] pkarw opened #4096 "Add PURGE support for cache invalidation"
## What is the motivation for adding / enhancing this feature?

Most CDN including even simple proxies like nginx support cache invalidation by specific urls. You can just send a request to remove specific url from cache on demand

VSF is invalidating cache by cache tags

https://docs.vuestorefront.io/guide/cookbook/checklist.html#_2-ssr-output-cache

We need to modify the cache invalidate method

[2020-02-18 12:37] pkarw commented on #4096
Related to #3949

[2020-02-18 12:37] pkarw commented on #4096
Reference: https://docs.nginx.com/nginx/admin-guide/content-cache/content-caching/#purge

[2020-02-18 12:38] pkarw commented on #4096
Reference: https://docs.fastly.com/api/purge

[2020-02-18 12:39] pkarw commented on #4096
Reference: https://www.varnish-software.com/wiki/content/tutorials/varnish/vcl_examples.html

[2020-02-18 12:41] pkarw commented on #4096
@ResuBaka if you’d have some spare time there is a pretty cool task waiting for you to look, it will improve the VSF server side performance pretty significantly so we could use full page nginx caching with on demand invalidation. Yet it’s pretty easy and satisfying task   :-)

[2020-02-18 14:28] themreza commented on #4087
I will make a PR this week.

[2020-02-18 17:32] tonyisworking commented on #2103
Is there a need for the pm2 on docker? Seems better to go without and scale via docker instead of scaling via pm2 in a container.

There's a discussion here about it on [stackoverflow](https://stackoverflow.com/questions/51191378/what-is-the-point-of-using-pm2-and-docker-together) and on [docker](https://www.docker.com/blog/keep-nodejs-rockin-in-docker/)

The current docker build isn't very cachea

[2020-02-19 04:56] themreza commented on #4089
@pkarw I tried the built-in Vue Storefront generator via `yarn generate all`, and it consuming more and more memory until the system runs out of free memory. I set the `-s` size option to 1 just to test and the same happens. Stopping the script frees the memory.
https://i.imgur.com/pxl7KNo.png

[2020-02-19 09:11] michael-bouvy commented on #4089
@themreza what is the purpose of VSF's `yarn generate all` command? Generating a fully static layout?

[2020-02-19 09:28] pkarw commented on #4089
@themreza  the generate process is currently ingle thread, with no proper memory management i guess it should be decomposed so the single page generation is a single process (or reset the process after X pages so the memory can be freed) then we need to implemen t the queues; Then we need to maintain the page re-generation/invalidation when anything on the page (prices, stocks) changes; that's why

[2020-02-19 09:36] dmytrokravch opened #4104 "Size changing is not working in cart "edit mode""
## Current behavior

When I try to change size in "edit mode" it does not change

## Expected behavior

He must change

## Steps to reproduce the issue

1 Add this product to shopping cart:
https://test.storefrontcloud.io/men/tops-men/tanks-men/tanks-17/vulcan-weightlifting-tank-693.html?childSku=MT06-XS-Black
2 try to change size

## Repository

## Can you handle fixing this bug by yourself?

- [

[2020-02-19 10:47] komakino opened #4105 "Empty storeView errors prevents viewing state in devtools"
## Current behavior

I'm not sure if this is a bug or if I have something not configured correctly, but when I try to `Load state` in devtools I get errors saying that `userGroupId` can't be read from undefined(and similar errors). The errors are a result of the fact that `storeView` in the root state is empty. I pinned it down to `currentStoreView()` in `core/lib/multistore.ts`, where the const `

[2020-02-19 10:55] komakino commented on #4105
Actually, I sort of mixed up related issues here. The original error I had was from `getIsUserGroupedTaxActive()` in `core/modules/catalog/store/tax/getters.ts`, which has nothing to do with `currentStoreView()`. `getIsUserGroupedTaxActive()` requires `storeView` to be populated in the state, so I guess that is the real issue here; why `storeView` is empty.

[2020-02-19 12:09] Michal-Dziedzinski commented on #4090
Hi @themreza, Wouldn't extend includeFields to `[ "id" ,"*.children_data.id", "*.children_data.name", "*.children_data.url_path", "*.id", "children_count", "sku", "name", "is_active", "parent_id", "level", "url_key", "url_path", "product_count", "path", "position"]` be enough for your needs? Removing _extra_ fields without asterisk allows you to display categories correctly.

[2020-02-19 12:16] #4064 closed

[2020-02-19 13:26] themreza commented on #4090
@Michal-Dziedzinski I actually tried that too. The ElasticSearch query is fine. The problem is with the processor afterwards where a slug is being created.

[2020-02-19 13:29] themreza commented on #4089
@michael-bouvy https://github.com/DivanteLtd/vue-storefront/blob/f3c218d7a202718915d13a87f09ee57a04396c0b/docs/guide/basics/static-generator.md

@pkarw I see, I will give it a shot.

[2020-02-19 14:10] simonmaass commented on #4064
nice @Michal-Dziedzinski looks good - thank you!

[2020-02-19 18:45] simonmaass opened #4108 "Wrong child SKU selected on product page"
## Current behavior

I believe it used to work... If you browse to a product page:
https://next.storefrontcloud.io/women/bottoms-women/pants-women/pants-27/portia-capri-1908.html?childSku=WP13-29-GREEN

Standard Blue und 28 ist selected

![image](https://user-images.githubusercontent.com/32599710/74864671-33d04e00-5350-11ea-9a2d-65e1aa536d28.png)

## Expected behavior

I would expect the correct s

[2020-02-19 18:52] revlis-x commented on #4108
Your link is wrong. Correct sku would be `WP13-28-Green` and with that it works.
https://next.storefrontcloud.io/women/bottoms-women/pants-women/pants-27/portia-capri-1908.html?childSku=WP13-28-Green

[2020-02-19 19:03] simonmaass commented on #4108
you are absolutely right - my bad!

[2020-02-19 19:03] #4108 closed

[2020-02-19 19:04] simonmaass commented on #4108
I guess the only thing to think about is to maybe not make it case sensitive...

[2020-02-19 20:51] andrzejewsky commented on #3981
@gibkigonzo can you check this out?

[2020-02-20 09:18] domideimel commented on #4093
Sure, can you grant me access to propose a PR?

[2020-02-20 09:45] gibkigonzo commented on #3981
hey, I get this error when I add `--no-daemon` which is weird. I will try to find out why this happen

[2020-02-20 09:54] gukandrew commented on #3981
@gibkigonzo, yep that's why I mentioned `--no-daemon`, but it's hidden under scroll in my post.
The thing is in that flag - it's required for prod (the healthcheck is watching for shell output, so if try to create demonized process this will cause no output and circular redeploy of container)

[2020-02-20 10:17] gibkigonzo commented on #4105
Hey, I'm trying to reproduce this error,but it works ok :thinking: :
1. `yarn dev` on `hotfix/v1.11.2`
2. on homepage open devtools and load state
Is this happen on all pages? Or maybe you changed default config?

[2020-02-20 15:09] michael-bouvy commented on #4089
Thanks @themreza! But is is necessary to generate **all** pages, and not only layouts (ie. home, category, product, etc.) ?

[2020-02-20 16:04] themreza commented on #4089
@michael-bouvy
The main issue is that when crawlers reindex the site, they will load a bunch of pages. If those pages are uncached, SSR will consume resources. In parallel, it can hog up the resources fairly quickly.

Of course caching all pages at once is a long process, but it's still a way to offload the SSR strain.

[2020-02-20 16:12] komakino commented on #4105
@gibkigonzo that's weird. I just tried with a clean `hotfix/v1.11.2`, `yarn installer`(no changes), and get this error. We are also experiencing it on all our current vsf projects.

[2020-02-20 16:26] komakino commented on #4105
Ok, I figured it out. Apparently, I was running the beta channel of Vue devtools. I tried in another browser profile with stable Vue devtools and all was fine. So this *probably* isn't a VSF issue.

[2020-02-20 16:26] #4105 closed

[2020-02-20 17:00] akarso commented on #1582
Looks like the issue still persists in latest version. Any Idea what may cause this?

`Building kibana
Step 1/2 : FROM docker.elastic.co/kibana/kibana:5.6.11
 ---> 72543213daee
Step 2/2 : RUN bin/kibana-plugin remove x-pack &&     kibana 2>&1 | grep -m 1 "Optimization of .* complete"
 ---> Running in f0285d3848a6
Removing x-pack...
`

just hangs on this until server drops connection

[2020-02-20 18:31] cewald opened #4111 "Filter out-of-stock child items from configurable products in category view"
## Current behavior

If you enable to hide out-of-stock products in category list with `products.listOutOfStockProducts` config value, it hides items that are out-of-stock. But its only working seriously for simple products. If I have a product with four configurable options which are all out of stock, the "parent" product will still be visible. Also the filter for super-attributes like `size` wil

[2020-02-20 18:45] cewald commented on #4111
Okay I made a small test index with some sample products (sorry for the long post).

The query (at the bottom) should only show items where the child is available or simple-products – this way we could achieve the desired behavior to filter products with out-of-stock super-attributes.

[code]

[2020-02-20 19:40] pkarw commented on #4104
@andrzejewsky we exchanged on Slack on this issue some time ago (2 weeks?) - I forgot what was the cause in here; it was something like totals not being updated after editing the item(?)

[2020-02-20 19:41] pkarw commented on #4093
@domideimel you don’t need special rights to create a PR - best option is to create one from your personal fork

[2020-02-20 22:05] michael-bouvy commented on #4089
@themreza indeed, but this would go along with a crawling bot, caching *SEO pages* with a long TTL (ie. 30d)

[2020-02-20 22:07] themreza commented on #4089
@michael-bouvy Sure, that's a possible part of the solution, which is what prerender.io is offering.

[2020-02-21 07:59] Michal-Dziedzinski commented on #4104
@pkarw exactly, totals don't update, I'm looking for the source of the problem

[2020-02-21 14:04] #1767 closed

[2020-02-21 17:04] simonmaass opened #4118 "filterValue.toLowerCase is not a function"
## Current behavior

core\modules\catalog\helpers\prefetchCachedAttributes.ts

on each attribute value filterValue.toLowerCase() is called...

with "attribute_id" as filterField I have integer type and get

filterValue.toLowerCase is not a function

## Expected behavior

Should only be called on string values

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by you

[2020-02-24 16:22] gibkigonzo commented on #4089
I've made simple spa implementation https://github.com/DivanteLtd/vue-storefront/pull/4120
If I find time, I will check if we can generate at least the layout.
Here is vsf on netlify https://5e53f4b7446853e8e52e367a--peaceful-chandrasekhar-e7a2a4.netlify.com/ :)

[2020-02-24 16:45] pkarw commented on #4089
@gibkigonzo awesome job! Having this rendering middleware you mentioned in the PR and we have it!

[2020-02-25 09:08] janmyszkier commented on #363
@pkarw I tihnk this can now be covered with their official implementation:
https://marketplace.magento.com/nosto-module-nostotagging.html#product.info.details.release_notes

[2020-02-25 10:44] michael-bouvy commented on #4089
Great job @gibkigonzo!! Will give this try this asap with @jonathanribas 👍

[2020-02-25 14:24] motau opened #4122 "SEO requirement: hreflang + canonical tags to avoid duplicate content"
1. We want to rollout magento based stores to different countries with same language contents under different domains / urls.  Therefore it is very important to deliver html with hreflang meta informations. In Magento this is a default behaviour. In VSF I don't how to achieve this requirement.

1. A similar problem comes with duplicate content if products with same informations inside different ca

[2020-02-26 08:21] cewald commented on #4111
I added an optional `stock` filter to the `buildQueryBodyFromSearchQuery` method of `DivanteLtd/storefront-query-builder` – I refactored the method to create the above query:
https://github.com/icmaa/storefront-query-builder#feature/add-stock-filter-for-configurable-products

But there are some pitfalls and minor changes needed:
* As we aim an agnostic approach for the `storefront-query-builder`,

[2020-02-26 09:07] pkarw commented on #4118
@gibkigonzo can you please take a look?

[2020-02-26 09:13] pkarw commented on #4111
Hi @cewald I really appreciate the effort you took to make this feature happen - it's not anything simple. Some questions:

1. Is there a way to make this child-queries more general (not limited to `configurable_children` but to let the users just query any nested structure?) I wouldn't like to bind the `storefront-query-builder` to the specific Magento-like data structures we're currently using.

[2020-02-26 09:14] pkarw commented on #4111
I've added `feature request` label as this is actually a new feature - extending the query mechanism

[2020-02-26 09:32] pkarw commented on #4087
@themreza I just wanted to kindly ask you about the status in here?

[2020-02-26 09:39] pkarw commented on #3981
@gukandrew can you please check adding the script path to the `pm2 start --no-deamon` instead of `ecosystem.json` or changing the script path to absolute in the `ecosystem.json` or adding kind of `cwd` to current directory before this call?

[2020-02-26 11:14] Michal-Dziedzinski commented on #4104
it's working on hotfix/v1.11.2 branch

[2020-02-26 11:48] dmytrokravch opened #4123 "Discount code disappears at the time of placing the order"
## Current behavior

After registering on the /checkout page at the time of placing the order, discount code disappears

## Expected behavior

## Steps to reproduce the issue

1 Create an account on Personal Details step
2 Place the order

## Repository

## Can you handle fixing this bug by yourself?

- [ ] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-c

[2020-02-26 14:40] #3536 closed

[2020-02-26 14:41] #1675 closed

[2020-02-26 16:11] simonmaass commented on #4088
I think there are merrits for both behavior... so if you would add a config parameter it would be nice

[2020-02-26 16:25] lukeromanowicz opened #4125 "Massive delay in serving cached content"
## Current behavior
There is a 90-150ms delay between connection and serving cache from content present on stock vue storefront. Express is capable of responding with less than 1ms TTFB so it looks like some issue with VSF codebase.

![image](https://user-images.githubusercontent.com/46789227/75364993-d93d7180-58bc-11ea-857e-e63606fb1a3e.png)

## Expected behavior
serving cached content in 20-50ms

[2020-02-26 16:39] lukeromanowicz commented on #3963
If I may, I suggest naming `default-slim` or `default-light` instead of optimized.

[2020-02-26 18:08] pkarw commented on #4125
Good point. Is this result from your local instance/storefrontcloud/other?

One of the solutions is this: https://github.com/ClickAndMortar/docker/tree/master/vue-storefront/proxy/lua (it will be automatically deployed to all SC instances soon, currently tested in Zadig&Voltaire - developed by these folks).

There could be many reasons for this delay; if it’s
On the cloud we already have some find

[2020-02-26 18:09] pkarw commented on #4123
This is because the shopping cart is being resynced between guest and registered users cart . We need to improve the “cart/sync” method to synchronize the shopping cart discount code as well in order to fix this edge case

[2020-02-26 18:12] pkarw commented on #4125
Somehow related: #4089
Related to: #4096, #4094

[2020-02-26 18:36] pkarw commented on #4090
@Michal-Dziedzinski can you take second look at this when the slugify fails in this case as @themreza described?

[2020-02-26 18:36] pkarw commented on #4090
@themreza any console errors?

[2020-02-26 18:39] pkarw commented on #4003
@KevinGorjan any feedback on the vsf-api results (after checking what @andrzejewsky suggested?)

[2020-02-26 18:43] pkarw commented on #3937
I’m changing this issue to feature request; the config file is bei ng compiled into app bundle it’s our basic feature from the very beginning; so the suggested solution is to build the app once per ENV because it also involves some code level optimizations, different webpack config, including/excluding source maps. Pretty complex one.

[2020-02-26 18:45] pkarw commented on #3867
@andrzejewsky can we quickly fix this one and close it (the solution is provided in the comment)

[2020-02-26 18:46] pkarw commented on #2497
Closing due to long inactivity

[2020-02-26 18:46] #2497 closed

[2020-02-26 18:48] pkarw commented on #3866
Closing due to long inactivity (we can’t reproduce this issue)

[2020-02-26 18:48] #3866 closed

[2020-02-26 18:49] pkarw commented on #3981
@gibkigonzo can you please share your today’s findings on this issue?

[2020-02-26 18:51] pkarw commented on #3925
@gibkigonzo can we close this one already? We were just waiting for the feedback from @maikel-code tests aren’t we?

[2020-02-26 18:51] #3925 closed

[2020-02-26 18:52] pkarw commented on #4104
@gibkigonzo can we close this tomorrow?

[2020-02-26 18:56] pkarw commented on #3882
@andrzejewsky can we close this one tomorrow as well? Only these two and you’re free to go to Thailand 🇹🇭

[2020-02-26 18:58] pkarw commented on #4057
Changed label to feature request as this feature hasn’t been implemented yet. We can remove the checkbox from the UI as for now

[2020-02-27 06:02] gibkigonzo commented on #3981
@gukandrew I think that problem is related with pm2. Here is issue https://github.com/Unitech/pm2/issues/4613
You can make this work by running `pm2 reset all` before `pm2 start --no-daemon`

[2020-02-27 07:16] #3981 closed

[2020-02-27 07:23] nhp commented on #4096
From personal experience: be very careful to not "overload" with too many requests. I can remember this kind of behavior in leads to varnish restarts if it is done too heavily. It is easy to generate thousands of requests in a short time after bigger updates, e.g. many products (couple of hundred) that are present on different categories can lead to multiple thousand PURGE requests easily.
No idea

[2020-02-27 07:43] peterlohaus opened #4126 "Upgrade node packages"
## What is the motivation for adding / enhancing this feature?
Running `yarn audit`  on clean installation of vue-storefront on branch master outputs 12110 vulnerabilities. 12101 with high severity.
Running `yarn outdated` states most of the packages current version being behind wanted semver version and way behind latest versions, thus do not apply minor or major updates.

## What are the accepta

[2020-02-27 08:54] Michal-Dziedzinski commented on #4104
@pkarw at 1.11.2 produc at microcart has no `totals` property so data are going from `product.options` not from `product.totals.options`. I mean you wrote at https://github.com/DivanteLtd/vsf-capybara/issues/223 that

which is not always true

[2020-02-27 08:55] pkarw commented on #4104
yes, it has no totals when `api/totals` is not executed properly - I guess that's the reason; @gibkigonzo is workin on this I guess

[2020-02-27 14:16] #4104 closed

[2020-02-27 14:16] #4118 closed

[2020-02-27 14:16] #4123 closed

[2020-02-27 16:02] Michal-Dziedzinski commented on #4090
I'm already looking for that, there are no console errors

[2020-02-28 07:14] alinadivante opened #4132 "Problem adding two different products, but with the same color and size"
## Current behavior
If the user adds two different SKUs to the cart, but with the same color and size, only Qty of the first product will be increased, and only one of the products will be in the cart.
![image](https://user-images.githubusercontent.com/36628922/75519027-984f7500-5a02-11ea-8f2e-cc9ceaf4f9b2.png)

## Expected behavior
Two products should be added to the cart.

## Steps to reproduce

[2020-02-28 07:21] pkarw commented on #4132
This is urgent and we probably need to release 1.11.3 just with this one @andrzejewsky @patzick @gibkigonzo

[2020-02-28 07:40] gibkigonzo commented on #4132
We can add this to 1.11.2 https://github.com/DivanteLtd/vue-storefront/blob/hotfix/v1.11.2/core/modules/cart/helpers/productsEquals.ts#L81 it requires change to:
[code]
I will fix this as soon as possible

[2020-02-28 07:43] alinadivante opened #4133 ""No such entity with cartId = 700598""
## Relates to: #4123

## Current behavior
The following error occurs in dev console `"No such entity with cartId = 700598"`.
Discount code disappears after placing the order.
Incorrect quantity of products in the order details.

![image](https://user-images.githubusercontent.com/36628922/75520646-4e688e00-5a06-11ea-9a6d-276f2dfbd2a5.png)

## Expected behavior
The order is placed with the right amo

[2020-02-28 07:53] gibkigonzo commented on #4133
this can be related to 4123 as there is not properly added configurable product.

[2020-02-28 07:56] andrzejewsky commented on #4132
Yeah, really thanks @gibkigonzo - It could be in 1.11.2, better to wait for one (important though) fix, actually 1.11.2 is still in processing by QA

[2020-02-28 09:34] themreza commented on #4090
@pkarw Yes, there aren't any errors, but just an odd behavior when new config fields are added.

[2020-02-28 10:07] akrajna opened #4136 "It is possible to add product where the quantity is a negative integer or 0"
## Current behavior
It is possible to change the quantity of a product in cart to negative integer or 0 and place the order.
![CheckoutNegativeInteger](https://user-images.githubusercontent.com/57936972/75538642-38b09400-5a19-11ea-83e2-aa1ee7b0170d.gif)

## Expected behavior
It shouldn't be possible to change the quantity of a product in cart to negative integer or 0 and place the order.

## Steps

[2020-02-28 10:15] pkarw commented on #4136
@akrajna I can't reproduce it on both demo neither test instances. Do you have any errors in the browser console?

[2020-02-28 10:22] pkarw commented on #4132
@andrzejewsky got it - it's a draft (the release). Sure, lets be sure that cart is fixed in the 1.11.2 100%

[2020-02-28 13:17] pkarw commented on #4096
https://docs.fastly.com/en/guides/getting-started-with-surrogate-keys

[2020-02-28 18:02] akrajna opened #4138 "Wrong prices when adding to the cart bundle products"
## Current behavior
The price in the checkout is incorrect when user add bundle products to the cart.
<img width="600" alt="BudlePrice" src="https://user-images.githubusercontent.com/57936972/75551674-0319a400-5a35-11ea-9d5f-1fce9effff4f.png">

<img width="645" alt="BundlePrice2" src="https://user-images.githubusercontent.com/57936972/75573194-a03c0300-5a5c-11ea-9438-54c09c3e4e7e.png">

## Expecte

[2020-02-28 18:09] akrajna opened #4139 "Bundle Products have no quantity field in the cart"
## Current behavior
There is no quantity field for bundle products in the cart.

<img width="899" alt="BundleQnty" src="https://user-images.githubusercontent.com/57936972/75573638-851dc300-5a5d-11ea-9f96-8579b6695e01.png">

## Expected behavior
There is quantity field in the cart for boundle products

## Steps to reproduce the issue
1. Go to the bundle product page e.g. http://localhost:3000/gear/

[2020-02-28 18:16] akrajna opened #4140 "Bundle product price changes on product card after adding to cart"
## Current behavior
Bundle product  price is changing on product card after adding to cart
![BundlePPagePrice](https://user-images.githubusercontent.com/57936972/75574428-90252300-5a5e-11ea-89ff-836ebdce63d6.gif)

## Expected behavior
The price of bundle product is not changing after adding it to the cart

## Steps to reproduce the issue
1. Go to the bundle product page e.g. http://localhost:3000/

[2020-02-28 19:25] simonmaass commented on #4126
i can take this one

[2020-02-28 19:27] simonmaass commented on #4039
@pkarw i can take this - guess related to https://github.com/DivanteLtd/vue-storefront/issues/4126

[2020-02-28 19:38] pkarw commented on #4039
Cool! Go on @simonmaass

[2020-02-28 19:39] pkarw commented on #4126
Cool 🙌

[2020-02-29 10:45] simonmaass commented on #1273
@pkarw @janmyszkier agree - this can be closed

[2020-03-01 18:11] akrajna opened #4142 "Different price on product page and in the cart"
## Current behavior
After adding some products to the cart the price is different in the cart than on the product page
![PricePPCart](https://user-images.githubusercontent.com/57936972/75631092-3eac9d80-5bf0-11ea-9049-276fdcd5bb63.gif)

## Expected behavior
The price is the same on product page and in the cart

## Steps to reproduce the issue
1. Go to any product page e.g. http://localhost:3000/wo

[2020-03-02 04:44] pkarw commented on #4142
This seems like a Magento misconfiguration (Magento is showing the prices in Totals without taxes - Net prices). VSF is in charge of calculating product/category level prices but totals are taken 100% as they are in Magento

[2020-03-02 04:44] #4142 closed

[2020-03-02 04:55] #1273 closed

[2020-03-02 11:46] #4140 closed

[2020-03-02 14:15] lukeromanowicz commented on #4125
It's partially dependent on NodeJS version. Using Node 13 instead of Node 10 made about 30% improvement. That being said it's still a case both on demo cloud and my local environment. I know for a fact though that @ResuBaka is not experiencing this issue on his Arch-based setup.

[2020-03-02 14:50] ResuBaka commented on #4125
I can give here some info from my debugging.

Nodejs 10
Google Cloud NB2 n2d-standard-2
Ubunut 18LTS
Kernel 5.0: Has the problem
Kernel 5.5: Has the problem
Centos8: Has the problem

The problem looks like a delay when nodejs sends the request to the operation system and the response of it.

As the cache time and the reg.on('finish') call take the same time ~44ms and after that the ttfb is ~120ms.

[2020-03-02 15:05] #4090 closed

[2020-03-03 15:05] themreza opened #4146 "Improve the search functionality"
## What is the motivation for adding / enhancing this feature?

While testing the search panel, I noticed that although there is fuzzy searching in ElasticSearch queries, it doesn't always behave as intended (doesn't autocomplete some product name searches). Also, many of our products contain non-ascii characters and are not included in the search.

I tried playing around with the provided `fuzzin

[2020-03-03 17:12] komakino opened #4147 "NOT_ALLOWED_SSR_EXTENSIONS_REGEX does not escape the extensions' dots"
## Current behavior
We had a product named "Wombat Raw" with the slug being `wombat-raw`. This is unfortunately matched by the `NOT_ALLOWED_SSR_EXTENSIONS_REGEX` since the `.` in the file extensions(from `config.ssrDisabledFor.extensions`) are not escaped when injected into the regex. This results in a 404 with `Vue Storefront: Resource is not found`.

https://github.com/DivanteLtd/vue-storefront/

[2020-03-03 17:51] gibkigonzo commented on #4147
this regex is updated on develop https://github.com/DivanteLtd/vue-storefront/pull/4100 We can add it to 1.11 hotfix

[2020-03-04 08:50] akrajna opened #4148 "Remake order is not possible for bundle products"
## Current behavior
The remake order does not work if the ordered products have a bundle product. And so it happens on hotfix/v1.11.2  and https://demo.storefrontcloud.io/
![RemakeOrderPic](https://user-images.githubusercontent.com/57936972/75860709-91f33b80-5dfc-11ea-9ca1-7fac9b289f89.png)

## Expected behavior
It is possible to remake order for bundle products

## Steps to reproduce the issue
In

[2020-03-04 10:04] akrajna opened #4149 "Price in checkout is changing after logging in"
## Current behavior
Price in checkout is changing after logging in. It happens with bundle and group product.  And so it happens on hotfix/v1.11.2 and https://demo.storefrontcloud.io/
![PriceCheckoutLoggedin](https://user-images.githubusercontent.com/57936972/75867000-36c64680-5e06-11ea-8ebb-ae63db4af6cf.gif)

## Expected behavior
Price remains the same for logged in and logged out users

## Steps

[2020-03-04 12:17] gibkigonzo commented on #4149
In general magento returns different bundle products totals for user and for guest.
1. add bundle product to cart as guest => check microcart
2. add bundle product to cart as user => check microcart

[2020-03-04 14:09] akrajna commented on #4133
I does not work properly. After repeating the steps to reproduce the issue, in 'My account -My orders' the order user just made is without discount and the products are doubled.
![NoSuchEntity1](https://user-images.githubusercontent.com/57936972/75887222-bfa2a980-5e29-11ea-9124-f30a460a3cbb.gif)

[2020-03-04 14:23] sudma commented on #3926
I think that the multi shipping can't be supported OOTB because of the Magento side limitations in the **Magento_Multishipping** module which does not have any API endpoints exposed for the multi shipping functionality. Magento multi shipping checkout is fully Controller based implementation without API usage.

[2020-03-04 14:40] gibkigonzo commented on #4133
Probably we need to filter somehow result from `order-history` :thinking: I've checked what is send to magento and it looks ok (only one configurable product). But in order-history we get one configurable product, one simple with prices and one simple without prices (I think that is discount). Same payload is send on https://demo.storefrontcloud.io/ but in return we get only one simple product (ad

[2020-03-04 14:44] gibkigonzo commented on #4133
it looks like its normal behavior of two products for configurable product https://magento.stackexchange.com/questions/97611/rest-api-order-including-a-configurable-product

[2020-03-04 15:57] #4139 closed

[2020-03-04 15:57] #4138 closed

[2020-03-04 15:57] #4136 closed

[2020-03-04 15:57] #4132 closed

[2020-03-04 17:24] #4126 closed

[2020-03-04 20:03] pkarw commented on #4148
Unfortunately it was always like this so I’m changing the type to feature request. We can work around this by skipping the bundle products / displaying error msg or adding full support. The problem is that bundle products so use the virtual skus that make the product search impossible and therefore the addItems call raises an error

[2020-03-04 20:04] pkarw commented on #4149
Maybe there is a shopping cart rule or tier prices set?

[2020-03-04 20:05] pkarw commented on #4149
This is returned by Magento so I guess it’s not a bug within the VSF itself

[2020-03-04 20:05] #4149 closed

[2020-03-04 20:06] pkarw commented on #4147
@gibkigonzo please port it to 1.11 if this isn’t a problem

[2020-03-04 20:06] #4147 closed

[2020-03-04 20:10] #4133 closed

[2020-03-05 09:27] akrajna opened #4152 "Impossible to add some products with quantity greater than 0 to the cart"
## Current behavior
When user is adding this product: MP11-32-Blue to the cart, despite the fact that Quantity is 98, there is a message: 'Product that you are trying to add is not available'
![QtyPlusCart](https://user-images.githubusercontent.com/57936972/75966820-3cd22b00-5ecb-11ea-9fd9-82ef5b01dac7.gif)

## Expected behavior
When user is adding product with quantity greater than 0, the product

[2020-03-05 09:37] gibkigonzo commented on #4152
We check qty for configurable option (MP11-32-Blue), but when we add to cart then there is sku MP11 with configurable options. I think that in magento doesn't check those option, only sku. I've checked that we can send full sku and then product can be added.
https://demo.storefrontcloud.io/men/bottoms-men/pants-men/pants-18/aether-gym-pant-872.html?childSku=MP11-32-Blue
![Zrzut ekranu z 2020-03-05

[2020-03-05 14:04] cewald commented on #4125
I noticed that it makes a huge different if I send a **server-side** request, using HTTP1 or HTTP2. Especially in the `vue-storefront`. This might be a bit off-topic and maybe not directly connected to the problem above – but as I tried to trace down where this latency came from, I saw that all common request libs like `axios`, `node-fetch` or `node-request` do not support HTTP2 – so I tried it by

[2020-03-05 14:07] pkarw commented on #4096
Related: https://github.com/DivanteLtd/vue-storefront-api/pull/332

[2020-03-05 14:36] pkarw commented on #4125
That's interesting observation @cewald any ideas how to fix it?

[2020-03-06 08:22] #4093 closed

[2020-03-06 10:01] lfritsche commented on #1437
Hi together, hi @pkarw

I've seen that you dropped IE11 support in the package.json officially from 1.10.1 and upwards.
As you are focusing on stability and maintainability of VSF 1 - are you planning to reenable IE11 support, or is this something you would like to have the community to work on? #hackathon

[2020-03-06 18:43] pkarw commented on #4152
It’s been confirmed by @mdanilowicz as a result of lack of m2-> elastic sync (disabled on demo)

[2020-03-06 18:43] #4152 closed

[2020-03-06 18:44] #4087 closed

[2020-03-06 21:03] tonyisworking opened #4159 "Improve Google Tag Manager"
## What is the motivation for adding / enhancing this feature?
Add more support for Google Analytics Enhanced Ecommerce via Tag Manager found [here](https://developers.google.com/tag-manager/enhanced-ecommerce#details) and on [Magento Docs](https://docs.magento.com/m2/ee/user_guide/marketing/google-tag-manager.html)

## What are the acceptance criteria
Have additional dataLayer support for these:

[2020-03-07 07:14] pkarw opened #4161 "Data prefetching optimizations"
## What is the motivation for adding / enhancing this feature?

Currently, when you've got the PLP (Category) and navigate to the product, there is a API request executed to get this particular product details. Let's consider how to manage the prefetching?

I mean, from the PLP level we can prefetch and cache  using Service Worker the product info so no network roundtrip will be executed on PDP it

[2020-03-10 18:04] cewald commented on #4125
@pkarw In our case I refactored the connector for our CMS inside the API that makes HTTP requests to external services (Storyblok CMS) using the `http2-client` node library. It's not as convenient as `node-request` or `axios` but you're able to use the benefits of HTTP2.

[2020-03-11 13:18] cewald opened #4169 "`useHtmlMinifier` using `html-minifier` creates bottleneck in serving SSR request"
## Current behavior

If I enable the html minifier, our SSR requests are blocked by the minifying process of `html-minifier` in `core/scripts/utils/ssr-renderer.js` ([Link](https://github.com/DivanteLtd/vue-storefront/blob/develop/core/scripts/utils/ssr-renderer.js#L70-L73)) by 3-5 seconds.

Also the `` output replacement takes something around a 600-1500ms.

If I disable the html minifier, the pa

[2020-03-11 14:04] cewald commented on #4169
This is definitely caused by our content-size of around 266912 characters (a long list) which it first has to place inside the DOM string and than again to minify. I think the best approach is it to reduce the content on initial load somehow. So this isn't a problem with the architecture or code of VSF – sorry for bothering.

[2020-03-11 14:04] #4169 closed

[2020-03-12 09:42] haelbichalex commented on #3981
We are facing this issue as well while running VSF in docker after upgrading to v1.11.2

[2020-03-12 10:28] haelbichalex commented on #3981
Adding `pm2 reset all` for the `start` command in `package.json` fixed it in our docker setup!
[code]

[2020-03-12 10:59] Chiragsorathiya commented on #317
I have same problem my category is displayed but products are not displayed. can you help me ?

[2020-03-13 08:59] Chiragsorathiya commented on #137
I have the same problem can you help me?

[2020-03-13 15:54] alinadivante opened #4171 "No notification about "The product has been added to the cart!" when the cache is cleared."
## Current behavior
There is no notification about "The product has been added to the cart!" **when the cache is cleared.**

## Expected behavior
"The product has been added to the cart!" occurs always when user adds product to the cart.

## Steps to reproduce the issue
1. Run develop branch
2. Clear site data/cache
3. Go to any PDP
4. Add to cart **available** product variant

## Repository

## C

[2020-03-13 15:58] pkarw commented on #4125
@lukeromanowicz @cewald guys maybe we should create a set of tasks based on this one? I mean it's kind of epic. There is no single solution as it depends on multiple factors relative to the prod. env mostly

wdyt?

[2020-03-13 16:03] alinadivante opened #4172 "Empty page for each product from Gear or Training category"
## Current behavior
Page without content for each product  from Gear or Training category
![image](https://user-images.githubusercontent.com/36628922/76638344-95996780-654c-11ea-9132-3bd9e4c2df82.png)

## Expected behavior
"The product has been added to the cart!" occurs always when user adds product to the cart.

## Steps to reproduce the issue
1. Run develop branch
2. Go to Gear or Training cate

[2020-03-13 16:13] pkarw commented on #4172
It's OK with 1.11.2; for the 1.12.rc1 it requires you to re index the database so I guess that was the reason as we spoken on Slack

[2020-03-13 16:13] #4172 closed

[2020-03-13 16:14] alinadivante commented on #4172
oh, yeah, you are right @pkarw 👍

[2020-03-14 16:47] Fifciu opened #4173 "Product and category Output Tags disappeared"
## Current behavior

Product and category Output Tags disappeared on develop branch. Check it here in Response's headers.
- For product: https://test.storefrontcloud.io/women/tops-women/tanks-women/bras-and-tanks-26/celeste-sports-bra-1641.html?childSku=WB03-XS-Green
- For category: https://test.storefrontcloud.io/women/women-20

It makes impossible to clear cache of each category & product. So if

[2020-03-14 17:04] Fifciu commented on #4096
Module for Varnish: https://github.com/new-fantastic/cache-varnish

[2020-03-14 17:40] pkarw commented on #4096
@Fifciu this is really awesome! Can you please send a PR to the core including this module by default?
Will it work with fastly.com (based on Varnish)?

[2020-03-14 17:43] pkarw commented on #4173
I’m not sure if cache is turned on on this instance (?) @gibkigonzo can you please check out this issue?

[2020-03-15 07:18] gfd6th opened #4175 "Question for magento2-vsbridge-indexer, did not work."
#https://github.com/DivanteLtd/magento2-vsbridge-indexer/issues/237#issue-581012128

Magento ver 2.3.2.
This is my configs in magento.
![Jietu20200314-112211@2x](https://user-images.githubusercontent.com/6814715/76674022-15274500-65e6-11ea-96d1-29e6a68ed100.jpg)

And the reindex command:
![Jietu20200314-112451@2x](https://user-images.githubusercontent.com/6814715/76674080-8535cb00-65e6-11ea-90cf-4

[2020-03-15 09:44] Fifciu commented on #4173
@pkarw I think it is. If you open network tab before refresh you could find tags in response headers. On master instance we have same but there we have also `category`.
![image](https://user-images.githubusercontent.com/30155292/76699057-cf33b500-66a9-11ea-96ef-1b3a4494ea23.png)

[2020-03-15 11:41] Fifciu opened #4176 "afterCacheInvalidated hook is not being invoked after cache invalidated"
## Current behavior

Take look at this part of server.ts:
[code]

## Expected behavior

Run `afterCacheInvalidated` after cache invalidated - not after an array of promises prepared to send.

## Repository

Current Develop

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to

[2020-03-15 12:33] pkarw commented on #4173
OK, so the problem is that the grouping tags `category` and `product` are missed; correct? there are the individual product/category tags assigned correctly but just the page-type tag is missing?

[2020-03-15 12:34] pkarw commented on #4176
OK, you're right - PR is more than welcome ;)

[2020-03-15 12:40] Fifciu commented on #4173
Exactly!

[2020-03-15 12:48] Fifciu commented on #4096
@pkarw I will prepare PR when vsf-cache-**nginx** is also ready. About fastly, I don't really know

[2020-03-15 13:09] pkarw opened #4178 "Add Varnish cache support to the default distribution + production docs"
## What is the motivation for adding / enhancing this feature?

Please include the https://github.com/new-fantastic/vsf-cache-varnish in the default distribution.
@kkdg can we have this module listed as an option in the Production setup docs?

[2020-03-15 13:16] pkarw commented on #4173
can you maybe fix it? :) would be awesome!

[2020-03-15 14:20] Fifciu commented on #4173
Sure, I could. However, I am not sure how fast I will be able to do that.

[2020-03-16 08:11] peterlohaus opened #4179 "EsLint DeprecationWarning: The 'parserOptions"
## Current behavior
Running `npx eslint --ext .js,.vue,.ts core src --fix` produces a deprecation warning

`(node:20685) [ESLINT_LEGACY_OBJECT_REST_SPREAD] DeprecationWarning: The 'parserOptions.ecmaFeatures.experimentalObjectRestSpread' option is deprecated. Use 'parserOptions.ecmaVersion' instead. (found in "standard")`

## Expected behavior
No Deprecation Warning

## Steps to reproduce the issu

[2020-03-16 08:20] peterlohaus opened #4181 "@typescript-eslint warning: 'localizedRoutePath' 'beforeCacheInvalidatedParamter' in core folder"
## Current behavior
Running `npx eslint --ext .js,.vue,.ts core src --fix` produces warnings in core.

[code]

## Expected behavior
No Warning

## Steps to reproduce the issue

1. Open vue-storefront repository in terminal
2. Run `npx eslint --ext .js,.vue,.ts core src --fix`

## Can you handle fixing this bug by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.vuestorefront.io

[2020-03-16 17:20] didkan commented on #4146
A very cool feature would be to introduce some sort of synonym analyzer. Would that be at all possible? @themreza

[2020-03-17 05:52] pkarw commented on #3963
I'm closing this task as for now - the [Capybara theme](https://github.com/DivanteLtd/vsf-capybara/issues) is the theme were we put quite a lot of optimizations already. Of course separating the minimal/default theme still makes sense however as the core team we probably won't have the capacity to take care of it - being focused on the [optimization tasks](https://github.com/DivanteLtd/vue-storefr

[2020-03-17 05:52] #3963 closed

[2020-03-17 07:41] juho-jaakkola opened #4185 "AddToCart component receiving wrong diffLog on very first call"
## Current behavior

1. Open a new incognito window (must have completely clean state!)
2. Add a product to the cart
3. Expectation is that [addToCart](https://github.com/DivanteLtd/vue-storefront/blob/v1.11.2/src/themes/default/components/core/AddToCart.vue#L33-L35) method in the the `AddToCart.vue` component receives the `diffLog` produced by the request
4. However the entries in the received `d

[2020-03-17 08:08] #4176 closed

[2020-03-17 08:08] #4181 closed

[2020-03-17 08:08] #4179 closed

[2020-03-17 08:09] #4173 closed

[2020-03-17 08:16] juho-jaakkola commented on #4185
I didn't mention why exactly the diffLog is needed, so as a clarification: it may contain important messages that need to be displayed to the customer.

[2020-03-17 08:48] revlis-x commented on #4185
I can confirm this bug and this is essentially a duplicate of #4171, but reason is better described in here.

[2020-03-17 11:03] Chiragsorathiya commented on #1541
same problem

[2020-03-18 13:26] themreza commented on #4146
@didkan Indeed, anything that's possible with the current ElasticSearch is also possible in Vue Storefront.
The synonym feature, however, requires a minimum ElasticSearch version of 6.8.
The stable version of Vue Storefront is on ElasticSearch version 5.6, but there are plans to use 7.x soon (https://github.com/DivanteLtd/vue-storefront-api#elastic-7-support).

[2020-03-19 11:32] juho-jaakkola commented on #4185
The vue-storefront repo doesn't seem to allow self-assigning issues. But anyway, I'll try to provide a fix for this.

[2020-03-19 22:33] williamwd opened #4187 "Problem when running 1.11.1 on Docker"
## Current behavior
Trying to run the docker-compose up command returns the following error:
`front_1  | 18:51:15 3|server   | Error: Cannot find module '/var/www/start'
front_1  | 18:51:15 3|server   |     at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
front_1  | 18:51:15 3|server   |     at Function.Module._load (internal/modules/cjs/loader.js:562:25)
front_1  | 18:5

[2020-03-20 15:22] CompactCodeEU opened #4189 "Window freeze roughSizeOfObject function of storage.ts"
## Current behavior
When calculating the size of large cached Objects it results in a temporary tab freeze for the client. This happens in `vue-storefront/core/store/lib/storage.ts` on 1.10.4 vuestorefront.

We are working on a client with big grouped and configurable products resulting in large cached entities. Looping trough the object keys results in performance issues.

With Google's profiling

[2020-03-20 16:50] pkarw commented on #4189
OK gotcha. The reason for this function is to clear the localStorage in order to avoid storage quota exceeded. There is currently an exception handled of quota exceeded (surely in 1.11) so maybe we can disable this.

[2020-03-20 16:51] pkarw commented on #4187
We can't reproduce this issue on clean VSF install :-( Make sure its' not related to your app custom changes please

[2020-03-20 16:51] #4187 closed

[2020-03-20 17:07] upandfine opened #4190 "Error: Cannot find module '/var/www/share/<SERVER>/vue-storefront/core/scripts/server.js'"
Context: https://docs.vuestorefront.io/guide/installation/production-setup.html#production-setup-bare-vps

(git master, fresh installation)
Steps to reproduce:
1. yarn install
2. yarn build
3. yarn start

After a few seconds all nodes switch to "errored.

[log.txt](https://github.com/DivanteLtd/vue-storefront/files/4360931/log.txt)

[2020-03-20 17:09] pkarw commented on #4190
@kkdg can you please check it? @upandfine from quite some time the script was renamed to `server.ts` - maybe you updated your instance and need a `pm2 reload all` in order to get the right pm2 configuration in place? That's pretty strange

[2020-03-20 19:24] CompactCodeEU commented on #4189
I might understand it wrong but shouldn't local storage only be deleted on 'old content'? Maybe trough an expires_at date or something. Now it is clearing the local storage every 30 seconds so isn't this kind of counter productive? I also noticed it does not only look at local storage but also at indexedDB storage (where currently the products are being cached).

[2020-03-21 08:44] kkdg commented on #4190
Got it, looking over error logs

[2020-03-21 15:02] OleksiiStepanov opened #4191 "Can't start in production mode ( pm2 in cluster mode )"
## Current behavior

When i try  start server in production mode i got next errors in logs and  server don't start
When start server using command

`yarn start`

[code]

if i change 'exec_mode' from 'cluster' to 'fork'  in 'ecosystem.json'  server start without errors

## Expected behavior

server should start without errors

## Steps to reproduce the issue
1. Build docker image from  docker/vue-s

[2020-03-22 14:09] Fifciu commented on #4178
I encourage you to add both it and vsf-cache-nginx as `git submodule` so it will be so easy to update for users and there will be no need to make PR to Core for each small update.

[2020-03-22 15:16] pkarw commented on #4191
@andrzejewsky can you please check it out?

[2020-03-22 15:17] pkarw commented on #4096
@Fifciu thanks! `vsf-cache-nginx`: https://github.com/new-fantastic/vsf-cache-nginx

Great job! Thanks!

[2020-03-22 16:58] pkarw commented on #4178
@kkdg can you please take care of this? alternatively - @Fifciu can you do a PR with adding this to the core the way you described?

[2020-03-22 17:07] EmilsM opened #4192 "Remove shipping methods if there aren't any in API return"
## Current behavior

When you have e.g. 1 shipping method, and it has only allowed countries, when switching to a country that doesn't have any shipping methods, thee previous methods do not go away.

## Expected behavior

There would be no shipping methods to choose from.

## Steps to reproduce the issue

(Using Magento 2).
Set a shipping method to have Only Specific Countries
Choose The Specific

[2020-03-22 18:05] samueldervis opened #4193 "Kubernetes support - upgrade"
https://github.com/DivanteLtd/vue-storefront/blob/53a27a6d9971bc5bce1a26f818d0adf07f58ff6b/kubernetes/vue-storefront-deployment.yaml#L16

This image was last updated 2years ago in docker hub.
Please provide documentation of building a custom image

[2020-03-23 06:10] juho-jaakkola commented on #4171
@gibkigonzo Are you working on this?

I was about to start working on #4185 (which is basically a duplicate) but I noticed you're assigned to this one.

[2020-03-23 07:23] juho-jaakkola commented on #4171
I in fact already made a PR: #4194

[2020-03-23 07:43] gibkigonzo commented on #4171
@juho-jaakkola  Thanks for handling that issue :)

[2020-03-23 11:28] OleksiiStepanov commented on #4191
Look like problem was  in wrong configuration ecosystem.json
i change script, args and node_args field
[code]

[2020-03-23 12:31] Fifciu opened #4195 "Add to cart a few products fastly"
## Current behavior

When we add a few products to the cart fastly - quantity will be multiplied randomly. It creates bad UX for custom features like add to cart from products' listing.

## Expected behavior

Adding to the cart a few products without waiting to finish previous AddToCart action should work properly.

## Steps to reproduce the issue

1. Open product with many variations
2. Remove `d

[2020-03-23 15:13] pkarw commented on #4195
@Fifciu this `disabled` property was just to prevent the situation like this. Why did you remove it? I'm not sure if this is a bug

[2020-03-23 15:13] #4195 closed

[2020-03-24 13:31] upandfine commented on #4190
Already done. Also pm2 restart all.
My webhoster (managed server) has also looked at the situation and found no solution. Other customers run on the previous version.

[2020-03-25 06:37] juho-jaakkola commented on #3177
I don't think this is necessarily needed. The [config](https://github.com/lorenwest/node-config) package already [supports](https://github.com/lorenwest/node-config/wiki/Environment-Variables#node_config_env) splitting of the config files.

In my current project we simply define the `NODE_CONFIG_ENV` environment variable for each environment.

If I for example define this for the staging environme

[2020-03-25 06:54] juho-jaakkola opened #4197 "More human-friendly formatting in the config file"
## What is the motivation for adding / enhancing this feature?

When site owners upgrade their VSF projects, they usually need to manually check the upstream changes made into the `config/default.json` file and update their project specific config file when necessary.

This would be easier if the long arrays within the file would be:
 - Formatted into multiple rows
 - In alphabetical order

### Be

[2020-03-25 06:57] juho-jaakkola commented on #4197
Oops, I was not supposed to choose `feature request`.

[2020-03-25 07:21] pkarw commented on #4197
Can you please preapre a PR with this change ?

[2020-03-25 08:34] juho-jaakkola opened #4198 "Allow optimising checkout request even if entity optimization is not enabled"
## Current behavior

VSF has two configuration entries related to optimising (reducing) the data in the product entities:

- `entities.optimize`
   - Limit the amount of attributes that get loaded from ES
- `entities.optimizeShoppingCart`
   - Limit the attributes that get included in the request when doing a checkout

Currently the latter can be used only if the first one is also enabled. See: ht

[2020-03-25 09:06] juho-jaakkola commented on #4197
Yep, I can do it.

[2020-03-25 09:54] simonmaass opened #4199 "Special price = 0€ not showing"
## Current behavior

If price is 75€ for example and you have a special price = 0€ then special price is not shown in ProductPrice.vue component.

![Unbenannt](https://user-images.githubusercontent.com/32599710/77525839-ecc30480-6e89-11ea-9cae-f0b517e33392.png)

As you can see in vuex initialPrice.special is 0€ and in price.special it is 75€ again...

## Expected behavior

Show special price as 0€

[2020-03-25 14:10] kkdg commented on #4190
Hi, @upandfine I reinstalled this on a fresh linux instance without docker multiple times but it was working smoothly all the time.
The only possibility for this error I could guess was `pm2` tracking cache instance so your older version of VSF affects your current run in case you ran it with an older version on the same instance. Or did you pump your data into ES correctly? You can try the sample

[2020-03-25 15:04] pkarw commented on #4199
VSF by design is not letting you to have prices = 0. That's why the behavior is like this. I guess it can be easily extended by amending the logic in the `tax.ts`. Maybe there should be a config option just for that. Changing to `feature request`

[2020-03-25 15:05] pkarw commented on #4199
... the other thing is that you'll need to modify `cart/addItems` method to let the products with zero price to be added to the cart anyway

[2020-03-25 19:43] upandfine commented on #4190
I found the error.
The default configuration of pm2 in the home directory was broken/wrong. I renamed ~/.pm2 and it worked. Thanks for your great help and your effort - may it help the next one.

[2020-03-25 19:43] #4190 closed

[2020-03-26 09:20] simonmaass commented on #4199
@pkarw I will have a look into this - also maybe create PR...

I would kinda disagree with it being a feature request but ok ;-) As an e-commerce tool having products on sale that sometimes even are 0€ - so basically just giving them away - is not totally uncommon... but lets just fix it and move on :)

[2020-03-26 09:35] revlis-x opened #4201 "Category Listing not updated when using Back Button"
## Current behavior
In 1.11 when navigating from one category to another and then going back with browser back button, the category listing is not updated to the previous one.

## Expected behavior
Displaying correct listing of the currently displayed category.

## Steps to reproduce the issue
1. Goto https://test.storefrontcloud.io/women/women-20
2. Navigate to another category via the menu
3. Cl

[2020-03-27 07:40] pkarw commented on #4094
Comment from Jonathan:

<img width="501" alt="Screen Shot 2020-03-26 at 21 46 28" src="https://user-images.githubusercontent.com/211899/77733002-63850c80-7006-11ea-839c-3c52dc3ca0d0.png">

<img width="947" alt="Screen Shot 2020-03-26 at 21 50 50" src="https://user-images.githubusercontent.com/211899/77733055-7b5c9080-7006-11ea-9e27-111b9cf34f73.png">

[2020-03-27 09:39] gibkigonzo opened #4203 "duplicate vue-meta render"
## Current behavior

After upgrading vue-meta there are some breaking changes that makes duplicate render. There are duplicate scripts and other elements in head, for example `lang="en en"`

## Expected behavior

There are no duplications.

## Steps to reproduce the issue

1. load vsf in dev mode on master branch

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Releas