[2018-09-21 08:15] #1737 closed

[2018-09-21 08:17] mdanilowicz commented on #1266
I do some tests, but I am not a Webpack expert, so please correct me if I am wrong:

VSF is not working on IE11 & 10 because there is ES6 code that IE is not supporting.
![2018-09-21_10h11_16](https://user-images.githubusercontent.com/7597086/45868715-c13bf700-bd86-11e8-8bdc-46e1f0897250.png)

This code appears there because we don't compile ES6 code in  node_module.
[code]

[2018-09-21 11:32] qiqqq opened #1751 "Addition of information about product's low stock level on cart"
Now we have only infomations that product is "In stock" or "Out of stock" (if product which is out of stock, can be added to cart). We need to add possibility to show information about low stock level of product.

Things to do:
- [ ] Add settings to config where user can define low stock level, for example `"lowInStockLevel": 5`
- [ ] In `stock-after-check` event compare defined level (if is defin

[2018-09-21 12:22] lorenaramonda opened #1752 "[CONSOLE LOG] Prevent log to be printed unless configuration for is true"
The long list of logs into the console it's too thick and sometimes makes hard to debug own component. I suggest thinking about using a method that, instead of using console.log() directly, first checks if the config for logs is set and is true and then console.log().
In any case, logs shouldn't be printed in production mode like vuejs framework already does.

[2018-09-21 12:52] pkarw commented on #1752
Good idea. It should be set in config - we’ve moved to console.debug in most places but chrome displays the message anyway

[2018-09-21 12:55] pkarw commented on #1266
Good point! We should aim the modules that are not compiled with Babel by their creator (as this Vue-offline show. On screen - made by @filrak hah ;)) and add exceptions for them (to compile them by Babel)

@mdanilowicz do you have maybe a kind of list from your research which modules need to be fixed?

[2018-09-21 13:00] pkarw commented on #1749
I understand this need and why this RFC is proposed but I always was a fan of simple solutions - and these abstract labels are not something I like. The code is a little bit less readable and writing any new feature you must remember to add the translation strings. In exchange you have simpler and more elegant translation files.

For sure, if we decide to implement this, we should have backward co

[2018-09-21 13:22] DavidRouyer commented on #1749
I haven't finished writing it :sweat_smile:

I hope you're kidding about translations keys. Actual translations keys are unmanageable because some of them takes 3 lines and they'll break with every typo.

[2018-09-21 13:59] DavidRouyer commented on #1749
And we have to understand users will adapt those strings for their stores, so it's misleading for them if they have a string which translates to another. It's our job to write understandable translations keys (we have ~50 strings in the core, it should be feasible).

[2018-09-22 09:07] pkarw opened #1753 "Problem with filter labels + selected filters"
Related to:
#1747 #1750

-----------------------------------
* [bug] **What is the current behavior?**

1. Missed dynamic translations for “filter_” + attr.code - to be reproduced on test.vuestorefront.io @DavidRouyer can You please add the translations to the theme file + check if there are other cases like this one (I don’t remember if there are other cases such like this - probably safest way i

[2018-09-22 10:33] DavidRouyer commented on #1753
It is possible that I've missed a few ones, will take a look

[2018-09-22 10:34] DavidRouyer commented on #1752
Why not printing anything unless there is a problem?

[2018-09-22 15:43] pkarw commented on #1752
That’s fine - please just make it configurable for some dev. scenarios as well?

[2018-09-22 15:43] pkarw commented on #1753
Thanks David, You’re the man!

[2018-09-22 20:49] vue-kacper commented on #1600
@Tjitse-E I can't reproduce this issue, can you please check from your side and confirm that this issue is solved?

[2018-09-23 05:26] #1733 closed

[2018-09-23 05:29] pkarw commented on #1753
@vue-kacper steps to reproduce this issue on my iOS:
- open filters
- check some color, size (filters are marked as selected)
- close filters pop up
- open it again - none of previously selected filters are active

[2018-09-23 09:44] Tjitse-E commented on #1600
@vue-kacper No, I can still reproduce this issue in the demo store.

[2018-09-23 13:46] #1753 closed

[2018-09-23 19:00] amenadiel commented on #307
@DesignNG I totally agree there should be an adapter for Woocommerce.

However, I don't know where did you pull those stats from.

Currently these are the stats on builtwith

![ecommerce](https://user-images.githubusercontent.com/238439/45931802-63a3d800-bf49-11e8-9d59-890bd153ee76.png)
If you use "whole internet" instead of "top 1M" shopify turns out to be the most used one. It's also good to not

[2018-09-24 05:11] phronesis commented on #307
I want to work on this, starting this week, who else is available to join?

On Sun, Sep 23, 2018, 8:00 PM Felipe Figueroa <notifications@github.com>
wrote:

[2018-09-24 11:16] qiqqq opened #1757 "Differences in prices on product page and cart when tax rule is not set for product"
When we have "Tax class" set for product in magento, prices included tax are displayed both on product page as on side cart:

https://prnt.sc/ky14yi
https://prnt.sc/ky14v1

Problem occurs when we we don't have seted "Tax class" for products. In this case on product page is displayed price with tax and on side cart is displayed price without tax. It should be price without tax both on product page

[2018-09-24 11:23] qiqqq opened #1758 "We shouldn't display cart discounts on product in side cart"
When we have cart discount rule or coupon code, we should show added discount in cart summary only. Now we show this discount on product directly and this is misleading:

https://prnt.sc/ky1hfl

On product we should show only product discount and not cart discount.

[2018-09-24 14:56] jorkvist opened #1760 "Pricefilter on category page return wrong products"
* [bug] Goto https://demo.vuestorefront.io/c/women-20
Click filter on the pricefilter: <50 and look at the list, second in the list is
"Erika Running Short" cost: $55.35

* [bug] **What is the expected behavior?**
Expected not showing any product outside the filtered interval

* [bug] **Please tell us about your environment:**
  - Version:
  - Browser: Chrome Desktop Latest

[2018-09-24 15:14] jorkvist opened #1761 "Main menu, a few different bugs"
- When you have a lot of items in level 2 and 3, there is a scroll on level 1 in the menu.
- When one category with few items in the level 2, but in another subcategory in level 2 have more items, those items showing up under the wrong subcategory. ( Test on: ribatex.se click fx Fiskerullar in the menu and scrool down. The items that coming in the bottom is from another category. )
- When a catego

[2018-09-24 16:29] Igloczek commented on #1749
I like this idea, for example, [Redmine](https://www.redmine.org/) and other RoR based apps translations are done in the same way and I really enjoy working with it.

[2018-09-24 18:17] jimcreate78 opened #1762 "Existing Magento cart not loading"
Upon logging in with a user I'm no longer seeing the cart restore or the application-after-loaded event fire.

Previously, when a user would login the cart would be restored and the event would fire.

This started after updating to v1.3.1 from v1.1.0

local.json:
` "cart": {
      "multisiteCommonCart": false,
      "server_merge_by_default": false,
      "synchronize": true,
      "synchronize_to

[2018-09-24 20:08] dennisotugo commented on #1431
@Tjitse-E Is it still crashing?

[2018-09-25 06:12] pkarw commented on #793
https://www.npmjs.com/package/vsf-payment-paypal

[2018-09-25 06:12] pkarw commented on #793
https://www.npmjs.com/package/vsf-payment-paypal-api

[2018-09-25 06:26] Tjitse-E commented on #1431
@dennisotugo no everything is running fine here.
@pkarw cool feature, i'll have a look!

[2018-09-25 06:30] pkarw commented on #1762
Please try to comment out the the condition of https://github.com/pkarw/vue-storefront/blob/1e4239cbdf5b727ee042d6bff740fdfcdc11d9d6/core/store/modules/cart/actions.ts#L470

In other words - just keep the
[code]

in this `userAfterLoggedin` - and let me know if it helped. If so - I'll add a fix to that

[2018-09-25 09:06] pkarw commented on #307
@phronesis we're starting currently some PoC project for this integration - currently it's to early to involve more ppl. We'll contact You in next 2-3 weeks regarding this integration

[2018-09-25 15:33] phronesis commented on #307
I already started work on this yesterday. Some of my thoughts around this
include:

1. Building a data bridge, similar to
https://github.com/DivanteLtd/pimcore2vuestorefront . The purpose of this
will be one-time dumps from woocommerce to Elasticsearch.
2. Then work on a wordpress/woocommerce plugin that will push to elastic
search once a new product is created or edited on woocommerce
3. Then wil

[2018-09-25 18:31] dimasch opened #1765 "The currency sign is not corrected displayed for price filter on catalog page"
The currency sign is not corrected displayed for price filter on catalog page.

![2018-09-25_22-27-42](https://user-images.githubusercontent.com/414067/46034703-63a30400-c112-11e8-8ebe-78b848a0ee6f.png)

### Expected result
Currency sign displayed for the price filter accordance by config settings.

### Reproduce
Set custom `currencySign` in you local.json
[code]

### Related line of code
https://

[2018-09-25 19:02] pkarw commented on #1765
Can You please fix it an report PR, please?

[2018-09-25 19:45] pkarw commented on #1742
The main reason for having this event is to update the microcart information adding info about stock etc and were emitting this event to do forceUpdate on the micro art product item. So maybe just using Vue.set instead would have solved the initial issue which caused adding this event

[2018-09-25 19:46] #1649 closed

[2018-09-25 20:10] sansor opened #1766 "Loading Plugin with SSR false"
Looks like a very generic SSR issue which I am facing while adding new plugins. if I need to install any plugin with "ssr: false" where should I do that? Wrapping the function around <no-ssr> doesn't work as it throws while loading plugin itself.

In most of the cases, either window is not found or document is not ready are thrown. Most of the solution provided is given only for nuxt framework whe

[2018-09-25 21:09] shkodasv opened #1767 "Base Radio Button Checked vs Value"
Hello!
Radio buttons can have different values AFAIK, but on the core code I can see the property "value" with Boolean type. https://github.com/DivanteLtd/vue-storefront/blob/19618fc3fa89d08651b1708bb4f044e1823ef45c/core/components/blocks/Form/BaseRadiobutton.js#L8

 And it is used for attribute "checked" in https://github.com/DivanteLtd/vue-storefront/blob/19618fc3fa89d08651b1708bb4f044e1823ef45c

[2018-09-25 22:35] jimcreate78 commented on #1762
@pkarw servercart-after-diff fires now but it didn't restore the Magento cart.  The cart state is empty.

**servercart-after-diff payload:**
`{"diffLog":[{"party":"client","sku":"WB-CLM-1","status":"no_item"},{"party":"client","sku":"CC-CCP-05","status":"no_item"}],"serverItems":[{"item_id":1052,"sku":"WB-CLM-1","qty":3,"name":"Clem","price":14.5,"product_type":"configurable","quote_id":"26","prod

[2018-09-26 06:50] pkarw opened #1768 "Default Template 2.0 - feedback"
We're currently working on Default theme 2.0 - the design process is on its way. I think this is the right time to gather some feedback regarding code architecture/structure as well. This ticket is for that - please feel free to include Your voice in the discussion

### What is the motivation/use case for changing the behavior or adding a new feature?

Default Theme in its current state is getting

[2018-09-26 06:56] pkarw commented on #1767
Yes, I agree with You - I think that sbd who was creating this component was just ... too specific to some individual goal/problem he or she was approaching. I believe it's good to change it and make more general. Please feel free to do so. But please also be aware of all the instances of this component and please do test them well before committing a PR :-)

[2018-09-26 07:55] filrak commented on #1768
Hey!
Good idea, I'd love to hear some feedback before coding.

**Regarding 'Too granular mixins'**
- I don't think they are hard to find especially with Intelisense. Right now just by looking at intelisense or the folder strutucture you know exactly what are the features that you can use. we had this discussion earlier with the other contributors in a different ticket and agreed on this format.
-

[2018-09-26 08:09] jorkvist commented on #1768
Hi, just my 2cents i think before you starting on version 2, the first version should have much better quality else you will be in a state where v2 is a excuse to not fix stuff in v1. Else the community will have a setback of maybe +1y(?) before the v2 is ready and during that time you there will be a lot of stuff in v1 that's would be good to have solved for people using that in production.

[2018-09-26 08:11] pkarw commented on #1768
@jorkvist we're all committed to fix v1 as well :)

[2018-09-26 08:13] pkarw commented on #1768
@filrak I see that we have totally oposite opinion on the mixins. I really dislike this very granular approach - which from my perspective - makes theme development (I mean from scratch, not using the existing components) a nightmare. You can hardly find whose mixins interfere with others, how the dependencies look like. It's good only in theory but it would be great to hear some opinion from @sza

[2018-09-26 08:24] pkarw opened #1769 "How to add another Resolver for different entity type from the extension/theme level?"
Related: #1721

We need to have a doc on how to add different entity types to Elastic to be solved by GraphQL resolvers. I mean - if somebody will add custom entity (for example "Tour" entity when You're in travel industry). How to add this very custom entity to be available in GraphQL Queries?

It should be doable from the extension and theme levels.

### What is the motivation / use case for cha

[2018-09-26 08:33] pkarw commented on #1762
This is correct behaviour. If You've got set `config.cart.server_merge_by_default=true` then there is just this event (`servercart-after-diff`) executed and You supposed to display the popup or whatever to let the users decide if they like to merge cart or not (and merge it manually) :-)

[2018-09-26 08:34] pkarw commented on #1762
If You'll set `config.cart.server_merge_by_default=false` in config then automerge will be executed without firing `servercart-after-diff`

[2018-09-26 08:44] pkarw commented on #307
OK! Please do share Your output whenever You're ready

[2018-09-26 09:35] pkarw commented on #1765
Fixed

[2018-09-26 09:35] #1765 closed

[2018-09-26 12:10] #1686 closed

[2018-09-26 15:05] jimcreate78 commented on #1762
The server merge by default was functionality I requested because we didn't want to keep merging carts together.  In 1.1.0 the cart restored from Magento and we did our work on servercart-after-pulled.  Now the cart doesn't restore from Magento and that event doesn't fire.

[2018-09-26 16:44] pkarw commented on #1762
Hmm afaik nothing has been changed regarding this. Please let me know which value has you got in local.json: config.cart.server_merge_by_default

[2018-09-26 16:46] pkarw commented on #1762
Plus please do confirm that You have this fix:
https://github.com/DivanteLtd/vue-storefront/commit/f9a9ddcafd5ca9c3ad3d46fc1e8217dd3592b74 merged in?3

[2018-09-26 16:49] jimcreate78 commented on #1762
"cart": { "multisiteCommonCart": false, "server_merge_by_default": false, "synchronize": true, "synchronize_totals": true, }

I have the latest development branch currently with f9a9ddc included.

[2018-09-26 16:54] pkarw commented on #1762
Ok, I’m not sure if I get it right. Because auto merge will work just fine if Yoi set server_merge_by_default to true - and ... nothing has been changed since this option was introduced hmmmm

[2018-09-26 16:58] pkarw commented on #1762
https://github.com/DivanteLtd/vue-storefront/pull/1131#issuecomment-424792415 - with the latest comment + nothing has changed there since then

[2018-09-26 17:01] jimcreate78 commented on #1762
We added the server_merge_by_default so that when the Magento cart loads it wouldn't merge in whats in the client cart.  This variable wasn't controlling if the cart is restored or not but if it's merged or not.

[2018-09-26 17:50] pkarw commented on #1762
In other words: after user logs in you would like to restore the server content by default (replacing current cart) and if there were any items in the cart that we should fire after-diff to give the chance to merge these items back in to th  cart. Correct?

This behavior hasn’t been implemented so far. If it worked this way like restoring server cart even when server_merge_vy_default = false it mu

[2018-09-26 21:00] collymore commented on #793
https://github.com/develodesign/m2-paypal-payment is also required for sending orders back to Magento, we're working on removing the need for this soon.

[2018-09-27 06:16] #1734 closed

[2018-09-27 06:17] pkarw commented on #1699
@thierry2015 can You please check if the issue is still valid on current develop branch?

[2018-09-27 08:04] ladrua opened #1775 "Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema."
I am trying to bring up the project with `docker-compose up` but getting this error:

[code]

The only thing that I have changed is in the docker-compose.yml file, as I have other apps in the same project the vue-storefront is in a subdir, so I have updated the Volume mounts to reflect the new path:

[code]

[2018-09-27 08:30] #647 closed

[2018-09-27 08:30] #648 closed

[2018-09-27 08:57] ladrua commented on #1775
Ok, so I changed line 111 in webpack.base.config.js from `'@vue-storefront',` to `'/var/www/node_modules/@vue-storefront',`

Now it get further, but new error:
[code]

I guess I must have missed something obious here...

[2018-09-27 09:30] filrak commented on #1768
@pkarw each mixin should be standalone, work without any dependencys and not interfere with any other ;) If some functionality will rely on the other then they should be merged

Please remember that we will still have this core components. Not ALL the component parts needs to be splitted into features and not all of them can be but generally it's a good approach to allow people compose their compo

[2018-09-27 09:45] pkarw commented on #1752
@NataliaTepluhina I've added the configuration option:

[code]

Available options: `only-errors` - displays only error messages, `no-console` - silent mode, `display-everything` - displays everything (it may be usefull for development purposes)

Could You please update the docs with this info?

[2018-09-27 09:47] qiqqq commented on #1761
@jorkvist I will check this bugs and try to fix it next week

[2018-09-27 09:51] DavidRouyer commented on #1768
Can we rewrite components which have dependencies at the same time?
For example, https://github.com/DivanteLtd/vue-storefront/blob/master/core/components/ProductGallery.js should be generic and not dependent of any dependency

[2018-09-27 10:35] janmyszkier commented on #1775
No, this seems to be broken only on master, but seem to work fine back in `114737a40eca26bbe28e779e10462ebb3a09ef8b`. Seems like a bug, unintentional or not.

[2018-09-27 11:38] #1752 closed

[2018-09-27 11:44] pkarw opened #1779 "Add mechanism for extending ExpressJS SSR app in the frontend"
### What is the motivation/use case for changing the behavior or adding new feature?

Currently, there is no way to generate `sitemap.xml` or `amphtml` (HTML without any JS with AMP markup included)... Would be great to have a way to add custom routes to the Express.js app.

How should it be structured? I was thinking about adding:

`src/routes` - for custom ExpressJS, server-side routes either `s

[2018-09-27 11:46] pkarw commented on #1779
These server side routes would have been registered like this one:
https://github.com/DivanteLtd/vue-storefront/blob/e4e806f3c010daabf7997b23d1fd7d25fbcb8d1d/core/scripts/server.js#L65

[2018-09-27 12:15] pkarw commented on #1775
OK guys, seems like problem with relative paths with webpack - fixed here:
https://github.com/DivanteLtd/vue-storefront/commit/093166377f29180633e4a3cc1fc78d2171e8cb6f

[2018-09-27 12:34] ladrua commented on #1775
Thank you @pkarw but thats what I tried, see my second comment, I still get that error with latest master build.

[2018-09-27 12:37] #1721 closed

[2018-09-27 12:38] #1572 closed

[2018-09-27 12:54] pkarw commented on #1775
I dont have any error after this change have you tried to run “yarn install” to create the symlinks for virtual @ folders?

[2018-09-27 12:59] ladrua commented on #1775
But thats run in the vue-storefront.sh script on startup? Do I need to run it again? Or are we talking outside the container?

[2018-09-27 13:03] pkarw commented on #1775
I had this problem outside the container - so if you’re using container it should work just fine. This is strange error you’re getting. @pszreder can you take a look at it?

[2018-09-27 13:38] ladrua commented on #1775
﻿﻿﻿﻿﻿﻿﻿﻿﻿This is the complete log:
[code]

[2018-09-27 14:31] pkarw commented on #1779
PoC done in #1783

[2018-09-27 14:31] #1779 closed

[2018-09-27 21:39] pkarw opened #1786 "Add review class for graphql driver"
After switching to `config.server.api=graphql` we're getting this error:
https://www.dropbox.com/s/dyjbwfznldm5s9t/Screenshot%202018-09-27%2023.36.51.png?dl=0

I believe that You need to add the proper entity type here:
https://github.com/pkarw/vue-storefront/blob/35d44504adefd3b498173ef63819ddaaec40452f/core/store/lib/search/adapter/graphql/searchAdapter.ts#L108-L109

... and here:

https://githu

[2018-09-27 23:11] pkarw opened #1788 "Add header's cache"
We're currently not caching the HTTP response headers when output cache is enabled. We should cache them as well

https://github.com/DivanteLtd/vue-storefront/blob/ad3fe85742bb7da584f85071ddc3b1ba6d45c7a9/core/scripts/server.js#L151

[2018-09-28 01:03] diboy2 commented on #1535
Hello @pkarw ,

I don't think I'm able to do this issue since I don't have enough ram to use linux and get mage2vuestorefront running.

[2018-09-28 07:15] pszreder commented on #1775
@ladrua lucky guess - could you try to start "docker-compose up" with the "--build" arg?

[2018-09-28 07:34] pkarw commented on #1775
We've added as afix tsconfig.json to the container - hasn't been included there in 1.3.0 :( Could You prone Your storage and rebuild it to make sure the file is there? Coyuld You also paste Your tsconfig.json? In the develop and master branch for sure `files` section is not empty as the message sugests

[2018-09-28 07:47] janmyszkier commented on #1775
:thinking: I just cloned master from scratch few minutes before posting this.
If the code is actually looking for `/tsconfig.json` (root dir file), the files contains reference to `shims`. Either way, that still fails to build. Maybe still wrong path reference somewhere?

[2018-09-28 07:50] #1788 closed

[2018-09-28 08:33] yuriboyko commented on #1769
Please note only entity type on the  Vue-storefront side can be created via extension.
On the API side you have to add  a subfolder under src/graphql with new resolver

[2018-09-28 08:33] ladrua commented on #1775
Hm I'm getting same error as you @janmyszkier when I run with these volume mounts:
[code]

And if I add these two mounts: (I read somewhere in an issue that these were missing)
[code]
I get these errors again:
[code]

[2018-09-28 10:01] ladrua commented on #1775
Ok, I got it working. I had an typo error in my first volume mount:
`- './vue-storefront/babelrc:/var/www/.babelrc'` should be `- './vue-storefront/.babelrc:/var/www/.babelrc'`

The error you have @janmyszkier I solved by adding these two files to mount in docker-compose:
[code]

[2018-09-28 10:04] pkarw commented on #1775
Awesome! Will You propose a PR please?

[2018-09-28 10:30] ladrua commented on #1775
There it is. Thanks for your help!

[2018-09-28 10:38] pkarw commented on #1775
Thanks! Please let me know guys if we can then close this issue

[2018-09-28 10:44] pkarw commented on #1769
@yuriboyko thanks! That solves the issue!

[2018-09-28 10:45] #1677 closed

[2018-09-28 10:56] #970 closed

[2018-09-28 11:01] pkarw opened #1792 "Create centralized data loader to ... decentralize asyncData() for SSR"
### What is the motivation / use case for changing the behavior or adding new feature?

Currently, if the page is to be compliant with SSR it must have asyncData() - centralized data loader. Centralization is no good. There is no way to load data inside subcomponents currently and still have SSR in place.

Let's take a look at this example with CMS:

Let's say You have component `<cms-block block_

[2018-09-28 11:11] ladrua commented on #1775
Looks good to me! But as a sidenote, it's not a great idea to volume mount files directly, should be kept to dirs because some editors break the file mount into the docker container if files get edited(vi,vim,++). Not sure how to solve easily on this project, but I can have a look as I get into the project.

[2018-09-28 12:20] HRR1337 commented on #1768
What about using TailwindCSS with Purgecss and 'Above the fold CSS'?
As fast as possible..

[2018-09-29 11:00] Able2Code opened #1793 ""Filter by" has some problems"
Ex: https://demo.vuestorefront.io/c/gear-3
Try to filter by any criteria, then order and reorder more times.
Some times it returns all site items ordered and not only category specific items, in other cases it returns zero items.
Also how to reset left bar filter, or maybe remove only a specific filter from the search? When i choose any filter the url do not change, this is bad for SEO and for use

[2018-09-29 11:58] pkarw commented on #1793
Could you provide us please with some screenshots? I’ve tried to reproduce this issue on demo, gear category but without success

[2018-09-29 14:01] pkarw commented on #1793
@vue-kacper can You check this one please?
@Able2Code thanks for reporting! Which browser are you using?

[2018-09-29 14:04] Able2Code commented on #1793
@pkarw : Chrome 69 !

[2018-09-29 14:09] pkarw commented on #1793
I think the problem is somewhere in here:
https://github.com/DivanteLtd/vue-storefront/blob/514576f2dd4f77baa0e31202bda25d6717c5b5b9/core/pages/Category.js#L190

Probably we should avoid code duplication between onSortChanged and onGilterChanged (calling onFilterChanged when sort order changed - of course without any changes to filters (we need to support filterOption empty fort that case))

[2018-09-29 14:12] pkarw commented on #1793
The second option is that sth changes the current category object (
https://github.com/DivanteLtd/vue-storefront/blob/514576f2dd4f77baa0e31202bda25d6717c5b5b9/core/pages/Category.js#L42)which is used for constructing the query

[2018-09-29 14:34] pkarw commented on #1719
@filrak can you close this ticket till 6th (planned date for 1.4)?

[2018-09-29 14:36] pkarw commented on #1699
@qiqqq the problem is that if you enter the url of single product VS is redirecting you to the main configurable - therefore when clicking history.back(-1) you’re looping to single - configurable page on and on

[2018-09-29 14:37] pkarw commented on #1699
Maybe ij this case we should a) use not redirect but other way to transfer user to the right page, b) have an option for back button to force the back url in this particular case m?

[2018-09-29 15:06] Able2Code opened #1794 "Orders not appear on my account"
![ordini](https://user-images.githubusercontent.com/5517831/46247322-efb27580-c409-11e8-9ab2-27d11b910018.gif)

[2018-09-29 15:09] Able2Code opened #1795 "Same item with different sizes deleted once the stock sizes error appear"
![sizes](https://user-images.githubusercontent.com/5517831/46247362-71a29e80-c40a-11e8-872c-ea49b79219fc.gif)

[2018-09-29 15:14] pkarw commented on #1794
Have you “npm run o2m” up and running? Orders are displayed only after they’re transferred to backend (Magento in that case). Otherwise the list is empty

[2018-09-29 15:44] Able2Code commented on #1794
I see this problem in
https://demo.vuestorefront.io/my-account/orders

[2018-09-29 20:08] pkarw commented on #1795
Fixed in https://github.com/DivanteLtd/vue-storefront/pull/1787/commits/0bc37a0f0c9f198f6fa4bf542f71bb582bab0438

[2018-09-29 20:08] #1795 closed

[2018-09-29 20:15] pkarw commented on #1794
Fixed - the order_2_magento.js process encountered some problems on demo host
Now it's fine:
https://www.dropbox.com/s/aj2pxggnro7ttlg/Screenshot%202018-09-29%2022.15.04.png?dl=0

[2018-09-29 20:32] pkarw opened #1796 "Add backup order save in the vue-storefront-api"
We can add a feature to save backups of order json files https://github.com/DivanteLtd/vue-storefront-api/blob/c7087aa674ae98f5c838de7390f9bbbf9249ff9c/src/api/order.js#L50

in case of any Redis / etc failure

[2018-09-29 20:40] pkarw commented on #1796
+ optional e-mail send with orders

[2018-09-29 20:45] pkarw commented on #1532
Can not reproduce it anymore

[2018-09-29 20:45] #1532 closed

[2018-09-29 20:46] #1326 closed

[2018-09-29 20:48] #133 closed

[2018-09-29 20:48] #152 closed

[2018-09-29 20:48] #182 closed

[2018-09-29 20:48] #341 closed

[2018-09-29 20:48] #366 closed

[2018-09-29 20:48] #393 closed

[2018-09-29 20:48] #422 closed

[2018-10-01 02:27] diboy2 commented on #1535
@pkarw nvm, I found a fix. https://github.com/DivanteLtd/vue-storefront/pull/1797

[2018-10-01 04:58] koftkoft commented on #307
My team has experienced in digging deepest to Woo Commerce code,  several things are different from Magento's view.

Woo doesn't have cart API (can be added with a plugin but not official one), I'm not sure does it required in VueStoreFront to use it since i'm very new to this but really interest in plugging it into Woo. They use order API and rely that the client will manage and update it in a co

[2018-10-01 08:05] filrak commented on #1719
sure but it's kind of important

[2018-10-01 08:35] pkarw commented on #1719
close means => make it happen not physically close :D

[2018-10-01 08:37] pkarw commented on #307
@koftkoft awesome! Let me know if You require any help

[2018-10-01 08:39] #1535 closed

[2018-10-01 13:22] DavidRouyer commented on #1589
@filrak Can you take a lot at the Workbox migration? The CLI and nuxt are using it, it works pretty much the same as our current plugin (see https://github.com/DivanteLtd/vue-storefront-starter/blob/cli/vue.config.js for an example)

[2018-10-01 13:51] pkarw commented on #1600
This is because changing colors on the product page doesn't affect the page URL - so then after using the wishlist to navigate no valid data fetch is called (as the URL is exactly the same).
`  watch: {
    '$route.params.parentSku': 'validateRoute'
  },
`

We probably need to add kind of additional watcher to reload the product if it's needed

[2018-10-01 13:54] #1433 closed

[2018-10-01 14:13] pkarw commented on #1290
@mdanilowicz if You havent started with this one I'll take it from there

[2018-10-02 13:43] pkarw commented on #1290
Now the config can be reloaded on-fly with each server request if `config.server.dynamicConfigReload` is set to true. However in that case the config is added to `window.__INITIAL_STATE__` with the responses.

[2018-10-02 13:43] #1290 closed

[2018-10-02 14:37] vaggelisk commented on #1533
I'm working on this issue and I'm close to finish it but what exactly means `Best Match`? Could you explain it some more?

[2018-10-02 14:37] pkarw commented on #1533
This is just an example. Skip it please.

[2018-10-02 22:14] mercs600 commented on #1768
Yo guys!
So I agree with @pkarw default theme it's getting messy. Generally we should start thinking more about functional/dumb components. But what we have now...

@pkarw
#### Too granular mixins

I know what you feel, but I agree absolutely with @filrak. From my perspective I would like to choose what I need use in my components than maintenance part of code which I don't need.  Comments are not

[2018-10-03 08:57] pkarw commented on #793
Dobe with https://www.npmjs.com/package/vsf-payment-paypal + https://www.npmjs.com/package/vsf-payment-paypal-api + https://github.com/develodesign/m2-paypal-payment

[2018-10-03 09:07] #793 closed

[2018-10-03 09:42] pkarw commented on #1749
OK folks, If You like to go with this idea we can do it. The only thing is how to migrate automatically old translation files to new ones?

We need such a mechanism. Probably just mapping (kind of hash or ... translation file ;P) the old identifiers to new ones + find & replace in files automatically in the theme is a solution.

Or some other way to keep the themes update'able?

[2018-10-03 11:01] #1688 closed

[2018-10-03 11:17] markoshust opened #1801 "Issue installing vue storefront with manual method - UnhandledPromiseRejectionWarning"
## Current behavior
After following the manual method to install, receiving this error:

[code]

## Expected behavior
Expected compilation step to run without errors

## Steps to reproduce the issue
Follow manual installation method at https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Installing%20on%20Linux%20and%20MacOS.md#manual-installation -- using "standard" mode

localhost:3000 r

[2018-10-03 12:14] pkarw commented on #1239
This is going to happen in here: https://github.com/DivanteLtd/vue-storefront/pull/1728

[2018-10-03 13:41] pkarw commented on #1801
It means that vue-storefront-api is not up and running. Please do check this step: https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Installing%20on%20Linux%20and%20MacOS.md#install-the-vue-storefront-api

[2018-10-03 13:42] pkarw commented on #1793
Closing it as I can't reproduce this issue  :-(

[2018-10-03 13:42] #1793 closed

[2018-10-03 13:49] #1786 closed

[2018-10-03 14:55] #1757 closed

[2018-10-03 14:59] pkarw commented on #1459
Fixed with the #1757

[2018-10-03 15:35] #1636 closed

[2018-10-04 10:02] DavidRouyer commented on #1768
We should think about the scope of the theme too.
Let's talk about pixel density for example. Today, we only support a pixel density of 1 (take the images for example, we don't use the srcset or the <picture> element to support multiple pixel density...), but do we want to support them further and making the theme overcomplicated?

[2018-10-04 10:10] lorenaramonda opened #1805 "iOS 9.3 js error blocks behavior"
## Current behavior
Content like images are not loaded and all the links/buttons in the navbar does not work: menu does not open, mini cart does not open, customer modal does not open, wishlist does not link page

only some products and categories in home blocks link to a page but then the page does not perfom filters (if category) or adding to cart (if product page)

I guess it's because a javasc

[2018-10-04 10:14] pkarw commented on #1805
This is somewhat connected with babel. To be honest - pretty old iOS (current is 12). Can You try out the test.vuestreofront.io?

[2018-10-04 12:38] lorenaramonda commented on #1805
test acts the same way 😞 same error, I know it's old but there are still similar devices around

[2018-10-04 12:59] pkarw commented on #1805
The problem is that some npm modules are not "babelized" we need to test it on local (on this iOS - using remote debugger) and figure out which modules causes the problem then add them to babel include list

Can You do this test? on demo or test you can hardly figure it out because there are no source maps so we don't know where exactly lays the problem

[2018-10-04 12:59] Able2Code opened #1806 "Filter by, problems"
Hi ! sorry for my delay, today also me can not reproduce the same bug, but only one very similar and, i think, related bug.
Also color filter, seldom, do not disappear when where no item corresponding.
My hd video url https://youtu.be/2YG9zQ72aqc

[2018-10-04 13:11] pkarw commented on #1760
This is because the filter by deafault uses price field which is price Net to filter

[2018-10-04 13:11] #1801 closed

[2018-10-05 03:42] #1437 closed

[2018-10-05 03:43] pkarw commented on #1805
The solution has been described in: #1266 after some research by  @mdanilowicz

[2018-10-05 09:54] kjugi commented on #1437
It's merged and released but I think it's still old version in `package.json` in this repo. Need to update it min. to `0.12.0`

[2018-10-05 10:56] filrak commented on #1806
Please use a proper issue template next time

[2018-10-05 11:18] cmeyertons opened #1810 "Documentation: add debugging configuration steps (specifically VS code)"
## What is the motivation for adding / enhancing this feature?
The application architecture is very good, but also very advanced.  Someone new to the project may not easily be able to set up debugging a Node.js process inside a docker container trivially.  Plus every new person coming in has to do this probably at some point, so why re-invent the wheel?

Since VS code is already the recommended ID

[2018-10-05 11:28] pkarw commented on #1810
@NataliaTepluhina could You please take care of this one?

[2018-10-05 11:39] #1650 closed

[2018-10-05 14:00] NataliaTepluhina commented on #1810
@pkarw will look into it

[2018-10-05 14:02] LiTiang commented on #1196
Hi, by using ` killall node `,
i still can access **localhost:3000** in my browser

and after i reboot my Mac,
i have no idea that why i still can access **localhost:3000** ?
( i.e. vue-storefront still running ! )

at now, i really don't know how to kill that ( or kill all container ? )
### please help . . .

[2018-10-05 14:59] lorenaramonda commented on #1266
Could someone try to replace stage-2 with stage-3 in .babelrc config? I tried on my project (which however is a lot of version behind) and it worked

[2018-10-05 16:40] Able2Code commented on #1806
I apologize, my mistake

[2018-10-05 23:42] diboy2 commented on #971
@pkarw Did anyone ever work on this issue? I'd like to work on it.

[2018-10-06 00:03] diboy2 commented on #1742
@vaggelisk, are you still working on this issue? I'd like to work on it.

[2018-10-06 04:01] pkarw commented on #971
@diboy2, cool it seems you’re good to go with this one as I haven’t seen any progress yet

[2018-10-07 05:56] wubuyun opened #1811 "not image 310/300/resize"

[2018-10-07 05:58] wubuyun opened #1812 "Mixed Content: The page at 'https://xxxx/checkout'"
vue.runtime.esm.js:6394 Mixed Content: The page at 'https://nihao/checkout' was loaded over a secure connection, but contains a form that targets an insecure endpoint 'mailto:contributors@vuestorefront.io'. This endpoint should be made available over a secure connection.

[2018-10-07 06:02] wubuyun opened #1813 "Internal validation error; Order entity is not compliant with the schema"

[2018-10-07 08:34] vaggelisk commented on #1742
@diboy2  after a discussion with a main contributor, he informed me that the issue is quite difficult, so I started to work with another.

[2018-10-07 09:08] akbarik commented on #1813
@wubuyun , could you please open the brackets in the error message (I mean these: "...is not compliant with the schema [{...}]") and send the screenshot again? Thanks

[2018-10-07 09:30] akbarik commented on #1812
There is a stackoverflow question regarding the same issue (https://stackoverflow.com/questions/51915755/https-for-mailto-in-html), which states that there's basically no secure mailto protocol, therefore it's better to use backend to send emails, and on the form call backend API instead, which will be secure in this case.
@pkarw, @filrak, should we do that then?

[2018-10-07 10:00] akbarik opened #1814 "ThankYou page: Textarea clashes with title when text is big"
## Current behavior
When the text is more than 4 lines, it clashes with the title above

## Expected behavior
Title should not clash with the text

## Steps to reproduce the issue
Just type more than 4 lines of text in "Type your opinion" textarea

# Can you handle fixing this bug by yourself?
YES

## Enviroment details

- Browser: Chrome v69, Safari v12, Opera v55
- OS: MacOS High Sierra
- Node:

[2018-10-07 10:17] filrak commented on #1812
Hey @akbarik! Havn't seen you here for a while ;)

Yup it'll be overally good to have email services through vs-api since (as described in issue it will be more user friendly).

@akbarik can you create module for this in frontend and extension for vs-api ? Probably there should be an option to specify a target email in config and enable option to send confirmation to users mailbox.

@pkarw wdyt?

[2018-10-07 15:07] pkarw commented on #1812
Sounds good @filrak. If you can create such a module @akbarik that’s fantastic. It should be general contact module and the email defined in the config.

[2018-10-08 00:30] #1811 closed

[2018-10-08 07:24] randheers opened #1817 "sset versioning feature request"
## What is the motivation for adding / enhancing this feature?

## What are the acceptance criteria

- ...
- ...

# Can you complete this feature request by yourself?

## Additional information

[2018-10-08 08:37] #1814 closed

[2018-10-08 11:27] vue-kacper opened #1822 "[default] filters are not updating"
## Current behavior
Filters are not updating, page refresh is needed to see filters current state

## Expected behavior
Filters on the left sidebar should update accordingly without need for page refresh

## Steps to reproduce the issue

- Visit https://demo.vuestorefront.io
- Refresh browser window
- Select category Women -> Tops -> Jackets
- Click on Breadcrumbs "Tops"

![44771229-b8cb1480-ab6a-

[2018-10-08 12:41] pkarw commented on #1817
Could You please be more specific/ :)

[2018-10-08 12:41] #1817 closed

[2018-10-08 16:19] #1813 closed

[2018-10-08 16:53] pkarw opened #1830 "GraphQL can not be now deployed in non-root config"
## Current behavior

Currently the URL of graphQL endpoint is constructed like this:
[code]

This is not very flexible. Let's say we do have the API under `https://server/api` which gives us `https://server/api/graphql`. You can not set such an url via config variable.

## Expected behavior

It should be more flexible - for example allowing the user to put the port in the `graphql.host` property l

[2018-10-08 19:05] ngeleedst commented on #1226
Hi Filrak,

Any news about this thread? And in special the routing request, i would like to use clean urls without sku or /p etc.

Thanks!

[2018-10-08 19:58] vue-kacper opened #1833 "Products can't be accessed from the catalog"
## Current behavior
Products can't be accessed from the catalog

## Expected behavior
We should be able to navigate from catalog to product page

## Steps to reproduce the issue

- Open URL https://demo.vuestorefront.io/c/tops-21
- Click on first product "Chloe Compete Tank"

![capture](https://user-images.githubusercontent.com/42430550/46630714-483ded00-cb45-11e8-8939-cfae0e283435.PNG)

[2018-10-08 21:03] pkarw commented on #1226
You can remove `p` and `c` from url wiht this option: https://divanteltd.github.io/vue-storefront/guide/basics/configuration.html#products Please try it out and let us know if it helped?

[2018-10-08 21:03] ngeleedst opened #1834 "Creatie native PIMCore indexer"
## What is the motivation for adding / enhancing this feature?
We should replace pimcore2vuestorefront with an native PIMCore indexer indexer. Perhaps the advanced object Search module as Foundation which will be pushing the Category, Product, Attribute, Taxrule data directly to ElasticSearch in on-demand mode and with event services.

## What are the acceptance criteria
compatibility with mage2vu

[2018-10-08 21:05] akbarik commented on #1812
@wubuyun, why did you close this issue?

[2018-10-08 21:37] ngeleedst commented on #1226
Hi Pkarw,

Thanks for the quick reply, this is already helping me but i would like to completely remove sku/id from url. Is it possible to use the url_key as identifier?

[2018-10-08 21:38] vue-kacper commented on #1833
Fixed with https://github.com/DivanteLtd/vue-storefront-api/pull/127

[2018-10-08 21:38] #1833 closed

[2018-10-09 08:47] lorenaramonda commented on #1805
https://www.youtube.com/watch?v=9-eDK_ipYbg 😄

[2018-10-09 18:57] #1830 closed

[2018-10-09 18:58] #1822 closed

[2018-10-09 21:29] vue-kacper opened #1838 "You can access pages reserved only for authenticated users as a guest"
## Current behavior

You can access pages reserved only for authenticated users as a guest. Those pages are indexed by search engines. Landing on those pages (for example from search engine) will result in bad user experience as **main menu** and **icons on the right side** doesn't work.

## Expected behavior
Guest should be redirected back or to the home page on routes dedicated for authenticated

[2018-10-10 06:49] pkarw commented on #1838
Seems like https://github.com/pkarw/vue-storefront/blob/971b5fa296b008fca20bf5c023901155cf2ac678/core/pages/MyAccount.js#L29 stopped to work. I'll check it

[2018-10-10 06:49] pkarw commented on #1838
@vue-kacper middleware approach is an optimal idea - can You please create separate issue for that + describe some assumptions how should it work?

[2018-10-10 07:09] vue-kacper commented on #1838
@pkarw Sure

[2018-10-10 07:57] pkarw commented on #1838
Closed with: https://github.com/DivanteLtd/vue-storefront/pull/1840

Ther account-related pages are no longer accessible in the SSR.

@vue-kacper we need to have the middleware mechanism working not only client side - but even server side using Expressjs hooks. Please consider this PR: https://github.com/DivanteLtd/vue-storefront/pull/1840

in the `asyncData` which is executed server side there is

[2018-10-10 07:57] #1838 closed

[2018-10-10 10:34] pkarw opened #1842 "Add the oauth2 keys setup in scripts/installer.js"
## What is the motivation for adding / enhancing this feature?

Currently, we do have a fast/simple integration path with Magento2: https://github.com/DivanteLtd/vue-storefront/blob/docs/docs/guide/installation/magento.md#fast-integration

Adding the questions for the `vue-storefront-api/config/local.json:magento2:api` section and putting the config there in the https://github.com/DivanteLtd/vue-s

[2018-10-10 10:35] pkarw commented on #1842
This section - on m2 integration - shouldn't be required. It should ask You "would You like to perform initial data import from Magento2 instance?"

[2018-10-10 10:40] pkarw opened #1843 "Add the docker support for the installer"
## What is the motivation for adding / enhancing this feature?

We're able to run the Vue Storefront + Vue Storefront API solely using docker. No other requirements.
So, would be great to add the installer option to run it using docker - without the classical workflow.

To be honest, it's even simpler than current workflow. We just need to:
- clone vue-storefront
- run yarn install; yarn installer

[2018-10-10 11:10] Cyclonecode opened #1844 "Remove all references to imagemagick"
## What is the motivation for adding / enhancing this feature?
Since vue-storefront-api now is using sharp instead of imagemagick all documentation should be updated to reflect this.

## What are the acceptance criteria
- All documentation needs to be updated by removing all previous references to imagemagick.

# Can you complete this feature request by yourself?
Yes.

## Additional information

[2018-10-10 12:12] pkarw commented on #1844
Let's do this! :)

[2018-10-10 12:14] cmeyertons opened #1845 "Current docker / debugging architecture"
## Current behavior
Currently, no source files are passed into the docker image, even for production, which does not allow the docker image to be self-sufficient (build once run anywhere).  It relies on the built packages being mapped to volume mounts, even in production

## Expected behavior
The debugging behavior should be encapsulated in the docker-compose.yml like the Microsoft VS code Node de

[2018-10-10 14:30] #1844 closed

[2018-10-11 11:00] cmeyertons commented on #1810
hello, I ended up getting this set up using the [vs code docs](https://github.com/Microsoft/vscode-recipes/tree/master/Docker-TypeScript) for the API project.

I'm going to create a PR against the api project and will reference this issue

[2018-10-11 14:14] pkarw commented on #1769
This should be still solved on the extension level. Now the vs-api extensions can hardly add new entity types - and they should

[2018-10-11 20:31] jonlee90 commented on #307
Hey guys!
I was wondering what the progress is for the woocommerce adapter and if you guys need any help on this.

[2018-10-11 21:31] patzick opened #1851 "[BUG] No validation while filling forms with keyboard"
## Current behavior
I've tried to fill checkout form with keyboard and discovered a situation, where i can place an order without filling any of form fields.  Current `ButtonFull` component is disabled only by css class. It disallows to click on them, but does not disallow focusing and invoking them.

## Expected behavior
Disallow to go on next step or accept form when form is invalid and button i

[2018-10-12 09:15] jahvi commented on #830
I'd like to give this one a go if that's ok

[2018-10-12 09:55] pkarw commented on #830
Sure, please propose sth :)

[2018-10-12 10:08] #1851 closed

[2018-10-12 14:18] Yoann-Vie commented on #1769
I did a [PR](https://github.com/DivanteLtd/vue-storefront-api/pull/131) on vs-api to allow the graphQL custom entities creation from extension level

[2018-10-13 08:14] zadigus opened #1858 "Serving static assets"
Hi,

I read your [production setup documentation](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Production%20setup%20(WIP).md) and stumbled upon this:

	location /assets/ {
		proxy_pass http://localhost:3000/assets/;
	}

"The same module is used for providing user with the static assets. Assets will be available under: https://prod.vuestorefront.io/assets."

I think you want to opti

[2018-10-13 08:44] jahvi commented on #830
I'm giving this a go at #1859, any feedback is appreciated 🙂

[2018-10-13 11:11] lorenaramonda commented on #1805
I would like to fix this @pkarw but I see that in the .eslintrc.js your restrict the import of lodash
`'no-restricted-imports': [2, { 'paths': ['lodash'] }],`
which is instead needed to provide backward compatibility with old JS browsers.

Do you know why this restriction has been added and I can eventually remove it?

[2018-10-13 12:03] lorenaramonda commented on #1805
mmh maybe with this 🤔
`import _ from 'lodash-es/lodash'`

[2018-10-13 13:16] pkarw commented on #1805
This restrictioj should be there. You should import just the modules from lodash-Es that are required. For example lodash-es/merge etc

[2018-10-14 17:39] patzick opened #1860 "e2e tests failing"
## Current behavior
e2e tests are failing and currently there is no build step which runs tests. User in PR declares that tests are passing so it's hard to detect which PR breaks them.

## Expected behavior
e2e tests ends witch success. User in PR doesn't have to declare e2e tests state but after creating PR travis checks it automatically. Breaking e2e tests disallows to merge PR.

## Steps to rep

[2018-10-15 05:05] BorisZhuang opened #1863 "Error 500 when trying to visit localhost:3000"
I was just following the installation guide `https://divanteltd.github.io/vue-storefront/guide/installation/linux-mac.html#requirements`, and installation process finished successfully, but error 5000 showing up when I access `http://localhost:3000`, no log in the console, no clue what's going on.
I was on Mac and used `https://demo.vuestorefront.io` as the backend.

[2018-10-15 05:13] BorisZhuang commented on #1863
[vue-storefront.log](https://github.com/DivanteLtd/vue-storefront/files/2477465/vue-storefront.log)
here is the vue-storefront.log, not sure if it's helpful.

[2018-10-15 09:13] patzick opened #1864 "Simplify ProductBundleOptions component"
## What is the motivation for adding / enhancing this feature?
ProductBundleOptions has too complex logic. This broke e2e tests lately.
Example:
https://github.com/DivanteLtd/vue-storefront/blob/868cd8f2926de0b34ab90083c5afce7133016c7e/src/themes/default/components/core/ProductBundleOptions.vue#L31

## What are the acceptance criteria
- [ ] each option should be a separate component
- [ ] avoid co

[2018-10-15 19:21] ghenry opened #1866 "Integration with an existing Vue.js SPA for cart or nuxt.js"
Hi all,

I'd thought I'd ask here as I go no response on slack, but can add cart/checkout option be added using vue-storefront into an existing Vue.js SPA or say nuxt.js? I have loads of examples in various Vue.js books to add a simple card and checkout function but didn't want to lose out on this lovely project.

Thanks,
Gavin.

[2018-10-17 11:49] pkarw commented on #1866
You can try to use the `@vue-storefront-store` package separately from the project - the only required dependencies then are Vue and Vuex; so Yes - it should theoretically work in Nuxt; however nobody has tried it before :D

[2018-10-17 11:54] #1842 closed

[2018-10-17 11:57] pkarw commented on #1858
Yes, You can introduce this optimization  but since nginx/varnish can use the caching strategy for serving static assets the question is if it makes any sens? I mean - `/assets` is used in dev. mode - and therefore it's a straightforward way to use the same url structure in prod. You can add this note to the production docs, not a problem - please just create a PR

[2018-10-17 11:57] #1858 closed

[2018-10-17 11:57] #1860 closed

[2018-10-17 12:12] Cyclonecode commented on #1843
I can fix this.

[2018-10-17 12:19] filrak commented on #1866
@ghenry tbh It would be much easier to integrate existing app into VS than doing it from the other side

[2018-10-18 10:40] filrak opened #1871 "Create order module / offline-order module tweaks"
## What is the motivation for adding / enhancing this feature?

Along with refactoring to modules we are cleaning and organising VS logic. logic responsible for placing orders is splitted across whole application and . based on events. We should move to standard vuex-based approach which will make order handling easier to debug and extend.

## What are the acceptance criteria

- All logic related

[2018-10-19 17:48] jimcreate78 commented on #1258
I have never been able to get region or regionId to pass to the api.  Had something been changed to make this not work?

[2018-10-19 22:07] Cyclonecode commented on #1843
@pkarw - Looking at the installer right now it seems like we both are starting the docker container and running the dev environment using `nohup npm run dev`? Shouldn't `docker-compose up -d` only be called if we're not running the api using `npm` or am I missing something here?

[code]

[2018-10-20 03:31] jimcreate78 commented on #1258
I was able to get this working

[2018-10-21 07:37] zadigus opened #1876 "Advice to integrate a theme developped with the quasar framework?"
Hi,
We are willing to develop our frontend application with the [quasar framework ](https://quasar-framework.org/). Do you have any advice for us to be successful? What are the necessary conditions for a vue-storefront theme to work?
Cheers

[2018-10-21 08:05] zadigus commented on #1876
Also, would it be possible to use your pure core library (i.e. the calls to vue-storefront-api / magento) in a frontend we would develop with quasar? I mean we might not want to build our frontend app with the webpack config you provided, it depends how we can integrate quasar in there. We are currently trying to evaluate all that, so any advice is good for us to take from you guys.

[2018-10-21 09:28] filrak opened #1877 "Move logic from client/app entrys to beforeRegistration/afterRegistration hooks in corresponding modules"
## What is the motivation for adding / enhancing this feature?

With some of the early modules in place we can start moving module-related logic from entry files into the modules themeseklves to have better encapsulation and separation of concerns across project. By this module-related logic i mean
- vuex calls like this:
[code]
- event bus listeners like this:
[code]
-- everything else that I may

[2018-10-21 10:25] filrak opened #1878 "Create Notification Module"
## What is the motivation for adding / enhancing this feature?
Notification module should provide
- Vuex store responsible for adding/removing notifications
- core component with ability to list current notifications (just a simple getter will do the job)

## What are the acceptance criteria

- abstract the notification object, pass the action() as a callback instead of mapoing it through string
-

[2018-10-21 11:17] filrak commented on #1871
@mercs600 it may eb related to https://github.com/DivanteLtd/vue-storefront/issues/1877 so please contact with @akbarik and decide who will do what ;)

[2018-10-22 07:46] filrak commented on #1871
@

[2018-10-22 07:55] pkarw commented on #1843
Yes, You should run `docker-compose up -d` in the `vue-storefront`. In the `vue-storefront-api` - when local backend has been selected - You need to run

`docker-compose -f docker-compose.yml -f docker-compose.nodejs.yml up -d`

Please note, that in case running the Dockerized app You need to modify the restore/migrate calls to:

[code]

Details:
https://divanteltd.github.io/vue-storefront/guide/i

[2018-10-22 09:34] phronesis commented on #307
Hi @jonlee90, was on a vacation last week. Started preliminary work on the extension by following the procedure outlined here: https://github.com/DivanteLtd/vue-storefront-integration-boilerplate. Will share the link to the repo where I'll be pushing the source code to, so I could get early feedback.
By Friday this week, I should have something substantial.

[2018-10-22 10:17] #932 closed

[2018-10-22 12:15] benxh1995 commented on #1541
The path `media/catalog/product/` should be renamed to `pub/media/catalog/product/`.

This is the solution that works for me in my tests.

[2018-10-22 13:48] pkarw commented on #1876
Hi! It can be pretty hard as nobody yet tried to do so. You can very easily get the idea how vs-api works reading our docs: https://github.com/DivanteLtd/vue-storefront-integration-boilerplate/blob/master/1. Expose the API endpoints required by VS/Required API specification.md

there is a module @vue-storefront/store which is just a vuex implementation of the vsapi calls; theorethicalyl You could

[2018-10-23 05:31] Ananth747 commented on #1794
@pkarw Order cannot be placed on demo host: https://demo.vuestorefront.io/
**Request URL:** https://demo.vuestorefront.io/api/order
**Response:**
[code]

[2018-10-23 07:15] #1239 closed

[2018-10-23 07:28] pkarw commented on #1726
Related to #1692

[2018-10-23 09:22] #1493 closed

[2018-10-23 20:01] stefanobrambilla84 opened #1894 "CmsBlock or CmsPage are not ssr"
## Current behavior
Itry to load cmsBlock in homepage by magento2-cms extencions, but the block is load after page loaded.
i load the cms block by this:
 `<cms-data :identifier="'custom-block'" :type="'Block'"/>`

## Expected behavior
I want load cms block by ssr

[2018-10-24 07:29] filrak commented on #1864
Feel free to do this, thanks!

[2018-10-24 07:32] filrak commented on #1863
From the log it looks like everything is fine. Which OS do you have? Do you use `yarn dev` cmd to set . up vs?

[2018-10-24 07:35] pkarw commented on #1894
Related to #1792

[2018-10-24 07:45] stefanobrambilla84 commented on #1894
thanks @pkarw and @filrak for maintenance this great job.
Have you a deadline for this issue?

[2018-10-24 09:41] shkodasv commented on #1749
How to load only required languages on the site and avoid loading all available files from core/i18n/resource/i18n?
<img width="694" alt="langs-prefetch" src="https://user-images.githubusercontent.com/837554/47421643-b3b0cd00-d789-11e8-9dcb-32721df4c1d8.png">

Another thing. After update to 1.3 translations don't work. What are the requirements for them?

My translations are in src/themes/[MYTHEME

[2018-10-24 09:53] filrak commented on #1871
@mercs600 please contact me before doing this. exciting new feature came to vs modules that can make it easier for you :)

[2018-10-24 11:43] allozaur commented on #1863
@filrak @pkarw this issue actually occured also in my case when installing the VSF on Debian 9.5 (DigitalOcean) yesterday

https://vsf.colorshakestore.com here you can see it live

[2018-10-24 11:48] janmyszkier commented on #1863
@BorisZhuang
steps to debug:
1. check webserver error log
2. check pm2 logs
3. check is all services are running (i.e elasticsearch) and are responding to requests

[2018-10-25 09:33] pkarw commented on #1794
This was a Redis issue, already fixed on the test env.

[2018-10-25 11:50] #1866 closed

[2018-10-25 12:47] pkarw commented on #1863
Thanks @allozaur and @janmyszkier for helping out in here. Could You add this solution to our FAQ https://github.com/DivanteLtd/vue-storefront/blob/master/doc/FAQ%20and%20Receipes.md?

[2018-10-25 12:47] #1863 closed

[2018-10-25 12:48] pkarw commented on #1843
@Cyclonecode how are things with this task ?Tomorrow's hackathon is a good moment to close it :)

[2018-10-25 12:51] pkarw commented on #1834
We're working on this one. Please do contact us at contributors@vuestorefront.io if You like to get some details on that

[2018-10-25 12:52] pkarw commented on #1769
Thanks @Yoann-Vie can You please write a short doc on how to extend GraphQL both in the vs-api and vs-front?

[2018-10-25 12:53] pkarw commented on #1766
Please take a look at `no-ssr` component -> for example how sliders are placed in the `Home.vue` component; it should be clear how to use it afterwards

[2018-10-25 12:55] #1685 closed

[2018-10-25 17:16] allozaur commented on #1863
@pkarw just waiting for approval :)

[2018-10-26 05:25] filrak opened #1899 "Mailchimp module improvements - check if user is subscribed"
## What is the motivation for adding / enhancing this feature?

Current mailchimp module is very limited in fucntionalities. Basically it allows us to
- sign into newsletter
- sign out from it if we are logged in

Obviously we are missing at least ability to check if logged in user is subscribed to the newsletter (based on it's email).
## What are the acceptance criteria

- extend vue-storefront-a

[2018-10-26 05:28] filrak opened #1900 "Create i18n module"
## What is the motivation for adding / enhancing this feature?

i18n functionality is well encapsulated thanks to efforts fo @DavidRouyer . Now it should be refactored to be VS module responsible for translations.

## What are the acceptance criteria

- Move all i18n business logic from core to i18n module. If something can't be moved write about it in the issue so we can discuss the correct appro

[2018-10-26 05:33] filrak opened #1901 "Create Product module"
## What is the motivation for adding / enhancing this feature?

Refactoring to modules

## What are the acceptance criteria

- Everything related to products that cannot be a standalone feature should be placed in product module

# Can you complete this feature request by yourself?

Yes
## Additional information

[2018-10-26 05:42] filrak opened #1902 "Create Search module"
## What is the motivation for adding / enhancing this feature?

Search module should contain all the business logic responsible for a search feature. If needed task involves refactoring of the current search functionality to simplier, more upgradable (abstraction) API. (use core/components as a facade between new and old API to stay backward compatible, you can find examples of such porting in Mic

[2018-10-26 05:46] filrak opened #1903 "Create Compare module"
## What is the motivation for adding / enhancing this feature?

Refactoring to modules ;)

## What are the acceptance criteria

- Move all compare-related functionality into a VS module.
- Change the API of vuex actions/components if needed to follow module good practices. Use core/components folder as a facade for backward compatibility (you can find examples of such porting in Microcart).

## Ad

[2018-10-26 05:53] filrak opened #1904 "Move important ui-store actions to proper stores in VS modules."
## What is the motivation for adding / enhancing this feature?

Some of the actions currently existing in theme's UI module are used by core components inside modules (liek ones responsible for opening/closing microcart, wishlist). We should move them to proper vuex modules for better encapsualtion. Right now if the folder in theme will be moved/deleted by user core components will stop working wh

[2018-10-26 06:47] filrak opened #1906 "Rewrite extensions to modules."
## What is the motivation for adding / enhancing this feature?

Current extensions system will be depreciated and we will use VS modules for this purpose. This task involves rewriting
## What are the acceptance criteria

Woudl be amazing if extension creators can handle it by themselves
- [x] .droppoint-shipping
- [x] GA
- [ ] magento2-cms ext by @anqaka
- [ ] payment-backend-methods ext by @MikeS

[2018-10-26 09:06] idziakjakub commented on #1806
I'm on it

[2018-10-26 09:40] inpronet commented on #1533
I'm on it

[2018-10-26 09:59] #1489 closed

[2018-10-26 11:02] MikeSheward opened #1907 "Replace demo.vuestorefront.io/api with demo.storefrontcloud.io/api"
There has recently been a change to where the API endpoint should be pointed to, it was previously demo.vuestorefront.io/api but is not changed to demo.storefrontcloud.io/api.

There is currently some backwards compatibility (going to demo.vuestorefront.io/api should route to demo.storefrontcloud.io/api) however, we should start to deprecate/replace instances of demo.vuestorefront.io/api in docume

[2018-10-26 11:47] jablpiotrek opened #1908 "Move Google Analytics from extensions to modules, introduce TS in module"
## What is the motivation for adding / enhancing this feature?
As part of new approach that introduces modularity in VS, we need to start transfering stuff from extensions to new concept - modules. There is general issue for this activity [here](https://github.com/DivanteLtd/vue-storefront/issues/1906)

## What are the acceptance criteria
- get rid off "google-analytics extension"
- create and reg

[2018-10-26 12:32] kruchy8 commented on #1906
payment-cash-on-delivery seems to be unused on latest develop

[2018-10-26 13:44] filrak opened #1913 "Create shipping module"
-

[2018-10-26 14:49] idziakjakub commented on #1710
I'm on it

[2018-10-26 14:59] kruchy8 opened #1918 "Converting droppoint-shipping from extension to module."
## What is the motivation for adding / enhancing this feature?
As part of new approach that introduces modularity in VS, we need to start transfering stuff from extensions to new concept - modules. There is general issue for this activity here

## What are the acceptance criteria
* get rid off "droppoint-shipping" extension
* create and register new module for droppoint-shipping functionality

# C

[2018-10-26 15:02] #1918 closed

[2018-10-26 16:41] bartdominiak opened #1925 "mobile screen header bug"
There is a bug on mobile screen, it shows after deleted duplicated grid styles #1915

<img width="531" alt="zrzut ekranu 2018-10-26 o 18 39 27" src="https://user-images.githubusercontent.com/18058305/47580192-86f9e280-d94e-11e8-9f44-ec8a051c0194.png">

[2018-10-26 19:09] allozaur opened #1928 "Production Setup Build Error"
## Current behavior

After executing

[code]

very often the VSF (Production Setup) compilation log outputs this error

[code]

and then it goes on.

The problem is that the API is not working any more after the build.

## Expected behavior

Proper compilation after executing the build command on Production Setup and servers restart

## Steps to reproduce the issue

Install Vue Storefront on Debia

[2018-10-26 20:12] allozaur commented on #1928
I wouldn't call it a full issue fix, but i have taken steps above and successfully rebuilt Vue Storefront

#### 1. I have updated Node to `v9.11`
#### 2. I have added additional --max_old_space_size=4096 parameter for build scripts in `vue-storefront/package.json`

[code]

[2018-10-26 21:30] wubuyun opened #1929 "how to add line 3 required"
how to add line 3 required - address district (street_3) and vat attribute in checkout?

[2018-10-27 08:32] pkarw opened #1930 "Use clean_logs for logging"
## What is the motivation for adding / enhancing this feature?

With clean_logs we would have not jus nicer looking console logs but also better control over the verbosity levels
https://github.com/pgiani/clean_logs/blob/master/README.md

# Can you complete this feature request by yourself?

Yes

[2018-10-27 13:36] filrak opened #1931 "Delete unused img-placeholder directive"
## What is the motivation for adding / enhancing this feature?

It's redundant since we are using `v-lazy` lib for this behavior

## What are the acceptance criteria

- ...
- ...

# Can you complete this feature request by yourself?

Yes
## Additional information

[2018-10-27 14:13] filrak opened #1933 "Create GraphQL module"
## What is the motivation for adding / enhancing this feature?

We should have all logic related to GraphQL and Apollo client including parts from client entry/app.js inside one module

## What are the acceptance criteria

- all logic related to enabling graphQL support in VS should be in one place
- ...

## Additional information

[2018-10-27 14:13] filrak commented on #1933
@yuriboyko maybe you can take care of this one?

[2018-10-27 14:28] #1933 closed

[2018-10-27 15:05] filrak opened #1935 "Merge core/lib and store/lib folders"
## What is the motivation for adding / enhancing this feature?

Currently we have in-vs libs splitted across two folders. Since `@vue-storefront/store` lib will be depreciated it's a good moment to move all of this features into `core/lib` and delete unncessary ones

## What are the acceptance criteria

- merge `store/lib` and `core/lib` folders
- correct all pathes pointing to old dir
- delete re

[2018-10-27 15:36] filrak opened #1936 "Create user module"
## What is the motivation for adding / enhancing this feature?

Encapsulate user logic in module, correct API

# Can you complete this feature request by yourself?

Yes
## Additional information

[2018-10-27 15:41] filrak commented on #1719
now it's done ^^

[2018-10-27 15:41] #1719 closed

[2018-10-28 02:42] benyang2015 opened #1937 "this project can use to nativescript-vue and create native mobile app?"
## What is the motivation for adding / enhancing this feature?

## What are the acceptance criteria

- ...
- ...

# Can you complete this feature request by yourself?

## Additional information

[2018-10-28 14:46] filrak commented on #1937
Vue Storefront is 100% web-based PWA and I really don't see a reason to use nativscript for it.

Since NS is using it's own APIs and components it's impossible to port existing web application that relies strong on browser APIs into it.

[2018-10-28 14:51] filrak commented on #1925
@bartdominiak can you fix it by yourself? Probably the solution is to add deleted grid style and remove the 2nd one instead.

[2018-10-28 14:55] filrak commented on #1928
@allozaur wouldn't updating `ajv` help? If they are using depreciated node APIs it may be corrected in newest version of plugin. I don't think updating node to v9 is the best solution since the LTS version is 8.x so in theory plugins like `ajv` should be compatible with it

[2018-10-28 14:58] filrak commented on #1929
We are using Vuelidate ( https://github.com/monterail/vuelidate ) in checkout to indicate required fields. You can find solution to your problem in their diocs

[2018-10-28 14:58] #1929 closed

[2018-10-29 08:08] #1937 closed

[2018-10-29 08:08] #1931 closed

[2018-10-29 08:43] bartdominiak commented on #1925
@filrak Yes. Already fixed that in #1941

[2018-10-29 14:43] mishanino commented on #1459
@pkarw, sorting by price still doesn't work https://demo.vuestorefront.io/c/men-11
http://joxi.ru/E2pgGYvS7OLG5m

[2018-10-29 17:04] #1925 closed

[2018-10-30 08:16] PatrickKluwig commented on #307
Hy everyone, are there any news here? :) Sounds really great

[2018-10-30 10:24] #1878 closed, assigned to akbarkz

[2018-10-30 11:25] filrak opened #1944 "Order is not appearing in 'My Orders' after placing"
## Current behavior

1. Place the order while logged in
2. Go to My orders section in profile
3. It doesn't contain placed order (appears after refresh)
## Expected behavior
We should see placed order in our profile. Simply by updating the placed orders vuex store after placing it

## Steps to reproduce the issue

posted above
## Repository

https://demo.vuestorefront.io/
## Enviroment details

-

[2018-10-30 11:28] filrak opened #1945 "Refresh on user profile redirects to home page"
## Current behavior

1. Visit user profile (any section)
2. Refresh
3. You are redirected to home
## Expected behavior

We should stay in the same page we refreshed
## Steps to reproduce the issue

## Repository

https://demo.vuestorefront.io/
## Enviroment details

- Browser:  GH68
- OS:  MacOS HS
- Node:  8.x

## Additional information

[2018-10-30 12:19] pkarw commented on #1945
It's not a bug. SSR is not working well with Account nad we wanted to avoid situation when the user profile is loaded without user being authroized.

[2018-10-30 13:12] filrak commented on #1945
okay, can we have a task to fix this? I can imagine some situations where merchants can have direct links to account in emails etc. We should check if user is authorised in navigation guards and decide on redirects from there

[2018-10-30 14:02] filrak opened #1947 "Base authentication on navigation guards instead of current behavior"
## What is the motivation for adding / enhancing this feature?

Right now we have logic responsible for checking if user is authenticated before entering routes splitted across components. It implies undesired behavior like this ( https://github.com/DivanteLtd/vue-storefront/issues/1945 ), introduces a lot of potential bugs and adds complexity to the project.

Moreover we will always redirect to h

[2018-10-30 15:49] Yoann-Vie commented on #1769
Yes I could work on it 🙂which format do you want ? do you want a Readme file in a specific location on both projects ?

For the vs-api part I have already do a simple example in my [PR](https://github.com/DivanteLtd/vue-storefront-api/pull/131) description, do you think some details are missing ?

[2018-10-30 23:19] szafran89 opened #1951 "Enable eslint order-in-components for vue components and fix current state"
## What is the motivation for adding / enhancing this feature?
We should follow recommended rules https://vuejs.org/v2/style-guide/#Component-instance-options-order-recommended. Once we provide correct order we can easier/faster work with vue components.

## What are the acceptance criteria
- provide recommended order

# Can you complete this feature request by yourself?
YES

## Additional informa

[2018-10-31 09:30] Bek81 commented on #843
Hi all,
are there any news regarding the connector with Shopify?

Thanks a lot.

[2018-10-31 09:41] DavidRouyer commented on #1928
You didn't have enough RAM on your VM. Also, don't use node.js versions with odd numbers, they are unstable releases. node.js 10 is the LTS version now.

[2018-10-31 14:02] wubuyun opened #1952 "Possible to use my project in vue?"
Possible to use my project in vue?
demo： http://demo.fancyecommerce.com
api: http://www.fecshop.com/doc/fecshop-guide/develop/cn-1.0/guide-fecshop-server.html

[2018-10-31 14:22] filrak commented on #1952
FOr sure. You just need an API integration https://github.com/DivanteLtd/vue-storefront-integration-boilerplate

[2018-10-31 14:27] wubuyun commented on #1952
project with mongo, possible direct adaptation?

[2018-10-31 16:03] pkarw commented on #1769
Great! Please just add a short doc into /doc folder and let know when it’s done to @NataliaTepluhina who’s our technical writer in charge of overall docs :) thanks!

[2018-10-31 16:39] #1662 closed

[2018-11-01 03:34] #1952 closed

[2018-11-01 05:12] jacintoo commented on #802
I have similar issue, and docker is installed on a fresh ubuntu server. You'll need to add yourself in the group:
sudo usermod -a -G docker <you>

and re-login.

[2018-11-01 08:58] EsteraVendic commented on #1459
@pkarw Can you check again?

1. Go to https://demo.vuestorefront.io/c/men-11
2. Sort on price lowest
3. Check prices

Result:
![image](https://user-images.githubusercontent.com/30499229/47842313-9e0c5a80-ddbc-11e8-9d97-27b01edb5078.png)

[2018-11-01 10:45] pkarw commented on #1459
Ok, this needs to be checked on freshly imported database

[2018-11-01 18:31] ngeleedst commented on #1226
@pkarw any news about this, please see my last question?

[2018-11-02 02:09] #1667 closed

[2018-11-02 02:10] wubuyun opened #1953 "mail-service"
after completing the purchase, I do not receive email,
api
    "mailService": {
      "transport": {
        "host": "smtp.gmail.com",
        "port": 465,
        "secure": true,
        "user": "yanz9999@gmail.com",
        "pass": "######"
      },
      "targetAddressWhitelist": ["yanz9999@gmail.com"],
      "secretString": "__THIS_IS_SO_SECRET__"
    }
  },

VS
    "mailer": {
      "endpoint

[2018-11-02 02:12] wubuyun commented on #1953
465 or 587 port?

Outgoing Mail (SMTP) Server |
 smtp.gmail.com
Requires SSL: Yes
Requires TLS: Yes (if available)
Requires Authentication: Yes
Port for SSL: 465
Port for TLS/STARTTLS: 587
-- | --

[2018-11-02 08:03] akbarik commented on #1953
@wubuyun your mail transport settings look fine.
Can you please tell what kind of notification do you get after sending the feedback? And also what are the console logs?

[2018-11-02 11:52] pkarw commented on #1226
Hi Nick, could you please add ticket for this feature requests? It require us to modify how product/single action works to find product by url_key either add a url_key to sku mapper

[2018-11-03 04:07] wubuyun commented on #1953
![default](https://user-images.githubusercontent.com/35350235/47947913-cbfcb680-df04-11e8-9602-79654bdcaaa1.jpg)

[2018-11-03 05:43] wubuyun commented on #1953
mailService transport can  use Port for TLS/STARTTLS: 587 ?

[2018-11-03 08:53] akbarik commented on #1953
yes, you can use any mail transport. Looking at the console log, I don't see any errors there. Can you then send me the screenshot of the Network tab? Also, you know that mail is sent after you press "Give a feedback" button, right? Just to make sure.

[2018-11-03 16:42] wubuyun commented on #1953
Source email address is invalid

index.ts:15 POST https://www.xxx.com.br/api/ext/mail-service/send-email 500
(anonymous) @ index.ts:15
Promise.then (async)
(anonymous) @ index.ts:13
sendEmail @ index.ts:10
(anonymous) @ vuex.esm.js:704
l.dispatch @ vuex.esm.js:426
dispatch @ vuex.esm.js:332
sendEmail @ EmailForm.ts:12
sendFeedback @ ThankYouPage.vue:109
submit @ ThankYouPage.vue?cd44:1
t @ vue.run

[2018-11-03 18:11] akbarik commented on #1953
Alright, the error message you're getting says the email address you specified at Checkout form is invalid. Are you sure you put there a valid address?

[2018-11-04 00:32] wubuyun commented on #1953
email address  Checkout form, What is the configuration path?

[2018-11-04 10:46] filrak opened #1956 "Create module boilerplate"
## What is the motivation for adding / enhancing this feature?

we should have module boilerplate as a separtae repo with instruictions on how to test it, install locally and publish

# Can you complete this feature request by yourself?

Yes, till the end of next week it'll be ready
## Additional information

[2018-11-05 01:20] wubuyun commented on #1953
valid email address yes..other email too

[2018-11-05 01:46] wubuyun commented on #1953
Using Gmail
Even though Gmail is the fastest way to get started with sending emails, it is by no means a preferable solution unless you are using OAuth2 authentication. Gmail expects the user to be an actual user not a robot so it runs a lot of heuristics for every login attempt and blocks anything that looks suspicious to defend the user from account hijacking attempts. For example you might run

[2018-11-05 03:20] wubuyun commented on #1953
erro too

![default](https://user-images.githubusercontent.com/35350235/47976310-faab9600-e098-11e8-97a1-9c8cd5cd7c3b.jpg)

[2018-11-05 09:07] filrak commented on #1951
From one side I'd say it will make components more readable BUT  I also think it will just complicate peoples life and make them deal with countless eslint errors responsible only for reordering components logic. I just don't think this small enhancement is work dealing with all of this .

If it would be my internal company project I would say yes but for open source I'm against. I'm keeping issue

[2018-11-05 10:23] filrak opened #1957 "Move VSModules to separate npm package (create @vue-storefront/module package)"
## What is the motivation for adding / enhancing this feature?

We should have functionality required for VSModules to work as a separate NPM package. It'll make it much easier to create VS modules as a separate npm packages ( https://github.com/DivanteLtd/vue-storefront/issues/1956)

# Can you complete this feature request by yourself?

Yes
## Additional information

[2018-11-05 14:54] mishanino commented on #1383
@pkarw, it doesn't work anymore (VS 1.5), I added "description" and "short_description" in the local.json
`"category": {
        "includeFields": [ "children_data", "description", "short_description", "id", "children_count", "sku", "name", "is_active", "parent_id", "level", "url_key", "product_count", "path"]
      }`
but I don't see this data in component or in vuex

[2018-11-05 14:58] pkarw commented on #1383
You probably need to run the category importer with `--extendCategories=true`:
https://github.com/DivanteLtd/mage2vuestorefront/blob/master/src/test_categoryextended.sh

[2018-11-05 15:02] mishanino commented on #1383
@pkarw, thank you, will try

[2018-11-05 15:58] filrak commented on #1957
Done :)

[2018-11-05 15:58] filrak commented on #1957
Done :)

[2018-11-05 15:58] #1957 closed

[2018-11-05 20:48] pkarw opened #1960 "Add api2cart support for Vue Storefront"
## What is the motivation for adding / enhancing this feature?

With the https://api2cart.com support Vue Storefront will support the following platforms:
https://api2cart.com/supported-platforms/

- Shopify,
- Demandware,
- ...

[2018-11-06 10:48] filrak opened #1961 "Lazy load non-ssr pages"
## What is the motivation for adding / enhancing this feature?

Just for performance ;)

## What are the acceptance criteria

- ...
- ...

# Can you complete this feature request by yourself?

## Additional information

[2018-11-06 11:00] #1961 closed

[2018-11-06 12:50] filrak opened #1962 "Lazy load SSR-based pages"
## What is the motivation for adding / enhancing this feature?

## What are the acceptance criteria

- ...
- ...

# Can you complete this feature request by yourself?

## Additional information

[2018-11-06 12:50] #1962 closed

[2018-11-06 16:25] Yoann-Vie commented on #1769
@NataliaTepluhina the doc was added :) @pkarw I made a PR for it

[2018-11-06 17:57] wubuyun commented on #1953
magento is ok..

![capturar](https://user-images.githubusercontent.com/35350235/48083547-91cd3680-e1dc-11e8-8e7c-566b2a38a5d7.PNG)

[2018-11-06 22:15] pkarw opened #1965 "Create PHP based version of vue-storefront-api"
## What is the motivation for adding / enhancing this feature?

From the feedback we got it seems that the Node.js backend API layer could be a barrier, especially for experienced M2 PHP developers who would like to keep all the API methods closely to Magento and with single technology.

The idea is to create a native Magento2 module like https://github.com/DivanteLtd/magento1-vsbridge which will

[2018-11-07 00:19] bitbager commented on #1965
That would be just more than great for a quick kickstart, although I think that in long term it'd make the API management a little bit complicated. Chances are this bridge would follow specific codestyle & design and maintaining an API and connector instead of a single simple API would be tough. IMHO a perfect approach would be to provide a lite package with simple models, interfaces & factories,

[2018-11-07 05:45] #1953 closed

[2018-11-07 08:07] janmyszkier commented on #1965
IMO this is not necessary and not needed.

If you decide to develop vueSF (as in vueJS), you probably know node already (you should).
If you know only PHP, you won't be able to develop vueSF store easily anyway.

API app/module is not needed for anything but VueSF. If someone doesn't need vueSF (and then, he is supposed to know node) then why would PHP-based API help him at all? to install API bac

[2018-11-07 08:09] filrak opened #1966 "Replace he.js with smaller equivalent"
## What is the motivation for adding / enhancing this feature?

he.js is taking a lot of space in our vendor bundle yet doing pretty simple task. We should replace it with smaller lib to have smaller bundles.
![image](https://user-images.githubusercontent.com/15185752/48118417-7c075200-e26c-11e8-85fb-fac6fd693963.png)

It's used in
`core/store/lib/filters.ts` and `core/filters/html-decode/index.js

[2018-11-07 08:11] filrak opened #1967 "Replace object_hash.js with smaller equivalent"
## What is the motivation for adding / enhancing this feature?

object_hash.js is taking a lot of space in our vendor bundle yet doing pretty simple task. We should replace it with smaller lib to have smaller bundles.
![image](https://user-images.githubusercontent.com/15185752/48118644-22535780-e26d-11e8-90e9-d027e53dbc09.png)

## What are the acceptance criteria

- Replace object_hash.js with sma

[2018-11-07 08:15] #1945 closed

[2018-11-07 11:46] #1928 closed

[2018-11-07 11:46] #1876 closed

[2018-11-07 11:49] pkarw commented on #1894
@ngeleedst this is right approach (to use Elastic). Please do consider https://github.com/DivanteLtd/vue-storefront/issues/1792 - the intention was to centralize the data loading process like You can include 2-5 CMS widgets on the page and call sth like `store.dispatch('dataloader/addToQueue', this.loadCMSData(12))` - and then in the `asyncData` to have sth like `store.dispatch('dataloader/runQueu

[2018-11-07 11:51] goodforever opened #1968 "Something went wrong..."
## Current behavior
After run api and migrate data
docker-compose up  vue-storefront
visit localhost:3000
got error
app_1  | Error during render : /
app_1  | Error: request to http://localhost:8080/api/catalog/vue_storefront_catalog/category/_search?size=4000&from=0&sort=position%3Aasc&_source_include=children_data%2Cid%2Cchildren_count%2Csku%2Cname%2Cis_active%2Cparent_id%2Clevel%2Curl_key%2Cprod

[2018-11-07 11:53] pkarw commented on #1968
IT seems like vue-storefront-api is not running, please run `yarn dev` in its folder

[2018-11-07 11:53] #1968 closed

[2018-11-07 14:03] yuriboyko commented on #1894
@ngeleedst @pkarw
Our team currently are working on the CMS content. But we are applying completely new functionality to work with CMS content data(pages, blocks, hierarchy) with saving data to Elasticsearch.
CMS pages actually almost done (with using SSR). Once it will be finished we will develop functionality for blocks  and hierarchy as well.

[2018-11-07 14:19] pkarw commented on #1894
@yuriboyko perfect! and the data loader? :)

[2018-11-07 18:17] DavidRouyer opened #1970 "Upgrade to node 10"
https://nodejs.org/ Node 10 is the new LTS version

[2018-11-07 23:04] szafran89 commented on #1951
IMO it would be great to do this and get feedback from contributors (it's fine or wrong). It's not big deal to disable this option again. Of course it will work only for theme b/c in core we have js files instead of vue. In this case our scripts section is not so long (in most cases a few lines). So we should avoid countless eslint errors ;)

[2018-11-08 02:50] goodforever commented on #1968
vue-storefront-api is running.

curl -i   http://localhost:8080/api/catalog/vue_storefront_catalog/category/_search?size=4000&from=0&sort=position%3Aasc&_source_include=children_data%2Cid%2Cchildren_count%2Csku%2Cname%2Cis_active%2Cparent_id%2Clevel%2Curl_key%2Cproduct_count%2Cpath
can get  data list successfully.
And when it's "Something went wrong ...
We've noticed Internal Server Error while re

[2018-11-08 12:20] Esteraa opened #1972 "Sale price is not shown on category page + product page"
## Current behavior

1. Go to https://demo.vuestorefront.io/c/men-11
2. Check price first product
3. Click on first product
4. Go back to category
5. Sale price is shown on category page
6. Click on same product
7. Sale price is not shown on product page

## Expected behavior

1. Show sale price on category page without clicking on the product first
2. Show sale price on product page

## Steps to

[2018-11-08 12:56] goodforever opened #1973 "Error can be repeated"
After run api and migrate data
docker-compose up vue-storefront
visit localhost:3000
I got error on homepage ,
"Something went wrong ...
We've noticed Internal Server Error while rendering this request"
 Then I press home page button (icon button at centre  ) can load all products successfully.
this error  can be  repeated .
I check log  is

app_1 | Error during render : /
app_1 | Error: request t

[2018-11-08 14:36] pkarw commented on #1973
`reason: connect ECONNREFUSED 127.0.0.1:8080` means that Your vue-storefront app can not fetch data from vue-storefront-api

[2018-11-08 14:40] pkarw commented on #1972
This is probably because we're not processing properly `product.configurable_children.price` either `product.configurable_children.special_price` in the list request. However the data is being progressively loaded on the product page - and thereof the special price (which in this case is assigned just to one of the `configurable_children`) start being available.

You can start by adding price fiel

[2018-11-08 14:41] pkarw commented on #1805
Hi @lorenaramonda, how are You? :) And how is this issue? :)

[2018-11-08 15:03] lorenaramonda commented on #1805
Hi Piotr, I tried some fixes but while two changes worked well in old versions of VS, for this one more fixes must be done, probably something like replacing native js function with lodash to keep old iOS version compatibility and I wonder if you’re interesting in this :)

[2018-11-08 15:24] DavidRouyer opened #1974 "Vue CLI integration"
For now, the idea is to create a Vue CLI plugin which will automate the integration of Vue Storefront into an existing Vue CLI 3 project. (we'll think about nuxt.js later)
That way, we don't need to write a opinionated boilerplate (or multiple boilerplates), we can directly adapt to the user settings.

Steps to simplify the work:

- [ ] Replace [serviceworker-webpack-plugin with Workbox](https://g

[2018-11-08 15:48] filrak commented on #1974
_Find a solution for not having to make a specific Webpack workflow for the service worker (https://github.com/DivanteLtd/vue-storefront/blob/master/core/service-worker/index.js) (Imports are the problem here)_
I believe vue-cli itself will handle the problem since their pwa plugin is generating service worker with based on workbox config. This config can accept external service worker src which w

[2018-11-08 17:09] pkarw commented on #1805
For Sure we are maybe You just create a PR and we’ll discuas the changes one by one there?

[2018-11-08 17:09] pkarw commented on #1805
Please just use lodash-es at only Es version supports tree shaking

[2018-11-08 22:00] DavidRouyer commented on #1966
Maybe https://github.com/emn178/js-sha3

[2018-11-08 22:00] DavidRouyer commented on #1967
Maybe https://github.com/emn178/js-sha3

[2018-11-08 22:08] DavidRouyer commented on #1966
Maybe https://lodash.com/docs/4.17.11#unescape can suffice? Need testing

[2018-11-08 23:28] lorenaramonda commented on #1805
Yes, of course. Now I’m abroad on vacation and far away from computer but I will do that when back home next week 👌

[2018-11-09 03:30] goodforever commented on #1973
@pkarw Thanks !  Do you think what case cause this error ?

[2018-11-09 07:51] pkarw commented on #1974
We're all crossing fingers for this feature 🤝 🤞🤞

[2018-11-09 08:08] filrak commented on #1966
Would be great since we already have lodash

[2018-11-09 08:13] filrak commented on #1974
Ok i believe with mine and @NataliaTepluhina help we will be able to do it ;)

[2018-11-09 08:43] goodforever commented on #1973
@pkarw Yes, I use docker-compose to run  front and back .

[2018-11-09 08:44] pkarw commented on #1973
Maybe @pszreder would be able to help You with this? I'm not so experienced with docker to be honest

[2018-11-09 09:03] goodforever commented on #1973
@pkarw Thanks !  maybe,  I know what happened , front maybe dial 127.0.0.1 inside container.

[2018-11-09 09:35] goodforever commented on #1973
@pkarw It's true

[2018-11-09 10:06] pkarw commented on #1972
Fixed

[2018-11-09 10:06] #1972 closed

[2018-11-09 10:40] pkarw commented on #1965
@kesonno got your point. Probably this is sth @bitbager is trying to achieve - abstract Symfony2 based API where You can add any platform connector.

For me it's a perfect solution - hoping @bitbager will implement it. Then having this abstract PHP proxy sbd. can just add Magento2 ORM calls and that's it!

[2018-11-09 10:42] bitbager commented on #1965
Starting with tomorrow: https://github.com/BitBagCommerce/VueStorefrontPhpBridge 😎

[2018-11-09 11:23] pkarw opened #1975 "Attributes should be loaded per product"
## What is the motivation for adding / enhancing this feature?

Currently, on the product page, we're loading all custom defined attributes. We're using attributes for the product options as well. IN some platforms like BigCommerce each product could have different attributes for options defined and this will end up with huge number of unique attributes.

We should be fetching the attributes meta

[2018-11-09 11:34] #1973 closed

[2018-11-09 14:07] filrak commented on #1975
probably it will also enable configurable options on product tiles

[2018-11-09 14:15] szafran89 opened #1977 "Failed `yarn check --integrity` command"
## Current behavior
There are errors once I run `yarn check --integrity`

## Expected behavior
Success status.

## Steps to reproduce the issue
`yarn check --integrity`

# Can you handle fixing this bug by yourself?
YES

## Enviroment details
- OS: 10.14
- Node: 8.11.4

[2018-11-09 14:32] #1977 closed

[2018-11-09 14:32] #1936 closed

[2018-11-09 14:32] #1901 closed

[2018-11-09 14:33] #1903 closed

[2018-11-10 03:09] wubuyun opened #1979 "use redis password"
"redis": {
      "host": "localhost",
      "port": 6379,
     "password": xxxxx,
      "db": 0
    },

is correct ?

[2018-11-10 04:45] wubuyun commented on #1979
{ ReplyError: Ready check failed: NOAUTH Authentication required.
    at parseError (/var/www/html/api/node_modules/redis-parser/lib/parser.js:193:12)
    at parseType (/var/www/html/api/node_modules/redis-parser/lib/parser.js:303:14) command: 'INFO', code: 'NOAUTH' }

[2018-11-10 06:40] #1979 closed

[2018-11-10 06:41] wubuyun opened #1980 "Gmail config Error.."
/api/ext/mail-service/send-email 500 (Internal Server Error)

[2018-11-10 12:11] #1464 closed

[2018-11-10 12:12] pkarw commented on #1980
@akbarik could you please help with that one?

[2018-11-10 15:33] DavidRouyer commented on #1966
It won't work since there is too many HTML entities to take into account. Can't we just return decoded strings?

[2018-11-10 15:58] wubuyun commented on #1980
already tried several ways and nothing solves, test Gmail in magento works

[2018-11-12 12:23] 4romanchuk opened #1986 "Problems with hot reload"
1, I ran project by 'yarn dev'
2. After adding some changes nothing is changed, and only after reuse 'yarn dev'
I've seen new changes.

_How enable hot reload in this project?_

[2018-11-12 15:28] anqaka opened #1987 "Move cms-extenstion to ts module with es & graphql support"
## What is the motivation for adding / enhancing this feature?
related to #1906
instead of fetching data using REST Magento API, I extend the adapter in mage2storefront to put magent cms data into elasticsearch and get the data on vue-storefront using graphql

## What are the acceptance criteria
- adapter for blocks & page in mage2vuestorefront
- graphql support in vue-storefront-api

# Can you co

[2018-11-13 00:17] #1980 closed

[2018-11-14 09:35] Stolr commented on #1845
+1 on this

[2018-11-14 09:40] pkarw commented on #1986
It should work just fine. Typically the recompile/reload cycle takes about 30s

[2018-11-14 09:42] pkarw opened #1990 "PoC of localForage replacement"
## What is the motivation for adding / enhancing this feature?

We do encouter some problems with indexedDB (for example when few instances of vue storefront are open in different tabs). Would be awesome to test some other library (like https://github.com/gruns/irondb/blob/master/README.md)?

We're just needing `set`, `get` and `iterate` (easy to simulate using set and get) to port the `storage.ts

[2018-11-14 11:39] DavidRouyer commented on #1990
With localForage you can select the database engine you want to use (localStorage, Indexed DB...) Take a look at the setDriver API in the docs https://localforage.github.io/localForage/

[2018-11-14 12:12] pkarw commented on #1990
Of course. The problem is that for caching we must use indexedDb because no other storage driver offers such quotas

[2018-11-14 12:19] DavidRouyer commented on #1990
So the problem will be the same with another solution since they use the same technologies!

[2018-11-14 12:42] DavidRouyer commented on #1986
Which version? Are you on the develop branch?

[2018-11-14 13:54] pkarw commented on #1970
@DavidRouyer what do You mean by upgrade? I mean - it works just fine with Node 10 and our reqs are:  `"node": ">=8.x <11.x"` - and it covers 10x :-)

[2018-11-14 13:54] #1966 closed

[2018-11-14 13:54] #1967 closed

[2018-11-14 13:56] DavidRouyer commented on #1970
I'll allow 11.x and update our Docker images

[2018-11-14 13:57] pkarw commented on #1970
Could You take care of this task?

[2018-11-14 14:06] DavidRouyer commented on #1970
Yes, shouldn't be a big deal

[2018-11-14 14:32] filrak commented on #1990
Aparat from this. We should have dedicated mechsnism only for caching catalog no matter what lib it Will use and use local storage (native one) for everything else. Right now we have too much unncesessary abstraction on top of it

[2018-11-14 14:43] DavidRouyer commented on #1990
The localStorage API is quite nice but it has a lot of restrictions too

[2018-11-14 16:30] filrak commented on #1986
@4romanchuk check if you have Service Worker running, it may cause problems like this. if you have latest develop then it's not included in `yarn dev` command but it was for some versions before. Also changes at config are behaving defferently.

[2018-11-15 08:46] filrak commented on #1965
@kesonno sounds like a great approach! With architecture like this it'll be much easier to integrate diffeernt services responsible for different functionalities (e.g. using something else than magento for shopping cart). I agree that this is a way to go ;)

[2018-11-15 13:40] filrak commented on #1266
@pkarw yeah right but there is a little bit more libs like this

[2018-11-15 16:44] filrak opened #1994 "New caching mechnism with config for product catalog"
## What is the motivation for adding / enhancing this feature?

Right now our product caching mechnism cant be customized and we are unable to allow developers to use it's full power ;) since being fast and offline-ready is one  of our key values i believe we can have a neat caching mechanism that can be easly customised and adjusted to clients needs.

Few thigh that should be able to configure in

[2018-11-15 17:24] filrak opened #1995 "Use native local storage API instead of our drivers for everything except the catalog"
## What is the motivation for adding / enhancing this feature?

Like in the title ;). We don't need our complicated caching mechanisms for this
## What are the acceptance criteria

- ...
- ...

# Can you complete this feature request by yourself?

Yes

## Additional information

[2018-11-15 22:42] danrcoull opened #1996 "CMS Extension Issue"
## Current behavior
A issue with the cms extension as getters are triggering before the data is returned and have no access to the state, so just throws exceptions.

" Error in render: "TypeError: state.cmsPage is undefined"" but also the data returns yet the catch stated "install the module" is always triggered even when that module is isntalled,  but whats even strangers is the json exists , and

[2018-11-16 08:11] filrak commented on #1996
@danrcoull afaik the extension is currently being rewritten to a module with gql support
@anqaka should know the details ;)

[2018-11-16 08:13] filrak commented on #1996
please see https://github.com/DivanteLtd/vue-storefront/issues/1987

[2018-11-16 08:47] filrak opened #1997 "Create breadcrumbs module"
## What is the motivation for adding / enhancing this feature?

encapsulate breadcrumbs functionality inside a module

## What are the acceptance criteria

- ...
- ...

# Can you complete this feature request by yourself?

## Additional information

[2018-11-16 08:57] #1913 closed

[2018-11-16 09:12] filrak opened #1998 "Update corresponding docs before updating to 1.6"
One week before update I'll freeze the repo and adjust all docs to the new architecture

[2018-11-16 09:38] #1997 closed

[2018-11-16 10:00] filrak opened #1999 "Make sync vuex module just a function"
## What is the motivation for adding / enhancing this feature?

It shouldn't be a vuex module ;)

[2018-11-16 10:09] DrNik commented on #1459
Hi _noob_ here and facing similar issue, the odd thing is that on dev env everything seems to work find but in prod env (with same data source, same Magento 2) I get the wrong behaviour.
What I can see is that the api call: /api/catalog/vue_storefront_catalog/product/_search?[...] responsible for sorting is returning 2 different payloads:

- on dev the sort property per each item in  the "hits" at

[2018-11-16 11:09] DrNik commented on #1459
Sorry ,my bad, I forgot to set PRODUCTS_SPECIAL_PRICES and PRODUCTS_RENDER_PRICES to **true** env variables for my mage2vs prod env.

_Noob question requires noob solution_

[2018-11-16 11:35] #1996 closed

[2018-11-18 10:50] #1908 closed

[2018-11-20 11:06] mzeis commented on #1973
@goodforever How did you solve this?

[2018-11-20 14:04] mzeis commented on #1973
@pkarw For the record: when using docker to run the frontend and backend, the `vue_storefront` `docker-compose.yml` needs an [external_links](https://docs.docker.com/compose/compose-file/compose-file-v2/#external_links) entry so it can access the `vue_storefront_api` container, e.g.

[code]

[2018-11-20 14:08] pkarw commented on #1973
@mzeis thanks for that, So maybe You'd create a Pull Request with this update? What else it's needed to be updated to make it work out of the box?

[2018-11-20 14:44] filrak opened #2007 "Remove markdown-based static pages"
## What is the motivation for adding / enhancing this feature?

This feature appeared to be redundant. It's also complicating our vue-cli pkugin migration plan

We should base demo static pages on simple placeholders or some external cms data.

## What are the acceptance criteria

- remove markdown static pages and remove corresponding business logic
- replace it with placeholders (can be a static

[2018-11-20 20:09] pkarw opened #2008 "Add the "sync" mode to api/order/create"
## What is the motivation for adding / enhancing this feature?

Currently the [vue-storefront-api](https://github.com/DivanteLtd/vue-storefront-api/blob/92c96a6c28e78ba68f2e009d71bf9287ea89a078/src/api/order.js#L18) `order/create` endpoint is pushing the order to Redis queue and then the orders are `asynchronously` pushed back to eCommerce backend (i.e. using [o2m](https://github.com/DivanteLtd/vu

[2018-11-20 20:22] pkarw commented on #1999
Hmm .. i think it still will be to have backward compatibility anyway - but ok, we can make it a normal helper in all further calls

[2018-11-20 20:23] pkarw commented on #1965
Hello! @bitbager how about the status in here? :)

[2018-11-20 20:31] pkarw commented on #1965
That's awesome; howeve I saw the repo empty - maybe some community members would like to get involved and help You with this if You have published some incremental progress? Just an idea

[2018-11-20 20:47] bitbager commented on #1965
We will publish some code soon. I think we will make it on our own.
However, if there's a need for more resources, we will let you know and get
Sylius community involved as well. Thank you! :)

wt., 20 lis 2018 o 21:31 Piotr Karwatka <notifications@github.com>
napisał(a):

--
Mikołaj Król
CEO & Co-founder

mikolaj.krol@bitbag.pl
(+48) 797 954 681

[2018-11-21 08:47] ngeleedst opened #2010 "SEO friendly urls"
## What is the motivation for adding / enhancing this feature?
The urls that are being generated in the Vue Storefront are not SEO best practices, we would like to use product slugs without sku. Next to this issue it would be nice to have some kind of url rewrite possibility because now you have to allocate every module to a route like:

Category: /category-slug
Pages: /page/page-slug
Product: /pr

[2018-11-21 08:48] ngeleedst commented on #1710
@idziakjakub Do you have a status update about this feature request?

[2018-11-21 10:31] afirlejczyk commented on #2010
- Advanced routing module for url rewrites
We have to remember about urls with extra slashes, e.g `women/tops.html` - this url also should work for category.

- there should be new option in config for this new feature

[2018-11-21 13:35] idziakjakub commented on #1710
@ngeleedst - I started work on category filter in category page, not in search results. I didn't stared resolving this issue yet.

[2018-11-21 23:21] #2008 closed

[2018-11-22 08:41] patzick commented on #1864
PR merged, closing.

[2018-11-22 08:41] #1864 closed

[2018-11-23 18:47] jahvi commented on #2010
Is it worth leveraging/porting the `urlResolver` GraphQL query introduced in 2.3? from the docs:

The query returns the type of entity (`PRODUCT`, `CATEGORY`, or `CMS_PAGE`) so the right component can be used depending of this.

**Example Query**
[code]

**Result**
[code]

[2018-11-23 19:20] pkarw opened #2020 "Chrome70 - indexedDB issue"
We’ve got an report that on Windows 10, Chrome70 offline cache is not being filled in offline mode. We need to check it

[2018-11-23 21:03] pkarw opened #2021 "R&D: Create a PoC of offline-cache without indexedDb"
## What is the motivation for adding / enhancing this feature?
The indexedDB caching prooved to be a problematic solution because of:
- problems with network-errors handling (we need to pass over the network errors because Service Worker is not returning data for API calls - we're simulating that we're fine with getting the data from idnexedDb)
- indexedDb sometimes has really strange response tim

[2018-11-23 21:05] pkarw commented on #2021
@NataliaTepluhina could You please reframe this issue's description and put it into docs as kind of "How Offline Mode works" ?

[2018-11-23 21:08] pkarw commented on #2010
@madonzy we can probably store the `sku/url_key` mapping in kind of `localStorage` - populated in the [`product/list` method](https://github.com/DivanteLtd/vue-storefront/blob/fbe4b148e5f7044541018eaf49d122925d9a894b/core/modules/catalog/store/product/actions.ts#L327)

Please take a look at #2021 - where I've described exactly how offline cache works

[2018-11-23 21:09] pkarw commented on #2021
Any other ideas how to improve this - welcomed :)

[2018-11-23 21:21] jahvi commented on #2010
@pkarw I see this sounds more complicated than I thought then, perhaps it might be too hard to implement with the current indexedDB approach.

[2018-11-23 21:52] pkarw commented on #2007
We can remove them only if we replace the current mockups (terms and conditions etc ...) with static Vue Components. I don't want to have the demo site dependent on any external service (CMS in this case)

[2018-11-23 21:53] #1713 closed

[2018-11-23 22:13] pkarw commented on #1956
@filrak we should have it before 1.6 to just show the guys: here You have modules, here You have module boilerplate; extensions are deprecated so feel free to add some modules :)

[2018-11-23 23:00] filrak commented on #2021
Ill take it :)

[2018-11-24 05:09] pkarw commented on #2021
@filrak it seems like @patzick already took it :) we discussed it yesterday evening and he’s already investigating this issue

[2018-11-24 08:35] filrak commented on #2021
Haha no problem. Just please consult it with me. We should obviously use Workbox for this

[2018-11-24 08:39] filrak commented on #2021
And take this i to account https://github.com/DivanteLtd/vue-storefront/issues/1994

[2018-11-24 08:46] jahvi commented on #2010
I see, so you mean for example instead of having product keys in indexedDB as `sku$$MP01` change it to something like `url$$josie-yoga-jacket` and select based on that?

[2018-11-24 18:14] pkarw commented on #1698
Probably the easiest and most safe way to populate the cache is to just call the ‘product/list’ in the background (correct, it’s separate request but the INITIAL_STATE doesn’t contain all the product attributes thereferore we couldn’t populate cache with it)

[2018-11-24 18:15] pkarw commented on #2021
We need to consider this one as well:
https://github.com/DivanteLtd/vue-storefront/issues/1698

[2018-11-24 18:17] pkarw commented on #1698
We need to run exactly this kind of request:
https://github.com/DivanteLtd/vue-storefront/blob/41ec50deebd183e08c4b59a3eca1a58b101f61c0/core/modules/catalog/store/category/actions.ts#L284

[2018-11-25 00:09] vue-kacper commented on #2020
@pkarw How can we reproduce this issue? It looks like it works correctly on develop branch Win10 / Chrome70

[2018-11-25 09:49] #2020 closed

[2018-11-25 15:44] filrak commented on #1547
Imho we should definiately limit ts scope to core and src/modules. I think migrating to babel 7 and getting rid of ts-loader can be an issue for next milestone @pkarw wdyt?

[2018-11-25 15:48] pkarw commented on #1547
Makes sense!

[2018-11-26 04:26] Decntdefalt opened #2023 "Vue-storefront running but error on homepage"
## Current behavior
When running yarn build/yarn start/yarn dev on storefront and api folders, everything seems to be running. But I'm still getting error on https://hoversport.no/

## Expected behavior
It should load the standard vue-storefront images and products on frontpage/homepage

## Steps to reproduce the issue
Yarn build vue-storefront-api folder
Yarn start vue-storefront-api folder
Yarn

[2018-11-26 09:40] filrak commented on #2007
Ok, scheduled it for today ;)

[2018-11-26 10:02] #2007 closed

[2018-11-26 11:00] DavidRouyer commented on #2023
Do you have an error on the backend?
Please try with node 10, we haven't tested it yet on node 11.

[2018-11-26 15:37] Decntdefalt commented on #2023
No error. Absolutely everything is running in the backend. I've set up the storefront on my mac countless times with no problem. But I will try I will downgrade to 10 and see if that works.

[2018-11-26 16:45] Decntdefalt commented on #2023
I downgraded to 10 and absolutely everything is running.

Still getting error on homepage.

[2018-11-26 16:55] pkarw commented on #2023
You should have some error messages in the server console - 99% seems like no connectivity to Vue-storefont-api from the Vue-storefront server app

[2018-11-27 03:38] Decntdefalt commented on #2023
My apologies. You're 100%, I haven't installed the API properly..

[2018-11-27 03:38] #2023 closed

[2018-11-27 08:30] yuriboyko opened #2028 "Move entity types registration and gql queries on the module level"
## What is the motivation for adding / enhancing this feature?
Currently all queries are located on the searchAdapter side each of them is related to the certain module work . So it probably make sense to move queries for search adapter on the module level

so each module should have  search adapters folders structure
something like this:
'search-adapter'
-> 'graphql'
-> 'api'

where should be a r

[2018-11-27 12:03] mdanilowicz opened #2029 "Long menu styles"
## Current behavior
When we have a too long menu, there is a problem with styles

## Expected behavior
The menu should look good regardless of the length

## Steps to reproduce the issue
Create long submenu

## Environment details
All browsers

## Additional information
![2018-11-27_13h01_07](https://user-images.githubusercontent.com/7597086/49080660-a6817500-f244-11e8-87cc-15d46786bda6.png)

[2018-11-27 13:53] kovinka opened #2030 "Third-party payment providers integration"
## What is the motivation for adding / enhancing this feature?
Currently VS retrieves the list of all available methods and displays them on checkout Payment step.
When the customer chooses some payment method and completes the checkout, VS creates the order in Magento. But in my case to complete the order, the customer needs to be redirected to the providers payment webiste (Magento 2 payment mod

[2018-11-27 21:47] ngeleedst commented on #2010
Any updates on this request?

[2018-11-28 05:47] joshicraft opened #2032 "docker-compose up windows 10 pro error"
## Current behavior
When following the [Windows Installation guide](https://github.com/DivanteLtd/vue-storefront/blob/master/doc/Installing%20on%20Windows.md) Im getting the following error at the point when running _docker-compose up_

`ERROR: Service 'es1' failed to build: Get https://docker.elastic.co/v2/: dial tcp: lookup docker.elastic.co on 192.168.65.1:53: no such host`

## Expected behavio

[2018-11-28 10:13] pigmu opened #2033 "Issue after change alwaysSyncPlatformPricesOver, clearPricesBeforePlatformSync to true in storefront config/local.json"
## Current behavior

After change alwaysSyncPlatformPricesOver, clearPricesBeforePlatformSync to true in storefront  config/local.json
It show  `skus parameter is required` message every time when entered homepage
## Expected behavior

The error message won't show
## Steps to reproduce the issue

[code]
In local.json

It show  `skus parameter is required` message every time when entered homepage
<

[2018-11-28 11:03] pkarw commented on #2030
Please take a look at:
https://github.com/DivanteLtd/vue-storefront/issues/2008

and: https://github.com/develodesign/vsf-payment-paypal

[2018-11-28 11:59] filrak commented on #2029
I was unable to reproduce with some items added to left menu. Can you be a little bit more specific in reproduction steps? ;)

[2018-11-28 12:14] filrak commented on #2029
Fixed ;)

[2018-11-29 10:45] pkarw opened #2038 "Refactor `afterRegistration` to support `context` not just `isServer`"
## What is the motivation for adding / enhancing this feature?

We should redefine module entry from `export function afterRegistration(Vue, config, store, isServer) {`

to more generic:

`export function afterRegistration(Vue, config, store, { isServer, ...  })`

This will let us extend the parameters passed to the modules. For example we can pass there `ssrContext` - https://github.com/DivanteLt

[2018-11-29 12:19] #1987 closed

[2018-11-29 12:20] pkarw commented on #1894
CMS pages are currently supporting SSR, blocks - are not yet

[2018-11-29 12:20] #1894 closed

[2018-11-29 12:20] #1999 closed

[2018-11-29 12:21] #1986 closed

[2018-11-29 13:36] yuriboyko commented on #1902
@filrak @Aekal
do you have any information about when we can expect this module?

[2018-11-29 16:48] filrak commented on #1902
@Aekal ?

[2018-11-29 16:49] filrak commented on #2038
Will be in core tomorrow ^^

[2018-11-30 06:45] shubham0503 commented on #869
Hello filrak,
I have installed Bootstrap-vue in vue storefront only without any other steps, and after installing while rendering the page I am getting the bootstrap components in vendor.js but while using the bootstrap class the design is still same not using the bootstrap class, as of now I am using theme-starter. Please suggest me is there any further steps to use of it.

[2018-11-30 09:14] mdanilowicz commented on #2029
There is still a problem with the menu

[2018-11-30 13:10] filrak opened #2044 "Change the way products are added to cart regarding stock qtys"
## What is the motivation for adding / enhancing this feature?

Right now when we add product to the cart and it;s not in stock the following happens:
- we click 'add toc art'
- product is added toc art with success msg
- we are checking for stock qtys
- we are receiving out of stock information
- item is removed from cart with error msg

I don;t think it's the best UX since user is getting unnece

[2018-11-30 13:13] filrak commented on #2029
You're right ;) Now its fix sure fixed  with https://github.com/DivanteLtd/vue-storefront/commit/ca4ac1ab7b301cee0e937dc11d523647f0bb309d ;)

[2018-11-30 13:13] #2029 closed

[2018-11-30 13:32] #2044 closed

[2018-11-30 18:02] pkarw commented on #2032
This seems like an issue not rated to Vue Storefront itself but rather Docker (seems like it can not download some images)

[2018-11-30 18:02] #2032 closed

[2018-11-30 18:03] pkarw commented on #1944
This is an isssue with o2m not running on the host. It has been fixed last week with the /api/order endpoint that synchronously sends an order and o2m is no longer required

[2018-11-30 18:03] #1944 closed

[2018-12-01 20:13] Decntdefalt commented on #1678
Did you find any solution to this?

[2018-12-01 22:53] joshicraft commented on #2032
Changing the docker Daemon registry to localhost:5000 seemed to have fixed the problem. This is not a good solution but it works.

[2018-12-02 00:31] patzick opened #2048 "[RFC] Refactor vuex store idea"
Guys, I’ve been thinking of some possible changes and I’m coming up with an idea. I’d like to discuss with you pros and cons of this solution, thats why I'm writing this Request For Comments. Hope this will be an educational discussion for all of us. It is not meant to be long, it’s more like PoC for reorganising things.

For deeper background documentation of current product module can be found [

[2018-12-02 15:58] Cyclonecode commented on #1843
@pkarw - Completely forgot about this one, but it seems like it has been already implemented so this ticket can now be closed =)

[2018-12-02 18:15] Aekal commented on #1902
Sorry, I didn't do it yet due to lack of time. I'm unassigning myself so maybe someone will want to work on it

[2018-12-03 05:10] pkarw commented on #2048
I think it will be difficult to refactor product vuex store as there are so many cases of assigning currentProduct / originalProduct etc. so not sure if this goal / presented as a reasoning for this refactor would be possible to achieve. Hovewer in general it’s a good direction - for sure to not access the state outside the vuex store mutations and getters

I’m not sure about the priorities - I me

[2018-12-03 07:30] pkarw commented on #1970
@DavidRouyer can we make this task happen in this week - thereof it will be included in v1.6

[2018-12-03 07:34] #1796 closed

[2018-12-03 07:35] pkarw commented on #1699
@qiqqq could You please take care of this issue?

[2018-12-03 07:41] #1533 closed

[2018-12-03 07:41] #1541 closed

[2018-12-03 07:42] #1459 closed

[2018-12-03 07:44] #1383 closed

[2018-12-03 07:48] pkarw commented on #1843
@Cyclonecode it's not yet done - there is just docker started in "classical way" - I mean running just elasticsearch + redis in the api.

We need to modify it to have VS + VS API running 100% on Docker as a result.

[2018-12-03 07:49] #1760 closed

[2018-12-03 09:45] pkarw commented on #1290
@NataliaTepluhina I just discovered that we missed this option in official docs (however it was pointed out in https://github.com/DivanteLtd/vue-storefront/blob/36989bdf9fc22726718493f93cfb4a13d9d72127/doc/Config%20docs.md) - can You update the docs please?

[2018-12-03 10:08] DavidRouyer commented on #1970
Will do it tonight Sir

[2018-12-03 10:38] filrak commented on #1761
it's fixed on current dev

[2018-12-03 10:38] #1761 closed

[2018-12-03 13:07] vue-kacper commented on #2048
This for sure can help reduce some problems with reactivity in future but same as @pkarw I think we should focus more on theme 2.0 etc. because it's not a major problem right now

Anyway we should keep in mind good practices and try to use more of vuex getters

[2018-12-03 14:03] kovinka commented on #2030
@pkarw thanks, i think we can close the ticket now

[2018-12-03 18:34] Cyclonecode commented on #1843
@pkarw  - Ah, I looked on the code and I understand. Ok, I will try to look on this during this week.

[2018-12-04 12:39] #887 closed

[2018-12-06 00:33] Decntdefalt commented on #2023
Dude, I am so close to getting there. The last problem I have to get my shop up and running is to get the external checkout working properly.

Click on https://hoversport.no/p/Elscooter/elscooter-1 and add it to the cart, you get directed to my external checkout, but damn it, I can not get to a checkout and it seems like Storefront is not synchronizing the added product in the cart with my Magento

[2018-12-06 09:01] filrak opened #2060 "Load Material icons asynchronously"
## What is the motivation for adding / enhancing this feature?

Better performance. According to LH audit we can gain some additional performance by doing this.

## What are the acceptance criteria

- Material Icons are loaded asynchronously
# Additional information

[2018-12-06 09:09] filrak opened #2061 "Increase TTL for static assets"
## What is the motivation for adding / enhancing this feature?

According to LH audit we should have higher TTL in cache headers for static assets
![image](https://user-images.githubusercontent.com/15185752/49573686-e9c39e00-f93e-11e8-964e-168434a5a5c2.png)

[2018-12-06 09:36] pkarw commented on #2023
That's awesome :) You should definitively take a look at https://divanteltd.github.io/vue-storefront/guide/integrations/totals-sync.html#cart-and-totals-sync

You need to set the Magento2 API credentials (oauth secrets) in the `vue-storefront-api` config file PLUS set proper options in VS config (`cart.synchronize` to `true`)

[2018-12-06 10:43] Nolaan commented on #1794
Still not working, the orders are not showing up on my account eventhough there's a confirmation from the server.
Furthermore the account details cannot be updated.

[2018-12-06 14:45] pkarw commented on #1794
And after refreshing the whole page (Ctrl+F5) the order is there? it should

[2018-12-07 12:01] #2061 closed

[2018-12-08 14:49] #2030 closed

[2018-12-08 21:01] patzick opened #2069 "[RFC] Vuex naming conventions"
# Vuex conventions
We need to establish some rules for vuex. It’s a proposition, which after some discussion will be added to our docs for possible referencing in future.

## Module
Vuex module should be created for specific set of functionalities. Should also have only absolutely necessary dependencies to other modules.
Name of module should be short, quite clear about it’s destination and has wo

[2018-12-10 10:00] pkarw commented on #2069
I'm not sure about the following set of rules:

Take the `product` state for example - most of the names are `snake-case`. We should find the common, minimal denominator for the current state of Vuex vs. this new proposition

I don't agree with that. Actions are called in context: `products/list` what makes perfect sense - much better looking (for me ;)) than `product/listProducts`. I would prefer

[2018-12-10 11:19] Cyclonecode commented on #2010
I am also wondering about this and if there are any updates on this issue?

[2018-12-10 13:11] Tjitse-E opened #2073 "Magento2 data import doesn't take configuration from local.json"
## Current behavior
Quote from the docs:

The problem is that you still need to customize the configuration file in mage2vuestorefront. Now located in: `~/vue-storefront-api/node_modules/mage2vuestorefront/src/config.js`. The docs don't mention this.

## Expected behavior
IMHO, the configuration for mage2vuestorefront should be located in the `config` folder of the vue-storefront-api

## Steps to

[2018-12-10 17:11] Tjitse-E opened #2074 "Meta tile and meta descriptions missing in category object"
## Steps to reproduce the issue

1. Add meta_title and meta_description to local.json in vue-storefront-api:

[code]

2. Add meta_title and meta_description to local.json in vue-storefront:

[code]

3. Rebuild vue-storefront and vue-storefront-api.
4. Reindex via mage2vuestorefront:
[code]
5. Clear browser data

## Current behavior
Visit a frontend category and check the category computed property

[2018-12-10 18:13] pkarw commented on #2074
Currently the Magento meta_* fields are not used (we do generate meta from description and title fields) in Category.js (either in Product.js) but I belive this can Ben easily fixed - @patzick can you take a look at it?

[2018-12-10 18:14] pkarw commented on #2038
I belive this one is done @filrak ?

[2018-12-10 18:14] #2038 closed

[2018-12-10 19:11] pkarw commented on #2073
@Tjitse-E it’s taking the config from Vue-storefront-api/config/local.json but not the full config - just the Magento2 api, the rest is passed to mage2vs via ENV variables set in here:
https://github.com/DivanteLtd/vue-storefront-api/blob/258cc2a2f2b0f531f402737a6032e1118658de51/scripts/mage2vs.js#L107

Please let me know about Your use case, which properties are missed in there?

I think we shoul

[2018-12-10 19:11] pkarw commented on #2073
@patzick can You please take care of this one as well?

[2018-12-11 06:30] Tjitse-E commented on #2073
@pkarw  in my use case I had to modify the elastic host directly here https://github.com/DivanteLtd/mage2vuestorefront/blob/master/src/config.js#L30, but the same setting is also configured in the API local.json: https://github.com/DivanteLtd/vue-storefront-api/blob/master/config/default.json#L11

[2018-12-11 06:36] pkarw commented on #2073
You're right, DATABSE_URL is currently missed in the `mage2vs`. Thanks! @patzick could You please fix this ?

[2018-12-11 08:38] Tjitse-E commented on #2074
@pkarw i've checked with Kibana, and I've noticed that some of the categories indeed have meta_title and meta_description fields now, and they are also available in the category object. However, this isn't the case for all the categories, in some categories the data is still missing. Maybe I will have to completely destroy and rebuild the elastic indexes? What would be the best way to do this?

[2018-12-11 09:06] Cyclonecode opened #2075 "Component caching"
## What is the motivation for adding / enhancing this feature?
When using two stage caching the entire page is now stored in cache, which can lead to problems, for instance if the site is updating some component state through some external api request. For instance, I am using prismic for some content on the homepage and since the entire page is cached it does not reflect changes made in prismic u

[2018-12-11 11:15] filrak commented on #2069
In my case 100% agree with @patzick .
PLUS: Our naming should be predictive and (if possible) very similar across modules for same tasks (fetching data from server/cache, filtering products on category.search etc) so by invoking similar action/getter on other module you more or less know how it works and learning curve is natural.  This should be true especially for actions/getters properties.

Re

[2018-12-11 11:23] jorkvist opened #2076 "JSON data is getting huge due to Categories."
## Current behavior
With around 500 categories under 6 main nodes divided into around 15 sub-categories with multiple sub-levels. The current implementations of the Category JSON data loaded in the index document makes each category be listed in level 1. Where all the 500 categories is written out and for each category there is a node called children_data where all the nested categories is written

[2018-12-11 18:01] Decntdefalt opened #2077 "Tax rule not being properly applied to product prices"
## Current behavior
Taxes are showing on products in magento > https://betaling.hoversport.no/hoverboards.html
Taxes are not showing on storefront > https://hoversport.no/c/hoverboards-5

## Expected behavior
After running sudo node --harmony cli.js fullreindex in mage2vuestorefront/src, the tax should be included in the product prices.

## Steps to reproduce the issue
Configure taxes on Magento 2

[2018-12-11 18:09] pkarw commented on #2077
Please do check config.tax settings plus config.i18n

In vue-storefront you should have the option of calculating taxes server side set. Then in Vue-storefront-api in the i18n section you should have proper default country set (probably to Norway in Your case) otherwise you’ll be having error message in Vue storefront api console about not finding the proper tax rate

It doesn’t look like a bug

[2018-12-11 18:36] pkarw commented on #2076
Good idea, we should rewrite the SidebarMenu component to let the navigation progressively download subcategories and load just one or two levels with SSR

[2018-12-11 21:26] ladrua opened #2078 "ERROR in Notification.vue during compile"
## Current behavior

Running `docker-compose up` gives
[code]

[2018-12-12 04:55] parnus01 commented on #1973
after i add external link , i cannot start container

[2018-12-12 07:44] #2078 closed

[2018-12-12 07:47] pkarw commented on #1973
Thanks for reporting this issue! @pszreder can You please take a look at it?

[2018-12-12 07:57] parnus01 commented on #1973
another question how can i see storefront log ? , when i landing into homepage it redirect to error page with Something went wrong ... quote , i already check in var/log it not has anything ,
![screenshot from 2018-12-12 14-57-26](https://user-images.githubusercontent.com/21211130/49854924-40891600-fe1e-11e8-90ae-c0bd74118ce7.png)

[2018-12-12 08:01] pkarw commented on #1973
The logs are outputted to console standard output/standard error

[2018-12-12 08:02] jonathanselander commented on #2010
What about the current inconsistency between vsf and the underlying platform managing URLs, redirects, and what admins assume?

[2018-12-12 08:03] parnus01 commented on #1973
can't see anything in console log

[2018-12-12 08:48] parnus01 commented on #1973
bankend
`version: '3.0'
services:

  kibana:
    build: docker/kibana/
    volumes:
      - ./docker/kibana/config/:/usr/share/kibana/config:ro
    ports:
      - '5601:5601'

  redis:
    image: 'redis:4-alpine'
    ports:
      - '6379:6379'

  app:
    # image: divante/vue-storefront-api:latest
    build:
      context: .
      dockerfile: docker/vue-storefront-api/Dockerfile
    depends_on:

[2018-12-12 08:49] parnus01 commented on #1973
frontend

services:
  app:
    # image: divante/vue-storefront:latest
    build:
      context: .
      dockerfile: docker/vue-storefront/Dockerfile
    env_file: docker/vue-storefront/default.env
    environment:
      VS_ENV: dev
    network_mode: host
    volumes:
      - '.babelrc:/var/www/.babelrc'
      - './config:/var/www/config'
      - './core:/var/www/core'
      - './ecosystem.json:/va

[2018-12-12 09:12] pszreder commented on #1973
@parnus01 thanks. In which mode did you start the **API application itself**?
Using our docker environment:
`docker-compose up -f docker-compose.yml -f docker-compose.nodejs.yml -d`
or services inside docker environment:
`docker-compose up -d`
and API application itself natively:
`yarn start`

?

[2018-12-12 09:35] parnus01 commented on #1973
i found the problem elasticsearch container can't start.
after i see logs container

org.elasticsearch.bootstrap.StartupException: java.lang.IllegalStateException: failed to obtain node locks, tried [[/usr/share/elasticsearch/data/docker-cluster]] with lock id [0]; maybe these locations are not writable or multiple nodes were started without increasing [node.max_local_storage_nodes] (was [1])?
	at

[2018-12-12 09:45] pszreder commented on #1973
@parnus01 it sounds like your local environment issue...

`maybe these locations are not writable or multiple nodes were started without increasing`

ES container uses named volume "esdat1", by default it's located here on your host:
`/var/lib/docker/volumes/vuestorefrontapi_esdat1`

It definitely has some problem with this volume. Multiple ES container instances running parallel, some permissions

[2018-12-12 10:04] parnus01 commented on #1973
many thank ! i change permission on this path and it work fine.

[2018-12-12 10:06] pszreder commented on #1973
@parnus01 no problem.

[2018-12-12 11:16] Decntdefalt commented on #2077
The taxes were applied on the product price in the shopping cart summary before checkout and shown separately as well under, but it was never applied to the product in product view or in the catalogs.

Could you provide direct paths to config.tax and config.i18n?

Having problems finding the config files you're specifying.

Thanks again!

[2018-12-12 11:22] pkarw commented on #2077
The configs are in the: `config/local.json` and the paths I've given You are the config paths

[2018-12-12 11:28] pkarw opened #2081 "Refactor core/store/index.js - move the localForage references to modules"
## What is the motivation for adding / enhancing this feature?

This method should be decentralized to modules:
https://github.com/DivanteLtd/vue-storefront/blob/095e5301b8d50c0c9d77694189e00f0f64aa5682/core/store/index.ts#L139

[2018-12-12 12:21] ThijsVanDenWollenberg opened #2082 "Checkout refresh redirects to homepage"
## Current behavior
Doing a refresh while in the checkout causes a redirect to the homepage

## Expected behavior
Checkout page is reloaded

## Steps to reproduce the issue
Add product to shopping cart
Navigate to checkout page
Any where in checkout process refresh the page
You are redirected to homepage

# Can you handle fixing this bug by yourself?
NO

## Environment details

- Browser: Google C

[2018-12-12 13:33] Cyclonecode opened #2083 "Support to invalide output cache through POST"
## What is the motivation for adding / enhancing this feature?
The `/invalidate` route is GET only and should really also support POST requests. Currently I am setting up a webhook in prismic.io for clearing the output cache, but their webhook only supports POST  method.

## What are the acceptance criteria
- When we can clear the cache using a POST request.

# Can you complete this feature reques

[2018-12-12 16:42] Decntdefalt commented on #2023
Thanks!

You wouldn't know in which file I'd be able to change the currency sign?

[2018-12-12 23:17] shkodasv opened #2085 "[Bug] in toogle wishlist action"
## Current behavior
First Click on Wishlist icon opens the Wishlist Sidebar. Second click on Wishlist icon doesn't close Wishlist sidebar

## Expected behavior
Second Click on Wishlist icon should close Wishlist sidebar

## Repository
https://github.com/DivanteLtd/vue-storefront/blob/011ab7712b162b564efab8bfc96eb4a343b67b72/src/modules/ui-store/index.ts#L71

# Can you handle fixing this bug by you

[2018-12-13 07:48] parnus01 opened #2087 "Service worker error when start application"
when i landing to  https://localhost:3030/
console out error
`Uncaught (in promise) TypeError: Failed to execute 'fetch' on 'ServiceWorkerGlobalScope': 'only-if-cached' can be set only with 'same-origin' mode`

i don't know what wrong in setup , i start all container done and already sync data to elasticsearch.

[2018-12-13 08:41] #1998 closed

[2018-12-13 14:07] filrak opened #2088 "Vendor bundle codesplit"
## What is the motivation for adding / enhancing this feature?

Our vendor bundle is prty huge right now. Would be good to split some of the biggest vendor libs

## What are the acceptance criteria

-  vendor bundles are loaded lazily

# Can you complete this feature request by yourself?

Yes but not now so feel free to pick ;)

[2018-12-14 02:18] ghost opened #2089 "Checkbox variant selection"
## What is the motivation for adding / enhancing this feature?
On https://hoversport.no/p/V0100373/hoverboard-bluetooth-rd-8, you have a product with various variants or options. When clicking on one of the options, it selects all of the options, it then shows a wrong color option in the shopping cart, further on when you go to checkout you will then have the right color option in Magento checkout

[2018-12-14 07:31] pkarw commented on #2089
Hi, it requires some debugging - please do some test changing the custom options type from "checkbox" to "radio" in Magento2 and then syncing the products (I believe it's a correct option type as You can select only one, correct?)

Anyway the checkbox options should be tested + fixed

[2018-12-14 07:35] pkarw commented on #2089
@Decntdefalt  can You provide us with elasticsearch dump (`npm dump` in the `vue-storefront-api` then send us the  `vue-storefront-api/var/catalog.json`) @patzick can You check this one? It's strange as after short debugging of `ProductCustomOptions.vue` it seems like we're setting correct values so maybe just the UI part is broken.

[2018-12-14 07:35] #2085 closed

[2018-12-14 10:32] revlis-x opened #2090 "Category Page does not remember state"
## Current behavior
When scrolling down a category more products are lazily pulled in. When I click on a product which is not in the first initially loaded bunch to view it and then go back to the category listing I end up at the bottom of the initially loaded products and have to scroll down and reload more products again to wherever I was before.

## Expected behavior
When using back button on a

[2018-12-15 05:34] #2073 closed

[2018-12-15 07:07] #2083 closed

[2018-12-15 13:20] Darwex opened #2093 "Storefront not working inside docker"
## Current behavior

Vue-storefront shows error, something went wrong when started inside docker via docker-compose.
It seems to return error below when trying to connect to elastic search. Kibana is on the same network connected with same credentials successfully.

I am just truing to wrap it now, I will polish it later on.

The js error after placing breakpoint inside search.ts
[code]

My docker

[2018-12-15 14:51] pkarw commented on #2093
Do You have any error in dev mode / outside the docker? Is the vsapi accessible to connect to from vs docker? It seems like a lack of connectivity for ssr (server side) app to Vue Storefront api. Please also attach Your vs and vsapi config files to give us some more info

[2018-12-15 14:52] pkarw commented on #2093
If you’re connecting to vsapi using “localhost” not the public IP please make sure your containers work in host network mode

[2018-12-15 16:11] Darwex commented on #2093
I do not see any errors outside docker. I also suspect docker networking but the error I received seemed unclear to me, since I do not know vue-storefront well enough. When I start the docker-compose up i can access the vsapi via browser as well as vue-storefront and kibana (connected to elastic) that is what confuses me.

Please see my vs and vsapi configs below.

vs config
[code]

vsapi config
[

[2018-12-16 11:10] pkarw commented on #2076
I'm working on it

[2018-12-16 14:00] Darwex commented on #2093
I managed to solve this.

vue-storefront-api/docker/vue-storefront-api/default.env contains elastic-search config as well, and it is overriding the default one in config.local.

You can either delete it from the default.env or alter it there.

The truth is, that the error message was not very clear.
Maybe we could improve error handling for connection issues.

Thanks for help.
Closing the issue.

[2018-12-16 14:01] #2093 closed

[2018-12-16 18:08] filrak commented on #2087
Using https on localhost may be a cause. Can you check if it's the same without ssl?

[2018-12-17 02:18] parnus01 commented on #2087
now it work by restart everything. Another question i have error when i place order request api return error 500 , Error Place Order , how can i investigate that isssue

[2018-12-17 08:22] pkarw commented on #2087
Please do check the vsapi console output error log

[2018-12-17 08:40] parnus01 commented on #2087
`{code: 500, result: "Error: Error placing an order"}
code: 500
result: "Error: Error placing an order"`

[2018-12-17 08:42] pkarw commented on #2087
I meant vue-storefront-api console there should be details about the reason of this error that could be some Magento2 API subsequent errors

[2018-12-17 08:56] parnus01 commented on #2087
i never know it has console api , how can i acces ?

[2018-12-18 08:48] mdanilowicz opened #2096 "Loading thumbnail image in gallery (configurable product)"
## Current behavior
As a placeholder for images, we use the main product image. It's problematic especially when we show all gallery images as thumbnails

https://github.com/DivanteLtd/vue-storefront/blob/dfbe73f2ffeab38bce4ac3e219db6a09a257b261/core/modules/catalog/helpers/index.ts#L536

## Expected behavior
We should see proper image or placeholder with logo

# Can you handle fixing this bug by

[2018-12-18 10:57] filrak commented on #2082
Hey, you can disablke this behavior by commenting out `if (context) context.server.response.redirect('/')` in `Checkout.js` `asyncData`

[2018-12-18 11:05] filrak commented on #2090
imho should land in 1.8

[2018-12-18 12:29] filrak opened #2099 "Implement web share api for products"
## What is the motivation for adding / enhancing this feature?

Our products should be easly shareable ;) Web Share API seems like a natural approach. IT should be done as VS module

# Can you complete this feature request by yourself?

Yes
## Additional information

[2018-12-18 15:47] pkarw commented on #2076
@jorkvist fixed in develop branch

[2018-12-18 15:47] #2076 closed

[2018-12-18 16:38] mj-dev opened #2101 "Compilation error on 1.6 version"
## Current behavior
I have update an existing Vue Storefront 1.5 project to 1.6. And now I have an error on project compilation.

## Expected behavior
1.6 Vue Storefront compile.

## Steps to reproduce the issue
Reload home page.

## Repository

# Can you handle fixing this bug by yourself?
No.

My error is :
`
client-entry.ts:19 Uncaught TypeError: Cannot read property 'config' of undefined
    a

[2018-12-19 09:37] filrak commented on #2101
Please compare your index.html templates with ones from 1.6 repo first

[2018-12-19 10:31] mj-dev commented on #2101
@pkarw my homepage source code : https://pastebin.com/LdeBrHkm

@filrak my index.html is identical to 1.6 version (https://pastebin.com/PU8n7Zhk)

[2018-12-19 10:39] pkarw commented on #2101
You have renderState() and renderScripts() calls mixes comparing it to default index: https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/index.template.html (this is current default)

[2018-12-19 10:59] mj-dev commented on #2101
I have added `renderState()` and `renderScripts()` functions to my index.html theme, and it's working.
It's my mistake, I forgot to update this file during the 1.6 upgrade.

Thanks for your accurate and quick answers 👍

[2018-12-19 12:14] ananth-iyer commented on #1620
@pkarw I want to work on this issue so please assign this issue to me

[2018-12-19 13:04] pkarw commented on #2077
Can we close this issue @Decntdefalt ?

[2018-12-19 13:33] DavidRouyer opened #2103 "Improve the docker setup"
## What is the motivation for adding / enhancing this feature?

## What are the acceptance criteria
- Improve and fix the Docker setup by using muti-stage builds:
  - Use node-slim for building the application (we use native dependencies (node-sass) for example which requires Python and other dependencies)
  - Use node-alpine for running the app

- Explore #1845.

- Remove the shell script (not ne

[2018-12-20 09:39] #2082 closed

[2018-12-20 10:13] thomasthune commented on #1994
Seems like there are a couple of issues regarding the whole caching process in browser/service workers products. I'll comment on this one, since my pointers mostly can be boiled down to being able to configure the behavior of the app.

So basically on our current client site (running v. 1.4.1, though as far as i can see the behavior is the same for HEAD) We are experiencing some minor issues relat

[2018-12-20 10:21] pkarw commented on #1994
@thomasthune thanks for the feedback! We'll take it into consideration regarding new caching mechanism which is already scheduled + assigned: https://github.com/DivanteLtd/vue-storefront/issues/1990

ps. what's the address of Your site?

[2018-12-21 08:12] valeriish opened #2105 "External Cart Syncronization works only in one way"
## Environment details
- Vue-storefront v1.6
- Magento v2.2.6
- External Checkout Module

## Steps to reproduce the issue

1. Add some products in to cart on VSF side
2. Go to Magento Cart page
3. Make some changes in products (change qty / remove product)
4. Go back to VSF

## Expected behavior
Changes applied on Magento side are also applied to VSF cart

## Current behavior
VSF pulls changes of

[2018-12-21 08:20] pkarw commented on #2105
Thanks, please propose the PR with fix :)

[2018-12-21 09:49] filrak commented on #2090
@revlis-x I'll take it for January milestone

[2018-12-21 09:52] filrak commented on #2096
i believe @pkarw was working on this

[2018-12-21 09:53] pkarw commented on #2096
I don't exactly get the problem we must discuss this @mdanilowicz by the next chance we're on Hangout

[2018-12-21 09:53] #2105 closed

[2018-12-21 09:56] #1877 closed

[2018-12-21 19:19] phoenixdev-kl opened #2107 "ProductAttribute.ts throws "TypeError: parsedValues.split is not a function""
## Current behavior
When product attribute value is of type Number, we get the following error in browser console
[code]

## Expected behavior
No error message should occur :)

## Steps to reproduce the issue
As it would be a pain to setup your system with according product data you might want to set a breakpoint in core/modules/catalog/components/ProductAttribute.ts at or after line 22
[code]
and

[2018-12-21 20:13] pkarw commented on #2107
Thanks! This should work, maybe we could just add type checking. Running this split makes sense just when the value is a string

[2018-12-21 20:31] pkarw commented on #2107
Correct. Please do!

[2018-12-22 09:31] #1794 closed

[2018-12-22 09:32] pkarw commented on #1956
is it done?

[2018-12-22 10:55] #1654 closed

[2018-12-22 11:02] pkarw commented on #1834
This has been already done with: https://github.com/DivanteLtd/coreshop-vsbridge

[2018-12-22 11:02] #1834 closed

[2018-12-22 11:02] pkarw commented on #2089
This is connected with #1675

[2018-12-22 11:05] #1268 closed

[2018-12-22 17:44] israelmuca commented on #307
Hey guys! Anybody got it working with woocommerce?

[2018-12-22 18:07] pkarw commented on #307
We will be publishing some limited integration in January

[2018-12-23 06:10] YouMakeMeHappy opened #2110 "Route to robots.txt"
How to add route to robots.txt file?

I have a file in root directory, but then I go to MY_SITE.com/robots.txt I got "page-not-found".

[2018-12-23 08:09] pkarw commented on #2110
You should add this file on proxy layer in front of vs (let’s say nginx) - https://divanteltd.github.io/vue-storefront/guide/installation/production-setup.html

You can also use Advanced Content Output features:
https://divanteltd.github.io/vue-storefront/guide/extensions/extending-server-side-routes.html
https://divanteltd.github.io/vue-storefront/guide/core-themes/layouts.html#how-it-works

[2018-12-23 12:04] filrak commented on #2110
@YouMakeMeHappy it's already there on develop branch and will land in 1.7

Please take a look here https://github.com/DivanteLtd/vue-storefront/blob/develop/src/server/robots.js

[2018-12-23 13:58] filrak opened #2111 "Replace vue-carousel with glider.js"
It's much smaller and have same capabilities

[2018-12-23 15:40] #1990 closed

[2018-12-23 15:40] #2021 closed

[2018-12-23 15:42] #2107 closed

[2018-12-23 15:42] #2110 closed

[2018-12-25 19:40] GekaTLT opened #2113 "bug core/modules/cms/store/page/actions.ts"
84 line
let resp = context.state.items.find(p => p[key] === value)

[2018-12-26 16:55] Decntdefalt opened #2114 "Replicating project folder for development of other shops"
I set up a webshop with vue-storefront and I'm trying to setup another one.

Logima is the new webshop I'm trying to set up, hoversport is the existing one.

API for logima.io is running on
127.0.0.1:8081 0.0.0.0:* LISTEN 17530/.node.bin
Logima.io nginx is running on
0.0.0.0:81 0.0.0.0:* LISTEN 17482/nginx: master
Logima vue-storefront root folder is running on
127.0.0.1:3030 0.0.0.0:* LISTEN 1874

[2018-12-27 03:54] Decntdefalt commented on #2114
This problem is initially fixed, but not by me. Still left with a big question on how this can happen, perhaps too much cache? How to go about cleaning cache for different types?

[2018-12-27 13:34] pkarw commented on #2114
Please try to run `yarn pm2 reload all` to re-load the new code for pm2. Please also read a pm2 docs on http://pm2.keymetrics.io/docs/usage/quick-start/ as I'm aware that it can be a little bit confusing (how pm2 works) if You haven't had experience with it before

[2018-12-27 13:34] #2114 closed

[2018-12-27 14:47] valeriish opened #2116 "Cart Configurable item pulled from magento loaded as Simple"
## Steps to reproduce the issue

1. Login-in as customer
2. Add configurable product to cart
3. Examine minicart, new item have parent name, image, url, type = configurable
4. Login-out and login-in

## Expected behavior
Cart item have type 'configurable'.
Name, image, etc are getting from assigned parent product

## Current behavior
Cart item have type 'simple'.
Cart item displays name, image, et

[2018-12-27 14:52] pkarw commented on #2116
Thanks, how would You like to fix this one? Please feel free to report a Pull Request

[2018-12-27 19:12] patzick commented on #2069
Okay, to finish this up we established two things during our last talk:

- we'll use underscore case instead of camelCase in state variable names
- we allow methods, which are in most of modules (like `list` or `single`) to still be produced in future modules, although they takes different parameters (so either way you need to find particular method and it's not so simple when you have many of the

[2018-12-28 12:42] pkarw commented on #2069
@patzick: positive. Please go on with such a naming convention. I believe we should update [docs](https://github.com/DivanteLtd/vue-storefront/tree/master/docs/guide) including the coding guidelines there + we should mention it with link in [CONTRIBUTING.md](https://github.com/DivanteLtd/vue-storefront/blob/master/CONTRIBUTING.md)

[2018-12-28 18:48] israelmuca commented on #307
Awesome, I'm currently checking the project out with a possible customer, but their store is in woocommerce and they're not willing to switch.

Do you happen to have any more information regarding the limitations this integration will have?
So I can know if it will be possible to do so.

[2018-12-28 18:55] pkarw commented on #307
Surely there will be lacking endpoints for customer account - addresbook, order history etc well point out what’s missed to make it easy to add it

[2018-12-28 18:57] israelmuca commented on #307
Thank you so much, looking forward to try and help out with the rest of what's missing.

[2018-12-28 23:09] pkarw opened #2120 "Optimize the picture switching when entering product page"
When you enter the product page from category listing filtered by some color:
https://test.storefrontcloud.io/c/men

The visible effect is switching the product to the right gallery element (regarding selected color).

The right picture should be displayed immediately after entering product page:
- the slider should be set to proper element initially before page is loaded
/
- or maybe we should us

[2018-12-28 23:16] pkarw opened #2121 "Page full reload side effect"
## Current behavior

After adding lazy load the product category and home pages are loaded like:
Header - footer - after 1-2s the content
https://test.storefrontcloud.io/c/women

Despite the fact the content is pre rendered in the html markup.
Looks like some hydration side effect

On demo.storefrontcloud it looks much better.
What can we do with that? Maybe prefetching the subsequent route compon

[2018-12-29 12:14] pkarw commented on #2116
Correct. Method “single” is not using the “childSku” at all as far as I remember (not being in front of my computer to check it right now ...) I think it makes sense to fix it at the origin - in the single action. However your fix is also just fine.

By this chance you might want to add code comments on how to use the action parameters correctly wdyt?

[2018-12-29 13:57] valeriish commented on #2116
This is workaround, i tried to update 'product/single' method, but it's affect on other logic.

[2018-12-29 14:58] pkarw commented on #2116
Thanks I’ll take a look at it later on I believe that we just should add a check if there is options.childSku set and pass this argument to configure some way but I must take a look at it

Your desired behavior is that call to single action will load parent product pointed out by ”sku” and them configure it to ”childSku” variant. Correct?

[2018-12-29 15:17] valeriish commented on #2116
Yes, you're correct

[2018-12-31 18:13] #1970 closed

[2018-12-31 18:15] #1956 closed

[2019-01-02 13:09] phoenixdev-kl commented on #2107
@pkarw Sorry I didn't manage to create a pull request last year. Thank you so much for fixing!

[2019-01-02 14:54] liborpansky commented on #1810
Have you created the PR? I was struggling with Vue Storefront API debug today (it should be probably part of [Vue Storefront API repository](https://github.com/DivanteLtd/vue-storefront-api), but there's already closed issue [no. 117](https://github.com/DivanteLtd/vue-storefront-api/issues/117)), finally I got it working. I'm not sure how you debug API with current settings, but according to [Node

[2019-01-02 22:19] phoenixdev-kl opened #2124 "Product attributes on product page: Extra space after every comma"
## Current behavior
Every product attribute value, which is a string and contains a comma, renders with an extra space after the comma in the front end. So for example "1,6" renders as "1, 6" or "Haken Zamak chrom matt  ø 1,6 cm, h 8,7 cm" renders as "Haken Zamak chrom matt  ø 1, 6 cm,  h 8, 7 cm". This behavior makes sense IMHO only for (multi)select attributes.

## Expected behavior
Non-(multi)s

[2019-01-03 09:34] pkarw commented on #2124
Thanks! The proposed approach is the right one. Please add the field in “default.json” and propose a pull request. Please use the “develop” branch as a source as there could be some conflicts with “master” config files at this point.

Thanks a lot!

[2019-01-03 16:50] phoenixdev-kl commented on #2107
@pkarw I've just noticed an unwanted side effect to this fix: Now another JavaScript error occurs in src/themes/default/components/core/ProductAttribute.vue, line 4:
[code]
In case _value_ is of type number, htmlDecode fails, as it tries to execute replace() on a number ("TypeError: html.replace is not a function").

We could either add .toString() in src/themes/default/components/core/ProductAttr

[2019-01-03 21:01] pkarw commented on #2107
Ok! I think we should add it in *.ts - previously (before this fix you’ve applied) the values were always of type string. So they should keep to this type

[2019-01-04 06:00] shelly28 opened #2128 "Error: Cannot find module '@vue-storefront/i18n/scripts/translation.preprocessor.js'"
yarn run v1.12.3
$ node ./core/scripts/entry
module.js:544
    throw err;
    ^

Error: Cannot find module '@vue-storefront/i18n/scripts/translation.preprocessor.js'
    at Function.Module._resolveFilename (module.js:542:15)
    at Function.Module._load (module.js:472:25)
    at Module.require (module.js:585:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (/home/shelly/proj

[2019-01-04 08:39] pkarw commented on #1975
We need to małe sure we’re loading also attributes listed in product.clnfogurable_optoons
The issue mentioned on Slack is caused by this issue probably https://vuestorefront.slack.com/archives/CA68P1JUF/p1546270863075300

[2019-01-04 08:44] pkarw commented on #1975
This line must be modified
https://github.com/DivanteLtd/vue-storefront/blob/6f187a646527b654bcfe1e79f558e258c2abf2cd/core/modules/catalog/store/product/actions.ts#L609

By adding the fields from configurable_options and/or switching off the “is_visible” “is_userdefined” filters. Maybe there is just an option like “is_configriable” in attribute collection?

[2019-01-04 08:45] pkarw commented on #1975
The attribute:list probably uses “OR” in query so maybe just extending the list of productFields will be enough - this is to be checked

[2019-01-04 09:51] ananth-iyer commented on #699
@pkarw 	I am working on this issue

[2019-01-04 11:16] danrcoull opened #2129 "Braintree Module"
## What is the motivation for adding / enhancing this feature?
There is no default online order module for payment gateways a recent project required braintree as a gateway, so ive implemented the braintree dropin to the checkout process, that works with magento 2 default braintree module, for both auth and auth and capture.

Works by creatting the gateway and then creating a payment nonce to subi

[2019-01-04 13:38] vue-kacper commented on #2128
Which node.js version? Should be latest LTS, right now 10.15.0

[2019-01-04 13:42] ananth-iyer commented on #699
@pkarw 	@filrak Please review my changes and let me know if you have questions

[2019-01-04 16:51] pkarw commented on #2129
This is awesome! @filrak we should definitely share it on our official SM

[2019-01-04 16:51] pkarw commented on #2129
... and add to the docs link to it and to the awesome list as well

[2019-01-05 18:13] Cyclonecode opened #2131 "Use separate setting for api url"
## What is the motivation for adding / enhancing this feature?

The configuration file uses absolute paths for each api endpoint. For instance:

[code]

Wouldn't it be more convenient to set the base url for the api in a separate configuration entry and then use relative paths for all endpoints? Something like this:

[code]

Not really sure that the above is a good idea so this is more a thought a

[2019-01-05 18:32] Cyclonecode commented on #2131
Agree and I understand that it will take some effort to actual change everything and at the same time make sure so old configuration files would work. I just thought about this from the beginning since it felt like I was repeating myself when changing the domain used for the api and so on. There is not really any reason to do this at the moment, but if you just had started working on this I had vo

[2019-01-05 21:16] pkarw commented on #2107
OK I've added this as I wass fixing some other bug related to ProductAttribute

[2019-01-05 21:46] pkarw commented on #2128
Try to run `yarn install` before running other commands

[2019-01-05 21:46] #2124 closed

[2019-01-06 20:29] pkarw opened #2134 "Implement KeyMetrics integration"
## What is the motivation for adding / enhancing this feature?

As we're using [PM2](http://pm2.keymetrics.io/) for production process management it would be nice to add the KeyMetrics integration for key metrices:

* SSR rendering time,
* API response times,
* API availability,
* ElasticSearch availability + response times
* other metrices for monitoring the SLA

## What are the acceptance criter

[2019-01-06 20:30] pkarw commented on #2131
Sure, I'm marking this as a feature request

[2019-01-06 20:32] pkarw commented on #2129
I've added https://github.com/frqnck/awesome-vue-storefront/pull/5 + will add it to our docs

[2019-01-06 20:57] pkarw commented on #2129
I've added it to the docs as well :)

[2019-01-06 20:57] #2129 closed

[2019-01-06 21:10] #2113 closed

[2019-01-07 04:10] moksahero commented on #764
hi I have been researching on this issue. I think I can work on those steps.

1. Installing VS and Magento on a server
https://divanteltd.github.io/vue-storefront/guide/installation/magento.html#integrating-magento2-with-your-local-instance

2. Add Algolia for Magento2 extension
https://community.algolia.com/magento/doc/m2/getting-started/

3. Setup index queue cron job to sync data between Magent

[2019-01-07 07:41] mojo2012 commented on #1810
But this is only for the frontend part right? But what about debugging the core?

[2019-01-07 09:42] danrcoull commented on #2129
Thanks :D

[2019-01-07 12:59] jahvi commented on #1810
Can confirm @ananth-iyer code works, not sure how it does without `--inspect` though.

@mojo2012 This should work everywhere in VS, or did you mean vue-storefront-api?

[2019-01-08 09:34] revlis-x opened #2141 "Custom Options on Configurable Products not working"
## Current behavior
I have Magento Configurable Product which also has Custom Options on the parent. This works fine in Magento, but in VSF even though the custom options are displayed the attribute selection of the child products dissappear since `product.errors` is populated with `{ "custom_options": null, "custom_options_customOption_XX": null }. `

![image](https://user-images.githubuserconten

[2019-01-08 09:37] pkarw commented on #2141
Hi thanks for this issue. The configurableOptions are currently suported only on the top level; so they're not supported on the configurable_children level. This is a feature request in that case

[2019-01-08 10:56] Cyclonecode opened #2142 "Service worker only generated for production"
## Current behavior
When running in dev mode with a valid SSL certificate I receive the following error in the console:

[code]

Looking at the `core/scripts/server.js`:

[code]

But only seems to be generated when building for production so when running in development of course I get a redirect to the not found page which causes the above error message.

## Expected behavior
No error message shou

[2019-01-08 11:08] pkarw commented on #2142
It's been fixed 2 days ago by me in "develop" - please check :)

[2019-01-08 11:36] Cyclonecode commented on #2142
@pkarw - Ah nice. i'm still using vs 1.5.0 and I am not really able to switch at the moment and that's the reason I didn't notice this =)

[2019-01-08 11:42] pkarw commented on #2142
OK, You can add just "yarn build:sw" to the "yarn dev" chain in package.json and that's all :)

[2019-01-08 11:43] #2142 closed

[2019-01-08 11:55] Cyclonecode commented on #2142
@pkarw - Yes I did and it seems to be working as expected - thank you very much =)

[2019-01-08 12:09] pkarw commented on #307
Hi there! We’ve just published PoC of WooCommerce integration: https://github.com/DivanteLtd/woocommerce2vuestorefront; there are still tasks to be completed - listed in the: https://github.com/DivanteLtd/woocommerce2vuestorefront/blob/master/TODO.md. Please feel free to contribute (MIT license)

[2019-01-08 13:14] pkarw commented on #764
I think it's a good approach. What I would suggest is that probably You need to create a new VS Module like "algolia-search" - and create a UI for search there (kind of https://github.com/DivanteLtd/vue-storefront/blob/master/core/modules/catalog/components/Search.ts). This new UI should call Algolia API methods thru Vuex datastore provided by this new module. Then You'd be able to use these UI co

[2019-01-08 16:50] #2099 closed

[2019-01-09 17:37] jimcreate78 opened #2148 "Extending Cart since changed to module"
Currently we have the cart store extended via coreStore.  This won't work correctly as the cart was moved to modules.

We need a way to extend the cart store from the module location.

[2019-01-09 18:51] pkarw commented on #2148
@filrak has got a solution for this case no worries :)

[2019-01-10 08:10] mcspronko commented on #1344
Hi @pkarw
Is there a plan to include this feature into the upcoming releases?
Thanks

[2019-01-10 09:48] pkarw commented on #1344
Hi @mcspronko! There is a partial solution for that waiting for changes after CR:
https://github.com/DivanteLtd/vue-storefront/pull/2130

Would it be helpful to Your case?

[2019-01-10 14:58] qiqqq commented on #2074
@Tjitse-E I checked this issue and in my opinion passing data from elasticsearch to VS store works ok. I added some meta_title and meta_description fields to categories and products and this shows in vuex and in computed properties eg: https://prnt.sc/m5ez7l

Steps that you did are ok and this should works so in my opinion there is something wrong with elasticsearch indexes but I havn't knowled to

[2019-01-10 17:08] pkarw opened #2156 "Extend the db tool for zero-downtime indexing"
## What is the motivation for adding / enhancing this feature?

 I think that would be great to add the `--destIndex` option to https://github.com/DivanteLtd/vue-storefront-api/blob/290b18c29996d0033d1f97d893fe9bf22e674e37/scripts/db.js#L7

After adding this feature You would be able to use the following sequence of commands:
`npm run db new -- --indexName=myTemporaryIndex`
`export INDEX_NAME=myTe

[2019-01-11 07:51] qiqqq commented on #2074
I changed the generation of title and description meta tags. Now this tags will be generated based on meta_title and meta_description fields if this fields occurs.

https://github.com/DivanteLtd/vue-storefront/pull/2158

[2019-01-11 08:38] #1152 closed

[2019-01-11 11:58] jorkvist opened #2159 "AMP Pages does not validate"
## Current behavior
On https://validator.ampproject.org you can validate AMP pages. I tested a few of the URLs:
https://demo.vuestorefront.io/amp/c/men-11
https://demo.vuestorefront.io/amp/p/MP01/caesar-warm-up-pant-742/MP01
And none of them validates.

## Expected behavior
Should validate correct.

## Steps to reproduce the issue
https://validator.ampproject.org
Or go to:
https://validator.amppro

[2019-01-11 12:01] jorkvist opened #2160 "Menu button not working on AMP"
## Current behavior
Clicking the menu button on a AMP page does not open any menu. Actually nothing happens.  https://demo.vuestorefront.io/amp/c/women-20

## Expected behavior
Menu should open.

## Steps to reproduce the issue
Goto: https://demo.vuestorefront.io/amp/c/women-20 and click the left menu button.

## Repository

# Can you handle fixing this bug by yourself?
NO

## Environment details

[2019-01-11 13:41] filrak opened #2162 "Split core/store cache per modules"
## What is the motivation for adding / enhancing this feature?

Split cache storage related code from `core/store/index.ts` into modules.
- content of `initStore -> `beforeRegistration`
- content of `plugin` -> `afterRegistration`
## What are the acceptance criteria

- module-specific content from `core/store/index.ts` is splitted into modules

# Can you complete this feature request by yourself?

[2019-01-11 20:14] #2121 closed

[2019-01-11 20:19] pkarw opened #2165 "Add Cart synchronization "kill switch" when the backend responds to slowly"
## What is the motivation for adding / enhancing this feature?

Because of it's nature the [serverPull](https://github.com/DivanteLtd/vue-storefront/blob/87c8df9c1c885538e8237d140a8c1e1148855298/core/modules/cart/store/actions.ts#L58) synchronization method can cause some UI malfunction when the results from Magento/other backend came too late. I mean - when pulling the cart takes 10-15s the user

[2019-01-11 20:25] pkarw opened #2166 "Add an example how to add custom REST backend"
## What is the motivation for adding / enhancing this feature?

We do have the [`searchAdapter`](https://github.com/DivanteLtd/vue-storefront/tree/develop/core/store/lib/search/adapter) abstraction layer for API backends. Would be great to add the `simplerest` API backend that DOES NOT require elasticSearch.

I mean - we should create a simple `vue-storefront-api` like API which is accepting the [

[2019-01-11 20:50] pkarw opened #2167 "Remove Elastic DSL / bodybuilder from frontend"
## What is the motivation for adding/enhancing this feature?

This is related to #2166
`bodybuilder` is about 200KB - and in fact the Elastic query DSL could be constructed 100% in the `vue-storefront-api`

In that case the [catalog.js](https://github.com/DivanteLtd/vue-storefront-api/blob/290b18c29996d0033d1f97d893fe9bf22e674e37/src/api/catalog.js#L81) endpoint no longer will be raw proxy but it

[2019-01-11 21:17] #2074 closed

[2019-01-11 21:45] pkarw commented on #2116
OK I found the problem and added an option `assignDefaultVariant` to have this side effect of the `single` - I mean the configured product as a result.

Now its:
`single (context, { options, setCurrentProduct = true, selectDefaultVariant = true, assignDefaultVariant = false, key = 'sku', skipCache = false })`

and in Your case You should call sth like:

[code]

[2019-01-12 15:20] filrak commented on #2148
Please take a look here https://docs.vuestorefront.io/guide/modules/introduction.html#extending-and-overriding-vue-storefront-modules. Maybe we should make this article more visible in the docs

[2019-01-12 15:37] #2111 closed

[2019-01-12 15:38] #2088 closed

[2019-01-12 15:38] filrak commented on #2081
I made a duplicate of this issue. Tomek Kikowski is working on It

[2019-01-12 15:38] #2081 closed

[2019-01-13 11:05] Quantomicus opened #2173 "Potential memory leaks"
## Current behavior
I have observed a constant rise in memory usage of vue-storefront while it has running.

## Expected behavior
For vue-storefront not to constantly eat up more and more memory on the server.

## Steps to reproduce the issue

1. Run vue-storefront (and vue-storefront-api)
2. Leave it running for a longer period of time
3. Observe results

![image](https://user-images.githubuserco

[2019-01-13 11:57] pkarw commented on #2173
Hi, thanks! This observation refers to `vue-storefront` either `vue-storefront-api`?

@tomasz-duda has already optimized the memory usage for `vue-storefront`. We probably need to dig a little deepr :)

If this problem is significant enough please set the `ecosystem.json` limit for memory usage in `pm2` + please turn on the `SSR cache` (more on this in our [docs](https://docs.vuestorefront.io/guid

[2019-01-13 12:00] pkarw opened #2174 "Add color swatches support"
## What is the motivation for adding / enhancing this feature?

Currently, we're displaying the color options using the [`color` attribute label](https://github.com/DivanteLtd/vue-storefront/search?q=ColorSelector.vue&unscoped_q=ColorSelector.vue). This is pretty limiting as in Magento2 users can define even picture based color swatches.

M2 API doesn't return the swatches. So the first problem is

[2019-01-13 12:13] Quantomicus commented on #2173
It appears to be related to `vue-storefront`. I have now enabled SSR cache and will report back with results after some time has passed.

[2019-01-13 13:07] filrak commented on #2173
@Quantomicus is this a develop branch?

[2019-01-13 13:10] pkarw commented on #2173
@filrak good point! @Quantomicus if this is develop - then would be great to get comparison data on Your env with the master; I mean - we've introduced lazy loading in the current develop and I'm just wondeirng if it could have caused this kind of issues (probably not)

[2019-01-13 13:26] filrak opened #2176 "Add typescript support server side"
## What is the motivation for adding / enhancing this feature?

We should allow typescript support server side (for VS, not api) in the same way es6 support is added (check scripts/entry.js) . Currently if the `entry.js` is used we are babeling all server files which is enabling es6 support but in the current version of babel we can't transpile typescript so migration to babel 7 is a part of this

[2019-01-13 13:50] filrak commented on #2176
done ;)

[2019-01-13 13:50] #2176 closed

[2019-01-13 14:09] Quantomicus commented on #2173
This is not develop, no. Sorry :(

[2019-01-13 16:04] pkarw opened #2178 "Product zoom picture is on the left"
## Current behavior

Shouldn't it be centered?
<img width="1424" alt="screenshot 2019-01-13 at 17 03 36" src="https://user-images.githubusercontent.com/211899/51087570-4b083980-1755-11e9-80bf-5801cd8c4fbd.png">

## Expected behavior

## Steps to reproduce the issue

## Repository

# Can you handle fixing this bug by yourself?

## Environment details

- Browser: Chrome - latest
- OS: Desktop, MacOS

[2019-01-13 16:31] #1975 closed

[2019-01-13 16:35] pkarw opened #2179 "Filters and attributes on Category page should be loaded dynamically"
## What is the motivation for adding / enhancing this feature?

Currently, You must set all available filters in the `config.products.defaultFilters`. It would be much better to load the list of the filterable attributes based on the search results (attributes of the products returned)

Related to #1975

As this change may affect the performance (much more attributes to be loaded) - we probably ne

[2019-01-13 18:44] Quantomicus commented on #2173
After some hours of running with SSR cache enabled, the rise in memory usage seems to be more gradual and the initial memory use is smaller as well, but there is still a consistent gradual rise of memory usage. I am confident I could stop this by limiting the memory usage, but I don't need to do that at the moment and I feel it is still worth it to investigate deeper.

[2019-01-14 09:40] valeriish commented on #2116
servercartAfterPulled method was updated please review

[2019-01-14 10:01] #2116 closed

[2019-01-14 10:58] jorkvist opened #2182 "Minify html + css"
## What is the motivation for adding / enhancing this feature?
The current index document is pretty long and just minify/compress the output of html and css in the document will save around 80% of the document size.

# Can you complete this feature request by yourself?
NO

## Additional information
Tested to paste the html document here: https://htmlcompressor.com/compressor/
And it gave a 88% sav

[2019-01-14 10:58] patzick commented on #2069
I've updated docs with PR [#2049](https://github.com/DivanteLtd/vue-storefront/pull/2049)
So i'm closing this issue.

[2019-01-14 10:58] #2069 closed

[2019-01-14 11:06] #2048 closed

[2019-01-14 11:45] pkarw commented on #2048
I haven’t seen in we’ve already put the rules into single Codingf Standard document? We should @patzick

[2019-01-14 11:48] pkarw commented on #2182
the simplest solution is to enable gzip in the proxy but we can also use some express.js proxy

[2019-01-14 11:48] pkarw commented on #2182
https://www.npmjs.com/package/express-minify

We should use it only in the production mode

[2019-01-14 13:44] filrak opened #2184 "Integrate Payment Request API as "instant checkout" option"
## What is the motivation for adding / enhancing this feature?

We should allow using Payment Request API as an alternative for current checkout. This task involves integrating everything except payments which will be handled by @dimasch
- totals
- shipping details
- items in cart

It should be done as a separate module (`instant-checkout` is a good candidate for name).
After finishing we should b

[2019-01-14 14:46] #1935 closed

[2019-01-14 16:39] phoenixdev-kl commented on #2107
IMHO we have to change

[code]
to
[code]

(return _parsedValues_ as an array) as otherwise computed function _value_ will return an empty string for select attributes.

[2019-01-14 18:59] pkarw commented on #2173
Ok, well try to profile it by the next chance

[2019-01-14 19:11] Quantomicus commented on #2173
I could use some instructions on how to do that, I found nothing related in the docs. Maybe I'm just not looking hard enough :)

[2019-01-14 21:48] Tammyslau29 commented on #2148
I am attempting to extend the core functionalities of modules/Cart following the guide above, however, it is overriding the core cart module and has replaced it with our module instead. For instance, I can no longer invoke the action cart/load, because it is now named <extended module id>/load. I am using the extend method on the Cart module, mimicking the example supplied in the guide.

Thank you

[2019-01-15 11:21] qiqqq commented on #1699
@thierry2015 Fix for this bug is now merged to master. Can you confirm this bug not occurs now?

[2019-01-15 11:32] kovinka opened #2195 ""Error placing an order" on Checkout"
## Current behavior
while placing an order, Magento 2 looks like quote sometimes is not saved/updated at that moment. As result API returns 500 error in `api/order/create` response "Error: Error placing an order"

http://demo.vuestorefront.io

<img width="1430" alt="screen shot 2019-01-15 at 10 33 34 am" src="https://user-images.githubusercontent.com/10535709/51176937-ea007300-18c6-11e9-8016-df5b5

[2019-01-15 14:59] thierry2015 commented on #1699
I will update the version during my next sprint and test it. If no update in 3 weeks, consider it done

[2019-01-15 21:22] jorkvist opened #2205 "Category slug/links throws errors"
## Current behavior
Clicking a category gives an error message saying the category is not available in offline mode (im not offline).

Settings:
      "useShortCatalogUrls": false,
      "useMagentoUrlKeys": false,
And "seo": { "useUrlDispatcher": false } (not sure what this one does)

When i check the request it says:
request: {“query”:{“bool”:{“filter”:{“bool”:{“must”:[{“terms”:{“slug”:[“fltlino

[2019-01-16 04:19] pkarw commented on #2205
Dynamic Categories prefetching (#2076). Starting with Vue Storefront 1.7 we've added a configuration option config.entities.category.categoriesDynamicPrefetch (by default set to true). This option switches the way the category tree is being fetched. Previously we were fetching the full categories tree. In some cases it can generate even few MB of payload. Currently with this option in place we're

[2019-01-16 04:19] pkarw commented on #2205
https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/upgrade-notes/README.md

[2019-01-16 04:20] pkarw commented on #2205
I think that in Your case the „categoriesDynamicPrefetch” need to be switched Off to maintain the previous behavior either You should reimport the products to set the url_key properly

[2019-01-16 10:45] filrak commented on #2182
@patzick afaik you've done it?

[2019-01-16 10:53] patzick commented on #2182
@filrak we we have less data now in html and css on SSR, but is still could be minified on server render output. I'll assign myself to to this

[2019-01-16 11:10] aimeos opened #2210 "404 for link in GraphQL docs"
In page https://docs.vuestorefront.io/guide/basics/graphql.html the link "More information on how to query the data" returns a 404

[2019-01-16 11:18] jorkvist commented on #2205
I updated and tried to use useMagentoUrlKey=true. Issue now is that wrong category is matched. I have multiple categories with something like: "X", "AA-X", and "BB-X". When i click the link of "X" it loads category "AA-X".

Seams like the issue is this one that is running when i click a category:
{“query”:{“bool”:{“filter”:{“bool”:{“must”:[{“terms”:{“url_key”:[“X”]}},{“terms”:{“is_active”:[true]}}

[2019-01-16 11:58] jorkvist opened #2211 "Wrong category is matched"
## Current behavior
I use useMagentoUrlKey=true. Issue is that wrong category is matched when i click a category in the menu. I have multiple categories with url_key something like: "XXXXXX", "AA-XXXXXX", and "BB-XXXXXX". When i click the link of "XXXXXX" it loads category "AA-XXXXXX".

Seams like the issue is this one that is running when i click a category:
{“query”:{“bool”:{“filter”:{“bool”:{“m

[2019-01-16 11:59] jorkvist commented on #2205
Thanks! Changed this. Got it kind of working but opened another issue for the new issue.

[2019-01-16 12:07] patzick commented on #2195
Hey @kovinka , yesterday we've updated master branch with 1.7 release. I cannot replicate your case. Could you check if it's still an issue for you?

[2019-01-16 12:19] kovinka commented on #2195
@patzick, cannot check, looks like some problems on https://demo.vuestorefront.io/, cleared all caches, but cannot open any page
<img width="960" alt="screen shot 2019-01-16 at 2 17 32 pm" src="https://user-images.githubusercontent.com/10535709/51248661-86934580-1999-11e9-906a-8d44271362f6.png">

[2019-01-16 12:23] patzick commented on #2195
Looks definitely like cache problem, because current files hash is `9e0d450bd6af8bbf9528`

Could you try again? Please go to `Application -> Clear storage -> Clear site data` and run `Ctrl+f5`/`CMD+r`

[2019-01-16 12:34] kovinka commented on #2195
@patzick, done, also tried to open in incognito mode, hash is is correct
<img width="1042" alt="screen shot 2019-01-16 at 2 31 41 pm" src="https://user-images.githubusercontent.com/10535709/51249347-ab88b800-199b-11e9-9934-4016fdd80480.png">

[2019-01-16 13:38] pkarw commented on #2205
PLease use the latest vs-api - I've fixed this TOday at 8:00am :) You need to run `yarn db rebuil`

[2019-01-16 15:49] #2162 closed

[2019-01-16 21:16] pkarw commented on #2211
This has been fixed today

[2019-01-16 21:17] #2211 closed

[2019-01-16 21:17] #2205 closed

[2019-01-16 21:20] vue-kacper opened #2216 "SSR problem on checkout page"
## Current behavior
App crash on page reload (checkout page)

## Expected behavior
Render checkout page or redirect to homepage without errors in console

## Steps to reproduce the issue
Visit (as guest): https://demo.vuestorefront.io/
Add product to cart
Proceed to checkout
When you are on "https://demo.vuestorefront.io/checkout" refresh page
You will be redirected to homepage (check error in con

[2019-01-16 21:40] pkarw commented on #2216
I had very similar issue and it was cache related - I mean I cannot reproduce this one - there is a checkout redirect to home page but everything works just fine. In ma case doing Clear Storage helped for that

[2019-01-16 21:54] vue-kacper commented on #2216
@pkarw I've reproduced this issue on 3 different win 10 machines (chrome 71) (https://demo.vuestorefront.io) I'm sure it's not a cache problem. Maybe it's Vue.js core problem connected with windows platform. Please check it on BrowserStack

[2019-01-16 22:32] pkarw commented on #2216
Sure; have You tested it on localhost + incognito window as well?
I've observed and noted some maybe related issue - when you've got products in the cart and doing ctrl+f5 Vue is generating the hydration issue as we're loading cart (car/load call) before the site has been hydrated; the problem doesn't exist when the shopping cart is empty @patzick - You've got this issue on Slack from me :)

[2019-01-16 23:01] vue-kacper commented on #2216
@pkarw I'm testing it right now and:

There is no problem on local env (yarn dev)

Problem appears only on production build (yarn build && yarn start)

Confirmed in icognito mode on localhost as well (latest, clean develop branch)

[2019-01-17 08:00] ananth-iyer commented on #2216
@pkarw Same error occurred on [demo.vuestorefront.io](demo.vuestorefront.io):
1. Login with test customer
2. Added items in cart
3. Clear browser cache - test on both normal & private browser window
4. Login to test customer
5. Page refresh - same console error
**DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method.**

#### Actual Result
1. Header bu

[2019-01-17 08:04] pkarw commented on #2216
Thanks! @patzick and @vue-kacper please make sure that Kacper’s solution solves this issue and if so please do a hotifx

[2019-01-17 09:42] patzick commented on #699
Thank you @ananth-iyer :)

[2019-01-17 09:42] #699 closed

[2019-01-17 10:02] ananth-iyer commented on #699
Hurray! I got my first PR merged to develop

[2019-01-17 10:05] patzick commented on #699
Yeah, that feeling is great! ;) Keep it up, it get's even better!

[2019-01-17 10:18] kovinka commented on #2195
Clicking on "Place the order" does nothing on orderReview step after placing the order and returning to checkout again, after reloading the page - button can be clicked (i think because of PR https://github.com/DivanteLtd/vue-storefront/pull/2133), @patzick could you please check it and after that i can try to reproduce it again

[2019-01-17 12:08] ananth-iyer commented on #1675
@pkarw I am working on it

[2019-01-17 12:34] ananth-iyer commented on #1675
@pkarw Magento - Bundle product items support 4 variants of input type - Drop-down, Radio buttons, Checkbox, Multiple Select.

So I am working on to supports all. Currently, VS only supports radio button.

[2019-01-17 12:40] pkarw commented on #1675
@ananth-iyer thats awesome! Thanks

[2019-01-17 12:50] aimeos opened #2221 "Magento specific: Tax rules"
The taxrules/index API that must be provided to vue.sf is highly Magento specific. Furthermore, the frontend shouldn't have to care about tax rules. Instead, the storefront Magento API should handle that internaly and pass the right prices to the PWA:
https://github.com/DivanteLtd/vue-storefront-integration-boilerplate/blob/master/1.%20Expose%20the%20API%20endpoints%20required%20by%20VS/Required%2

[2019-01-17 15:56] allenjwelch opened #2222 "Storefront API install issue - Windows"
## Current behavior
Attempting to install vue-storefront-api according to the documentation (https://docs.vuestorefront.io/guide/installation/windows.html#installation-of-vue-storefront-api).

When running $docker-compose up, docker-compose hangs and last output reads
 "kibana_1  | {"type":"log","@timestamp":"2019-01-17T15:45:41Z","tags":["status","plugin:elasticsearch@5.6.11","info"],"pid":1,"sta

[2019-01-17 21:16] filrak opened #2224 "Create multistore lib"
## What is the motivation for adding / enhancing this feature?

Group all features related to multistore in `core/lib/folder`

Feel free to ask me on slack about details :)

[2019-01-17 21:18] filrak opened #2225 "Move store/lib/search to core/lib/search"
## What is the motivation for adding / enhancing this feature?

As we are slowly getting rid of vs store package all the content from store/lib should be moved to core/lib folder. Since this one is pretty huge and have many imports it's a separate task

## What are the acceptance criteria

- `store/lib/search` is moved to `core/lib/search`
- all imports are corrected

[2019-01-17 21:26] filrak opened #2226 "Move store/types to core/types and use named exports"
## What is the motivation for adding / enhancing this feature?

In the process of getting rid of content from core/store types should moved and merged with core/types folder. We should also use named export instead of default one to have consistant naming across whole application

## What are the acceptance criteria

- Types from `core/store/types` are moved to `core/types`
- Types with default ex

[2019-01-17 23:05] filrak opened #2228 "Make OneSignal integration"
## Description

Create module integrating One Signal ( https://onesignal.com/ ) with Vue Storefront. It'll allow awesome service for Push Notifications
Feel free to ask me for details on slack if you have any questions

[2019-01-18 07:32] kruchy8 commented on #2226
I'll try it

[2019-01-18 08:02] pkarw opened #2231 "[Docs] Update the docs on ElasticSearch formats"
## What is the motivation for adding / enhancing this feature?

The docs are quite outdated. The second thing is that there should be a list of the minimal set of required fields. You can check which fields are required by doing kind of Find in Files across vue-storefront checking the `product.<something>` references - listing up this `<something>` and trying to put some comment of the type + purp

[2019-01-18 08:13] pkarw opened #2232 "Optimize the bundle size"
## What is the motivation for adding / enhancing this feature?

This is an open task. Each lib removed/replaced to make the overall bundle size smaller - is a win in here :)

[2019-01-18 08:31] talalus commented on #841
I'll try on this

[2019-01-18 08:41] CodeSkills commented on #1965
When this gets done, I'm able to make Laravel package so anyone can easily setup a Laravel Bridge -> VSF.

[2019-01-18 08:46] CodeSkills commented on #2166
I have to do some tweaks before publishing it within some repo. I will do so when someone PMs me that they want to continue or when I get time to do so. So feel free to PM me anyone if interested.

[2019-01-18 09:07] dennisotugo commented on #2103
Started work on this last year, almost done

[2019-01-18 09:19] lzgrzebski commented on #2228
will take this one

[2019-01-18 09:40] robwozniak commented on #1995
@filrak let me know if I can start working on this :slightly_smiling_face:

[2019-01-18 09:45] martaradziszewska commented on #2210
i will take this issue :)

[2019-01-18 09:46] lukeromanowicz commented on #2225
@filrak
What do we do with store/lib/search.ts and store/lib/types/search? Moving first one is obvious but types don't really match core/lib pattern

[2019-01-18 09:46] krzysztofkrakos commented on #1710
‘i’ll take this one

[2019-01-18 09:48] #1904 closed

[2019-01-18 09:48] #971 closed

[2019-01-18 09:56] vue-kacper opened #2234 "SSR problem on page reload (logged-in user)"
## Current behavior
App crash on page reload (any page) when user is logged-in

## Expected behavior
Page reload should't cause problems when user is logged-in

## Steps to reproduce the issue
Visit: demo.vuestorefront.io
Log in
Reload page

On local build you will get errors in console
On production build app will crash

[2019-01-18 10:08] bartdominiak opened #2235 "replace console.log with logger"
We should replace everywhere `console` with new helper `logger`, and also delete old `takeOverConsole` method

[2019-01-18 10:27] #1995 closed, assigned to filrak

[2019-01-18 10:33] jszczech opened #2237 "Syntax error in BaseSelect.vue"

[2019-01-18 10:56] lukeromanowicz commented on #2028
Related to #2239

[2019-01-18 10:57] lukeromanowicz commented on #2224
I'm on it

[2019-01-18 11:12] JKrupinski commented on #2060
I can try this one

[2019-01-18 11:18] jszczech commented on #1602
I'll do it.

[2019-01-18 11:31] mcspronko commented on #1758
I would like to work on this issue.

[2019-01-18 11:39] lukeromanowicz commented on #2226
@kruchy8 please ignore core/store/types/search as they were merged to core/store/search in #2225

[2019-01-18 11:42] jablpiotrek commented on #776
I'll start it

[2019-01-18 11:44] kszewczyk commented on #858
I'll take that

[2019-01-18 11:53] lukeromanowicz commented on #2179
@pkarw
some backends like Magento allow to define which attributes might be searchable and how to handle every one of them. Do we take it into account while developing this feature?

[2019-01-18 11:54] pkarw commented on #2179
We should. We do have this info in the attribute entities so we should get the attribute codes from products results and then load these attributes (attribute/list) and check which ones are used for filters

[2019-01-18 11:55] lukeromanowicz commented on #2232
I'm on it :)

[2019-01-18 12:26] wilfriedwolf opened #2244 "Docs: Fix images on guide/installation/magento.md"
## Current behavior
Image links are broken

## Expected behavior
They should appear

## Steps to reproduce the issue

## Repository
guide/installation/magento.md

# Can you handle fixing this bug by yourself?
YES

## Environment details

## Additional information

[2019-01-18 12:59] kruchy8 commented on #2226
@ lukeromanowicz I have already moved it into another folder, do you want me to revert this changes?
@filrak please include my account into collaborators

[2019-01-18 13:00] vue-kacper opened #2249 "Wishlist store module is not loaded on user sign out"
## Current behavior
When user is logged in, wishlist store module is not loaded by default. This is why on user logout we get "[vuex] unknown action type: wishlist/clear" error

## Expected behavior
Whishlist store module should be loaded by default

[2019-01-18 13:30] martaradziszewska opened #2251 "Add space between btn / 'sort-by' select - Mobile view"
## What is the motivation for adding / enhancing this feature?
Space between these two elements on mobile will improve view of the header.

## What are the acceptance criteria

# Can you complete this feature request by yourself?
YES

## Additional information
![image](https://user-images.githubusercontent.com/34887212/51389400-8ecfba00-1b2c-11e9-8912-5057bf56bfee.png)

[2019-01-18 13:32] lukeromanowicz commented on #2226
@kruchy8 well... the conflict is certain, the question is who's gonna resolve it :)

[2019-01-18 13:37] kruchy8 commented on #2226
I'm leaving it up to you guys

[2019-01-18 13:38] lukeromanowicz commented on #2226
@kruchy8 let's leave your version of code, I'll fix mine

[2019-01-18 13:39] kruchy8 commented on #2226
👍

[2019-01-18 15:06] jorkvist opened #2254 "Service worker is to eager to load .js and .gz"
## Current behavior
SW loads both .js and js.gz version:
![image](https://user-images.githubusercontent.com/5425824/51394357-7d8daa00-1b3a-11e9-9632-007c48f90d2c.png)

## Expected behavior
Just load one version of the file

## Steps to reproduce the issue
First load of a page.

## Repository
1.7

# Can you handle fixing this bug by yourself?
NO

## Environment details
- Browser: chrome latest
- OS

[2019-01-18 16:40] anqaka opened #2258 "Missing keyboard support for Account button and Cookie close button"
## Current behavior
Account button Cookie close button are not focusable and cannot be triggered with keyboard

## Expected behavior
those button should take focus and the actions should be triggered with keyboard

## Steps to reproduce the issue
Try to navigate with the keyboard and try to play with Account button in header or close button in cookie bar

# Can you handle fixing this bug by yourse

[2019-01-18 18:35] #776 closed

[2019-01-18 23:56] jorkvist commented on #2159
src/themes/default-amp/router/index.ts category missing layout on row 19.

[2019-01-18 23:57] jorkvist commented on #2159
src/themes/default/components/core/blocks/Header/MinimalHeader.vue change logo to amp-img tag.

[2019-01-19 00:33] jorkvist commented on #2159
core/pages/Product.js add on 238 a new canonical link:
        { rel: 'canonical',
          href: this.$router.resolve(localizedRoute({
            name: this.product.type_id + 'product,
            params: {
              parentSku: this.product.parentSku ? this.product.parentSku : this.product.sku,
              slug: this.product.slug,
              childSku: this.product.sku
            }

[2019-01-19 00:36] jorkvist commented on #2159
Add this in head section:
https://github.com/ampproject/amphtml/blob/master/spec/amp-boilerplate.md

[2019-01-19 00:41] jorkvist commented on #2159
thats whats needed todo for getting the page to validate

[2019-01-19 11:50] revlis-x opened #2262 "Clear Filter Button not working"
## Current behavior
In the mobile view of the filters, there is a "Clear"-Button to reset the filters. Clicking this returns a 500 Server Error from vsf-api and filters are not reset.

## Expected behavior
Category is reset to non-filtered view.

## Steps to reproduce the issue
This is reproducable on https://demo.storefrontcloud.io
-> click filter reset button on mobile view.

# Can you handle fi

[2019-01-19 18:49] vue-kacper commented on #2262
@pkarw done :)

[2019-01-19 18:53] #2262 closed

[2019-01-20 09:28] wadereye opened #2265 "Create translation for Chinese"
Hello,

I was surprised to find this project. I want to translate the language into Chinese. Can I do it?

[2019-01-20 09:34] pkarw commented on #2265
Sure, that would be great!

[2019-01-21 08:42] #2251 closed

[2019-01-21 08:42] #2234 closed

[2019-01-21 08:47] filrak commented on #2228
@idziakjakub please confirm your collaboration invitation and assign yourself ;)

[2019-01-21 08:48] #2225 closed

[2019-01-21 08:48] #2226 closed

[2019-01-21 08:48] #2224 closed

[2019-01-21 09:21] #2210 closed

[2019-01-21 09:36] aimeos commented on #2210
Link for "to create your own adapter" returns als 404 in https://docs.vuestorefront.io/guide/basics/graphql.html

[2019-01-21 12:32] pkarw opened #2268 "Add: Get Chrome / Firefox badge for IE users"
## What is the motivation for adding/enhancing this feature?

VS is not working great on IE (however it should work just fine on Edge :-)). We should rather display the modern browser recommendation instead of a broken website (as we do today)

[2019-01-21 13:08] ananth-iyer commented on #1675
@mcspronko I am working on it & half-way completed. Soon I will create PR.

[2019-01-21 13:20] mcspronko commented on #1675
Ok thanks, removed myself from Assignee.

[2019-01-21 17:25] filrak opened #2271 "Add packages with prefix vsf- to webpack process"
## What is the motivation for adding / enhancing this feature?

Currently none of the third party libs are processed through loaders in our webpack process. While it's ok for most of them it's not ok for 3rd party VS modules. They should he included into our webpack process.

This requires changing regular expressions for loader in `core/build` folder.

## What are the acceptance criteria

* `node

[2019-01-22 08:46] #2258 closed

[2019-01-22 13:25] #2174 closed

[2019-01-22 13:46] DaanKouters opened #2274 "extendModule config is not merged correctly"
## Current behavior
Nested store modules are not correctly merged when extending a module.

## Expected behavior
Nested store modules should be merged like extendStore in previous versions

## Steps to reproduce the issue

## Repository

# Can you handle fixing this bug by yourself?
Yes, i have a pullrequest ready

## Environment details

## Additional information

[2019-01-22 18:11] #2274 closed

[2019-01-23 15:50] aimeos opened #2277 "Error in GraphQL doc"
Link for "to create your own adapter" returns als 404 in https://docs.vuestorefront.io/guide/basics/graphql.html

[2019-01-23 20:34] jorkvist opened #2278 "Analytics module is not working"
## Current behavior
I added my analytics id in local.json and commented in the GoogleAnalytics in src/modules/index.ts.
But i don't see any data flowing into analytics.

## Expected behavior
Data should flow into google analytics

# Can you handle fixing this bug by yourself?
NO

[2019-01-23 23:00] jorkvist opened #2279 "First load on a product page is broken."
Browsing to a product page in incognito on an Android with latest chrome browser and the page is broken (missing product pictures and no links are working) . Suggest it's the same if not in incognito ie first load.

Tested with this product:
https://demo.vuestorefront.io/p/WS08/minerva-lumatech-trade-v-tee/WS08

[2019-01-24 22:16] jorkvist commented on #2279
Remote debug:
![image](https://user-images.githubusercontent.com/5425824/51712098-07071580-202e-11e9-81af-b0b5b053c637.png)

[2019-01-24 22:19] jorkvist commented on #2279
Remote debug
![image](https://user-images.githubusercontent.com/5425824/51712234-6a914300-202e-11e9-8cb5-ece5f97dd004.png)

[2019-01-25 04:29] grimasod opened #2283 "After checkout only a guest cart is created"
## Current behavior
After completing an order, the cart is cleared and a new guest cart is created. Even if the user was already logged in before placing the order, it's still a guest cart and is never converted to a logged-in customer cart.

## Expected behavior
When a new cart is created after an order is completed, it should be a logged-in customer cart if the user is already logged in.

## Ste

[2019-01-25 11:43] filrak commented on #2279
@pkarw is it solved?

[2019-01-25 18:14] jahvi commented on #2278
I'll have a look at this one if that's ok

[2019-01-25 20:16] jorkvist commented on #2279
@pkarw Are those fixes live on demo.vuestorefront.io? I still have the issue on that instant.

Can't get those fixes to work on my site so would be great if I can verify it on that.

Thx

[2019-01-25 20:47] pkarw commented on #2279
No, they're not yet - I've committed the fixes to `develop` branch so they're not ready to deploy as there are many other unstable features. Check this commit please: https://github.com/DivanteLtd/vue-storefront/commit/8ea9b0aee1e8f63dedf18304da820296decbeba7