[2019-05-28 09:07] 4aficiona2 opened #2981 "Web Components integration into Vue Storefront"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [X] I am running the latest version
- [X] I checked the documentation and found no answer
- [X] I checked to make sure that this issue has not already been filed

## Check our forum:
https://forum.vuestorefront.io/

# Is there something you don't understand? What is it? Describe it.

# Can't find wha

[2019-05-28 09:26] 4aficiona2 commented on #2979
Just found this "This part is depreciated and will be slowly migrated to modules and lib folder" comment in introduction.

Maybe this should be mentioned in the section itself too.
https://docs.vuestorefront.io/guide/vuex/introduction.html

[2019-05-28 09:36] Hackbard commented on #2637
@GabiDivante i was thinking of that too.
I would they to implement it just for simple products.

Did you consider that this can be a configurable thing? So you can provide within the .env files that you only want it for product type XY ?

[2019-05-28 09:42] pkarw commented on #2979
@kkdg could You please fix it?

[2019-05-28 09:57] dennisotugo commented on #2904
@sree8637 Do migrations for that store index

[2019-05-28 10:01] dennisotugo commented on #2698
@wh00527 Do you by any chance have defaultStoreCode set?

[2019-05-28 10:07] patzick commented on #2980
Thanks @globaltopmedia ! :)

[2019-05-28 10:07] #2980 closed

[2019-05-28 10:09] alinadivante commented on #2730
@dimasch @patzick unfortunately switching between above options (copy address data from shipping and use my billing data) still doesn't work correctly (form is cleared or address is not changed)

[2019-05-28 10:26] mdesmet commented on #2576
I have it working already, rest client has been extended a few days ago. Will submit a PR for APi and ui soon

[2019-05-28 10:31] Cheeerd opened #2983 "Cash on Delivery appears on storefront after page reload while disabled in magento"
## Current behavior
At first Cash on Delivery is not shown at payment methods in checkout, but after page reload it does.

## Expected behavior
After page reload payment methods should stay same.

## Steps to reproduce the issue
Cash on Delivery disabled in magento.
1) Open vue storefront in new browser/private window/after clearing local storage.
2) Add product to cart and go to checkout.
3) See

[2019-05-28 10:36] GabiDivante commented on #2637
I do not know how to solve it technically, @pkarw do you have any suggestions?

[2019-05-28 12:13] 4aficiona2 opened #2984 "docs.vuestorefront.io documentation does not reflect the recent .md doc files on GitHub"
## Current behavior

The current https://docs.vuestorefront.io/guide/modules/introduction.html does not reflect the most recent version of https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/modules/introduction.md.

## Expected behavior

https://docs.vuestorefront.io/guide/modules/introduction.html and the .md files on GitHub, e.g. https://github.com/DivanteLtd/vue-storefront/blob

[2019-05-28 12:17] nhp opened #2985 "Clear parts of local storage after deployment"
## What is the motivation for adding / enhancing this feature?
There should be a possibility for targeted local storage flushing. Like after a deployment or rebuild this could be needed to have the current information available at the client side. Right now it is up to the user to do so and that is not really helpful for getting updated stuff out to the browser.
If the user completely throws their

[2019-05-28 12:41] brgccf commented on #2904
Hi @sree8637 we were able to fix it by executing the steps we discussed on this thread on Slack: https://vuestorefront.slack.com/archives/CA68P1JUF/p1557923071162700.

If you have any more doubts, please let me know and I will ask my team that solved it and tell you something more specific.

[2019-05-28 13:40] ananth-iyer commented on #1620
@klapperkopp @filrak Please check the screenshot and let me know how can I make it use for multi-selection options in Bundle product:
![2019_05_28_Bundle_Product_selectionOptions](https://user-images.githubusercontent.com/24892273/58482262-b0484e80-817b-11e9-9aa6-5ed6929cd718.png)

https://github.com/DivanteLtd/vue-storefront/blob/cc4ce10e712e57dee54eb5bc1babac106df5fac7/core/modules/catalog/store

[2019-05-28 13:58] janmyszkier commented on #1692
@pkarw considering the 6.0 is not supported anymore according to https://www.elastic.co/support/eol maybe we should re-do this for 7.1 instead?

[2019-05-28 14:31] StasiekDivante commented on #2934
@alinadivante not sure what's the issue here, could you elaborate?

[2019-05-28 15:36] dennisotugo commented on #2985
+1

[2019-05-28 16:38] pkarw commented on #2983
Hi there! This is de-facto not an issue but ... a feature :) we’ll not well documented at last. I mean there is a module “payment-cash-on-delivery” that adds this method for the offline mode purposes and it’s solely independent from the Magento payment methods. Please disable this module by commenting it in the src/modules/index.js.

@kkdg can You please add a note on that in the recipes section i

[2019-05-28 16:38] #2983 closed

[2019-05-28 16:39] pkarw commented on #2979
Related to #2984

[2019-05-28 16:43] pkarw commented on #2976
Hi! Thanks for the feedback. VS sets the language based on the urls (/de, /it prefixes) or the http header / env variables etc. it doesn’t currently saves the language per user / browser. So I’m not sure if this is a bug but rather kind of feature request maybe?

Can You please describe Your desired behavior of VS core in this case? I mean You probably added some custom code or config to change th

[2019-05-28 16:44] pkarw commented on #2974
@filrak I bet we need Your feedback on that :)

[2019-05-28 16:45] pkarw commented on #2955
@kkdg and @filrak please update us on the progress - I belive there was only the domain issue left?

[2019-05-28 16:56] pkarw commented on #2637
Hi there! Thanks for this discussion - it’s important and was a good one :-) typically we’d need an additional popup for configurable to just let the user configure the product from the list view. As we don’t have it for the current default design I do propose to have some workaround: simples can be added from the list and in the case of configruables the button should be named like “Configure” or

[2019-05-28 18:47] #2709 closed

[2019-05-28 18:50] pkarw commented on #1692
Yes, it should more like: most recent stable Elastic version available :)

[2019-05-28 19:11] Hackbard commented on #2637
Sounds good to me. But then we need another ticket to make this popup

[2019-05-29 06:12] revlis-x opened #2987 "Product on Wishlist does not link to its variant when using URL Dispatcher"
## Current behavior
With URL Dispatcher on, when saving a specific product variant to the wishlist, link is not generated correctly (e.g. with ?ChildSku).

## Expected behavior
As before without URL Dispatcher - the wishlist product should link to its correct variant.

## Steps to reproduce the issue
1. Add non-default product-variation to wishlist
2. Open wishlist and click product, which only li

[2019-05-29 07:25] alinadivante commented on #2934
@StasiekDivante  I want to ask if you have any suggestions/ideas how we can do selection options for displaying the number of products columns on the category page?
Which solution is better?
![image](https://user-images.githubusercontent.com/36628922/58537591-71ee7600-81f3-11e9-82a8-856e10020aa6.png)
 or
![image](https://user-images.githubusercontent.com/36628922/58537615-803c9200-81f3-11e9-8dd4-d

[2019-05-29 07:51] StasiekDivante commented on #2934
I believe numbers are a better solution here, as the meaning of icons might not be clear in this case

[2019-05-29 09:23] alinadivante commented on #2811
@965750 Please add new PR and as we discussed - add icon next to Clear fillers :)

[2019-05-29 10:57] gopkumargopi commented on #2976
@pkarw If VS has multiple languages per store, and I assume it has, it should be changeable on after logged-in events somewhere right?

e.g. we have a single store setup i.e. `"multistore": false`, lets say we have set two locales as `"availableLocale": ["en-US","de-DE"]`. When we refresh the page, immediately after the authentication can't we just switch the language to one of the available ones

[2019-05-29 11:03] GabiDivante opened #2988 "Can not change the qty of the product in the cart using arrows (Firefox)"
## Current behavior

![Peek 2019-05-21 10-27](https://user-images.githubusercontent.com/49188852/58550778-d0751d80-820e-11e9-9978-0baac801c917.gif)
Currently, when I try to change the qty of the product in the cart using arrows - nothing happens. I have to click first on the input and then I can change the qty using arrows.

## Expected behavior

Product price is changing when I change the qty of

[2019-05-29 11:42] GabiDivante opened #2989 "'Country' label wrongly displayed (Firefox and Edge 17)"
## Current behavior

![Selection_058](https://user-images.githubusercontent.com/49188852/58553206-9c9cf680-8214-11e9-9985-73e23d7e3179.png)
The country label is wrongly displayed in every view, where it appears:
- My account -> My shipping details -> Edit your shipping details
- My account -> My profile -> Edit your profile
- Checkout -> Shipping section
- Checkout -> Payment section

## Expected

[2019-05-29 12:02] GabiDivante opened #2990 "The search sidebar is not entirely visible (Safari)"
## Current behavior

![Peek 2019-05-29 13-47](https://user-images.githubusercontent.com/49188852/58555122-f8697e80-8218-11e9-8cea-fac1301d9e2c.gif)
The left side of the search sidebar is partly hidden.

## Expected behavior

The search sidebar is entirely visible
![Selection_061](https://user-images.githubusercontent.com/49188852/58555618-33b87d00-821a-11e9-89e1-0c5243098387.png)

## Steps to repr

[2019-05-29 12:24] GabiDivante opened #2991 "Instant Checkout visible on Safari 11.1-12.x"
## Current behavior

Instant Checkout option is available on Safari browser (versions 11.1-12.x). If I click on the button "Instant checkout" nothing happens.
![Peek 2019-05-29 14-06](https://user-images.githubusercontent.com/49188852/58556719-ec7fbb80-821c-11e9-9ac5-b9339cdf0564.gif)

## Expected behavior

Instant Checkout option is not visible on Safari browser.

## Steps to reproduce the issue

[2019-05-29 12:34] kkdg opened #2992 "Cookbook"
# Summary
[summary]: #summary

Writing a cookbook style guides for Vue Storefront in ./docs folder

# Motivation
[motivation]: #motivation

This helps a lot for new comers to wrap their heads around how to use Vue Storefront to their advantage.

# Guide-level explanation
[guide-level-explanation]: #guide-level-explanation

It explains the step-by-step guides with respect to how to start Vue Storef

[2019-05-29 12:37] kkdg commented on #2992
I am currently working on Data imports.

Data imports consists of a few recipes including :
- Introduction (done)
- Data Migration for Elasticsearch (done)
- Data pump (doing)
- Data imports and tools (not done)

[2019-05-29 14:22] bellodaniel opened #2993 "Product Images not visible on PDP"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [ X] I am running the latest version => yes
- [X ] I checked the documentation and found no answer => yes
- [ X] I checked to make sure that this issue has not already been filed => yes
Also asked for help on the slack #help channel.
## Check our forum:
https://forum.vuestorefront.io/

# Is there som

[2019-05-29 14:22] bobcho opened #2994 "Product configurable options - can’t add the same SKU with different configurations to the cart"
## Current behavior

When adding a product to cart 2 or more times, each time with different custom options which normally have different prices, the calculated total price is wrong.

## Expected behavior

Тhe total price should be the sum of the prices for each product/options pair added to cart. Instead the price ends up being the quantity multiplied by the price of the last added to cart produc

[2019-05-29 20:05] pkarw commented on #2992
I really love this idea. The first cook book also looks great. Would awesome to have at least first one ready for the 1.10 release (19.06.2019) to show the direction. Looking at the progress you currently have it looks like well gonna make it :-)

[2019-05-29 20:08] pkarw commented on #2976
Ok, so I belive it’s still possible to just switch the i18n. Take the multistore.ta: prepareStoreView as a reference. Seemingly VS is calling it with default store view by the SSR reload. It doesn’t look like a bug - you can always programmatically overrode the current i18n just after page reload from the theme or module level. If you meant to add some core feature for that please let us know how

[2019-05-29 20:11] pkarw commented on #2994
This is related to #1620 and the way we’re identifying clients side configurable/bundle products with data we get from the server during the server sync (cart/serverAfterPuled action)

[2019-05-29 20:14] pkarw commented on #2993
Please try adding  your domain dev23.m2.local to “allowedHosts” in the config

[2019-05-29 20:14] #2993 closed

[2019-05-30 03:31] kkdg commented on #2992
A little daunting task with the deadline, but let's try and shoot

[2019-05-30 03:32] kkdg commented on #2992
A little daunting task with the deadline, but let's try and shoot ;)

[2019-05-30 11:53] 965750 commented on #2811
@patzick @alinadivante @pkarw here's new PR with icon added https://github.com/DivanteLtd/vue-storefront/pull/2996

[2019-05-30 12:16] alinadivante commented on #2869
@pkarw  I checked it on release/2513 but still I'm able to reproduce this issue.
I need to switch to other tab in my browser and return to Shopping cart to view DPD Courier information (for products with a lower price than the minimum order amount for free shipping)

[2019-05-30 12:55] #2896 closed

[2019-05-30 13:00] #2892 closed

[2019-05-30 13:19] alinadivante commented on #2964
Something is wrong when I try remake really big order (94 items)..  Look at minicart-counter
![big_order](https://user-images.githubusercontent.com/36628922/58635456-3edcdd00-82ee-11e9-940b-bc13ab875e7e.gif)

[2019-05-30 15:51] alexryall commented on #2662
I have the same error. Only files generated on linux in the dist folder are:
core-service-worker.js  index.amp.html  index.basic.html  index.html  index.minimal.html  service-worker.js

On mac a lot more files are generated such as dist/vue-ssr-client-manifest.json and the server starts with errors.

[2019-05-30 19:57] Jensderond commented on #2955
I believe this one can be closed @pkarw?
Or wasn't this part of the move to Zeit

[2019-05-30 20:03] pkarw commented on #2955
@Jensderond yeah, AFAIK it was! So I’m closing this one :)

[2019-05-30 20:03] #2955 closed

[2019-05-30 20:12] pkarw commented on #2964
Ok, it’s on the branch 2513 right?

[2019-05-30 20:32] pkarw commented on #2869
Ok, which product should I add to cart to reproduce this one on my env?

[2019-05-30 20:55] pkarw commented on #2984
Fixed!

[2019-05-30 20:55] #2984 closed

[2019-05-30 20:59] pkarw commented on #2979
@kkdg I think It would be even better to just remove the outdated Vuex docs Asmara for now rather than confuse the user with broken links / outdated specs wdyt?

[2019-05-31 05:12] alinadivante opened #2997 "Some products added to Shopping cart have a price without tax in offline mode."
## Relates to #2896

## Current behavior
Some of available products (e.g. Leah Yoga Top) added to shopping cart, display price without tax in offline mode
![offline_mode](https://user-images.githubusercontent.com/36628922/58683080-6b870800-8373-11e9-94ca-2f312ea2bf7f.gif)

## Expected behavior
The price should always be displayed with tax.

## Steps to reproduce the issue
1, Add any product, for e

[2019-05-31 05:27] alinadivante commented on #2869
@pkarw Simply add a product under $ 20, e.g. Sprite Foam Yoga Brick

[2019-05-31 05:29] alinadivante commented on #2964
Yes @pkarw - feature/2513

[2019-05-31 07:00] pkarw commented on #2997
Fixed on a branch #2887

[2019-05-31 07:21] bobcho commented on #2994
This needs to be handled in multiple places. Most mutations in cart/store/mutations.ts and some methods in cart/store/actions.ts only identify products by only verifying its SKU. I suggest product_option.extension_attributes.custom_options be taken in account as well. This should allow for multiple cart items having the same SKU.

[2019-05-31 08:30] pmaojo commented on #2934
I agree

[2019-05-31 08:47] pkarw commented on #2560
Probably fixed in the https://github.com/DivanteLtd/vue-storefront/pull/2887

[2019-05-31 08:48] pkarw commented on #2964
OK, I've refactored it a little bit https://github.com/DivanteLtd/vue-storefront/pull/2887

[2019-05-31 10:47] cewald commented on #2933
Just for the records and backlinks I had this problem described in the forum too (the fix works):
https://forum.vuestorefront.io/t/product-links-route-to-home-with-offline-message/296

[2019-05-31 12:31] bobcho commented on #2994
@pkarw, what is a proper way to identify product taking in to account the options? I'm using this for time being, it works, but I'm not confident its the best approach:

`state.cartItems.find(p => p.sku === product.sku && JSON.stringify(p.product_option) === JSON.stringify(product.product_option))`

[2019-05-31 15:17] kkdg commented on #2979
@pkarw duly noted. It will be updated in the next rollout, I will remove them as appropriate as possible.

[2019-05-31 15:57] glevhen commented on #2881
@alinadivante @pkarw  it's not bug, you just should update your config/default.json or config/local.json and set is as a default, vs takes shipping methods from config file not from magento
replace shipping node via
`
"shipping": {
    "methods": [
      {
        "method_title": "Title",
        "method_code": "bestway",
        "carrier_code": "tablerate",
        "amount": 0,
        "price_exc

[2019-05-31 21:48] michhy opened #3004 "PLEASE HELP!cannot launch the vsf app on server. Localhost:3000 redirecting to /error"
Hello,
I followed the instruction to setup production site on AWS server,
but failed to show the VSF site.
it keep showing redirection loop
(if i changed the location in the file inside sites-available to other ports, that will display correctly)
I checked port 3000 is running on my ubuntu server
Not sure what happen. PLEASE HELP!

Thanks
![螢幕截圖 2019-06-01 上午5 45 03](https://user-images.githubuser

[2019-06-01 04:53] pkarw commented on #2869
OK, it seems like for this product Magento is returning empty shipping methods list: https://www.dropbox.com/s/lphljlvdq3hx51k/Screenshot%202019-05-31%2009.22.15.png?dl=0

I've changed the business logic to calculate the totals without the shipping info

[2019-06-01 04:55] michhy commented on #3004
Please help!

I have tested the app all fine on local machine thus i follow the production guide to launch on server.

Nginx ssl is all set, i have testes myURL.com/api is working fine!
BUT myURL.com/ cause redirect loop.

I do: curl localhost:3000 on server and it returned:

FOUND. Rediecting to /error

Can anyone please help? As i need to launch the shop asap.

Thanks in advance!
It showed the a

[2019-06-01 05:06] pkarw commented on #2994
Hi! Thanks for Your input @bobcho. It's probably one of the ways to solve this issue. I like it because it's pretty general and will also work for the situation of different custom_options  with the same SKU in cart. However, going this way the final implementation probably should use the kind of specific `product.chcksm` property which contains a hash of the `product_options` - to avoid `JSON.str

[2019-06-01 05:21] pkarw commented on #3004
Please make sure Your server app has the connectivity to the ElasticSearch

[2019-06-01 05:23] pkarw opened #3005 "Add error logging for ElasticSearch connectivity issues"
## What is the motivation for adding / enhancing this feature?

Related to: #3004
Currently, we just redirect the user to the error page when SSR mode has no connectivity to Elastic without any specific error message.

## What are the acceptance criteria

- [ ] Console error is shown regarding the Elastic issues

## Can you complete this feature request by yourself?

- [ ] YES
- [ ] NO

## Which [

[2019-06-01 05:30] pkarw commented on #1477
Please note the comment: https://github.com/DivanteLtd/vue-storefront/pull/2843#issuecomment-497914800

[2019-06-01 05:55] michhy commented on #3004
Thank you @pkarw.
May I have a little bit more information on how to test if elastic search is running?

Thanks so much.

[2019-06-01 09:04] michhy commented on #3004
Hello.

I have revised the elasticsearch and seems they are all ok in local.json.

But it still redirecting to /error....

Please let me know what to check next :(

Thanks a lot for your help!
![螢幕截圖 2019-06-01 下午5 02 22](https://user-images.githubusercontent.com/37435427/58746285-45ef2100-848f-11e9-9fb2-2abc90d40570.png)
![Uploading 螢幕截圖 2019-06-01 下午5.02.36.png…]()

[2019-06-02 09:11] michhy commented on #3004
I tried to remove the redirect /error from core/scripts/server.js,
and it show cannot GET / on the page.
![螢幕截圖 2019-06-02 下午5 09 53](https://user-images.githubusercontent.com/37435427/58759244-6be0f800-8559-11e9-8991-7c8c3b4b6051.png)

Really stuck at this point, not sure how to make the app live :(

[2019-06-02 09:36] jahvi commented on #2271
I haven't had any luck with this unfortunately, I also wonder if the best approach here would be to make it easier for 3rd parties to compile their TS code before publishing modules/extensions, maybe by providing a boilerplate or step by step instructions.

Maybe someone with more experience with TS could help.

[2019-06-03 06:44] cewald opened #3007 "Docker container exits on start while `yarn build:client`"
## Current behavior
The app docker container won't start anymore. It exits after the image build, during the start, while running `yarn build:client`.

Error message:
[code]

It works without this error if started via `yarn` outside docker.

## Expected behavior
Just build and start the container to run the app in a container.

## Steps to reproduce the issue
[code]

## Repository

`develop`

## C

[2019-06-03 07:01] bobcho commented on #2994
Thanks for the feedback!

Good point about the checksum - do you think it should represent only product_option or better to have a more "global" checksum representing the product itself (also taking SKU in account)? Something like:

`product.chcksm = sha3_224(JSON.stringify({sku: product.sku, product_option: product.product_option ? product.product_option : null}));
`

I may be wrong as I've not c

[2019-06-03 07:25] ZeevGerstner commented on #2966
I test it now, and I got a userId on request payload when clicked Place the order, after creating new account from checkout like you wrote. Tried to reproduce it like you wrote above. Am I missing something?

[2019-06-03 07:43] alinadivante commented on #2881
Ok, I changed the local configuration and you're right @glevhen, but anyway, I think that displaying $NaN in this situation is not right

[2019-06-03 08:31] ZeevGerstner commented on #2818
Glad to help :) Did you guys merged this to the master?

[2019-06-03 08:36] pkarw commented on #3007
Hi! Thanks for Your input. Could You please provide us with a Pull Request?

[2019-06-03 08:42] cewald commented on #3007
After some research this morning, I noticed it's caused by the missing `yarn.lock` file in the Docker image. If i add it like `COPY yarn.lock ./` in `docker/vue-storefront/Dockerfile`, it works.

Is I saw in the opened PR's, @Flyingmana already made an PR for this: #3006
So, if this goes through, this can be considered as done.

[2019-06-03 08:42] #3007 closed

[2019-06-03 08:45] #2915 closed

[2019-06-03 08:46] pkarw commented on #2639
This should've been fixed by #2887 - can You please test it QA team? :)

[2019-06-03 08:54] pkarw commented on #2888
I belive we just put the form into <no-ssr> tag

[2019-06-03 08:57] pkarw commented on #2733
I think we should just add a label like: "Quantity (50 available)" by the input field. It should be taken from the `stock/check` request

[2019-06-03 09:00] pkarw commented on #2863
We should keep only one single picture in the offline mode without the Gallery component at all.

[2019-06-03 09:01] pkarw commented on #2872
It was related to shipping methods and it's been probably fixed by #2887 could You please check it?

[2019-06-03 09:02] patzick commented on #2863
@przspa please take a look if your component is used here. Also in offline mode there should not be zoom option.

[2019-06-03 09:21] alinadivante commented on #2872
yeah, works fine! :)

[2019-06-03 09:23] #2872 closed

[2019-06-03 09:24] alinadivante commented on #2869
@pkarw Now Shipping & Handling is immediately displayed, but the minimum order amount for free shipping is not taken into account

[2019-06-03 09:41] alinadivante commented on #2639
@pkarw Please look at the counter on my gif..
![my](https://user-images.githubusercontent.com/36628922/58792490-9633c380-85f4-11e9-828c-d43ca24dccf8.gif)

[2019-06-03 10:28] michhy commented on #3004
I ran Npm run dev and its showing on live.
clearly its not loading the backend.
I am not sure what setup was incorrect...

[2019-06-03 11:21] michhy commented on #3004
npm is not working now either, it shows up some error:
![螢幕截圖 2019-06-03 下午7 20 42](https://user-images.githubusercontent.com/37435427/58798274-c8fdac00-8634-11e9-8c17-f5de00109e2e.png)

[2019-06-03 11:56] Cyclonecode commented on #3004
How does your `storeViews` configuration look?

[2019-06-03 13:33] michhy commented on #3004
Hi @Cyclonecode ,
Please see the attached screenshot, many thanks!

![螢幕截圖 2019-06-03 下午9 32 35](https://user-images.githubusercontent.com/37435427/58805716-34507980-8647-11e9-8e5d-e5b25d44a184.png)

[2019-06-03 14:02] Cyclonecode commented on #3004
Why have you multistore set to true if you only have a single store? Can you also verify that you are using the same node/npm versions on both local and production environment?

[2019-06-03 15:16] michhy commented on #3004
Dear @Cyclonecode , Thanks for your reply!

I have upgrade the server node + npm version to sync with my local machine, change  multi storeview to false for now, remove 'dist' for both VS and VSF, yarn build and yarn start for both again.

but the error still showing up....  when I curl localhost:3000
"Found. Redirecting to /error"

[2019-06-03 15:30] michhy commented on #3004
This is the server log.
not sure if this causeing it error?
and i donno which file to fix :(

![螢幕截圖 2019-06-03 下午11 28 42](https://user-images.githubusercontent.com/37435427/58813994-7da8c500-8657-11e9-8e47-6318c6544732.png)

[2019-06-03 15:35] 4aficiona2 commented on #2984
Thanks!

[2019-06-03 23:09] prodiginesia opened #3009 "Woocommerce Inyegration"
## What is the motivation for adding / enhancing this feature?

## What are the acceptance criteria

- [ ] ...

## Can you complete this feature request by yourself?

- [ ] YES
- [ No ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

- [x] This is a normal feature request. This should be availab

[2019-06-04 07:59] alinadivante commented on #2997
Yes, it works now.
But @pkarw please look at this:
![discount](https://user-images.githubusercontent.com/36628922/58861490-c9d32400-86ae-11e9-94d2-07c4f7a61cdf.gif)
There is only a new price of product, but when I go offline I see also price before the discount.
In my opinion we should displaying previous price and after discount.
Am I right?

[2019-06-04 08:23] pkarw commented on #2997
@alinadivante yeah, it should work like this but it's not possible to implement it in a deterministic way. I mean - we get the prices from Magento backend, calculated after all the shopping cart rules. In the offline mode, we're never sure the price after discounts as they can't be calculated. Therefore it's safer to display the prices without the discount

[2019-06-04 08:23] #2997 closed

[2019-06-04 08:23] pkarw commented on #3009
Hi There! We do have a PoC of the integration: https://github.com/DivanteLtd/woocommerce2vuestorefront. However it's not actively maintained and no further works are planned

[2019-06-04 08:55] alinadivante commented on #2964
Nice job!

[2019-06-04 09:14] #3009 closed

[2019-06-04 09:29] pkarw opened #3011 "Add support for api.url in the Task module"
## What is the motivation for adding / enhancing this feature?

Currently, we do support the base API url (`config.api.url`) only for the `/api/catalog` endpoint. We can easily extrapolate this support to all the API requests by modifying the `task.ts` module

## What are the acceptance criteria

- [ ] All endpoints (`cart.*`, `user.*` ...) can be configured using relative paths instead of full ur

[2019-06-04 09:31] pkarw commented on #3005
We should log the errors in the `quickSearchByQuery` function - but only in the `isServer = true` mode. Otherwise - we can have the situation of `offline mode` category browsing in which no errors should be reported (as currently are)

[2019-06-04 09:46] alinadivante opened #3012 "Wrong price is displayed for discount products."
## Current behavior
After adding discounted product to the cart, there is only a new price (with discount), but when I go offline I see also price before the discount.

![discount](https://user-images.githubusercontent.com/36628922/58869360-5c2ef400-86be-11e9-8a87-a92dca0839d3.gif)

## Expected behavior
We should displaying price without discount.

## Steps to reproduce the issue
1. Add to cart Jo

[2019-06-04 11:14] cnviradiya commented on #2951
Yesh @ResuBaka
It's great if an add anchor link

@jablpiotrek, Should I generate PR for the same?

[2019-06-04 12:56] pkarw commented on #3012
Fixed in the https://github.com/DivanteLtd/vue-storefront/pull/2887

[2019-06-04 12:57] pkarw commented on #2977
Please check our forum or move this question to it in order to get the quick answer: http://forum.vuestorefront.io

[2019-06-04 12:57] #2977 closed

[2019-06-04 15:07] Murajima opened #3016 "Making multistore feature to work"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [OK] I am running the latest version
- [OK] I checked the documentation and found no answer
- [OK] I checked to make sure that this issue has not already been filed

# Is there something you don't understand? What is it? Describe it.
Hi,
I am trying to implement my multistore setup with you vue-store

[2019-06-04 19:32] pmaojo commented on #2460
This is still an issue.
![Captura de pantalla 2019-06-04 a las 20 21 53](https://user-images.githubusercontent.com/411551/58907736-c53a5a00-8706-11e9-870b-178c3e7ceaf0.png)

It is obvious that there are repeated names becouse those categories exist, being children of different parent caregories.

It could be a good thing to come up with a solution that provides the user more info (displaying paren

[2019-06-05 07:19] Murajima commented on #3016
My bad, it seems that we have to write http://localhost:8080/api/catalog inside the host key.

[2019-06-05 07:19] #3016 closed

[2019-06-05 07:27] alinadivante commented on #2757
When using arrow buttons or  circle icons - animation is played
When using color icons - pictures are switched without animation

[2019-06-05 08:51] alinadivante commented on #3012
@pkarw without changes for products with **Special Price** (e.g. Joust Duffle Bag)

[2019-06-05 09:03] benjick opened #3018 "Can't run docker-compose on latest master"
## Current behavior
Not possible to start a clean install from `master` branch in docker with `docker-compose up`

[code]

## Expected behavior
The codebase should compile

## Steps to reproduce the issue
* Clone `vue-storefront` repo
* Run installer
* `docker-compose up`

## Repository
https://github.com/DivanteLtd/vue-storefront

## Can you handle fixing this bug by yourself?

- [ ] YES
- [x] NO

[2019-06-05 09:13] alinadivante commented on #2934
@vishal-7037 IMHO products column change functionality is located in wrong place and it doesn't look good. Maybe we can move it a little bit closer to Sort by option? (but at the same time remembering about changes from issue #2935 )

[2019-06-05 09:20] StasiekDivante commented on #2934
@alinadivante could you share a screenshot how it looks now?

[2019-06-05 09:22] alinadivante commented on #2934
@StasiekDivante
![image](https://user-images.githubusercontent.com/36628922/58945465-32d89b80-8784-11e9-9c4e-413ad534698d.png)

[2019-06-05 09:23] pmaojo commented on #2460
@pkarw
What do you think?

[2019-06-05 09:24] StasiekDivante commented on #2934
@alinadivante yeah, just go on and move it closer to **sort by**

[2019-06-05 09:25] pmaojo commented on #2934
I suggest also aligning both inputs horizontally with the title "Women"

[2019-06-05 09:28] StasiekDivante commented on #2934
![Screenshot 2019-06-05 at 11 27 41](https://user-images.githubusercontent.com/37068687/58945859-f5c0d900-8784-11e9-9bf5-941e8f7b18f8.png)
Sure thing @pmaojo! I made a simple graphic to help you with this

[2019-06-05 09:28] vishal-7037 commented on #2934
@alinadivante , @StasiekDivante
Okay, Working on it.

[2019-06-05 09:30] pmaojo commented on #2934
![Captura de pantalla 2019-06-05 a las 10 30 08](https://user-images.githubusercontent.com/411551/58946034-f5244480-877c-11e9-8fdd-66f9cc6dd199.png)

[2019-06-05 09:31] pmaojo commented on #2934
@StasiekDivante yes :D

[2019-06-05 09:39] StasiekDivante commented on #2934
@pmaojo tbh It would be more visually pleasing if you had text lying on one baseline (check img from my previous post), I wouldn't mind underlines going beneath this text baseline 😄

And vertically it's perfect!

[2019-06-05 09:43] vishal-7037 commented on #2934
@StasiekDivante ,
So no need to work on alignment issue. right?

[2019-06-05 09:47] StasiekDivante commented on #2934
Hey @vishal-7037, this is how it is now:
![is](https://user-images.githubusercontent.com/37068687/58947189-b647bc00-8787-11e9-9f00-b1c72ca4d4be.png)

and that's how it should be:
![should](https://user-images.githubusercontent.com/37068687/58947198-bcd63380-8787-11e9-9d33-c5fd96c0b913.png)

[2019-06-05 09:48] vishal-7037 commented on #2934
@StasiekDivante Okay, Got it.

[2019-06-05 09:49] StasiekDivante commented on #2934
@vishal-7037 sure, it just needs vertical and horizontal alignment

[2019-06-05 10:00] GabiDivante commented on #2558
hi @mdesmet @patzick I tested changes on develop branch and an error appears when I try to subscribe newsletter from the footer or by changing preferences in my account (link to localhost)
![Selection_071](https://user-images.githubusercontent.com/49188852/58947926-4cc8ad00-8789-11e9-9e0e-22b98067326d.png)

[2019-06-05 10:02] alinadivante commented on #2934
@vishal-7037 Please remember to take into account changes regarding: #2935
Sort by will be looks like on this screenshot
![image](https://user-images.githubusercontent.com/36628922/58948014-7f72a580-8789-11e9-9764-7d5ee0588054.png)

[2019-06-05 10:32] pkarw commented on #2522
Partially done within https://github.com/DivanteLtd/vue-storefront/pull/2887/files:

- fully utilize ES6+ features like async and await, maps etc; use const instead of let where let is not necessary
- keep in mind that actions are asynchronous and usually should return a promise whenever there is an async dispatch in an action
- no direct getting values to a global state from a scoped store - use

[2019-06-05 12:35] GabiDivante commented on #2560
@pkarw I've been testing this issue on the newest version of your branch - problems reported by Alina no longer occur :)
But we have got one new issue now - 'remake order' doubles the product quantity in the order:
- sometimes it is visible in the checkout summary
![Peek 2019-06-05 14-22](https://user-images.githubusercontent.com/49188852/58956632-1302a100-879f-11e9-8043-8cbc9fbe3566.gif)

- but o

[2019-06-05 12:55] pkarw commented on #3018
could You heck it out @patzick please?

[2019-06-05 13:28] pkarw commented on #2639
Fixed in the #2887

[2019-06-05 13:28] #2639 closed

[2019-06-05 13:30] pkarw commented on #3012
Then the product has "static" special price (catalog rule) it could be showed in totals safely. We can't show the dynamic special prices (cart rules)

online mode:
https://www.dropbox.com/s/u02955txmbkhmpv/Screenshot%202019-06-05%2015.29.42.png?dl=0

offline mode:
https://www.dropbox.com/s/o88dfagx7mhdc5q/Screenshot%202019-06-05%2015.30.30.png?dl=0

This product has special price of 32 - set via c

[2019-06-05 13:30] #3012 closed

[2019-06-05 13:33] pkarw commented on #2560
Could You please re-test? I've been working all day Today on this PR so it might been some side effects of the other fixes. Currently I can't reproduce this error

[2019-06-05 13:35] pkarw commented on #2869
We got the values from Magento:

[code]

[2019-06-05 13:35] #2869 closed

[2019-06-05 13:40] pkarw commented on #3004
Let's move this issue to the forum please :) https://forum.vuestorefront.io

[2019-06-05 13:40] #3004 closed

[2019-06-05 13:41] #3005 closed

[2019-06-05 13:43] pkarw commented on #2988
@przspa @GabiDivante is it ready to be closed?

[2019-06-05 13:44] #2960 closed

[2019-06-05 13:45] #2897 closed

[2019-06-05 13:45] pkarw commented on #2897
Closed by #3013

[2019-06-05 13:53] pkarw commented on #2881
Fixed with the #2887

[2019-06-05 15:37] pkarw commented on #2558
@GabiDivante this feature requies the latest / develop version of `vue-storefront-api` deployed - which is not currently available on any public demo instance. SO the question is if You're using the local api in order to test it out?

[2019-06-05 16:00] mdesmet commented on #2558
@GabiDivante, @pkarw : i'll retest this one. To be honest, i didn't retest the frontpage newsletter subscription with last changes.

[2019-06-05 18:28] dimasch commented on #2730
@alinadivante Thanks. I will go to fix.

[2019-06-05 21:19] indiebytes commented on #3018
@benjick @patzick Looks like about the same issue as #3007 which was closed with a reference to pull request #3006. If my initial test is to be trusted, the same fix seem to resolve this issue as well.

[2019-06-05 21:21] patzick commented on #3018
Thanks @indiebytes! :) I will backport this with 1.9.2

[2019-06-06 05:15] lukeromanowicz opened #3020 "Replace EventBus with actions"
## What is the motivation for adding / enhancing this feature?
As we are using vuex, there is no point in mixing it with an event bus. We should replace all events with actions while still dispatching events inside these actions for backward compatibility untill the next major release.

## What are the acceptance criteria
- create actions that will be dispatched instead of events
- replace all eve

[2019-06-06 06:10] alinadivante commented on #2560
Retested, Works for me :) thanks

[2019-06-06 06:34] #2560 closed

[2019-06-06 06:47] alinadivante commented on #2881
@pkarw above problem doesn't exist anymore, but when I enable only Table rate - I can't place order.
See errors:
![image](https://user-images.githubusercontent.com/36628922/59012413-b30c0900-8837-11e9-864e-f2606ab35b76.png)

(for Flat rate or Shipping free it is okay)

[2019-06-06 07:17] alinadivante commented on #2869
@pkarw but if I see it well then it's order for a higher value of $ 20, so it should be free shipping.
What about cheaper products like **Overnight Duffle** SKU: 24-WB07 ?
![image](https://user-images.githubusercontent.com/36628922/59013869-74784d80-883b-11e9-822f-0b4c2d9df1fd.png)

[2019-06-06 07:19] pkarw commented on #2881
Thanks, Alina! No idea why is that :-( Let's check it - maybe the reason is that the options isn't properly set while there is only one -  wrong default option set

[2019-06-06 07:21] pkarw commented on #2869
I don't have control over this :-( We just set the cart server side and get the totals back from Magento :-( They (Magento backend) now about the order value ;P

[2019-06-06 07:24] alinadivante commented on #2869
Ok, I understood, I just wanted to make sure it was not our fault :)

[2019-06-06 07:25] pkarw commented on #2869
Hopefully not! :D :D

[2019-06-06 07:32] alinadivante commented on #2881
**Steps to reproduce:**

1. In Magento Panel, set **Table Rate**  Shipping Method enabled
2. Add any product to cart and go to checkout
3. Fill in all required fields and choose **Table Rate**  in Shipping Methods section
5. Try to place order

[2019-06-06 07:46] alinadivante commented on #2639
I like this solution, which disable button for one moment on click to prevent multiple submits :)
It works! I added to my cart exactly as many items as I wanted

[2019-06-06 08:10] alinadivante commented on #2881
@Eugene you can check now this problem on https://test.storefrontcloud.io/

[2019-06-06 08:33] alinadivante commented on #2988
yes, this issue is rady @pkarw

[2019-06-06 08:37] glevhen commented on #2881
@alinadivante will check

[2019-06-06 09:12] #2988 closed

[2019-06-06 09:37] glevhen commented on #2881
@alinadivante seems it's again something wrong with your configurations, did you properly config magento/vsf-api? Did you run reindexing after you did changes in magento configurations? I see this error
`{code: 500, result: "Carrier with such method not found: bestway, tablerate"}` which caused the follow error when you try make an order `{"code":500,"result":"Error: Error while adding shipping ad

[2019-06-06 09:56] Jensderond commented on #2773
I don't think this is necessary to do when a new default theme is coming in the near future

[2019-06-06 09:58] vishal-7037 commented on #2934
@alinadivante, @StasiekDivante I've updated design as per your suggestion and also according to https://github.com/DivanteLtd/vue-storefront/issues/2935

Please review and let me know.

Thank you.

[2019-06-06 10:00] basvanpoppel commented on #2792
@pkarw @janmyszkier i believe this issue can be closed, as the related PR is already merged to development branch.

[2019-06-06 10:18] #2792 closed

[2019-06-06 10:18] pkarw commented on #2792
Thanks!

[2019-06-06 10:39] pkarw commented on #3020
As it may sounds easy with the events that have just a single listener (eg. https://github.com/DivanteLtd/vue-storefront/blob/20b693e28eeac810252593e1b42e709cc03701e9/core/modules/order/hooks/beforeRegistration.ts#L19) it's not so easy to replace EventBus for events that have multiple/dynamic listeners.

Let's say the events used by the payments modules (https://github.com/danrcoull/vsf-payment-br

[2019-06-06 10:42] pkarw opened #3023 "Upgrade the integration tests for the cart module"
## What is the motivation for adding / enhancing this feature?

After the #2887 the cart module got refactored, we need to update our unit tests to cover all the new interfaces

## What are the acceptance criteria

- [ ] the unit tests are extended to cover all the public actions in the cart module (https://github.com/DivanteLtd/vue-storefront/blob/feature/2513/core/modules/cart/store/actions.ts)

[2019-06-06 10:46] pkarw commented on #2522
Closing with the #2887 as for now. Looking for the first developers' feedback to adjust the further refactoring plans. We still need to upgrade the unit tests - which topic has been covered by the new issue #3023

[2019-06-06 10:46] #2522 closed

[2019-06-06 10:57] pkarw opened #3024 "[RFP] New Checkout structure"
# Summary
[summary]: We need to refactor the Checkout page to be more flexible, easy to extend and get rid of the current way of adding payment/shipping modules which are solely based on the Event Bus (#3020)

This is the open request for proposals/feedback on how the best possible Checkout feature should work like from the developers perspective.

# Motivation
[motivation]: We're moving towards h

[2019-06-06 11:05] pkarw commented on #3024
@dimasch @lukeromanowicz @lukeromanowicz @filrak @patzick would be great to get Your feedback on that :)

[2019-06-06 12:31] RGijsberts commented on #2913
I will work on this

[2019-06-06 12:37] aniamusial commented on #2699
@GabiDivante I've fixed it, PR in progress :)

[2019-06-06 13:17] GabiDivante commented on #2558
@pkarw  I wasn't using the local API so probably that's the cause.  @mdesmet that would be great, subscription from the front page for logged in users should work in the same way as changing subscriptions status in my account.

[2019-06-06 15:06] Jensderond commented on #2868
I'm fixing this one

[2019-06-07 06:01] patzick commented on #2868
Thanks, great job @Jensderond !

[2019-06-07 07:15] revlis-x commented on #3024
Hi, it would be great if the checkout redesign utilizes a dedicated confirmation page, since most external payment gateways need a page to redirect to, where the order is finally placed and confirmed - something which is not possible with the current checkout.

[2019-06-07 07:30] pkarw opened #3032 "Include vue-storefront-api as a direct dependency of vue-storefront"
## What is the motivation for adding / enhancing this feature?

Currently, the installation process is pretty complicated as the applications are separated and are required both to set up and run prior to take the development tasks.

We can simplify it similarly on how we merged the `mage2vuestorefront` into `vue-storefront-api` some time ago.

The idea is to add the `vue-storefront-api` as yarn d

[2019-06-07 09:26] PatrickKluwig commented on #2994
Hey, do you know when this can be fixed? I try to find a solution by myself but at the moment I'm not that into the system to solve it in a good way. We want to launch our new shop but aren't not able to do without this functionality.
By the way, great System, I will continue learning vue storefront  :)

[2019-06-08 07:05] #2863 closed

[2019-06-08 07:06] #2699 closed

[2019-06-08 07:07] pkarw commented on #2730
@dimasch how about the status? :)

[2019-06-08 07:09] pkarw commented on #2558
@mdesmet can You Please update us with the status?

[2019-06-08 09:33] dimasch commented on #2730
@pkarw In progress. Actualize develop branch and today i will fix it.

[2019-06-08 09:36] dimasch commented on #2730
@pkarw I remember about the release 1.10rc1, and I will try to fix it over the weekend. ;)

[2019-06-08 11:47] dimasch commented on #2730
Ready. @pkarw
I attached the video how it works after the fix.

[2019-06-08 16:32] mdesmet commented on #2558
Hi, it's working for me. I'm able to subscribe from the front page, so probably indeed it was not linking to the new api.

[2019-06-08 16:41] #2558 closed

[2019-06-10 01:21] grimasod commented on #2985
I'm going to look into this. After a release, we often get enquiries from users who can't add items to the cart and experience other issues. Sometimes it's fixed by simply reloading the page. Other times we have to instruct them to clear their browser cache, which is not ideal.

As a first step, I'm thinking of showing an error alert with a button to reload the page. The message would be something

[2019-06-10 05:51] alinadivante commented on #2934
@vishal-7037 thank u for your fixes :)

[2019-06-10 07:01] #2989 closed

[2019-06-10 07:01] #2990 closed

[2019-06-10 07:01] #2991 closed

[2019-06-10 07:14] patzick commented on #3018
Done, will be released with 1.9.2

[2019-06-10 07:14] #3018 closed

[2019-06-10 07:21] #2704 closed

[2019-06-10 07:30] alinadivante commented on #2730
@dimasch  I found one bug on your branch. Please see my video (it is about validation of Company name field)
![invoice](https://user-images.githubusercontent.com/36628922/59179447-51fb7280-8b62-11e9-9183-070a645a8be4.gif)

[2019-06-10 07:53] pkarw commented on #2757
@alinadivante @przspa does this comment mean it works just fine?

[2019-06-10 07:58] dimasch commented on #2730
Ok, thanks, i will fix today evening.

[2019-06-10 08:00] alinadivante commented on #2757
Yes @pkarw I tested changes on stabilisationfix/#2757 branch and I added label here #3015
I forgot to mark this issue

[2019-06-10 08:57] dennisotugo commented on #2985
@pkarw How do you think this should be handled?

[2019-06-10 09:21] pkarw commented on #2179
I belive that the simplest way to solve this issue is to modify the core to dynamically load the attributes to aggregate on based on the search result or just by the config (but not by config.products.defaultFIlters but rather by new settiings setb y category - like: config.products.defaultFiltersFor { 542: { filters for categorty 542 and subcategories }}

[2019-06-10 09:22] pkarw commented on #2179
@patzick one of our best clients has a problem with the performance just by this issue (ask @lukeromanowicz for details); it would be great to handle it with the category refactor for 1.11

[2019-06-10 13:53] lukeromanowicz opened #3039 "Don't redirect logged in user from user-state dependent pages"
## What is the motivation for adding / enhancing this feature?
The user should not be redirected from user state dependent pages to the homepage on both logging in and refreshing the page.

## What are the acceptance criteria
* user doesn't get redirected to homepage when he logs in but the page has some user state dependent components
* user doesn't get redirected to the homepage every time he re

[2019-06-10 18:34] dimasch commented on #2730
@alinadivante Fixed. Pls, try to check.

[2019-06-11 05:27] alinadivante commented on #2730
@dimasch yeah, now it works :)

[2019-06-11 06:50] #1477 closed

[2019-06-11 06:54] #2757 closed

[2019-06-11 07:54] pkarw commented on #2881
Not sure why we had this error in Magento - but for Flatrate/Fixed it worrks just fine :/

[2019-06-11 07:55] pkarw commented on #2881
But probably: just probably - no rates have been imported for specific coutnry

[2019-06-11 08:00] pkarw commented on #2514
This should be done within 1.11rc1 along with the catalog + cart refactor @patzick  = migrated to `data-resolvers`

[2019-06-11 08:34] pkarw commented on #2166
Real life exmaple of this:
https://github.com/cristian-g/vue-storefront/compare/5c3f4aa2f827b4910248f4a666b24e93ba5d5248...develop

[2019-06-11 08:41] #2913 closed

[2019-06-11 08:43] #2730 closed

[2019-06-11 08:51] #2934 closed

[2019-06-11 08:51] #3011 closed

[2019-06-11 09:27] #2498 closed

[2019-06-11 10:39] pkarw commented on #2940
Fixed in the #3043

[2019-06-11 10:39] #2940 closed

[2019-06-11 11:30] alinadivante commented on #2935
Hi guys, "Sort by" label is gone after merge into Develop
![image](https://user-images.githubusercontent.com/36628922/59268309-c3afeb00-8c4c-11e9-8abd-1f63a8f7b277.png)
Could you fix it @cnviradiya ?

[2019-06-11 12:10] #2966 closed

[2019-06-11 12:57] pkarw commented on #2935
I removed it, It looked awfull

[2019-06-11 12:57] #2935 closed

[2019-06-11 15:51] patrickfriday commented on #2994
@PatrickKluwig could you give me your email or write to me at parick@vuestorefront.io? We can speed up fixing this function.

[2019-06-12 07:08] daksamit commented on #818
That's it - https://github.com/2monkey/vue-storefront-fb-messenger ?

[2019-06-12 08:13] filrak commented on #3024
I will probably extend this suggestion soon but generally everything should be Vuex-driven and as simple as possible.

Ideally we should have Vuex state fields for:
- personal details
- shipping
- payment methods

Also getters + setters/validators (actions) for all above + placeOrder method. Then we can simply consume all of those in a frontend no matter if it's a one-step checkout, multi-step che

[2019-06-12 08:39] sandermangel commented on #3024
here are my 2-cents on this topic; I would expect VSF not to care about what goes into an order, and as a consequence not to have any required fields for the checkout.

Whatever fields are there defined by the developer are posted to the backend platform.
We can introduce some interfaces that help with suggesting the fields either Shopware, Magento or whatever other system is expecting, but again

[2019-06-12 08:48] #2888 closed

[2019-06-12 09:03] pkarw commented on #3024
Thanks for Your feedback. Having this in mind I would say we need to:

1. Propose an interface for the payments method to comply with.

To change the current way they register:

[code]

to something like:

[code]

.. so the handler lifecycle methods are called instead of current events:
[code]

and then
[code]

which is in fact called back by the payment method. So we need to take over the control

[2019-06-12 09:03] pkarw commented on #3024
The question is **WHO** is going to prepare a PoC? :)

[2019-06-12 10:53] alinadivante commented on #2660
@pkarw could you look on it? because I added new reviews, I accepted them in magento and @patzick did re-index + re-import reviews with mage2vsf and it didn't help..

[2019-06-12 11:12] alinadivante commented on #2881
yeah, it works! I checked tablerates.csv file and I chose specific country and I placed the order without errors! :)

[2019-06-12 11:22] pkarw opened #3050 "Remove the Vue.prototype.$db, Vue.prototype.$bus"
## What is the motivation for adding / enhancing this feature?

We should replace these properties with the singleton based modules. We already have `EventBus` in the `@vue-storefront/core/compatibility/plugins/event-bus` - we should probably define kind of `/core/store/lib/storage-manager.ts` to manage the `UniversalStorage` instances that currently are placed within the `Vue.prototype.$db`

## W

[2019-06-12 11:29] pkarw commented on #2660
I can't take a look at it by myself but maybe somebody else can? @afirlejczyk was the one who made reviews happen so her advice here is priceless

[2019-06-12 13:15] PatrickKluwig commented on #2994
@patrickfriday Hey, thank you for your answere, the email address patrick@vuestorefront.io is not available.

[2019-06-12 13:31] patrickfriday commented on #2994
@PatrickKluwig that cannot be as I just got notification to that email :( What is yours, then I will write you an email :-)

[2019-06-12 13:33] PatrickKluwig commented on #2994
@patrickfriday patrick.kluwig@googlemail.com

[2019-06-12 14:43] alinadivante commented on #2964
@pkarw I tested it again, after merging, but now I see a problem with a duplicate notification and it takes a while before the user is redirected to the checkout. See my new video.
![big_order](https://user-images.githubusercontent.com/36628922/59360854-25e21c00-8d31-11e9-87ba-73b69d059e33.gif)

Imho there should be loader displayed or information about the processing.

[2019-06-12 14:47] pkarw commented on #2964
OK, we need to add the check for duplicated notification in the `core/modules/cart/store/actions.ts:583`

[2019-06-12 14:51] pkarw commented on #2964
I've also got a console error: vuex.esm.js:410 [vuex] unknown action type: cart/getPaymentMethods

[2019-06-12 14:53] pkarw commented on #2964
Check also the `forceServerSync` when entering Checkout.js. Currently it is set with the remake order - and probable shouldn't be (it will save us on cart sync)

[2019-06-12 14:55] pkarw commented on #2964
Plus as @alinadivante wrote - adding a popup / blocking loader

[2019-06-13 07:28] afirlejczyk commented on #2660
It looks like changes made in

https://github.com/afirlejczyk/vue-storefront/commit/5fce4fa53e0ff5d9271b4d9bf56bc025f53a1a99
are not available on demo (are not available in master branch) -> VSF still is trying to get reviews for simple products -> which is wrong.
By default Magento assign/display reviews only assing to configurable products.

@pkarw
@patzick

This can be test only after you will

[2019-06-13 07:35] pkarw commented on #2660
@alinadivante have You tested it on develop?

[2019-06-13 08:11] afirlejczyk commented on #2660
Please update magento2-review-api module
https://github.com/DivanteLtd/magento2-review-api/ on your Magento and re-import reviews.

There were a bug and all exported reviews were assign to product with id 1.

[2019-06-13 09:08] themreza commented on #2576
It's crucial to have the UI and API to receive the reset link for platforms that use Vue Storefront as their exclusive front-end.

[2019-06-13 11:24] alinadivante commented on #2660
yes, on develop

[2019-06-13 13:08] danielmaier42 commented on #2983
@pkarw - Hi Piotr, we have the same or very similar issue so i would like to reopen that one please.

We have two custom payment methods defined in magento (`invoice` + `debit`) which are both offline methods and are correctly returned by the payment-methods api and therefore added to the checkout.

But now the existing `cashondelivery` method is still present - even when disabling the module `pay

[2019-06-13 16:42] pkarw commented on #2983
Hi @danielmaier42 OK! we should remove it from the `core/modules/checkout/store/payment/index.ts`. Can You please remove it within a Pull Request (good first contribution :-)). Please just make sure that the `cash-on-delivery` module registers it dynamically when enabled. As for short overlook it does: https://github.com/DivanteLtd/vue-storefront/blob/4c150446cbb66f87d353495bb4cbe41c6dc7d611/src/m

[2019-06-13 17:08] pkarw commented on #2660
the issue is with the demo instance where the review api module hasn't been yet updated. Agata is contacting our devops to update it properly

[2019-06-14 06:39] dimasch opened #3053 "Memory leaks related to dynamicConfigReload option."
## Current behavior
We see potencial memory leaks on SSR level.

## Expected behavior
GC clean unused memory segments.

## Steps to reproduce the issue
If setup `dynamicConfigReload` to `true` in production mode we see leak of memory
And use `autocannon` for example.
http://dimasch.github.io/yandex-tank-benchmark/

## Repository
Affected all version and branches.

`core/scripts/server.js`

Possibl

[2019-06-14 06:42] dimasch commented on #3053
I will prepare PR in next time.

[2019-06-14 06:56] pkarw commented on #3053
CooL! Thanks @dimasch, waiting up for a PR

[2019-06-14 07:08] grimasod commented on #2985
This is a complicated issue. Even for just updating the service worker. See:
https://redfin.engineering/how-to-fix-the-refresh-button-when-using-service-workers-a8e27af6df68

There's a possible solution for that, but it requires the completion of #1589

[2019-06-14 07:12] grimasod commented on #1589
+1
When Workbox is implemented it would be great to also include a page reload button after rebuilds

See "Offer a page reload for users"
https://developers.google.com/web/tools/workbox/guides/advanced-recipes

[2019-06-14 10:20] afirlejczyk commented on #2660
@pkarw @alinadivante
Module magento2-review-api is updated, please re-import reviews one more time.

[2019-06-14 13:36] haelbichalex commented on #2667
I don't think this is fixed as it still appears on my Oneplus 6 using Android 9 & Chrome 74 and should be reopened.

[2019-06-14 17:39] pmaojo opened #3056 "Add sidebar menu toggle button to product page."
## What is the motivation for adding / enhancing this feature?

Thinking about the back button and the lack of menu on Product views.

Scenario:

1- User enters https://next.storefrontcloud.io/women/tops-women/tees-women/tees-25/elisa-evercool-and-trade-tee-1465.html?childSku=WS06
2- User can click back button (arrow-left icon) and it would on first click do nothing and second click take him out o

[2019-06-15 16:07] lukeromanowicz opened #3057 "Inherit storeview config after base settings in multistore mode"
# Summary
[summary]: #summary

In multistore mode with multiple storeviews on one instance, the config becomes hard to maintain and there are lots of duplications. We need a mechanism settings inheritance from base storeview to child ones. We can either create another storeview which won't be mapped to an url and point other storeviews to inherit its settings or copy settings from default storevie

[2019-06-15 16:10] lukeromanowicz commented on #3057
@pkarw @filrak @patzick @nhp @resubaka, what do you guys think?

[2019-06-15 16:49] stevenoddy opened #3058 "Category sort = 'position:asc' does not reflect the order set within magento categories"
## Current behavior
Currently it does not seem possible to display products within categories using the order specified in the Magento admin.

I am able to see the position number in the elastic data using Kibana. When using the new magento2-vsbridge-indexer you can see this in the categories attribute against a product.
![](https://user-images.githubusercontent.com/5173598/59553870-7b1d6800-8f93-

[2019-06-15 17:04] stevenoddy opened #3059 "If you remove a product from your cart causing the current shipping method to become unavailable, the microcart does not properly update the totals"
## Current behavior
We have a fixed rate shipping method, and then a free shipping method available over £100. If you add over £100 to your cart, go to the checkout but then go back to the microcart it shows the free shipping option. If you then remove an item so the cart value becomes less than £100, the shipping-information API call fails with `{"code":500,"result":"Carrier with such method not

[2019-06-15 17:52] jakubmakielkowski opened #3060 "Add different price decimal separators in multistore"
## What is the motivation for adding / enhancing this feature?
Adding different price decimal separators ("," and ".") in multistore.

## What are the acceptance criteria
- [ ] Prices are rendered with appropriate decimal separator in multistore.

## Can you complete this feature request by yourself?

- [X] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-c

[2019-06-17 06:15] ResuBaka commented on #3057
Wouldn't it be it be easier to say you add a helper in the core which is used to get the config.
What i think it would to is:
First look into the storeview config and check if it can find the value in there when not look into the global scope.
[code]

So maybe something like this as idea **3.1**.

Is there some case which does merge the storeconfig into the global config as that would to the job t

[2019-06-17 06:15] nhp commented on #3057
Thanks for bringing this up. What i cannot see in the RFC is the possibility to not only inherit from a default value, if it is set but to also change this default value to a store specific one. Like in your example chaning the currency for a swiss shop to CHF instead of EUR. With all shown approaches I would assume that we would need to move `currency` to the store level then because it is not ge

[2019-06-17 06:31] pkarw commented on #3059
Hi there! I belive it has been fixed with the 1.10rc1. Please do check it out on the `develop` or `release/1.10` branches

[2019-06-17 06:31] #3059 closed

[2019-06-17 06:35] pkarw commented on #3058
Thanks! However, it may look like a bug it's a feature request :-) This field is not being used for sorting as for now.

Shouldn't be that much of work to implement it. I belive we need to start with the `vue-storefront/config/*.product.schema.json` adding the `product.category.position` as a `integer` to the schema. Then we can just add the sorting field of `category.position` to `vue-storefront/

[2019-06-17 06:47] lukeromanowicz commented on #3057
@ResuBaka Sounds like extracting 1.1 to a helper. I'm only concerned that it still requires to check 2 different configs (global and storeview scoped) every time its called. It also requires a lot of changes in multiple places while making getting storeview values chaotic (we would have two ways of retrieving config values for storeviews).

@nhp 2.1 and 2.2 make the inheritance optional in all or

[2019-06-17 07:26] patzick commented on #2667
Thanks guys for reporting. I'm reopening this and we will fix that in upcoming RC version.
If any of you would like to provide PR please create branch from `release/v1.10` branch and create PR back into :)

[2019-06-17 09:47] haelbichalex opened #3062 "Add ratings to reviews"
## What is the motivation for adding / enhancing this feature?

Reviews can already be imported into the vue-storefront-api and are visible in the frontend on product detail pages.
Most users are probably more used to seeing 'star' reviews. In Magento this feature is implemented with ratings.
You can create multiple ratings, which can be active or inactive and assigned to stores.
When creating a n

[2019-06-17 10:14] michasik commented on #2667
It works properly on https://next.storefrontcloud.io/ and I assume that commit below fixes the issue with displaying the images incorrectly:
https://github.com/DivanteLtd/vue-storefront/commit/4c6966de8f33d1ab0850dd7388725923256e4cf0

[2019-06-17 10:59] #2667 closed

[2019-06-17 16:13] filrak commented on #2967
This is actually idea we talked about with @patzick.i believe it is something we should think about in vs 2.0. It was proven to work well with Vue itself

[2019-06-17 16:59] lukeromanowicz commented on #3057
So, I've created a PR accordingly to the 2.2. approach. Please take a look.

[2019-06-18 07:11] michhy opened #3066 "Display product in all selected categories it belongs to instead of just first category"
## What is the motivation for adding / enhancing this feature?

If a product belongs to more than one category, can it display in all the categories it belongs,
as it is now only displaying in first selected category.

## What are the acceptance criteria

Display product in all selected categories it belongs to.
- [ ] ...

## Can you complete this feature request by yourself?

- [ ] YES
- [x] NO

[2019-06-18 07:28] pkarw commented on #3066
Hmm. What do you mean by that? We're displaying the products from all sub-sequent categories (for example when you choose `women` we'll display the products from `women->tops` as well etc.)

[2019-06-18 07:37] michhy commented on #3066
Hi sorry for my poor expression.

For example my shop is selling food and groceries, for some product like "organic tomato sauce", it belongs to two categories:  "seasoning" and also "organic food".

In magento i can assign multiple categories for one products, and it will display in all assigned categories.

Hope this explains better about the situation.

Thanks a lot :)

[2019-06-18 07:49] GabiDivante opened #3067 "Error placing an order"
## Current behavior

![Peek 2019-06-18 09-22](https://user-images.githubusercontent.com/49188852/59662341-04f44d80-91ad-11e9-8ddf-75e6630c5be5.gif)
Currently, there is no possibility to place an order on https://next.storefrontcloud.io/
Doesn't matter if the user is logged in or not. Checked on many data sets.
Validation messages appear:
'Error placing an order'
'The order can not be transferred b

[2019-06-18 09:02] GabiDivante commented on #2874
@qiqqq @patzick @pkarw
I tested changes on next and something is wrong again.
When I apply a discount code (mmtest - 50%) -> price visible next to the product is correct (it contains tax already) but in the Instant Checkout, the product price has tax value doubled.
Maybe this fix #2892 has not been taken into account.
We should show the same reduced price in the instant checkout as in the cart.
![

[2019-06-18 09:22] patzick commented on #3056
Back button on product page has been removed as it was in 1.9.
There are too many different behaviors, without proper specification of each case there is no point in having it.

[2019-06-18 09:22] #3056 closed

[2019-06-18 10:27] michhy commented on #3066
I Found out the way, thank you :)

[2019-06-18 10:27] #3066 closed

[2019-06-18 10:30] GabiDivante commented on #2881
@pkarw there is still a problem - sometimes when I'm changing the country, the shipping method is not automatically chosen
![Peek 2019-06-18 12-23](https://user-images.githubusercontent.com/49188852/59674769-42b0a080-91c4-11e9-8e97-289b523a0d22.gif)

I can propose the solution implemented by @aniamusial  in our other project - button "continue to payment " is not active until any shopping method i

[2019-06-18 11:19] filrak commented on #2657
@lukeromanowicz do you still want to take care of this?

[2019-06-18 11:24] #2964 closed

[2019-06-18 11:40] pkarw commented on #2881
Fixed

[2019-06-18 11:40] #2881 closed

[2019-06-18 11:41] pkarw commented on #3053
Hey @dimasch how about the status? :)

[2019-06-18 11:50] pkarw commented on #2874
Fixed

[2019-06-18 11:50] alinadivante opened #3072 "No placeholders / no photos for Get Inspire section in offline"
## Current behavior
No placeholders / no photos for Get Inspire section in offline

![image](https://user-images.githubusercontent.com/36628922/59678369-84454980-91cc-11e9-974d-6608bd1365f9.png)
![image](https://user-images.githubusercontent.com/36628922/59679216-8a3c2a00-91ce-11e9-9067-0eb86a0cc794.png)

## Expected behavior
Pictures or placeholreds should be displayed instead.

## Steps to repro

[2019-06-18 11:51] #2874 closed

[2019-06-18 11:58] dimasch commented on #3053
Hey @pkarw Today i will prepare PR and check difference. For me need some time :)

[2019-06-18 12:10] pkarw commented on #2881
This is a good idea. We should apply both: #3073 and #3071

[2019-06-18 13:28] PatrickKluwig commented on #1642
Hey, I also got some errors reloading the checkout page. Error Log below:
![image](https://user-images.githubusercontent.com/37376833/59688315-b7dc9f80-91dd-11e9-98eb-99230930f932.png)

[2019-06-18 14:19] lukeromanowicz commented on #2657
@filrak I've been very busy recently. If you would like to take it, please, go ahead.

[2019-06-18 18:41] dimasch commented on #3053
@pkarw Done.

[2019-06-19 05:40] patzick commented on #3067
Should be good now, i compared jsons in POST, refreshed and redeployed API with current RC and created successfully new order.

[2019-06-19 05:40] #3067 closed

[2019-06-19 06:50] alinadivante opened #3076 "Missing translations for multistore - it_IT / de_DE"
## Current behavior
1. Order confirmation page - lack of translations
2. Product page:
- Color Black
- Size XS
- Reviews section
- We found other products you might like section
3. Pop-ups:
- "Something went wrong. Try again in a few seconds."
- This product is out of stock.
- "PROCEED TO CHECKOUT"
- "Processing order"
- "We don't have as many "Minerva LumaTech&trade; V-Tee-S-Black" as you request

[2019-06-19 06:57] alinadivante opened #3077 "Categories disappears when user is redirected to error page"
## Steps to reproduce the issue
1. Go to https://next.storefrontcloud.io/error
2. come back to Home page
3. Press hamburger menu

## Current behavior
Categories disappears when user is redirected to error page.
![error_page](https://user-images.githubusercontent.com/36628922/59743366-3da92b00-9270-11e9-980d-77f204bc8893.gif)

## Expected behavior
All available categories should be displayed in ham

[2019-06-19 07:32] patzick commented on #2881
@pkarw please do not close issues with not merged PRs

[2019-06-19 07:33] pkarw commented on #2660
I've tested it on localhost - and it works just fine: https://www.dropbox.com/s/kxxw6ix1reyr8y7/Screenshot%202019-06-19%2009.32.39.png?dl=0

[2019-06-19 07:33] #2660 closed

[2019-06-19 07:41] patzick commented on #3077
not merged yet and without milestone, reopening

[2019-06-19 07:41] pkarw commented on #3072
@przspa we're releasing 1.10rc1 - how about the status for this issue? :)

[2019-06-19 07:53] przspa commented on #3072
@pkarw I doesn't start yet. But this issue applies to all images in VSF, without product photos of course becouse I fixed this case

[2019-06-19 09:08] alinadivante commented on #3077
problem still exist.
And if I refresh page then I'm redirected to https://next.storefrontcloud.io/error

[2019-06-19 09:10] pkarw commented on #3077
It's something wrong with the `next` instane - the home page (to which `Back` button is redirecting) generates an error - so there is an error loop

[2019-06-19 09:32] alinadivante opened #3082 "Remove The server order id from Order confirmation page"
## What is the motivation for adding / enhancing this feature?
Information about the server order id is not needed, only OrderNumber is useful.

![image](https://user-images.githubusercontent.com/36628922/59753146-cf6e6380-9283-11e9-9b32-2e5ea3726496.png)

## What are the acceptance criteria
Remove The server order id from Order confirmation page

## Can you complete this feature request by yourse

[2019-06-19 09:36] alinadivante commented on #2743
@Flyingmana could you look at this feature request #3082  ? :)

[2019-06-19 09:45] alinadivante commented on #3077
Ok - now it is fixed for Back button (I'm redirected to Homepage and categories are displayed in hamburger menu), but after pressing VSF logo on the error page (I'm redirected to Homepage), but there are no categories in menu

[2019-06-19 09:49] GabiDivante opened #3083 "Incorrect validation of the available qty (when changing the qty of the product in the cart)"
## Current behavior

There is incorrect behavior when I'm changing product qty typing unavailable qty and then trying to type again available qty. There is always a qty validation message visible.
The example below for WS09-L-Blue - available qty in Magento = 83:
![Peek 2019-06-18 13-50](https://user-images.githubusercontent.com/49188852/59753749-14df6080-9285-11e9-840e-ed1cfa7641e1.gif)

## Expec

[2019-06-19 09:55] Flyingmana commented on #3082
I can complete this Feature request, but would need to know about the Plan here.

I would introduce a config to make it possible to hide, as existing stores may have modified this logic, to be filled with the orderNumber.
Besides, this is quite a small frontend change, so you may be able to just remove this element for your own shop.
Also not all Connectors support the OrderNumber yet. only the Ma

[2019-06-19 10:12] pkarw commented on #3077
:-(

[2019-06-19 10:15] pkarw commented on #3082
OK, let's do this :-) For sure it should be just in the template and not in the core (displaying this data) - not sure if it makes sense to make it configurable as the parallel order numbering isn't something pretty general; for sure it's magento specific.

So I belive we could just remove the "server order id" and keep the second one it without the config for it

[2019-06-19 10:53] #3072 closed

[2019-06-19 10:55] patzick commented on #3077
merged, ready for tests

[2019-06-19 10:55] #3077 closed

[2019-06-19 12:11] pkarw opened #3086 "Render the SSR pages with the mobile viewport in place"
## What is the motivation for adding / enhancing this feature?

Google is taking the mobile version pages into consideration setting the SEO rankings. I'm not sure but maybe our SSR pages should be pre-rendered with the mobile viewport set?

More: https://deviceatlas.com/blog/javascript-server-side-rendering-device-detection

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/rele

[2019-06-19 14:29] dlandmann commented on #1711
@filrak and @pkarw hi - is there any news or will this really be implemented with the new theme? This is currently a small blocker in our implementation :-(

[2019-06-19 14:36] filrak commented on #1711
@dlandmann it will be implemented in new theme but you can easily have such capabilities just by using webpack and importing files from old theme into new one.

Please let me know in which way it's blocking you (what exactly you need to achieve) and i can propose a working solution for you.

[2019-06-19 14:40] pkarw commented on #1711
Hey! As Filip said - I'd recommend you to start with your `themes/{theme}/router.ts` and just import the things you haven't overridden in the theme - directly from `default`. Take a look at how `default` theme is re-using some parts of `default-amp` (only the Product and Category pages for some specific URLs).

Another option is to use webpack aliases to virtually switch the components being used

[2019-06-19 14:55] bobcho opened #3087 "My Account submenu doesn't render properly on Safari (Mac & iPad)"
## Current behavior

If you go to the hamburger menu icon -> My Account, it appears empty on Safari - the "color" style is not picked up for the list of anchors.

![Screenshot 2019-06-19 at 17 45 24](https://user-images.githubusercontent.com/8062073/59775920-a1584600-92ba-11e9-9a79-56cf4c33ae66.png)

![Screenshot 2019-06-19 at 17 48 54](https://user-images.githubusercontent.com/8062073/59775942-aa

[2019-06-19 15:43] dlandmann commented on #1711
Very good! Thx for the suggestion!

The idea with the Webpack Aliases is interesting. I'll try that. Is there an example somewhere?

We have (in Magento) a main theme and derived from it a subtheme which has several "subsubthemes" ...

[2019-06-19 20:56] kkdg commented on #2992
I am done on Data imports.

Data imports consists of a few recipes including :

Introduction (done)
Data Migration for Elasticsearch (done)
Data pump (done)
--Data imports and tools (canceled)--

You can watch it while it is in progress at here : https://vuepress.andflyaway.now.sh/guide/cookbook/data-import.html

[2019-06-20 06:43] kkdg commented on #2983
Yep @pkarw , this will be quoted in *Chapter 5. Extending a module*, which I believe will roll out in July. Thanks.

[2019-06-20 06:49] kkdg commented on #2955
@Jensderond  Yep, moving to Zeit has been done, a little more tweak is waiting for full automation. that will be done this week too. Thanks!

[2019-06-20 07:15] kkdg commented on #2907
@pkarw noted, this will be documented at *Chapter 7. Common pitfalls* Thanks!

[2019-06-20 15:15] Cheeerd opened #3089 "Custom payment method registration (different state object)"
## Current behavior
As described in docs/guide/integrations/payment-gateway.md and implemented in cash on delivery module, to register custom payment method we should dispatch payment/addMethod in afterRegistration hook.
Hovewer it appears that state object used on this step is different from one used after in checkout. So added by this way payment methods will be missed.

I think, it was the case

[2019-06-20 15:30] Cheeerd commented on #3089
Also this bug can be ignored, if disable payment-backend-methods. Then, there are will no conflict with handling checkout-before-placeOrder event, and payment method code still will be taken from magento api. (Did not test this yet)
And why i faced the problem — because is_server_method property should be overwritten by preregistered methods to prevent payment-backend-methods module from handling

[2019-06-20 17:19] pkarw commented on #3089
Hi @Cheeerd thanks for the feedback! I belive it might be related to how “payment-backend-methods” module do insert the server methods it gets from Magento backend. It calls “replaceMethods” so it automatically de-registers all the methods that has been registered from code. It maybe should replace just the methods set by “is_server_method” set to true?

I’m writhing this from my iPhone and can’t

[2019-06-20 17:22] pkarw commented on #3089
Another idea is that “replaceState” is being used after the “afterRegistration” hook from module was called. In that case the state would be replaced with the one that comes with __INITIAL_STATE__

[2019-06-21 06:04] lukeromanowicz commented on #3057
I've also added loading fallback values from storeview scoped configs to default config so now the default config is global unless overriden in a storeview scoped config.

[2019-06-21 06:40] lukeromanowicz commented on #3024
* Handlers for payments are necessary but I would suggest providing actions to dispatch rather than methods because it gives us a little more flexibility and extensibility.
* Sander's mention about no field being required is quite important. Some online shops require only the e-mail e.g. for shipping virtual products. We have to keep in mind that some shops may use only one address while others us

[2019-06-21 07:23] revlis-x opened #3091 "Wrong meta description created by page overwrite"
## Current behavior
Core Pages that overwrite the default meta desc from head.js output wrong attributes, e.g.

https://github.com/DivanteLtd/vue-storefront/blob/e14a2a0abde6f71a48e21c8e694b5502e50d3aa3/core/pages/Category.js#L296

## Expected behavior
Instead we need something like:
[code]

## Can you handle fixing this bug by yourself?

- [X] YES, but not right now
- [ ] NO

## Which [Release Cy

[2019-06-21 09:00] Cheeerd commented on #3089
Yes, it is called after "afterRegistration" and replaces state with window.__INITIAL_STATE__. And i found that if i move payment/addMethod out of !isServer condition, custom methods (and cashondelivery) appear in INITIAL_STATE and start replacing payment-backend-methods.

But there are also another issue with cashondelivery: if card is empty (user first time opens the site), the "servercartAfterCr

[2019-06-21 10:25] pkarw commented on #3089
Yeah, the `isServer` check might do the difference - that's correct. Currently, the modules API has no other hook to register the methods so this might be the best approach (to remove this check). I don't see any downsides of this change.

This is related to #2760 and #3024 - please feel free to share some proposal on payment api changes in the #3024  as well

I think that we might have an config

[2019-06-21 21:34] pkarw opened #3093 "Product page refactoring for theme 2.0"
This is the initial plan to refactor the `Product.vue` page accordingly to #2696 and after the initial learnings we got from the `Category.vue` refactoring (#2890)

The goal is to prepare the `Product.vue` for Theme 2.0 - based on Storefront UI but without dramatic changes, keeping the business logic as is (it's very important assumption) and share it between `product` and `product-next` modules.

[2019-06-21 21:36] pkarw commented on #3093
@filrak, @patzick, @lukeromanowicz - this one is for discussion next week and to start right after #2696 (from 1st of July probably) and hopefully, finish it in the 3rd week of July

[2019-06-21 21:39] pkarw commented on #2696
Refactoring status:
- Category Page - #2890 to be finished in next 1-2 weeks,
- Product Page - #3093 - discussing the scope - to be finished (stage 1.0 - MVP for vs 2.0) - end of July,
- Checkout Page - won't be refactored; will be created from scratch in Theme 2.0 (#3024)
- My Account Page - won't be refactored; will be created from scratch in Theme 2.0
- Login/Register - won't be refactored; wil

[2019-06-21 21:43] pkarw commented on #2696
We should move the `cms`, `compare`, `newsletter`, `recently-viewed`, `social-share` and `wishlist` modules to separate repos + include them in the theme as a package.json dependencies.

[2019-06-21 21:47] pkarw opened #3094 "Remove the core dependencies"
## What is the motivation for adding / enhancing this feature?

We should move the `cms`, `compare`, `newsletter`, `recently-viewed`, `social-share` and `wishlist` modules to separate repos + include them in the theme as a package.json dependencies.

All the references to these modules should be removed from the core.

## What are the acceptance criteria

- [ ] cms moved to separate repo / module

[2019-06-21 21:47] pkarw commented on #3094
@filrak , @patzick, @lukeromanowicz feedback is appreciated

[2019-06-21 21:56] pkarw opened #3095 "Refactor the `user` vuex module"
## What is the motivation for adding / enhancing this feature?

In order to prepare VS for 2.0 release we're refactoring some vuex modules in order to keep the good practices:
- remove state write operations from the actions,
- replace state read operations with vuex getters,
- preferably migrate from events-based logic to vuex actions,
- remove notifications from vuex (`spawnNotification`),
- rem

[2019-06-21 21:59] pkarw opened #3096 "Merge the `checkout` and `order` Vuex modules into one"
## What is the motivation for adding / enhancing this feature?

Related to: #3024

Let's keep it simple. Both modules have just one action like `placeOrderr` calling each-other. It makes perfectly no sense to keep them both.

## What are the acceptance criteria

- [ ] only the `checkout` module stays, we don't need the `order module` at all

## Can you complete this feature request by yourself?

-

[2019-06-21 22:05] pkarw commented on #2696
We should remove the `compatibility` from the core with the 2.0 release (I mean - lets move it to separate repo and let the users mount them under webpack aliast in case of backward compatibility)

[2019-06-21 22:06] pkarw commented on #2696
We should also have the #2760 implemented by the 2.0 release. Would be great if you @filrak can wrap up the ideas for the enhancements there next week - then uppon approval on that let's take 2-3 full days to implement the changes - probably even for 1.11 (it should be backward compatible in the end)

[2019-06-21 22:11] pkarw commented on #2696
Related #3050

[2019-06-21 22:11] pkarw commented on #2696
Related #2918

[2019-06-24 08:11] filrak commented on #3094
It's blocked by the fact that modules can't be packages. For now it could be only a git submodule

[2019-06-24 08:21] pkarw commented on #3093
update: `setupBreadcrumbs` can be re-used from the `category-next` after refactor @patzick

[2019-06-24 08:30] filrak commented on #3093
`this.product` -> getter should get product data and assign to `product` local var.

Also shouldn't we have a general breadcrumbs module to not limit them to product/cat? I think it'd be better for SEO

[2019-06-24 08:40] filrak commented on #3093
`getParentProduct` & `getOriginalProduct` seem very similar and not straightforward to understand what those getters are holding.

[2019-06-24 10:17] alinadivante opened #3098 "Order placed in offline mode, without confirmation"
## Current behavior
My order is automatically placed when I get online, without order confirmation.
![offline_mode](https://user-images.githubusercontent.com/36628922/60011138-6f0f6580-9679-11e9-9f3d-db478ea497cc.gif)

## Expected behavior
"Confirm your order" pop-up should occur, before order will be placed.
If user confirms the order, success page should be refreshed and order ID should be displ

[2019-06-24 10:50] pkarw commented on #3098
It's not a bug. This feature is not confirming the order if you stayed at the Thank You page - assuming that the intention was to finalize the order and you just lost connection for a moment. If you were on any other url when bringing back the network connectivity: it wll ask you to connfirm the order

[2019-06-24 10:50] #3098 closed

[2019-06-24 10:54] pkarw opened #3099 "Do use the `final_price` for price display in Vue Storefront / Vue Storefront API"
## What is the motivation for adding / enhancing this feature?

This is related to https://github.com/DivanteLtd/magento2-vsbridge-indexer/issues/71
We're taking the `special_price` as final in the [`tax.ts`](https://github.com/DivanteLtd/vue-storefront/blob/master/core/modules/catalog/helpers/tax.ts)

Related to: https://github.com/DivanteLtd/vue-storefront/issues/2918

## What are the acceptance

[2019-06-24 11:22] pkarw commented on #3094
Well, we need to unlock it then :D

[2019-06-24 11:46] alinadivante opened #3100 "Order confirmation page in offline mode."
## What is the motivation for adding / enhancing this feature?
Now order is automatically placed when I get online on Order confirmation page (without order confirmation pop-up). This is a little bit misleading.

## What are the acceptance criteria
We need change information on Order confirmation page in offline mode.
Now we displayed only
`You will receive Push notification after coming back onli

[2019-06-24 13:46] alinadivante commented on #3100
and notice that there is a problem with the order ID after reconnecting to the Internet.
Now we display "The server order id has been set to **undefined**"
![image](https://user-images.githubusercontent.com/36628922/60023685-96c0f680-9696-11e9-8ac6-832e1133829f.png)
This will probably be removed by #3082 , but remember to display the correct Order Number

[2019-06-24 20:54] #2987 closed

[2019-06-25 08:29] juho-jaakkola opened #3102 "Date filter is ignoring the format parameter"
## Current behavior

I'm trying to change the format of a date within a template using the `date` filter:
[code]

But the date filter is in fact not using the parameter at all:
https://github.com/DivanteLtd/vue-storefront/blob/d40ba3b958c26d77d2d4c98bdf403af1ffd19275/core/filters/date.js

And therefore the date is always returned in the same format (e.g. `25.6.2019, 11:50:32`).

## Expected behavi

[2019-06-25 09:17] filrak opened #3103 "My Account rewrite"
Whole profile is based on AuthElement Vuex mutations instead of router. Also it relies on event bus and a lot of methods that shouldn't be public is exposed. The API for the developer is not clear neither self-descriptive.

- Replace ui/setAuthElem - based nav with router
- Remove event bus
- Move evrything from components to Vuex (estimated per subcategory)
Related to https://github.com/DivanteLt

[2019-06-25 09:18] filrak opened #3104 "My Account - Profile rewrite"
API is complicated and not descriptive (should be easy to use for a developer, right now it's mostly a set of internal helpers made to achieve certain result rather than an API) and it highly relies on event bus. Also logic from components needs to be moved to Vuex.
- Remove event bus and use hooks instead
- Refactor editing user data to Vuex
- Find new API for Vuex
Related to #2696 https://github

[2019-06-25 09:19] filrak opened #3105 "My Account - Shipping details rewrite"
The communication is made through component API, but should be in Vuex. Also we should get rid of event bus

- Move communication to Vuex
- Get rid of event bus

The issue will be filled with more details after discussions.

Related to #2696 #3103

[2019-06-25 09:20] filrak opened #3106 "My Account - Newsletter quality check"
Check if Newsletter modukle meets the requirements for user-firendly API.

Related to #2696 #3103

[2019-06-25 09:21] filrak opened #3107 "My Account - My Orders rewrite"
The issue will be filled with more details after discussions.

- Move remakeOrder to just fire placeOrder with filled data

Related to #2696 #3103

[2019-06-25 09:25] filrak opened #3108 "My Account - Recently viewed rewrite"
The issue will be filled with more details after discussions.

Related to #2696 #3103

[2019-06-25 09:30] filrak opened #3109 "My Account - Login functionality rewrite"
- Work on user/me api
- Move logic from components to Vuex
- Add getters

Related to #2696 #3103

[2019-06-25 09:31] filrak opened #3110 "My Account - Register functionality rewrite"
- Move functionality to Vuex
- Work on api and signatures
- Remove ui-specific parts

Related to #2696 #3103

[2019-06-25 09:32] filrak opened #3111 "My Account - Password reset functionality rewrite"
- Base it purely on Vuex
- Check if it's working properly ;)

Related to #2696 #3103

[2019-06-25 09:36] filrak opened #3112 "Agnostic CMS Content module"
- Figure out proper data format (should it be cms-specific?)
- Implement component
- Repalce all the occurences of other CMS content usage with new component
- Make it compatible with all 3rd partys
- Figure out how CMS connector should work (agnostic regarding ES so common query format)

[code]

Routing for CMS pages can be done by having one route that takes the URL params and adds it as a query

[2019-06-25 09:44] filrak opened #3113 "Home Page rewrite"
Needs https://github.com/DivanteLtd/vue-storefront/issues/3112
- Should use cms module to get data

[2019-06-25 09:47] filrak opened #3114 "Move Wishlist module to separate package in VS monorepo + [NTH] make it work with backend"
- Make external package in packages folder based on module boilerplate
[ NTH ]
- Add proper endpoints to vs-api for sync (maybe simplified one based on SKUs and not connected with backend)
- Base it on added/removed events and use this if we want to sync it with backend

Need to discuss scope

[2019-06-25 09:48] filrak opened #3115 "Move Compare module to separate package in VS monorepo"
- Base it on module boilerplate

[2019-06-25 09:49] filrak opened #3116 "Move Newsletter module to separate package in VS monorepo"
-

[2019-06-25 09:50] filrak opened #3117 "Move Recently viewed module to separate package in VS monorepo"
-

[2019-06-25 09:52] filrak opened #3118 "Move social-share module to theme"
It's just a component so it should be treated as one ;)

[2019-06-25 09:57] filrak opened #3119 "Create boilerplate for VS module NPM package"
It's also blocking all of the "Move x to separate npm package" issues.

Every Vue storefront module should be installable as NPM package. Right now we are using Git submodules for this. here you can find some examples of such modules and their installation guides https://github.com/frqnck/awesome-vue-storefront#front-end-modules

**Option 1 (preferred)** (all of current packages are installable as

[2019-06-25 10:08] filrak opened #3120 "Create Product Page based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:09] filrak opened #3121 "Create Category Page based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:09] filrak opened #3122 "Create Home Page based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:09] filrak opened #3123 "Create CMS Page based on Storefront UI"
- Ask Svieta for designs
- Use those designs

[2019-06-25 10:10] filrak opened #3124 "Create My Account Page based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:11] filrak opened #3125 "Create My Account Page based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:11] filrak opened #3126 "Create Checkout Page based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:12] filrak opened #3127 "Create Header Component based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:12] filrak opened #3128 "Create Footer Component based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:12] filrak opened #3129 "Create Cart Component based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:13] filrak opened #3130 "Create Wishlist Component based on Vue Storefront core and Storefront UI"
.

[2019-06-25 10:14] filrak opened #3131 "Cart module rewrite"
.

[2019-06-25 10:15] filrak opened #3132 "Creating a boilerplate package for VS project"
Initialized by CLI.

It should be a separate repo similar to what we have now in src folder.

[2019-06-25 10:16] filrak opened #3133 "Separate VS core to NPM package"
offering the VueStorefront code as NPM package

- is easier to install
- easier to update
- hide complexity
- easier the API

Includes adding CLI

[2019-06-25 10:17] filrak opened #3134 "Split core/theme dependencies"
.

[2019-06-25 10:17] filrak opened #3135 "Move local config to boilerplate and default config to core"
When the core is an NPM package is a dependency we'll need to move config to theme level.

[2019-06-25 10:18] filrak opened #3136 "Let CLI create a working VS boilerplate + create boilerplate"
When moving VueStorefront to an NPM package we'll have a CLI and wish to have a command to easily create a VueStorefront project.

VueStorefront will be an NPM dependency.

Do we want to ask questions while creating the project such as
- testing framework
- type of backend (Magento|Shopware|etc)

[2019-06-25 10:20] filrak opened #3137 "Make unit/e2e testing work with VS core splitted into a package."
* Make a test dir in theme for e2e
* Make unit tests work from theme with extension point

[2019-06-25 10:23] filrak opened #3138 "[ Nice to have ] Create schema for easy module/service worker/server route extension either from theme and global"
Modules, Service Workers and Server Routes should be able to be extended on both _global_, as well as _theme_ level.
Currently only _global_ is possible.

[2019-06-25 10:25] filrak opened #3139 "Remove useless modules/incorporate them into theme"
Some of the modules are just a theme-specific vuex stores or components - let's put them inside the theme.

For exampel:
- homepage module
- promoted offers modules
- claims
- UI store (needs to be careful - deps on core)
- Move order history to order module
- Move social-share (from core) to theme

[2019-06-25 10:26] filrak opened #3140 "[ Nicer to have ] Optimize webpack build time"
* removing unnecessary loaders
* minimize the scope of loaders

https://webpack.js.org/guides/build-performance/

[2019-06-25 10:28] filrak opened #3141 "Move Notification module to separate package + remove notifications from core"
The notifications are to be moved to `vuestorefront/libs`.

The notifications should be moved to the template as it is presentation logic.
The developer implementing would decide what is shown.

[2019-06-25 10:30] filrak opened #3142 "Move libs and helpers from core to to separate package"
To not force modules to consume whole vs core and enable better treeshaking etc

Naming convention: @vue-storefront/libs & @vue-storefront/helpers

[2019-06-25 18:34] filrak commented on #2760
Closed in favor to new proposal

[2019-06-25 19:01] filrak opened #3144 "New modules API (final)"
# New, simplified modules API

Broader explaination still needs to be written but in short words this change will enable;

Inspiration is taken from new Vue's [functional API](https://github.com/vuejs/rfcs/pull/42) and [nuxt modules](https://ru.nuxtjs.org/guide/modules/).

1. Less abstraction with direct access to `store`, `router` so better learning curve and sticking to native Vue APIs to not li

[2019-06-25 19:47] DaanKouters commented on #3144
This is very promising!
First things in my mind that can be improved in the way the modules are integrated now are:
Module config settings in app config (local.json) - separate config file for module which will be merged to apps config
A way to register the module without adding three lines in src/modules/index.ts like it is now

I'm curious how you see the listeners for events from other modules.

[2019-06-25 21:47] pkarw commented on #3083
Plus: Adding to cart stopped working in the offline mode - needs to be checked

[2019-06-25 21:59] pkarw commented on #3050
I left just the `Vue.prototype.$ssrRequestContext` because of no other, better idea for now

[2019-06-25 22:05] pkarw commented on #3144
I like this new design a lot, it's great. I think we should just discuss the list of the available hooks. I think that we should have a hooks for general state changes for the whole app at this level so it should be like:

[code]

[2019-06-26 06:24] GabiDivante commented on #3083
@pkarw I checked on next and it works fine, where this issue appeared?

[2019-06-26 06:29] pkarw commented on #3083
@GabiDivante nevermind ;) I figured it out - it was not the offline issue but problem with my vs-api instance :)

[2019-06-26 07:01] patzick commented on #2499
Thanks @qiqqq !

[2019-06-26 07:01] #2499 closed

[2019-06-26 07:41] filrak commented on #3144
@DaanKouters thanks for your feddback!

This is why now `registerModule` can take config as a parameter. Not only module config object (that can sometimes be really big) can be separated from core functionalities but also codesplitted ;)

Maybe it wasn't clear from RFC but basically you just need to call `registerModule` function whenever and whereever you want and that's all. For server -side mod

[2019-06-26 08:26] filrak commented on #3144
I added section about server side modules

[2019-06-26 09:03] Fifciu commented on #3144
In my opinion, the new API looks much better. Modules as npm packages is an amazing idea. However, I am mostly interested in **Vue Storefront hooks**. What do you think about hooks like:
[code]

I had to do tricky things with EventBus and debounce (the event was emitted multiple times) for catching those events [here](https://github.com/new-fantastic/vsf-facebook-pixel/blob/master/events/AddToCart

[2019-06-26 09:08] rain2o commented on #3058
I think this might be a little more challenging unfortunately. The problem is ES doesn't know how to handle the sorting because these are nested values, inside `extension_attributes.category_links`. I believe using ElasticSearch's Nested Sorting ability could work here, but looking at the schema these don't appear to be declared as type `nested` so I don't know if it will work. A quick test on my

[2019-06-26 09:11] DaanKouters commented on #3144
@Fifciu that's a very good idea.
I'm looking for a more efficient way also, f.e. we listen to the payment-method-changed event in one of our modules, but every time we catch it we have to unregister the previous registered in there to not register multiple times the same one.
Actually it works fine now, but i think this can be improved in a more efficient way.

[2019-06-26 09:15] DaanKouters commented on #3144
@filrak could you please tell how you see the implementation of markup?
I mean especially the split between module logic en theme markup, hope you understand what i mean.

Right now theme and modules are pretty mixed inside one another. Don't know for sure if anything is possible with slots or something to add module components to themes without specifically change theme files.
Something similar t

[2019-06-26 09:20] haelbichalex commented on #3062
Hi @pkarw & @patzick :wave:
I want to start working on this this week. But first I need someone to tell me about how I should structure ratings.
Should ratings be a new entity? Or is it enough if a rating is attached to a given review? Then it would be not possible to add ratings to a new review though.

[2019-06-26 09:30] patzick commented on #3144
Whole idea looks really good!
My only real concern is about modules registration and extending. Also we should have typing in mind. We need to answer to these questions to have clear and common understanding about logic:

1. What when i'll invoke once again module registration? For example on another page.
2. What if i'll do this with different config?
3. Same with extending - what if i'll extend

[2019-06-26 09:39] filrak commented on #3144
I added a section about module extension points. As module developer you can define extension points of your module (like possibility to alter some code parts) that can be passed to module config,

[code]

[2019-06-26 09:49] filrak commented on #3144
@DaanKouters this is something that I though about a few times. In Theme 2.0 we want to define extension points in theme as special HTML attributes. Then Vue has `extend` method that let's you inject component into certain HTML element (works like `el` property of vue instance.

So assuming that we have extension point in theme
[code]
you can extend it from the inside of module (or anywhere else)

[2019-06-26 09:53] filrak commented on #3144
@patzick despite your questions, 2nd thing is (if i understand it correctly) exactly what is proposed.

My idea for hooks would be that a hook is essentially just putting a passed function to a FIFO queue. Then those functions are executed on top of function they are hooked into so `appinit()` function is essentially `applyHooks(appInit()`

[2019-06-26 09:56] lukeromanowicz commented on #3144
Please keep in mind that we still need to have control over router guards and hooks in case we want to disable/override them.

[2019-06-26 10:01] filrak commented on #3144
@lukeromanowicz hence extension points part on propsal

[2019-06-26 10:03] #2760 closed

[2019-06-26 12:17] jahvi commented on #3144
Looks like a really good improvement over the current system, I really like how it uses inspiration from Vue and Nuxt module system, that should help adoption as users will be more familiar with the APIs already.

This gets a big +1 from me as it's been one of the biggest pain points to get #2271 working, does this mean it will be up to module developers to compile TS on their end if they choose t

[2019-06-26 16:45] filrak commented on #3144
@jahvi

Not really. We will just have a boilerplate that compiles js to ts. The biggest problem here was the fact that modules were relaying on core functions and core is not a proper npm package yet so we can't make it a dependency of such boilerplate.

Now the API available for module creators will be a part of separate package - `@vue-storefront/modules` (or `/module`, not sure which naming mak

[2019-06-26 17:17] pkarw commented on #3062
I believe we should keep things simple - meaning maybe we just add a score to a review (we probably need a sum of votes + number of votes to calc the average?). It's not the best solution but keeping the individual votes in elasticsearch .. well - we can but its role is rather a cache (so it could be cleared out). We can store the votes in Redis .. but again it's a cache and could be cleared out.

[2019-06-26 17:36] filrak commented on #3144
Also an idea on hooks implementation. Generally I see two types of them
- listeners (perform functions collected from hooks at given moment, for example `onAppInit(fn))
- mutators (hooks have access to passed value and can modify it, for example `onPlaceOrder(order => fn)`)

In Listener Hook you export `listener` as hook to theme/modules and `invoker` to core to invoke functions passed to `listene

[2019-06-26 19:43] pkarw commented on #3144
Good point @filrak  - mutators/listeners are exactly covering all the situations we can have with events. However - wouldn't it be simpler if we ended up with just one type (mutator kind of listener) - not to frustrate the users on which type they should incorporate?

[2019-06-26 19:52] filrak commented on #3144
@pkarw for users it's only `onEvent()` . They are not aware of internals, it's just for us to define hooks

[2019-06-26 21:22] pkarw commented on #3087
@przspa can you Please update the status of this issue?

[2019-06-27 07:04] wdrdres3qew5ts21 commented on #2301
How Can you install bootstrap or vuetify ? I had problem with it for a while after I following this command. May you share the example code about how I can register external vue component properly ?
![image](https://user-images.githubusercontent.com/25000903/60244264-3aebad00-98e4-11e9-8169-d535803f4758.png)

![Uploading image.png…]()

[2019-06-27 08:07] przspa commented on #3087
@pkarw it's ready, I test it now and creating PR

[2019-06-27 09:28] wdrdres3qew5ts21 commented on #2977
Does this problem solve yet because I already ask but I cann't find any solution for this ?
https://forum.vuestorefront.io/t/how-vue-storefront-install-external-vue-component-boostrap-css-framework-work/413

[2019-06-27 09:28] Decntdefalt commented on #2301
In cli: `yarn add vuetify`

[code]

Try that first, if there's errors your paths are wrong or you haven't actually installed the libraries. Else I'd check chrome console for further debugging.

[2019-06-27 09:32] wdrdres3qew5ts21 opened #3149 "Can't install bootstrap, bulma and external vue css component"
I had problem with css rendering. Here I use vue-boostrap but after Vue-Storefront render complete my boostrap button will got override by Vue-Storefront css ?!
So how can I install it properly with external vue-component or css framework ?
How I can install external component properly do you guy have any advice because this is very important to many people.
![image](https://user-images.githubuser

[2019-06-27 10:15] alinadivante opened #3150 "AddToCart button becomes grey out when endpoint is broken"
## Current behavior
AddToCart becomes grey out when endpoint is broken
![image](https://user-images.githubusercontent.com/36628922/60258296-2b189c80-98d5-11e9-9cc9-c4aba3d39b2b.png)

## Expected behavior
Despite that endpoint  is broken, AddToCart button should be active and an error message should be displayed. (e.g. Something went wrong ...)

## Steps to reproduce the issue
1. Broke "updateitem_

[2019-06-27 11:16] nikblack opened #3151 "User token is not refreshed with autoRefreshTokens when invalidated by Magento backend"
## Current behavior

When user token is invalidated  by Magento backend, refresh logic is not working in /core/lib/sync/task.ts

The error returned by Magento is:
{"code":500,"result":"The consumer isn't authorized to access self."}

The check if token is invalidated looks like:
resultString.indexOf('not authorized')) >= 0

So now it is not passed as 'not authorized' !== ' isn't authorized'

## Ex

[2019-06-27 12:23] filrak commented on #3144
Update;

Convention for hooks is `before/afterEventNameHook`
so we can have:
`beforePlaceOrderHook`
`afterPlaceOrderHook`

[2019-06-28 04:54] wdrdres3qew5ts21 commented on #2301
![image](https://user-images.githubusercontent.com/25000903/60317949-58c81900-999b-11e9-8658-86180616b4d5.png)
I got this problem after install vue-bootstrap may you the example of installation step to me ? I run "yarn add vue-bootstrap" command at theme folder that have package.json but it still don't work.

[2019-06-28 06:22] revlis-x opened #3153 "Applied discount code is lost when logging in / creating account / placing an order with account creation"
## Current behavior
When a user logs in after applying a discount code ("mmtest") in the cart (e.g. log-in on checkout page), the discount code is no longer applied.
Moreover, if the user chooses to create an account during checkout, the order is placed without the applied discount code.

## Expected behavior
Discount code is kept applied when user logs in or creates an account.

## Steps to repro

[2019-06-28 06:52] patzick commented on #3087
Thanks @przspa !

[2019-06-28 06:52] #3087 closed

[2019-06-28 07:32] #3091 closed

[2019-06-28 09:24] bobcho commented on #3087
thanks guys!

[2019-06-28 10:26] Gotsira commented on #3149
I am having the same problem too. There is some problem with the babel/polyfill but still wondering how to solve this issue.

[2019-06-28 11:24] pkarw commented on #3153
Good point! User authorization changes the shopping cartid (if user had the shopping cart assigned in magento) and in this case the discount code needs to be re-applied

[2019-06-28 12:09] alinadivante opened #3155 "Errors in dev console on /cms-block-demo-page-ssr page"
## Current behavior
Errors in dev console when after opening http://localhost:3000/cms-block-demo-page-ssr page

![image](https://user-images.githubusercontent.com/36628922/60341125-c41ae680-99ad-11e9-891f-14515554cf59.png)

## Expected behavior
Fix all errors

## Steps to reproduce the issue
1. Go to http://localhost:3000/cms-block-demo-page-ssr
2. Look at dev Console

## Repository

## Can you h

[2019-06-28 12:43] alinadivante commented on #2636
- [ ] → Save shipping address in customer's account if they choose to register account during check out; - **fixed**
- [ ] → customer saved shipping address should copy to the check out page everytime they check out. - **it doesn't work** Saved shipping address is not automatically copied to the checkout

[2019-06-28 14:18] pkarw commented on #2636
@iwonapiotrowska can you please take care of this one?

[2019-06-28 14:30] Decntdefalt commented on #2301
In which directory are you running the command?

If you run yarn `add vue-bootstrap` inside` vue-storefront/src/themes/default` it should add the library to your node_modules folder where all these libraries will reside.

After that you should import it in the js folder which imports these libraries, or you can import it in `vue-storefront/src/plugins/index.ts` (I believe)

I guess the best way to

[2019-06-29 08:55] kkdg commented on #2992
Ch. 3 includes following topics :

0. Introduction (done)
1. Install with Docker (doing)
2. Using Installer
3. Manual Installation
4. Storefront CLI at your service
5. How to debug anything
6. Install Tool Chains

You can watch it while it is in progress at here : https://vuepress.andflyaway.now.sh/guide/cookbook/data-import.html

[2019-06-29 11:18] pkarw commented on #2992
Cool!

[2019-06-29 11:43] cewald opened #3158 "Make image proxy url work with relative base url"
## Current behavior
If you use a relative `images.baseUrl` like `/img/` the path won't be build using the `api.url` config value like in the other endpoint, which forces you to use an absolute url at this point again.

## Expected behavior
Make image proxy url work with a relative base url using the `processURLAddress()` method.

## Steps to reproduce the issue
You can see it with each visible pro

[2019-06-29 11:44] pkarw commented on #3144
This is cool idea @filrak as a VSF user I want to have this feature! :)

[2019-06-29 11:44] pkarw commented on #3144
@patzick and @filrak this is awesome. This will be really transparent to the users

[2019-06-29 11:46] pkarw commented on #3158
Good point! Thanks!

[2019-06-29 19:27] thirdspace commented on #2667
I'm still experiencing issues with mix-blend-mode breaking on my Galaxy S9. Working on desktop chrome (Mac/Win) and Chrome for iPhone, but for Android Chrome alone this breaks for me. Trying to find alternatives on my side but I think this is related.

[2019-06-29 21:04] pkarw commented on #2667
Hi @thirdspace are you testing it on the `release/1.10` or `develop` branches? @patzick can you take a lookt at it?

[2019-06-29 21:07] pkarw opened #3160 "Add support for cloudinary.com as a image proxy"
## What is the motivation for adding / enhancing this feature?

Add the support for Cloudinary for image proxy instead of using the `/api/img` endpoint.
Related source location: https://github.com/DivanteLtd/vue-storefront/blob/65b964f049f3d100a8523779ca20aa78af6def7f/core/helpers/index.ts#L46

## What are the acceptance criteria

* [ ] vsf-cloudinary module ready to be installed to VSF :-)

## Ca

[2019-06-29 21:42] pkarw commented on #3089
Related to #3152 - in a way that #3152 is adding another hook after state replace

[2019-06-30 00:48] thirdspace commented on #2667
Thanks for the quick reply! I'm testing on Chrome 75.0.3770.101 as well as Chrome Dev 77.0.3828.0. Experiencing the same issue on both.

You can view the sample page I've put together at http://stephenpeaslee.com/lex-tints/. Mix-blend-mode should show color tints over the images but they are displaying as black and white on Android.

[2019-07-01 07:30] DaanKouters commented on #3144
That would be really great indeed

[2019-07-01 07:32] DaanKouters commented on #3144
That would be really nice feature

[2019-07-01 07:39] patzick commented on #2667
@thirdspace do you have this problem in current RC env?
Please check it here: https://next.storefrontcloud.io/

cc @michasik

[2019-07-01 09:32] jahvi commented on #3144
This looks really good so far! Since VS is planning to use hooks does it mean we need to wait for Vue to release support for them first or can they be used now?

[2019-07-01 11:31] alinadivante opened #3163 "Sorting at a price in different ranges doesn't work properly"
## Relates to:
#2890

## Current behavior
Sorting at a price in different ranges doesn't work properly - only the last selected price range is taken into account.

![sortbyprice](https://user-images.githubusercontent.com/36628922/60433037-15241800-9c04-11e9-8f9c-54f9b11c0541.gif)

## Expected behavior
Available products should be displayed according to the selected price ranges.

## Steps to repro

[2019-07-01 15:46] Cheeerd opened #3164 "Microcart product options for just added product"
When product is added to cart, "product.options" are printed instead of "product.totals.options" until totals are not loaded. And it seems that attribute code (lower first latter) is printed instead of attribute label.

Screenshot from https://demo.vuestorefront.io:
![image](https://user-images.githubusercontent.com/21987340/60448183-ca1efa80-9c2d-11e9-85d3-025f83379e02.png)

Maybe you should not

[2019-07-01 19:28] thirdspace commented on #2667
Within this environment, the CSS treatment I'm aiming for does indeed work
without any issues. Screenshot attached.

On Mon, Jul 1, 2019, 12:39 AM Patryk Tomczyk <notifications@github.com>
wrote:

[2019-07-02 08:15] filrak commented on #3144
@jahvi those hooks are not connected to Vue ones at all. We have our own implementation :)

[2019-07-02 11:39] Michal-Dziedzinski commented on #1951
@filrak did you change your mind? :)

[2019-07-02 14:02] Cheeerd opened #3166 "Extended stock info access of cart items"
Add possibility to access stock info of cart item, not only is_in_stock.

## What is the motivation for adding / enhancing this feature?
For example, in magento in product settings you can setup backorder property. So if you want in custom theme to print in cart a special label if product will be backordered (stock.qty <= 0 && stock.backorders > 0) you need to access theese properties.

## Can you

[2019-07-02 19:34] pkarw commented on #363
https://github.com/Nosto/techdocs/wiki/SPA:-Implementation-Guide

[2019-07-02 19:35] pkarw commented on #363
https://github.com/Nosto/techdocs/wiki/Updating-products-using-the-Products-API

[2019-07-02 20:20] pkarw opened #3167 "To check: the number of product queries per CSR category request"
## Current behavior

I see that 3 product requests  and 2 category requests are being executed by each CSR click for products - https://www.dropbox.com/s/v6xayrafosq6812/Screenshot%202019-07-02%2022.18.07.png?dl=0

Please do check if all of them are necessary? I mean - we should probably have 2 product requests (list + cache (full records))

It's on 1.10rc-1

[2019-07-02 20:25] pkarw commented on #3167
The second category request is fine - it's for all the parts of the breadcrumb. So the question is for the 3rd product request

[2019-07-02 22:08] pkarw commented on #3166
Hey! yeah, this makes perfect sense- please propose a PR to the core with this change. Please also take a look at the `filterOutUnavailableVariants` (Find in Files) which may be useful - and it's also updating `product.stock` but not in the cart ([reference code](https://github.com/DivanteLtd/vue-storefront/blob/ae793cbaaa8c992b517e7264f3737afcbb4b625f/core/modules/catalog/helpers/index.ts#L123))

[2019-07-02 22:22] NuruddinBadawi commented on #2377
how did you solve this problem ?

[2019-07-03 07:24] haelbichalex commented on #3062
@pkarw Why an external web service? I would suggest using the [vsbridge-indexer](https://github.com/DivanteLtd/magento2-vsbridge-indexer). There Magento can calculate the average and pass it to Elasticsearch.

[2019-07-03 09:03] HawkeyePierce89 opened #3168 "package.json, engine"
Why I cannot use Node v12? Minimum version – ok, I understand. But what a problem with maximum version?

[2019-07-03 09:13] sandermangel opened #3169 "[RFC] Payment Gateway Integration"
One of the more challenging parts of the checkout has been payment gateways. This RFC is an effort to streamline integrations, offering standardized workflows.

Since integrations like these touch the stack on every level and need tight integration in both the frontend, as well as the underlying e-commerce engine, a clear separation of concerns should be made.
The frontend and middleware should be

[2019-07-03 10:57] patzick commented on #3053
thanks @dimasch ! Nice job :)

[2019-07-03 10:57] #3053 closed

[2019-07-03 11:09] filrak commented on #2985
Imho we can easily use Web Push or even API endpoint to inform users about new version and react accordingly. For sure it's a feature that we need in 1.11

[2019-07-03 11:58] Cheeerd commented on #3166
Hello, i created pull request.
Also i enabled `products.filterUnavailableVariants` option and tested `filterOutUnavailableVariants`. If qty is zero but backorders are enabled, magento returns is_in_stock = true, so this method does not remove zero quantity childs with backorders.

[2019-07-03 12:27] pkarw commented on #3164
That's for sure a good idea. It requires a change to be made in here: https://github.com/DivanteLtd/vue-storefront/blob/3d1d81c0e1aebfcdeda97ea7fec58b6d3ab8ef29/core/modules/catalog/helpers/index.ts#L385

Probably just a mapping to the `product.configurable_options` - there is already an `option` mapped: https://github.com/DivanteLtd/vue-storefront/blob/3d1d81c0e1aebfcdeda97ea7fec58b6d3ab8ef29/cor

[2019-07-03 12:27] pkarw commented on #3164
@Cheeerd would you like to take care of this one?

[2019-07-03 12:29] pkarw commented on #2985
Related to `storageQuota` cleaning mechanism we already have in here: https://github.com/DivanteLtd/vue-storefront/blob/3d1d81c0e1aebfcdeda97ea7fec58b6d3ab8ef29/core/store/lib/storage.ts#L63

[2019-07-03 12:30] alinadivante opened #3172 "No products found on category pages for multistore - it_IT / de_DE"
## Current behavior
No products found on any category pages (for it_IT / de_DE stores), but I can open product page directly using URL

![image](https://user-images.githubusercontent.com/36628922/60591636-29e8e300-9d9f-11e9-993f-af9f18c7cb49.png)

## Expected behavior
All products should be displayed on category pages for it_IT / de_DE stores

## Steps to reproduce the issue
0. Setup multistore mo

[2019-07-03 12:36] #3158 closed

[2019-07-03 13:14] #3155 closed

[2019-07-03 15:25] pkarw commented on #3166
@Cheeerd cool! Please go forward with next core extensions, you did a great job and cool feedback :) Custom attributes are being indexed - but by default they're indexed as a product/child properties and not under the `custom_attributes` (https://github.com/DivanteLtd/mage2vuestorefront/blob/c71788e1c918225685344657f9d6ca0b2417d801/src/adapters/magento/product.js#L424)

[2019-07-03 15:46] pkarw commented on #3062
Well, I'm not exactly sure about this. Well it's the easiest way to add indexing reviews scores there but how about recordign the votes? I wouldn't like to add anything non-mageno-standard to vsbridge-indexer. Meaning - not sure if Magento already allows user to vote the raitigns? if so - cool they probably have an endpoint for voting already. If no and it's non-standard data then we need an exter

[2019-07-03 16:12] patzick commented on #3057
QA - ready for retests. Thanks @lukeromanowicz for feature :)

[2019-07-03 16:12] #3057 closed

[2019-07-04 02:01] grimasod commented on #3102
On it

[2019-07-04 08:19] sandermangel commented on #3144
Can we include Auto registration and auto removal for modules?

[2019-07-04 08:42] Cheeerd commented on #3166
I also noticed that when stock item is saved to cache, the backorders property is not saved with it. I think it may be useful to save it too. But im afraid, that vuestorefront could be connected with another backend except magento, and there are this property may not exist or named differently.
https://github.com/DivanteLtd/vue-storefront/blob/84993c719af720042f44bb492f4374527623c003/core/modules/

[2019-07-04 08:56] filrak opened #3177 "Simplify config"
* Put only config options that are mandatory in local config, document others,
* Lower the number of config options required for the user

[2019-07-04 09:02] #3132 closed

[2019-07-04 09:06] marvinhuebner opened #3178 "Session gets lost"
## Current behavior

If you are not active in the shop for some time, the session seems to lose its validity although "Remember me" was selected.

An error message (Consumer isn't authorized to access self) will appear in the frontend as "You are not logged in".

But the user is still access the account and navigate to data which is cached, but all new request to the API which requires authenticat

[2019-07-04 09:18] filrak opened #3179 "Implement theme fallback system"
Let theme B inherit files from theme A based on folder structure

[2019-07-04 12:52] lsimone opened #3181 "eslint vue/no-use-v-if-with-v-for rule not respected"
## Current behavior
Currently in `Product` page `v-if` and `v-for` are used on the same element 4 times.

It [should be avoided](https://vuejs.org/v2/style-guide/#Avoid-v-if-with-v-for-essential) and eslint shows warnings.

Here the exact places:
- [one](https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/pages/Product.vue#L60)
- [two](https://github.com/DivanteLtd/vue-stor

[2019-07-04 14:46] pkarw commented on #3178
Hi! This is related to #3151 - if it will be fixed (and the fix is trivial as it seems ;-)) it should start refreshing the tokens again in case when token is outdated

[2019-07-04 15:40] pkarw commented on #3166
Good point. As long as you keep these minimal fields included it’s safe with other platforms. We’ve just stored the most fundamental data into cache as the rest was not required by the filter out of the stock variants feature

[2019-07-04 17:27] #3163 closed

[2019-07-04 17:29] #2992 closed

[2019-07-05 09:16] #3108 closed

[2019-07-05 09:39] #3119 closed

[2019-07-05 09:48] filrak commented on #3139
@michasik is doing this

[2019-07-05 11:08] wdrdres3qew5ts21 commented on #2301
Thnak you very much now I had problem about SCSS compile ?
![image](https://user-images.githubusercontent.com/25000903/60718751-be924300-9f4f-11e9-84eb-574866cb5b8b.png)
![image](https://user-images.githubusercontent.com/25000903/60718760-c5b95100-9f4f-11e9-9be9-6c9a6318b925.png)
![image](https://user-images.githubusercontent.com/25000903/60718768-ceaa2280-9f4f-11e9-8eff-7afa7e2081e2.png)

[2019-07-05 11:28] alinadivante commented on #3155
@pkarw I see in pr that you removed magento-2-cms module, but I'm not quite sure how can I now test issue if this CMS page does no longer exists?

[2019-07-05 11:43] alinadivante commented on #3163
fixed ! @patzick could you  do the same solution for Erin recommendations?

[2019-07-05 12:21] #2714 closed

[2019-07-05 12:24] alinadivante commented on #2322
@patzick please remember that only one option in Erin Recommends should be possible to choose

[2019-07-05 12:26] alinadivante commented on #2714
Closed as duplicate of: #2322

[2019-07-05 12:33] alinadivante opened #3187 "Change ratio of photo"
## What is the motivation for adding / enhancing this feature?
Some of photos have improperly ratio.
Please compare demo https://demo.storefrontcloud.io/gear/gear-3/sprite-yoga-companion-kit-45.html to test environment https://test.storefrontcloud.io/gear/gear-3/sprite-yoga-companion-kit-45.html
![image](https://user-images.githubusercontent.com/36628922/60722651-d8249200-9f31-11e9-8322-6323aa5798

[2019-07-05 12:39] pkarw commented on #2918
Will be closed with #3156

[2019-07-05 12:40] pkarw commented on #3089
@Cheeerd have you maybe tried the solution with the `payment_methods_mapping`?

[2019-07-05 12:41] pkarw commented on #3181
@filrak can you please take a look at this one?

[2019-07-05 12:42] pkarw commented on #3167
Plus: please do remember on adding the support for `includeFields` and `excludeFields` in `loadCategoryProducts` as it's currently missed

[2019-07-05 13:01] cartok opened #3188 "config.i18n.bundleAllStoreviewLanguages breaks build process, config value seems to be inconsistent."
## Current behavior
Setting config.i18n.bundleAllStoreviewLanguages to false breaks the build process.

The webpack base config loads the 'config' npm package, that returns a merged config object (default, local), then this config is written to to the webpack config directory as 'config.json'. The config gets passed to translationPreprocessor.default. That function checks 'config.i18n.bundleAllSto

[2019-07-05 13:12] patzick commented on #3163
this goes to #2322

[2019-07-05 18:52] pkarw commented on #3155
Well :) no page no issue ;) there is the “abouts us” page in demo which is using the currently recommended CMS module

[2019-07-06 14:52] pkarw commented on #3188
Thanks for raising this issue. We will try to reproduce and fix it

[2019-07-06 17:18] #3150 closed

[2019-07-06 18:33] protob opened #3190 "Error on VPS / production setup - DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method."
## Current behavior

I wanted to test Vue Storefront production setup on VPS.
Site url: https://vue.emerg.pl
It uses default, demo products data.
The browser console shows an error and few service-worker.js warnings.
The internal pages are not loading asynchronously. The urls are pushed to address bar, but only manual refresh can navigate to another page.
`"DOMException: Failed to execute 'appendC

[2019-07-06 18:43] pkarw commented on #3190
Please do check if you’re using the SSR cache if so then it may need to be cleared after the build (if this issue has been caused by he wrongly cached scripts references (as they’re hashed with the current build)). I can’t check it right now but, please do let us know if this issue is occurring only on your production setup or also on demo/next instances(?)

@alinadivante we need to verify this is

[2019-07-06 20:31] pkarw commented on #3083
Hi @GabiDivante I've rechecked this one and here are my findings:

1. The validation is made on Magento2 side - we're sending a request to `cart/update` endpoint and Magento is responding with an error.

2. If You add the WS09-L-Blue with qty = 60; then modify to 20 - > it's fine, but when you add with qty = 60 and then modify to 30 - you got this error

3. It seems like Magento is validating the

[2019-07-06 20:31] #3083 closed

[2019-07-06 20:39] pkarw commented on #3188
This is caused by webpack trying to bundle this file into the app bundle anyway - webpack doesn't support the runtime conditions (as checking the config variable in that case) and always bundles the required files (like doing this bundling kind of statically - which makes perfect sense as while compiling the current config can't be obtained from the webpack perspective)

[2019-07-06 20:42] pkarw commented on #3188
Fixed by the #3189

[2019-07-06 20:42] #3188 closed

[2019-07-06 20:49] pkarw opened #3191 "Cart updates throttling in case of changing the quantity"
## What is the motivation for adding / enhancing this feature?

Currently (1.9.2, 1.10rc1) each keypress into `quantity` field (`Microcart/Product.vue`) causes the `cart/sync` action to be executed

There is something like this:

[code]

... and in the `microcart/components/Product.ts` (base component of this `Product.vue`)

[code]

This causes immediate call to `cart/sync` and after entering kind

[2019-07-06 20:50] pkarw commented on #3191
@filrak or @patzick can you please take this one?

[2019-07-06 20:54] pkarw commented on #3191
We can probably use the `debounce` filter (example: https://github.com/DivanteLtd/vue-storefront/pull/2654/files)

[2019-07-06 21:15] pkarw commented on #3151
Related: https://github.com/DivanteLtd/vue-storefront-api/issues/297

[2019-07-06 21:15] pkarw commented on #3178
Related: https://github.com/DivanteLtd/vue-storefront-api/issues/297

[2019-07-06 23:16] protob commented on #3190
Thanks for the fast reply. I modified only the config: local.json according to the official guide.
I solved the issue by fresh installation on another subdomain: https://vuesf.emerg.pl
Please close the issue or let me know if there is something i could check to provide valuable feedback from the buggy instance.

[2019-07-07 04:53] pkarw commented on #3190
Thanks for letting us know. Any feedback on what could caused this issue?

[2019-07-07 04:53] #3190 closed

[2019-07-07 15:23] nuovecode commented on #3177
I believe there could be 2 different configuration files.
- Those of environment that are different between dev, stage and prod and that shouldn't change during upgrades. Example: Server, elastic and Magento url
- Those of application that change during the upgrade but they usually remain the same among the evironments.

[2019-07-08 06:00] alinadivante commented on #3150
Ok, now i get  _"Error with response - bad content-type_" message and Add to cart button is active

[2019-07-08 09:14] alinadivante commented on #2918
@pkarw I checked changes on  Bugfix/2918 branch
but there are still names like: priceInclTax, priceTax, specialPriceInclTax, specialPriceTax

https://demo.storefrontcloud.io/api/catalog/vue_storefront_catalog/product/_search?_source_exclude=%2A.msrp_display_actual_price_type%2Crequired_options%2Cupdated_at%2Ccreated_at%2Cattribute_set_id%2Coptions_container%2Cmsrp_display_actual_price_type%2Chas_o

[2019-07-08 11:43] filrak commented on #3144
@DaanKouters @pkarw @patzick  @jahvi do you think hooks api and extendStore should be part of `@vue-storefront/modules` package or a new one `@vue-storefront/utils`. Technically those could be used also in theme so I'm wondering if they should be a different package

[2019-07-08 11:48] DaanKouters commented on #3144
hi @filrak,
i think they should sit in `@vue-storefront/utils` because indeed it's not only scoped to modules. That's my opinion :)

[2019-07-08 11:53] filrak commented on #3144
Ok, and how about keeping them in modules package and providing a best practice to create `projectModule` per project which will encapsulate all project-specific overrides and additions?

[2019-07-08 12:14] patzick commented on #3191
@pkarw yes, debounce is right solution here:) it's 1.10 milestone, so will be added soon!

[2019-07-08 13:12] jahvi commented on #3144
@filrak I'm not a massive fan of `util` classes as they can get out of control (I mean almost everything can be considered an util).

I can't think of a use case where you'd need to use the proposed here outside the context of a module but I might be wrong.

[2019-07-08 14:07] DaanKouters commented on #3144
This is tricky to get right and come up with a best practise.
I agree with @jahvi that's it unclear when something is a util, because you can explain almost anything as a util.

But the projectModule could solve that i think. How far do you want to take this? It sounds really good, for example we can also place the projectspecific config json in there.
And a simple way to see what modules are acti

[2019-07-08 17:54] DaanKouters commented on #3169
This is very important (obviously)
I'll post here what we came across with developing a payment integration as first pointers. I'll post more when i have the time

What we came across with building payment provider integration was:
We had to store a order in the backendsystem to link the payment to be sure the order and payment are linked properly - don't know a better way tbh, it's common in paym

[2019-07-09 04:04] pkarw commented on #2918
Hi! Thanks for testing this out! @alinadivante this is intended behavior, there is a `config.tax.deprecatedPriceFieldsSupport` set to `true` in the `vue-storefront-apii` for the backward compatibility purposes. When set to `false` there won't be any of these fields anymore

[2019-07-09 04:08] pkarw commented on #3150
Thanks for testing it out :)

[2019-07-09 06:47] alinadivante commented on #2918
Thanks @pkarw ! Please include information such as  **_test instructions_** next time, if there is something what we need to change in config or something like that - let us know! :)
Now I have problem with vue-storefront-api (problem with data migration) I have to wait for @lukeromanowicz time/help ;)

[2019-07-09 09:07] juho-jaakkola opened #3199 "Product attribute not always showing up on category page"
I have a custom dropdown product attribute called `delivery_time`.

I am using this helper method: https://github.com/DivanteLtd/vue-storefront/blob/master/core/modules/catalog/helpers/optionLabel.ts to display the selected attribute option within each product tile on the category page.

However, something strange happens on the page. On the first page load I do not see the attribute value at all:

[2019-07-09 09:11] juho-jaakkola commented on #3199
In my example I am using a custom theme, but I tested the same attribute also with the `theme-default` to make sure nothing has accidentally been broken within the theme.

[2019-07-09 12:06] alinadivante opened #3203 "Problem with placing an order if shipping method is different than default one"
##Relates to:
#2881

## Steps to reproduce the issue
1. Add any product to cart and go to checkout
2. Fill in shipping address but, choose United States
3. In Shipping method choose Table Rate (different method than default)
4. Click "Continue to payment" and try to place the order

## Current behavior
The order can not be transferred. Internal server error occurs.

![shipping_method](https://user

[2019-07-09 15:45] filrak opened #3205 "[ RFC ] Vue Storefront Hooks"
Connected to: https://github.com/DivanteLtd/vue-storefront/issues/3144

Hooks allow us to
- do something at certain moment of application lifecyce (for example `afterPlaceOrder`, `afterAppInit` (so called `Listener` hooks)
- let you modify internal objects before app performs some actions (for example `beforePlaceOrder( order => { return modifiedOrder }`) (so called `Mutator` hooks)

I want to ask

[2019-07-09 16:43] simonmaass commented on #1015
hey guys - would also be interested in a status here or contribute... any news here?

[2019-07-09 16:47] pkarw commented on #3205
Looks great @filrak. OK, I'm adding my propositions:
- `beforeUserLogIn(credentials): mutator` - to let devs implement other authorization workflow (can be done by overriding the login screen as well
- `afterUserAuthorized(userData): listener` - once user get authorized the hook to bind to and to load custom data regarding current user account,
- `afterUserLogOut(userData): listener`,
- `afterCart

[2019-07-10 02:55] grimasod commented on #3205
My request

- `afterCartUpdated(cartItems): listener` - after items added / removed or quantity changed

[2019-07-10 06:01] filrak commented on #3205
@grimasod  could you please also tell a bit about use cases you see for those hooks?

[2019-07-10 06:32] juho-jaakkola commented on #3199
The "takes some effort" label was added? What exactly is causing the described problem?

[2019-07-10 06:33] pkarw commented on #3199
@juho-jaakkola i've just added a label to set the weight of this task in Github Issues, haven't had a chance to take a deeper tech look

[2019-07-10 07:20] grimasod commented on #3205
@filrak Sure, I can think of a few

- `afterCartUpdated(cartItems): listener` - example use cases:

1. To inform the user of Discounts they could receive if they log in. This information is not in the cart data if they're not logged in and needs to be updated when the cart changes.
2. To trigger data updates from other data sources, like Rewards or Offers from hosted services
3. To reset a timeout

[2019-07-10 07:30] cewald opened #3207 "Get also none product image thumbnails via API"
## What is the motivation for adding / enhancing this feature?

At the moment it seems only to be possible to fetch product images thumbnails via the api (for Magento 1 and 2).

As I implement some CMS data to our Vue-Storefront I noticed that it might be a good core feature to also fetch images which are not in the `/media/catalog/product" folder.

In fact this is a feature which is deeply implem

[2019-07-10 09:03] pkarw commented on #3207
It's good idea - for sure this should be configurable./extendable (the way we generate thumbnails). Related to https://github.com/DivanteLtd/vue-storefront/issues/3160

@filrak maybe we just can have a `mutator` hook on generating the thumbnail? It makes a lot of sense and it's very general purpose kind of hook

[2019-07-10 09:18] pkarw commented on #3205
- `onAfterProductThumbnailPathGenerated(path, sizex, sizey): mutator` - for integrating 3rd party services like Cloudinary,
- `onBeforeTaxesCalculated(productList)` - for integrating the 3rd party services like https://www.taxjar.com/ - it must work on kind of async/await Promises then

[2019-07-10 09:39] #3099 closed

[2019-07-10 09:39] #3050 closed

[2019-07-10 09:39] #2918 closed

[2019-07-10 09:51] #3139 closed

[2019-07-10 11:25] cewald commented on #3207
I opened a PR: #3209

[2019-07-10 11:56] mkoszutowski opened #3210 "Module cross-env in devDependencies"
For command `yarn install --production` I have error `/bin/sh: cross-env: not found`. Module cross-env is in `devDependencies` but should be in `dependencies`

[2019-07-10 13:17] lukeromanowicz opened #3211 "Ability to connect to basic auth protected API."
## What is the motivation for adding / enhancing this feature?
If you set a basic auth on API, there is no way to connect to it from SSR VSF.

## What are the acceptance criteria
* it's possible to connect to basic auth protected API

## Can you complete this feature request by yourself?
* [x] YES
* [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) sta

[2019-07-10 14:39] unherz opened #3213 "translation refactoring"
## Current behavior
There are many translations for german but most of them use the informal way of adressing the reader. This is inappropriate in most cases.

## Expected behavior
All way of adressing the reader is either formal passive. This means for the german language for example: "Sie" instead of "du" aso.

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by

[2019-07-10 14:53] juho-jaakkola commented on #3199
I added another attribute that has a simple integer value. That one appears on the category page as expected as long as I have added in into the `entities.productList.includeFields` array in `config/local.json`.

So could there be some problem specifically with attributes having multiple options?

[2019-07-10 17:57] mosstly-design commented on #1986
How does one get hot code reloading to work when running `yarn dev`. I'm having the same issue.

[2019-07-10 18:05] pkarw commented on #3213
Good point!

[2019-07-11 08:40] Cheeerd commented on #3089
@pkarw Sorry for late response. I tested it with cashondelivery method. It is used only in `getPaymentMethod()` which is called just in `prepareOrder()`, after the cashondelivery module emitted "checkout-do-placeOrder" event. So i dont quite understand how its relevant. Because if cashondelivery was missed earlier (did not override backend method due to empty cart check) it wouldnt neither output

[2019-07-11 08:44] unherz commented on #3213
It this a general point including serveral other languages?

[2019-07-11 12:41] pkarw commented on #3213
I have no idea - I can just say it's fine for PL and EN :)

[2019-07-11 12:45] pkarw commented on #3199
Hi there, for sure the attribute needs to be on the `entities.productList` and `entities.productListWithChildren` included. If it's not the `int` or `text` attribute (say: multivalue) it won't be automatically labeled across the `attribute` entities meta data. If it's simple attribute and it's integer and you're using `optionLabel` it should be displayed properly as long as you've got the attribut

[2019-07-11 12:50] pkarw opened #3220 "Call the `attribute/list` for all the attributes put in the `entities.productListWithChildren.includeFields`"
## What is the motivation for adding/enhancing this feature?

Related to: https://github.com/DivanteLtd/vue-storefront/issues/3199

We should pre-fetch the metadata of the attribute to all `includedFields` - currently, we just load the `defaultFilters` which could not be enough to properly display the other fields.

On the product page - there is another `attribute/list` call for all the product a

[2019-07-11 13:14] unherz commented on #3213
Okay, for now wen can stick to german with this topic. The german translations need some refreshment. I will take care of it either later today or tomorrow and open a PR for it :)

[2019-07-11 14:21] Ravin0319 opened #3221 "Multi Store without "/de" but with subdomain"
Hello,

For the Multi store how can i achieve the below:-

1. I have 2 stores ['ae', 'sa']
2. The default store is 'sa' and language is "arabic"
3. i need to change the store from "Language.vue" with vue methods/function - here the user can select One country and also the language English or Arabic.
4. How to change Language (English and Arabic) from a vue method function.
5. How to change Store (

[2019-07-11 14:31] ResuBaka commented on #3136
One question that would be great would be to ask the format of the config.
Like yaml or json as example.

Should i open that as a feature request for version 2.0?

[2019-07-12 06:39] #3187 closed

[2019-07-12 08:42] juho-jaakkola commented on #3199
The problem about the attribute labels should indeed get fixed once the issue #3220 gets fixed.

[2019-07-12 08:42] #3199 closed

[2019-07-12 13:00] #3164 closed

[2019-07-13 06:20] pkarw commented on #3181
@przspa may I ask you to take care of this one please?

[2019-07-13 11:53] przspa commented on #3181
@pkarw sure :)

[2019-07-14 06:12] Ravin0319 commented on #3221
@lukeromanowicz Sir, Please help me out with the above.

[2019-07-14 07:17] pkarw commented on #2893
Przemek can you take this one as well?

[2019-07-14 07:18] pkarw commented on #3213
Cool! Thanks!

[2019-07-14 07:20] pkarw commented on #3166
Hi @Cheeerd are you adding this cache extension in here or are we good to close this issue? I’m closing it for now and please do reopen when needed

[2019-07-14 07:20] #3166 closed

[2019-07-14 07:20] lukeromanowicz commented on #3221
@Ravin0319 what are the store codes for every each these URLs?

[2019-07-14 07:34] Ravin0319 commented on #3221
`"ae": {
        "url": "",
        "storeCode": "ae",
        "disabled": false,
        "storeId": 1,
        "name": "United Arab Emirates Store",
        "tax": {
          "sourcePriceIncludesTax": false,
          "defaultCountry": "AE",
          "defaultRegion": "",
          "calculateServerSide": true
        },
        "i18n": {
          "fullCountryName": "United Arab Emirates",

[2019-07-14 07:39] lukeromanowicz commented on #3221
For every url you need to have separate storeview code. In current setup there is no way to have multiple URLs set for the same storeview. It doesn't even make sense to do it from seo perspective since Google doesn't like content duplication across multiple pages.

[2019-07-14 07:47] Ravin0319 commented on #3221
Sorry, Not sure if i understand your question. below is the storeViews defined in my local.json

"storeViews": {
      "multistore": true,
      "commonCache": true,
      "mapStoreUrlsFor": ["ae", "kw", "iq"],
      "ae": {
        "url": "/ae",
        "storeCode": "ae",
        "disabled": false,
        "storeId": 1,
        "name": "United Arab Emirates Store",
        "elasticsearch": {

[2019-07-15 06:54] przspa commented on #3210
@pkarw I'm not sure about that. Cross-env is a devDependencis (https://www.npmjs.com/package/cross-env) and we need devDependencies to build VSF :)

[2019-07-15 06:56] pkarw opened #3227 "AMP Product page error"
## Current behavior

[code]

[2019-07-15 06:56] pkarw commented on #3227
@przspa can you take a look at this one please?

[2019-07-15 07:05] #2844 closed

[2019-07-15 07:06] pkarw commented on #2549
This has been fixed by adding the `cart/load` on tab switching already

[2019-07-15 07:06] #2549 closed

[2019-07-15 07:06] #2487 closed

[2019-07-15 07:29] mkoszutowski commented on #3210
@pkarw I tried to build optimised front docker image. I used command:
[code]
In my opinion it should work fine but it doesn't because of dependencies.

[2019-07-15 07:49] stevenoddy commented on #3058
@rain2o I've tried your suggestion and it looks like it does try to order by extension_attributes.category_links but I think the issue now is that it does not know to use the specific category id order field.

For example below is the category_links array for the first product returned

`"category_links": [
{
   "category_id": "28",
   "position": 0
},
{
   "category_id": "32",
   "position": 0
},

[2019-07-15 08:06] pkarw commented on #3210
@przspa can you please check it?

[2019-07-15 08:09] rain2o commented on #3058
@stevenoddy This is the same challenge we came up against. Our solution was to add the `products` attribute to each category in ES which comes from Magento's `catalog_category_product` table so that it lists each product in the category with its sort order. We use that for the looping order and have to have a separate query for all products and just grab each one from the `product_id`. For example

[2019-07-15 08:36] pkarw commented on #3058
@rain2o this is great; can you please create a (not sure what:)) - PR, docs whatever? to keep this rolling? or just add this solution to the forum please?

[2019-07-15 08:49] przspa commented on #3210
@pkarw ok I check it and find solution.

[2019-07-15 09:02] przspa commented on #3181
@pkarw but now @patzick working on #3217 it's not the same issues? In this case we should use computed property in this v-if.

[2019-07-15 09:04] pkarw commented on #3181
@przspa it's not - Patryk won't be changing the UI part

[2019-07-15 10:10] rain2o commented on #3058
@pkarw I can add this information to the forum for now, is there already a post I could add this to as a comment?

I'll try to implement our changes into core and submit a PR for both m2vs and vsbridge as soon as I can.

[2019-07-15 10:22] pkarw commented on #3058
@rain2o as far as I know there is not - please feel free to create one :)

[2019-07-15 10:40] stevenoddy commented on #3058
Thank you @rain2o this sounds great, it would be great if you could include the query / logic used on categories

[2019-07-15 13:03] dmytrokravch commented on #1675
Hi guys, any updates? :)

[2019-07-15 17:28] obsceniczny commented on #3128
@filrak Hey, I'm new contributor without write access. Can you assign this issue to me?

[2019-07-16 05:54] rain2o commented on #3058
@stevenoddy I posted some information here. Hope it helps https://forum.vuestorefront.io/t/sorting-products-by-category-position-magento/470/2

[2019-07-16 07:22] kkdg commented on #2992
Opened up a trello board for WIPs

https://trello.com/b/f4URVw5e/vuestorefront

[2019-07-16 07:45] #3227 closed

[2019-07-16 08:23] #3178 closed

[2019-07-16 08:29] serzilo opened #3238 "Plugin doesnt called"
## Current behavior
I create new module and set plugin to store. But this plugin doesnt call when I update the store.

[code]

## Expected behavior
Plugin must be called.

## Additional information
I see that I can fix it in file core/lib/module/index.ts Just need to add:
[code]

[2019-07-16 08:31] filrak commented on #3205
@pkarw i believe for taxes it's much better to just override Vuex action responsible for calculating taxes, for images it's also not so straightforward. For example cloudinary (and probably many other services) uses it's own SDK with dedicated components so our thunb helpers might be useless anyway. Also hook should work as an extension of current behavior, not it's replacement

[2019-07-16 08:36] #3191 closed

[2019-07-16 08:37] #3089 closed

[2019-07-16 08:38] pkarw commented on #3205
@filrak OK

[2019-07-16 11:21] #3210 closed

[2019-07-16 11:23] patzick commented on #3181
QA - after deploy there should be tested available options on product page - changing filters there. There should be visible only available options.

thanks @przspa

[2019-07-16 11:23] #3181 closed

[2019-07-16 11:30] filrak commented on #3221
https://medium.com/@apalshah/vue-js-how-to-handle-multiple-subdomains-on-a-single-app-cba9b1f916c4 you may need to do a little bit of hacking on rputer with passing proper storecodes but seems doable

[2019-07-16 11:36] filrak commented on #3144
I'm closing the issue. New API is now merged into develop

[2019-07-16 11:36] #3144 closed

[2019-07-16 13:08] #3207 closed

[2019-07-16 13:10] pkarw commented on #2478
@filrak is this one stil valid in 1.11/

[2019-07-16 13:15] filrak commented on #3238
Thanks for spotting this bug! Could you propose the fix by yourself as PR?

[2019-07-16 13:17] serzilo commented on #3238
Yes.

[2019-07-16 13:33] serzilo commented on #3238
https://github.com/DivanteLtd/vue-storefront/pull/3241

[2019-07-16 15:03] serzilo commented on #3238
Fixed.

[2019-07-17 05:41] ananth-iyer commented on #1675
I am no more working on this issue, anybody is willing to contribute is most welcome

[2019-07-17 06:46] Ravin0319 commented on #3221
Thanks @filrak

[2019-07-17 07:28] unherz commented on #3213
Short update on this topic: I'm halfway done. There si just the pretty short core translatiuon file left. I might open an PR in the next two hours.

[2019-07-17 08:07] #3238 closed

[2019-07-17 08:12] #3118 closed

[2019-07-17 09:41] lukeromanowicz opened #3243 "404 page doesn't have 404 code"
## Current behavior
404 page doesn't have 404 code which is very bad for SEO.

## Expected behavior
It should be possible to set 404 HTTP code for 404 pages (I suggest a possibility to set it up with route's metadata).

## Steps to reproduce the issue
navigate to https://test.storefrontcloud.io/page-not-found and check response code

## Can you handle fixing this bug by yourself?

- [X] YES but no

[2019-07-17 09:44] lukeromanowicz commented on #3221
It's not possible to do it in 1.9 without dirty hacking. You can implement it easily with 1.10 if I remember correctly, but it hasn't been released yet.

[2019-07-17 09:44] #3221 closed

[2019-07-17 11:36] #3213 closed

[2019-07-17 12:33] alinadivante commented on #3181
@przspa there are visible also not available options on PDP

[2019-07-17 13:33] pkarw opened #3246 "Add static page generator feature"
## What is the motivation for adding / enhancing this feature?

It would be awesome to have a feature similar to what `nuxt` has -> a generator that crawles thru the whole site rendering the static pages for all the products and categories. Kind of https://www.npmjs.com/package/website-scraper but maybe better based on our ElasticSearch and it's list of product + category URLs.

We already have th

[2019-07-17 13:52] pkarw commented on #3246
https://github.com/nuxt-community/nuxt-generate-cluster

[2019-07-17 18:51] dimasch commented on #3169
There is now no entry in m2 stating that the order has been paid, the response from the payment gateway is not saved in m2.

![2019-07-17_22-42-10](https://user-images.githubusercontent.com/414067/61402482-51ce5f80-a8e4-11e9-85e6-8d7838488d45.png)

Possible idea:
Create order with invoice in status `not paid` before send the customer to their bank site.
After receive from payment gateway invoice t

[2019-07-18 06:18] pkarw opened #3249 "Refactor cart Vuex module extracting the network helpers to DataResolvers"
## What is the motivation for adding / enhancing this feature?

The `cart` module has just been refactored and the network operations were extracted to the helpers as a first step - now we need to move it forward creating a regular DataResolver

@andrzejewsky sth. you already did for the user module

[2019-07-18 07:03] DaanKouters commented on #3169
hi @dimasch
after placing the order in Magento (there is no invoice now), you can invoke the invoice method after user comes back. Or by a webhhook from a payment provider api.

When you invoke the invoice method you can update the order status.

[2019-07-18 08:10] filrak commented on #2753
I think we should discuss it first before assigning Stasiek. Neat idea ;)

[2019-07-18 08:16] cewald opened #3251 "Add ./packages as volume to docker-compose.yml"
## Current behavior
If you start VSF via `docker-compose` the following error occurs:
[code]

It's neccessary to add the `./packages` folder to the `docker-compose.yml` like:
[code]

## Expected behavior

It should build and run the app on start.

## Steps to reproduce the issue

Just run `docker-compose up`

## Repository

develop

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] N

[2019-07-18 08:28] filrak commented on #3142
Abandoned

[2019-07-18 08:28] #3142 closed

[2019-07-18 08:31] filrak commented on #3135
We can stat with moving config folder into /src (but keeping default in core)

[2019-07-18 08:32] pkarw commented on #2540
It's  been fixed with #2592

[2019-07-18 08:32] #2540 closed

[2019-07-18 08:35] filrak opened #3253 "Move /store/lib to /lib"
For consistency we should keep all libs in one folder which is core/lib

[2019-07-18 08:45] filrak commented on #2753
Ok so after reading this I'm up to this idea, would be very useful and will for sure improve offline experience.
I'm not totally up to proposed UX implementation parts like

We have badge for this

 From my PoV there should be an icon *somewhere* that informs user that some data hasn't been yet sent to a server. I'm talking only about POST requests so newsletter subscription, user account data cha

[2019-07-18 08:55] lukeromanowicz commented on #2753
I have never noticed that although I've been working on offline browsing fixing for a few hours. I must be blind then :D

Agree, at the time of writing this post that mechanism was not working so I wasn't aware of it.

[2019-07-18 08:56] filrak commented on #2753
I guess it's still not working :d

[2019-07-18 09:11] patzick commented on #3251
Thanks @cewald ! :)

[2019-07-18 09:11] #3251 closed

[2019-07-19 09:00] ashishsjagnani commented on #1495
Is anyone have the solution of this issue. I am getting the same issue.

[2019-07-19 09:43] alinadivante commented on #3203
great :) I tried different combinations for shipping methods and payment methods and now it works! :)

[2019-07-19 12:57] alinadivante opened #3259 "This page isn't working - localhost didn't send any data."
## Current behavior
Problem with running vsf on the newest develop.

I get message: **_This page isn't working - localhost didn't send any data._**

`app_1  | [search] Can not connect the vue-storefront-api / ElasticSearch instance! Error: {"root_cause":[{"type":"parsing_exception","reason":"No value specified for terms query","line":1,"col":170}],"type":"parsing_exception","reason":"No value spec

[2019-07-19 18:26] dimasch commented on #3169
Hi, @DaanKouters

"invoice" - This is only my "possible" assumption. Only one goal - to save `transaction_id` to Magento2 order after approved a payment from gateway.

Tell me how to make it better? Simple REST Api endpoint for save  `transaction_id` ?
For example, the Braintree module save `transaction_id` out of the box https://github.com/danrcoull/vsf-payment-braintree

[2019-07-21 09:19] DaanKouters commented on #3169
hi @dimasch in our payment integration we added a magento mini module to save the transaction_id we receive from the payment provider. At this point a payment is created at the PSP for the placed order, there is no payment done yet.
It's a simple API endpoint with order_id and transaction_id as payload to link these together.
The transaction_id is saved as an order extension attribute.

But this p

[2019-07-21 15:05] kkdg commented on #2760
I have no idea why github shows that `I added this to the 2.0 milestone` when I didn't do anything. hmm..

[2019-07-22 02:44] grimasod opened #3262 "SSR localized routes problem with Multistore"
## Current behavior

In a multistore setup, all stores get the same localized routes in SSR, depending on which store was requested first.

## Expected behavior

Each store should have correct localized routes in SSR

## Steps to reproduce the issue

1. Using a default installation of VS, enable multistore in local.json `"storeViews":  "multistore": true, ...`
2. Build with multistore enabled `yar

[2019-07-22 06:21] pkarw commented on #3262
thanks, @grimasod; what struck me is that the only route that causes this problem is `/` - all the product and category links look just fine (can you please confirm?)

[2019-07-22 06:38] juho-jaakkola opened #3263 "ProductVideo component not displaying videos"
## Current behavior

Product videos do not play on the PDP. Instead the page gives the warning:

Since the commit  https://github.com/DivanteLtd/mage2vuestorefront/commit/6e5e370414f4d0ee807710108623eb2f61cdf94d both the `mage2vuestorefront` and `magento2-vsbridge-indexer` are mapping the video id to `video_id` field. The name however has not been changed into the `ProductVideo.ts` that receives i

[2019-07-22 06:45] pkarw commented on #3263
Hi @juho-jaakkola can yple please provide us with PR fixign this issue/

[2019-07-22 06:56] #3102 closed

[2019-07-22 07:15] grimasod commented on #3262
@pkarw I think it's more complicated than that, unfortunately. I get a mixture of fine (Products) and not fine (Home, Categories, Footer links).

After the steps above, here's a selection of links:

- <a href="/de/" title="Home Page"
- <a href="/de/c/women-20"
- <a href="/de/c/men-11"
- <a href="/de/c/gear-3"
- <a href="/women/tops-women/tees-women/tees-25/radiant-tee-1561.html?childSku=WS12"
- <a

[2019-07-22 07:27] pkarw commented on #3262
It seems like there is some issue with `localizedRoute` helpers - maybe after last changes to `multistore.ts` applied some time ago (to 1.9 I belive) @lukeromanowicz please check it

[2019-07-22 07:30] #2322 closed

[2019-07-22 07:33] #2651 closed

[2019-07-22 07:34] pkarw commented on #3141
@andrzejewsky this is pretty broad one. is your plan to refactor all the vuex modules to take the `notification` out of them?

[2019-07-22 07:40] #3125 closed

[2019-07-22 07:43] #2506 closed

[2019-07-22 07:46] pkarw commented on #2494
I've assigned this one to both of you @filrak and  @andrzejewsky as it's related to new modules architecture merged in two weeks ago

The goal is to have the ability to add the `express.js` middlewares - BUT with support to ES6 and ll the vuex modules :)

It shouldn't be so hard as the `context.server..app` is just the express.js app and it's passed from [`core/server` to the vue.js app](https://g

[2019-07-22 09:07] patzick commented on #3259
Closing - caused by config mismatch.

[2019-07-22 09:07] #3259 closed

[2019-07-22 09:49] alinadivante commented on #3203
One more thing @patzick  :P
Shipping method in not updated in Order Summary
![image](https://user-images.githubusercontent.com/36628922/61623346-c0aa1080-ac76-11e9-953b-da3c57f9766d.png)

Please fix it :)

[2019-07-22 10:17] alinadivante commented on #2814
Hey, there is still no way to send feedback.
please see my screenshot
![image](https://user-images.githubusercontent.com/36628922/61625298-aa9e4f00-ac7a-11e9-9d4d-3bb2af5d864a.png)

[2019-07-22 10:44] Michal-Dziedzinski commented on #2814
@alinadivante it's another error, the one above has been fixed in #3265. Widocznie ten z #2814 został naprawiony przez kogoś innego.

[2019-07-22 10:45] Michal-Dziedzinski commented on #2814
@alinadivante it's another error, the one above has been fixed in #3265. Apparently the one from # 2814 has been repaired by someone else.

[2019-07-22 11:17] alinadivante commented on #2814
ok, so I'm waiting for my `Ready for QA` label 😄

[2019-07-22 12:51] alinadivante commented on #2346
I need small fix for this feature @andrzejewsky 😋
After opening the edit mode and closing the cart (by clicking left side area) and reopening it - the edit mode is still open.
Can we close the editing mode by clicking outside the modal? :)

![image](https://user-images.githubusercontent.com/36628922/61632931-52714800-ac8e-11e9-9269-7f98e378a77e.png)

[2019-07-22 12:54] andrzejewsky commented on #2346
@alinadivante sure, I'll add this fix in this PR: https://github.com/DivanteLtd/vue-storefront/pull/3261 because it seems to be quick.

[2019-07-22 13:16] alinadivante commented on #2773
I don't think so it would be a good idea to display these icons on product images in Compare lis![image](https://user-images.githubusercontent.com/36628922/61634470-b0ebf580-ac91-11e9-8964-2def902129e2.png)

Products from wishlist don't have and it is okay.

And one more thing: When I add product to Compare list/Wishlist from Home Page and I will open product page - Add to favorite / Add to compar

[2019-07-22 13:26] Michal-Dziedzinski commented on #2773
@alinadivante imo it's nice feature when you can add something to wishlist directely from compare :)

[2019-07-22 14:00] alinadivante commented on #2773
ok, so maybe we just need new design to improve the user experience :)

[2019-07-23 06:12] pkarw opened #3268 "Improve the caching headers for static files"
## What is the motivation for adding / enhancing this feature?

We can set the proper caching strategy in the [`core/scripts/server.js`](https://github.com/DivanteLtd/vue-storefront/blob/d8db8a4f2dc9b9e2315f19b7ad4e625ce2ff1558/core/scripts/server.js#L112)

Red more on setting the [serve-static](https://expressjs.com/en/resources/middleware/serve-static.html) cache control.

Then the second option

[2019-07-23 06:58] pkarw commented on #3203
it seems like the `cart/syncTotals` is not being called or the `getters/cart/isTotalsSyncRequired` returns false. `cart/syncTotals` has a special flag `forceServerSync` - make sure it's set to true while switching the payment methods @patzick

[2019-07-23 07:00] pkarw commented on #2773
@alinadivante and @Michal-Dziedzinski I just wanted to be sure: what are the next steps in order to have this feature `QA-accepted`?

[2019-07-23 07:58] #3060 closed

[2019-07-23 09:29] alinadivante commented on #2773
@Michal-Dziedzinski imho we have to fix:

→ there should be Remove from wishlist/compare list option visible

[2019-07-23 11:58] alinadivante opened #3270 ""appendStoreCode" is not inherited by /IT store"
## Current behavior
In default config you can see

      "storeCode": "de",
      "disabled": true,
      "storeId": 3,
      "name": "German Store",
      "url": "/de",
      "appendStoreCode": true,
      "elasticsearch": {
        "host": "/api/catalog",
        "index": "vue_storefront_catalog_de"
      },
      "tax": {
        "sourcePriceIncludesTax": false,
        "defaultCountry": "DE",

[2019-07-23 13:12] alinadivante commented on #3095
@andrzejewsky Two things to fix:
1. When user registers new account, there is info "You are logged in" but he isn't logged in.
![image](https://user-images.githubusercontent.com/36628922/61714625-97af7b80-ad5b-11e9-8d18-964b73cf5820.png)
*Expected results:*
User should be automatically logged in (it works on https://demo.storefrontcloud.io)

2. When I change manually token in dev console (shop/use

[2019-07-23 13:21] pkarw commented on #3095
starting point for this issue (it's not related directly to refactor): https://github.com/DivanteLtd/vue-storefront/blob/76211f7d036a04b6db5eda31d1402753e5c58372/core/lib/sync/task.ts#L78

[2019-07-23 13:21] pkarw commented on #3095
Related: https://github.com/DivanteLtd/vue-storefront/pull/3237

[2019-07-23 13:24] pkarw commented on #3095
Please make sure you've got the proper version of `vue-storefront-api` deployed - https://github.com/DivanteLtd/vue-storefront-api/tree/release/v1.10 or https://github.com/DivanteLtd/vue-storefront-api/tree/develop @patzick

[2019-07-23 20:04] pmaojo opened #3272 "Reposition Add to Cart button to an always visible position in Mobile view"
## What is the motivation for adding/enhancing this feature?
When using a mobile to browse the app, on the product view, it would be easier to purchase an item if the Add to Cart is visible. This way the user won't have to look for the Add to Cart button, it will be accessible.

## What are the acceptance criteria
* [  ] Add to cart button pops up from on the bottom of the screen when the user scr

[2019-07-24 00:38] Amir-Teshome commented on #2904
I'm having the same problem, @brgccf can you please post the solution here in this thread. I can't see the thread on Slack. Thanks

[2019-07-24 15:24] brgccf commented on #2904
Hi @Amir-Teshome , I'll put down here print screens from all the conversation on Slack:

![image](https://user-images.githubusercontent.com/12815838/61806042-5d061b80-ae0d-11e9-83b6-bc249bd10b06.png)

![image](https://user-images.githubusercontent.com/12815838/61806100-7f983480-ae0d-11e9-827f-7e8be65a1928.png)

![image](https://user-images.githubusercontent.com/12815838/61806129-89ba3300-ae0d-11e9

[2019-07-25 06:18] lukeromanowicz commented on #3270
The problem is a little bit deeper. Currently, it's working this way:
* Server initializes full default storeview including translations, sync task storage etc
* Server adds to the router every single page for every single storeview defined in the config
* Server's router matches a page with the corresponding storecode
* Server initializes full target storeview by storecode from the previous step

[2019-07-25 06:23] pkarw commented on #3270
Thanks for the investigation @lukeromanowicz. At this point as we’ve got some more urgent priorities it’s fine to close it with just updating the docs; @alinadivante wdyt? We can create another issue for rewriting this app init code for like 2.0 or 2.1

[2019-07-25 06:43] pkarw commented on #3262
@lukeromanowicz any progress on that?

[2019-07-25 06:48] pkarw commented on #3096
@andrzejewsky after finishing the tasks you've got currently assigned I'd like to ask you to rewrite Checkout for 2.0 and this is probably a part of this task

[2019-07-25 07:03] lukeromanowicz opened #3280 "Excessive storeView initialization"
## Current behavior
As mentioned in #3270, in multistore mode the default storeview is unnecessarily being initialized and later changed to target storeview.

The full scenario is as follows:

* Server initializes full default storeview including translations, sync task storage etc in
https://github.com/DivanteLtd/vue-storefront/blob/c53ccb0073c0810b735df0f944bd20d6fba608d4/core/app.ts#L75
* Serve

[2019-07-25 07:38] lukeromanowicz commented on #3262
Issue reproduced but I haven't been able to investigate it yet.

[2019-07-25 07:55] #3270 closed

[2019-07-25 09:56] andrzejewsky commented on #3095
Fixed here: #3271 everything should works now.

[2019-07-25 10:03] #2733 closed

[2019-07-25 10:05] #3095 closed

[2019-07-25 11:17] pkarw opened #3281 "Remove attribute.list from initial state for product page"
## What is the motivation for adding / enhancing this feature?

Currently, the initial state can be really huge mostly because of the __INITIAL_STATE__. Removing the server pre-fetched attributes list seems like a safe bet to improve it (as the attributes will be loaded client's side then anyway)

To comment out this line for tests: https://github.com/DivanteLtd/vue-storefront/blob/d6ace4928f33347

[2019-07-25 11:26] #3220 closed

[2019-07-25 14:53] filrak commented on #3205
@grimasod that looks like something that can be achieved through mutation subscription

[2019-07-25 14:59] magumbo commented on #2295
Just a note on this to anyone else experiencing same issue as I just did.

The listOutOfStockProducts flag had no effect for me while running the node cli.js products partitions=1, reindexing, flushing cache etc. Showed categories but no products anywhere. I wasn't using MSI. I ended up clearing elasticache and running:

**yarn mage2vs import**

as referenced [here](https://docs.vuestorefront.io/g

[2019-07-25 15:00] pkarw commented on #2295
Thanks! @kkdg please check if we need to update the docs

[2019-07-25 18:48] evanlegamer commented on #2962
Have you fixe the problem ? I have exactly the same

[2019-07-26 06:48] #2994 closed

[2019-07-26 06:52] pkarw commented on #3172
@patzick what's the status in here?

[2019-07-26 07:02] pkarw commented on #3281
The potential issues will be related with the hydration

[2019-07-26 07:04] pkarw commented on #3126
Assigning @andrzejewsky for help - but Patryk, other issues are higher priority (milestones)

[2019-07-26 07:06] pkarw commented on #3134
@filrak is this done?

[2019-07-26 07:07] pkarw commented on #3094
@filrak is this done already? I mean you moved some modules out of the core

[2019-07-26 10:33] patzick commented on #2893
Fixed with 1.10

[2019-07-26 10:33] #2893 closed

[2019-07-26 11:05] cewald opened #3286 "New getter `category-next/getCategoryFrom` and `category-next/getCurrentCategory` always returns the root category"
## Current behavior

The new getter `category-next/getCategoryFrom` (and `category-next/getCurrentCategory`) on the new category page always returns the root category because of a wrong filter in its getter.

This happens if there is a category with a path like `/` or a empty one in the `category-next/categoriesMap` state.

E.g. if you are in `/boys.html` and the it crawls to the states it tests l

[2019-07-26 11:14] waynetheisinger commented on #2365
On my project I will be setting up in docker/kubernetes - I don't mind taking on documenting this as part of the project... If anyone has done a build like this feel free to give pointers or gotcha's

[2019-07-26 11:56] cewald commented on #3286
Okay, I think I found a solution and will open an PR later today for a more flexible integration :)

[2019-07-26 12:05] pxfm opened #3288 "Brazilian Portuguese (pt_BR) translation improvement"
## Current behavior

There are some pt_BR sentences that can be improved and it will make more sense in the language general context.

## Expected behavior

Better experience to Brazilian customers / community.

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/rele

[2019-07-26 13:35] Michal-Dziedzinski opened #3293 "It is possible to add unconfigured product to wishlist"
## Current behavior

The product added from the home page to the wish list from the product tile is unconfigured.

![wishlist](https://user-images.githubusercontent.com/32803679/61954538-56b4a280-afb9-11e9-9b2a-4670207be905.png)

## Expected behavior

The product added from the home page to the wish list from the product tile is configured the same as added from the category page.

![wishlit--core

[2019-07-26 13:38] cewald commented on #3172
This might be same problem as I described here: #3286
At least the empty category and missing title seems familiar.

[2019-07-26 13:41] Michal-Dziedzinski commented on #2773
@alinadivante  @ArturDivante @pkarw  #3293 should fix that

[2019-07-26 14:28] cewald commented on #3286
I added a PR with some comments: #3295

[2019-07-26 14:28] patzick commented on #3268
Done by @phoenix-bjoern, nice job! :)

[2019-07-26 14:28] #3268 closed

[2019-07-26 15:21] patzick commented on #3253
@filrak please reopen if #3287 is not closing it

[2019-07-26 15:21] #3253 closed

[2019-07-26 15:31] andrzejewsky commented on #2346
The issue with closing edit mode in the cart mentioned by @alinadivante above was fixed in #3261

[2019-07-26 16:11] bilawal0 commented on #3272
I will take care of this issue.

[2019-07-26 17:00] philippsander opened #3299 ""docker-compose up" is not working on OSX"
## Current behavior

Port 3000 is not exposed be cause "network_mode: host" does not work on OSX (https://docs.docker.com/network/host/) and just deleting the network_mode makes vue-storefront unable to communicate with the API, ES, ...

## Expected behavior

"docker-compose up" exposes port 3000

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

- [x]

[2019-07-26 17:01] philippsander commented on #3299
@patzick please add the Hackathon-Label ;-) Thanks again for the awesome session!

[2019-07-27 21:05] cewald opened #3302 "ERR_TOO_MANY_REDIRECTS in production mode on latest develop branch"
## Current behavior

If I start the VSF like `yarn && yarn build && yarn start` in production mode after I update to the latest `develop` (cf566a0e672dda5a725a3f7688e5f9119123864b) branch, the process starts correctly but the VSF isn't available in browser and returns a `ERR_TOO_MANY_REDIRECTS` error.

If I look the logs via `yarn pm2 logs` I get the following error messages:
[code]

or:
[code]

T

[2019-07-28 09:52] cewald commented on #3302
After some research I found out that it stopped working with the following commit b6eea29ce1410f8100efa391680493722b917e18 of PR #3255.

[2019-07-28 09:56] kkdg commented on #2992
Updated contents of cookbook :

Chapter 1. Data Imports
Chapter 2. Elasticsearch in the context of VS
Chapter 3. Starter pack for new comers (Install)
Chapter 4. Integration with 3rd Party
Chapter 5. Building a Module from scratch
Chapter 6. Theming in depth
Chapter 7. Anti-Patterns & Common Pitfalls
Chapter 8. On DevOps
Chapter 9. Test Driven Development for VS
Chapter 10. Internals internally
Ch

[2019-07-28 10:08] kkdg opened #3303 "suggest to remove ./deploy.sh"
## What is the motivation for adding / enhancing this feature?

It seems like [`./deploy.sh` file](https://github.com/DivanteLtd/vue-storefront/blob/master/deploy.sh) was used probably by NataliaTepluhina to deploy `docs` long before which is not used anymore.

I suggest to remove it from source If no one uses it.

## What are the acceptance criteria

- [ ] ...

## Can you complete this feature re

[2019-07-28 11:20] lsimone commented on #2082
Hi!
why don't you remove that LOC, then?
IMHO it's not a desired behavior, it's misleading and I (as VS user) spent time to find out why this was happening and how to avoid it.
I can open a PR if you agree

[2019-07-28 12:35] Ravin0319 opened #3304 "Direction RTL"
Hello Team,

I have english and arabic language in my VueStoreFront.

I want to ask, What is the correct way to implement the dir="rtl" for arabic language stores.

Please suggest which file and method to implement. The direction rtl should be applied before the page is loaded.

Thanks!

[2019-07-29 07:40] filrak commented on #3304
Hey!
This snippet in `src/themes/default/css/base/base.scss` should do the job
[code]

[2019-07-29 08:51] dlandmann commented on #3302
I can confirm this behavior with the latest develop-branch.

[2019-07-29 09:27] #3288 closed

[2019-07-29 09:28] pkarw commented on #3299
hey there! any ideas on how to solve this one? I believe it's related to https://github.com/DivanteLtd/vue-storefront/issues/2861

[2019-07-29 10:42] CompactCodeEU opened #3307 "IE 11 : Buttons and images"
## Current behavior
The buttons are not clickable on Internet Explorer like the login button, cart button and add to cart button.
Also the add to cart does not work.

Furthermore the images are not loaded.

This has been tested on Internet Explorer 11 on https://demo.storefrontcloud.io and confirmed on our own testing enviroment.

## Expected behavior
We suspect it has something to do with local c

[2019-07-29 10:56] pkarw commented on #3307
This is related to https://github.com/DivanteLtd/vue-storefront/issues/1266

[2019-07-29 10:57] pkarw commented on #3307
It requires tweaking the Babel configs - please check the comments to #1266

[2019-07-29 11:41] CompactCodeEU commented on #3307
Ok thanks for the reference!

[2019-07-29 11:42] CompactCodeEU commented on #3307
I will keep this issue open as a reference for people who are searching the same until it has been resolved.

[2019-07-29 12:31] Ravin0319 commented on #3304
@filrak Thanks for answering

Will this apply to only arabic  language stores?

[2019-07-29 12:47] dlandmann commented on #1711
@filrak and @pkarw -  thanks for the ideas. we have found a very smart and nice and super simple Solution.

FYI -
We solved the "problem" that way. The Key is **npm-config**!

We start the build or dev process by setting two env variables. Client (mandant1, mandant2 etc.) and Environment. (development, production), Due to the inheritance of the config-files (npm-config), only the individual values

[2019-07-29 13:04] Ravin0319 commented on #3304
Thanks @filrak

[2019-07-29 13:07] #3304 closed

[2019-07-29 13:08] SebSzcze opened #3309 "Missing translations"
## Current behavior
In current develop some translation strings are missing
https://tppr.me/iEgOk

## Expected behavior
No i18n warnings are displayed

## Steps to reproduce the issue
`yarn dev`

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

This is a bug report for current develop

[2019-07-30 06:24] pkarw commented on #3309
@SebSzcze is it for `en_us` locale?

[2019-07-30 06:25] pkarw commented on #3302
@filrak what can we do about this issue?

[2019-07-30 06:54] ResuBaka commented on #3144
I might have found a bug with this.

Before this you could overwrite actions or mutations.

Now when you try to overwrite a like an action he calls the original and the new one which causes to get an array as a response when two functions return there values instead of just one response.

Is that the way it should now work or is it a bug? @filrak

[2019-07-30 07:08] filrak commented on #3144
You . mean old modules api from master, yup?

[2019-07-30 07:09] ResuBaka commented on #3144
Yea the old way to extend the modules.

[2019-07-30 07:46] filrak commented on #2494
I'll talk to @andrzejewsky about this. It's actually a part of new modules API rfc https://github.com/DivanteLtd/vue-storefront/issues/3144#issue-460588876

[2019-07-30 07:54] philippsander commented on #3299
hey! this actually seems to be related. My problems seem to be more drastical since I wasn't even able to view my application.

I'm looking for a clean solution, but my workaround was deleting the network_mode and then using "host.docker.internal" instead of "localhost" for the endpoints in the configuration

[2019-07-30 12:45] simonmaass commented on #2365
@waynetheisinger thank you!

[2019-07-31 07:29] pkarw commented on #3203
@patzick how about this one? It's seemingly the last one blocking the 1.10 release as @lukeromanowicz seemingly solved the memory leak issue

[2019-07-31 07:42] pkarw commented on #3303
Please do @kkdg

[2019-07-31 09:54] SebSzcze commented on #3309
yes, but I suppose it's missing for all locales

[2019-07-31 10:13] pkarw commented on #3309
OK, can you add it to en_us as for now? it's always the most current one and the others are getting updated / synced to it

[2019-07-31 11:16] Michal-Dziedzinski opened #3314 "There is no information about the quantity of the product that is edited in the cart"
## What is the motivation for adding / enhancing this feature?

In the cart it is now possible to change to such a product parameter that quantity is currently 0. This deletes the product, instead of informing the user that there is no possibility of such a change.

![microcart](https://user-images.githubusercontent.com/32803679/62207627-e29d4480-b394-11e9-8eb6-c04b4b107c1c.gif)

## Can you comple

[2019-07-31 19:16] lukeromanowicz opened #3316 "Social Media Login"
Feature Request here moved from https://github.com/DivanteLtd/vue-storefront-api/issues/318

## What is the motivation for adding / enhancing this feature?
Logging to and fetching data through social media like facebook.

## What are the acceptance criteria
* Login with facebook
* Login with google
can be separate modules + nice layer for implementing additional ones

## Can you complete this feat

[2019-08-01 04:10] pkarw commented on #3314
Good point!

[2019-08-01 08:04] fewinkelbauer opened #3318 "Adding Discount Coupon to Guest Cart always fails"
## Current behavior
Trying to add a discount coupon to a guest cart will always decline the coupon. Applying discount code works when logged into an account.

## Expected behavior
The discount coupon is applied to the guest cart.

## Steps to reproduce the issue
1. Add items to cart while not logged in
2. Try to apply a discount coupon

## Can you handle fixing this bug by yourself?

- [ ] YES
- [

[2019-08-01 08:16] pkarw commented on #3318
Hi! Thanks. Can you please check if this error occurs on the `release/v1.10` branch as well?

[2019-08-01 09:55] juho-jaakkola commented on #3318
I will test with `release/v1.10` later today.

[2019-08-01 09:58] #3303 closed

[2019-08-01 10:03] pkarw commented on #3307
OK i'll change it to feature request as it well .. it's not a bug :)

[2019-08-01 10:36] pkarw commented on #3167
I belive that these requests to `category` are not required: https://www.dropbox.com/s/yclq2i7eeyn1fj5/Screenshot%202019-08-01%2012.36.14.png?dl=0 - this shows the network tab for just switching colors; so for sure no category change

[2019-08-01 11:51] EliotRaven opened #3320 "problem with product counter"
## Current behavior
when the button is pressed, the counter behaves inappropriately

## Expected behavior
item will be added with the correct value

## Steps to reproduce the issue
![issue](https://user-images.githubusercontent.com/25608846/62291013-6e81a000-b46b-11e9-8d3b-37ba6b683de8.gif)

## Repository
https://github.com/DivanteLtd/vue-storefront

## Can you handle fixing this bug by yourself?

[2019-08-01 11:59] sandermangel opened #3321 "[RFC] Improved object modeling"
To facilitate easier integration with a wide range of backends the data models that are at the basis of what we build should be generic.
Entities such as products, categories, customers and orders should be simplified and stripped of any logic tied directly to Magento. At the basis is an agnostic model which can be extended, or used, by another model specifically handling Magento or Shopware or an

[2019-08-01 12:10] pkarw commented on #3320
It’s been fixed with 1.10 - please recheck

[2019-08-01 12:13] EliotRaven commented on #3320
@pkarw demo.vuestorefront.io
this site still has this problem

[2019-08-01 13:58] pkarw commented on #3320
Sure, the demo is on 1.9.2; https://next.storefrontcloud.io is on 1.10

[2019-08-01 14:05] EliotRaven commented on #3320
@pkarw
![issue2](https://user-images.githubusercontent.com/25608846/62299910-8b739e80-b47e-11e9-8802-a98872ca749b.gif)

[2019-08-01 14:08] pkarw commented on #3320
The debounce has been added to 1.11 (develop branch) - this behavior you showed on the screenshot is a correct one (quite a lot of requests but in the end they're queued so the totals are OK with the cart state) + the Add To Button (showed on the initial screen is being disabled until product land in the cart to prevent race conditions)

[2019-08-01 14:08] #3320 closed

[2019-08-01 16:34] juho-jaakkola commented on #3318
The discount code works in `release/v1.10` with a guest cart. I believe the issue can be closed.

[2019-08-01 21:11] #3153 closed

[2019-08-02 05:37] cewald commented on #3286
@patzick I made some improvements in the related PR #3295

[2019-08-02 06:45] #3318 closed

[2019-08-02 12:22] pkarw commented on #3309
This is strange - i've got no such messages in develop branch :( can you please recheck?

[2019-08-02 12:23] #3309 closed

[2019-08-02 12:52] jakubmakielkowski opened #3325 "Not all content is rendered after redirecting from /my-account endpoint."
## Current behavior
When user is not logged in and tries access `/my-account` page, application refreshes itself with an error:
`vue.runtime.esm.js:1878 TypeError: Cannot read property 'image' of null`
After redirecting to home page not all components are rendered properly, there are no products in **Everything New** section in VueStorefront demo. Refershing the page solves the problem.

## Expect

[2019-08-02 13:37] pkarw opened #3327 "Optimize category page size with lazy-hydrate"
## What is the motivation for adding/enhancing this feature?

Related: https://github.com/DivanteLtd/vue-storefront/pull/3326

https://github.com/maoberlehner/vue-lazy-hydration

I've used it on the Product page within this branch: https://github.com/DivanteLtd/vue-storefront/tree/feature/3281_state_optimization to avoid attributes being included into __INITIAL_STATE__ (#3281)

If we managed to do

[2019-08-02 13:48] pkarw commented on #3327
If we managed to make this feature happen it should be enabled/disabled via config. I mean: for some cases providing the user with `category-next.products` within the `__INITIAL_STATE__` might be desired state - in the end, it saves time for TTI not requiring the user to wait for `loadProducts` request to fulfill.  This is surely not a solution to all the problems

[2019-08-02 13:49] pkarw commented on #3327
Another crazy idea for the optimization is: http://stevehanov.ca/blog/?id=104 but maybe let's not go that way :D :D

[2019-08-02 14:09] patzick commented on #3281
Closed by #3326 :)

[2019-08-02 14:09] #3281 closed

[2019-08-03 09:10] cewald opened #3328 "`vuex-router-sync` vs. `asyncData` - rootState.route in getters is wrong on client-side navigation"
## Current behavior

If you use a getter in an `asyncData` method of a component which relies on the current router state of `vuex-router-sync` like `rootState.route`, then it won't show the correct router in the getter, it's always still the one it comes from). But in `asyncData` its the correct `to` value defined in the `beforeResolve` method of the `client-entry.ts`.

It might be because the me

[2019-08-04 10:58] lsimone opened #3329 "wrong flexbox grid class override"
## Current behavior

- VSF [redefines](https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/css/utilities/_visibility.scss#L6) `hidden-xs` and `hidden-md` [flexbox grid classes](https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/css/vendor/_flexboxgrid2.scss#L1192) with an inconsistent threshold (`em` instead of `px`).

- Furthermore, [it redefines](

[2019-08-05 06:21] pkarw commented on #3302
@lukeromanowicz what's the status in here/

[2019-08-05 06:23] pkarw commented on #3325
@przspa can you check this issue please?

[2019-08-05 07:24] przspa commented on #3325
@pkarw yes

[2019-08-05 07:50] shkodasv commented on #842
@karolbzik do you have any progress here? I am interested in this integration too

[2019-08-05 09:54] shkodasv commented on #1076
@phronesis do you know if this issue is fixed in newest version of the M2?

[2019-08-05 15:22] ChristopherMally commented on #1437
This issue still exists. There is no running version of it for IE11. Are there any libs which can help polyfilling?

[2019-08-05 17:13] cewald opened #3332 "`category-next/getCategories` get cached and don't update with related state value"
## Current behavior

If you click through categories the headline and header of the category disappears like:

<img width="1392" alt="Screenshot 2019-08-05 18 28 48" src="https://user-images.githubusercontent.com/6112764/62481666-54212c80-b7b3-11e9-97e1-cdb2999c7672.png">

After some research I found out that it is caused by the `category-next/getCategories` getter used by the `category-next/getCu

[2019-08-05 17:26] cewald commented on #3332
I added a [commit](2a7e076216881ee04d1bfdcfb0199861cf037bd5) to the PR #3295.

[2019-08-05 19:03] lukeromanowicz commented on #3302
@pkarw I've found the root cause. I will push a fix tomorrow.

[2019-08-05 19:31] DrJLT opened #3333 "Is there an easy way to support multivendor?"
As the question title suggests. Thanks

[2019-08-06 06:24] pkarw commented on #3333
Hey! We doesn’t support multi vendor setup out our the box however I belive it could be customized to support this use case. I think it would be amazing module for VSF so feel free to propose anything like this:)

[2019-08-06 06:24] #3333 closed

[2019-08-06 06:43] pkarw commented on #3262
@lukeromanowicz can we close it just after #3331

[2019-08-06 06:43] pkarw commented on #3329
@przspa I let myself to assign this one to you

[2019-08-06 06:44] pkarw commented on #3203
@patzick what's the status with this one?

[2019-08-06 06:52] lukeromanowicz commented on #3262
Yes :)

[2019-08-06 06:52] #3262 closed

[2019-08-06 08:28] #2665 closed

[2019-08-06 08:29] patzick commented on #3203
@pkarw done with PR #3335

[2019-08-06 08:51] #3203 closed

[2019-08-06 09:01] pkarw opened #3336 "Optimize the `product/setupVariants` action"
## What is the motivation for adding / enhancing this feature?

After changes we did to the format of `product.configurable_options` I belive we don't need to call [`loadConfigurableAttributes`](https://github.com/DivanteLtd/vue-storefront/blob/4bf1a7e8d04742c72bd94912ad02cac4618941bb/core/modules/catalog/store/product/actions.ts#L247) anymore. This action sometimes - if attributes are not cached

[2019-08-06 09:13] pkarw opened #3337 "Refactor the minor-vuex-stores to the proper conventions"
## What is the motivation for adding / enhancing this feature?

We're just a step from having all the vuex stores refactored to keep up with our coding standards :) Well, in a away (product vuex store still needs some love but the minimal refactoring has been already done)

## What are the acceptance criteria

The following stores got refactored (the list is keeping the priorities - starting with

[2019-08-06 09:13] pkarw commented on #3337
Reference - `core/modules/cart`, `core/modules/catalog-next`

[2019-08-07 06:14] cewald commented on #3302
It's is working again.
Thanks! :)

[2019-08-07 06:15] cewald commented on #3302
Am I allowed to close the issue or will it crash your workflow?

[2019-08-07 08:40] BenSpace48 commented on #1196
This is a bizarre choice, why can't it work like every other node workflow where running `npm start` boots the server and stopping that process kills the server?

It feels really wrong to have it running at all times, I only wanted to try out Vue Storefront but now it runs 24/7.

At the very least please give instructions on how to prevent this.

[2019-08-07 14:13] ArturDivante commented on #3203
Problem gone :)

[2019-08-07 15:09] ArturDivante commented on #3262
Problem fixed on next :) Well done :)

[2019-08-08 08:58] alinadivante commented on #3151
@patzick after refreshing the page, the user is logged out. Please fix it :)

[2019-08-08 09:02] pkarw commented on #3151
@alinadivante are you usune the most current vsapi? It could have not yet been fixed to demo instance: I mean the fix for http status codes which is related to that one

[2019-08-08 09:07] filrak opened #3341 "Let category-next/switchSearchFilter accept array of filters as parameter"
Let  category-next/switchSearchFilter accept array of filters as parameter

[2019-08-08 10:57] patzick commented on #3151
Fixed with #3342 :) please retest

[2019-08-08 10:57] #3151 closed

[2019-08-08 14:11] alinadivante commented on #2868
this bug returned again! 🐛

And please, look at this video:
![Peek 2019-08-08 14-00](https://user-images.githubusercontent.com/36628922/62710193-2298a300-b9f7-11e9-9593-8d11d6eb9a3c.gif)
- there are products with higher prices between those sorted.

[2019-08-08 14:12] alinadivante opened #3343 "Wrong behavior after registration."
## Current behavior
When user registers new account, there is info "You are logged in" but he isn't logged in.

![image](https://user-images.githubusercontent.com/36628922/62708843-79e94400-b9f4-11e9-8193-aaf5bc729d00.png)

## Expected behavior
User should be logged in.

## Steps to reproduce the issue
1. Register an account on  https://next.storefrontcloud.io

## Repository

## Can you handle fix

[2019-08-08 19:07] alinadivante commented on #3151
@patzick  ! We forgot about this PR https://github.com/DivanteLtd/vue-storefront/pull/3271
and this one resolves problem, which I mentioned here #3237

and it resolves also this issue: #3343  :)

I think  #3271 should be merged to release/v.1.10

[2019-08-09 07:55] #3343 closed

[2019-08-09 09:14] patzick commented on #2868
The problem we have is not because of some logic. The final_price field in elastic is null, that's why sort order is broken in some cases.

![image](https://user-images.githubusercontent.com/13100280/62768215-aeadd780-ba96-11e9-821b-576cba9e6051.png)

@lukeromanowicz do you know a reason why some product does not have a final_price?

[2019-08-09 09:48] lukeromanowicz commented on #2868
IF ES product doesn't contain final_price and this is an unmodified result from ES then I would look for the root cause in the indexer. I'll try to take a look at that.

[2019-08-09 10:41] pkarw commented on #2868
I'd suggest to run full reindex and check it out. The `final_price` is being imported only when the `renderCatalogRegularPrices` and `synchronizeCatalogSpecialPrices` are set to true. We should double  check the `mage2vs import` command if it's setting the `PRODUCTS_SPECIAL_PRICES` and `PRODUCTS_RENDER_PRICES` to true

[2019-08-09 10:46] #3302 closed

[2019-08-09 10:46] pkarw commented on #3302
@cewald thanks for the confirmation, closing :)

[2019-08-09 10:48] #2965 closed

[2019-08-09 10:49] #2346 closed

[2019-08-09 11:42] alinadivante commented on #3151
ok, for now it is okay, but sometimes, when user opens the page using URL, than "Consumer is not authorized to access self" message appears (user is still logged in). We should improve this in v1.11

[2019-08-09 11:53] alinadivante commented on #3263
video is available on magento site https://magento231-demo.storefrontcloud.io/nona-fitness-tank.html
but on vsf not https://test.storefrontcloud.io/women/tops-women/tanks-women/bras-and-tanks-26/nona-fitness-tank-1737.html

probably something went wrong during fullreindex.sh (I did also yarn db rebuild)

We need to check why it doesn't work on VSF. We will probably need you @pkarw

[2019-08-09 11:57] pkarw commented on #3263
I've moved it to 1.11 - @lukeromanowicz could you please take a look at it? I coldn't find time to have it checked :/

[2019-08-09 12:40] alinadivante opened #3346 "Problem with placing an order in offline mode"
## Current behavior
Currently, there is no possibility to place an order on https://next.storefrontcloud.io/ in **offline mode**
Pressing the "Place order" button does nothing.
![offline](https://user-images.githubusercontent.com/36628922/62779410-710b7780-bab3-11e9-90ae-83f85a09c4de.gif)

## Expected behavior
User should be redirected to Confirmation page and there should be information
"You are

[2019-08-09 12:46] jakubmakielkowski opened #3347 "Changing category resets porduct query but not SortBy option"
## Current behavior
Choosing sorting and then navigating from one category to another may be misleading. If user follows this behaviour he/she will see choosen (active) SortBy and unsorted products.

## Expected behavior
Navigating to another category resets SortBy select option or (I think less reasonable) sorting query is not resetted after category change.

## Steps to reproduce the issue
1. Go

[2019-08-09 13:18] alinadivante opened #3348 "After logging out wishlist is cleared."
## Current behavior
After logging out wishlist is cleared, but Compare list is still available and the added products are still visible.

![image](https://user-images.githubusercontent.com/36628922/62781724-e463b800-bab8-11e9-96e9-1ba18ff08260.png)

## Expected behavior
Compare list should be not visible after logging out.

## Steps to reproduce the issue
1. Log in
2. Add any products to wishlist

[2019-08-09 13:30] patzick commented on #3348
Done :)

[2019-08-09 13:30] #3348 closed

[2019-08-09 13:49] pkarw commented on #3346
@patzick i belive this is pretty urgent

[2019-08-10 07:41] pkarw commented on #3347
Hi! There was huge refactoring effort made into 1.11 (develop branch) - can you please test out if this issue still exists in develop?

[2019-08-11 07:45] zimme commented on #2271
@patzick Did you solve the problem we ran into here before adding back the commit?

[2019-08-11 14:13] wubuyun opened #3355 "sku and product not exist"
magento 2.3.2
magento2-vsbridge-indexer
![2019-08-11 11-07-59屏幕截图](https://user-images.githubusercontent.com/35350235/62834899-af767300-bc28-11e9-8619-2432789da20e.png)
![2019-08-11 03-16-06屏幕截图](https://user-images.githubusercontent.com/35350235/62834900-b7361780-bc28-11e9-954f-ea0d0c1a3c88.png)
![2019-08-11 11-12-20屏幕截图](https://user-images.githubusercontent.com/35350235/62834930-15fb9100-bc29-1

[2019-08-11 22:02] #3355 closed

[2019-08-12 04:26] wubuyun opened #3357 "error paypal"
![2019-08-12 01-22-41屏幕截图](https://user-images.githubusercontent.com/35350235/62845643-213dd380-bca0-11e9-8619-a81cfc0879f3.png)
![2019-08-12 01-23-15屏幕截图](https://user-images.githubusercontent.com/35350235/62845644-21d66a00-bca0-11e9-9f70-104575253302.png)
![2019-08-12 01-23-49屏幕截图](https://user-images.githubusercontent.com/35350235/62845645-21d66a00-bca0-11e9-86a1-e5c3a717f14d.png)

[2019-08-12 10:04] pkarw commented on #2525
After product + category page refactor I'm not sure but maybe we should move the SSR data fetching logic all to this?

[2019-08-12 10:08] pkarw commented on #2179
@patzick is this one still a case?

[2019-08-12 11:28] alinadivante commented on #3347
Bug does not exist in v1.11.0-rc.1 :)

[2019-08-12 11:29] #3347 closed

[2019-08-12 12:39] filrak commented on #3357
@wubuyun please make an issue from the issue template. Otherwise, we can't help you without all the required information.