[2019-01-25 21:08] jorkvist commented on #2279
@pkarw thanks.

I have the changes implemented and deployed on ribatex.se but still the product page is broken when i reload it or browse to it on mobile. Is it something more i need todo?

[2019-01-25 21:13] pkarw commented on #2279
To be honest with you I have no idea how we can clear out the SW cache without explicitly clicking “Clear Storage” on these devices

[2019-01-25 21:14] pkarw commented on #2279
Would be great to think it off in case we’ll modify the service worker logic in the feature

@patzick @filrak any ideas?

I’ve got the exactly same issue on test.storefrontcloud.io and the only option was to clear storage :/ just after hitting this button everything started to work just great

[2019-01-25 21:16] dambrogia opened #2284 "Large store times out during initial elastic search import."
## Current behavior

I'm working on migrating a large M2 store that has ~300k products. During the initial setup for M2, the elastic search import takes so long that my terminal session times out and the task stops. I can not run the `yarn installer` command all the way through to completion.

## Expected behavior

I would expect to run the command and receive a successful response. Even a simple

[2019-01-25 21:20] jorkvist commented on #2279
Oh i see, i can also verify that the fix works for new browsers! I will try to implement a new cacheName.

[2019-01-25 21:21] pkarw commented on #2284
Hi! Thanks for pointing this out!

Please feel free to improve our installer + run the import process in the background; that's correct it could be executed thru `nohup` or whatever as it might take a lot of time.

The installer doesn't have tests yet. Some of the modules already have tests (`core/modules/*/test`) - and You can also find the `e2e` tests on Cypress.

[2019-01-25 21:30] pkarw opened #2285 "[PoC] Guess.js prefetching optimization"
## What is the motivation for adding / enhancing this feature?

Let's check if we might use the https://github.com/guess-js/guess/blob/master/README.md to improve the prefetching based on the real behavioral patterns

[2019-01-26 07:51] #2278 closed

[2019-01-26 11:41] filrak opened #2287 "Update 'Working with themes'"
## What is the motivation for adding / enhancing this feature?

Update `working with themes` to be up to date with current setup.
Especially part with theme structure.
https://docs.vuestorefront.io/guide/core-themes/core-components.html

[2019-01-26 11:43] filrak opened #2288 "Update 'Working with components'"
## What is the motivation for adding / enhancing this feature?

Update 'working with components` doc to be up to date with current setup.
https://docs.vuestorefront.io/guide/core-themes/core-components.html#vue-storefront-component-types

[2019-01-26 11:46] filrak commented on #2285
Imho we need to rpefetch everything anyway for the offline mode so it will not be useful

[2019-01-26 11:49] filrak opened #2289 "Remove duplicated docs for cart/user/checkout/order vuex"
## What is the motivation for adding / enhancing this feature?

It's already in module docs so should be deleted from `store` section
https://docs.vuestorefront.io/guide/vuex/cart-store.html#state
https://docs.vuestorefront.io/guide/vuex/user-store.html#state
https://docs.vuestorefront.io/guide/vuex/checkout-store.html
https://docs.vuestorefront.io/guide/vuex/order-store.html

[2019-01-26 18:54] vue-kacper opened #2290 "[demo] Problem with API responses on checkout page"
## Current behavior
VSF api responds with 500 Internal Server Error status on checkout page

## Expected behavior
VSF api shouldn't responds with 500 Internal Server Error code.

## Steps to reproduce the issue

Visit: **https://test.storefrontcloud.io**
Add product to cart
Click "Go to checkout"
Observe console "network" tab - POST request to "api/cart/shipping-information" responds with 500 erro

[2019-01-26 20:08] pkarw commented on #2290
I don’t have it - it could be a temporary problem with magento instance. If you’re stil having this issue please paste the error messages from these failing endpoints please

[2019-01-26 21:12] vue-kacper commented on #2290
@pkarw I think it's magento issue but we should handle this type of errors better at vsf api layer

https://youtu.be/4Qu0UbRbnl8

[2019-01-26 21:33] pkarw commented on #2290
Thanks, now I get it. We need some magento expert help then - probably Agata. It seems like sometimes Magento quote (shopping cart) is getting into wrong state; we need to debug it

[2019-01-27 12:59] filrak opened #2291 "Improve compilation time (dev and build)"
## What is the motivation for adding / enhancing this feature?

Our webpack build has huge room for improvement - especially in dev mode. The task is to identify loaders and plugins that can be optimized (or not used in dev mode) and make the build process faster.
Some advices https://medium.com/onfido-tech/speed-up-webpack-ff53c494b89c

[2019-01-27 16:35] Igloczek commented on #35
For those looking how to move currency sign from the front of price to the end

In `config/local.json` set `i18n.currencySignPlacement` to `append`.
If you want to set it for one store in multistore setup - `storeViews[storeCode]i18n.currencySignPlacement`

Source code related to this feature - https://github.com/DivanteLtd/vue-storefront/blob/master/core/filters/price.js

[2019-01-27 22:18] laportem opened #2295 "No products found!"
## Current behavior
I’ve been trying to sync data from magneto (CE version 2.3) to VS (release 1.7.0) and for some reasons the Products are not showing up on the screen

**Categories are visible in the UI but not Products**

I’ve tried both the “Fast integration” and “Manual integration” described in @ [(https://docs.vuestorefront.io/guide/installation/magento.html#integrating-magento2-with-your-l

[2019-01-28 00:52] grimasod commented on #2283
Actually, maybe you mean:
[code]
So, not creating a new cart at all. I can test out both options

[2019-01-28 01:24] grimasod opened #2296 "Category ID used for hierarchy, instead of the Category Level"
## Current behavior

The "id" field of a Category is used for hierarchy position.

In the file `/core/modules/catalog/store/category/actions.ts`
the config setting `config.entities.category.categoriesRootCategorylId` and the Category ID are used to determine if the current Category is below the top level Category:

There are some issues with this.

1. In Magento, the child Category IDs are not alw

[2019-01-28 06:31] pkarw commented on #2295
Thanks for Your report. Sometimes this kind of issues are related to non-applied elastic schema, setting the right types for fields to sort etc you may want to run “yarn db rebuild” in the vue-storefront-api folder to reindex elastic with the right schemes. If it still won’t work afterwards please check if your categories in elastic have the right “url_key” set (the same as it appears in the url)

[2019-01-28 06:36] pkarw commented on #2295
In the attached json I can see that you’ve got “category_ids” assigned but with the “string” data type. Not sure if this could have caused the problem. But to be sure you might want to check the “vue-storefront-api/config/*.product.schema.json” - adding “category_ids” as “int” and running “yarn db rebuild”

[2019-01-28 08:31] grimasod commented on #2283
Ok. I'll test and hopefully do a PR tomorrow. Probably the first option, as it seems safer

[2019-01-28 11:03] laportem commented on #2295
Thanks. I’ve tried your suggestions without any luck.
However, now, when I click on a category in VSF, in the VSF-API console log I am seeing this error:
`
error: API call failed: The consumer isn't authorized to access self.
(node:16000) UnhandledPromiseRejectionWarning: The consumer isn't authorized to access self.
(node:16000) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This

[2019-01-28 12:11] pkarw commented on #2295
This error can be due to unsatisfying permissions set in magento integration - check the settings for customer account orders and other user related settings

However it shouldn’t affect the products. We haven’t tested m2vs against 2.3. If you could send me your integration access details to peter@vuestorefront.io I could try to check it - but I can’t promise when exactly due to other obligations

[2019-01-28 14:14] laportem commented on #2295
All the API integration permissions are **checked**, and I can use some API (i.e. create/update accounts).
I suspect the issues could be related to the magento 2.3. Will try to lower the magento version and see if the issue goes away

[2019-01-28 14:16] pkarw commented on #2295
OK, If you could share the accesses that would be awesome as I could port the m2vs to support 2.3 :)

[2019-01-28 20:57] jorkvist commented on #2279
FYI, the issue for me on the product page was the webshare function that was on the product page. Removed that one and now the product page works. I think it takes the wrong url and crashes.

[2019-01-28 21:06] patzick commented on #2279
@jorkvist thanks for information. Only removing it entirely solves this problem or is there something to improve to make it work?

cc @filrak - can you take a look? Maybe we shouldn't load it on first render?

[2019-01-28 21:18] jorkvist commented on #2279
@patzick, i had the old version of the webshare file, maybe the changes from today in 1.7.2 in that file fixed it. Haven't tested.

[2019-01-29 03:08] Decntdefalt opened #2301 "Js is loaded before css"
I've been building themes on vue-storefront with bootstrap for vue and buefy.
Apparently there's some issues with how things are first loaded.
<img class="image media" id="image-dearestdefinitivegecko" alt="Buefy GIF" src="https://thumbs.gfycat.com/DearestDefinitiveGecko-max-1mb.gif" height="300" width="500">

How can I change the order how of css and js is loaded? I need to have css loaded before

[2019-01-29 11:35] vue-kacper opened #2303 "User authentication on SSR"
## What is the motivation for adding / enhancing this feature?

Right now our SSR HTML markup and SSR vuex state is only available for unauthenticated user. The problem starts when we want to render page with authenticated user specific features - for example user account menu. Those right now can be build only on client side, otherwise we will get HTML markup mismatch error,

It would be nice to

[2019-01-29 11:51] pkarw commented on #2303
Its doable however it will make VS pretty hard to scale horizontally- with session less architecture it’s trivial. So if we’d like to have it it should be optional

[2019-01-29 14:09] jorkvist opened #2304 "Category page show wrong count "50 Items""
## Current behavior
When browsing a category page with more than 50 product on mobile the "X Items" in top of the page always is "50 Items", even if it more products than 50 items. It uses {{ productsCounter }}. If you change it to {{ productsTotal }} you will get the correct number of items on the current category.

## Repository
1.7.0

# Can you handle fixing this bug by yourself?
No

## Environ

[2019-01-29 14:17] jorkvist commented on #2304
Also, "items" is a static text.

[2019-01-29 20:51] pkarw commented on #2295
@laportem any update? :)

[2019-01-29 22:39] laportem commented on #2295
Hi @pkarw, greatly appreciate help with this
I am still trying to debug the issue

Basically, if a point my local VSF-API to **http://demo-magento2.vuestorefront.io**
Everything works ok, I can log in, register new user and browser categories and product

When I switch my VSF-API back to my local Magento (2.3)
I can log in, register new user, browser categories
**But I cannot see the products unde

[2019-01-30 06:26] #2283 closed, assigned to nobody

[2019-01-30 08:41] grimasod commented on #2216
Does the hotfix completely resolve this issue in the default theme? I applied it to our custom theme, but the problem is still there. It's new in 1.7 and prevents us from upgrading. In dev mode it seems to be the same issue that gives the common Vue error:

In our theme, we use a lot of "v-if" to minimize unnecessary DOM nodes for various display sizes

[2019-01-30 09:32] laportem commented on #2295
Ok, the problem looks to be the changes to Magento 2.3. The ‘is_in_stock’ and ‘qty’ has moved from Product to Assigned Sources (part of the MULTI-SOURCE INVENTORY feature)

mage2vs is not picking up this change and when it syncs the products to local ES, the **stock.is_in_stock** is always defaulted to **false** and **stock.qty = 0**

VSF includes this query to VSF-API when fetching products

**<r

[2019-01-30 09:49] laportem commented on #2295
I could but it may takes a while as this is literally my first week playing with VSF and Magento. I need to further familiar myself with the code base for both before confidently providing a fix.

[2019-01-30 11:12] lukeromanowicz opened #2305 "[RFC] Unit tests revamp, Possible integration tests"
Feature Name: Unit tests revamp
Start Date: 2019-01-30
RFC PR: https://github.com/DivanteLtd/vue-storefront/pull/2414

# Summary:

We need to make a few key decisions:
* What testing tools are we going to use for unit testing?
* Where do we place tests in project structure?
* What is our unit testing strategy?
* What do we do with integration tests? It's more like a yes/no question, we're not gett

[2019-01-30 11:30] janmyszkier commented on #2305
Ad4. Integration tests
I'd go with selenium/selenide for integration testing. Is popular, and supports python which is easy to learn even if you're not an experienced tester. (I wouldn't go with java variant because of its learning curve)

For unit I'd go with Jest because if you want people to start writing tests it should be as easy as possible to setup and jest is just that. It's easier to star

[2019-01-30 11:45] lukeromanowicz commented on #2305
Personally, I like the idea of utilizing jest to write tests in the second strategy (test only the obvious logic of the component) while covering scenarios of integration with other components with... well... integration tests. Unfortunately, it requires a lot of work to cover everything with not only unit tests but also integration tests. I have a feeling that it would significantly slow down VSF

[2019-01-30 14:48] rain2o commented on #2295
I just ran into a similar issue and wanted to add some info here.

I have actually been messing around with Magento 2.3 and VSF for the past couple of weeks and I have not run into the `stock.is_in_stock` and `stock.qty` issue at all. I haven't really dug deep into it to find out how/why it _does_ work for me on 2.3 and not for you, but for what it's worth it appears to be loading my Qty in just f

[2019-01-30 15:00] phoenixdev-kl opened #2307 "Sticky notifications - hasNoTimeout without function"
## Current behavior
After removing a product from micro cart, the notification "Are you sure you would like to remove this item from the shopping cart? CANCEL / OK" appears for a couple of seconds and then disappears, product stays in cart.
This behavior is not "wrong". But in core/compatibility/components/blocks/Microcart/Product.js we pass parameter *hasNoTimeout*: true when creating this notifi

[2019-01-30 15:47] bratok opened #2308 "vsf-core as dependence"
## What is the motivation for adding / enhancing this feature?

Now my custom theme, that implements custom business logic and UI, placed in src/themes.
And root project folder has structure described [here](https://docs.vuestorefront.io/guide/basics/project-structure.html#using-git-for-custom-development). That is my project repository should contain all code with vcs-core. It looks redundant and

[2019-01-30 18:09] janmyszkier commented on #2305
ah so you have different integration test in mind. I thought they want to test e.g. Magento + vueSF integration.
Then again you're right about the "book definition" of the integration tests.

[2019-01-31 05:39] grimasod commented on #2216
Just to confirm, as @ananth-iyer describes, the issue still exists on https://demo.vuestorefront.io/

- It only happens for logged-in users.
- It's not necessary to navigate to the checkout. Just reload the home page after logging in.

[2019-01-31 08:19] pkarw commented on #2295
@rain2o the default Magento session timeout I believe is just 60min so it could happen (this issue that you're having is from `vue-storefront-api` either from `mage2vuestorefront` - I believe API, right?)

There is a setting in `vue-storefront` config: `"autoRefreshTokens": true` that should refresh the token whatever it's expiredhttps://github.com/pkarw/vue-storefront/blob/010d2e21dd08a624e69612b

[2019-01-31 08:55] pkarw commented on #2308
Thanks! We’ve got it on our roadmap! However now we’re  focused on Theme 2.0 which is priority for VS 2.0; we’ll try to have this boilerplate/npm dependency as well included in 2.c

[2019-01-31 09:02] pkarw commented on #2307
Thanks! If You could fix this and prepare a PR - that will be awesome!

[2019-01-31 09:04] rain2o commented on #2295
Thanks @pkarw that makes sense. I had just performed some updates and cleanup on my local so it's possible some weird scenario happened where I cleared some stuff and not others. I'll check on the `autoRefreshTokens`.

And yes, I am running Magento 2.3 and so far have not had any issues with products and stock. If I can provide any further details to help just let me know.

[2019-01-31 09:47] pkarw opened #2310 "Add Magento 2.3 - MSI support for stock checks"
## What is the motivation for adding / enhancing this feature?

With Magento 2.3 there is MSI module included for managing the stocks.
We should add support for it to `mage2vuestorefront`

https://devdocs.magento.com/redoc/2.3/admin-rest-api.html#operation/inventorySourceSelectionApiSourceSelectionServiceV1ExecutePost

## What are the acceptance criteria

- mage2vuestorefront correctly sets the pr

[2019-01-31 09:49] pkarw commented on #2310
Related to: #2295

[2019-01-31 09:53] pkarw commented on #2295
@laportem could You please check if You've got all indexeders updated (https://devdocs.magento.com/guides/v2.3/inventory/):

[code]

[2019-01-31 14:15] #2307 closed

[2019-01-31 14:15] #2303 closed

[2019-01-31 14:18] #2284 closed

[2019-01-31 14:20] pkarw commented on #2216
@vue-kacper can You please check it and close if it's done?

[2019-01-31 14:20] #2178 closed

[2019-01-31 17:16] ibugaj opened #2312 "Improperly sum of Grand Total"
## Current behavior
Wrong Grand total cost is in Cart
## Expected behavior
Grand total should be complied with prices of products added to Cart

## Steps to reproduce the issue
1. Add some product(s) to the Cart
2. Go to the Cart
3. See **Grand total**
Example:
![image](https://user-images.githubusercontent.com/47220013/52074588-80e95280-258a-11e9-84e9-03fc08e0c268.png)

## Environment details
htt

[2019-01-31 18:05] ibugaj opened #2313 "No possibility to add review"
## Current behavior
Lack of possibility to add review

## Expected behavior
There should be possibility to add new review

## Steps to reproduce the issue
1. Open any product page
2. Scroll to Reviews section
3. Fill fields with correct data
4. Click on button **Add review**

See example:
![image](https://user-images.githubusercontent.com/47220013/52074700-c279fd80-258a-11e9-965d-32c3019437b6.png)

[2019-01-31 18:15] filrak commented on #2312
@pkarw sth related to server side totals calc?

[2019-01-31 18:17] filrak commented on #2313
@pkarw this is something I also noticed recently. Is it bd reviews are disabled in magento?

[2019-01-31 18:18] ibugaj opened #2315 "Add the Downloadable product configuration"
## Current behavior
Product without price - can't add it to the Cart

## Expected behavior
There probably shouldn't be product without price, because user can't buy it.

## Steps to reproduce the issue
1. Find product without price, for example: https://demo.storefrontcloud.io/p/240-LV09/luma-yoga-for-life
1. Click on **Add to cart** button

see:
![image](https://user-images.githubusercontent.com/

[2019-01-31 18:18] #2244 closed

[2019-01-31 18:19] pkarw commented on #2312
This is done on Magento side; it’s not a VS issue (probably magento either - I mean it’s correct value - because of discount, taxes and other things magento is summing up); usability isn’t great - I totally agree with that haha :-)

 One can configure how totals look like in magento2 admin. So I’m closing this one as it’s not an issue to be fixed in VS :)

[2019-01-31 18:19] #2312 closed

[2019-01-31 18:40] ibugaj opened #2316 "Uneven line on Checkout in Shipping section"
## Current behavior
Uneven line on Checkout in Shipping section
## Expected behavior
Line should  be even, smooth
## Steps to reproduce the issue

1. Add some product to the Cart
2. Go to checkout
3. See on Shipping section:

![image](https://user-images.githubusercontent.com/47220013/52076848-decc6900-258f-11e9-8e71-d47c750b4e02.png)

## Environment details
https://demo.storefrontcloud.io

[2019-01-31 18:54] ibugaj opened #2317 "In Shipping section no validation for some fields."
## Current behavior
In Shipping section no validation for some fields.
## Expected behavior
There should be right validation for fields, to user could enter correct data
## Steps to reproduce the issue
1. Add some product to the Cart
2. Go to checkout
3. Fill fields in Personal Details section
4. Click **Continue to shipping** button
5. Fill fields in Shipping section, but in fields: **Street name

[2019-01-31 19:13] ibugaj opened #2318 "Bug in section What we can improve? (feedback section)"
## Current behavior
Typo in text "_Your feedback is important _fo_ us. Let us know what we could improve_." and lack of possibility to send feedback - notification that email address not provided
## Expected behavior
Should be "_Your feedback is important _for_ us. Let us know what we could improve._"
(it is about word "**for**")

## Steps to reproduce the issue
1. Finish buying the product
2. In

[2019-01-31 19:23] #2308 closed

[2019-01-31 19:35] vue-kacper opened #2319 "Lack of modal backdrop"
## Current behavior
Lack of modal backdrop entering "My account" from sidebar menu

## Expected behavior
Modal backdrop should be visible

## Steps to reproduce the issue
Visit: https://demo.storefrontcloud.io as a guest
Click on the menu
Click "My account"

## Additional information

![image](https://user-images.githubusercontent.com/42430550/52080253-9ca72580-2597-11e9-81ca-27e6567cf60d.png)

Sh

[2019-01-31 19:48] vue-kacper opened #2320 "[default] Problem with "about us" static page"
## Current behavior
We can enter empty "Aubout us" page from sidebar links but after refresh we get "We can't find the page"

![image](https://user-images.githubusercontent.com/42430550/52080900-2acfdb80-2599-11e9-9289-e6e7f2b97f7e.png)

## Expected behavior
"About us" page link sould render static page or it should be removed

## Steps to reproduce the issue
Visit: demo.storefrontcloud.io as a gu

[2019-01-31 19:51] filrak commented on #2320
Should be lack of proper link in static.vue

[2019-01-31 19:53] filrak commented on #2319
Tip - there is an action for showing overlay in ui module

[2019-01-31 23:17] vue-kacper opened #2322 "Using multiple filters combination on category page doesn't work"
## Current behavior

Using specific combination of filters on category page doesn't show proper results

## Expected behavior

Filter function should show proper results

## Steps to reproduce the issue

Visit URL: https://demo.storefrontcloud.io/c/tops-21

**Base state:**

![image](https://user-images.githubusercontent.com/42430550/52091686-92941f80-25b5-11e9-853c-a3d8d91556e4.png)

**Apply "Erin

[2019-02-01 07:35] pkarw commented on #2310
To solve this task we should modify:
- mage2vuestorefront [stock sync](https://github.com/DivanteLtd/mage2vuestorefront/blob/413976fdec2fa0b7fe05c4a9e58781b124c48de2/src/adapters/magento/product.js#L223)
- vue-storefront-api [dynamic stock sync](https://github.com/DivanteLtd/vue-storefront-api/blob/master/src/api/stock.js) - one endpoint is for getting the single stock item, second is for getting

[2019-02-01 08:58] lukeromanowicz opened #2323 "[RFC] Class oriented approach when creating components in TypeScript"
Feature Name: Class approach in TypeScript components
Start Date: 2019-02-01
RFC PR: -

# Summary

We should create our typescript components in [vue class approach](https://vuejs.org/v2/guide/typescript.html#Class-Style-Vue-Components) as the current way does not fully utilize the advantages of using typescript.

# Motivation

During writing unit tests I noticed that typing of imported modules is

[2019-02-01 09:49] lorenaramonda commented on #2320
I'm gonna do this one! 🙋

[2019-02-01 09:57] jahnni commented on #2322
we're trying this

[2019-02-01 10:05] filrak commented on #2323
We alreadyd iscussed it and decided not to use it

[2019-02-01 10:05] lorenaramonda commented on #2320
PR here: https://github.com/DivanteLtd/vue-storefront/pull/2325

[2019-02-01 10:31] renatocason commented on #2304
Hi @filrak ,

I'm looking into this, can you assign it to me?

Thanks,
Renato

[2019-02-01 11:00] aleron75 commented on #2310
I'll try to work on this

[2019-02-01 11:41] #2320 closed

[2019-02-01 11:55] #2304 closed

[2019-02-01 12:14] pkarw commented on #1906
:D @filrak so You should close this one :)

[2019-02-01 12:15] pkarw commented on #2028
Done!

[2019-02-01 12:45] #792 closed

[2019-02-01 12:46] pkarw commented on #2166
I'm on this!
https://github.com/DivanteLtd/vue-storefront-simple-api

[2019-02-01 12:53] mcspronko commented on #2315
Working on this one.

[2019-02-01 13:08] #1906 closed

[2019-02-01 13:09] #2087 closed

[2019-02-01 13:56] MarcoGrecoBitbull commented on #2315
solved, we doing pull request right now

[2019-02-01 14:16] mcspronko commented on #2315
Ok, thanks.

[2019-02-01 15:50] jorkvist commented on #2322
What about this one?
https://github.com/DivanteLtd/vue-storefront/pull/2180

[2019-02-01 16:09] MarcoGrecoBitbull opened #2339 "Custom options on Downloadable product not working properly"
## Current behavior
if you try to add to cart a downloadable product with price zero that have custom options it fails and return error message about price but it happen because isn't possible select any available options

## Expected behavior
Options have to appears like magento2 enviroment:
http://demo-magento2.vuestorefront.io/luma-yoga-for-life.html

if you select nothing can't add to cart the

[2019-02-01 23:15] lorenaramonda commented on #2319
I'm sorry to tell 😬 that the fix provided seems to "work" only when not logged in but when user are logged in, the submenu links all break by opening the login modal and consequently breaking the toggle of overlay and closing of sidebar.

This problem rise up because of this behavior:
- clicking on the my account link trigger the modal open and sets state.overlay to true (although it still doesn't

[2019-02-02 13:20] ibugaj opened #2342 "Lack of Clear button on Filters (desktop)"
## Current behavior
Lack of Clear button on Filters (desktop)

## Expected behavior
There should be Clear button

## Steps to reproduce the issue
1. Go to any Category of products
2. Choose some attributes on Filter

![image](https://user-images.githubusercontent.com/47220013/52164692-9fb82800-26f5-11e9-947a-49819ecd1fd0.png)

## Environment details
https://demo.storefrontcloud.io

## Additional i

[2019-02-02 13:25] ibugaj opened #2343 "Filters - The ability to quickly search for a wider area of interest"
## What is the motivation for adding / enhancing this feature?
The ability to quickly search for a wider area of interest

## What are the acceptance criteria
User can choose more than one Color or Size on Filters

[2019-02-02 13:48] ibugaj opened #2344 "Some links from Footer direct on the same page (but with different URL)"
## Current behavior
When user is for example on Store locator page and changes it on another from Footer, he is still on the same page, but with another URL.
## Expected behavior
Click on any links from Footer should direct on right page

## Steps to reproduce the issue
1. Go to Footer
2. Click on Store locator
3. Then click on any other link on the left side, for example Delivery

## Environment

[2019-02-02 14:12] ibugaj opened #2345 "Problem with changing Qty of product in Cart"
## Current behavior
Problem with changing Qty of product in Cart - user can click on an arrow only once time (to click on it again, he must click on Edit for every time).
## Expected behavior
User should has possibility to click on an arrow (for chaning Qty) as many times as it needs

## Steps to reproduce the issue
1. Go to the Cart, when user has at least one product inside.
2. Click on Edit nex

[2019-02-02 14:19] ibugaj opened #2346 "Lack of possibility to change color or size, when product is in the Cart"
## Current behavior
Lack of possibility to change color or size, when product is in the Cart

## Expected behavior
User should has possibility to change color or/and size, when product is in the Cart

## Steps to reproduce the issue
1. Go to the Cart, when user has at least one product inside.
2. Click on Edit next to this product

[2019-02-02 14:33] ibugaj opened #2347 "Track my orders page is available for not logged user"
## Current behavior
_Track my orders_ page is available for not logged user, it directed on https://demo.storefrontcloud.io/order-tracking

## Expected behavior
In my opinion this case should behave like _My account_ page so show notification "You need to be logged in to see this page"

## Steps to reproduce the issue
1. Be on Home page as not logged user
2. Click on _Track my orders_ (from Footer

[2019-02-02 14:55] ibugaj opened #2348 "Register new account permits on two-letter First name"
## Current behavior
Creating new account permits on two-letter First name, but on Checkout this field is valid, see:

![image](https://user-images.githubusercontent.com/47220013/52165449-32aa8f80-2701-11e9-9a68-d1583503d66e.png)

## Expected behavior
There shouldn't be discrepancies between the field on account creation and Checkout

## Steps to reproduce the issue
1. Go to Register an account
2.

[2019-02-02 15:06] ibugaj opened #2349 "Wrong validation for Zip-code field in Payment section"
## Current behavior
Wrong validation for Zip-code field in **Payment** section - notification,  that Zip-code must have at least three letters, although he has.

![image](https://user-images.githubusercontent.com/47220013/52165713-85d21180-2704-11e9-80c4-03044b83808d.png)

## Expected behavior
There shouldn't be validation, if field is filled with 3 letters.

## Steps to reproduce the issue
1. Add

[2019-02-02 17:49] pkarw commented on #2347
This is just a static page - I suggest removing the link from the footer.

[2019-02-02 18:52] pkarw commented on #2348
Please check the Ajv JSON validation schema (which is placem in the vue-Storefront-api) if it nas the same length set for this field:
https://github.com/DivanteLtd/vue-storefront-api/blob/develop/src/models/ -> `.schema.json`

[2019-02-02 18:53] pkarw commented on #2348
Please also do check the Order flow afterward (if server isn’t returning any avalidation error)

[2019-02-02 19:06] pkarw commented on #2319
@qiqqq @filrak can You guys Please help in here? We should have this fixed before 1.8

[2019-02-02 19:07] #2289 closed

[2019-02-02 19:08] #2265 closed

[2019-02-02 19:09] pkarw commented on #2254
@patzick is this fixed already?

[2019-02-02 19:10] #2316 closed

[2019-02-02 19:13] vue-kacper commented on #2344
It's not a bug - those are all static pages assigned to the same component

[2019-02-02 19:15] #2349 closed

[2019-02-02 19:15] #2347 closed

[2019-02-02 19:16] #2348 closed

[2019-02-02 19:21] #2216 closed

[2019-02-02 19:26] #1213 closed, assigned to Igloczek

[2019-02-02 19:38] #2344 closed

[2019-02-02 19:51] francescosalvi commented on #2319
@pkarw I actually have developed a different solution during the hackathon, which I didn't push since is not very clean in my opinion (and there was also the other solution pending); I will when I get back at the pc so you guys can check if it's valid

[2019-02-02 20:34] pkarw commented on #2319
Perfect :) Thank You @francescosalvi

[2019-02-02 21:41] vue-kacper commented on #2317
@pkarw I think we can close this one

[2019-02-03 06:12] pkarw commented on #2317
Thanks

[2019-02-03 06:12] #2317 closed

[2019-02-04 09:05] ddomurad opened #2356 "User address id can’t be of type string"
## Current behavior
While developing EPiServer Commerce backend API for vue-storefront, I found out that VSF doesn't properly handles addresses, when the address.id field is of type string.

Example GET /user/me?token=….:
RESPONSE:
[code]

Under Homepage/My Account/ My shipping details, no shipping information is visible:

Console output while opening shipping details:

When the type of address.id

[2019-02-04 15:33] ibugaj commented on #2318
Typo corrected, but I still can't send feedback -  I get notification "Invalid email address is provided!" and error 500 in Console

[2019-02-04 15:40] ibugaj commented on #2315
Product provided as example still is without price. Now when I try to add it to cart I get notification "Please specify product link(s)."
Checked on https://test.storefrontcloud.io/p/240-LV09/luma-yoga-for-life

[2019-02-04 15:56] ibugaj opened #2360 "Lack of possbility to buy some specific products"
## Current behavior
Some specific products can't be bought. There is notification: "_The order can not be transfered because of server error. Order has been queued_"
Error 500 in Console.

![image](https://user-images.githubusercontent.com/47220013/52219432-e7c57f00-289c-11e9-8ae5-182509e52e3e.png)

## Expected behavior
Possibility to buy available products

## Steps to reproduce the issue
1. Add

[2019-02-04 16:08] ibugaj opened #2361 "Cutted Country name on Checkout"
## Current behavior
Cutted Country name
![image](https://user-images.githubusercontent.com/47220013/52220534-60c5d600-289f-11e9-82d7-7890eb113c69.png)

## Expected behavior
Country field should be properly visable.

## Steps to reproduce the issue
1. Add some product to the Cart
2. Go to checkout
3. Fill fields for sections 1. Persolnal Detalis and 2. Shipping with correct data
and fill also Payme

[2019-02-04 16:26] filrak opened #2362 "Depreciate asyncDataLoader"
## What is the motivation for adding / enhancing this feature?

With new addition to Vue 2.6 it's no longer needed
![image](https://user-images.githubusercontent.com/15185752/52221645-e3e82b80-28a1-11e9-86b0-4c6606168e2b.png)
https://ssr.vuejs.org/api/#serverprefetch

[2019-02-04 18:02] pkarw commented on #2362
Wow! Awesome, finally!
Are we updating to 2.6 right away? With the 1.8 release?

I won’t depreciate it anyway as it has some more features. However, for this particular case / true, it makes no sense to use it :-)

[2019-02-04 18:03] pkarw commented on #2360
Ok, so it’s just with virtual products, correct?

[2019-02-04 18:48] filrak commented on #2362
Imho we should depreciate it and introduce a new feature to Hook i to Express (using same feature as right now with server routes) to not mix conventions.
@patzick wdyt?

[2019-02-04 18:49] filrak commented on #2362
And Yes we should update with 1.8.its 100% backward compatible

[2019-02-04 18:51] pkarw commented on #2362
Ok please do update Vue; I’ll add deprecation notice to the module

[2019-02-04 18:53] pkarw commented on #2295
While there are some ongoing works for MSI support scheduled I’ll switch this “listOutOfStockProducts” to true by default in default.json

[2019-02-04 18:54] #2235 closed

[2019-02-04 18:56] pkarw commented on #2361
It’s kind of general issue with combo fields
![77f340a9-7af1-4c0f-8459-170ea4955047](https://user-images.githubusercontent.com/211899/52230139-f28d0d80-28b6-11e9-9907-7fa4e200d85b.png)

[2019-02-04 18:57] pkarw commented on #2339
Related to: #2315

[2019-02-04 19:24] ibugaj commented on #2347
Verified

[2019-02-04 19:37] ibugaj commented on #2360
Yes, it looks like that

[2019-02-04 19:37] ibugaj commented on #2360
Sorry, I closed issue by mistake ;)

[2019-02-04 19:42] ibugaj commented on #2348
verified

[2019-02-04 19:53] ibugaj commented on #1372
@pkarw Could you reopen this issue?
I find new place where Zip-code is valid, even when user provided 4 letter, see:
![image](https://user-images.githubusercontent.com/47220013/52233151-a645cb80-28be-11e9-9e53-14b18d01f99d.png)

It is for logged user, when user edit **My profil** - _/my-account_ page

Tested on https://test.storefrontcloud.io

[2019-02-04 20:06] pkarw commented on #1372
@ibugaj thanks

[2019-02-04 20:15] ibugaj opened #2363 "My account menu for logged user should curl up after click on any position"
## What is the motivation for adding / enhancing this feature?
I think that it will more comfortable for user, when he developed **My account menu** (in right top corner) and chose any option, for example **My newsletter**, then he should be redirected on this page (it works properly) but menu should curl up.

![image](https://user-images.githubusercontent.com/47220013/52234344-b57a4880-28c1-11e9-

[2019-02-04 20:18] pkarw commented on #2363
It was just like that till 1.6 :)

[2019-02-04 20:19] #2362 closed

[2019-02-04 20:33] patzick commented on #2362
Guys, we haven't released that feature yet. Shouldn't we just remove this instead of releasing new deprecated module if we're sure that we don't want it? :)

[2019-02-04 20:38] ibugaj opened #2364 "selection checkbox for receiving Newsletter isn't saved"
## Current behavior
Selection checkbox for receiving Newsletter isn't saved
## Expected behavior
Selection checkbox for Newsletter should be saved
## Steps to reproduce the issue
1. Be a logged user
2. Go to My account - My Newsletter
3. Click on **Edit newsletter preferences**
4. Select checkbox **I want to receive a Newsletter, and agree to its terms**
5. Click on **Update my preferences** butto

[2019-02-04 20:39] pkarw commented on #2362
I want it :)

[2019-02-04 20:42] pkarw commented on #2360
Fixed with: https://github.com/DivanteLtd/vue-storefront-api/commit/d11a21a614632c00f8a375aed96123837787ded3

[2019-02-04 20:43] #2360 closed

[2019-02-04 20:47] patzick commented on #2362
okaay, i clearly misunderstood your discussion ;)

[2019-02-04 20:56] vue-kacper commented on #2364
Reload of any "My account" section page (as authenticated user) redirects to home with this notification. I think it's related to SSR "My account" pages reload logic for unauthenticated user.

We've introduced it a while ago to redirect unauthenticated users from "My account" to "Homepage" on reload.

Maybe we should not redirect user at all in this scenario because we can't detect if user is auth

[2019-02-04 21:01] danielvanmil opened #2365 "Doc of production setup docker/kubernetes unclear/missing"
## What is the motivation for adding / enhancing this feature?
The documentation at : https://docs.vuestorefront.io/guide/installation/production-setup.html#production-setup-using-docker-kubernetes is in status 'To be prepared.', but it is unclear what the status of this topic is.

## What are the acceptance criteria

* ...
* ...

# Can you complete this feature request by yourself?

## Additional

[2019-02-04 21:04] pkarw commented on #2365
This is feature request - it has not yet been described :)

[2019-02-04 21:15] pkarw commented on #2315
OK, so this is Feature Requests. We're not currently supporting Downloadable products properly. We need to extend [mage2vuestorefront]() to get the product links: https://devdocs.magento.com/swagger/#!/downloadableLinkRepositoryV1 - and support them using the kind of `ProductCustomOptions.ts` logic (to configure the price based on selected links/options)

[2019-02-04 21:17] pkarw commented on #2339
Closing this one as a duplicate of #2315; proper downloadable products support still need to be added

[2019-02-04 21:17] #2339 closed

[2019-02-04 21:18] pkarw commented on #2364
@filrak I know that You were working on both: route guards + newsletter refactoring; can you check this one please?

[2019-02-04 21:37] pkarw commented on #2356
Done with https://github.com/DivanteLtd/vue-storefront/issues/2356

[2019-02-04 21:37] #2356 closed

[2019-02-04 21:38] pkarw commented on #2290
Not sure how should be handle these dynamic request errors differently; any suggestions?

[2019-02-04 21:40] pkarw commented on #2231
I've started working on https://github.com/DivanteLtd/vue-storefront-simple-api
I've placed the simplified data formats into: https://github.com/DivanteLtd/vue-storefront-simple-api/tree/develop/data/json. Will describe them later on (probably for 1.9)

[2019-02-05 07:57] Cyclonecode commented on #2156
The main problem here as I see it is how to figure out the name of the old index that should be deleted? For instance, if I have `vue_storefront_catalog_<timestamp>` and create a temporary index `vue_storefront_temporary` and reindex this and then point the alias `vue_storefront_catalog` to it, how to know name of the previous index? Maybe I am just a little confused when looking on the code db to

[2019-02-05 08:19] Cyclonecode commented on #2156
I would be glad to try to implement this one, but I think we need to talk a little more on how this really should work. Right now I am feeling that it is pretty hard to figure out the old index which should be removed. Would be nice to get some more input on this.

[2019-02-05 08:48] pkarw commented on #2156
Hi @Cyclonecode in this scheme You don't have to figure out the old index name as it's using the alias `vue_storefront_catalog`. So all You need to do is to add this `destIndexName` switch - then it works like this:
1. You're creating new index `npm run db new -- --indexName=myTemporaryIndex`
2. You 're switching `mage2vuestorefront` to use it by `export INDEX_NAME=myTemporaryIndex`
3. You're runn

[2019-02-05 09:07] jorkvist commented on #2322
@pkarw ok then the labels on this issue is wrong :D

[2019-02-05 13:14] #2277 closed

[2019-02-05 16:19] ibugaj commented on #2313
I don't know why, but for my issue still exist.
I checked on some products and before I removed storage

[2019-02-05 16:23] pkarw commented on #2313
Could You please provide a SKU of problematic products?

[2019-02-05 16:34] ibugaj commented on #2318
OK, now it works for me too:)

[2019-02-05 16:40] ibugaj commented on #2313
Yes, sure, for example SKU: MJ12-XS-BLACK
I checked it one more time now and still problem is

[2019-02-05 17:02] pkarw commented on #2360
Yes, but not yet deployed

[2019-02-05 17:35] ibugaj opened #2370 "Lack of Compare feature on Mobile"
## Current behavior
Lack of Compare feature on Mobile

## Expected behavior
Compare feature on Mobile

## Steps to reproduce the issue
1. Go on any product page on Mobile
2. Click **Add to compare**

## Environment details
https://test.storefrontcloud.io/

[2019-02-05 18:56] pkarw commented on #2310
Thanks! Great job with the analysis document, looks great. Looking forward for the PoC.

Please note that we’re also checking the stock options per configurable child and filter out unavailable variants. It’s done runtime (thru vsapi and then direct call to magento to get the current t stock); not in the mage2vs / it’s the only way to make sure that the product is in stock / not relying on the Ela

[2019-02-05 19:30] jeremycharron opened #2371 "Wrong price flashing briefly when loading bundle product page"
## Current behavior
A wrong price is flashing briefly when loading/reloading a bundle product page.

## Expected behavior
The right price should be showed right from the start **OR** the price should be hidden while loading

## Steps to reproduce the issue
1. Go on any bundle product page
2. Reload the page
3. Look for the price flashing for about 1 second

## Environment details
https://demo.vues

[2019-02-05 21:31] vue-kacper commented on #2290
It looks like magento 500 status code responses are gone on demo :) I think we should leave them as they are for now. Since those errors are dynamic we don't have much control here

[2019-02-06 05:07] #2290 closed

[2019-02-06 06:50] patzick commented on #2371
Thanks for issue. That behaviour is caused by setting default values on component mounted lifecycle, so after its rendered.

![image](https://user-images.githubusercontent.com/13100280/52324714-b0f98100-29e2-11e9-9c13-f90dfea5f80a.png)

Although you haven't filled info if you're willing to improve it by yourself.
It's nice case for first issue:)

[2019-02-06 08:59] #2371 closed

[2019-02-06 08:59] pkarw commented on #2371
It was an issue with `setupAssociated` called 2 times

[2019-02-06 09:01] pkarw commented on #2370
We can skip Compare on Mobile at all - it makes no sense to have it there

[2019-02-06 10:41] Decntdefalt opened #2377 "Error: unable to verify the first certificate"
Hi!

I've setup vue-storefront with magento before, and i created a new project and ran `node --harmony cli.js fullreindex ` in /mage2vuestorefront/src but this time I'm getting error:

[code]
What does this mean and best way to solve it?

Thanks in advance!

[2019-02-06 11:46] Decntdefalt commented on #2377
Sorry, I think this is 100% related to not having installed ca-bundle for my magento instance.

[2019-02-06 11:46] #2377 closed

[2019-02-06 13:58] revlis-x opened #2378 "Password Reset response undefined"
## Current behavior
When clicking reset password in the modal dialog, the api-call gets made correctly, returns correct payload and email is sent, but console error appears "response is undefined" and because of that the UI never gets updated to ""passworsSent"-State.

## Expected behavior
Response gets passed back to ForgotPass.vue correctly, so that UI can respond to it.

## Steps to reproduce t

[2019-02-06 16:01] ibugaj commented on #2370
OK, cool, I was not sure;)

[2019-02-06 16:22] pkarw opened #2380 "Add Nosto support"
## What is the motivation for adding / enhancing this feature?

Add Nosto Product recommendations support thru their JavaScript API:
https://developer.nosto.com/

## What are the acceptance criteria

- `NostoRecommendations` component added as a VS Module
- `NostoRecommendations` component used on Category and Product page

[2019-02-06 16:24] pkarw opened #2381 "Add Klevu Search support"
## What is the motivation for adding / enhancing this feature?

Klevu Search API could be integrated with our Search component.

## What are the acceptance criteria

* `KlevuSearch` module added - extending/overriding the Vuex methods for Search methods
* ... or KlevuSearch component added - ready to be used in the theme

[2019-02-06 16:25] pkarw opened #2382 "Add Klarna Checkout"
## What is the motivation for adding / enhancing this feature?

Add the Klarna Checkout API integration:
https://developers.klarna.com/api/

## What are the acceptance criteria

- Klarna Checkout integrated similarily like Payment Request API - #2184
- ...

[2019-02-06 17:23] patzick commented on #2378
Hey @revlis-x
i think this is fixed in current develop
I get this:
![image](https://user-images.githubusercontent.com/13100280/52360244-dc5c8a00-2a3b-11e9-88e0-bc98d70467c0.png)

Or if magento limit is reached this:
![image](https://user-images.githubusercontent.com/13100280/52360355-188fea80-2a3c-11e9-98d4-bd75f877f4c9.png)

Please check if you can reproduce this in https://test.storefrontcloud.i

[2019-02-06 17:23] #2378 closed

[2019-02-06 17:57] #2361 closed

[2019-02-06 18:50] #2370 closed

[2019-02-06 18:51] #2345 closed

[2019-02-07 14:27] #2254 closed

[2019-02-07 14:38] #2363 closed

[2019-02-07 14:56] rain2o opened #2388 "Add Support for Product Videos"
## What is the motivation for adding / enhancing this feature?
Magento 2 supports the ability to add videos in the product gallery. While editing the product you can add a video using a URL from YouTube or Vimeo. Vimeo is supported by default, but you need API key for YouTube to work. Magento uses the API to pull in the title, description, and a placeholder image for the video.
On the front-end of

[2019-02-07 14:59] pkarw commented on #2388
Great feature, go on! :)

[2019-02-07 14:59] rain2o commented on #2388
I will open related PRs in the other repos and link back to here.

[2019-02-07 16:57] ibugaj commented on #2363
verified

[2019-02-07 17:01] ibugaj commented on #2345
Verified

[2019-02-07 17:20] ibugaj commented on #2361
Verified

[2019-02-07 17:39] ibugaj opened #2389 "New case with two-letter First name"
## Current behavior
When logged user check **Use my billing dat**a in **Payment** section in Checkout, then there is validation on two letters in First Name field, although it is filled with 2 letters.

![image](https://user-images.githubusercontent.com/47220013/52430696-fadb8780-2b06-11e9-86e2-eb80790c3d8a.png)

## Expected behavior
There shouldn't be discrepancies between Name fields on Checkout

[2019-02-07 18:23] ibugaj opened #2390 "Name of Country field on Checkout is shifted to the right side."
## Current behavior
Name of Country field on Checkout is shifted to the right side.

![image](https://user-images.githubusercontent.com/47220013/52432633-37a97d80-2b0b-11e9-84ac-ba1ee0f8dd07.png)

## Expected behavior
Name of Country field  should be shifted to the left side, like it is on Chrome browser:

![image](https://user-images.githubusercontent.com/47220013/52433303-121d7380-2b0d-11e9-8a72

[2019-02-07 18:32] ibugaj opened #2391 "Slip on page and improperly look in Internet Explorer browser"
## Current behavior
Slip on page and improperly in Internet Explorer browser, for example:

![image](https://user-images.githubusercontent.com/47220013/52434221-219dbc00-2b0f-11e9-9e6b-637a1ecf5ea8.png)

![image](https://user-images.githubusercontent.com/47220013/52434142-fa46ef00-2b0e-11e9-8764-ad6a5fcc2be7.png)

## Expected behavior
Properly page display

## Steps to reproduce the issue
1. Open

[2019-02-08 08:53] Tjitse-E opened #2395 "Add Typescript support for VS modules installed with Yarn/NPM"
## What is the motivation for adding / enhancing this feature?
We've just ported the external checkout from Filip to a [VS module](https://github.com/Vendic/vsf-external-checkout). But I noticed that installing the module with yarn isn't working, because of the Typescript files included in the module, or a missing configuration file in the module. Anyway, these modules are currently not bundled co

[2019-02-08 09:36] pkarw commented on #2395
Maybe we should add the TS support to all `vsf-*` named modules?

[2019-02-08 09:37] Tjitse-E commented on #2395
@pkarw even better. I'll add it to the feature request

[2019-02-08 11:55] ArturDivante opened #2398 "No quantity up/down buttons in product page and cart - Edge"
## Current behavior
Quantity field does not have up and down buttons **in Edge browser**. You can still increase and decrease quantity by clicking the field and using up/down arrow keys or numbers.

## Expected behavior
After moving mouse button over quantity field (on product page) or after clicking edit button (in cart), up and down buttons should appear and alow to set desired quantity by click

[2019-02-08 13:03] ArturDivante opened #2399 "Country* field name is missplaced in shipping details - Edge 17 and Firefox"
## Current behavior
Country* field description is displayed next to the dropdown list

## Expected behavior
Country* field description should be displayed above the dropdown list

## Steps to reproduce the issue
1. Create account and login
2. Go to my account > My shipping details
3. Click 'Edit your shipping details'
![country1](https://user-images.githubusercontent.com/47415585/52479860-51e66880

[2019-02-08 16:28] mauveine opened #2400 "docker-compose up returns Unexpected identifier"
## Current behavior
When running docker-compose up inside vue-storefront folder it returns this error:
[code]

## Expected behavior
Docker container should be up and running according to the documentation

## Steps to reproduce the issue
Follow standard steps in [here](https://docs.vuestorefront.io/guide/installation/linux-mac.html#install-the-vue-storefront)

# Can you handle fixing this bug by y

[2019-02-08 16:32] iacopop commented on #2400
DAMN. i have the same issue.

[2019-02-08 23:10] pkarw commented on #1226
Please check and comment this PR: https://github.com/DivanteLtd/vue-storefront/pull/2401

[2019-02-08 23:10] pkarw commented on #2010
Any feedback will be much appreciated: https://github.com/DivanteLtd/vue-storefront/pull/2401

[2019-02-09 05:11] ananth-iyer commented on #2399
@pkarw I am working on this issue.

[2019-02-09 10:02] ananth-iyer commented on #2390
@pkarw @ibugaj I am working on this issue.

[2019-02-09 10:08] ananth-iyer commented on #2390
https://github.com/DivanteLtd/vue-storefront/pull/2402 PR will fix the label issue on Checkout page also. `<BaseSelect>` component is being used for Country field.

[2019-02-09 10:11] ananth-iyer commented on #2389
@patzick I have fixed the issue in https://github.com/DivanteLtd/vue-storefront/pull/2403 PR

[2019-02-10 06:29] anantsunny opened #2405 "In Magento order placed twice most of the time"
## Current behavior
Order is placed twice in Magento for most of the orders in production. But it is working fine in local environment.

## Steps to reproduce the issue
Add any product to cart.
Place order as guest user.
Order placed is successful.
I can see same order twice in my magento admin.

## Environment details

- Browser: Chorome
- OS: Windows , Andriod
- Node: 8.11

[2019-02-10 07:11] arijit-codilar commented on #908
I have got the same issue and I have docker compose installed

[2019-02-10 08:30] pkarw commented on #2405
Please provide us with more details: VS version, dev tools network console trace + please check if you can reproduce this issue on demo.storefrontcloud.io

[2019-02-10 09:23] pkarw opened #2406 "Add method to check if module is already registered"
## What is the motivation for adding / enhancing this feature?

We don't have a public method in `VueStorefrontModule` interface to check if the module has been already registered + list the registered modules.

It could be useful. For example, I wanted to check in `payment-backend-methods` if the ``payment-cash-on-delivery` has been registered and there was no way to do so

[2019-02-10 09:26] pkarw opened #2407 "Refactor Payment modules"
## What is the motivation for adding / enhancing this feature?

The current way we set the available payment methods is [pretty messy](https://github.com/pkarw/vue-storefront/blob/d7fc2d9a2f6b403bb43e8c9a67f227ffa8a814df/core/modules/cart/store/actions.ts#L355). It's done using events + store methods.

To kee the backward compatibility, we should implement the parallel interface, TypeScripted for

[2019-02-10 09:26] pkarw commented on #2407
Related to #2405

[2019-02-10 09:30] pkarw opened #2408 "Eager load of the Microcart + Checkout modules"
## What is the motivation for adding / enhancing this feature?

As we discussed: these modules should be eager-loaded to make sure they're always available when the user enters offline mode

[2019-02-10 09:31] pkarw commented on #2400
Thanks for pointing this out!
@patzick isn't it related to the TypeScript issue you were working on last week? Could You please double check this one?

[2019-02-10 09:36] pkarw opened #2409 "Add check for `checkout-do-placeOrder` event - to make sure it's called only once no matter how many events are emited"
## What is the motivation for adding / enhancing this feature?

It's related to #2407. Currently, there is a high chance that by minor issue module developer can fire the `placeOrder` few times which can cause critical issues.

We should hash the orders (objHash) and make sure one order is transmitted just once to the server in the `placeOrder` method to make it completely safe

[2019-02-10 09:50] pkarw commented on #2182
Plus - gzip / brotli also as a Express.js middlewares as we discussed

[2019-02-10 09:55] pkarw commented on #2405
OK! I've found and fix the error: https://github.com/DivanteLtd/vue-storefront/releases/tag/v1.8.1

Please retest

[2019-02-10 09:55] #2405 closed

[2019-02-10 17:07] dimasch commented on #812
Related to #2028

[2019-02-11 03:51] yohanespradono opened #2413 "TypeError: Invalid apiVersion "5.5", expected a function or one of _default, 6.6, 6.5, 6.4, 6.3, 6.2, 6.1, 6.0, 5.6, 2.4, 1.7, 0.90, 6.7, 7.0, 7.x, master"
## Current behavior
While doing " Importing data from magento into ElasticSearch...", it was taking forever, then I canceled it.
I got this error on vue-storefront/var/log/install.log

[code]

## Expected behavior
Importing run smooth

## Steps to reproduce the issue
yarn installer

## Repository
https://github.com/DivanteLtd/vue-storefront

# Can you handle fixing this bug by yourself?
No.

## En

[2019-02-11 06:58] pkarw commented on #2413
Elastic 6.x is not yet supported. Please do use 5.x

[2019-02-11 07:39] gabwik commented on #2382
Kodbruket will start doing this.

[2019-02-11 07:39] yohanespradono commented on #2413
but mine is 5.6

[code]

[2019-02-11 07:43] pkarw commented on #2413
OK, that changes the perspective :) Please try do change:
https://github.com/DivanteLtd/vue-storefront-api/blob/9465bdbbc5d48ad480ae71e7ee0de9044f014d33/migrations/.common.js#L10

to '5.6' and if it works then You might want open a Pull Request with a fix

[2019-02-11 08:38] pkarw commented on #2413
@mdanilowicz

[2019-02-11 09:20] Jensderond opened #2415 "Error on yarn run. (TS specific?)"
## Current behavior
When trying to start the project using `docker-compose up --build` it failes on starting vue-storefront_app.

## Expected behavior
Expecting project to run and container to be up and running.

## Steps to reproduce the issue
Clone repository, using the standard mode.
Run `docker-compose up --build`.

# Can you handle fixing this bug by yourself?
NO

## Environment details
- Bro

[2019-02-11 09:20] lukeromanowicz commented on #2413
We could consider moving that constant into config instead of hardcoding 5.6.

[2019-02-11 09:27] pkarw commented on #2413
@lukeromanowicz let's do it - please just check up with @mdanilowicz

[2019-02-11 09:29] benjick commented on #2415
Any workaround to get it up and running?

[2019-02-11 09:44] lukeromanowicz commented on #2415
Possibly related to #2269

[2019-02-11 09:49] Jensderond commented on #2415
@lukeromanowicz that PR fixes the problem! 😄

[2019-02-11 10:17] anantsunny commented on #2405
Thank you. Its working fine now

[2019-02-11 11:44] yohanespradono commented on #2413
I found the issue.  In vue-storefront-api/package.json, it has "elasticsearch": "^15.2.0", and It fetch elasticsearch 15.4.1. and elasticsearch node module 15.4.1 doesn't support apiVersion 5.5.

[2019-02-11 14:15] benjick commented on #2415
Still seeing this error, HEAD @ `928458f7cf43312986a03e5347e58782dcde7a94`. Tried doing `docker-compose build`

[2019-02-11 14:29] pkarw commented on #2413
Thanks! Fixed with the https://github.com/DivanteLtd/vue-storefront-api/releases/tag/v1.8.1

[2019-02-11 14:29] #2413 closed

[2019-02-11 14:39] lukeromanowicz commented on #2415
@benjick after updating to latest commit, please, try `docker-compose build` before `docker-compose up`.

[2019-02-11 14:51] lukeromanowicz commented on #2415
I've done a checkout to v1.8.1 tag and had an error stated in the first post. Checkout to either v1.8.2 or latest master solves the issue for me. I cannot reproduce your problem.

Nevertheless, please, try `docker-compose down && docker-compose rm && docker-compose up -d`

[2019-02-11 15:00] filrak commented on #2406
it's alreadya dded

[2019-02-11 15:01] pkarw commented on #2406
Where? :)

[2019-02-11 15:04] filrak commented on #2406
https://github.com/DivanteLtd/vue-storefront/blob/master/core/lib/module.ts#L54

[2019-02-11 15:05] filrak opened #2417 "Remove storefront-ui submodule"
It's not ready to be used. @patzick you accidentally added it with 1.8 changelog, can you remove the module as a hotfix to master?

[2019-02-11 15:07] filrak commented on #2406
also https://github.com/DivanteLtd/vue-storefront/blob/master/core/lib/module.ts#L40

[2019-02-11 15:09] pkarw commented on #2406
This is private

[2019-02-11 15:11] #2415 closed

[2019-02-11 15:52] filrak opened #2418 "create VS modules from factory method instead of explict creation"
## What is the motivation for adding / enhancing this feature?

currently every VS module is created more or less liek this
[code]
While it's pretty straigtforward it has some limitations and is tied to some specific data formats and a liiiiitle bit to teh exact way we are creating them. Moreover we need to deal with 2 very similar imports which doesn't look very elegant. If we will change the way

[2019-02-11 16:16] filrak commented on #2418
@pkarw @patzick please give your opinions

[2019-02-11 16:36] ibugaj opened #2419 "Wrong color for picture of product"
## Current behavior
Wrong color for picture of product

![image](https://user-images.githubusercontent.com/47220013/52577238-f45c5100-2e21-11e9-8f4b-3447915f9f84.png)

## Expected behavior
Right color of product on picture.

## Steps to reproduce the issue
1. Go to any category of products
2. Choose any color in Filters, for example green
3. Click on any product to open its PDP

## Environment det

[2019-02-11 18:27] pkarw commented on #2418
I like it, factory pattern is usually a good thing as long as it’s not like guessing which string of class name / whatever you must provide it with :) probably this isn’t our case so I’m up to it :)

Maybe it even will solve this issue I’ve raised with the list of registered modules? ;) @filrak wdyt? ;-)

[2019-02-11 18:40] Quantomicus commented on #2173
The issue has indeed been fixed, thank you :)

[2019-02-11 18:43] pkarw commented on #2173
Great to hear that :-)

[2019-02-12 07:40] patzick commented on #2417
@filrak right, thanks. It's done :)
https://github.com/DivanteLtd/vue-storefront/commit/de212892e7c46e9d08eddea399f03daabe952a79

[2019-02-12 07:40] #2417 closed

[2019-02-12 08:10] iacopop commented on #2415
great. We had the same error on #2400
Today we will try it. thanks to all.

[2019-02-12 08:20] filrak commented on #2418
List of registered modules is currently in registeredModules static field but with this method it can be moved out of the class

[2019-02-12 08:21] pkarw commented on #2418
Ok that wouls be great

[2019-02-12 08:26] filrak commented on #2406
You're right. It was meant for internal use to avoid dependencys over modules but it can easly be moved outside and exported.

Will do it along with factory method refactor ok?

[2019-02-12 08:29] RakowskiPrzemyslaw commented on #2346
@pkarw Im working on this

[2019-02-12 08:31] pkarw commented on #2406
Perfect!

[2019-02-12 08:53] patzick commented on #2418
I think that this is cool idea:)
And i was just thinking...maybe this is nice occasion to move also modules registration to theme?
Different themes may need different modules, and sometimes module is needed only on specific route so for example shouldn't be registered globally.

[2019-02-12 08:53] ruthgeridema commented on #1965
More than willing to help with this one!

[2019-02-12 08:55] ruthgeridema commented on #1843
@Cyclonecode , what is the status of this issue?

[2019-02-12 08:56] DaanKouters commented on #2419
@patzick i'll take a look at this

[2019-02-12 08:59] StefGeraets opened #2420 "Add product and content carousel"
## What is the motivation for adding / enhancing this feature?
Replacing vue-carousel. It was removed in 1.7 because it didn't work with ssr.

## What are the acceptance criteria
- Has to work with SSR
- Needs to support product cards as content
- Optional as product photo gallery

# Can you complete this feature request by yourself?
Gonna try, not sure at this point

[2019-02-12 09:05] pauluse commented on #858
@kszewczyk did you by any chance already make a start on this? Otherwise we'd like to pick up this feature request for the Hackathon @ Amsterdam

[2019-02-12 09:08] kszewczyk commented on #858
You can take it

[2019-02-12 09:13] DaanKouters commented on #2342
@patzick i'll pick this issue

[2019-02-12 10:00] filrak commented on #2420
The reason was bc it was bad to performance. If we want to introduce a carousel it should probably be out own minimal mechanism

[2019-02-12 10:02] filrak commented on #2418
@patzick they can also share modules. You can easly achieve theme-specific modules just by importing one file with theme alias that is theme-specific. Maybe we should just add an example to the docs

[2019-02-12 10:03] filrak commented on #2418
Regarding routes there is a PoC of dynamically loaded modules but i had no time to figure out how to deal with proxy for getters

[2019-02-12 10:33] fouss commented on #2388
I will work on it with him :)

[2019-02-12 10:57] pstuifzand commented on #2322
I did some digging and found that the "erin recommends" attribute is send to ElasticSearch as "erin_recommends_options". Removing the "_options" part from the string will return the right results.
I haven't been able to find where this name is added to the query.

[2019-02-12 11:24] patzick commented on #2399
Closed by work of @ananth-iyer, thanks!

[2019-02-12 11:24] #2399 closed

[2019-02-12 11:26] patzick commented on #2390
@ananth-iyer thanks!

[2019-02-12 11:26] #2390 closed

[2019-02-12 11:31] ananth-iyer commented on #2390
@patzick Should I change under [1.9.0] in develop branch?

[2019-02-12 11:57] yohanespradono commented on #2413
thx, but the error still occur. That's because the apiVersion in node_modules/mage2vuestorefront/src/adapters/nosql/elasticsearch.js is still 5.5

[2019-02-12 13:43] rocco0807 opened #2427 "final_price is not getting on catalog list page due to which price filter and sory by is not working"
## Current behavior

## Expected behavior

## Steps to reproduce the issue

## Repository

# Can you handle fixing this bug by yourself?

## Environment details

- Browser:
- OS:
- Node:

## Additional information

[2019-02-12 15:08] pkarw commented on #1965
Great! Go on as far as I know @bitbager is not working on this at the moment

[2019-02-12 15:31] aleron75 commented on #2310
Hello @pkarw if I get it well, data pumping will be soon replaced by the native [Vue Storefront Magento2 Indexer](https://github.com/DivanteLtd/magento2-vsbridge-indexer).

According to this change, is it ok for us to work on integrating MSI on it rather than on the (deprecated?) [Data Pump](mage2vuestorefront)?

Let us know, meanwhile we're working on [vue-storefront-api](https://github.com/Divan

[2019-02-12 16:37] ibugaj commented on #2390
verified

[2019-02-12 16:54] ibugaj opened #2428 "Country field is filled by first counry from the list"
## Current behavior
Country field is filled by first counry from the list and cover placeholder - on Payment section, when user uncheck checkbox to copy data

![image](https://user-images.githubusercontent.com/47220013/52652661-d872b100-2eee-11e9-9105-e3637f36a1b7.png)

## Expected behavior
Country field should be empty
## Steps to reproduce the issue
* Add some product to the Cart
* Go to checkou

[2019-02-12 17:08] pkarw commented on #2310
Dear Allesandro, our official production recommendation currently is [mage2vuestorefront](https://github.com/DivanteLtd/vue-storefront/issues/mage2vuestorefront) - so I believe we should add MSI support to it first. I'm adding URL routing currently - and also the first place is m2vs :)

We need few more weeks (maybe months) to make `magento2-vsbridge-indexer` stable. So I would like to ask You to

[2019-02-12 18:09] aleron75 commented on #2310
hello @pkarw no problem, we'll go on working on m2vs as well, thanks for sharing the roadmap

[2019-02-13 07:24] RakowskiPrzemyslaw commented on #2428
@pkarw Im working on this

[2019-02-13 13:01] patzick commented on #2428
Closed by #2430

[2019-02-13 13:01] #2428 closed

[2019-02-14 07:28] pkarw commented on #2413
OK, fixed with https://github.com/DivanteLtd/mage2vuestorefront/commit/9ff66feb861330d73b5eec207d19ea9e5df243db

[2019-02-14 10:26] jorkvist commented on #841
Any update on this? Is it paused? I tried the code but it's failing for me. Something with the router that is passed that breaks i think. Would also be nice to get the correct DataLayer implemented on atleast products and category pages.

[2019-02-14 12:00] talalus commented on #841
I’ll continue on this in the weekend, yes sure data layer will be implemented

[2019-02-14 12:09] jorkvist commented on #841
@talalus thanks for that and thanks for the answer! :) 👍

[2019-02-14 14:27] ArturDivante opened #2435 "Inverted filtering results on category pages"
## Current behavior
Filter marked as ON has no effect
Filter marked as OFF is applied to displayed results

## Expected behavior
Filters should be marked as ON and work at the same time

## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io/
2. Open any category page
3. Pick a filter (i.e. color) and leave it marked
4. Go to any other page (i.e. Home Page)
5. Go back to the same

[2019-02-14 16:40] rain2o opened #2436 "Add Videos to Magento Demo"
## What is the motivation for adding / enhancing this feature?
In order to demo and test the ability to have videos in product gallery from #2388 and PR #2433 would it be possible to have some videos added to the VS Demo Magento shop? Adding at least 1 from YouTube and Vimeo each would be great for testing and demoing.

## What are the acceptance criteria
- At least 1 video added to a product gall

[2019-02-14 19:04] ibugaj commented on #2428
I verfied this issue and it is still. I cleaned storage data, but problem still occurs

[2019-02-14 19:19] ibugaj opened #2437 "User can add to cart 0 qty product"
## Current behavior
User can add to cart 0 qty product (with price 0), has noification 'Product has been added to the cart!" - but in Cart 1 product appears

![image](https://user-images.githubusercontent.com/47220013/52811574-ba938080-3095-11e9-9c32-78df408c654c.png)

## Expected behavior
There should be no possibility to change qty of product on 0.
## Steps to reproduce the issue
1. Open any Cat

[2019-02-14 20:41] RakowskiPrzemyslaw commented on #2437
@ibugaj I'll take care of that

[2019-02-14 20:59] smorincaron opened #2438 "Cannot edit previous steps in checkout"
## Current behavior
First two steps might result in not being editable when going back and forth in steps
![capture d ecran 2019-02-14 a 15 46 19](https://user-images.githubusercontent.com/7874374/52816652-b8b6c680-306f-11e9-8d8c-52657a5ff7d2.png)

## Expected behavior
We should still be able to edit the previous steps

## Steps to reproduce the issue
1. Add product to cart and proceed to checkout

[2019-02-15 07:28] patzick opened #2439 "Version number and build date on site"
We should add somewhere on site version number and build date, to let everyone (especially testers) to know which version they are using.
That will prevent from testing not deployed yet features.

[2019-02-15 07:29] patzick commented on #2428
that's because this has not been deployed yet
so I think also about #2439

[2019-02-15 14:36] praneethmendu opened #2440 "Cannot add 3rd party plugins to theme"
## Current behavior

According to the documentation to import 3rd party themes I have to register it in /src/themes/default/plugins/index.js , which I have tried to do

[code]
But when I am trying to access it in src/themes/default/pages/Product.vue using
[code]
it throws
[code]

I have had the same experience with other plugins I have tried namely
## Expected behavior

the plugin should be regist

[2019-02-15 15:18] filrak opened #2441 "Update to vue 2.6"
## What is the motivation for adding / enhancing this feature?

As we discussed we should introduce it as a native behavior and got rid of redundant module.

[2019-02-15 15:18] filrak commented on #2441
I can take care of this ;)

[2019-02-15 15:20] filrak commented on #2440
Hey, the docs should be more strict about this, I'll make an issue and adjust them.
I already answered you on stackoverflow but you already did it right ( `theme/index.js` ) The missing part is just checking if the plugin is registered only on client side since it highly relies on `window` object

[2019-02-15 15:20] #2440 closed

[2019-02-15 15:21] filrak opened #2442 "Update docs about plugins"
They are outdated. Structure was changed and tehre should be explanation on how to deal with SSR.

[2019-02-15 15:22] filrak commented on #2442
related to https://github.com/DivanteLtd/vue-storefront/issues/2440

[2019-02-16 09:30] #2442 closed

[2019-02-16 12:03] ananth-iyer commented on #1810
@mojo2012 It works on typescript, vuejs on `vue-store-front-api`
@jahvi I will post an video on Monday with full detail

[2019-02-16 17:23] #2389 closed

[2019-02-16 21:52] filrak commented on #2438
I'll take care of this one

[2019-02-17 11:21] filrak opened #2447 "New release cycle"
## Motivation and backstory

Currently we are releasing Vue Storefront versions once a month. While this is great in terms of delivering quick fixes and shipping new features to everyone without waiting ages for a new version of software it has some downsides.

As number of contributions grow it becomes harder and harder to test everything and be sure that the application remains stable and perfor

[2019-02-17 11:39] pkarw commented on #2447
I like this idea; it's very ... "Debianish" (https://www.debian.org/releases/)

We should describe how should we branch our repo then?
https://gitversion.readthedocs.io/en/stable/git-branching-strategies/gitflow/

[2019-02-17 11:44] filrak commented on #2447
I guess the old way can stay more or less, we just need proper tagging

[2019-02-17 11:46] pkarw commented on #2447
@filrak can we also describe in CONTRIBUTING.MD and PULL_REQUEST.MD the new schema of PR acceptance? It should be transparent

[2019-02-17 11:57] filrak commented on #2447
Sure. If we will accept on the New format I'll adjust every doc and add i go about how we release stuff into the docs

[2019-02-17 19:35] patzick commented on #2447
I think it's a great idea to keep our product stable and to provide better experience to our users.
My proposition would be just creating RC versions. So for example for next release we would have
* `v1.9.0-RC.1`

tag which is closing the features cycle. Then next features are can still be added to develop (for example by community) and we can focus on stabilising RC. Also community can give us a

[2019-02-17 19:40] lsimone commented on #307
Thanks for your effort @pkarw
I read the README and the TODO of your project and I am wondering how mature your connector is, since I am evaluating to move from woocommerce frontend to vue-storefront one, but I have to be reasonably sure I will not have critical/blocking problems or limits in my future production platform, when I will finish it.

Could you please tell me if you think it could be p

[2019-02-17 19:50] patzick commented on #2439
We have to remember to change it also here.
https://github.com/DivanteLtd/vue-storefront/blob/8978d68f8ea0303207cca58750e06ad120a8138f/core/app.ts#L68

[2019-02-17 21:50] lukeromanowicz commented on #2447
Great move. This will definitely help us deliver stable software. I'd keep the naming as @patzick proposed, as it is more informative and widely used comparing to introducing a unique naming system. It also allows us to publish a couple RCs before final release.

[2019-02-17 22:58] filrak commented on #2447
I[m not tied at all to the naming system - @patzick proposition seems much better and was used by us previously so seems more natural

[2019-02-17 23:38] Igloczek commented on #2447
It's not enough to just give 👍, so I need to drop a comment that I like it.

I also vote to use the npm compatible versioning, so the one proposed by @patzick.

Few ideas/questions from my side
1. How to decide when the release is ready?
I think just the strict date is not enough and can lead to releasing something not 100% ready.
What currently comes to my mind is some kind of pre-release checkli

[2019-02-18 06:04] pkarw commented on #2439
Lerna is updating package.json with curent version number when publishing to npm - I believe we should take it from there

[2019-02-18 06:37] patzick commented on #2439
yes, exactly version should be from package.json
also build date is very useful for final testing issues on develop, because there is no version change then

[2019-02-18 07:44] pkarw commented on #2447
Only the positive feedback so far - that's great :)

ad2) I totally agree with You, we should have had pretty much the same standards for https://github.com/DivanteLtd/vue-storefront-api and https://github.com/DivanteLtd/mage2vuestorefront

@filrak and @patzick can You guys set up the Github repositories and PR rules for these projects accordingly?

[2019-02-18 08:09] pkarw commented on #2380
Info from Nosto folks (let me know if You'd like to be connected):

[2019-02-18 08:12] pkarw commented on #307
I @Isimone, I wouldn't say it's production grade. It's not and still lacking some important features - like order synchro. It's a good base for starting the development + then extending the connector, but probably not ready to be used out of the box as it just synchronizes the products.

[2019-02-18 09:19] #2418 closed

[2019-02-18 10:31] gabrielecontitaguali commented on #2290
Hi, I'm encountering the same 500 error in my installation both for shipping information and payment-methods.

In addiction to this then the order can't be placed.
In some forum I read about opcache can cause the issue?

any update from you?

[2019-02-18 12:14] jorkvist opened #2449 "Menu not working from static pages"
## Current behavior
When visitor stands on a static page, ie: https://demo.vuestorefront.io/size-guide
And open the menu. The category three is not shown.

## Expected behavior
The category three should be shown.

## Steps to reproduce the issue
Go to a static page and click the menubar.

## Repository

# Can you handle fixing this bug by yourself?
No

## Environment details
- Browser: Chrome late

[2019-02-18 12:37] pkarw opened #2450 "No price displayed in products added in offline mode"
When product is added in the offline mode there is no price displayed in the Microcart/Product.vue
![36d2e549-c96c-41af-90be-23d2f9c66c2a](https://user-images.githubusercontent.com/211899/52951536-4ea96480-3382-11e9-8a5f-3a02b2449213.png)

[2019-02-18 12:40] pkarw opened #2451 "UI linked in the header: microcart, wishlist, search, sidebar menu should be eagerly loaded"
## Current behavior

When you’re in offline mode and didn’t click the Shopping cart before it’s no way to open it  the same with other options in the header

[2019-02-18 12:54] jorkvist opened #2452 "Links in footer to static pages bug"
## Current behavior
Its a bit hard to test on demo.vuestorefront due to same content on a lot of the static pages. But i see this behavior on my local, when i click on a link in the footer to a static page: As a visitor i see the new page, but if Im already is on a static page, the footer links is not updating anything else then the heading of the page. However, the left menu under the static page

[2019-02-18 12:56] filrak commented on #2452
the truth is we only have one static page and all of them are linking to this one, this is why you don't see any change. Not sure if we should add other pages @pkarw

[2019-02-18 12:57] pkarw commented on #2452
This is the second bug report for the same thing so the answer is: yes we should take care of that once and for all

[2019-02-18 13:15] jorkvist commented on #2452
@filrak yes, but when i have different content it still shows the same page(/loaded content)from the links from the footer when i already standing on a static page. It just updates the {{ page.title }} but not the activeComponent (<component :is="activeComponent" />).

[2019-02-18 15:33] ibugaj commented on #2389
verified

[2019-02-18 17:00] gabrielecontitaguali opened #2453 "api/order return 500 "ch.charCodeAt is not a function""
## Current behavior
When placing an order the order is not placed an notification reports "THE ORDER CAN NOT BE TRANSFERED BECAUSE OF SERVER ERROR. ORDER HAS BEEN QUEUED"

## Expected behavior
Order should be placed and success notification

## Steps to reproduce the issue
-add product to cart
-go to checkout
- fill details
-choose cash on delivery
-submit order

## Repository

# Can you handle fi

[2019-02-18 18:37] gabrielecontitaguali commented on #2452
@jorkvist you can try something like this adding a watch on route change

`import { currentStoreView } from '@vue-storefront/core/lib/multistore'
watch: {
    '$route.name': function () {
      this.activeComponent = this.navigation.find(nav => nav.link === this.$route.path) ? this.navigation.find(nav => nav.link === this.$route.path).component : null
    }
  },`

[2019-02-18 20:06] #2419 closed

[2019-02-19 10:00] filrak commented on #2364
already spoke with @vue-kacper about it. he si gonna take care of this

[2019-02-19 10:06] patzick commented on #2436
This should be done if #2433 will be merged to develop.

[2019-02-19 10:12] pkarw commented on #2436
@rain2o please contact me on peter@vuestorefront.io so I could send you magento demo admin access data

[2019-02-19 12:14] filrak opened #2455 "Remove AsyncDataloader"
## What is the motivation for adding / enhancing this feature?

We should use native serverPrefetch

## What are the acceptance criteria

- ...
- ...

# Can you complete this feature request by yourself?

## Additional information

[2019-02-19 13:02] rebinti commented on #1678
Any idea for the above issue???

[2019-02-19 20:12] ibugaj commented on #2419
Verified and main issue is solved, but there is still problem, when user choose any color on filter, next open any PDP, then back to PLP and choose again **the same** color on filter, then products on page are reload, but color isn't changed for them - user must click again on this color in filter to change it.

[2019-02-19 20:31] ibugaj opened #2458 "adjustment width of box for options in Erin Recommends"
## Current behavior
I suggest to change width of box with word "No" on the same like for "Yes" in section Erin Recommends on Filters.
In me feeling, it isn't look good with this difference, see:
![image](https://user-images.githubusercontent.com/47220013/53044996-cf548780-348c-11e9-9966-a790d3d43141.png)

## Expected behavior
Better look for Erin Recommends section

## Steps to reproduce the issue

[2019-02-19 20:40] DaanKouters commented on #2419
Ah, i see what you mean. But i'm positive this is another issue and not related with this original issue.
But of course i leave this decision to Vue Storefront core team members.

[2019-02-19 20:50] ibugaj opened #2459 "User can add the same email address many times for subscribing"
## Current behavior
User can add the same email address many times for subscribing
## Expected behavior
Notification, that email address has been added to subscribe before (because, I guess, that discount should be allowed only once time for the same address)
## Steps to reproduce the issue
1. Scroll down page to **Subscribe to the newsletter** section
2, Click on Subscribe button
3. On modal fill

[2019-02-19 21:05] ibugaj commented on #2419
So should I open new issue for this?:)

[2019-02-19 21:29] ibugaj opened #2460 "Two the same categories on Search page"
## Current behavior
Two the same categories on Search page (with the same results of searching)

![image](https://user-images.githubusercontent.com/47220013/53048648-85bc6a80-3495-11e9-827c-e756d4107a26.png)

![image](https://user-images.githubusercontent.com/47220013/53048574-5e659d80-3495-11e9-8d90-97c41faaed72.png)

## Expected behavior
There should be difference for names of categories or does

[2019-02-20 07:59] pkarw commented on #2419
@ibugaj do open a new one, please

[2019-02-20 08:41] #2441 closed

[2019-02-20 08:41] #2449 closed

[2019-02-20 08:52] filrak commented on #2459
i guess the mailchimp module is not working anyway @pkarw ?

[2019-02-20 09:04] filrak opened #2462 "Depreciate VS Store pckg"
## What is the motivation for adding / enhancing this feature?

VS Core is gonna be a single package so this should be depreciated to simplify structure and release cycle

[2019-02-20 09:34] pkarw commented on #2459
This behavior was intentional - we should just display some message from Mailchimp in case of re-entry or we can save the state to localStorage probably. This is not the Magento newsletter integration intentionally. I belive it should be saved in localStorage + we should handle the error message from mailchimp and that's all :)

[2019-02-20 11:25] lukeromanowicz opened #2467 "Separate legacy installation guide from standard one"
## What is the motivation for adding/enhancing this feature?
Sounds like many devs don't read the guide carefully enough and follow both legacy and standard steps at the same time. Splitting the guide into two separated ones would help newcomers with the installation process as developers are used to simply copy-paste all there is without much of a reading.

## What are the acceptance criteria
* t

[2019-02-20 13:55] lukeromanowicz opened #2468 "Unified SSR checking way"
## What is the motivation for adding / enhancing this feature?
Currently, we are using multiple ways of checking if the code is running in SSR including:
* `isServer` in  `@vue-storefront/core/helpers`
* `typeof window === 'undefined'`
* `Vue.prototype.$isServer`
* Passing though parameters i.e. in server registration
and possibly others.

I suggest to use `isServer` from `@vue-storefront/core/hel

[2019-02-20 14:01] vue-kacper commented on #2468
I agree

[2019-02-20 14:53] pkarw commented on #2468
Fixed in my PR: https://github.com/DivanteLtd/vue-storefront/pull/2446

I need to change some other minor things and it will be ready the next week

[2019-02-20 18:08] ibugaj opened #2471 "Color of the filtered products doesn't complies with the imposed"
## Current behavior
When user choose any color on filter, next open any PDP, then back to PLP and choose again **the same** color on filter, then products on page are reload, but color isn't changed for them - user must click again on this color in filter to change it.
## Expected behavior
Color of the filtered products complies with the imposed.

## Steps to reproduce the issue
* Go to any catego

[2019-02-20 18:59] ibugaj opened #2472 "Switching from Favorite to PDP on the same type of product doesn't change the product"
## Current behavior
Switching from Favorite to PDP on the same type of product doesn't change the product

## Expected behavior
Clicking on specific product in Favorite should direct on page of this product

## Steps to reproduce the issue
1. Open any PDP
1. Add product to Favorite (click on **Add to favorite**)
1. Change color or size (or a both) of product
1. Open Favorite section and click on p

[2019-02-20 19:10] ibugaj commented on #2472
![switch](https://user-images.githubusercontent.com/47220013/53117569-7dbf0200-354b-11e9-9c09-0d62399d8b19.gif)

[2019-02-20 19:35] ibugaj opened #2473 "Incompatible product description with a picture"
## Current behavior
When user scroll to next pictures then see product in the rest of available colors, but in description there is still name of first color, what can confuse user
## Expected behavior
Product description (color) should be compatible with a picture.
## Steps to reproduce the issue
* Open any PDP
* Click on arrow on main picture to see next picture

## Environment details
https://t

[2019-02-20 19:35] ibugaj commented on #2473
![gallery](https://user-images.githubusercontent.com/47220013/53119134-0ab78a80-354f-11e9-8f45-afe12e9e5c3d.gif)

[2019-02-21 08:26] vue-kacper commented on #2473
I think this is intentional. Photo gallery (carousel) is configurable, so we can choose to combine all photos from different configurable products or to show only color-specific ones per configurable product.

I don't think swiping photos should be responsible for switching configurable options.

[2019-02-21 08:58] filrak opened #2476 "Remove storefront-ui from develop"
## What is the motivation for adding / enhancing this feature?

@patzick  stop adding storefront-ui to develop :d
https://github.com/DivanteLtd/vue-storefront/commit/71ccda87015e436f2afe319a980d776386773623

[2019-02-21 09:58] filrak commented on #2452
already on it

[2019-02-21 09:58] #2462 closed

[2019-02-21 09:59] #2406 closed

[2019-02-21 11:41] patzick commented on #2436
@rain2o did you managed to add these videos?
Please provide products to test before closing it:)

[2019-02-21 11:45] filrak opened #2478 "Remove breadcrumbs store"
## What is the motivation for adding / enhancing this feature?

There should only be a component since product and category have their own breadcrumbs

[2019-02-21 11:56] Decntdefalt opened #2479 "How to seperate products per store view?"
Hi!

Currently I have setup 3 storeview on 1 magento instance. These stores are different niches (like drones, elscooters, fashion etc).

Currently, each store is importing each respective categories and products for those categories.

However, when you search for a specific product belonging to Store A, you will find those products in store B when you search for it.

I have different catalog inde

[2019-02-21 11:59] pkarw commented on #2479
Hi there! Please let us know how are You importing the products - I mean the config? Mage2vuestorefront should set proper storeView and get only the products from that one.

You might also want to test our new indexer: https://github.com/DivanteLtd/magento2-vsbridge-indexer

[2019-02-21 12:44] rain2o commented on #2436
@patzick Not yet. I emailed @pkarw to request the credentials, just waiting for those.

[2019-02-21 12:53] rain2o commented on #2436
Also [mage2vuestorefront#71](https://github.com/DivanteLtd/mage2vuestorefront/issues/71) will need to be implemented in order to import the video data.

[2019-02-21 14:48] ibugaj commented on #2473
OK,sure,  I understand

[2019-02-21 14:50] Decntdefalt commented on #2479
Thanks!

I have been experimenting a bit with it but haven't solved it.

I did install the magento2-vsbridge-indexer for my magento 2.3 but there are some issues that I wasn't aware of, therefore I posted in your repo about how to purge it completely from my magento (which I haven't checked if there's an answer yet due to other work).

Since default store on Magento has ID 1, I set the ID config i

[2019-02-21 15:18] ibugaj opened #2480 "Remake order option in My Orders doesn't work"
## Current behavior
Remake order option in My Orders doesn't work, nothing happens, in Developers console error:

![image](https://user-images.githubusercontent.com/47220013/53179345-d518ad00-35f3-11e9-945f-ab8b1dc87802.png)

## Expected behavior
Clicking on Remake option should works according to assumptions
## Steps to reproduce the issue
1. Be a logged user
2. Have a orders
3. Go to **My Accoun

[2019-02-21 16:39] #2476 closed

[2019-02-22 11:00] rain2o commented on #2436
I have added a video from each source on the Luma Yoga For Life product (http://demo-magento2.vuestorefront.io/luma-yoga-for-life.html & https://demo.vuestorefront.io/p/240-LV09/luma-yoga-for-life). I tried to find sample videos of the products but didn't have a lot of luck so used a VS demo video for YouTube.

The Vimeo one isn't loading when testing on the Luma theme, but I think it's because th

[2019-02-22 12:35] patzick commented on #2473
i agree with @vue-kacper - only directly changed product options should do that

[2019-02-22 12:35] #2473 closed

[2019-02-22 15:41] ibugaj opened #2484 "[Mobile] Refreshing page block continuation of activities on PDP"
## Current behavior
Refreshing page block continuation of activities on PDP - functions don't work (changing size, color, add to favorite)

## Expected behavior
Refreshing page doesn't block continuation of activities on PDP
## Steps to reproduce the issue
1. Open any PDP on mobile
2. Refresh page
3. Try to change color or size, add to favorite, add to cart

## Environment details
https://test.sto

[2019-02-22 20:45] pkarw opened #2486 "Add vs-api endpoint for indexing the products"
## What is the motivation for adding / enhancing this feature?

Currently `vue-storefront-api` is accessing ElasticSearch just in read-only mode. The `src/api/catalog.js` is not accepting any other endpoints than `_search`. This is good approach regarding the security, however with new `magento2-vsbridge-indexer` and `magento1-vsbrdige-indexer` users must connect these modules directly to Elastic

[2019-02-22 20:50] pkarw commented on #2455
I don't agree that we should remove it at all. This is pretty useful module not only for the asyncData replacement.

However - I agree that we should use `serverPrefetch` wherever we can

[2019-02-22 20:51] pkarw commented on #2453
Please do check us with the `vue-storefront-api` console output for these issues

[2019-02-22 20:51] pkarw commented on #2450
@patzick any news on that?

[2019-02-22 20:53] pkarw commented on #2395
@patzick can You check this one as well?

[2019-02-22 20:54] #2285 closed

[2019-02-22 20:54] pkarw commented on #2195
@kovinka is this  still a case?

[2019-02-22 21:43] gabrielecontitaguali commented on #2453
Hi Piotr, we can close this issue. The problem was related to my custom magento 2 payment module.

I could find error in magento/var/report/api folder and once the magento module was fixed the order api started working again.
Strange behavior of vs-api though...

[2019-02-22 21:51] pkarw opened #2487 "Extend modules interface with `afterInitialState`"
## What is the motivation for adding / enhancing this feature?

Currently, there is no way to access the `__INITIAL_STATE__` from the module hooks. Module hooks are executed by `app.ts` - before the `client-entry.ts` runs the `replaceState`. Therefore if there is any logic in the module dependent on __INITIAL_STATE__ You just can't rely on it

Because of that, I've had to put the `url/registerDyna

[2019-02-22 21:52] pkarw commented on #2487
Modules maybe should be just registered after initial state is available - in that case we won't need any additional hook

[2019-02-22 21:52] pkarw commented on #2453
OK, thanks!

[2019-02-22 21:52] #2453 closed

[2019-02-22 22:10] pkarw commented on #2471
I've got the same - the state of filters is kept between PDP and PLP but the filters are not applied properly

[2019-02-22 22:12] pkarw commented on #2458
I think  that we should rather display these type of "Tag-a-like" filters without the line break. The options are text so we never know the width that fits all the options. But keeping them one after another we'll get better looking effect for sure

[2019-02-23 11:18] daksamit opened #2490 "[docs] Missing links for basics/configuration"
## Current behavior
Following links are redirect to 404 under [documentation](https://docs.vuestorefront.io/guide/basics/configuration.html) - 'Configuration file explained'.
1. [catalog](https://github.com/DivanteLtd/vue-storefront/blob/develop/docs/GraphQL%20Action%20Plan.md) - 'GraphQL' section
2. [core/store/lib/multistore.ts](https://github.com/DivanteLtd/vue-storefront/blob/master/core/store

[2019-02-23 12:00] pkarw commented on #2490
Cool! Please go on with the fixes.

Answers:
1. Yes, tax.ts
2. Yes, however it would be great to eventually port these extensions to modules (from 1.6 extensions are deprecated)

[2019-02-23 13:39] daksamit commented on #2490
And, at [documentation](https://docs.vuestorefront.io/guide/basics/configuration.html) what links should be replaced for:
1. 'Please check the core/service-worker/order.js for reference' redirects to [core/service-worker/order.js](https://github.com/DivanteLtd/vue-storefront/tree/master/core/service-worker/order.js) - Orders section
2. GraphQL section - [catalog](https://github.com/DivanteLtd/vue-

[2019-02-23 15:12] mdanilowicz commented on #2486
In my opinion, we should create new microservice that will be a connection interface to ES. Then we will be able to secure connections by IP checking etc.

[2019-02-23 16:31] filrak commented on #2487
Yeah they can be safely registered later

[2019-02-23 16:38] pkarw commented on #2487
Could You then just try to move it for later?

[2019-02-23 19:01] filrak opened #2492 "Migrate to Workbox"
## What is the motivation for adding / enhancing this feature?

During the free time I'll take care of migrating our caching mechanism to Workbox 3. we will cut off some webpack config and make use of newest features

[2019-02-23 19:04] filrak opened #2493 "Prepare docs roadmap"
## What is the motivation for adding / enhancing this feature?

I'll try to take care of some docs related stuff before we will find a tech writer. I guess it's a high time to finally organize everything we got there and create a list of topics and docs that should land inside our docs with proper learning flow erc. I started creating it last week and will try to finish it during my free time befo

[2019-02-23 22:40] pkarw opened #2494 "Add a way to extend server middlewares + access server context from modules"
## What is the motivation for adding / enhancing this feature?

Currently, there is no way to access server context from modules - either add Express middlewares. Therefore sometimes we need to use [ugly workarounds](https://github.com/pkarw/vue-storefront/blob/bbc1a8e89a87c9aebf549def694e634dd97de21f/core/modules/url/router/beforeEach.ts#L58) to do simple things like server-redirect.

The `Vue.pr

[2019-02-24 08:09] #2452 closed

[2019-02-24 08:12] pkarw commented on #2398
@patzick please do close this one if is it ready (I think it is :))

[2019-02-24 08:14] pkarw commented on #2342
@patzick the button works fine but it’s visible when you got back from PDP however none of the filters are applied - that’s misslewding and it’s probably connected with the Iga’s issue about the filters state - seems like we just need to execute an event to run the products query - currently it’s executed with base Filter instead

[2019-02-24 10:49] filrak opened #2495 "[RFC] New documentation table of contents"
## What is the motivation for adding / enhancing this feature?

Our focus on making Vue Storefront even more stable, predictable, easy to learn and developer-oriented should come along with documentation improvements which is a key part of every software project.

Since we are currently lacking a technical writer until we will find him/her I'll commit 1 hour of my time daily to make our documentat

[2019-02-24 12:26] #2490 closed

[2019-02-24 12:36] pkarw commented on #2479
I believe this issue is related to
https://github.com/magento/magento2/issues/8121

[2019-02-24 17:10] pkarw commented on #2435
@patzick this is the issue with filters I’ve mentioned elsewhere

[2019-02-24 19:30] #2342 closed

[2019-02-24 19:33] #1666 closed

[2019-02-25 02:24] Decntdefalt commented on #2479
Many thanks!

[2019-02-25 02:24] #2479 closed

[2019-02-25 05:40] dimasch opened #2496 "state.ts not bind to store index"
## Current behavior
Current state of undefined

## Expected behavior
Using reactive state as expected by getters

## Steps to reproduce the issue
Add to state some variables and try to use it via getters

## Repository
1) https://github.com/DivanteLtd/vue-storefront/blob/4874488049efcc401119f5995af9afe71650d31f/src/modules/module-template/store/index.ts#L8
2) https://github.com/DivanteLtd/vue-stor

[2019-02-25 05:48] dimasch opened #2497 "Not working read graphql query from custom files"
## Current behavior
`query: require('./queries/testentity.gql'),`
read to tockenized object by ES6 standart

## Expected behavior
For graphql need string format for request queries

## Repository
https://github.com/DivanteLtd/vue-storefront/blob/4874488049efcc401119f5995af9afe71650d31f/src/modules/sample-custom-entity-graphql/hooks/afterRegistration.ts#L23

## Additional information
I use workarou

[2019-02-25 07:23] dimasch opened #2498 "Linting before commit"
## What is the motivation for adding / enhancing this feature?
To staging sometimes push `debugger` statement and crush build.

# Can you complete this feature request by yourself?
Use `husky` for example:

package.json
[code]

[2019-02-25 08:52] revlis-x opened #2499 "Getting different CMS blocks on different pages is not working"
## Current behavior
The logic for fetching CMS blocks in `core/modules/cms/store/block/actions.ts` goes straight to cache if at least ONE block is already in it even if the requested block is not in cache resulting in an error. Same thing with CMS Pages.

[code]

## Expected behavior
Only load block from cache, if the requested block is present in cache.

## Steps to reproduce the issue
1. Have 2

[2019-02-25 09:04] filrak commented on #2496
Can you give more details? Where should i use the state? It works for me in theme

[2019-02-25 14:05] kovinka commented on #2195
@pkarw
as for checkout - yes, the "Place order" button still does nothing for 2nd checkout process.
Steps:
- add item, proceed to checkout, choose "Check/money order", place order
- don't reload the page, return to any product, add it to cart, proceed to checkout, don't switch between payment methods (Check/money order should be selected) and try to place order - no action.

as for "error while pl

[2019-02-25 14:11] pkarw commented on #2195
@patzick it would be great to check this before Wednesday

[2019-02-25 15:45] ibugaj commented on #2342
Yes, I confirmed what @pkarw wrote - Clear button is and works, but there is problem with stated filters.
I noticed, that problem is with Colors, not Sizes, because if user choose Size and go on any PDP, then go back on PLP, then products are filtered according with it.

[2019-02-25 15:48] praneethmendu opened #2503 "Cannot place second order"
## Current behavior
On demo.vuestorefront.io the first order goes through as expected but the second "place the order" does not work. The button click has no effect. Playing around with the debugger I saw that the second time "place order" function in afterRegisteration.ts is never called

## Steps to reproduce the issue
we tried on both demo.vuestorefront.com and running the latest master locally

[2019-02-25 16:44] pkarw commented on #2499
@anqaka could You please take a look at this issue?

[2019-02-25 16:59] pkarw commented on #2455
I'm moving this one to waiting list

[2019-02-25 17:01] ibugaj opened #2504 "[Desktop] Number of items on PLP"
## What is the motivation for adding / enhancing this feature?
Will be useful if on PLP will be number of displayed items products

## What are the acceptance criteria
Number of displayed items products on PLP

## Additional information
This feature is on Mobile and I think that it useful for user:
![image](https://user-images.githubusercontent.com/47220013/53354494-2643dc00-3927-11e9-9576-2e5cbbf

[2019-02-25 17:07] #2436 closed

[2019-02-26 06:39] patzick commented on #2195
@kovinka thanks, you're right. #2505 will solve this problem

[2019-02-26 06:44] patzick commented on #2451
@filrak is on it with #2408

[2019-02-26 08:12] pkarw commented on #2407
I see this one as a TS, typed, interface based approach without the event bus involved. Rather hooks like we have with the modules.

In 1.9 current order flow should still work but the new refactored one should become default with all core payment methods refactored to it.

[2019-02-26 08:45] #2437 closed

[2019-02-26 11:15] filrak opened #2506 "Replace rootstore.state.config with just a module"
## What is the motivation for adding / enhancing this feature?

It's not a state per se and this properties don't need to be reactive.

[2019-02-26 11:18] pkarw commented on #2506
Please just remember that we must maintain the backward compatibility as a lot of 3rd party modules and themes are using `rootStore.state.config`

Acceptance criteria:
- `dynamicConfigReaload` is supported -[ more on how it works](https://docs.vuestorefront.io/guide/basics/configuration.html#server)
- config object can be replaced/modified runtime

[2019-02-26 13:16] #2503 closed

[2019-02-26 17:11] ibugaj commented on #2437
Tested - Issue solved. For now even if user try to fill qty manually, then he get notification "_Quantity must be above 0_" - thanks for this solution :)
@patzick It will be good add it also on Cart, because when user open cart and try to change qty manually then there isn't notification "_Quantity must be above 0_" and user can left 0 or for example -2 in qty field (but the price works like for o

[2019-02-26 18:14] patzick commented on #2398
Yes, it is:)

[2019-02-26 18:19] #2195 closed

[2019-02-26 18:42] pkarw commented on #1104
OK; with the new UrlDispatcher we should use queryString instead `?filter=value` ...

[2019-02-26 18:43] patzick commented on #1104
It's a good practice to add search filters as queryParams, not pathParams.
To complete this issue we should use queryString lib to just change filtersObject and parse it.

[2019-02-26 18:45] patzick commented on #1104
yup, exactly @pkarw :)

[2019-02-26 19:01] #2435 closed

[2019-02-26 19:20] filrak opened #2508 "Sidebar menu not working properly on initial visit"
## Current behavior

## Expected behavior

## Steps to reproduce the issue

Enter VSF Home,
Hard refresh
Open Sidebar - there are no categories
## Repository

# Can you handle fixing this bug by yourself?

Yes
## Environment details

- Browser:
- OS:
- Node:

## Additional information

[2019-02-26 19:45] pkarw commented on #2090
Closing this one as it will be solved with https://github.com/DivanteLtd/vue-storefront/issues/1104

[2019-02-26 19:45] #2090 closed

[2019-02-26 19:46] #2409 closed

[2019-02-26 19:56] pkarw commented on #2408
Closed with #2500

[2019-02-26 19:56] #2408 closed

[2019-02-26 19:56] pkarw commented on #2451
Closed by #2500

[2019-02-26 19:56] #2451 closed

[2019-02-27 12:22] ArturDivante commented on #2438
Bug was fixed for step 1. But I am still able to recreate bug for step 2:

Steps to reproduce:
1. Add product to cart and proceed to checkout page
2. Fill first, second and third step.
3. From step 4, click "Edit Shipping"
4. Click "Edit Payment"

Step 2 is grayed and impossible to edit directly.
![step2bugged](https://user-images.githubusercontent.com/47415585/53489921-9c188680-3a92-11e9-86bf-eeb

[2019-02-27 14:50] patzick commented on #2508
Turned out it is not an issue. Closing as not reproducible.

[2019-02-27 14:50] #2508 closed

[2019-02-27 15:46] patzick commented on #2438
im leaving `need confirmation` label, but this should be tested after merging #2511

[2019-02-27 15:54] #2450 closed

[2019-02-27 17:18] pkarw opened #2513 "Refactor how current cart id and current user token are obtained"
## What is the motivation for adding / enhancing this feature?

In many places we're taking this data from `localStorage` - by the same time having it in the `user.state` and `cart.state`. What we should just make sure of is that these information are properly loaded from localStorage first

Example: https://github.com/DivanteLtd/vue-storefront/blob/2328ec8f8942cbdcc6b371120ba0984553a50ee1/core/cl

[2019-02-27 17:25] pkarw opened #2514 "[RFC] Refactor Vuex API calls to separate layer"
## What is the motivation for adding / enhancing this feature?

 It would be great to move out all the network/API communication to separate layer. The goal: make it easier to integrate VS with 3rd party backend. Now it's possible only by exposing the API in our format (https://github.com/DivanteLtd/vue-storefront-integration-boilerplate). We do have a pretty nice mechanism to add abstraction laye

[2019-02-27 17:26] patzick commented on #2438
Merged and deployed - ready for tests

[2019-02-27 17:26] #2438 closed

[2019-02-27 17:27] pkarw commented on #2514
@patzick @lukeromanowicz this is up to discussion - how best can we approach this problem?

We shouldn't have any direct network calls [(fetch/syncTask API) in the Vuex actions - click for example](https://github.com/DivanteLtd/vue-storefront/blob/2328ec8f8942cbdcc6b371120ba0984553a50ee1/core/modules/cart/store/actions.ts#L115) - to keep the platform specifics separated from the ecommerce business

[2019-02-27 18:10] ibugaj commented on #2398
@pkarw @patzick @ArturDivante  I already reproduced this bug on Microsoft Edge HTML 17.17134

[2019-02-28 07:45] lukeromanowicz commented on #2514
Well, in REST we call to a single repository while in GraphQL we're able to retrieve multiple entities at once. Do we plan to do an abstraction layer capable of using them interchangeably? How do we decide which service to use, based on code or configuration?

[2019-02-28 08:11] pkarw commented on #2514
1. I think that in our case we are already using it (take for example product entity which consist of related items, media items, configurable children etc). We shouldn’t change the overal structure of the Vuex calls I believe - keepin the clear separation for: product/category/... operations
2. We should use kind of strategy pattern to chose the proper API connector ARN build time - per entity ty

[2019-02-28 08:40] patzick commented on #2398
@ibugaj @ArturDivante @pkarw
Guys, i'm not sure we should change that in this case. It's the internal Edge behavior that numeric fields don't support spinner controls.
There is an issue for that: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/6762219/ and they are not in hurry to change that, but i think if someone is using Edge, then is used to have numeric fields without sp

[2019-02-28 08:42] pkarw commented on #2398
I think we can ignore this one for now - it's a minor issure related only to Edge

[2019-02-28 08:42] #2398 closed

[2019-02-28 10:58] patzick commented on #2514
Yes, definitely we shouldn't invoke any API calls from components and Vuex actions directly.

I designed that way before and it worked nice:
Component needs data -> awaiting dispatched vuex action (action can resolve something from state, prepare request data etc) -> action invoke API layer -> here is our factory which choose GraphQL/REST/Anything -> goes back to action, which can store something

[2019-02-28 11:34] #2447 closed

[2019-02-28 11:47] lukeromanowicz commented on #2514
@patzick's idea looks cool. I would go one step further and move api.ts out of store directory into separated one. Then we can split requests and interfaces into separated files instead of building one, oversized.

There is still one issue to solve: our GraphQL approach sounds like it will work just like REST. Please, correct me if I'm wrong, but in the current approach, it will call for the same

[2019-02-28 14:08] tniezg opened #2515 "Update shipping methods from back-end after filling shipping details at checkout step #2"
## What is the motivation for adding / enhancing this feature?
Currently, the request to `cart.shippingmethods_endpoint` (defined in VS's config file) depends on `cart.synchronize` and is made before the user has a chance to enter full shipping details. The request contains only `country_id` (ex. 'US') which for some stores may not be enough to determine shipping methods available for the order an

[2019-02-28 14:50] ArturDivante opened #2517 "Quantity numbers are added like strings in offline mode"
## Current behavior
Adding another products result in summing their quantity digits instead of values (see video).

## Expected behavior
Product quantities should be summed correctly in offline mode.

## Steps to reproduce the issue
1. Open https://test.storefrontcloud.io/ and then any category page
2. Turn to offline mode
3. Open product page and add some quantity to cart
4. Open another product

[2019-02-28 21:13] ibugaj commented on #2398
I also think that it doesn't matter, especially that this browser is not so popular;)

[2019-03-01 04:45] dimasch commented on #2496
@filrak For me working after add state to `index.ts`

[code]

Before not working....all from state variables undefined.

[2019-03-01 09:22] pkarw commented on #2484
@patzick is it still a case?

[2019-03-01 09:23] pkarw commented on #2484
Can't reproduce this issue anymore please do verify @ibugaj

[2019-03-01 09:24] #2471 closed

[2019-03-01 09:26] #2010 closed

[2019-03-01 09:27] #1226 closed

[2019-03-01 10:56] lukeromanowicz opened #2518 "E2E tests don't work on modern Chrome"
## Current behavior
404 on all pages due to recent changes in Chrome (https://github.com/cypress-io/cypress/issues/1872)

![image](https://user-images.githubusercontent.com/46789227/53634214-e2e4b880-3c19-11e9-98b2-313edd85dfb8.png)

## Expected behavior
Tests are being executed properly

## Steps to reproduce the issue
Run e2e tests via `yarn test:e2e`

# Can you handle fixing this bug by yoursel

[2019-03-01 12:37] Cyclonecode opened #2521 "Add Support to run tests in docker"
## What is the motivation for adding / enhancing this feature?
The docker container does not include the needed dependencies for cypress. So, no tests can be run at this point.

## What are the acceptance criteria
- When we can use cypress to run tests in the docker container.

# Can you complete this feature request by yourself?
Yes

## Additional information
I think switching to `jessie` instead

[2019-03-01 12:46] ArturDivante commented on #2517
**Important update!** - I just noticed, that problem in some way occurs also in online mode.

1. Adding 2nd product (with any quantity) to the cart briefly results in displaying incorrect number on the cart icon - but it gets recalculated correctly within a second
2. If we quickly click "add to cart" button few times, incorrectly high quantities might really be added to cart. Example:
We set quant

[2019-03-01 14:03] lukeromanowicz opened #2522 "[RFC] Cart Revamp"
Feature Name: Cart Revamp
Start Date: 2019-03-01
RFC PR: -

# Summary:

Rewrite Cart to meet modern standards and good practices while keeping the backward compatibility.
With this module revamp we'd like to implement also some architectural and coding standards changes to keep the project feature-reach, tough flexible and easy to analyze.

# Motivation

Because of the fast growth of Vue Storefron

[2019-03-01 15:50] pkarw commented on #2522
I'm OK with this plan as we discussed it before :)

[2019-03-01 17:40] ibugaj commented on #2484
@pkarw I still have this issue on my mobile. I use Chrome 72.0.3626.76 on Android 7.0

[2019-03-01 17:45] ibugaj commented on #2471
Verified fix

[2019-03-01 18:35] pkarw commented on #2484
@ibugaj can you clear storage on this mobile device and try once more?
@patzick can you check this one?

[2019-03-01 18:47] ibugaj commented on #2484
Yes @pkarw , I started from clear storage, but I have a little problem with this - it still keeps on waiting..:
![image](https://user-images.githubusercontent.com/47220013/53658980-8f468f00-3c5a-11e9-90aa-11498ad96dc3.png)
So I cleared history manually only.
But earlier I checked this issue also on another phone and there also issue was

[2019-03-01 19:14] ibugaj opened #2523 "Refreshing page causes that images blinking for moment on other ones"
## Current behavior
Refreshing page causes that images blinking for moment on other ones

## Expected behavior
Images shouldn't blinking on other when user refresh page
## Steps to reproduce the issue
1. Open any category of products
2. Refresh page

## Environment details
https://test.storefrontcloud.io

[2019-03-01 19:14] ibugaj commented on #2523
![blinking](https://user-images.githubusercontent.com/47220013/53660627-996a8c80-3c5e-11e9-98b3-2d4b0a5e8481.gif)

[2019-03-01 19:44] pkarw commented on #2523
Looks like CSR product/list returns different products or just in different order. BUT: when products has been queried in the SSR there should be no additional cal CSR

We must check it to make sure about the reason of this strange vehavior

[2019-03-01 19:47] pkarw commented on #2523
By some reason the CSR query is being executed: https://www.dropbox.com/s/pof6h2gtamzoy64/Screenshot%202019-03-01%2020.47.20.png?dl=0

[2019-03-01 19:48] pkarw commented on #2523
This issue doesn't exist in the 1.8.0 (on demo)

[2019-03-01 19:58] pkarw commented on #2523
Moreover, it's executed twice in the CSR by some reason :https://www.dropbox.com/s/ltdc1307ec0n6yr/Screenshot%202019-03-01%2020.57.57.png?dl=0

[2019-03-01 20:02] pkarw commented on #2523
This is related to `resetAllFilters` - https://www.dropbox.com/s/kag04gunonzdqvi/Screenshot%202019-03-01%2021.02.18.png?dl=0

[2019-03-01 20:08] pkarw commented on #2523
@patzick  -> I belive that You should add the `if (this.hasActiveFilters) {` condition to `resetAllFilters` - because after SSR there are no active filters (this is only true before we merge in https://github.com/DivanteLtd/vue-storefront/pull/2180 - but I think that with #2180 `resetAllFilters` no longer will be needed)

Please do test it and fix if this is good idea

[2019-03-01 20:24] pkarw commented on #2523
There is still some issue with switching categories; when You set the filter and choose different category filters are not reset (which is probably OK as there is no `mounted()` hook called in this case) - however, on the demo instance - the filters have been reset

[2019-03-01 20:25] filrak commented on #2514
i agree with both @patzick and @lukeromanowicz. Also with moving the API calls to separate folder. As we discussed would be nice to have these adapters in one place and have this mapper as a param of invoked function or sth

[2019-03-01 20:51] pkarw commented on #2514
+1 for separated, centralized folder for the API - we should make it easy to publish another API, not something that will be dispearsed across modules. So we should have something like:
[code]

[2019-03-02 10:30] #1792 closed

[2019-03-02 10:39] pkarw opened #2525 "[RFC] Replace asyncData with serverPrefetch"
## What is the motivation for adding / enhancing this feature?

We should replace `asyncData` with [`serverPrefetch`](https://ssr.vuejs.org/api/#serverprefetch) in the `core/pages`

This is probably not urgent as `serverPrefetch`  it's just "asyncData on steroids". However, it probably allows us to simplify and refactor [`Product.js:asyncData`]() and [`Category:asyncData`](https://github.com/Divan

[2019-03-02 10:40] pkarw commented on #2525
This task should be done after #2446 merged in, not earlier - to avoid conflicts

[2019-03-02 10:48] #2518 closed

[2019-03-02 11:03] #2480 closed

[2019-03-02 11:12] #2517 closed

[2019-03-02 11:13] pkarw commented on #2515
Related to: #2514

[2019-03-02 11:16] pkarw commented on #2496
Thanks!

[2019-03-02 11:19] #2496 closed

[2019-03-02 11:28] pkarw commented on #2497
@yuriboyko can You please help us in here? :)

[2019-03-02 11:29] #1699 closed

[2019-03-02 12:57] filrak commented on #2522
Looks awesome and It's a really good plan! Please start first with an abstract overview of how every action should look like before doing actual implementation. We should also keep c  ;)

I don't agree with two points though:

Right now it's not DX friendly due to massive number of mutations happening on every action therefore Logger is more useful right now. I really like the examples from the ar

[2019-03-02 13:12] filrak commented on #2525
Also in this case we should get rid of things like `preAsyncData` and multiple `asyncData` invocations for core/theme components modifying each other. Imho we should seek for a more elegant solution to modify asyncData calls.

[2019-03-02 13:50] filrak commented on #2514
Generally it would be awesome to have this possibility to call any api and just pass a mapper that will change it's data format to the one accepted by VS. It would be great tool for integrations PoC's that doesn't need ES layer or generally for stuff that doesn't require es layer. It will be much more DX firendly if the mapper/adapter will be a typed functions that must return certain data format.

[2019-03-02 13:56] pkarw commented on #2514
I don’t see much value in separated mappers. I mean BgiCommerceApiAdapter (keeping to example I’ve proposed) should do the mapping returning Product, Carg and other VS interface compatible entities. This adapter itself would call BigCommerce rest or graphql api.

[2019-03-02 13:57] pkarw commented on #2514
I think it’s not moving the vsapi logic - as vs doesn’t contain much logic at all :) i mean - mapping isn’t business logic. It’s ok to have it in VS - having defacto more optimal architecture (without server side middleware).

If somebody want then can use the Backend For Frontends pattern building kind of more optimized vsapi / whatever and still use this switchable api adapter in the front end t

[2019-03-02 14:10] pkarw commented on #2514
By the way - some time ago I started (and haven't had time to continue the works so far) the `vue-storefront-simple-api` - memory based, simplest possible API to show how to integrate 3rd party systems:
https://github.com/DivanteLtd/vue-storefront-simple-api

I've also added a custom `searchAdapter` for this API to show how to avoid the need of using ElasticSearch:  https://github.com/pkarw/vue-st

[2019-03-03 09:34] #1372 closed

[2019-03-03 09:58] #2523 closed

[2019-03-03 12:07] #2493 closed

[2019-03-03 12:28] patzick commented on #2458
with this issue there are there are two more UI improvements to test:

1. To large quantity input on mobile view
![image](https://user-images.githubusercontent.com/13100280/53695137-178e7680-3db8-11e9-86e8-8232d35382ad.png)

2. bad margin on product tile with smaller resolutions
![image](https://user-images.githubusercontent.com/13100280/53695134-0ba2b480-3db8-11e9-9fbd-a9eaadf556b4.png)

this is

[2019-03-03 13:15] #2458 closed

[2019-03-03 22:35] bonfinnk commented on #1437
IE11 is still not working.

[2019-03-04 08:40] yuriboyko commented on #2497
@pkarw
will try to check but probably tomorrow, have urgent task now

[2019-03-04 10:20] patzick commented on #2096
It has been fixed with #2481

[2019-03-04 10:20] #2096 closed

[2019-03-04 10:25] patzick commented on #2388
Everything is merged. @rain2o can we somehow see it on test?

[2019-03-04 10:25] #2388 closed

[2019-03-04 10:39] ArturDivante commented on #2484
I just investigated this issue and I can confirm - the problem exists.

As far as I could check, it occurs only on **Chrome / Android** environment. Tested on many combinations, both in real devices and browserstack.

Other browsers, as well as Chrome working on iOS seem to be unaffected.

[2019-03-04 10:44] rain2o commented on #2388
@patzick I have added the videos to the Magento instance, so once a data pump is performed with the merged update then the videos should show up on the Luma Yoga 4 Life products (https://demo.vuestorefront.io/p/240-LV09/luma-yoga-for-life).

[2019-03-04 11:14] janmyszkier opened #2538 "[docs] remove theme-starter references"
on https://docs.vuestorefront.io/guide/core-themes/themes.html there are still refrences to theme-starter that was removed in 1.6.0.
Either reintroduce the starter or change to docs to copy the default theme instead.

[2019-03-04 12:51] jorkvist opened #2540 "No such entity with CartID = X"
## Current behavior
When a cart is existing in Vue storefront but not in Magento. The application throws an error. It happens for me fx when a customer completes a purchase (with the checkout hosted in magento) and then goes back to Vue Storefront.
![screenshot_20190225-192300](https://user-images.githubusercontent.com/5425824/53734381-1d518e00-3e84-11e9-8d3f-82c0cc1adac8.jpg)
![screenshot_2019022

[2019-03-04 13:09] patzick opened #2541 "Remove security vulnerabilities"
Run `yarn audit` and remove security vulnerabilities for next release.

[2019-03-04 14:20] daksamit opened #2542 "yarn tests:unit - invalid config file"
## Current behavior
![image](https://user-images.githubusercontent.com/7165997/53738786-6ad3f800-3e90-11e9-866b-fc1f696f782a.png)

## Expected behavior
Unit tests should work,
configuration file should be adjust to typescript.

## Steps to reproduce the issue
Just type `yarn tests:unit`

## Repository
https://github.com/DivanteLtd/vue-storefront

# Can you handle fixing this bug by yourself?
NO

#

[2019-03-04 15:32] ArturDivante opened #2543 "Incomplete category load for offline mode"
## Current behavior
Category seem to be loaded, but trying to open some specific product pages result in error

## Expected behavior
If category is loaded, then all product pages should open correctly.

## Steps to reproduce the issue
1. Open https://test.storefrontcloud.io/
2. Go to Women or Men category page - **do not scroll it down**
3. Turn to offline mode
4. Try to open product pages

![cate

[2019-03-04 16:51] ibugaj opened #2544 "Thumbnail images of products in View order"
## What is the motivation for adding / enhancing this feature?
Clear view of preview for my orders

## What are the acceptance criteria
For logged users, in My Orders tab, view order could show thumbnail images of product - it will be more clear for user, what he has added

## Additional information
New column for thumbnail in table

![image](https://user-images.githubusercontent.com/47220013/5374

[2019-03-04 17:00] ibugaj opened #2545 "Wrong working of Remake order- improperly count on products in Cart"
## Current behavior
Wrong working of Remake order. Sometimes there is nothing happens after click on it, another time there is red nitification in aplication and error 500 in developer console (I attached screenshot):
![image](https://user-images.githubusercontent.com/47220013/53749010-c0b39a80-3ea6-11e9-9a08-9be24d6767ca.png)
and also sometimes it get green notification about added to cart, but i

[2019-03-04 17:02] ibugaj commented on #2545
![count](https://user-images.githubusercontent.com/47220013/53749366-839bd800-3ea7-11e9-891f-6dc9baf16f44.gif)
 see on FINAL count in Cart

[2019-03-04 17:04] ibugaj commented on #2480
I verified this on Demo, and Remake order option works, but I found another issue. I reported it in https://github.com/DivanteLtd/vue-storefront/issues/2545

[2019-03-05 09:21] haukebri opened #2546 "Documentation theme core components explained wrong"
## Current behavior
The current explanation on https://docs.vuestorefront.io/guide/core-themes/core-components.html states, that core components are for business logic only and should be imported as mixins. But that is not the case for the current default theme. There core components are regular components with a template and style.

## Expected behavior
The doc should mirror the logic used within

[2019-03-05 13:06] #2184 closed

[2019-03-05 13:08] Decntdefalt commented on #2382
Any updates on this? Waiting like it's Christmas here!

[2019-03-05 13:20] anders03 commented on #841
This would be a much-appreciated function for us marketing people. Would be very exciting to see GTM working on Vue-storefront

[2019-03-05 13:22] patzick commented on #2060
Thanks @JKrupinski ! :)

[2019-03-05 13:22] #2060 closed

[2019-03-05 13:23] gabwik commented on #2382
It is going well. Hope it will be a beta in the end of the week.

[2019-03-05 13:55] #2439 closed

[2019-03-05 13:57] #2468 closed

[2019-03-06 00:17] juliankoehn commented on #2313
Are you on a local installation? Did you set the Reviews api path within your local config?

[2019-03-06 04:09] juliankoehn commented on #697
https://github.com/juliankoehn/vsf-contentful
Should add a route Watcher validateRoute ()

https://github.com/juliankoehn/vsf-contentful-api

[2019-03-06 08:48] BartoszLiburski opened #2549 "Multiple browser tab mutation sharing"
We don't have any mutation sharing system, so add to card, logout, add to wishlist etc. wont appear on every tab (if more than one opened).
My idea is to add some hook like afretRegistration and fire up storeDispatch like here: https://github.com/DivanteLtd/vue-storefront/pull/2547

Other option is to use: https://www.npmjs.com/package/vuex-shared-mutations

[2019-03-06 09:09] cnviradiya opened #2550 "Fixed Default property issue for the col-xs-* CSS classes"
## Current behavior
As I seen there are misbehaviour with the default theme col-xs-* classes due to missing default property.

## Expected behavior
Ex. **Registration Popup**
http://www.screencast.com/t/V2V3ilebw

## Steps to reproduce the issue
Ex. **Registration Popup**
http://www.screencast.com/t/7Gmvp95UjhB

## Repository

# Can you handle fixing this bug by yourself?
Yes

## Environment detai

[2019-03-06 09:59] patzick commented on #2549
My question is - is it only about mutations sharing?
As i understood initiative was that that items added to cart in first tab was not visible on second tab. Then yes - shared mutation solves that issue.
But we have many mutations, even opening side menu, show overlay or set current category. Sharing mutations could cause unexpected behaviours on other tabs, really hard to debug also.

But i would

[2019-03-06 10:40] cnviradiya commented on #2460
@ibugaj I also noticed this but as I debug this issue there are two categories exists in Magento sample data that's why Here you can see two times same category. Due to same product in two same name categories.
Look at below screenshots for better understanding.

![screenshot-demo-magento2 vuestorefront io-2019 03 06-16-07-47](https://user-images.githubusercontent.com/9442993/53875311-41e76a80-402

[2019-03-06 15:50] lukeromanowicz commented on #2514
Having easy to use abstraction over GraphQL and REST interchangeably would be very handy but using them simultaneously would use additional resources which is contrary to the goal of keeping the frontend lightweight. That's why I think we should go for separated strategies for both ways of exchanging data with backends.

My idea is to create API modules which will implement global actions for fetc

[2019-03-06 17:53] pkarw commented on #2514
We've already discussed it so I'm in :)

[2019-03-06 18:06] JKrupinski commented on #2060
You're welcome :)

[2019-03-07 09:19] lukeromanowicz opened #2556 "New Collection not aligned with the rest of the content"
## Current behavior
The button responsible for opening and closing menu is not aligned with New Collection section in desktop view:
![image](https://user-images.githubusercontent.com/46789227/53945632-4fe8ca00-40c2-11e9-967d-988129b9da9c.png)

## Expected behavior
New Collection section is aligned with menu hamburger and the rest of the page

## Steps to reproduce the issue
Open homepage in deskto

[2019-03-07 09:49] lukeromanowicz commented on #2305
Unit Tests based on Jest have been merged to develop and will be published in VS 1.9. All old karma tests have been removed.

[2019-03-07 09:49] #2305 closed

[2019-03-07 09:51] filrak opened #2558 "Newsletter feature not working at all"
Test
- profile
- indiv components
- api

[2019-03-07 09:52] lukeromanowicz commented on #2542
Jest based unit tests proposed in #2305 have been merged yesterday and will be published in VS 1.9. For now, you can check them out on develop branch.

https://github.com/DivanteLtd/vue-storefront/pull/2414

[2019-03-07 09:52] #2542 closed

[2019-03-07 09:55] filrak opened #2559 "My orders in my profile not refreshed after putting an order"
## Current behavior
After order is placed as a user when we navigate to My profile -> My orders order is not visible
## Expected behavior
It should be displayed right after placing
## Steps to reproduce the issue
1. Place the order as logged in user
2. Go to my orders section of profile
3. Order is not visible
4. It's visible after refresh

## Repository

# Can you handle fixing this bug by yourse

[2019-03-07 10:09] filrak opened #2560 "Remake order is not remaking the order - misleading behavior"
Currently the 'Remake Order' button in profile is only adding the same products to the cart. It's misleading. At bare minimum it should also redirect to checkout.

[2019-03-07 10:19] filrak opened #2561 "Search component not showing results if the're < 3 letters"
## Current behavior
Search component is showing 'No results found' if we type less than 3 letters.

## Expected behavior
Since it's just a minimum number of letters to show results we shouldn't give any information about them. Only validation.

## Steps to reproduce the issue
1. Go to the search component
2. Type < 3 letters
3. 'No results found' should appear

[2019-03-07 10:24] michhy opened #2562 "Restock notification function"
Hello,

Love vue storefront a lot and learning how to build my own theme for plugging vs to my magento system.

Would like to know if magento's 'Restock notification' function will be activated in vs later too?

Thanks a lot!

[2019-03-07 10:27] michhy opened #2563 "Calling custom attribute outside product.vue"
Hello

Apart from product.vue, can I call custom attribute data from other pages like product tile, microcart and checkout page too?

I have an attribute called 'subtitle' and would it to show on other pages under each product too.

Thanks in advance! :)

[2019-03-07 10:39] sadaf652 commented on #2222
having same issue

[2019-03-07 12:46] #2541 closed

[2019-03-07 14:30] ArturDivante opened #2567 "500 error during Payment Request API order"
## Related issue

#2184

## Current behavior
Order is placed, but with few 500 errors in console (see screenshots)

## Expected behavior
No errors during order placement

## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io/
2. Add any product to cart
3. Click "Instant Checkout"
4. Fill all required fields and click "Pay"

![prapi 500 1](https://user-images.githubusercontent.co

[2019-03-07 15:50] janmyszkier commented on #2538
@filrak can you let me know which one you prefer to do? if that's just a doc update I can do this.

[2019-03-07 16:00] ArturDivante opened #2569 "Category page 'crashes' after scrolling down in offline mode."
## Current behavior
After scrolling down (in offline mode), category page becomes empty despite being previously loaded, and error message is displayed (see the screenshot)

## Expected behavior
Category should be fully loaded
OR
Patrial load shouldn't cause problems

## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io/
2. Open Women (or men) category page
3. Turn to offline m

[2019-03-08 03:37] hoaeuro93 opened #2572 ""Unable to preventDefault inside passive event listener invocation." Product gallery when enabling drag"
"Unable to preventDefault inside passive event listener invocation." Product gallery when enabling drag

[2019-03-08 09:58] RGijsberts commented on #2556
I believe the hamburger menu icon is aligned correctly. It aligns with the New Collection section and the Get Inspired section on the Demo homepage. I also tested this with other elements on other pages and it seems to be aligned correctly.

The issue seems to be related to the Offers section on the demo homepage. This section is not aligned correctly, see the screenshot I added.

![screenshot 201

[2019-03-08 10:17] filrak commented on #2572
We have passive listeners enabled to improve scrolling performance. You can easly get rid of this behaviour by removing this line in `index.js` file fo your theme`

[code]

[2019-03-08 10:18] #2572 closed

[2019-03-08 10:44] awierzbiak commented on #2556
Working on it.

[2019-03-08 10:47] lukeromanowicz commented on #2556
@RGijsberts absolutely, I've updated the issue description

[2019-03-08 11:30] ArturDivante opened #2573 "Problems with product pictures in offline mode (PLP and PDP)"
## Current behavior
- After step 4: Product image blinks and disapears, if this product wasnt pre-loaded before going offline
- After step 5: all pictures on PLP are replaced with the picture from last opened PDP.

## Expected behavior
Pictures are displayed correctly in offline mode

## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io/
2. Open women category
3. Turn to offlin

[2019-03-08 12:22] awierzbiak commented on #2504
Working on it.

[2019-03-09 00:00] juliankoehn opened #2576 "Forgot Password Confirmation Page"
How do you handle the 'forgot password' confirmation Page?

(Magento)
eq: /customer/account/createpassword/

Is there any implementation?

In VSF Demo you are directed to:
http://demo-magento2.vuestorefront.io/customer/account/createPassword/?id=6922&token=cfa07fe5323386719256d5f829dc199f

[2019-03-09 04:57] pkarw opened #2577 "Add category.product_count to magento*-vsbridge-indexer"
## What is the motivation for adding / enhancing this feature?

Well I believe we should add it as VS is using a combined condition on these both fields: https://github.com/DivanteLtd/vue-storefront/blob/84993c719af720042f44bb492f4374527623c003/src/themes/default/components/core/blocks/SidebarMenu/SidebarMenu.vue - checking if product_count > 0 or children_count > 0 so it won’t display the categor

[2019-03-09 11:51] michhy commented on #2563
Found out the way! Silly me.
Just import from local.json by adding specific custom attribute name e.g. subtitle in the productlist section, and call in certain page by {{ product.subtitle }}, that simple!

[2019-03-09 17:12] michhy opened #2578 "Cannot submit order with any Chinese Character in both product name or customer billing information"
## Current behavior
If any Traditional Chinese chacracter (UTF-8) appeared on product name / or customer billing information, VS cannot communicate with magento API. It suceeded to send out order once I remove all Chinese Characters in both product name or billing information.

(I have tried in my own local system and your demo, same thing happened.
I tried to submit order in magento' own frontend

[2019-03-10 21:44] Decntdefalt opened #2579 "Custom color swatch"
Hex color swatches are nicely showing up. But not sure why custom swatches by uploaded images are not.

How to make custom swatches appear?

<img width="569" alt="Screen Shot 2019-03-11 at 05 40 22" src="https://user-images.githubusercontent.com/41927878/54091884-56c45500-43c0-11e9-960e-b7fe6f3fcc08.png">

Thanks!

[2019-03-11 07:29] filrak commented on #2576
Seems like a good idea for a feature request in next release. Can you please make an issue with this?

[2019-03-11 07:59] pkarw commented on #2562
@filrak it will be hard for me to take it (due to time constraints) I'll leave it unassigned maybe somebody can take care sooner

[2019-03-11 07:59] pkarw commented on #2562
@michhy this feature isn't yet planned on our roadmap, would be great if someone could take care of it

[2019-03-11 08:15] pkarw commented on #2578
This is probably wrong json schema defined for order entity

[2019-03-11 08:26] michhy commented on #2562
thank you piotr, just a nice to have function only :)

[2019-03-11 08:27] #2563 closed

[2019-03-11 08:52] ArturDivante opened #2580 "Wishlist and compare list are not cached properly"
## Current behavior
After refreshing pare or restarting browser, wishlist and compare list are empty

## Expected behavior
Content of wishlist and compare list should be cached and still available after refresh or browser restart

## Steps to reproduce the issue
1. Open http://test.storefrontcloud.io
2. Add any product to wishlist and compare list
3. Refresh page (F5)

## Repository
http://test.st

[2019-03-11 10:40] awierzbiak commented on #2544
Working on it.

[2019-03-11 15:57] anqaka commented on #2499
I'll try to fix it this week, sorry for delay.

[2019-03-11 20:44] ghost opened #2581 "Colors and custom options not working together"
I've installed VSF 1.9 around 4 times with the following environment:

Elasticsearch 5.6.0
NodeJS 8.0.0 / 10.9.0 (Currently 10.9.0)
Redis 5.03
Yarn 1.13.0
NPM 6.2.0
Magento 2.3

Everything works great. The problem is when enabling custom options for a Magento product, the colors will disappear.

<img width="1155" alt="Screen Shot 2019-03-12 at 04 30 22" src="https://user-images.githubusercontent.c

[2019-03-12 05:47] Decntdefalt commented on #2581
My apologies, issue with the theme I've developed.. I did a fresh install without my theme to confirm this.

[2019-03-12 06:36] pkarw commented on #2581
This is probably due to some SSR related issue (with one of the components). Did You create a theme with some previous version of VS (lets' say 1.7) and did an upgrade?
Can You check if in the dev console there are any other issues (development mode, not production)?

@patzick

[2019-03-12 06:41] pkarw commented on #2577
@afirlejczyk I've assigned this one to You :)

[2019-03-12 06:43] pkarw commented on #2579
Unfortunately, we can't easily get the color swatches from Magento using API; We can possibly do this with https://github.com/DivanteLtd/magento2-vsbridge-indexer @afirlejczyk can You please take a look at this and propose some solution? I mean: we should probably put the swatches into attribute metadata and use it in VS frontend (currently we're just mapping the attribute label not using any othe

[2019-03-12 06:49] revlis-x commented on #2581
Afaik Custom Options are currently not supported on Configurable Products (which is a pity). I opened the same issue #2141  a while ago.

[2019-03-12 10:39] 0dp opened #2583 "storefront installer seems to halt"
Hi there,
I am trying to install vue-storefront but experience this error

## Environment details

- Browser: N/a
- OS: MacOS 10.14.3
- Node: v11.9.0

## Current behavior
[code]

install.log
[code]

Is it timing out?

Since vue-storefront want node version <11.x I tried to downgrade via brew. That does not seem to change the scenario.

## Environment details Updated

- Browser: N/a
- OS: MacOS 10.

[2019-03-12 12:27] ArturDivante opened #2584 "Confusing / overcomplicated calculations in cart"
## Current behavior
Few diffrent numbers / prices are presented to customer - they seem to be unrelated to each other

## Expected behavior
Prices are displayed in simple and understandable way

## Steps to reproduce the issue
1. Open https://demo.storefrontcloud.io/ or https://test.storefrontcloud.io/
2. Add any product to cart
3. Open cart

![total](https://user-images.githubusercontent.com/4741

[2019-03-12 17:01] filrak commented on #2583
Please full the issue template at least with your env details otherwise we can't help you

[2019-03-12 17:29] 0dp commented on #2583
@filrak apologies,
I didn't think it would fit either a bug or FR.
I've updated OP with env details

[2019-03-13 09:55] 0dp commented on #2583
I've added some more info related to downgrading node via homebrew

[2019-03-13 10:36] patzick commented on #2504
Thanks @awierzbiak ! :)

[2019-03-13 10:36] #2504 closed

[2019-03-13 11:30] ArturDivante opened #2587 "Add 'Clear cart' button"
## What is the motivation for adding / enhancing this feature?
Currently, customer can remove products from the cart, one at a time. Thats enough if he has one or two products he wants  to remove.  However, if he has many more, and completely changes his mind about products he wants to buy, whole process takes significantly long time, especially when "remove from cart" button is kinda small, and e

[2019-03-13 12:04] ArturDivante opened #2588 "Add hyperlink from cart to product page"
## What is the motivation for adding / enhancing this feature?
Scenario:
User already did some shoppping, have some products added to his cart. Just before checkout he realized, he picked wrong size (or color) for one of the products.

Currently, user has no way to quicky fix that. He needs to:
- Browse trough all the categories, navigating to the same product page.
- Pick correct size, color etc.

[2019-03-13 16:20] pkarw commented on #2514
Additional insight: https://github.com/vendure-ecommerce/deity-falcon-vendure-api/tree/master/src

Falcon API mapper - https://github.com/vendure-ecommerce/deity-falcon-vendure-api/blob/58211f8a12abd2ba08c5f1dffe1abc29f135bf3d/src/index.ts#L231

So basically the same approach described in here

[2019-03-13 20:54] patzick commented on #2550
Thank you @cnviradiya!

[2019-03-13 20:54] #2550 closed

[2019-03-14 08:25] pkarw opened #2592 "Cart token is not refreshed even when invalid"
## Current behavior

![Screenshot 2019-03-14 09 17 10](https://user-images.githubusercontent.com/211899/54341534-58994d00-463a-11e9-9428-8819a76f3e92.png)

There are some certain situation where the current shopping cart (stored in the localStorage `shop/carts/current-cart-token`) is no longer valid. For example, the quote has been closed server side.

In this case the `shipping-methods` and `paym

[2019-03-14 08:26] pkarw commented on #2592
Moreover we need to fix `cart/actions.ts:411` to better handle the issue (as on screenshot)

[2019-03-14 10:40] pkarw opened #2593 "Payment.vue issue when no address set"
## Current behavior

![Screenshot 2019-03-14 09 30 31](https://user-images.githubusercontent.com/211899/54350519-cbf88a00-464d-11e9-8190-0cc53aaddb43.png)

## Expected behavior

No error.

## Steps to reproduce the issue

I've logged in as a user who has no address assigned; then added the product to cart and "Go To Checkout". Then this error appeared.

[2019-03-14 13:56] ArturDivante commented on #2313
There is still a problem with review form. Tried to add it for many diffrent products, on all instances (demo, next, test). List of example tested products SKU is below, but so far fail rate is at 100% :)

WS01-XS-BLACK
MT10-XS-YELLOW
WS08-XL-RED
24-WG080
24-MG01

Tried as logged in user and logged out
Tried on desktop (Chrome, Edge, Firefox) and mobile (android chrome, iOS Safari)

Couldn't send

[2019-03-14 14:07] #2313 closed

[2019-03-14 14:08] ArturDivante opened #2594 "Error CONNECTION_REFUSED on attempt to add review"
There is still a problem with review form

## Related issue
#2313

## Current behavior
Error messag appears on the front and in console

## Expected behavior
Review is correctly added

![review error1](https://user-images.githubusercontent.com/47415585/54363135-9910bf00-466a-11e9-8774-8fee5992993e.PNG)
![review error2](https://user-images.githubusercontent.com/47415585/54363136-9910bf00-466a-11e9-

[2019-03-14 14:09] pkarw commented on #2594
By some reason the wrong URL is set for reviews_endpoint

[2019-03-14 17:41] lukeromanowicz commented on #2514
@pkarw @patzick @filrak
I've done a little bit of codding and came up with the following results:

https://github.com/lukeromanowicz/vue-storefront/commit/a5a0cea52250d5bb731bfeb891e48f2e17a2b247

One of the cart's API requests, responsible for pulling cart data from a backend, has been extracted to separate `api-vue-storefront` module that is going to handle all core API requests.
I've added an e

[2019-03-15 08:51] cewald commented on #2222
I'm using the docker image for the API.
I noticed that the Redis isn't reachable from the API app container (as you see in the error message).
When I connect to it and try to connect to _localhost:6379_ with `redis-cli -h localhost` it wont work.

If I use the host from the `docker-compose.yml` file called _"redis"_ (the name of the docker-compose service), it works. So, the default values of the

[2019-03-15 12:50] thomasthune opened #2595 ""multisiteCommonCart": true has no effect."
## Current behavior
Setting "multisiteCommonCart": true, has no effect

## Expected behavior
Setting "multisiteCommonCart": true, should force the user to have different carts on the different stores respectively

## Steps to reproduce the issue
Setup multistore environment with:
"multisiteCommonCart": true

Visit each store, observe localStorage in devtools, only "default" non-prefixed cart stora

[2019-03-15 13:08] pkarw commented on #2514
We've just discussed this with @lukeromanowicz on Slack. We should aim at the final solution - we've got just one and only chance to refactor this right way. So We decided we should go with the separated API layer, not based on Vuex. Strongly typed, registered from the Module Registration

[2019-03-15 13:29] lukeromanowicz opened #2596 "Codacy code quality scan"
## What is the motivation for adding/enhancing this feature?
Improving the project code quality and prevent regression over time

## What are the acceptance criteria
* codacy scan added to PR checks
* codacy status in README.md

# Can you complete this feature request by yourself?
No, I believe the Repo Owner should take care of this one.

## Additional information
There are ~180 issues that shoul

[2019-03-15 17:10] afirlejczyk opened #2598 "Seo friendly urls - bugs"
## Current behavior

1. If I disable seo URL I have different category link in the menu and in breadcrumbs.
In breadcrumbs, I have the correct link with 'c' prefix
In menu I don't have it "c" prefix -> URL is still generated base on 'full_path'

2. If I go directly to subcategory page
https://next.storefrontcloud.io/men/tops-men/jackets-men/jackets-14
I don't see full menu -> maybe it is connected

[2019-03-15 18:29] pkarw commented on #2598
I’m not sure when I’ll be able to fix this one so @patzick and @filrak just feel free to take care of it :)

The second one: we should use `formatCategoryLink` instead of localizedRoute in both: Sidebar and Breadcrumbs.

The first one: on the other pages the “category/load” is called with the root category level as a filter. In product and category pages by some reason it’s called just for the cat

[2019-03-17 17:56] filrak opened #2600 "Implement incremental build for TS"
https://devblogs.microsoft.com/typescript/announcing-typescript-3-4-rc/ this should make production build much faster https://twitter.com/thekiba_io/status/1106882552588128256?s=19

[2019-03-17 22:28] vue-kacper opened #2601 "VSF modules can't extend router"
## Current behavior

This is example route added by "raw-output-example" module:

https://**demo**.vuestorefront.io/no-js.html   ---> It works
https://**next**.storefrontcloud.io/no-js.html ---> Doesn't work

## Expected behavior

Modules should be able to extend router and add new routes

## Steps to reproduce the issue

Problem appears on "develop" branch:

https://next.storefrontcloud.io/no-js.

[2019-03-18 06:34] #2556 closed

[2019-03-18 06:42] patzick opened #2602 "Clean up storefront environments"
## What is the motivation for adding / enhancing this feature?

Regarding new release cycle we needed three environments to test changes.

## What are the acceptance criteria

- [x] https://demo.storefrontcloud.io shows current stable version + changes from hotfix branch
- [x] https://next.storefrontcloud.io/ shows current Release Candidate version with stabilization fixes to test them
- [x] https

[2019-03-18 06:42] #2602 closed

[2019-03-18 08:39] Ale763 opened #2603 "Vue Storefront import from Magento 2.3 very heavy"
## Current behavior

I am currently testing the framework without any modifications, just the clean install of the framework on a clean server.

My setup consists of 2 different debian servers. One serving Vue Storefront (vue-storefront + vue-storefront-api)

 and the other serving Magento 2.3. The installation steps from the tutorials were followed to install and configure Vue Storefront with Mag

[2019-03-18 09:54] Ale763 opened #2604 "Categories and products showing intermittently"
## Current behavior

After a clean install of Vue Storefront I notice some erratic behaviour:

- On the homepage categories and the products are missing. Also the photos representing the categories do not link to any categories. When clicking on these an error is prompted saying "_The product, category or CMS page is not available in Offline mode. Redirecting to Home._" But then the categories sho

[2019-03-19 09:09] ResuBaka commented on #2010
I have test this with an magento 1 store and the urls in category are /sku/url_key/ and in search they are /url_path?sku and when i try to go to a product like example http://localhost:3000/Aufschnittmaschine-ASM-300?childSku i get the error "The product, category or CMS page is not available in Offline mode. Redirecting to Home.".

Is there anything i am missing? I am an the latest develop and ha

[2019-03-19 09:36] Cyclonecode commented on #2010
@ResuBaka - This sounds more like you have some problems with your configuration. Can you verify that vue-storefront can successfully connect to vue-storefront-api and that the vue-storefront-api actually can access elasticsearch?

[2019-03-19 09:37] pkarw commented on #2603
Hi there! `mage2vuestorefront` isn't the most optimal indexer - that's true; it's running categories import in parallel so it could end-up with multiple fpm processes on the magento side. Please consider using the https://github.com/DivanteLtd/magento2-vsbridge-indexer - which has been designed to solve this and other kind of performance issues

[2019-03-19 09:38] filrak commented on #2595
On it ;)

[2019-03-19 09:47] pkarw commented on #2010
I belive You should have `useShortCatalogUrls` set to false

[2019-03-19 11:45] ResuBaka commented on #2010
When I disable useShortCatalogUrls then the product url does work. But for I want to have both at the same time. Or is it not intended to work together?

[2019-03-19 11:48] pkarw commented on #2010
It's not. Please set the `product.url_path` or `category.url_path` to whatever value you need and it will be Your url :) as simple as that :) so it's much more powerfull than `useShort...`

[2019-03-19 11:51] pkarw opened #2605 "Non-configurable products shouldn't have had `childSku` in the url"
## Current behavior

Currently, all the product links have `childSku` added to the link: https://next.storefrontcloud.io/training/training-9/luma-yoga-for-life-51.html?childSku

Even when it's empty.

## Expected behavior

The `childSku` parameter is required only for configurable products.

1.9rc-1

[2019-03-19 11:51] #2603 closed

[2019-03-19 11:54] pkarw commented on #2604
@Ale763 it seems like Your SSR app doesn't have connectivity to the API (so web browser - client side renderign mode (CSR)) is able to connect to Your vs-api (`localhost:8080`?) but the server app (`vue-storefront/core/scripts/server.js`) is not able to get to the same `localhost:8080`. If You're using docker then You need to have the `network_mode: host` set in place to have the connectivity betw

[2019-03-19 11:55] pkarw commented on #2604
The slider links to be checked by @patzick

[2019-03-19 11:56] pkarw commented on #2583
Hi @0dp how are things with this one?

[2019-03-19 11:57] pkarw commented on #2576
We don't. I mean - this is out of the VS scope right now. Not sure if there is an API available to reset the password (for sure it wasn't in place when we implemented this feature).

[2019-03-19 11:58] pkarw commented on #2576
In case it's not there in the API we need to extend the https://github.com/DivanteLtd/magento2-vsbridge or create completely new Magento2 module adding this feature to the REST API

[2019-03-19 12:22] ArturDivante opened #2606 "Product SKU in wishlist should be more visible"
## Current behavior
Product SKU displayed in wishlist is almost invisible

![wishlistSKU](https://user-images.githubusercontent.com/47415585/54605630-fbdacf80-4a49-11e9-96fe-c51e64fced62.PNG)

## Expected behavior
If product SKU is needed in that window, it should be reasonably visible (darker?)

## Steps to reproduce the issue
1. Add any product to wishlist
2. Open wishlist sidebar

## Repository

[2019-03-19 16:11] ArturDivante opened #2610 "'Product added to cart' popup appears only once per product"
## Current behavior
Green confirmation popup 'Product has beed added to cart' is displayed only once.

## Expected behavior
Confirmation popup should appear every time product is added to cart.

## Steps to reproduce the issue
1. Open any product page
2. Add product to cart
3. Add the same product again, __without changing size or color__

## Repository
https://demo.storefrontcloud.io/

## Can you

[2019-03-19 16:22] pkarw commented on #2610
Yes, there is code rule for this situation in case multiple notification with the same msg are stocked - we’re comparing the last msg when it’s exactly the same as current one no message is being shown. We probably need to change this condition to check if the prev message is still visible; if it’s not then it’s safe to show it again

[2019-03-19 16:51] pkarw commented on #2579
Related to: https://github.com/DivanteLtd/magento2-vsbridge-indexer/issues/15

[2019-03-19 16:52] #2595 closed

[2019-03-19 16:52] pkarw commented on #2580
@filrak how about thi one?

[2019-03-19 23:41] patzick commented on #1698
With this issue also Homepage products should be cached for offline use on first page render

[2019-03-20 09:47] ArturDivante opened #2612 "Unnecesary options inside categories in hamburger menu"
Pieces of customer (my account) menu are replicated inside categories of hamburger menu, when customer is logged in.

## Steps to reproduce the issue
1. Login to customer account
2. Open hamburger menu > Women / Men / Gear / Training

## Current behavior
Categories contains set of extra links, under their sub-categories:
Women:
- My Orders
- My Loyalty Card
- My Product Reviews

Men:
- My Orders
-

[2019-03-20 10:47] #2588 closed

[2019-03-20 13:57] bartdominiak commented on #2612
Yeah, it shouldn't be here, but there is one reason to keep this data inside hamburger menu - Mobile users (0-767px). So, we've 2 options:

1) Keep this data in Hamburger menu for mobile users, but move it to seperate category (like "My Account")
2) Delete this data from hamburger menu, change visibility of "My Account" button also for small devices. (currently is hidden on mobile devices)

Please

[2019-03-20 14:34] Decntdefalt commented on #2579
Sorry for the late reply. I will try to play around with it and find a way, will post a solution if I can get there :D

[2019-03-20 14:34] #2579 closed

[2019-03-20 14:42] #1698 closed

[2019-03-20 14:42] #2580 closed

[2019-03-20 14:42] #2569 closed

[2019-03-20 14:42] #2543 closed

[2019-03-20 14:51] ResuBaka opened #2614 "With enabled useUrlDispatcher you get redirected to page-not-found directly after finding the product page"
## Current behavior
When going to product page with **useUrlDispatcher** set to true. Some times i get the page-not-found page. But when i open the page directly or in a new tab it is working.

## Expected behavior
Going to the product page.

## Steps to reproduce the issue
I have not found a 100% way.
But for me i only need to click on product links in a category. There ruffly 1 out of 20 i have

[2019-03-20 15:42] pkarw commented on #2601
Thanks! Another one related to UrlDispatcher :)

[2019-03-20 15:46] pkarw commented on #804
https://github.com/Agence-DnD/vue-storefront-prismic-connector

[2019-03-20 17:40] JKrupinski commented on #2610
I'll try this one

[2019-03-20 20:34] AGPDev commented on #2494
some news about this ?

[2019-03-20 22:29] KarolaMikula opened #2615 "Show discount on product page"
## What is the motivation for adding / enhancing this feature?

I have lower price after adding a product to the shoping cart. Would it be possible to see discount on the product page before adding to shoping cart. There is some misinformation about actual price of the product.

## What are the acceptance criteria

- Product discount should be show on the product page

# Can you complete this feat

[2019-03-21 01:22] Januszpl commented on #2615
@KarolaMikula I guess it depends. At least in M2 we have catalog price rules where discount are visible on catalog/product pages or cart rules where discount apply only in the cart. Someone need to check how it is done in VSF. (perhaps me tomorrow)

[2019-03-21 07:43] jablpiotrek commented on #2587
I'll start it.

[2019-03-21 08:15] ArturDivante commented on #2615
Take a look into #2584

I investigated payment system there. From the cart perspective, but I belive it will give you some insight about how the prices are calculated.

[2019-03-21 08:38] ResuBaka commented on #2614
I have found that this is a problem with urlencoded url_path. There when you go to a product with an umlaut like "ÄÖÜ" it is working in the frontend but not the ssr.
A second case is when the category you are in has an umlaut. Then when you go to the product he trys to go to the product page and trys to go to the category but the category url is now urldecoded but the url_path should be urlencoded

[2019-03-21 09:57] 0dp commented on #2583
Hey @pkarw

Yarn was just updated on brew to v 1.15.2, so I updated and everything went smooth with the installation

[code]

[2019-03-21 10:43] robwozniak commented on #2561
I'll take care of it

[2019-03-21 11:04] anqaka commented on #2499
@filrak @pkarw I look into the code and I cannot check the case where there is some CmsBlock displayed in Vuex state. Even if we add 2 cms blocks on one page, on the beginning on the `single` action, the state.items it's empty. Like cashe dosn't work here.  I don't know how to resolve this isue

[2019-03-21 11:11] jszczech commented on #2559
I'll take care of it

[2019-03-21 13:28] jablpiotrek commented on #2587
https://github.com/DivanteLtd/vue-storefront/pull/2621

[2019-03-21 13:38] Januszpl commented on #2612
@bartdominiak as far as I see it just need be removed from showing in subcategories.
"My account" is visible in opened menu on mobile devices
<img width="293" alt="3773b21170c93793793a15533f89713c" src="https://user-images.githubusercontent.com/7412776/54755699-4a60a900-4bc5-11e9-8b69-30ef3bd5a1e5.png">

After clicking My Account user can open it and see all this links - this is ok
<img width="552

[2019-03-21 16:47] #312 closed

[2019-03-21 16:50] Aekal commented on #358
#2610

[2019-03-21 16:50] #358 closed

[2019-03-21 16:56] kziuzial4w commented on #2593
My issue.

[2019-03-21 17:35] PanMisza opened #2627 "Unable to scroll sidebar menu"
## Current behavior
I'm unable to scroll sidebar menu (eg. on mobile with horizontal orientation).

## Expected behavior
Scrollable sidebar menu.

## Steps to reproduce the issue
Just try to scroll on mobile with horizontal orientation.

## Repository

# Can you handle fixing this bug by yourself?
YES

## Environment details

- Browser:
- OS:
- Node:
- Code Version:

## Additional information

[2019-03-21 17:38] mkaczmarekl4w commented on #2627
On it

[2019-03-21 17:49] PanMisza commented on #2627
@mkaczmarekl4w
I fixed that. I assigned myself to this task after opening it :)

[2019-03-21 18:20] mkaczmarekl4w commented on #2627
Ahh sorry @PanMisza , I didn't notice that you were working on this issue.
It's my first contribution PR, could you let me know if I done it in the correct way?

[2019-03-21 18:24] PanMisza commented on #2627
@mkaczmarekl4w
Looks great, but we should keep the top section with close button always visible - I think it's more UX friendly.

[2019-03-21 19:00] adrian-chlebowski opened #2631 "Display red box with "You need to be logged in to see this page""
## Current behavior
If click "My Account" in menu then display login popup and red box with message"You need to be logged in to see this page".

![image](https://user-images.githubusercontent.com/1045581/54777042-b668fe80-4c11-11e9-9385-43b099fbd1fb.png)

## Expected behavior

Not display red box for login popup.

![image](https://user-images.githubusercontent.com/1045581/54777286-4f981500-4c12-11

[2019-03-21 19:32] bartdominiak opened #2633 "Outdated vue-offline dependency without babel"
## Current behavior
Vue-offline is outdated and doesn't have webpack and babel in version `1.0.8`. This behavior brakes code on IE, with unreadable syntax like arrow functions and const.

## Expected behavior
We should update this lib to newer version, and add support for IE11+

## Steps to reproduce the issue
Just open demo.storefrontcloud.io on IE11+

# Can you handle fixing this bug by yourself

[2019-03-22 08:10] michhy opened #2636 "Logged-in user's shipping address is not saved when placing order with registration"
## What is the motivation for adding / enhancing this feature?
Customer who filled in the shipping address, and checked the box createing account, would expect the shipping address saved for future use. Even customer saved their shipping address in user > my shipping adress section on topbar, the shipping address is not copying to their checkout page.

## What are the acceptance criteria

- ...Sav

[2019-03-22 09:34] #2593 closed

[2019-03-22 09:43] patzick commented on #2561
Closing, thanks @robwozniak ! :)

[2019-03-22 09:43] #2561 closed

[2019-03-22 11:32] #2605 closed

[2019-03-22 11:42] WGoldsworthy opened #2637 "Add to cart from wishlist and add to cart from product listing"
## What is the motivation for adding / enhancing this feature?

1. User add items that regularly purchases to a wishlist/favourites. When they want to reorder items from wishlist, they are able to add products directly from the wishlist into the cart without the need to go into each products individual page. This provides a quicker user journey for customers that are regularly purchasing the same

[2019-03-22 14:52] chygoz2 opened #2639 "Clicking on the 'Add to Cart' button multiple times quickly for an item that wasn't previously in cart messes up the count of the cart items."
## Current behavior
For a product that isn't already in cart, when the **Add to cart** button is clicked multiple times quickly without changing the quantity of the item via the quantity field, the count of items in the cart is usually more than what is expected after the cart sync with the server is completed.

If the cart is eventually converted to an order, there is also the tendency for the or

[2019-03-22 16:21] #2612 closed

[2019-03-23 07:55] pkarw opened #2641 "Images are not lazy loaded by first page load"
## What is the motivation for adding / enhancing this feature?

JS works and when you click through CSR everything works just fine. Images are not loaded just by first SSR page load

![9B790F0D-FE6C-47A3-8444-AB156128B036](https://user-images.githubusercontent.com/211899/54863467-48275780-4d49-11e9-891b-36cb21b698b0.png)

## What are the acceptance criteria

- images are correctly loaded

## Addit

[2019-03-23 10:01] pkarw commented on #2641
This is how the DOM looks like on Safari (iOS):
![Screenshot 2019-03-23 11 00 44](https://user-images.githubusercontent.com/211899/54864695-f7b8f580-4d5a-11e9-9e56-c77b40c024b0.png)

[2019-03-23 10:02] pkarw commented on #2641
after adding class `product-image--loaded` the image is loaded correctly

[2019-03-23 10:06] pkarw commented on #2641
The same issue on Safari Desktop (macosx)

[2019-03-23 10:10] pkarw opened #2642 "`Sort by` on Safari"
## Current behavior

The styling is broken
![Screenshot 2019-03-23 11 09 04](https://user-images.githubusercontent.com/211899/54864784-42873d00-4d5c-11e9-9ae3-c6eae8cfb564.png)

## Expected behavior

## Steps to reproduce the issue

## Repository

# Can you handle fixing this bug by yourself?

## Environment details

- Browser:
- OS:
- Node:
- Code Version:

## Additional information

[2019-03-23 10:18] pkarw commented on #2615
If there is a catalog pricing rule the discount is displayed; we can't access shopping cart rules (this particular case) to show the price after product has been added to cart

Closing for now

[2019-03-23 10:18] #2615 closed

[2019-03-23 10:19] pkarw commented on #2614
@ResuBaka could You provide us with the catalog.json database dump with the umlauts to let us test it and fix it? I would be very handful that we can re-use Your test data :)

[2019-03-23 10:22] pkarw commented on #2614
I believe we should add `urlEncode` in here: https://github.com/pkarw/vue-storefront/blob/a7950672775846c654b395c080272cd8c915bf5d/core/lib/multistore.ts#L131-L132 and then `urlDecode` in here: https://github.com/pkarw/vue-storefront/blob/a7950672775846c654b395c080272cd8c915bf5d/core/modules/url/router/beforeEach.ts#L13

[2019-03-23 10:27] #2610 closed

[2019-03-23 10:30] pkarw commented on #2604
@Ale763  please make sure You don't have both: `catalog.useShortMagentoUrls` + `seo.useUrlDispatcher` options set to true (https://github.com/DivanteLtd/vue-storefront/blob/develop/docs/guide/basics/url.md).

It won't work in this case. Please do confirm

[2019-03-23 10:43] pkarw commented on #2639
Hi! Thanks for pointing this our, PR with a fix is more than welcome :)

[2019-03-23 10:45] pkarw commented on #2581
@Decntdefalt could You please provide us with the database dump to let us work on the same data? vue-storefront-api public endpoint with Your data set will be enough (or .json dump)

[2019-03-23 10:47] pkarw commented on #2631
We can probably add a config variable for the behavior here as this could be expected behavior for some users (giving the end user the context: I've clicked My account -> redirected to Login page -> this notification just answers why did this happen)

[2019-03-23 10:48] pkarw commented on #2633
@bartdominiak that's great. How about checking the other libs vs. IE11?

[2019-03-23 10:58] #2601 closed

[2019-03-23 11:08] pkarw commented on #2594
It was configuration issue with cloud instances. There was the `reviews.create_endpoint` missing. I've just added it and it will be fixed after @patzick deploy the `test`, `next`, and `demo` instances. I've added this property to the new instance template as well

@patzick I've changed the local.json by adding:
[code]

https://code.storefrontcloud.io/Divante/next-storefrontcloud-io/blob/master/con

[2019-03-23 11:08] #2594 closed

[2019-03-23 11:10] pkarw commented on #2578
@lukeromanowicz can You please take care of this one? It's related to the schema validation: https://github.com/DivanteLtd/vue-storefront-api/blob/d8775e903c8f345e86abbad33ff9ac2cef070755/src/api/order.js#L31 and https://github.com/DivanteLtd/vue-storefront-api/blob/d8775e903c8f345e86abbad33ff9ac2cef070755/src/api/user.js#L41 or https://github.com/DivanteLtd/vue-storefront-api/blob/d8775e903c8f345

[2019-03-23 11:11] pkarw commented on #2578
For sure it shouldn't be [a-z] maybe \w+ (?) -> https://github.com/DivanteLtd/vue-storefront-api/blob/d8775e903c8f345e86abbad33ff9ac2cef070755/src/models/order.schema.json#L26

[2019-03-23 11:12] #2641 closed

[2019-03-23 11:12] #2604 closed

[2019-03-23 11:13] pkarw commented on #2560
@anqaka how are things with this one? :)

[2019-03-23 11:14] pkarw commented on #2559
@jszczech how about this issue? Let us know if You need any assistance

[2019-03-23 11:21] coatesjonathan commented on #2413
Hi guys, I am still getting this issue, I can never seem to import the data.
And I get a slightly different error:

[code]

[2019-03-23 11:23] coatesjonathan commented on #2413
Think I found the issue...
Redis default host for me is 127.0.0.1 not "localhost"
in /vue-storefront-api/config/local.json on line 35

[2019-03-23 11:37] pkarw opened #2645 "The categoriesDynamicPrefetch mode doesn't work correctly"
## Current behavior

With the `categoriesDynamicPrefetch` mode we should be loading only root level categories + dynamically load subsequent levels when selected by the user.

The correct `category/list` call looks like this:
`      await store.dispatch('category/list', { level: store.state.config.entities.category.categoriesDynamicPrefetch && store.state.config.entities.category.categoriesDynamic

[2019-03-23 11:38] pkarw commented on #2645
This change may affect:
- breadcrumbs on Product page
- breadrcumbs on Category page
- Sidebar

[2019-03-23 13:27] coatesjonathan opened #2646 "Data from ElasticSearch doesn't show"
I have imported the data from Magento 2 using *yarn mage2vs import* but the frontend of localhost:3000 doesn't show any of it?

[2019-03-23 14:05] michhy commented on #2578
I have removed "pattern": "[a-zA-Z0-9_]+"  in
properties: shippingAddresss and billing address: firstname, lastname, region, city; and items: properties: name

and all solved. no problem after all.
thx

[2019-03-23 16:19] pkarw commented on #2578
Thanks for letting us know! We must solve it once and for all anyway :)

[2019-03-24 07:55] dennisotugo commented on #2646
Run `yarn db rebuild` to rebuild the schema

[2019-03-24 16:37] #2627 closed

[2019-03-24 21:54] patzick commented on #2606
Thanks @PanMisza !

[2019-03-24 21:54] #2606 closed

[2019-03-24 22:28] lukeromanowicz commented on #2578
As far as I know \w will not match unicode letters. I believe we're looking for `[\p{L}\d]+` to replace `"[a-zA-Z0-9_]+"`. The problem is that it requires `u` flag to work so it cannot be used by a regular ajv pattern. Regex with custom flags is theoretically available in `ajv-keywords` but I'm not really able to make it support `\p*` matchers. I'll debug it and see what's wrong.

An alternative w

[2019-03-25 04:10] pkarw commented on #2578
In that case what do You suggest @lukeromanowicz ? Removing this validation regex class at all?

[2019-03-25 04:31] pkarw opened #2649 "Refactor rootStore.state.config to dedicated module"
## What is the motivation for adding / enhancing this feature?

The `rootStore.state.config.entities.attribute.includeFields` kind of paths are all around the code. We should create a dedicated module `ConfigManager` (like [RouteManager](https://github.com/DivanteLtd/vue-storefront/blob/develop/core/lib/router-manager.ts)) to keep the config.

Note: The thing is that the config [needs to be update

[2019-03-25 04:37] #2598 closed

[2019-03-25 04:38] #2645 closed

[2019-03-25 04:43] pkarw commented on #2596
I believe that @patzick or @filrak will be able to take this one sooner than me

[2019-03-25 04:44] #2646 closed

[2019-03-25 04:47] pkarw commented on #2499
Yeah, I believe that `if (skipCache || (!state.items || state.items.length === 0))` is kind of premature optimization and therefore should be simply removed

[2019-03-25 04:52] pkarw commented on #2614
OK, I've come with a fix :)

[2019-03-25 04:52] #2614 closed

[2019-03-25 04:59] pkarw commented on #2514
Hey! By this change we should also get rid off the way we're obtaining user and cart tokens:
https://github.com/pkarw/vue-storefront/blob/da58b6c59daa76b75a501aaddefcee21c6a3063d/core/lib/sync/index.ts#L52

It should be:
- loaded once (at application init) from local storage,
- we should use the getter for obtaining user and cart tokens instead

[2019-03-25 05:00] pkarw opened #2651 "Refactor the way we obtain user and cart tokens"
## What is the motivation for adding / enhancing this feature?

We should get rid off the way we're obtaining user and cart tokens:
https://github.com/pkarw/vue-storefront/blob/da58b6c59daa76b75a501aaddefcee21c6a3063d/core/lib/sync/index.ts#L52

Related to #2514

[2019-03-25 05:09] #2567 closed

[2019-03-25 07:37] lukeromanowicz commented on #2578
@pkarw
It's definitely doable in an acceptable way. If `ajv-keywords` will not work then we can [create our own](https://ajv.js.org/custom.html) pattern keyword that will support unicode

Regarding the purpose of validation itself - I'm not sure if it's really that necessary. IMHO validation should be on the frontend and in the backend so there is no need to add a third one in the middleware.

[2019-03-25 07:47] pkarw commented on #2578
OK, please do propose a PR with the best possible fix then :)

[2019-03-25 07:54] pkarw commented on #2514
... and there is one more thing. I believe that would be great to have in this API layer all the operations that read data too. The assumption should be that this API layer doesn't involve any side effects (affecting in store.state changes)

Take [`category/list`](https://github.com/pkarw/vue-storefront/blob/be69f5fec7171bf7a04f254f215c8fd19fca5095/core/modules/catalog/store/category/actions.ts#L6

[2019-03-25 07:58] filrak commented on #2649
Imho it shouldn't be a module. More like a core lib

[2019-03-25 07:59] pkarw commented on #2649
Yes, core/lib

[2019-03-25 13:08] ArturDivante opened #2653 "Insufficent validation for city field"
## Related issue
#2317

## Steps to reproduce the issue
1. Place some items in cart and go to checkout
2. Fill required fields
3. Input ONLY numbers (i.e. '001') in City* field
4. Try to place and an order

## Current behavior
- City field accept that input
- 500 error appears in console
- Server error message appears on the front.

## Expected behavior
Validation on the front should match backend

[2019-03-25 13:19] pkarw commented on #2653
Related to #2578

[2019-03-25 15:07] patzick commented on #2642
@PanMisza how is going on with this one?
Please remember to create branch for this from `release/1.9` branch:)

[2019-03-25 15:19] lukeromanowicz opened #2657 "Force sorted translations"
## What is the motivation for adding / enhancing this feature?
I suggest sorting alphabetically currently existing translations + check if they are sorted correctly in CI.

It will be easier to find which messages have missing translations and what are the new translations comparing to a previous version.

## What are the acceptance criteria
- sort all translations with `sort` command (you can com

[2019-03-25 15:21] lukeromanowicz commented on #2657
What do you guys think @pkarw @patzick @filrak ?

[2019-03-25 17:43] patzick commented on #2657
most of translations are theme specific - i'd move them there and leave only core needed translations.

[2019-03-26 03:22] Zyles commented on #2322
The filtering needs to be dynamic. Removing filters that are not applicable once you dig deeper.

Like first selecting "Jackets", and there are no green or yellow jackets, those colors need to be removed in the filter list until you uncheck "Jackets" again.

Otherwise users could select "Jackets" then click "yellow" and get 0 results.

[2019-03-27 07:36] EatPrayCode commented on #805
This project seems so powerful and cool.
Thinking of trying out vuestorefront for the next project.

Did anyone create such a build setup (one-click deployment on a paas)?

[2019-03-27 08:24] revlis-x opened #2659 "Load more in Search Results not working"
## Current behavior
When there are more search results then the initial batch a "Load more"-button is displayed, but clicking it does nothing. Seems vue-storefront-api response is not returning more products.

// EDIT: Problem only occurs, if you type the search term really fast (which triggers a lot of requests in short time). Request for more products then somehow has the wrong offset (e.g. from

[2019-03-27 08:38] lukeromanowicz commented on #2657
@patzick yes, that's another issue to take care of. Do we want to do so in this issue or separate it?

[2019-03-27 09:30] ArturDivante opened #2660 "Reviews are not displayed on PDP's"
## Related issue
#2594

## Current behavior
Reviews are correctly added, displayed in Magento, but even approved ones are not displayed in VSF

## Expected behavior
Accepted reviews are displayed on product pages

## Steps to reproduce the issue
1. Open any product page in VSF
2. Submit a review (filling all required fields)
3. Login to magento and approve the review.
4. Open same product page aga

[2019-03-27 11:00] lukeromanowicz opened #2661 "Copy address data from shipping is not persistent"
## Current behavior
The billing address doesn't mirror changes done to the shipping address

## Expected behavior
The billing address should automatically be updated to mirror changes done to the shipping address.

## Steps to reproduce the issue
1. Add a product to cart
2. Go to checkout
3. Enter shipping address
4. Check the "Copy address" checkbox
5. Modify your shipping address
6. The billing

[2019-03-27 11:23] cristian-g opened #2662 "Error: Cannot find module ‘/var/www/html/vuestorefront/vue-storefront/dist/vue-ssr-client-manifest.json’"
Using “yarn build” and then “yarn start” causes an error in pm2 as you can see in the attached screenshot.

Error: Cannot find module ‘/var/www/html/vuestorefront/vue-storefront/dist/vue-ssr-client-manifest.json’

![78b45483a07e14c133053841b27edb5b8d4aff03](https://user-images.githubusercontent.com/15870631/55072301-053beb80-508b-11e9-9957-14e80e6a3efb.png)

I’ve read that VueSSRClientPlugin gener

[2019-03-27 15:52] lukeromanowicz commented on #2578
Issue moved to vue-storefront-api repository.

[2019-03-27 15:52] #2578 closed

[2019-03-27 16:15] lukeromanowicz opened #2663 "Errors in checkout stack into multiple orders per submit"
## Current behavior
The more times you submit an order with invalid data (i.e. only numbers in the name fields) the more times there will be a submit order request sent to the backend. First submit will send only one request, another submit w/o fixing errors will send the order twice, etc.

## Expected behavior
Order requests having error are being repeated over and over.

## Steps to reproduce th

[2019-03-27 16:25] pkarw commented on #2663
@patzick

[2019-03-28 10:28] cmeyertons opened #2664 "Avoid stateful singletons in the SSR"
## Current behavior

The same Vuex store instance is shared across requests -- because it contains users specific things like `cart`

## Expected behavior

The vuex store should follow vue's recommendations.
https://ssr.vuejs.org/guide/data.html

[2019-03-28 15:27] nikblack opened #2665 "Subcategories order in SidebarMenu is broken after category page reload"
## Current behavior
Subcategories in SidebarMenu change order after selecting one of subcategories(not first) and  reload category page.
 It looks like selected subcategory stays in cache and after reload always displays first, ignoring real order.

## Expected behavior
Subcategories order should persist after selected subcategory's page reload.

## Steps to reproduce the issue

1. Open SidebarMen

[2019-03-29 06:27] cnviradiya commented on #2382
@gabwik
May I know when Klarna Checkout will be available?
Because we have already made its initial stage.

[2019-03-29 07:34] gabwik commented on #2382
@cnviradiya It will be released tomorrow on the Hackathon in Stockholm.

[2019-03-29 09:40] bobcho opened #2667 "mix-blend-mode breaks images on Chrome mobile"
## Current behavior

There seems to be an issue with mix-blend-mode css property on latest Chrome / latest Android 9. Attached is how the demo looks on up-to-date Pixel 3.
![Screenshot_20190329-105305](https://user-images.githubusercontent.com/8062073/55223711-7b6d5900-5217-11e9-9e56-dfdb67adf996.png)

## Expected behavior

Products & categories Images should be displayed properly and be visible.

[2019-03-29 09:42] janmyszkier commented on #363
additional note:
Accordign to:
https://help.nosto.com/settings-and-troubleshooting-faq/tools-faq/understanding-the-product-update-and-creation-process
nosto does not REQUIRE any feed, and it should be installed on backend (e.g Magento) side if we need any updates based on the events.
the integration is therefore down to JUST adding the script with the identifier which should make it even easier to

[2019-03-29 12:08] cnviradiya commented on #2382
@gabwik
Okay, Thank you

[2019-03-30 07:59] pkarw commented on #2664
Hi, @cmeyertons does it causes any side effects in Your case? I mean:
- cart, user stores are used only in CSR (client side) therefore shoulnd't contain any data in SSR (there is no way to modify it in SSR)
- we're using `runInNewContext` https://github.com/DivanteLtd/vue-storefront/blob/68fcc9e145d53f3aa3ef0e05f79abcf64bc847d6/core/scripts/server.js#L55 - https://ssr.vuejs.org/api/#runinnewcontex

[2019-03-30 08:08] pkarw commented on #2664
It's probably related to https://ssr.vuejs.org/guide/structure.html#avoid-stateful-singletons, correct?

I think we're safe with the note they posted:
[code]

Basically, this is our case. I'm not sure if at this point we can easily refactor `state` and `stores` from being singletons as all the core and user modules are created with this style...

Moreover, there are other singletons like `route-ma

[2019-03-30 08:09] pkarw commented on #2664
Related: #2522

[2019-03-30 08:11] pkarw commented on #2662
Hmm, that's strange. Have You tried `yarn pm2 reload all` after `yarn build`?

[2019-03-30 08:20] pkarw commented on #2660
Related to: #2668

[2019-03-30 08:20] pkarw commented on #2667
I believe this one has been fixed in the branch `release/1.9`

[2019-03-30 08:22] pkarw commented on #2583
Great!

[2019-03-30 08:22] #2583 closed

[2019-03-30 08:24] pkarw commented on #2653
Hey @lukeromanowicz - You've just recently modified these schemas, would You take care of this one?

[2019-03-30 08:25] pkarw commented on #2660
@afirlejczyk can You please check if it's related to #2668 and if it solves this issue?

[2019-03-30 08:34] pkarw commented on #2665
This is probably related to `category/list` which is getting the list of categories from memory the second time. In both cases, we should probably add the JS (client side) sort
- here: https://github.com/DivanteLtd/vue-storefront/blob/68fcc9e145d53f3aa3ef0e05f79abcf64bc847d6/core/modules/catalog/store/category/actions.ts#L66

- ... and here: https://github.com/DivanteLtd/vue-storefront/blob/68fcc9

[2019-03-30 09:19] haukebri commented on #2661
Working on this.

[2019-03-30 09:45] gdomiciano commented on #2631
I will start it :)

[2019-03-30 12:02] haukebri commented on #2642
I just fixed that - it was just a missing style.

[2019-03-30 20:17] gabwik commented on #2382
https://github.com/kodbruket/vsf-payment-klarna

@cnviradiya and @Decntdefalt

[2019-03-31 00:47] LogimaeCommerce commented on #2382
Great job! This is a game changer for a lot of Scandinavian clients :)

[2019-03-31 00:51] Decntdefalt commented on #2382
Great job! This is a game changer for a lot of Scandinavian clients :)

[2019-03-31 20:26] patzick commented on #2642
Thanks @haukebri ! :)

[2019-03-31 20:26] #2642 closed

[2019-04-01 06:36] Devors commented on #363
I can add it, if I correctly connect nosto
I do it in head part of `src/index.template.html` like:
`<script src="//connect.nosto.com/include/key" async></script>`

[2019-04-01 12:31] rebinti opened #2676 "vue-storefront got error in lastest updates pull"
Error :

ERROR in /var/www/html/vue-storefront/core/helpers/index.ts
./core/helpers/index.ts
[tsl] ERROR in /var/www/html/vue-storefront/core/helpers/index.ts(165,33)
      TS2339: Property 'observable' does not exist on type 'VueConstructor<Vue>'.

[2019-04-01 12:51] ResuBaka commented on #2614
My problem with the latest Develop branch is still there. When i got time to look more into it i can give more info what it can be.

[2019-04-01 13:09] pkarw commented on #2614
@ResuBaka I've merged the changes to release/1.9 not sure if they've been merged to develop as well

[2019-04-01 13:17] rebinti commented on #2676
# I have switched the tags(branch) version in to v1.8.2.. Now its working fine. I think the latest version have some issues.. it's not stable now

[2019-04-01 13:49] ResuBaka commented on #2614
When you mean [this fix](https://github.com/pkarw/vue-storefront/commit/da58b6c59daa76b75a501aaddefcee21c6a3063d)?
Then i have this locally, but i still have the problem.

[2019-04-01 14:16] patzick commented on #2676
Hey @rebinti, could you switch to 1.8.4 and check if problem you have appears there?
It also looks like you haven't run `yarn` command after switching versions.
Let me know if this helped you.

[2019-04-01 14:52] lukeromanowicz commented on #2653
@pkarw
all of the checkout fields are mostly are not validated except minimum length and being required. I see two options here. To minimize code duplication we could either:
* write more meaningful errors in vsf-api and display these errors in frontend app. In this approach, we have to keep in mind that orders can be submitted in offline mode so handling and fixing checkout address errors should

[2019-04-01 22:34] ehartford opened #2677 "integration with endless-commerce"
## What is the motivation for adding / enhancing this feature?
I want to run [endless-commerce](https://github.com/endless-commerce/endless) backend with vue-storefront frontend

## Can you complete this feature request by yourself?
I don't know.  Is it possible?

[2019-04-01 22:48] ehartford commented on #1015
is it possible to use dynamodb and lambda for backend?  MAybe using endless-commerce?

[2019-04-02 07:53] #2559 closed

[2019-04-02 07:56] #2661 closed

[2019-04-02 08:27] bobcho commented on #2667
Do you mind linking the commit that fixed it? I'd appreciate it

[2019-04-02 09:37] haukebri opened #2678 "Wrong use of v-model in BaseCheckbox.vue"
## Current behavior
The change event for the checkbox never gets emitted correctly to the parent component so that when it’s used with v-model, nothing happens.

On every use of that component, the variable gets changed externally by a click event, not the v-model.

## Expected behavior
The v-model should change the variable on its own. There is no need to have a click event.

## Steps to reproduc

[2019-04-02 10:02] lukeromanowicz opened #2680 "UI Store broken link"
## Current behavior
https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/core-themes/ui-store.md

## Expected behavior
UI Store link should work

## Can you handle fixing this bug by yourself?
- [x] YES but not anytime soon. Feel free to fix it

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one

[2019-04-02 10:12] haukebri commented on #2678
This Merge Request is branched from develop. I think this is just an improvement, not a bug per se.

[2019-04-02 12:04] filrak commented on #2677
If you want to make this integration by yourself please check this repo: https://github.com/DivanteLtd/vue-storefront-integration-boilerplate

[2019-04-02 17:49] ehartford commented on #2677
I will return when I have a contribution to this effect, thank you.

[2019-04-02 17:49] #2677 closed

[2019-04-03 07:04] patzick commented on #2678
Great job @haukebri, this is a nice improvement!:)

[2019-04-03 07:04] #2678 closed

[2019-04-03 11:09] JakubKontra commented on #1015
Any progress?

[2019-04-03 11:40] cristian-g commented on #2662
I solved this by doing the compilation in Mac OS instead of doing it in Linux. If I compile on Mac OS, it does generate the json. Maybe it was a permissions issue on some system folder, but I do not know. I’ll keep investigating.

[2019-04-03 11:40] #2662 closed

[2019-04-03 13:54] hiousi commented on #489
is there some sites using vuestorefront in front of Prestashop? did someone made a bridge?

[2019-04-04 07:07] pkarw commented on #1104
This is related to #2180 so I've assigned it to  You @patzick

[2019-04-04 07:08] pkarw commented on #1708
This is a issue for the PR #2180

[2019-04-04 09:14] Ale763 commented on #2604
I'm sorry for my late response, but I have been busy with another project.

 I run Vue Storefront locally, docker is used by the framework for redis and elasticsearch. I checked the config files and I don't have the `catalog.useShortMagentoUrls` set at all, `seo.useUrlDispatcher` is set to false.

I am running Vue Storefront with yarn dev for both vue-storefront and vue-storefront api, but I'm not

[2019-04-04 18:58] afirlejczyk commented on #2660
@ArturDivante.

Please check if this problem occurs on Simple Product (for the configurable product we have a bug #2668).

After aproving the review in Magento, you have to re-import reviews (with mage2vsf) .
Approved reviews won't show automatically on the vsf.

[2019-04-04 18:58] pkarw commented on #2573
@patzick there is still a problem with offline images on next (works just fine on demo) - the low quality offline images are not used which causes two things:
- when loading the image even when user is online there is no this specific proffrsssive loading effect that’s visible on demo (you get pixelated image and immediately afterwards the sharp one)
- images are simply not displayed in the offlin

[2019-04-04 19:03] pkarw commented on #2573
Another thing - when switching colors it shouldn’t display the placeholder but stock to the thumbnail picture (offline image which is selected in product/single) - compared to demo (1.8.4) where it works exactly like that
![5D1E6007-8486-453C-A400-624DEDEE095B](https://user-images.githubusercontent.com/211899/55581431-1b961700-571d-11e9-97d2-ee3ff240c3ce.png)

[2019-04-04 19:05] pkarw commented on #2573
Even I’m back online still images won’t work :-(

![C3B4F262-E073-4161-96FC-B60CFFEDE9F2](https://user-images.githubusercontent.com/211899/55581536-6b74de00-571d-11e9-91c8-3ece0f03158f.png)

[2019-04-04 19:15] pkarw commented on #2663
This should be fixed to 1.9.0 @lukeromanowicz can you please take a look?

[2019-04-04 19:21] pkarw commented on #2653
The most of the validation should take place in the front end plus we should display better validation msgs from the server side I belive - mix of 1+2 from Your proposal

I mean - we’re offline first platform so we can’t allow the user to relying only on server side validation. However when we’re online and server returns error we should properly display them

Unfortunately magento api methods ret

[2019-04-04 19:31] pkarw opened #2682 "Issue with #2611 - products cachig"
## Current behavior

@patzick it shouldn’t be category/products executed in beforeRouteEnter but just category/list with “updateState: false” I belive -  because category/products  executes two requests - it should just execute the second one with include/excludeFields set to null - just the caching request. The first request modified current product list which causes blinkin - confirmed on next a

[2019-04-04 19:36] pkarw commented on #2484
Can’t reproduce this error anymore

[2019-04-04 19:37] pkarw commented on #2573
The same thumbnail should be used in the Microcart - need to be double checked

[2019-04-06 01:48] AndreiBelokopytov commented on #2663
I investigated a bit this issue.
The problem: each new order is cached in LocalStorage before transmission.
In the case when order POST request was not finished successfully the cache remains until next "order/PROCESS_QUEUE" will be published. So after the first incorrect request there is 1 unpublished order in the cache, after the second – 2 unpublished requests and so on. These unpublished order

[2019-04-06 16:50] allozaur commented on #818
@pkarw @2monkey @filrak we have developed an Out-of-the-box solution and will publish it in matter of days as an Open Source Vue Storefront module :)

![Zrzut ekranu 2019-04-6 o 18 50 10](https://user-images.githubusercontent.com/37627284/55672580-d698ee80-589c-11e9-93ca-ce2358b2b7b3.jpg)

[2019-04-08 02:55] grimasod opened #2685 "Missing static file causes memory bloat"
## Current behavior

A missing static file can cause the server to bloat and crash.

- The default request handler `app.get('*')` is for a Vue request
- The static file request handler, eg `app.use('/dist')` allows fallthrough
- Therefore, when a static (image or JavaScript) file is not found, the request falls through to the default handler
- The default handler attempts to render the page, which

[2019-04-08 04:36] grimasod opened #2686 "Static file cache issues"
## Current behavior

Multiple related issues

1. The static file default cache (maxAge) is 43 minutes
2. service-worker.js uses this default maxAge setting, it should be zero
3. Content-Type is not correctly set for service-worker.js

File: /core/scripts/server.js

[code]
(1) As stated in the Express docs, maxAge is in milliseconds (it's converted to seconds for the Response Header cache-control:

[2019-04-08 09:04] ArturDivante commented on #2484
@pkarw

Unfortunately, bug still exist. As I mentioned before, it occurs on chrome browser working in android.

I just recreated it on all our test environments. Used my own phone, all physical devices we have on test stand, as well as browserstack - its universal. I cleared device cache before every test.

Problem is NOT reproducable in mobive view of PC browser.

After refreshing product page:
P

[2019-04-08 10:20] patzick commented on #2587
Thanks @jablpiotrek !

[2019-04-08 10:20] #2587 closed

[2019-04-08 10:24] talalus commented on #841
merged with develop

[2019-04-08 10:24] #841 closed

[2019-04-08 11:04] patzick commented on #2685
Thanks @grimasod !

[2019-04-08 11:04] #2685 closed

[2019-04-08 11:04] #2686 closed

[2019-04-08 12:16] tniezg opened #2691 "Shipping methods not refreshed after country change in checkout"
## Current behavior
Shipping methods don't update in checkout whenever the shipping country is changed.

## Expected behavior
Update shipping informaiton and download current shipping methods when the country is changed.

## Steps to reproduce the issue
* Add products to cart
* Go to checkout
* Go to Shipping step
* Change country

Result: Shipping methods under the Shipping form stay the same. `@

[2019-04-08 13:20] ArturDivante commented on #2587
Button works correctly, but from UX perspective it's location in a bit unfortunate. IMHO bare minimum should be to separate it from 'Instant checkout' button. But in long term perspective, best place for this button would be in the upper part of MicroCart window.  Currently user with any products in the cart (even two, depending screen parameters) needs to scroll don microcart even to realize that

[2019-04-08 13:44] MikeSheward commented on #858
I'll sort this one.

[2019-04-08 14:24] ArturDivante commented on #2573
Also, we still have returning issue - some products are not pre-loeaded for offline mode while they should, exactly like in #2543

1. Open any category
2. Turn to offline mode
3. Try to open products from this category

Some of them are opened correctly, others throw an error. Problem is reproducable on test. Currently I have limited possibility to check on next, but it seem to be there as well. D

[2019-04-08 14:28] revlis-x commented on #2691
Using `@change.native` works.

[2019-04-08 14:47] ArturDivante opened #2693 "Switching between login and register form needs 2nd attempt"
## Current behavior
1. First click on 'or register an account' link is not opening registration form
2. Small validation error 'Field is required' is displayed under email field.
3. Second click on the link will open correct form

## Expected behavior
1. Registration form should be opened on 1st click

## Steps to reproduce the issue
1. Open https://demo.storefrontcloud.io/
2. Click My Account but

[2019-04-09 08:12] pkarw commented on #2682
I belive we should replace the `category/products` calla [in here](https://github.com/pkarw/vue-storefront/blob/be69f5fec7171bf7a04f254f215c8fd19fca5095/core/pages/Category.js#L124) to [`product/list`](https://github.com/pkarw/vue-storefront/blob/be69f5fec7171bf7a04f254f215c8fd19fca5095/core/modules/catalog/store/category/actions.ts#L346) call like in two-stage caching schema.

it's important to k

[2019-04-09 09:25] #2484 closed

[2019-04-09 09:57] rebinti commented on #2676
Now I create a new local git repository (branch : vuestorefront) for this. Now I tried to build storefront in my local.. but got above error. but works fine in server.  Any idea?

[2019-04-09 09:58] rebinti commented on #2676
@patzick  I have used same repository for local and server

[2019-04-09 10:47] rebinti commented on #2676
Now in our last commit seems

below

"remove . inactive core member ;<"

commit ID : 489eefb5a1c0d781bc48c3f7e94bc6f7735e68e7

is there any additional pull required

[2019-04-09 12:30] #2680 closed

[2019-04-09 12:34] patzick commented on #2631
Thanks @gdomiciano !

[2019-04-09 12:34] #2631 closed

[2019-04-09 17:00] pkarw commented on #2685
Awesome fix @grimasod - great job!

[2019-04-10 03:15] ehartford commented on #1015
I need to do this in the coming months.  If i come up with anything interesting I will post it here.

[2019-04-10 08:23] filrak opened #2696 "[RFC] Vue Storefront architecture discussion"
# RFC for improved Vue Storefront architecture

This document describes our future plans and ideas (still as a working draft on early stages) for Vue Storefront architecture.

-------------------
# (1) Business logic
## Motivation and backstory

Our goal is to make Vue Storefront extremely flexible and easy to customize **framework** for eCommerce. Users should be able to combine different service