[2019-04-10 08:27] ArturDivante opened #2697 "Move 'Clear cart' button to the upper part of the window"
## What is the motivation for adding / enhancing this feature?
New 'Clear cart; button was recently added to VSF. (issue #2587) . It works correctly, but its location - on the very bottom of microcart, below checkout options - is non-intuitive and bit unfortunate from the UX perspctive. With any products added to cart, customer may not even be aware of its existance.

If customer wants to clear ca

[2019-04-10 12:02] wh00527 opened #2698 "homepage and category page load /page-not-found"
## Current behavior

When load homepage or category page. It will get a request to /page-not-found. Page will reload twice.

## Expected behavior

Don't random load /page-not-found

## Steps to reproduce the issue

## Repository

my local

## Can you handle fixing this bug by yourself?

- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this ref

[2019-04-10 13:20] GabiDivante opened #2699 "Popup login state is not reset when it is closed"
## Current behavior
After entering the login pop-up and then
  -> switching to password reset view,
  -> closing the popup
  -> the next time you enter the pop-up window, the password reset view opens.
_Analogously with switching from login popup to registration view._

## Expected behavior
Popup state should be reset after closing.
  -> the next time you enter the pop-up window, the login view op

[2019-04-10 14:07] GabiDivante opened #2700 "Confusing password validation when creating an account while placing an order"
## Current behavior
-> When creating an account while placing an order, the **validation of the entered password is carried out at the end when attempting to place an order.**
-> If user provide too short password  (for ex mypass) at **first the validation message about password min length is shown**.
-> After re-entering longer password, the **client must go through all the checkout steps and try

[2019-04-10 19:24] lukeromanowicz opened #2701 "Unable to load vue components in .ts unit tests"
## Current behavior
It's not possible to load .vue component inside unit test cases. Even when a test subject is in the same directory, Jest will fail with the following error:
[code]

## Expected behavior
Importing should work

## Steps to reproduce the issue
1. Create a test written in typescript
2. Create a vue component next to the test
3. Try importing vue component inside test

## Repository

[2019-04-10 19:43] lukeromanowicz commented on #2701
After further testing, it looks like it accepts .vue files but the path in import needs to have .vue suffix at the end.

[2019-04-10 19:52] ananth-iyer commented on #2700
@GabiDivante I have found that before sending the place order request, it sends create user request with new passwords sent to Magento 2 through VS API. Then Magento validates password length or strength and if not valid then returns the error message to VS API then it error message is shown in Vue Storefront.

It is likely a Magento 2 feature but there is no API to get password configuration from

[2019-04-10 20:08] lukeromanowicz commented on #2701
Judging by [the docs](https://www.typescriptlang.org/docs/handbook/module-resolution.html), unfortunately typescript doesn't support extension omission for non js/ts filetypes.

[2019-04-10 20:08] #2701 closed

[2019-04-10 20:23] lukeromanowicz opened #2702 "ESLint complains about jest globals"
## Current behavior
ESlint complains about undefined jest globals:
![image](https://user-images.githubusercontent.com/46789227/55910620-23ebc780-5bdf-11e9-8fc3-83a784d49e12.png)

## Expected behavior

It should not do so.

## Steps to reproduce the issue
Enable ES lint in your IDE and check the tests

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ] NO

## Which [Release Cycle](http

[2019-04-10 20:28] pkarw commented on #2698
Could You please make sure that this issue still occurs in the 1.8.4 / 1.9.0.rc-2? Please provide us with more information about the URL's that causes this issue etc

[2019-04-10 20:30] pkarw commented on #2676
Hi @rebinti is this issue still valid?

[2019-04-10 20:30] #2676 closed

[2019-04-10 20:31] pkarw commented on #2653
@lukeromanowicz would be awesome to have this done till 1.9

[2019-04-10 20:32] pkarw commented on #2665
@lukeromanowicz it's not maybe urgent - but still worth fixing :)

[2019-04-11 06:00] Adel-Magebinary commented on #2696
Maybe remove ajax? And move to WebSocket too?

[2019-04-11 08:59] ResuBaka commented on #2522
Some news on the Code Style/Rules. Because i would like to implement prettier. When you have information about it. I would be glad to implement it.

[2019-04-11 10:32] ArturDivante opened #2704 "Incomplete category load depending on zoom level"
## Steps to reproduce the issue
1. Open https://demo.storefrontcloud.io/ on fresh browser instance
2. Open women category
3. Adjust browser zoom level to 100%
4. Scroll category down to the moment when it should load additional products

## Current behavior
On certain zoom levels, category page wont load aditional products

## Expected behavior
Product list is updated properly on every zoom level

[2019-04-11 10:38] GabiDivante opened #2705 "No visible products or categories in menu on the home page"
## Current behavior

1. After entering the homepage you will not see any products in the 'Everytihng new' section.
2. After expanding the hamburger menu, the product categories are not visible.

## Expected behavior

1. After entering the homepage you will see eight products in the 'Everytihng new' section.
2. After expanding the hamburger menu, the product categories are visible (Women, Men, Gear

[2019-04-11 12:44] Ale763 commented on #2604
Turns out you were right about the connection between vue storefront and vue storefront api. It was a bad configuration. Maybe you could add some logging for this somewhere?

[2019-04-11 13:06] Ale763 opened #2708 "Problem with Magento 2 Tier Pricing"
## Current behavior

When working with Magento 2 Tier Pricing I noticed the correct price for a given customer group is shown, **only when the item is added to the cart** (not in the catalog or product detail page).

Also when updating the price in Magento, there is some very buggy behaviour. Everything seems to work just fine, till you are offline. When you are offline and add the product, whose

[2019-04-11 13:25] GabiDivante opened #2709 "Picture doesn't change when switching between the product's color variants"
## Current behavior

Browsing the color versions does not change the image of the product.

## Expected behavior

Browsing the color versions changes the picture of the product (selected  color version is shown in the picture).

## Steps to reproduce the issue

1.  Go to https://test.storefrontcloud.io/
2. Click on category link Office casual
3. Go to any product page
4. Click on any other product

[2019-04-11 18:08] pkarw commented on #2709
I can confirm the issue on test (however it apparently doesn't exist on next and demo instances):
<img width="474" alt="Screenshot 2019-04-11 20 06 57" src="https://user-images.githubusercontent.com/211899/55980794-84d5d700-5c95-11e9-8823-12882e178087.png">

Maybe we should start with restoring the most recent database dump first

[2019-04-11 18:10] pkarw commented on #2708
Hi there! By default tier prices are disabled by the default config. Please make sure You've got it enabled - reference config line: https://github.com/pkarw/vue-storefront/blob/be69f5fec7171bf7a04f254f215c8fd19fca5095/config/default.json#L414

[2019-04-11 18:12] Ale763 commented on #2708
I followed the documentation to enable them. I have all prices synced with Magento.

[2019-04-11 18:16] pkarw commented on #2704
I believe it's not a bug. But it needs confirmation from @patzick  The lazy loading depends on the number of visible products.

I've just checked it in zoom 50% and 100% - Women category - there is one single additional page to be loaded (and it's loaded in my case)

[The lazy loading algorithm](https://github.com/pkarw/vue-storefront/blob/be69f5fec7171bf7a04f254f215c8fd19fca5095/core/pages/Catego

[2019-04-11 18:19] pkarw commented on #2705
This issue was related to wrongly cached state of `test.storefrontcloud.io`. I've rebuilt `test-storefrontcloud-io` instance

[2019-04-11 18:23] pkarw commented on #2700
I can confirm @ananth-iyer - there would be no other way to validate the passwords - we must wait till the form is being posted to check the results against Magento2 user register/login endpoints :(

[2019-04-11 18:48] pkarw commented on #2651
I've assigned this one to You @lukeromanowicz because I know it's something You'll like :)

[2019-04-11 18:50] pkarw commented on #2708
OK, thanks for the info. @mdanilowicz could You please take a look at this issue?

[2019-04-12 03:32] michhy opened #2711 "mage2vs cannot import magento 2.3.1 data"
## Current behavior

In local machine I have magento 2.3.0 installed and data can be imported smoothly by running mage2vs to VSAPI.
However in server I have magento 2.3.1 installed and it always return 'API call failed: The consumer isn't authorized to access Magento' for all the datas.
I tried to turn on 'store > configuration > services > magento API > Allow Anonymous Guest Access', and succeed

[2019-04-12 04:23] pkarw commented on #2711
Hi there! Could You attach a screen of Your Magento integration setup - the Permissions tab for this enabled integration?

Please do also paste the vs-api config / magento2 section for double checking the config.

We haven’t observed this kind of problems on 2.3 - the only thing that wasn’t working properly was MSI support

[2019-04-12 04:31] pkarw commented on #2663
@AndreiBelokopytov thanks for Your insights! Could you provide the fix in a form of Pull Request please?

[2019-04-12 04:51] michhy commented on #2711
Dear Piotr,
Here's the screencaps:
#1 all the other check boxes are clicked
![螢幕截圖 2019-04-12 下午12 43 47](https://user-images.githubusercontent.com/37435427/56012993-6c130300-5d21-11e9-9939-6e653f9ce0eb.png)

#2 vs-api local.json
![螢幕截圖 2019-04-12 下午12 47 14](https://user-images.githubusercontent.com/37435427/56013020-84831d80-5d21-11e9-928c-6ad44ad5d453.png)

#3 try running mage2vs/src/test_multi

[2019-04-12 05:00] AndreiBelokopytov commented on #2663
Sure, I will do it

[2019-04-12 05:04] ananth-iyer commented on #2700
@pkarw Could be we have password configuration same like Magento in config.xml and local.xml for VS?

[2019-04-12 06:42] #2702 closed

[2019-04-12 07:01] lukeromanowicz opened #2712 "ES Queries silently ignore connection errors"
## Current behavior
The error that is thrown while connecting to ES is silently ignored. It works fine for offline mode but also makes debugging extremely hard i.e. when the SSR does not have access to vhost of API

https://github.com/DivanteLtd/vue-storefront/blob/159357fba37e1c9eecc1c4f128120d6964a64f24/core/lib/search.ts#L86-L114

## Expected behavior
Some sort of debug information should be th

[2019-04-12 07:19] grimasod opened #2713 "Infinite loop on multi-store site after Account page reload"
## Current behavior

Reloading any my-account url on a multi-store site causes an infinite redirect loop and constant requests to the server

## Expected behavior

A single reload

## Steps to reproduce the issue

1. In a browser tab, go to https://demo.storefrontcloud.io/de/
2. Login (roni_cost@example.com, roni_cost3@example.com)
3. Navigate to any Account page, eg My Orders
4. Reload the page u

[2019-04-12 07:42] ArturDivante commented on #2704
@pkarw
Problem is, on certain display settings (not really edge cases) additional products wont loead at all, even when you scroll down to the bottom of PLP.

The numbers may vary. Today im testing on laptop (screen also 1920 x 1080, but diffrent size), and bugged setting are diffrent:

67% - bugged
75% - loads correctly
80% - loads correctly
90% - bugged
100% - loads correctly
110% - bugged

If n

[2019-04-12 07:55] lukeromanowicz commented on #2712
The issue is caused by using logger that is muted on SSR, now the question is - what do we do about it? @pkarw @filrak

https://github.com/DivanteLtd/vue-storefront/blob/159357fba37e1c9eecc1c4f128120d6964a64f24/core/lib/logger.ts#L68-L78

[2019-04-12 07:58] lukeromanowicz commented on #2522
@ResuBaka it's not done in 1.9 and there is only a slight chance that I will find enough time to discuss and do it in 1.10.

[2019-04-12 09:20] nuovecode commented on #2604
Same error here after an upgrade from 1.5 to 1.9
The problem doesn't concern all the categories but only some of them, I'm investigating

In console I have this error:
Category query returned empty result url_key = sample-category null

[2019-04-12 09:38] pkarw commented on #2604
@nuovecode in 1.9 You need to have `url_path` and `url_key` set in category entities - please make sure You've re-indexed the database using the most recent mage2vuestorefront

[2019-04-12 09:42] Ale763 commented on #2708
I forgot to mention the problem resolves itself after doing a new import, but that can't be a valid solution. Prices can be changed quite often and it's not always possible to do a full import. Right?

[2019-04-12 09:44] pkarw commented on #2708
Hi @Ale763 please do try [delta indexer](https://github.com/DivanteLtd/mage2vuestorefront#delta-indexer)

[2019-04-12 09:45] pkarw commented on #2712
@lukeromanowicz it's safe to let the debug messages pop up in SSR as long as there is no production mode on

[2019-04-12 09:53] pkarw commented on #2691
@revlis-x - thanks for You insight! Could You please prepare a Pull Request with a fix

[2019-04-12 09:53] Ale763 commented on #2708
I can't test it right now. I'll do it this afternoon. How would I automate it? Shouldn't this be done automatically after a price change?

[2019-04-12 09:56] pkarw commented on #2708
Please read the mage2vs on ondemand indexer, delta indexer (that can be set in crontab) + take a look at the: https://github.com/DivanteLtd/magento2-vsbridge-indexer

[2019-04-12 09:56] #2698 closed

[2019-04-12 09:58] pkarw commented on #2584
This is 100% configurable in the Magento (and we get it from Magento totals enpoint in the final form). Probably it needs to investigate the proper M2 config regarding the totals

[2019-04-12 09:59] pkarw commented on #2711
Hi, the error message points to invalid permissions to "Categories" resource - on the screen i don't see categories checked (due to limited screenshot area I belive) - make sure it's been checked along with the "Sales" section

[2019-04-12 10:45] GabiDivante opened #2714 "Erin Recommends filter doesn't work with other filters (color and size)"
## Current behavior

When I want to filter products only by Erin recommends (without other filters), the filter results are displayed correctly (according to the setting of the Edin recommendations parameter in the magento product edition).
The same for choosing filters at once: price and Erin recommends.

**However, when I use additional filters: color or size, then selecting the Erin recommends

[2019-04-12 11:17] michhy commented on #2711
Dear Piotr,

No no, I tried to check all and still give the same error. (I've been fighting with this error for whole day and pretty sure its not becoz I missed checking boxes)

I just installed a fresh 2.3.0 magneto on server, and everything works fine again.

It must dealing with some fixing in RestAPI of 2.3.1.

See anyone have tried the same situation.

[2019-04-12 11:26] lukeromanowicz opened #2717 "Logger Refactoring & display logs in SSR"
## What is the motivation for adding/enhancing this feature?
Logger has a lot of lines where the code could be slightly improved.
It is also lacking unit tests.
Last but not least, showing most of the logs in SSR is omitted and there is no way to display them.

## What are the acceptance criteria
- Logger has unit tests
- Logger has improved code quality
- It is possible to display debug and info

[2019-04-12 11:27] lukeromanowicz commented on #2712
Will be fixed in #2717

[2019-04-12 11:27] #2712 closed

[2019-04-12 14:51] Zyles commented on #812
Use the wordpress rest API for this. So you can use WP as a headless CMS.

[2019-04-12 15:25] Cyclonecode commented on #812
This was actually on my TOODO list =)

[2019-04-12 17:55] pkarw commented on #812
Well, it has been already done in the mean time: https://github.com/develodesign/vsf-wp :-)

[2019-04-12 17:55] #812 closed

[2019-04-12 17:56] pkarw commented on #804
Well, it has been already done in the mean time: https://github.com/develodesign/vsf-wp :-)

[2019-04-12 17:56] #804 closed

[2019-04-12 18:23] pkarw commented on #2714
The problem is that the filters ARE NOT refreshing themselves when another filter is being selected. It might be good idea to improve it!

[2019-04-12 18:33] pkarw commented on #2713
We should probably move this redirect to `beforeResolve` as `storeCode` is checkd in `client-entry.js` beforeResolve as well; https://github.com/pkarw/vue-storefront/blob/be69f5fec7171bf7a04f254f215c8fd19fca5095/core/client-entry.ts#L85

The other option is to add the module based hook after the app is ready (multistore set, translations loaded etc) - currently we don't have an option to bind to s

[2019-04-12 18:36] #2691 closed

[2019-04-12 18:41] pkarw commented on #2540
Related to #2592

[2019-04-12 18:41] pkarw commented on #2577
@afirlejczyk is it already done?

[2019-04-12 18:41] #2577 closed

[2019-04-12 18:42] #2545 closed

[2019-04-12 18:43] #2460 closed

[2019-04-12 18:44] pkarw commented on #2427
Can't confirm this bug on demo

[2019-04-12 18:44] #2427 closed

[2019-04-12 18:44] #2382 closed

[2019-04-12 18:47] pkarw commented on #2714
Related to (Duplicate of): #2322

[2019-04-12 18:48] #2222 closed

[2019-04-12 18:50] pkarw commented on #2131
It has been proposed by @BartoszLiburski - not sure if it has been finally merged in ...

[2019-04-12 18:50] #1974 closed

[2019-04-12 18:50] #1907 closed

[2019-04-12 18:50] #1806 closed

[2019-04-12 18:51] #1709 closed

[2019-04-12 18:51] #1672 closed

[2019-04-12 18:52] #1596 closed

[2019-04-12 18:53] pkarw commented on #1553
https://www.dnd.fr/2019/03/discover-our-new-connector-between-vue-storefront-and-prismic/

[2019-04-12 18:53] #1553 closed

[2019-04-12 18:53] #1483 closed

[2019-04-12 18:53] #1423 closed

[2019-04-12 18:54] #896 closed

[2019-04-12 18:54] #858 closed

[2019-04-12 18:55] #830 closed

[2019-04-12 18:55] #831 closed

[2019-04-12 18:55] #832 closed

[2019-04-12 18:55] #833 closed

[2019-04-12 18:55] #834 closed

[2019-04-12 18:55] #835 closed

[2019-04-12 18:55] #837 closed

[2019-04-12 18:55] #697 closed

[2019-04-12 18:55] #184 closed

[2019-04-12 18:56] pkarw commented on #625
https://github.com/DivanteLtd/storefront-ui

[2019-04-12 18:56] #625 closed

[2019-04-13 15:54] Ravin0319 opened #2719 "Unable to Import a Plugin"
Hi I am trying to import and use 'vue-instantsearch'
https://github.com/algolia/vue-instantsearch

I followed the steps here:-
https://docs.vuestorefront.io/guide/core-themes/plugins.html

`file: src/theme/test/index.js`
`import { setupMultistoreRoutes } from '@vue-storefront/core/lib/multistore`
`import App from './App.vue'`
`import routes from './router'`
`import Vue from 'vue'`
`import VueProgr

[2019-04-13 16:09] coccoinomane commented on #2538
Hi there!
I have sent a pull request for review in which I have removed the `theme-starter` references from the docs.
I did so because at the moment it is a bit confusing having the docs referr to a non-existent folder in the codebase.
I hope that helps, otherwise please feel free to close the PR.
Cheers,
Guido

[2019-04-13 18:01] #2538 closed

[2019-04-13 18:04] pkarw commented on #2719
Please make sure that Your theme is properly processed by Babel to use ES5/6 -> https://github.com/DivanteLtd/vue-storefront/blob/159357fba37e1c9eecc1c4f128120d6964a64f24/core/build/webpack.base.config.ts#L143

Apparently InstantSearch module needs to be explicitely added to babel include

[2019-04-13 18:04] #2719 closed

[2019-04-13 18:49] #2708 closed

[2019-04-13 18:49] pkarw commented on #2708
I'm closing the issue for now let me know if the problem still exists so it need to be reopened @Ale763

[2019-04-13 23:02] pkarw commented on #2343
Closed by #2724

[2019-04-13 23:02] #2343 closed

[2019-04-13 23:02] pkarw commented on #1708
Closed by #2724

[2019-04-13 23:02] #1708 closed

[2019-04-13 23:02] pkarw commented on #1104
Closed by #2724

[2019-04-13 23:02] #1104 closed

[2019-04-13 23:04] #2120 closed

[2019-04-14 07:11] Ale763 commented on #2708
Sorry I haven't had the time to test it on friday. I'll certainly do it tomorrow.

[2019-04-14 07:26] Ravin0319 commented on #2719
Hey,

Thanks for responding.

I added this:-

include: [
          path.resolve(__dirname, '../../node_modules/@vue-storefront'),
          path.resolve(__dirname, '../../node_modules/vue-instantsearch'),
          path.resolve(__dirname, '../../src'),
          path.resolve(__dirname, '../../core')
        ]

Vue.use(InstantSearch)

and i still have the same Error.

If i add vue-instantsearch in

[2019-04-14 07:28] pkarw commented on #2682
I've probably fixed it in https://github.com/DivanteLtd/vue-storefront/pull/2724 - please do check and backport if necessary or move #2611 to 1.10

[2019-04-14 07:38] pkarw commented on #2696
I had some time during the weekend so I've refactored Category.js having a little bit: https://github.com/DivanteLtd/vue-storefront/pull/2724

It's like point no.2 accomplished:
`Move logic from core pages to Vuex so it can be easily consumed by new theme (Theme 2.0). Old actions and getter must remain for backward compatibility but shouldn't be included in docs and warnings should be prompted eve

[2019-04-14 07:46] pkarw opened #2725 "User account menu is displayed as a subcategory - wrong level"
## Current behavior

![Screenshot 2019-04-14 09 44 14](https://user-images.githubusercontent.com/211899/56089880-1c0b7c00-5e9a-11e9-813c-21d1492c4a22.png)

## Expected behavior

This menu should be displayed at Sidebar's root level only
## Can you handle fixing this bug by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state t

[2019-04-14 12:23] Zulcom opened #2726 "dbNamePrefix ingored on order/PROCESS_QUEUE event"
## Current behavior
`dbNamePrefix` ignored in `order/PROCESS_QUEUE` listener

## Expected behavior
respect dbNamePrefix in `order/PROCESS_QUEUE` listener

## Steps to reproduce the issue

Set not-empty `storeView.storeCode`, for example `zulcom`
See in developer tools name of shop storage equals `shop` instead of the expected  `zulcom-shop`

## Can you handle fixing this bug by yourself?

- [x] YE

[2019-04-14 17:19] kirillreo opened #2728 "Enable the price ranges to be configured in local.json"
I need to use price range as custom.
For example:
0-1000,
1000-5000,
5000-25000,
Now price range in code is hardcode
0-50
50-100
100-150
150-

There is that hardcode:

[core/lib/search/adapter/api/elasticsearchQuery.js](https://github.com/DivanteLtd/vue-storefront/blob/master/core/lib/search/adapter/api/elasticsearchQuery.js)
`  // Add aggregations for catalog filters
  const allFilters = searchQu

[2019-04-14 17:33] pkarw commented on #2728
Hi there! Good point. It’s a pretty cool idea for a new feature and contribution; happy to merge it to the core

[2019-04-14 18:12] nikhilbansal opened #2729 "Remove syncTasks from localStorage to not exceed the quota"
## Current behavior
Adding product to cart fails with the following error.

DOMException: Failed to execute 'setItem' on 'Storage': Setting the value of 'shop/syncTasks/1555264201406-98d5f556-671b-d61e-16c2-74f025933ffb' exceeded the quota.

The chrome storage shows 15.8MB used out of 7702MB storage.

## Expected behavior
Should be able to add products to cart successfully.

## Steps to reproduce

[2019-04-14 18:20] pkarw commented on #2729
syncTasks are stored within localStorage which is cleared out (LRU) after amount of data specified in the config. Please try to lower the https://github.com/DivanteLtd/vue-storefront/blob/159357fba37e1c9eecc1c4f128120d6964a64f24/config/default.json#L17

Another option is to set the storage to INNODB driver - https://github.com/DivanteLtd/vue-storefront/blob/159357fba37e1c9eecc1c4f128120d6964a64f24

[2019-04-14 21:53] mdesmet commented on #1899
Hi I have this working already, can submit a PR.

[2019-04-14 22:31] nikhilbansal commented on #2729
We never changed the default value of elasticCacheQuota and is still 4096 which means that LRU data is not getting cleared once it goes beyond the limit. Can you please point to the code which is responsible for clearing LRU data.

Don't know how to configure INNODB driver at chrome level. However when I changed the storage driver of syncTasks to INDEXED db and refreshed the same tab which was giv

[2019-04-15 04:06] pkarw commented on #1899
Great! Please do :-)

[2019-04-15 06:17] Ale763 commented on #2708
I'm having issues installing the indexer. Any ideas?
![image](https://user-images.githubusercontent.com/13874391/56111024-d496f580-5f56-11e9-9509-3da042839db8.png)

[2019-04-15 06:36] grimasod commented on #2700
It's also confusing when the password validation passes and the order is submitted successfully. There are multiple messages about being logged in and proceeding to the checkout. Also, I just did a test on the Develop branch and my cart still contained items after the Order Confirmation was displayed. This could cause confusion possibly lead to customers submitting their order twice.

All the info

[2019-04-15 06:54] grimasod commented on #2700
Another solution is to remove the "I want to create an account" checkbox and instead have a "Create an account" link, just like the "login to your account" link, except it would open on the "Register" form. It already works, almost perfectly, by clicking on the Account icon to create the account while on the Checkout page

[2019-04-15 08:20] ArturDivante commented on #2725
@pkarw issue was already reported, fixed and merged in 1.10.0-rc.1  :)
#2612
#2625

[2019-04-15 08:20] #2725 closed

[2019-04-15 08:43] GabiDivante opened #2730 "Incorrect working of checkboxes in checkout"
## Current behavior

After marking the "ship to my default address" or "copy address data from shipping" checkbox, the form is not filled in with data, whereas after unmarking checkboxes - forms are filled in.
![incorrectoperationofcheckboxe](https://user-images.githubusercontent.com/49188852/56117548-9aceea80-5f68-11e9-9639-aa3e85edad2f.gif)

## Expected behavior
After selecting the "ship to my d

[2019-04-15 08:44] Cyclonecode commented on #2131
I don't see that this is merged?

[2019-04-15 08:55] Cyclonecode opened #2731 "Default storecode is not working"
## Current behavior

If I set the `defaultStoreCode` to the code for one of the configured storeViews the page breaks and I'm redirected to the `/error` route.

## Expected behavior
The `defaultStoreCode` should dictate which storeView to load as default.

## Steps to reproduce the issue

Configure and enable multistore and set `defaultStoreCode` to the code of one of your storeViews and restart v

[2019-04-15 11:32] GabiDivante opened #2732 "Selected filters are reset - after going to the product page and then going back to the products list"
## Current behavior

If I choose some filters (for example red, size s) and
-> then go to the product page
-> then after going back to the list of products **choosed filters are not remembered.**

![Selectedfiltersarereset](https://user-images.githubusercontent.com/49188852/56129477-797af800-5f82-11e9-8e7e-3e99fdf81ecf.gif)

## Expected behavior

If I choose some filters (for example red, size s)

[2019-04-15 11:44] Ale763 commented on #2708
I'm having trouble installing the indexer. I had to configure Magento to use elasticsearch 5.4.0 instead of Mysql. Now I get an error `Incorrect theme identification key` when running `bin/magento setup:upgrade`. Any suggestions?
![image](https://user-images.githubusercontent.com/13874391/56130214-96182f80-5f84-11e9-840b-59c37e4137d8.png)

[2019-04-15 12:51] GabiDivante opened #2733 "Showing number of available products"
## What is the motivation for adding / enhancing this feature?

When a customer wants to order several pieces of a given product, for ex 10, and this quantity is not available - he must try one by one to determine how many items he can order.

![Showingnumberofavailableprod](https://user-images.githubusercontent.com/49188852/56132412-302ea680-5f8a-11e9-8b19-4969f74acaa1.gif)

In the message about

[2019-04-15 13:09] ArnabBanerjee opened #2734 "How to make apk for Vue-Storefront? Is there any straight forward way to make it?"
## What is the motivation for adding / enhancing this feature?

I have tried to convert it by using 'Native-Vue' and got success 90% as Current Version of Native-Vue(2.0) only support manual routing so I have changed the vue storefront routing section. so is there any straight forward way then it will be much easy to convert to apk and time saving also
## What are the acceptance criteria

- [
 1.

[2019-04-15 13:12] pkarw commented on #2732
This has just been fixed by #2724 (it’s waiting for being merged to develop and deployed to test)

[2019-04-15 13:12] #2732 closed

[2019-04-15 13:28] Ale763 commented on #2708
I think I figured out why the Tier Prices are not showing correctly. The call to retrieve the product data on the product page (`V1/products-render-info?searchCriteria=&searchCriteria[filter_groups][0][filters][0][field]=sku&searchCriteria[filter_groups][0][filters][0][value]=24-MB01%2C&searchCriteria[filter_groups][0][filters][0][condition_type]=in&storeId=1&currencyCode=USD` - don't mind the act

[2019-04-15 14:06] Zulcom opened #2735 "Unexpected window.localStorage use in user module actions"
## Current behavior

https://github.com/DivanteLtd/vue-storefront/blob/6a81be54dc088654b717d0cc624a90acf487a489/core/modules/user/store/actions.ts#L17-L23

## Expected behavior
Don't break abstraction level, use `Vue.prototype.$db.usersCollection`

## Steps to reproduce the issue

1. Set default driver for user storage as `INDEXEDDB`
2. Set breakpoint to referenced code line
3. Make user register

[2019-04-15 14:08] pkarw commented on #2735
Thanks! In fact It should be changed

[2019-04-15 14:24] #2735 closed

[2019-04-15 14:30] Cyclonecode commented on #2731
This seems to be fixed in 1.8.4

[2019-04-15 14:32] #2731 closed

[2019-04-15 14:33] pkarw commented on #2733
The number should be taken from the stock/check view action - asynchronously called after entering the product page. We should not take it from the elasticsearch as there is no guarantee it’s got a current value

[2019-04-15 18:07] #2726 closed

[2019-04-16 06:23] #2717 closed

[2019-04-16 06:26] pkarw commented on #2729
Acceptance criteria:
- `syncTasks` are being removed from localStorage after task is successfully executed - it should be [removed in here](https://github.com/DivanteLtd/vue-storefront/blob/cde3b9c03eff3deeea7dc0bdd5cc9e311cfafa07/core/client-entry.ts#L257-L258) instead of updating the task

[2019-04-16 07:18] pkarw commented on #858
https://github.com/develodesign/vsf-intercom

[2019-04-16 07:51] lukeromanowicz commented on #2734
Cordova is probably a way to go in this case

[2019-04-16 07:59] ArnabBanerjee commented on #2734
I have never used Cordova, so it is possible to make vuestore front apk using Cordova.Thanks for the help, if I face any difficulty to make make the apk then is it ok if I ping you again?

  On Tue, 16 Apr 2019 at 1:21 PM, Łukasz Romanowicz<notifications@github.com> wrote:
Cordova is probably a way to go in this case

—
You are receiving this because you authored the thread.

Reply to this email d

[2019-04-16 08:02] lukeromanowicz commented on #2734
Me neither :-)  I've just heard from a few colleagues in the past that it's a reliable solution when it comes to converting SPA to android/ios app.

[2019-04-16 08:08] lukeromanowicz commented on #2696
How about a complex module extending mechanisms with dependency check that would be resolved in building step by webpack? Currently, we only have extendModule supporting stores and routes but both code versions reach browsers, I believe. Also loading files with fallback to base module/theme would be useful, especially in themes. We want the app to be both extensible and thick after all.

[2019-04-16 08:49] ArturDivante opened #2740 "Ordering 'out of stock' products in offline mode - error"
## Related issues
#2044

## Steps to reproduce the issue
1. Go to https://demo.storefrontcloud.io/
2. Open women category
3. Turn to **offline mode**
4. Open https://demo.storefrontcloud.io/p/WT06/chloe-compete-tank/WT06 (example of a product we know is out of stock by default)
5. Add Product to cart in  blue/XS (default) version (example of out-of-stock product version)
6. Go to checkout and plac

[2019-04-16 09:01] pkarw commented on #2740
As for now we should better handle the ThankYouPage + display the proper error message in that case

[2019-04-16 09:03] pkarw commented on #2310
https://github.com/bitbull-team/vue-storefront-api/commits/2310-msi
https://github.com/bitbull-team/magento2-rest-client/commits/2310-msi

[2019-04-16 09:47] GabiDivante opened #2741 "Validation of fields 'company name' and 'tax' in checkout doesn't work correctly"
## Current behavior

Filling the form after marking checkbox "I want to generate an invoice for the company" always results in the validation message "Field is required":
-> each time for field "company name"
-> and when trying to fill in the "tax" field - if it was left empty before.
As a result, you can't go to "Review Order".

![companyname_tax_validation](https://user-images.githubusercontent.

[2019-04-16 10:00] filrak commented on #2696
@lukeromanowicz improved module API is in a roadmap too ;) just not a main focus yet. In short words you can imagine it being more and more similar to Nuxt modules (which includes build time registration you mentioned) + ability to easily distribute modules into different routes and components via abstraction on top of Vuex (similar to RouterManager).

Regarding unit tests - new code will be unit

[2019-04-16 10:52] PatrickKluwig commented on #1675
Hey, are there any news on it? :)

[2019-04-16 11:21] ananth-iyer commented on #1675
@PatrickKluwig I am working on this issue
Because the Base Checkbox component is currently improved I am to refactor the current implementations for the bundle product.
PR: https://github.com/DivanteLtd/vue-storefront/pull/2679

[2019-04-16 12:25] #2584 closed

[2019-04-16 13:29] lukeromanowicz commented on #2740
@pkarw extracting order synchronization to a visual layer and notifying a user about successful/unsuccessful order placement when he's back online would be a great feature and simplify solutions to a lot of similar issues to this one. Same goes for products that have additional business validation, invalid address fields, expired coupons etc. If you think it's a viable set of features then we shou

[2019-04-16 13:47] mdesmet commented on #2558
Hi,

Is this the mailchimp integration or rather integration with magento 2?

Maybe we can provide generic components and do the integration with either magento2 or maichimp in vue-storefront-api?

I'm actually working right now on mailchimp but also looking at replacing mailchimp with standard magento 2 functionality.

[2019-04-16 14:00] mdesmet commented on #2711
Hi Michhy, I'm on magento 2.3.1 and have no problems with permissions as you have.

[2019-04-16 14:05] GabiDivante opened #2743 "Order ID displayed in 'My orders' identical to the order ID in Magento"
## What is the motivation for adding / enhancing this feature?

Currently, order ID displayed in 'My orders' is different from order ID in Magento. It is confusing for the customer when he sees one order ID in 'My orders' and gets a different one in the email order confirmation from Magento.

## What are the acceptance criteria

- [ ] Order ID displayed in My orders is the same as in Magento Order

[2019-04-16 17:39] michhy commented on #2711
Dear Mdesmet
Thanks, I will try installing 2.3.1 again and test later.

[2019-04-16 17:50] michhy opened #2744 "Shipping charge remains unchanged after selecting different shipping method on checkout"
## Current behavior

I hv activated two shipping method in magento, in vsf it display the two shipping methods correctly. However when selecting the non-default one, the shipping cost above the total does not change.
When proceed to payment it selected the default shipping method again.

** I tried to add '.native ' at line 88 shipping.vue
(@change="$v.shipping.shippingMethod.$touch();)
like how y

[2019-04-16 18:23] #2711 closed

[2019-04-16 18:25] pkarw commented on #2741
Related to #2742

[2019-04-17 07:37] #1766 closed

[2019-04-17 08:57] mdesmet commented on #2576
There is an API available. https://devdocs.magento.com/redoc/2.3/customer-rest-api.html#operation/customerAccountManagementV1ChangePasswordByIdPut

I'll implement it and submit a PR.

[2019-04-17 11:09] hosseinmirhosseini76 opened #2748 "how to define categories in sidebarMenu.vue"
## Current behavior

categories: [{
        id: 13,
        parent_id: 11,
        name: 'Bottoms',
        is_active: true,
        position: 2,
        level: 3,
        product_count: 0,
        children_count: 2,
        children_data: [
          {
            id: 18,
            parent_id: 13,
            name: 'Pants',
            is_active: true,
            position: 1,
            level:

[2019-04-17 12:38] GabiDivante opened #2749 "After logging in when placing an order, products previously added to the basket are automatically added to the current order"
## What is the motivation for adding / enhancing this feature?

Currently, a customer who:
-> added selected products to the basket,
-> went to checkout,
-> then logged in to his account (from the personal details step)
has automatically added to the current order, **products that were previously in his basket** (which he added to the cart during the previous visit).
The customer may purchase more

[2019-04-17 14:20] ArturDivante opened #2750 "'Instant checkout' sends doubled names and adresses"
## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io/
2. Add any product to cart
3. Open cart
4. Click 'Instant checkout' and fill necessary data
5. Send order
6. Check confirmation mail
7. Check order details in magento

## Current behavior
Data send with order contains doubled first name, last name and adress line

![magento](https://user-images.githubusercontent.com/47415585

[2019-04-17 16:01] schellenbergk commented on #843
bump :)

[2019-04-17 16:05] ResuBaka commented on #2522
I have made a small [POC](https://github.com/ResuBaka/vue-storefront/tree/add-prettier-support) where i need some feedback of how the eslint settings should look like.
Should i make a PR for the changes and in there the changes that still need to be done to the eslint or should these be done here in the Ticket?

One of the settings that could be changed is [space-before-function-paren](https://esl

[2019-04-17 17:07] AndreiBelokopytov commented on #2663
Hmm ... I looked at it again and thought that the problem is more complicated.
For now request will be cached for future attempt if server didn't return HTTP status 200.
It's ok for statuses >= 500, because we need to retry request if the problem is on the server, but it is wrong for statuses from 400 to 499 (client error). If something is wrong with request itself we should not retry it!
In this

[2019-04-17 17:42] pkarw commented on #2522
@lukeromanowicz we need you in here I guess :)

[2019-04-17 17:43] pkarw commented on #2749
cart/serverPull shouldn’t be called after user logs in in the checkout (otherwise it should work as it is right now without changes)

[2019-04-17 17:46] pkarw commented on #2663
I belive we should do both: changing error statuses inside Vue-storefront-api. Add general workaround - hotifx to not queue orders in case of http error other than 200 (we should use the queue only for network outage / offline mode - in this case there is no http error at all rather there we have a fetch exception)

[2019-04-17 17:50] pkarw commented on #2744
Thanks for pointing this out! Please select on which version have You got this issue: demo/next/test?

[2019-04-17 17:52] pkarw commented on #2740
@lukeromanowicz yes, that makes perfect sense to me. We should have this kind of general error handler in here. So I belive you could create such a feature request and maybe close this issue with it

[2019-04-17 17:57] pkarw commented on #2748
Please take a look at the https://github.com/DivanteLtd/vue-storefront/pull/2100

You could turn off dynamic categories prefetching Or return the subcategories from the backend (if dynamic prefetching is enabled)

By default VS is querying Elastic Search when You click the category to get subcategories for this parent one.

[2019-04-17 17:57] #2748 closed

[2019-04-17 18:07] michhy commented on #2744
I am debugging base on 1.8.3, with magento 2.3.0.

I checked by console.log the 'currentShippingMethod' variable in vsf/core/modules/checkout/components/shipping.ts,  the shipping method is not changed by the @change function by selection (changeShippingMethod triggered from theme/compoents/core/blocks/Checkout/Shipping.vue), it still showing the default selected shipping method.

[2019-04-17 18:57] pkarw commented on #2744
Could you Please check 1.8.5 and 1.9.0? There were fixed around shoppingu methods i guess

[2019-04-17 21:11] lukeromanowicz opened #2753 "Offline Sync Notification"
## What is the motivation for adding/enhancing this feature?
Extracting state synchronization to a visual layer and notifying a user about successful/unsuccessful actions when he's back online would simplify and solve a lot of issues regarding offline actions. It should be used in ordering out of stock products, products that have additional business validation, invalid address fields, expired cou

[2019-04-17 21:15] lukeromanowicz commented on #2740
@pkarw I elaborated my idea in #2753. If it's similar to what you have in mind

[2019-04-17 21:27] lukeromanowicz commented on #2663
I believe that #2753 would help a lot in this case.

[2019-04-17 21:45] lukeromanowicz commented on #1477
We need a preset of rules that will match in all three tools without causing conflicts

[2019-04-17 21:49] lukeromanowicz commented on #2522
@ResuBaka
The early version looks very promising. Changes made by prettier look similar to what our ESlint would expect. Please implement also the TSlint and make a PR. We can implement it as solution to #1477

[2019-04-18 05:44] alinadivante opened #2755 "New zoom effect for product gallery images."
## What is the motivation for adding / enhancing this feature?
 Someone wrote that product detail image zoom functionality is not ux friendly.
We could change the zoom so that users can see a larger zoom, more details of the image, using a magnifier icon. See example:
![image](https://user-images.githubusercontent.com/36628922/56338739-90506300-61ab-11e9-8825-f916ce945c66.png)

## What are the acc

[2019-04-18 07:58] daksamit commented on #2131
I think, it should be more like option than standard. What if we want point to external api like:
[code]

We should check if endpoint starts with `https://` otherwise use declared api.url as prefix.

[2019-04-18 08:02] pkarw commented on #2131
@daksamit it could make sense; mabye just propose aPoC?

Definitely we shouldn’t change the current behavior - we can add this new endpoint etc but as an option

[2019-04-18 08:06] michhy commented on #2744
Hello,
Sorry I found out I have forgotten to add the method to local.json in vue-storefront/config.
I did update my code upon to the newest version.

Sorry for the trouble!
Thanks a lot!

[2019-04-18 08:06] #2744 closed

[2019-04-18 08:21] MikeSheward commented on #858
@pkarw Thanks, i forgot to link it here too !

[2019-04-18 08:52] GabiDivante opened #2756 "Add config to set the way orders are displayed in 'My orders' (for an email address or user account)"
## What is the motivation for adding / enhancing this feature?

**Currently, 'My orders' displays orders, which are assigned to a given email address and not to a user account.**
As a result, we always see all orders made from this email address and not only those placed from the account created for this email address.

Situations where this may be a problem:

1. After removing the user account (f

[2019-04-18 08:53] ArturDivante opened #2757 "Inconsistent behaviour of picture slider od PDP"
## Current behavior
Picture slider mechanism needs to be triggered by 1st use of side arrows icons. Until then, clicking on color buttons or small icons in the bottom of the picture, will result in simple picture swtich, without sliding animation. After first use, every method of picture browsing will be using sliding animation.

## Expected behavior
When using arrow buttons - animation should alw

[2019-04-18 08:57] filrak opened #2758 "Adjust Introduction to medium post"
https://medium.com/the-vue-storefront-journal/introduction-to-vue-storefront-a-quick-getting-started-guide-d119023ed67d

https://docs.vuestorefront.io/guide/#what-is-vue-storefront

TODO:
- Create "General information" label for docs category
- Adjust the linked doc to medium post

[2019-04-18 09:18] rio-karim commented on #2693
Happy to take a look at this.

[2019-04-18 09:23] michhy commented on #2744
something to add before I close this issue.
I found out the bug due to vuetique theme, shipping.vue
i changed the radio button code to default theme's one and it works again.

[2019-04-18 09:30] ArturDivante commented on #2756
@pkarw
There is a problem with this concept.

When orders are connected only with email adress (and not to the user account), then every change of user email adress, will result in losing all records of order made by that customer.

Customer can change email adresses for many reasons:
- Lost access/password to previous mailbox
- Spam flood in old mailbox :)
- Found better email provider
- Change n

[2019-04-18 09:34] GabiDivante commented on #2756
@pkarw so should we always display orders for a user account?

[2019-04-18 09:45] pkarw commented on #2744
Thanks! Could you please create an issue in the https://github.com/AbsoluteWebServices/vuetique-theme? Thanks a lot!

[2019-04-18 10:05] SylarRuby commented on #2693
How you on this? Winning?

[2019-04-18 10:08] SylarRuby commented on #2693
I'm not an expert here but I've noticed the use of `$touch()` being used on an `input` with `:validation` also with `focus`. To me, all cannot be mixed. I've removed `focus` on both `Register.vue` and `Login.vue`. See my [branch](https://github.com/SylarRuby/vue-storefront/tree/remove-focus-on-model-%232693)

[2019-04-18 10:09] pkarw commented on #2756
Hi thanks for the comments. I think that we should keep it as a configurable option. There is a lot of use cases around guest orders to registered customer conversions. Let’s have it configurable and probably the customer-id based filtering should be just the default option

[2019-04-18 10:12] rio-karim commented on #2693
Trying to observe the change in Auth States but doesn't seem to fire those methods when the issue throws. Does removing focus attr on the Login and Register fix this issue?

[2019-04-18 10:17] SylarRuby commented on #2693
Yes. I dont have a live demo but you can clone down my repo. Use [this branch](https://github.com/SylarRuby/vue-storefront/tree/remove-focus-on-model-%232693)

[2019-04-18 10:34] rio-karim commented on #2693
Cool stuff, don't forget to put in the PR :)

[2019-04-18 12:53] MikeSheward commented on #2755
I'll have a go at this !

[2019-04-18 15:44] collymore commented on #2733
This has been fixed in today's hackathon, will get the PR done shortly

[2019-04-18 21:51] filrak commented on #2758
@pkarw  This is taken by our docs team as first issue to get familair with vuepress - i just need to wait till they confirm collaboration to assign

[2019-04-19 03:58] michhy commented on #2744
Sure sure!

[2019-04-19 07:24] filrak opened #2760 "[ RFC ] Improved modules API"
## What is the motivation for adding / enhancing this feature?

Current modules API is a huge milestone in VS history but still pretty limited. The goal of this transformation is to cut off those limits.

The biggest limitations are
- inability to load modules lazily in easy way
- modules merging during runtime process (old and new module are landing in final bundle) - still need to figure it out

[2019-04-19 07:50] lukeromanowicz commented on #2760
While we are here, would be nice to add dependency checking between vsf modules. I.e. if there is a checkout module, build process should check if the cart module is being loaded as well. We would probably want also to have control over which modules load first based on something else than alphabetic order.

[2019-04-19 08:04] filrak commented on #2760
@lukeromanowicz the order will be specified in the array, regarding dependency checking I guess it will be handled in the same way as in theme:

If we need module B in module A we just use a dynamic import inside module A and syntax as suggested in RFC. Then every dependency will be downloaded only while needed

[2019-04-19 09:29] pkarw commented on #2760
This is awesome. How about adding the module hooks by this chance? I mean hooks like: afterApplicationLoaded, afterStoreviewChanged (there were few cases we encountered with @patzick thay there’s is no entry point for applying some business logic once the proper store view is loaded)? I think it would be great to use similar approach like Nuxt has and set the fixed set of endpoints; current set is

[2019-04-19 09:41] filrak commented on #2760
Seems like a good idea :) I guess THIS is what event bus should be used for, not for stuff like before/after filter changed etc ;)

[2019-04-19 09:44] pkarw commented on #2760
@filrak yeah, the hooks are better because they’re easier to understand/ discover for new comers - the hell has just frozen as I’m saying that hooks are >in some cases<  better than events haha :) go on and propose the solution, you’re our module master 👑 ;)

[2019-04-19 09:54] filrak commented on #2760
The question is - should those hooks be fired only AFTER the module is loaded (listeners are setted up when module is loaded by the browser) or ALWAYS no matter if module was loaded or not.
 keep in mind that some module may be loaded only on certain situations.

If the answer is AFTER module is loaded then we can even omit the config file registration since it won't do anything important. It seem

[2019-04-19 10:06] pkarw commented on #2760
That’s good point. Some modules are and will be always loaded and there won’t be a problem. The others should probably use something different than hooks (?).

I mean we shouldn’t call the hooks of not-loaded modules I guess (?)

[2019-04-19 13:12] vishal-7037 opened #2761 "Home Page: Header title displayed if newCollection product list not exists"
Header title should be hidden if newCollection product list not exists
There are no products under **Everything New** section but the header is displayed. it shouldn't render id products are not available.

## Current behavior

![2019_04_18_Selection_001](https://user-images.githubusercontent.com/38535982/56425558-765d7000-62d2-11e9-93e8-14495cdc5db2.png)

## Expected behavior

![2019_04_18_Select

[2019-04-19 14:21] filrak commented on #2760
Yes we couldn't but I was trying to figure out if this is even realistic scenario and I guess it isn't. If a module needs to be loaded it needs to loaded fully. If we want to hook into initialization parts of the app tha module should be loaded during intiialization. Loading only the before/after makes no sense since inside of them we are usually refering to internals of module (like vuex actions)

[2019-04-19 15:15] hosseinmirhosseini76 commented on #2748
So, how can I "turn off dynamic categories"?

and where should initialize the categories?

[2019-04-19 17:15] pkarw commented on #2748
Hey! Please do check the description and code changes of  the PR https://github.com/DivanteLtd/vue-storefront/pull/2100

We don’t have any better docs on that yet :-/

[2019-04-20 04:01] chuanman2707 opened #2764 "Index Not Found"
## Current behavior

Hi There,
After fresh install of VSF with google cloud vps, and magento 2.3 on another cloud machine.
I follow the tutorial till this step: `yarn mage2vs import`

Here is the list of import
[code]
```Public index alias does not exists [index_not_found_exception] no such index, with { resource.type="index_or_alias" & resource.id="vue_storefront_catalog" & index_uuid="_na_" & in

[2019-04-20 04:03] chuanman2707 commented on #2764
try to query the database and i found my product there,
`curl -XPOST localhost:9200/vue_storefront_catalog/product/_search`

here is the result
```{"took":13,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":2,"max_score":1.0,"hits":[{"_index":"vue_storefront_catalog_1555731719","_type":"product","_id":"2","_score":1.0,"_source":{"id":2,"sku":"Paddock Cl

[2019-04-20 04:04] chuanman2707 commented on #2764
here are my local config
[code]

[2019-04-20 04:20] kipotlea commented on #2764
Hi, I have the same issue as you.

when i run `yarn mage2vs import` , the error appear:
`Public index alias does not exists [aliases_not_found_exception] aliases [vue_storefront_catalog] missing, with { resource.type="aliases" & resource.id="vue_storefront_catalog" }`

[2019-04-20 05:04] pkarw commented on #2764
This  error message itself isn’t anything wrong.  It means that there was no vue_storefront_catalog index beforehand. The query you’ve pasted shows the products in elastic. What’s the effect in that VS app? It should show the categories and products.

Moreover You could try the PHP indexer: https://github.com/DivanteLtd/magento2-vsbridge-indexer

Please also make sure you’re using ES 5.x (6,x is n

[2019-04-20 05:33] kipotlea commented on #2764
@pkarw , this is my elastic version:
`{
...
  "version" : {
    "number" : "5.6.9",
    "build_hash" : "877a590",
    "build_date" : "2018-04-12T16:25:14.838Z",
    "build_snapshot" : false,
    "lucene_version" : "6.6.1"
  },
  "tagline" : "You Know, for Search"
}
`

effect on VS app (my site: https://zulkiflisaid.com/):
<img width="960" alt="1" src="https://user-images.githubusercontent.com/1660

[2019-04-20 06:08] kipotlea commented on #2764
Never mind, it works now..
this is because i do not change all "localhost:8080" with my domain "zulkiflisaid.com" on my config local.json

[2019-04-20 07:39] pkarw commented on #2764
Ok cool!

[2019-04-20 07:39] #2764 closed

[2019-04-20 09:47] kipotlea commented on #2295
I have same problem with this issue @laportem

[2019-04-20 13:43] kipotlea commented on #2750
Hi @ArturDivante , what VSF version do you use on this https://test.storefrontcloud.io ?

[2019-04-23 05:22] alinadivante opened #2766 "My newsletter without editing mode."
## What is the motivation for adding / enhancing this feature?
After logging into your account, open My newsletter page and hover over the checkbox. You can see animation on this element, but it is not clickable. You have to press on "Edit newsletter preferences" to be able to mark this checkbox.

IMHO checkbox for newsletter should be available without editing mode or it shouldn't have animation

[2019-04-23 07:05] alinadivante commented on #2705
@patzick @pkarw we have again the same problem on test

[2019-04-23 07:07] pkarw commented on #2705
Looks like the database needs to be restored @patzick

[2019-04-23 07:28] pkarw commented on #2558
Related to #2754

[2019-04-23 07:28] pkarw commented on #2459
Related to #2754

[2019-04-23 07:29] pkarw commented on #2364
Related to #2754

[2019-04-23 07:55] GabiDivante commented on #2709
@pkarw there is still a problem with changing pictures for colors but only when you choose a different size than xs

[2019-04-23 08:02] pkarw commented on #2709
I belive it's not yet been deployed. Or maybe have You checked it locally?

[2019-04-23 08:18] GabiDivante commented on #2709
@pkarw  Yes, I checked it locally on branch bugfix/2709

[2019-04-23 08:25] pkarw commented on #2709
OK, it needs to be re-checked by @patzick then

[2019-04-23 09:02] alinadivante opened #2768 "Page is unavailable after refreshing in offline mode."
## Current behavior
When user gets into offline mode and refreshes the page being viewed, then page is unavailable → INTERNET_DISCONNECTED

## Expected behavior
Viewed pages are cached and should be available after refreshing the page.

## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io/
2. Open any category page or product
3. Turn to offline mode
4. Refresh page

## Reposito

[2019-04-23 09:05] follypimpin commented on #2758
@filrak Do you mind being more specific with what to do as regards this issue. Its a bit vague, do you want a category "General Information" label just like the rest or is it meant to be a section in the blog or docs, a little bit more information will be highly appreciated.

[2019-04-23 10:54] alinadivante opened #2770 "Re-use category breadcrumbs for products in the offline-mode"
## Current behavior
Sometimes bread crumbs path is broken (just only name of product is displayed) in offline mode.

![ezgif com-gif-to-mp4](https://user-images.githubusercontent.com/36628922/56575766-ea479300-65c6-11e9-8332-613aebb931f2.gif)

## Expected behavior
The full bread crumbs should always be displayed.

## Steps to reproduce the issue
1. Go to https://test.storefrontcloud.io/ _ (localho

[2019-04-23 11:22] Jensderond commented on #2734
Maybe this could help.
https://docs.pwabuilder.com/jekyll/update/2018/02/03/how-to-package-android.html

[2019-04-23 11:24] pkarw commented on #2768
If browsing in the CSR we need to prefetch the full `/p/....` page url to cache it in serviceworker - otherwise the page isn't cached indeed for full refresh

[2019-04-23 11:29] pkarw commented on #2770
After 1.8 breadcrumbs in CSR mode are loaded async (additional network call is being made) - so without the network connectivity, we can't fetch it. We could add an improvement to cache the full breadcrumb from the product list level however it would be very inefficient (to fetch all the subsequent categories); the other option is to **re-use the current category path (category breadcrumb) in the

[2019-04-23 11:33] pkarw commented on #2768
I've changed to feature request as this behavior isn't anything broken - it was always like this :)

[2019-04-23 11:44] alinadivante commented on #2770
@pkarw and do you know why on demo is also problem with bread crumbs (in online mode)? But here the product name is missing
![image](https://user-images.githubusercontent.com/36628922/56578398-e3704e80-65cd-11e9-90ac-99761d9f6e96.png)

[2019-04-23 11:45] pkarw commented on #2770
It was fixed from 1.9 (next and test)

[2019-04-23 11:48] GabiDivante opened #2771 "The order cannot be placed"
## Current behavior

Currently, there is no possibility to place an order. Message appears:
The order can not be transferred because of the server error. Order has been queued.
![Peek 2019-04-23 13-34](https://user-images.githubusercontent.com/49188852/56578027-e28aed00-65cc-11e9-8944-f66acf8f7b44.gif)

## Expected behavior

After passing all the steps in the checkout and correct completion of the

[2019-04-23 11:48] alinadivante commented on #2770
great

[2019-04-23 11:54] pkarw commented on #2771
It is probably related to validation issues

[2019-04-23 11:55] pkarw commented on #2771
If so, then we could start with the better error handling - showing details which field is causing the issue + trying to sync the validation

[2019-04-23 11:56] daksamit commented on #2131
Ya, when we call endpoint, maybe sth like, instead directly `rootStore.state.config.orders.endpoint` :
[code]
then, we check endpoints from config and return the right endpoint.

[2019-04-23 11:56] pkarw commented on #2771
Related to #2653 and #2740

[2019-04-23 12:12] alinadivante opened #2772 ""Toggle password visible" button works the other way round."
## Current behavior
When user wants make his password visible he has to press  on "eye" icon instead "eye-slash"
![image](https://user-images.githubusercontent.com/36628922/56579967-c76eac00-65d1-11e9-977e-6d2529c7a3b3.png)

## Expected behavior
I expect the reverse behavior, as with other applications (like Gmail has).
![image](https://user-images.githubusercontent.com/36628922/56579942-b32aaf00-

[2019-04-23 13:20] GabiDivante opened #2773 "The ability to add a product to 'wishlist' or 'be compared' from the product list view"
## What is the motivation for adding / enhancing this feature?

The customer can browse products faster by adding them directly to the wishlist or to the comparison from the products list (without going to each products page).

## What are the acceptance criteria

We can add visible buttons next to each product or buttons may be visible after hovering over the product photo.
The buttons may look l

[2019-04-23 15:03] #2761 closed

[2019-04-23 15:10] pkarw commented on #2705
@patzick by some reason all the API requests returns 502 error on test.storefrontcloud.io/api

[2019-04-23 15:30] pkarw commented on #2770
It should be changed in here: https://github.com/DivanteLtd/vue-storefront/blob/c0c6105a28a988247bbbdcd0f5fac7f58226cedf/core/modules/catalog/store/product/actions.ts#L67 - having a second option if `category/list` fails; we could probably just add a call to `              setBreadcrumbRoutesFromPath(context.rootGetters['category/getCurrentCategoryPath'])` before calling `category/list` as the `ca

[2019-04-23 15:31] pkarw commented on #2705
Will be fixed by @patzick with the next deployment. Closing for now - this is no software bug

[2019-04-23 15:31] #2705 closed

[2019-04-23 15:33] pkarw commented on #2771
API returns 500 server error:

[code]

[2019-04-23 15:39] pkarw commented on #2770
The other way to go is to modify the `vue-storefront-api` to setup the breadcrumbs server-side; I mean to move the logic of https://github.com/DivanteLtd/vue-storefront/blob/c0c6105a28a988247bbbdcd0f5fac7f58226cedf/core/modules/catalog/store/product/actions.ts#L43 to `vue-storefront-api`

[2019-04-23 15:42] #620 closed

[2019-04-23 15:42] #624 closed

[2019-04-23 15:42] #719 closed

[2019-04-23 15:42] #749 closed

[2019-04-23 15:44] #2772 closed

[2019-04-23 16:12] #2729 closed

[2019-04-24 00:21] ElijahKotyluk commented on #912
Is this issue available?

[2019-04-24 03:46] lukeromanowicz commented on #2753
@StasiekDivante could you, please, propose some UI design for this one?

[2019-04-24 04:30] lukeromanowicz commented on #2771
This is working fine on the latest develop for both API and VSF for the following address:
[code]
I believe that there might be an issue with babel.conf.js in the configuration of next.storefrontcloud.io. @patzick could you back me up with this one, please?

[2019-04-24 05:58] alinadivante commented on #2772
verified locally

[2019-04-24 08:24] afirlejczyk opened #2781 "PDP. Customizable Options - bugs"
For test purpose, I update product 24-MB05, but changes are not visible yet on vsf demo (only on magento).
http://demo-magento2.vuestorefront.io/catalog/product/view/id/4

## Current behavior
1. Option type - checkbox
- When clicking on one of the option, it select all of the options.
Related to #2089
2. Option type - field (text field)
- Price doesn't change after entering text (on Magento it is

[2019-04-24 09:53] GabiDivante opened #2783 "Incorrect hover activity on the 'filter by categories' in the search view on mobile"
## Current behavior

On mobile devices after clicking on the chosen filter, and then clicking on it to switch it off, the hover remains visible. This may confuse the user which filters are currently being applied.
![Peek 2019-04-24 10-52](https://user-images.githubusercontent.com/49188852/56646122-3a822c00-667f-11e9-86e1-f5ef3a4684a3.gif)

## Expected behavior

After clicking on the chosen filter

[2019-04-24 10:05] michhy commented on #825
Hi all,
Looking forward for any updates on the push notification, no matter via 3rd party on build in.
Many thanks for the hard work!

[2019-04-24 10:23] Devors opened #2784 "Multistore provide to "Duplicate named routes definition""
## Current behavior
After enabling multistore appears route duplicates.

## Expected behavior
 Duplicates shouldn't appears.

## Steps to reproduce the issue
define defaultStoreCode in config
set multistore to true

## Repository
https://github.com/DivanteLtd/vue-storefront/blob/master/config/default.json#L83

## Can you handle fixing this bug by yourself?
- [ ] YES
- [X] NO

## Which [Release Cyc

[2019-04-24 10:35] pkarw commented on #2784
Could You please attach Your local.json file?

[2019-04-24 10:38] Devors opened #2785 "Define store info once and make storeId much dynamic."
## What is the motivation for adding / enhancing this feature?
Make this moment much simple and dynamic.
https://github.com/DivanteLtd/vue-storefront/blob/release/1.9/src/modules/magento-2-cms/components/CmsData.vue#L57

Makes config simpler

## What are the acceptance criteria
Always use "defaultStoreCode": "XX", then all stuff (es, tax, i18n) can be placed once in storeViews.

## Can you complet

[2019-04-24 10:51] Devors commented on #2784
@pkarw thanks
if I leave defaultStoreCode empty - no duplicates then. :+1:
But for what defaultStoreCode then?
https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/basics/configuration.md#default-store-code

[2019-04-24 10:53] pkarw commented on #2784
OK, please try to track the usage of `defaultStoreCode` there should an issue somewhere - maybe in the `setupMultistoreRoutes` in `multistore.ts`

[2019-04-24 11:07] pkarw commented on #2781
Related to: #2141 and #2089

[2019-04-24 11:29] lukeromanowicz commented on #2771
It looks like it was working in NodeJs 10 (which is default nodejs for API), but it wasn't working on older NodeJs 8. Will be fixed in https://github.com/DivanteLtd/vue-storefront-api/pull/224

[2019-04-24 11:52] GabiDivante opened #2787 "The ability to return to the search results from the product page"
## What is the motivation for adding / enhancing this feature?

Currently, using the search function may be impractical:
-> customer searches for products that interest him
-> filters them as needed
-> browses the list of results
-> wants to view the details of one of the products and goes to the product page
-> tries to return to the search results by clicking on the arrow
-> **is moved to the ho

[2019-04-24 11:58] #2771 closed

[2019-04-24 12:10] michaelKurowski opened #2788 "Jest doesn"
## Current behavior

## Expected behavior

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

- [ ] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

- [ ] This is a bug report for test version on https://test.storefrontcloud.io - In this case

[2019-04-24 12:12] #2788 closed

[2019-04-24 12:17] #2697 closed

[2019-04-24 12:58] pkarw commented on #2785
I don't quite get this idea :-) Could You come with the PR please?

[2019-04-24 13:19] #2784 closed

[2019-04-24 13:29] pkarw commented on #2231
@janmyszkier did a great job with the https://github.com/DivanteLtd/vue-storefront-integration-boilerplate/blob/master/1.%20Expose%20the%20API%20endpoints%20required%20by%20VS/Required%20API%20specification.md - so I belive we can close this ticket

[2019-04-24 13:30] #2231 closed

[2019-04-24 13:47] patzick commented on #2653
Closing with related #2771

[2019-04-24 13:53] #2693 closed

[2019-04-24 14:37] ArturDivante commented on #2693
Main problem fixed.  Good job! :)

[2019-04-24 17:57] geektutor commented on #2758
Hello,

By adjusting the medium link, should the link at the header be changed to this one here - https://medium.com/the-vue-storefront-journal/introduction-to-vue-storefront-a-quick-getting-started-guide-d119023ed67d

[2019-04-25 06:25] janmyszkier opened #2792 "Define optional attributes"
This originally requested with a bigger scope in #2231 but one of the tasks can still be done.

 - [ ] Would be great if the end the [Product.ts](https://github.com/DivanteLtd/vue-storefront/blob/master/core/modules/catalog/types/Product.ts) type got updated marking the ? TypeScript notation - not required fields - where suitable.

[2019-04-25 06:26] benjick opened #2793 "Provided docker environment not working out of box"
## Current behavior
Doesn't display any products while running the UI in docker

## Expected behavior
Should display products

## Steps to reproduce the issue
[code]

## Can you handle fixing this bug by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

- [ ] This is a b

[2019-04-25 06:29] pkarw commented on #2793
Have You installed the API locally? If so - then please note that:
- the installer is not running the API / vs via docker
- so `killlall` killed both,
- by running `docker-compose up` You did run just the front-app (You should execute exactly the same command within the `vue-storefront-api` folder)

Of course, it would be nice to keep this process simpler for the user - please go on and propose so

[2019-04-25 06:30] benjick commented on #2793
@pkarw No, the default choices are these:

[code]

[2019-04-25 06:43] pkarw commented on #2793
Oh, in that case, it should work out of the box. Are You using VS 1.8.5 or 1.9 (or even 1.10 -> `develop` branch?)

[2019-04-25 06:45] benjick commented on #2793
@pkarw I'm using current master (`ae6ba30618da6f417ecc9ae47c346337f3bfbf79`), so I guess that's 1.8.5

[2019-04-25 06:46] pkarw commented on #2793
@lukeromanowicz and @patzick it should be checked before 1.9.0 release in that case

[2019-04-25 08:35] janmyszkier commented on #2459
and possibly #1899

[2019-04-25 08:47] collymore commented on #1277
Plugin available here https://github.com/new-fantastic/vsf-facebook-pixel

[2019-04-25 08:47] #1277 closed

[2019-04-25 08:49] janmyszkier commented on #2380
this is connected to #363 (and possibly a duplicate)

[2019-04-25 08:49] janmyszkier commented on #2400
cannot reproduce on `docker-compose version 1.22.0, build f46880fe`
I think this is already solved and can be closed

[2019-04-25 08:50] #2380 closed

[2019-04-25 08:58] pkarw commented on #2740
As a workaround for currently not having the #2753 implemented  we can use the Popup UI from the https://github.com/DivanteLtd/vue-storefront/tree/master/core/modules/offline-order - to just display the details of the order that can't be sent from the queue. In case of any of validation / server error we should just to:
-  display the order details + validation / stock / other error messages we go

[2019-04-25 08:59] pkarw commented on #2663
Somehow related to #2740

[2019-04-25 09:06] chuanman2707 opened #2800 "Content lost for product description"
## Current behavior

This is some of my magento product details page, with long description.
<img width="525" alt="Screen Shot 2019-04-25 at 3 41 48 PM" src="https://user-images.githubusercontent.com/29907469/56723203-b4dfa880-6772-11e9-8580-c2423614522c.png">

After I do `yarn mage2vs import` and `yarn db rebuild`
this is the VSF product page i got
<img width="944" alt="Screen Shot 2019-04-25 at

[2019-04-25 09:17] pkarw commented on #2800
We're using the `product.description` for this text:

[code]

Please do make sure if Your content is in this field or please modify the theme to use the proper one.

https://github.com/DivanteLtd/vue-storefront/blob/76a75759550ec2b7dd9642eb3b281566c1590dc5/src/themes/default/pages/Product.vue#L202

[2019-04-25 09:59] chuanman2707 commented on #2800
I figured out instead of writing text on magento description, i use short description, that why the text show normal on magento frontend but doesn't show up on VSF frontend.

[2019-04-25 10:04] #2800 closed

[2019-04-25 12:29] alinadivante opened #2802 "Add back button arrow on Order details page."
## What is the motivation for adding / enhancing this feature?
Make navigation easier on the orders page. Users pressing arrow/back button can return from the order details view to the full list of all orders.

## What are the acceptance criteria
Add back button on Order details page.

![image](https://user-images.githubusercontent.com/36628922/56735739-9673b000-6766-11e9-9e82-a8040eebaf21.png)

#

[2019-04-25 12:35] pkarw commented on #2802
@StasiekDivante could You please come up with the UX design for this button please?

[2019-04-25 12:39] alinadivante commented on #2802
I think we can use the same arrow like on product details page
![image](https://user-images.githubusercontent.com/36628922/56736231-e8690580-6767-11e9-8f38-75460ac56211.png)
https://demo.storefrontcloud.io/p/MP01/caesar-warm-up-pant/MP01

[2019-04-25 12:48] StasiekDivante commented on #2802
@alinadivante good idea, let's do that!

[2019-04-25 13:59] #2766 closed

[2019-04-25 17:13] lukeromanowicz commented on #2733
@collymore How it's going with the fix?

[2019-04-25 18:12] lukeromanowicz commented on #2793
I've tested it on 1.8.5 following the standard (non-legacy) way of https://docs.vuestorefront.io/guide/installation/linux-mac.html#install-the-vue-storefront-api and products are always there. Do you have any errors? What url is your app making requests to?

[2019-04-25 20:13] benjick commented on #2793
@lukeromanowicz did you try to reproduce the steps I wrote or do you mean the way in the documention always work? It works fine when the installer starts the node application but the provided docker environment does not work out of box.

I can't check right now but I will update asap

[2019-04-26 04:21] michhy commented on #2592
Hi Piotr
I found the way to recreate this issue:
just remake order > clear cart > remake order again for a few times
it also leads to shipping method and payment method loading errors.

[2019-04-26 05:50] patzick commented on #2793
I've watched this yesterday and let luke to double check, we couldn't reproduce this. Please try on current release branch and let us know. I'm moving this for now to 1.9.1 to have focus on that in near future. Please let us know if is it still an issue.

[2019-04-26 06:21] lukeromanowicz commented on #2793
@benjick I mean that I checked if installing steps from the guide are still working and yes, they are. The only thing I had to do was adjust the container name in migration/restore commands which is further in the guide than the issue you described.

![image](https://user-images.githubusercontent.com/46789227/56787248-3af40180-67fc-11e9-9008-b031f3caca70.png)

Following the commands you've posted

[2019-04-26 06:24] pkarw commented on #2793
Maybe the docker container doesn’t mount the config/local.json (?) it should lead to the problem described in here - as Max wrote he’s using demo.vuestorefornt... so shouldn’t have anything to be restored

[2019-04-26 06:52] alinadivante opened #2804 "Lack of back button on product page (test&next environment)"
## Current behavior
There is no back button on product page on the latest version.
Compare demo environment with next
https://demo.storefrontcloud.io/p/WS09/tiffany-fitness-tee/WS09
→
https://next.storefrontcloud.io/women/tops-women/tees-women/tees-25/tiffany-fitness-tee-1513.html?childSku=WS09

**Back button** is replaced with**hamburger menu**.

![image](https://user-images.githubusercontent.com

[2019-04-26 08:23] michhy commented on #2592
I found out the way to fix it:

in core/modules/cart/store/action.ts,
in the function "clear (context)"
remove the line
`context.commit(types.CART_LOAD_CART_SERVER_TOKEN, null)`
add this line instead
`context.commit(types.CART_SAVE, [])`

this basically avoid the token error (originally it turn the cart token to null, and 'remake order' won't generate the new token for the cart, leads to the error

[2019-04-26 08:27] pkarw commented on #2592
@michhy with the proposed fix it might happen that we'll clear the server side cart BEFORE order was being transferred to Magento and being placed -> Risky.

Shouldn't we instead call `cart/serverCreate` in here to make sure cart token isn't empty? Probably we need

[2019-04-26 08:36] benjick commented on #2793
I will do a test on another machine just to make sure, I'll open it again if the problem persists

[2019-04-26 08:36] #2793 closed

[2019-04-26 08:42] RGijsberts opened #2805 "Incorrect status filter in Related Products query"
## Current behavior
The related products query returns products with status 0, 1 and 2. Only 1 and 2 are used in Magento which represent enabled and disabled. I'm not sure that 0 stands for.
We ran into the problem where a disabled product was displayed in the related products area. Clicking on this product returned an error as the product was not meant to be viewed.

## Expected behavior
The expe

[2019-04-26 08:43] pkarw commented on #2805
Thanks! Feel free to propose a PR with a fix for that

[2019-04-26 08:48] ArturDivante opened #2806 "Add 'clear wishlist' button."
## What is the motivation for adding / enhancing this feature?
Similar to clear cart button - currently if user has many products in their wishlist, and want to start fresh, he needs to remove them one by one. Possibility to clear whole wishlist with two clicks (click button + confirmation) would be nice improvement. Adding product to wishlist means less commitment that adding them to cart - so ma

[2019-04-26 08:59] GabiDivante opened #2807 "Reduce the size of the "Apply" button in cart section "add discount code" (on mobile)"
## What is the motivation for adding / enhancing this feature?

On the mobile version, the 'Apply' button is too big, and the field for entering the code too small.
![Selection_002](https://user-images.githubusercontent.com/49188852/56796015-fe330500-6811-11e9-901a-324bb2275302.png)

## What are the acceptance criteria

- [ ] 'Discount code' input is bigger, so the user can see what he enters.
- [

[2019-04-26 09:01] michhy commented on #2592
@pkarw  Yea, you are right.
now I edit the function code like this:
`clear (context) {
    context.commit(types.CART_LOAD_CART, [])
    // context.commit(types.CART_SAVE, [])
    context.commit(types.CART_LOAD_CART_SERVER_TOKEN, null)
    if (rootStore.state.config.cart.synchronize && !rootStore.state.config.orders.directBackendSync) {
      rootStore.dispatch('cart/serverCreate', { guestCart: !ro

[2019-04-26 09:05] filrak commented on #2758
@follypimpin sorry this issue was meant for our docs team

[2019-04-26 09:09] pkarw commented on #2592
OK, cool - could You propose a PR with this fix please?

[2019-04-26 09:19] alinadivante opened #2809 "After refresh My account page user is redirected to Home Page"
## Current behavior
The user browsing the sub-pages of My account, if he refreshes any of them, he will be redirected to the Home page.
![my_account](https://user-images.githubusercontent.com/36628922/56797487-17898080-6815-11e9-8003-fa27fe0ac9bd.gif)

## Expected behavior
After refresh page user should remain on the same page.

## Steps to reproduce the issue
1. Go to My account (open any sub-pag

[2019-04-26 09:20] pkarw commented on #2809
My Account doesn't work in SSR mode - this is intended behavior.

[2019-04-26 09:20] #2809 closed

[2019-04-26 09:31] michhy commented on #2592
@pkarw  it might sounds ridiculous, this is my first time working on github projects, I even donno how to fork my project and merge the updates, I did it all by copy and paste (compare my old code and embed the updates)....  :'(
Do you have any github tutorial that I can follow the steps?

Thanks :P

[2019-04-26 09:38] alinadivante opened #2810 "Pagination on My orders page."
## What is the motivation for adding / enhancing this feature?
If user has a lot of orders, then he has to scroll and scroll the list..

![my_orders](https://user-images.githubusercontent.com/36628922/56798791-cf1f9200-6817-11e9-975c-dd3ce0956c96.gif)

## What are the acceptance criteria
A better solution would be to paginate on the My Orders page instead of scrolling through the entire list of or

[2019-04-26 09:44] GabiDivante opened #2811 "Add 'Show results' button to filters view on mobile"
## What is the motivation for adding / enhancing this feature?

The filters for the list of products in the mobile view are visible in the sliding side tab.
So, the user can not see that by selecting filters the list of products automatically updates.
Switching to filter results by clicking 'x' is not intuitive. 'X' is also not visible when scrolling filters down.
![Peek 2019-04-26 11-40](https://

[2019-04-26 09:56] pkarw commented on #2682
@ArturDivante @GabiDivante @alinadivante - please do test https://github.com/DivanteLtd/vue-storefront/pull/2724 in regards  to #2611 (not yet merged to develop)

[2019-04-26 09:56] #2682 closed

[2019-04-26 09:59] pkarw commented on #2811
@StasiekDivante we need You UX support with this one

[2019-04-26 09:59] RGijsberts commented on #2802
i would like to get busy with this

[2019-04-26 10:04] alinadivante commented on #2713
@patzick on https://next.storefrontcloud.io/de/my-account still user is redirect to Home page

[2019-04-26 10:09] pkarw commented on #2713
@alinadivante if only with Ctrl+f5 - page refersh, then fine. If the redirect occurs while clicking the option in menu (CSR) then it's a bug. My account IS NOT supported in SSR

[2019-04-26 10:12] pkarw commented on #2802
Cool! Go on @RGijsberts

[2019-04-26 10:16] pkarw commented on #2592
I think this one could be helpfull: https://help.github.com/en/articles/creating-a-pull-request

[2019-04-26 11:11] alinadivante commented on #2713
@pkarw it works perfect now on https://next.storefrontcloud.io/my-account so @patzick will improves it also for https://next.storefrontcloud.io/de/my-account

[2019-04-26 11:12] alinadivante opened #2814 "Email address is needed to give a feedback"
## What is the motivation for adding / enhancing this feature?
When user is not logged in then he can't give a feedback, because his email is not charged from the checkout.
![image](https://user-images.githubusercontent.com/36628922/56803996-92a66300-6824-11e9-8aeb-efc8b23cc23a.png)

## What are the acceptance criteria
We need create special field for email address or address must be taken from th

[2019-04-26 11:12] pkarw commented on #2713
OK :)

[2019-04-26 11:41] RGijsberts commented on #2802
Should the arrow be placed as in the screenshot above, on the right side next to the order details ?

[2019-04-26 11:51] alinadivante commented on #2802
@RGijsberts what u think about this place?
![image](https://user-images.githubusercontent.com/36628922/56805719-2fb7ca80-682a-11e9-9e82-58896de47523.png)
(I moved order number to the right)

[2019-04-26 11:54] GabiDivante opened #2815 "Page is zoomed after sorting on product list (iPhone)"
## Current behavior

On iPhone after selecting the sorting option, the page is zoomed.
![Peek 2019-04-26 13-26](https://user-images.githubusercontent.com/49188852/56804875-7b1ca980-6827-11e9-883f-99456a8472a6.gif)
Zoom can only be changed by pinching.

## Expected behavior

The page shouldn't be zoomed after 'sort by' selection.

## Steps to reproduce the issue

1. Go to https://demo.storefrontclo

[2019-04-26 11:56] RGijsberts commented on #2802
That makes sense, I will place it there.

[2019-04-26 12:02] #2805 closed

[2019-04-26 12:23] #2663 closed

[2019-04-26 12:24] #2740 closed

[2019-04-26 12:38] alinadivante opened #2817 "Change header for Order confirmation page"
## What is the motivation for adding / enhancing this feature?
IMHO normal header on confirmation page is a better idea, because after placing an order I want to quickly go to My account and for example check list of my orders.

![image](https://user-images.githubusercontent.com/36628922/56806826-54617180-682d-11e9-86dc-f81725aa8156.png)

## What are the acceptance criteria
Change current header t

[2019-04-26 12:38] alinadivante opened #2818 "Remove some text from Order confirmation page and create new button"
## What is the motivation for adding / enhancing this feature?
Too much, unnecessary text on Order confirmation.

We have form "What we can improve?",  so following text:

is usless.

Also this information is unnecessary

You can log to your account using e-mail and password defined earlier. On your account you can edit your profile data, check history of transactions, edit subscription to newslet

[2019-04-26 18:04] patzick commented on #2573
Fixed issue, when user is back online and not loaded images are still not showing.
Products caching will be fixed with #2682

[2019-04-26 18:04] #2573 closed

[2019-04-26 18:38] pkarw commented on #2804
@patzick i belive we should maybe include this one in 2.9 - it’s probably related to url dispatcher changes (?)

[2019-04-26 19:14] patzick commented on #2804
I'm not sure if i remember it correctly, but this might be done intentionally. Because for example when you're going to product page and want to change category you wouldn't have this possibility. You can always go back through breadcrumbs, menu also is kept in current category so you can also easily change subcategories. In my opinion menu should be accessible for user.
What do you think @alinadi

[2019-04-27 04:12] pkarw commented on #2804
You’re right I remember there was such a change introduced during one of the jackafhona
To keep the proper UX we should display this arrow only in the situation when user entered the product page from category (with filters set etc) and would like to get back to check another product for the filtered list. For sure it shouldn’t be there when just clicking between individual products

@StasiekDivan

[2019-04-27 09:19] alinadivante commented on #2804
@patzick  I didn't know about this, but yes, I agree with you @patzick and @pkarw it makes sense!

[2019-04-27 13:45] #2653 closed

[2019-04-27 14:23] pkarw commented on #2682
I did backport the cache prefetching to 1.9

[2019-04-27 15:33] #2750 closed

[2019-04-27 16:44] #2802 closed

[2019-04-27 17:18] pkarw commented on #2730
@GabiDivante and @lukeromanowicz  I still have this issue with the second checkobx "Ship to my default address"

<img width="499" alt="Screenshot 2019-04-27 19 16 55" src="https://user-images.githubusercontent.com/211899/56852902-29f0e080-6921-11e9-929b-400623b38b4d.png">

Please do re-check it and re-check all the checboxes in the app as it seems like a global issue with this component
This issue

[2019-04-27 18:15] #2592 closed

[2019-04-27 19:42] #2749 closed

[2019-04-28 11:32] saitam1 opened #2829 "yarn installer script dependencies are missing"
I am running: Ubuntu `18.10`, yarn `1.15.2`, node `9.11.2`
After following the docs:
[code]
I get several errors from this:

1. Cannot find module 'shelljs'.
I looked it up and it is in `vue-storefront/node_modules/pm2/node_modules/shelljs` but not in `vue-storefront/node_modules`, so I installed it globally, which helped.

2. Cannot find module 'fs-exists-sync'.
I looked it up, its not there. So

[2019-04-28 12:06] pkarw commented on #2829
@lukeromanowicz could You please check this one on clean install?

[2019-04-28 14:44] pkarw commented on #2310
Done with: https://github.com/DivanteLtd/vue-storefront-api/pull/226/
Thanks @dimasch and @aleron75

Waiting for final changes to mage2vuestorefront + magento2-vsbridge-indexer

[2019-04-28 15:17] idodidodi commented on #2783
I am working on it

[2019-04-28 15:18] ZeevGerstner commented on #2792
Can you tell whats the required fields so I can update the file?

[2019-04-28 16:34] ZeevGerstner commented on #2818
I will add this feature

[2019-04-28 17:00] ZeevGerstner commented on #2814
I will add this

[2019-04-29 08:59] GabiDivante commented on #2730
@pkarw @lukeromanowicz previously, I checked it on the branch and it was ok, now I checked it on develop
1. "Shipping to my default address" does not work correctly.

I also checked all other checkboxes, the problem with the action appears for:

2. My account -> My newsletter - after selecting the checkbox and saving the changes, then switching to another subpage and returning - the changes are no

[2019-04-29 09:06] patzick commented on #2783
Thanks @idodidodi! :)

[2019-04-29 09:06] #2783 closed

[2019-04-29 09:09] patzick commented on #2818
Thanks @ZeevGerstner ! :)

[2019-04-29 09:09] #2818 closed

[2019-04-29 10:35] kkdg commented on #2758
Hi @filrak I joined by @pkarw. I will start the job very soon in 1 or 2 days.
As far as I understand you want to revamp the official VueStorefront docs as the same with the one in the Medium link?

[2019-04-29 11:09] janmyszkier commented on #2792
@ZeevGerstner I think you can use boilerplate products/index element for that:
https://github.com/DivanteLtd/vue-storefront-integration-boilerplate/blob/master/1.%20Expose%20the%20API%20endpoints%20required%20by%20VS/Required%20API%20specification.md#get-vsbridgeproductsindex
I recently updated it by removing attributes never mentioned in the code.
So: if anything is not in the boilperplate produc

[2019-04-29 12:45] geektutor commented on #2758
@filrak I havent had a reply yet?

[2019-04-29 13:30] idodidodi commented on #2346
I am working on it.

[2019-04-29 14:01] envodev opened #2834 "Product image does not show on reload (mobile browser)"
When viewing the demo app on a mobile browser (I tried Chrome, on Android 7), open up any product page, all good, now reload the page (pull-to-refresh), the product image does not load (just shows the placeholder), and the product description remains partially hidden unresponsive to touch.

[2019-04-29 14:03] pkarw commented on #2834
I have this on mobile - but only on demo; not on next ...
@envodev can You please check https://next.storefrontcloud.io ?

[2019-04-29 14:10] envodev commented on #2834
Confirmed no such issue on https://next.storefrontcloud.io, what is the difference between demo and next?

[2019-04-29 15:26] idodidodi commented on #2807
I am working on it.

[2019-04-29 15:40] omercan commented on #2834
Still same on my Android Phone, Google Chrome Version 74.0.3729.112

[2019-04-29 15:52] pkarw commented on #2834
Guys in my case (iOS / chrome) it’s some JS issue or DOM Exception - blocking the js to work at all after full page reload on product and category pge

[2019-04-29 16:00] pkarw commented on #2834
Related to https://github.com/DivanteLtd/vue-storefront/issues/2641 - it should work just fine on next (1.90)

[2019-04-29 16:03] pkarw commented on #2834
On the screen posted by @omercan ir seems like this issue is different than the original one posted by @envodev (this one is fixed in 1.9). Looks like some problem with css rule setting the placeholder / image as background - fix proposed by @patzick skme long time ago

[2019-04-29 16:05] pkarw commented on #2834
This issue Jaś ben fixed with fix for #2641 however i haven’t tested the fix on Android - this May causes the problem @omercan posted

[2019-04-29 18:48] OnlyC opened #2836 "Attributes value & ID as string"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [x] I am running the latest version
- [x ] I checked the documentation and found no answer
- [x ] I checked to make sure that this issue has not already been filed

## Check our forum:
https://forum.vuestorefront.io/

# Is there something you don't understand? What is it? Describe it.
My backend is a

[2019-04-30 00:46] carmanchris31 commented on #2277
@aimeos Does this mean there's development for an aimeos adapter underway? I tried searching but only came upon this.

[2019-04-30 07:32] lukeromanowicz opened #2837 "Extract all search queries to API"
## What is the motivation for adding / enhancing this feature?
1. will make the client lighter by removing unnecessary code possibly along with some dependencies
2. will make the environment more secure by restricting access to ElasticSearch
3. will simplify the vsf code it terms of maintenance and improve platform agnosticism

## What are the acceptance criteria
- search queries are stored in ES

[2019-04-30 08:20] aimeos commented on #2277
@carmanchris31 We well definitively build a GraphQL interface for Aimeos. It's unclear if there will be an adapter for vue-storefront because vue-storefront is implemented extremely tight to the Magento data model. This makes it very difficult to integrate of what Aimeos is capable. Maybe if @pkarw and @filrak would switch to a much more general data model for vue-storefront.

[2019-04-30 08:27] StasiekDivante commented on #2811
@GabiDivante I would add "Filter" button on the bottom on the screen and fix it's position. Also I would remove some visual weight from the "clear" button as it guides users to incorrect bahaviour

![filters](https://user-images.githubusercontent.com/37068687/56949163-70695980-6b32-11e9-8ef4-882b1fd1a225.png)

[2019-04-30 08:30] StasiekDivante commented on #2804
@pkarw @alinadivante we should always keep the arrow, as we want to build experiences as close as possible to the native applications. I would keep both, the back arrow and the hamburger menu upon entering from any path

[2019-04-30 08:39] GabiDivante commented on #2811
@StasiekDivante great, let's do this that way! Thank you :)

[2019-04-30 09:08] pkarw commented on #2837
Related to #2166 and #2167 -> more to this one

[2019-04-30 09:21] glevhen opened #2838 "Special price is 0"
## Current behavior
The special price of the product is 0
![image](https://user-images.githubusercontent.com/16398798/56949812-854aea80-6b3c-11e9-991e-6a15ba651c6b.png)

## Expected behavior
Special price should contain value from product configurations

## Steps to reproduce the issue
1) open product configurations in the Magento admin dashboard, set special price to the product
![image](https://

[2019-04-30 09:40] pkarw commented on #2838
Hi @glevhen have You synchronized the products after setting the `special_price`?
The `special_price:
- is checked and can be set to 0 in `vs-api` - https://github.com/DivanteLtd/vue-storefront-api/blob/master/src/lib/taxcalc.js
- maybe it's just not synchronized correctly - this option should be set to `true` in order to have it synchronized: https://github.com/DivanteLtd/mage2vuestorefront/blob/

[2019-04-30 09:54] glevhen commented on #2838
@pkarw, we synced products after setting special price
and option is true in the config
![image](https://user-images.githubusercontent.com/16398798/56954217-ee376000-6b46-11e9-866c-47688318d2eb.png)

[2019-04-30 09:59] pkarw commented on #2838
Please try out to set RENDER_PRICES to true as well and let me know about the result

[2019-04-30 10:07] glevhen commented on #2838
@pkarw changed the settings, synced products again, but special_price still is 0
![image](https://user-images.githubusercontent.com/16398798/56954901-aca7b480-6b48-11e9-9917-488697e5d13c.png)

[2019-04-30 11:11] alinadivante commented on #2804
Probably it is the best solution. Could you show us design with two buttons, @StasiekDivante ?

[2019-04-30 11:39] ArturDivante commented on #2834
@omercan - We tried to reproduce this issue, on real devices and browserstack, with no effect - with current Chrome version. Behavior u presented on screenshot occurs only for a brief moment, when you reload page after clearing cache - but pictures always load correctly after brief delay. Are you sure, it wasn't related to some connection delay?

[2019-04-30 12:12] DaanKouters commented on #2271
@filrak i'm quiet busy with this, but can't make any progress.

What i did so far:
In `core/build/webpack.base.config.ts`
i changed `/node_modules/` in the excludes to `/node_modules\/(?!vsf-)/`

I added my test npm package path to the babel loader rule include property.
`path.resolve(__dirname, '../../node_modules/vsf-layered-navigaton'),`

In `tsconfig.json`
i added my testpackage in the include

[2019-04-30 13:25] omercan commented on #2834
@ArturDivante - Still same with both on incognito and normal browsing mode. Also experiencing the same bug on another device: OnePlus 6T. When I touch the product on the category page or main page, I can see the images on the category page for a while(Like 0.1 seconds.) before the redirection to the detail page.

[2019-04-30 16:01] filrak commented on #2834
@omercan please dismiss add to homescreen box and see if you have another one below. Chrome can not load images when connection is słow

[2019-04-30 16:18] pkarw commented on #2834
Closing while waiting for more materials from @omercan as we can’t reproduce this issue otherwise

[2019-04-30 16:28] omercan commented on #2834
https://youtu.be/HBaQGKqzDNI

See attached video please.

[2019-04-30 16:35] omercan commented on #2834
Remote debug: no console activity.

https://youtu.be/i0ZbczqKC6g

[2019-04-30 17:49] pkarw commented on #2834
@omercan thanks! Could you please include a network tab view to check if the images are being downloaded at all?

[2019-04-30 18:05] omercan commented on #2834
Here it is: https://www.dropbox.com/s/m1x77o4t0tixx6x/Screenshot%202019-04-30%2021.05.26.png?dl=0

[2019-04-30 18:24] pkarw commented on #2838
How do you run the indexer?
You might want also to check the native indexer: https://github.com/DivanteLtd/magento2-vsbridge-indexer

[2019-04-30 18:26] pkarw commented on #2838
Please also do check if special_price is 0 in elastic search (for example using Es-head Chrome plugin or Kibana) or please do send us the catalog.json datadump of Your elastic after import (yarn dump)

[2019-04-30 18:28] pkarw commented on #2834
Sorry for bothering You but I belive we need a screen of nertowrk tab for exactly the screen where you’re facing issues - products in category without the images I belive :)

[2019-04-30 18:28] pkarw commented on #2834
@filrak @patzick maybe some change in newest chrome is causing this issue with lazy loading?

[2019-04-30 19:19] omercan commented on #2834
@pkarw I navigated on both home screen and categories. The network tab is this after navigating between them.

[2019-04-30 19:36] pkarw commented on #2834
@omercan ok so I see. Please do check if you have Chrome native lazy loading enabled and if so / please disable it and help if that helps: https://www.ghacks.net/2019/04/24/chrome-74-stable-is-out-with-dark-mode-and-lazy-loading-support/

[2019-04-30 19:43] omercan commented on #2834
@pkarw It was default, I switched to Enabled but still same.

[2019-04-30 21:30] lukeromanowicz commented on #2829
@saitam1 I've tested it on Ubuntu 18.04 with an exact version of yarn and nodejs and everything passed without any errors. Is your yarn.lock modified compared to the one in the repository? Do you have enough space on your hard drive to store the whole node_modules directory? Could you try running vue storefront in docker instead of locally and let us know if it works?

[2019-05-01 06:33] #2829 closed

[2019-05-01 06:38] cnviradiya opened #2840 "Missing translation for sku in product page"
## Current behavior

As I seen there are missing translation syntax in the product.vue instead directly written static text.

## Expected behavior

I think we need to use translation syntax
{{ $t('SKU') }}

Before: https://i.imgur.com/eiu4vXV.png
After: https://i.imgur.com/LDxKK9d.png

## Steps to reproduce the issue

You have to check the <root>/vue-storefront/src/themes/default/pages/Product.vue

[2019-05-01 15:37] #2840 closed

[2019-05-01 15:42] pkarw opened #2844 "Make use of the `collect-totals` endpoint"
## What is the motivation for adding / enhancing this feature?

As one of our users noticed in the https://github.com/DivanteLtd/vue-storefront-api/issues/228:

We need to fix https://github.com/DivanteLtd/vue-storefront-api/issues/228 and then we should use `collecttotals_endpoint`: https://github.com/DivanteLtd/vue-storefront/blob/54c19a6a7ac1af8e5d8ae098cd86b92fd804b8b2/core/modules/cart/store/

[2019-05-01 16:01] pkarw commented on #2836
Hi @OnlyC thanks for contacting us. That's true, by default the options need to be integers - and You need to have the `attribute` entity filled for each individual attribute with the meta-data dictionary (type, available options etc).

HOWEVER - there is an option to just use the string values as well. Vue Storefront filters and configurable options can work without integer-based attributes. This

[2019-05-01 16:03] pkarw commented on #2836
Functions to debug in case of problems:
- `populateProductConfigurationAsync`
- `findConfigurableChildAsync`
- `configureProductAsync`

All from the: https://github.com/DivanteLtd/vue-storefront/blob/54c19a6a7ac1af8e5d8ae098cd86b92fd804b8b2/core/modules/catalog/helpers/index.ts#L446

[2019-05-01 16:05] pkarw commented on #2834
@omercan thanks! It's very hard for us to reproduce this issue, do You have any way to try to debug this issue by playing with some CSS / lazy-load settings of `ProductTile.vue` component?

[2019-05-01 16:09] pkarw commented on #2757
Thanks, @ArturDivante.

_**Acceptance criteria:**_
The animation should be played only with the switch using the arrows; clicking on product configurable options should always  - just switch the images without any animation efects.

[2019-05-01 16:14] #1805 closed

[2019-05-01 16:14] pkarw commented on #2814
we need to just get the e-mail address from the checkout form and add it to the message body

[2019-05-01 16:15] #2728 closed

[2019-05-01 16:16] #2455 closed

[2019-05-01 16:17] pkarw commented on #2310
`mage2vuestorefront` update for MSI: https://github.com/DivanteLtd/mage2vuestorefront/pull/86

[2019-05-01 16:17] #2310 closed

[2019-05-01 16:18] pkarw commented on #1692
@janmyszkier are You working on this one? How does it look like at Your end?

[2019-05-01 16:59] kipotlea commented on #2771
hi @GabiDivante , what plugin do you use to make GIF like this?

[https://user-images.githubusercontent.com/49188852/56578027-e28aed00-65cc-11e9-8944-f66acf8f7b44.gif](url)

[2019-05-01 17:21] #2838 closed

[2019-05-01 17:26] pkarw commented on #2838
@glevhen there was indeed a logic error (basically it was more like date conversion error) - fixed with https://github.com/DivanteLtd/vue-storefront-api/commit/64c8f0d55a6dd0b0409e17b243c97feb9ca845fa to `vue-storeferont-api`. Please do update Your API. The products probably don't need to be re-synced.

[2019-05-01 18:25] klapperkopp commented on #1015
I am also on this at the moment. I I get something running, will update here. One of the problems I bumped into already is that Amazon requires https on Elasticsearch calls and also some headers, which don't seem to be easily added to the VSF-Api-calls to Elasticsearch...

[2019-05-01 19:03] omercan commented on #2834
@pkarw I can.

[2019-05-02 10:45] ZeevGerstner commented on #2814
So just add use email to the feedback? Where? Before the content? How it'll resolve the error of checkoutPersonalEmailAddress when the user is a guest?
Think Im missing something...

[2019-05-02 11:13] pkarw commented on #2814
@ZeevGerstner  it’s up to you; no strong preferences. We do have the email as this page is visible only after order has been placed

[2019-05-02 11:51] janmyszkier commented on #1692
@pkarw not having as much time as I'd like but slowly going forward. So far I managed to make it write to multiple indexes. Will take another shot at it (tomorrow max) and submit a WIP PR so you can all see where we're at

[2019-05-02 12:17] pkarw commented on #1692
Cool, thanks for the heads up

[2019-05-02 16:13] ZeevGerstner commented on #2814
You are right but still we getting that error that Source email address is not provided.
That's what should happen?
Any way all you want is that i'll add in the emailText the user mail? if so do you want to show it to the user or just add it to his feedback?

[2019-05-02 20:33] phoenixdev-kl commented on #2497
IMHO this issue got already solved by https://github.com/DivanteLtd/vue-storefront/pull/2404

[2019-05-03 09:37] omercan commented on #2834
@pkarw Waiting for your recommendations.

[2019-05-03 09:47] pkarw commented on #2834
@omercan its hard for me to recommend anything specific to be honest - by some reason lazy loading is not working properly. You might want to start with disabling Vue-lazyload on ProductTile and setting just the plain <img tags instead - please let me know if it solves this issue for You?

[2019-05-03 11:24] lukeromanowicz opened #2851 "Dynamic import doesn't work in tests."
## Current behavior
Dynamic import is not supported in unit tests written in javascript (not typescript).

## Expected behavior
Dynamic import should work and be mockable just like a regular import.

## Steps to reproduce the issue
Create a file called test.js with dynamic import:
[code]

And a unit test written in javascript:
[code]

## Can you handle fixing this bug by yourself?

- [x] YES
- [ ]

[2019-05-03 11:29] phoenixdev-kl opened #2852 "Listening to "application-after-init" in module's afterRegistration hook not possible"
## Current behavior
The code, which should get executed on "application-after-init" event, for example in module "sample-custom-entity-graphql", is never reached. The following error can be found in server console after enabling the example module:
[code]

## Expected behavior
Debug output `Example of custom entity graphql extension` in console.

## Steps to reproduce the issue
1. Add example modu

[2019-05-03 18:29] phoenixdev-kl opened #2854 "Improve translations by using named fomatting"
## What is the motivation for adding / enhancing this feature?
Translation strings which are composed of multiple pieces like for example
https://github.com/DivanteLtd/vue-storefront/blob/38fb1579c60d1aa352d353c06c1f0d9af7f79937/src/themes/default/components/core/GenericSelector.vue#L6 or
https://github.com/DivanteLtd/vue-storefront/blob/6995f88dab30cbd2a10dcd6874891f6566124320/src/themes/default/

[2019-05-03 19:29] stkac opened #2855 "No product thumbnail/image"
Hi, using docker and my own Magento instance I connect successfully but don't get the  thumbnail/image product...

Some idea?

## Current behavior
![image](https://user-images.githubusercontent.com/41887474/57160627-979d8080-6de9-11e9-9877-a4b0fd836a0a.png)

**docker logs**

[code]
thanks in advance,

[2019-05-03 19:53] pkarw commented on #2855
It looks like some the JavaScript files can’t be loaded (not sure why) - therefore the lazy load component is not able to load the proper images

[2019-05-03 19:56] stkac commented on #2855
hi @pkarw, thanks for look my issue, can you see this error in this url:  https://infinitelove.to

[2019-05-03 20:16] phoenixdev-kl commented on #2854
I'd offer to take this issue over but don't know how to assign it to me.

[2019-05-04 05:18] mdanilowicz commented on #2855
It looks like a problem with Nginx configuration.
`https://infinitelove.to/img/310/300/resize/w/b/wb02-green-0.jpg` -> `https://infinitelove.to/page-not-found`

https://docs.vuestorefront.io/guide/installation/production-setup.html#nginx

Make sure that you have this proxy.

[code]

[2019-05-04 09:36] stkac commented on #2855
@mdanilowicz @pkarw

**Before**
![image](https://user-images.githubusercontent.com/41887474/57176841-5fd02080-6e5d-11e9-9364-a8d98282e2ba.png)

**After**
![image](https://user-images.githubusercontent.com/41887474/57176835-547cf500-6e5d-11e9-9ac2-f44cc37872dc.png)

**Done!**
![image](https://user-images.githubusercontent.com/41887474/57177086-b2f7a280-6e60-11e9-8f23-dbeae0e756ba.png)

[2019-05-04 09:36] #2855 closed

[2019-05-05 08:11] michhy opened #2857 "Category filter for filtering product attributes with 'yes or no' value"
## Prerequisites
I tried to activate the custom filter, I can even log the new filter 'SF' is being loaded,
but its not shown on the filter sidebar.
Basically I want to create a few specific attribute filters, for filtering if any product's specific attribute is '1' / true.

Example: https://www.pureformulas.com/food/category/nuts-and-seeds.html

Please see the screenshot below.

Please answer the

[2019-05-05 14:23] filrak commented on #2271
Hey! Please play with include property of webpack loaders for babel-lowder. You're close to the end I guess and the thing that is lacking is this property

[2019-05-05 19:21] filrak commented on #2852
This problem is directly caused by the fact that we are using root Vue instance instead of Event Bus to emit `application-after-init`event so first solution you proposed is the right one. It's obviously a bug,  not intended behavior.

Do you want to take care of this issue?

[2019-05-05 19:35] filrak commented on #2851
If it's not there on Monday  please change milestone to next one

[2019-05-05 19:47] filrak commented on #2834
@omercan also please try those (assuming this problem occurs on your local installation too):
- in `core/app.ts` find `Vue.use(VueLazyload, {attempt: 2, preLoad: 1.5})`, change it to `    Vue.use(VueLazyload, {attempt: 2, preLoad: 1.5, observer: true})` and check if problem still exists.. It's another way to detect if element entered viewport with intersection observer API.  This will tell us if t

[2019-05-06 06:11] ArturDivante commented on #2757
Thank you, @pkarw
I edited expected behaviour section acording to your comment. One last thing we propably need to decide (or clarify) and post here is bhavior after clicking small circle icons from the bottom of the picture. animation or simple switch?

[2019-05-06 07:15] GabiDivante commented on #2771
hi @kipotlea I use Peek https://github.com/phw/peek

[2019-05-06 07:27] pkarw commented on #2757
Thanks! Yes, the simple switch should be ok with xlixkjng theme bullets

[2019-05-06 08:26] patzick commented on #2713
Corrected in newest RC deploy:)

[2019-05-06 08:26] #2713 closed

[2019-05-06 08:33] #2851 closed

[2019-05-06 08:38] alinadivante commented on #2713
nice! :) thanks @patzick

[2019-05-06 09:22] cristian-g commented on #2837
Hi! Which branch is being used for the development of this feature request?

[2019-05-06 09:25] lukeromanowicz commented on #2837
@cristian-g As the Release Cycle section says, it should be based on develop but it looks like nobody is currently working on this one.

[2019-05-06 09:33] cristian-g commented on #2837
Yes @lukeromanowicz but as @pkarw started something related to this some time ago (https://github.com/pkarw/vue-storefront/tree/feature/2166_simple_backend), are contributions expected to be forks from pkarw/vue-storefront or from DivanteLtd/vue-storefront? Maybe contributors can fork pkarw/vue-storefront, commit to 2166_simple_backend and the @pkarw could merge that to DivanteLtd/vue-storefront (

[2019-05-06 10:05] filrak commented on #2546
@kkdg I'm assigning this issue to you :)

[2019-05-06 10:39] alinadivante commented on #2818
Thank u @ZeevGerstner

[2019-05-06 11:04] phoenixdev-kl commented on #2852
Yeah, will be glad to take care of it.

[2019-05-06 11:12] Jensderond opened #2861 "Seperate endpoints just for SSR mode."
## What is the motivation for adding / enhancing this feature?
When using VSF with docker `network_mode: host` is not supported for Docker for Desktop(Mac). Thus the categories and products cannot be fetched using SSR.

## What are the acceptance criteria
- [ ] Endpoints in default/local.json including something like "elasticsearch.host_ssr"

## Can you complete this feature request by yourself?

[2019-05-06 11:14] DaanKouters commented on #2271
hi @filrak  :)
ok, i'll play around with it, but please be very critical in the Pull Request.
This has to be done right :)

[2019-05-06 11:17] alinadivante commented on #2804
@StasiekDivante Can you take care of it?
Because now we have again problem with this issue #2732

[2019-05-06 11:45] StasiekDivante commented on #2804
![asdf](https://user-images.githubusercontent.com/37068687/57223064-1de1de80-7005-11e9-8d0d-e78597301190.png)
here you go @alinadivante

[2019-05-06 11:50] alinadivante commented on #2804
@StasiekDivante okay, but please change the order of the buttons :)

[2019-05-06 11:51] StasiekDivante commented on #2804
I wouldn't to that, this order is the standard

[2019-05-06 12:07] alinadivante commented on #2804
We discussed with @patzick about this idea and for now... I close this ticket : D

[2019-05-06 12:07] #2804 closed

[2019-05-06 13:04] alinadivante commented on #2682
no blinking effects on release1.9 :)

[2019-05-06 13:29] alinadivante commented on #2573
Fixed on release 1.9!

[2019-05-07 06:45] AdrianBalcan commented on #2604
I was able to run in docker using:
`environment:
      NODE_TLS_REJECT_UNAUTHORIZED: 0 `

[2019-05-07 08:18] ArturDivante opened #2863 "No placeholders in gallery - offline mode"
## Related issues
#2557

## Current behavior
If given product was not opened before going offline, then gallery opened in offline mode will contain no pictures (except default one) or __placeholders__  , just ugly missing-graphics-icon :)

![noplaceholder2](https://user-images.githubusercontent.com/47415585/57284427-6eaf1100-70b1-11e9-92c3-9660307cecde.PNG)

## Expected behavior
Pictures or placeh

[2019-05-07 11:14] alinadivante opened #2864 "Add a sticky Scroll To Top button"
## What is the motivation for adding / enhancing this feature?
This feature gives better navigation and allow users to easily scroll back to the top of category page with one click of the button.

## What are the acceptance criteria
Add sticky "Scroll to top" button on category page.

## Can you complete this feature request by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.v

[2019-05-07 11:41] pkarw commented on #2863
This ja not na issue - Iran improvement.
We should show other images in offline mode at all. There should be just one single picture without the gallery at all (as it was prior to 1.8)

[2019-05-07 11:46] AdrianBalcan commented on #2861
I was able to run VSF in docker without `network_mode: host` using:

[code]

[2019-05-07 12:00] michhy opened #2865 "Wishlist not sync to server at the moment"
## Prerequisites
If I add products to wishlist, and log in in another machine, the list is not loaded.
Is the wishlist only saved by cookie cache, but not syncing to server at the moment?

Please answer the following questions for yourself before submitting an issue.
- [v ] I am running the latest version
- [ ] I checked the documentation and found no answer
- [ ] I checked to make sure that this

[2019-05-07 13:02] pkarw commented on #2865
No, it's not synced at the moment as Magento2 was missing the wishlist API endpoints. There is an open Feature Request on that: https://github.com/DivanteLtd/vue-storefront/issues/709

[2019-05-07 13:02] #2865 closed

[2019-05-07 14:41] ResuBaka opened #2867 "Change Linting"
# Linting for debugger statements.

Here we only check for debugger in the build process.
But we should move it to an early stage to catch it early.

So my thought would be to change the debugger rule to an warning while developing.

Which would be this
[code]
to that.
[code]

[2019-05-07 15:11] lukeromanowicz commented on #2867
@pkarw @filrak @patzick

[2019-05-07 16:57] PatrickKluwig commented on #1620
Hey, hope you are fine @pkarw :)
Do you know when this issue will be fixed?
Best regards

[2019-05-07 17:52] dimasch commented on #2741
I checked on `Chrome 74` and `Windows 7`. Not reproduce, worked as expected.
![checkout-validation](https://user-images.githubusercontent.com/414067/57321333-28d66500-7112-11e9-9fdf-7bdaebf3695d.gif)

Possible need exactly `Windows 10`

[2019-05-07 18:22] DaanKou commented on #2010
@pkarw what do exactly mean with setting the ‘product.url_path’ and ‘category.url_path’ to any value? As these properties are now already filled by Mage2VueStorefront?

[2019-05-07 18:22] pkarw commented on #2741
@dimasch Please test it out on 1.10 (develop branch) - it supposedly occurs only there

[2019-05-08 03:41] #2852 closed

[2019-05-08 03:45] pkarw commented on #2857
Hi! Have You added this attribute to “defaultFilters” in the config/local.json?
Filters are not yet automatically loaded and need to be explicitly listed in the config

[2019-05-08 04:06] michhy commented on #2857
Hi @pkarw. Yes I have added to "defaultFilters" in config/local.json. it is loaded but with no arrays. (I have logged in the screenshot)

[2019-05-08 05:34] pkarw commented on #2857
Ok please set the type of this attribute to “keyword” in the vs-api/config/product.*.schema.json and run “yarn db rebuild” then check the results once again

[2019-05-08 05:46] pkarw commented on #2010
Yes, these fields are set by mage2vuestorefornt and magento2-vsbridge-indexer and are used to map the urls

[2019-05-08 06:37] dimasch commented on #2741
@pkarw  Yes, on develop branch reproduced.
I will to fix it.
![2019-05-08_10-35-39](https://user-images.githubusercontent.com/414067/57354693-383ec800-717d-11e9-9f3d-e9bcdff83e19.png)

[2019-05-08 06:38] pkarw commented on #2741
OK cool. Please make sure the checkboxes in the `My Account` (all sections) work properly as well. I'm affraid there was a change regarding BaseCheckbox.vue that involves thsese kind of issues

[2019-05-08 06:41] pkarw commented on #2836
@OnlyC how are things? :)

[2019-05-08 06:42] dimasch commented on #2741
Reproduced on `Chrome 74`, `MacOS` (not depends on OS)

[2019-05-08 07:06] OnlyC commented on #2836
Hi @pkarw
I'm still trying to understand how things work & correcting data structure.
I managed to get categories into vuex. products->list still empty.

[2019-05-08 07:09] alinadivante opened #2868 "Wrong order of products."
## Current behavior
If u set Sort by Price: Low to high and than you change category, you will see your saved sort selection, but order of the products will be the default.

![image](https://user-images.githubusercontent.com/47415585/57358638-29a0e280-7176-11e9-9216-91185c8b82d4.png)

![sort_by](https://user-images.githubusercontent.com/47415585/57360759-3d9b1300-717b-11e9-9e44-cc51c8500903.gif)

[2019-05-08 07:29] janmyszkier commented on #1273
So summary of things needed
- [x] add vuestorefront logo to readme
- [ ] add section about supported browsers, tell to look into `"browserslist"` of `package.json`
- [ ] in `technology` section, replace possible technologies with logos, add the non-logo as "and also Tech1, tech2(,techn) and techn+1
- [ ] Move `License` section to the end of readme(below screenshots)

While the OP requested to add

[2019-05-08 07:40] alinadivante opened #2869 "Missing information about shipping method in Shopping summary"
## Steps to reproduce the issue
1. In Magento Admin set Flat Rate: Disabled and Free Shipping: Enabled (pay attention to the Minimum Order Amount)
2. Find cheaper product than Minimum Order Amount from Free Shipping method and add it to cart
3. Open the cart and look at Shopping summary
4. Go to checkout and look at Order Summary
5. Return to Shopping cart and again check Shopping summary

## Curr

[2019-05-08 07:58] janmyszkier opened #2870 "Doc update on multistores needed"
* [ ] clarify what's the disabled flag for
the doc at https://docs.vuestorefront.io/guide/integrations/multistore.html#vue-storefront-and-vue-storefront-api-configuration currently lists both stores as :

[code]

It's not clear what this flag does if setting them to disabled make them work.

* [ ] explain how to get the `storeId` from magento (possibly with images)
Right now it's not clear where t

[2019-05-08 08:03] GabiDivante commented on #2699
@MikeSheward This issue still appears for mobile devices. Available to check on https://demo.storefrontcloud.io/

[2019-05-08 09:41] glevhen commented on #810
@pkarw have the same issue for my project, could you provide walkthrough how to fix it?

[2019-05-08 09:50] janmyszkier commented on #1692
refactor also needed in
- [ ] vue-storefront/core/lib/search/adapter/api/elasticsearchQuery.js

[2019-05-08 11:09] alinadivante opened #2872 "When cart contain only "Overnight duffle" product, provided by customer discount code was not applied"
## Steps to reproduce the issue
1. Go to Gear category → Bags
2. Open **Overnight Duffle** product and press Add to cart
3. Open Shopping cart
4. Add  " **mmtest** " discount code
5. Add another product to cart and again add " **mmtest** " discount code
6. Remove both product from the cart
7. Again add to cart **Overnight Duffle** product
8. On the cart u will see " **mmtest** " discount code so t

[2019-05-08 11:10] pkarw commented on #810
It's been fixed with the https://github.com/DivanteLtd/vue-storefront/pull/2828 - so the changes have been already merged into `develop` branch (1.10-rc1) - You can take it from ther

[2019-05-08 11:21] michhy commented on #2857
Hi @pkarw  I have added "SF": {"type": "keyword"}, under properties in elastic.schema.product.json in vs-api/config/, the result still the same.

![螢幕截圖 2019-05-08 下午7 16 56](https://user-images.githubusercontent.com/37435427/57371826-6694c580-71c6-11e9-8778-25fe2918d122.png)
![Uploading 螢幕截圖 2019-05-08 下午7.19.13.png…]()
![Uploading 螢幕截圖 2019-05-08 下午7.20.22.png…]()

[2019-05-08 14:30] ArturDivante opened #2874 "Incorrect value in PRAPI, when quantity is >1"
## Current behavior
Summary during 'Instant checkout' displays only single product price - even when quantity was set diffrently.  Other values (shipping, grand total) are displayed correctly.

Customer sees group of quotas and grand total, that does not match.

![PRAPI](https://user-images.githubusercontent.com/47415585/57383030-5cff6380-71ae-11e9-9f2f-3ad33901ab1b.PNG)

## Expected behavior
Valu

[2019-05-09 05:19] alinadivante opened #2876 "10,"
## Current behavior

## Expected behavior

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

- [ ] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

- [ ] This is a bug report for test version on https://test.storefrontcloud.io - In this case

[2019-05-09 05:19] alinadivante opened #2877 "10,,"
## Current behavior

## Expected behavior

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

- [ ] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

- [ ] This is a bug report for test version on https://test.storefrontcloud.io - In this case

[2019-05-09 05:32] #2876 closed

[2019-05-09 05:32] #2877 closed

[2019-05-09 05:34] pkarw commented on #2836
Ok, im closing this issue for now please do contact us if can somehow help with the other things

[2019-05-09 05:34] #2836 closed

[2019-05-09 05:34] alinadivante opened #2878 "Get the payment methods that are available for specific country."
## Steps to reproduce the issue
0. Check Default Country in Magento panel
1. In Magento set one of Payment Methods for Specific Country, for example:
**Check/Money Order** → Payment from Specific Countries: **Albania**
(Rest of payment methods should be available for all countries)
2. Add any product to cart and go to checkout
3. Fill in all required fields and in Payment section choose Country: A

[2019-05-09 05:35] pkarw commented on #2834
Hi @omercan, I just wanted to kindly ask if there were any updates regarding this issue? :)

[2019-05-09 05:51] alinadivante opened #2879 "The order can not be transferred because of server error."
## Relates to: #2878

## Steps to reproduce the issue
0. Check Default Country in Magento panel (Poland)
1. In Magento set two of Payment Methods for Specific Countries, example:
-  **Check/Money Order** → Payment from Specific Countries: **Albania and Poland (default country)**
-  **Bank Transfer Payment** → Payment from Specific Countries: **Afghansitan and Poland (default country)**

(Rest of p

[2019-05-09 06:49] pkarw commented on #2863
We do have the same behavior with online mode / placeholder is not visible while picture is being loded

[2019-05-09 06:49] pkarw commented on #2863
We do have the same behavior with online mode / placeholder is not visible while picture is being loaded

[2019-05-09 06:58] dimasch commented on #2741
@pkarw PR ready!

[2019-05-09 07:40] alinadivante opened #2881 "|$NaN is displayed as the shipping method"
## Steps to reproduce the issue
1. In Magento set only one of Shipping Methods enabled (**but not** Flat Rate), for example enable:
**Table Rate**
2. Add any product to cart and go to checkout
3. Fill in all required fields, **but don't choose shipping method!**
4. Click "Continue to payment"

## Current behavior
Customer is able to continue, without choosing shipping method.
|$NaN  is displayed a

[2019-05-09 09:48] GabiDivante opened #2882 "Button 'Back to login' closes 'Reset password' confirmation pop-up"
## Current behavior

When I correctly complete and submit the password reset form, I am redirected to a pop-up with information about sending me an email with a link. The visible button  'Back to login' just closes the current pop-up.

![Peek 2019-05-09 11-05](https://user-images.githubusercontent.com/49188852/57443265-f467c380-724d-11e9-9281-1089a5d657ad.gif)

## Expected behavior

Clicking on bu

[2019-05-09 09:54] ca1zr commented on #2854
In general I suggest the translations should be in the **formal** instead of **informal** way.

[2019-05-09 10:04] GabiDivante opened #2883 "Change validation message for the not existing account (Reset password)"
## What is the motivation for adding / enhancing this feature?

Currently the validation message, for providing the email that is not in the database, shows:
**“No such entity with email=test@test.pl, websideID=1”**
The content of the message should be more user-friendly.
![Peek 2019-05-09 10-38](https://user-images.githubusercontent.com/49188852/57445362-76f28200-7252-11e9-865b-b29d20b5739a.gif)

[2019-05-09 11:10] phoenixdev-kl commented on #2854
Hi @ca1zr, is your last comment just a general statement regarding translations? If it has to do with the approach requested in the initial description then I'm not quite sure if I get the link ... could you clarify more how it relates to named formatting?

[2019-05-09 11:27] ca1zr commented on #2854
Hi @phoenixdev-kl, it was a general request. Some translations sound pretty weird and choppy, so  named formatting is a good thing.

[2019-05-09 19:45] patzick commented on #2741
Thanks @dimasch ! :)

[2019-05-09 22:42] DaanKouters commented on #2271
@zimme great job.

If i add your changes to `core/build/webpack.base.config.ts` and add the @getnoticed/vsf-layered-navigation NPM package i get compilation error:

Module build failed (from ./node_modules/ts-loader/index.js):
Error: TypeScript emitted no output for 'node_modules/@getnoticed/vsf-layered-navigation/index.ts'

Also, when you visit the VSF instance, you get 'SyntaxError: Unexpected t

[2019-05-10 06:37] pkarw commented on #2883
This message comes from Magento backend. We can however translate it using i18n module to whatever message we like to have in the fronted - but when Magento changes it we need to add new translation key etc. I don't like this idea but unfortunately don't have any better idea how to solve this FR

[2019-05-10 08:49] RGijsberts commented on #2864
I will work on this

[2019-05-10 09:13] pkarw commented on #2864
@RGijsberts it seems like it's already done: https://github.com/DivanteLtd/vue-storefront/pull/2866

[2019-05-10 09:18] RGijsberts commented on #2864
I missed that, nice!

[2019-05-10 11:58] pkarw commented on #2872
The discount code is being taken from the platform totals: https://github.com/DivanteLtd/vue-storefront/blob/e7f8b0f3853591130c8083eb3be53d53a15b6dc9/core/modules/cart/store/getters.ts#L58

I believe the problem is that the totals were not correctly refreshed after clearing the items / adding new products. It requires some debugging to check why the discount code is still there but not applied

[2019-05-10 12:07] pkarw commented on #2649
What would You say for sth like:

[code]

instead of:

[code]

?

[2019-05-10 12:23] filrak commented on #2649
why `currentConfig`? imho it should be a single entity (`config`) and thats all. Also - why it's a function? It's not so good for performance to return such a big object each time

[2019-05-10 12:26] pkarw commented on #2649
This is a function because we'll be taking the config from `rootStore.state.config` as it was done before. It's by purpose (to have the option to dynamically reload the config with the `window.__INITIAL_STATE__`) we just don't want to have the `rootStore.state` references all over the code. So the function is cool and the naming was like `currentStoreView()` we have defined in the `multistore.ts`

[2019-05-10 12:32] filrak commented on #2649
But we can easily modify plain JS objects too. What is a purpose of making this huge JSON reactive and part of VS state instead of having it in a separate module as an Object?

[2019-05-10 12:37] filrak commented on #2649
If the purpose  of this issue is just to make alias for current behavior it doesn't make sense at all. Having config in a Vuex is a terrible idea that is really bad for either runtime and loading performance. It's not even application state.

[2019-05-10 12:39] juho-jaakkola commented on #2521
Why would jessie be better than alpine?

[2019-05-10 12:40] pkarw commented on #2649
https://github.com/DivanteLtd/vue-storefront/pull/1800/files

We're using the state to dynamically reload the config if this mode is enabled. Not sure if it could anyway lower the performance - we do have much larger objects in state (say: product's list) :)

[2019-05-10 12:44] filrak commented on #2649
This doesn't answer my question why we are not using plain object for config instead of using Vuex state.

[2019-05-10 12:45] Cyclonecode commented on #2521
If I remember correctly the dependencies for cypress was not available for alpine.

[2019-05-10 12:52] pkarw commented on #2649
Filip, the `dynamicReload` is by default off (low-end devices) - moreover by using state filters (included in #1800) You can pass just the things You need to override with the state - not the full config. This is in fact optimal, as the second option for `dynamicConfigReload` would be to have separate request which really will block the page rendering as the config is crucial for any component or

[2019-05-10 12:53] pkarw commented on #2649
So we can have a separate lib+it's own config object to keep it after: loading from the bundle (in case `dynamicConfigReload = false`) or getting it from the state (in case of `dynamicConfigReload = true`)

[2019-05-10 12:55] pkarw commented on #2649
Anyway maybe it w'd be faster to discuss this f2f - we could just have 5min discussion on this on Monday's core planning :)

[2019-05-10 13:47] zimme commented on #2271
I also ran into this problem when testing today. As you say, I believe tsconfig might need updating as it excludes node_modules.

[2019-05-10 14:04] GabiDivante commented on #2741
@dimasch I checked the changes, now everything works fine when filling in the form, but I still get this problem when I choose the option **"Copy address data from shipping"** - please check that.
Also, the related problem appears for selecting "use my billing data" - described in a comment for issue #2730

[2019-05-10 16:03] #2741 closed

[2019-05-10 16:15] GabiDivante commented on #2743
@mdesmet @pkarw we need to add the correct Order ID on the order summary page as well
![Selection_027](https://user-images.githubusercontent.com/49188852/57541555-928f8280-734f-11e9-8a5c-096b32bd9deb.png)

[2019-05-10 16:36] mdesmet commented on #2743
HI Gabi, I mentioned that open issue on the fix indeed. I'll have a look at it tomorrrow, must be not too hard to fix.

[2019-05-10 16:40] GabiDivante commented on #2743
@mdesmet Great! Thank you :)

[2019-05-10 16:42] pkarw commented on #2743
@mdesmet please just change the orderData.entity_id to orderData.increment_id and You’re there

[2019-05-10 18:34] mdesmet commented on #2743
@pkarw : from what I remember it was more complicated, the magento api returns only the internal id (see o2m.js).

[2019-05-10 18:50] pkarw commented on #2743
You might be right...

[2019-05-11 22:40] mdesmet commented on #2743
I don't really have time now to solve it right now, working on another project but here is my analysis:

We would have to extend the magento2-rest-client with support for retrieving the order based on the increment id returned by the order creation endpoint. See this Stack exchange with the solution: https://magento.stackexchange.com/questions/210000/retrieve-entity-id-from-rest-api-using-order-id

[2019-05-12 07:12] pkarw opened #2886 "Subscribe button - wrong size on tablet res."
## Current behavior

It's just a UI glitch - the width of Subscribe button need to be fixed

<img width="893" alt="Screenshot 2019-05-12 09 09 03" src="https://user-images.githubusercontent.com/211899/57578985-d68c9f80-7495-11e9-8b10-eb991915eb81.png">

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

[2019-05-12 07:33] pkarw commented on #2872
Maybe - just a maybe it's related to https://github.com/DivanteLtd/vue-storefront-api/issues/228 and https://github.com/DivanteLtd/vue-storefront-api/pull/231.

We're currently calling just the `shipping-information` for totals. Probably we need to change it to `collect-totals` instead to make surre totals are always updated

[2019-05-12 07:40] #2882 closed

[2019-05-12 07:57] pkarw commented on #2878
Related to https://github.com/magento/magento2/issues/10234 - there is no possibility to pass the `address` to `payment-methods` Magento2 endpoint

[2019-05-12 08:00] pkarw commented on #2879
Related to: https://github.com/magento/magento2/issues/10234 - there is no API endpoint (Magento2) to get the payment methods for specific country :/

[2019-05-12 08:03] pkarw commented on #2878
Changed to Feature Requests as it requires us to add the Magento2 REST endpoint for getting the payment methods related to specifc country. Currently up to Magento 2.3.1 it's not possible as the `GET /guest-cart/payment-methods` doesnt' accept the address parameter: https://devdocs.magento.com/swagger/#/

[2019-05-12 08:03] #2879 closed

[2019-05-12 08:06] pkarw commented on #2834
Closing the issue as it's not possible to reproduce this issue in the control env.

[2019-05-12 08:06] #2834 closed

[2019-05-12 08:07] pkarw commented on #2730
Hi @dimasch how about this issue? :)

[2019-05-12 08:33] #2513 closed

[2019-05-12 09:34] pkarw opened #2888 "SSR/CSR issue with Review pane on product Page"
## Current behavior

https://www.dropbox.com/s/qxlbba7yfvzn9e2/Screenshot%202019-05-12%2011.32.26.png?dl=0

There is an issue with refreshing the Review's pane **when the user is logged in** - in that case the HTML generated server side differs from the CSR version.

We had the same with User account and Wishlist after introducing lazy loading. @patzick I'm not sure what was the fix then? Can You

[2019-05-12 09:58] #2649 closed

[2019-05-12 18:26] michhy commented on #2857
Hi I have solved it. I need to put 'interger' instead of 'keywords' for the type of attribute in  elastic.schema.product.json.
after putting: "sf": {"type": "integer"}, and run the rebuild again, it works.
Thanks a lot.

[2019-05-13 07:06] juho-jaakkola commented on #2521
Alpine indeed does not have all the dependencies recommended by the Cypress documentation:

[code]

[2019-05-13 10:13] patzick commented on #2167
I would consider Elasticsearch JS library for that as replacement for bodybuilder.
https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/current/introduction.html

[2019-05-13 10:15] pkarw commented on #2167
We removed elasticsearch-js as a bundle size optimization - it's not a way to go for sure.

[2019-05-13 11:34] GabiDivante opened #2892 "Incorrect value of the reduced price in the cart"
## Current behavior

![Selection_031](https://user-images.githubusercontent.com/49188852/57618504-e84c7080-7583-11e9-85da-d27f8d705f60.png)

Currently, then reduced price visible in the cart is not correctly calculated:
**Reduced price = (net price * discount) + (net price * tax)**

**For example:**
Net product price is 24, tax (23%) is 5.92 - so the full price of the product is 29.92.
The custome

[2019-05-13 12:53] GabiDivante commented on #2874
Hi @pkarw @ArturDivante @vishal-7037
I was testing this fix and I think that maybe we need a more complex solution.
There are two more situations where prices visible in the Instant Checkout Order summary are still different than in the cart, so again the customer sees a group of amounts and grand total, that does not match:

**1. When an item has a reduced price due to some cart discount rule or

[2019-05-13 12:55] GabiDivante commented on #2874
1.
![Selection_030](https://user-images.githubusercontent.com/49188852/57623029-2c913e00-758f-11e9-83e1-a58dfb4bc4bd.png)

[2019-05-13 12:59] GabiDivante commented on #2874
2.
![Selection_032](https://user-images.githubusercontent.com/49188852/57623255-b3deb180-758f-11e9-981e-225227a72d8e.png)

[2019-05-13 13:51] GabiDivante commented on #2874
https://drive.google.com/file/d/16wo3fCXzgEIMJ-8RXnIuebO2fQ7Decve/view?usp=sharing

[2019-05-14 03:38] #2857 closed

[2019-05-14 06:14] alinadivante opened #2893 "The hover effect on the buttons in the header is moved one pixel down."
## Current behavior
By hovering over the buttons in the header, hover effect moves one pixel down.
![image](https://user-images.githubusercontent.com/36628922/57674767-66f6eb80-7620-11e9-817d-45c96b39935e.png)

## Expected behavior
Hovering effect should be aligned with the header.

## Steps to reproduce the issue
1. Hover over any buttons in the header
2. Look at hamburger menu

## Repository

##

[2019-05-14 06:40] pkarw commented on #2872
Can't reproduce it on `develop` :/

[2019-05-14 07:05] pkarw commented on #2892
I'd suggest starting checking how `Microcart/Product.vue` displays the special prices - then go thru `taxcalc.js` to check  if we don't have a flaw there; checking the Magento2 tax settings would be also recommended

[2019-05-14 07:09] alinadivante commented on #2872
@pkarw Please, try again now. I changed shipping methods in Magento (only Free shipping is enabled) and I' able to reproduce it now

[2019-05-14 07:54] #2758 closed

[2019-05-14 07:59] #2395 closed

[2019-05-14 08:13] GabiDivante opened #2894 "Shopping cart summary is not updated after logout"
## Current behavior

Shopping summary visible in the cart (for logged in user) is not updated after logout. If I add any product to the cart after logout I will see the shopping summary for the previous cart state.

![Peek 2019-05-14 09-17](https://user-images.githubusercontent.com/49188852/57681934-ff956780-7630-11e9-830b-b893d4463508.gif)

## Expected behavior

Shopping summary is updated every

[2019-05-14 08:14] vishal-7037 opened #2895 "Routing not working properly with cmsData component"
### Routing is not working properly with cmsData component.

I've configured the *Snowdog CMS API* module in Magento and got CMS pages as response successfully at Vue Storefront.

But, When I clicked on the CMS page link from another CMS page, It will not fetch CMS page content.

*For example,* When I clicked a first time on *About Us* link it will get whole page content from Magento and render it

[2019-05-14 09:30] GabiDivante opened #2896 "Changing the quantity of the product in the cart doesn't change its price (offline mode)"
## Current behavior

In offline mode, changing the quantity of the product in the cart does not change its price. Grand total is changing properly.
Gif:  https://drive.google.com/file/d/1nxMzu9E0AOw-knQF3EGhUqCfjqlOI6I3/view?usp=sharing

## Expected behavior

In offline mode, changing the quantity of the product in the cart change its price as well.

## Steps to reproduce the issue

1. Go to branc

[2019-05-14 10:36] GabiDivante opened #2897 "No photos of related product color variants in the cart (offline mode)"
## Current behavior

After adding many color variants of the product to the cart, and then switching to the offline mode - **photos of related product color variants are not visible in the cart.**
![Peek 2019-05-14 12-12](https://user-images.githubusercontent.com/49188852/57690301-a41fa580-7641-11e9-941d-944ffd104f58.gif)

## Expected behavior

After adding many color variants of the product to th

[2019-05-14 11:29] GabiDivante opened #2898 "Products removed from the cart in the offline mode are re-added to the cart after going back to online mode"
## Current behavior

Products removed from the cart in the offline mode are re-added to the cart after going back to online mode
![Peek 2019-05-14 13-09](https://user-images.githubusercontent.com/49188852/57694590-67a57700-764c-11e9-8ec7-cbd97971d99c.gif)

## Expected behavior

Products removed from the cart in the offline mode are not re-added to the cart after going back to online mode. The cust

[2019-05-14 11:34] pkarw commented on #2898
It might be like this! We should run the `cart/serverPull` with the `forceClientState=true` when user switched back online

[2019-05-14 11:35] pkarw commented on #2898
https://github.com/DivanteLtd/vue-storefront/blob/41ee559a8cf691a19a24ff057f1c7d8f664e37c1/core/modules/offline-order/helpers/onNetworkStatusChange.ts#L13

[2019-05-14 12:19] #2898 closed

[2019-05-14 12:24] pkarw commented on #2897
There was kind of change how the gallery works in 1.10rc-1 - previously (demo) - the 310x300 size picture was always prefetched and then upgraded with the higher quality image (the effect of progressive loading was just caused by this behavior). Now it's not. Microcart is using 310x300

Progressive loading on demo:
https://www.dropbox.com/s/upmlxgpcwpycpzz/Screenshot%202019-05-14%2014.21.48.png?dl

[2019-05-14 12:26] pkarw commented on #2897
By the way - when the picture hasn't been prefetched before the problem also existsin on demo env: https://www.dropbox.com/s/z4hob1biqw59zgc/Screenshot%202019-05-14%2014.24.55.png?dl=0

That means we should make sure we use prefetched thumbnail in the Microcart. The only guaranteed thumbnail we have in the offline mode is the main-one and I belive it's a tradeoff we can accept.

So - we can modify

[2019-05-14 12:32] pkarw commented on #2895
Hi there! I think it's related to: https://github.com/DivanteLtd/vue-storefront/issues/2499

Could You fix that one? It's just about commenting this condition :)

[2019-05-14 12:43] pkarw commented on #2896
Change the `Microcart/Product.vue` and how it handles the offline mode

[2019-05-14 12:45] vishal-7037 commented on #2895
Hi @pkarw,

I've tried by commenting that line, but it won't work. :(

[2019-05-14 13:49] panique commented on #2128
this also happens AFTER running `npm install`/ `yarn install`

[2019-05-14 15:19] dmytrokravch opened #2902 "IsProductPage variable always false in vuestorefront 1.9.0"
## Current behavior

After updating to version 1.9.0, the variable IsProductPage always equals false.

## Expected behavior

## Steps to reproduce the issue

## Repository

## Can you handle fixing this bug by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one option.

- [ ] This

[2019-05-14 20:22] brgccf opened #2904 "Help with Magento 2 and VueStoreFront settings and integration - CMS Error"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [ x ] I am running the latest version
- [ x ] I checked the documentation and found no answer
- [ x ] I checked to make sure that this issue has not already been filed

## Check our forum:
https://forum.vuestorefront.io/

# Is there something you don't understand? What is it? Describe it.
Hey guys, D

[2019-05-15 06:36] juho-jaakkola commented on #2521
I was able to create an experimental Docker image on top of `debian:jessie`, and successfully run the tests in it:

![Screenshot 2019-05-15 at 8 16 46 AM](https://user-images.githubusercontent.com/883920/57752931-fd8fdf00-76ea-11e9-9535-8bb8d237c473.png)

But now I'm wondering whether there is any point in running e2e tests unless we also have an instance of both Vue Storefront API and Magento run

[2019-05-15 07:50] alinadivante opened #2905 "There is problem with displaying available products when "listOutOfStockProducts": false"
## Steps to reproduce the issue

1. Change "listOutOfStockProducts":  from true to **false** in local.json file
2. Run VSF locally and click on "Tiffany Fitness Tee" from Everything new section
3. Click on **Tees** in breadcrumbs to open sub-category
→  Default Category / Women / Tops / Tees
4. Again open Tiffany Fitness Tee product
5. Refresh the page

## Current behavior
There is problem with di

[2019-05-15 08:16] zimme commented on #2271
@DaanKouters Could you try with the changes added in this [commit](https://github.com/zimme/vue-storefront/commit/d995a71ecb31f15e4ced91b24c485d2ae8add242) and see if it works?

[2019-05-15 09:11] alinadivante commented on #2898
Verified on bugfix/2898

[2019-05-15 09:42] pkarw commented on #2905
This is the correct behavior. The variants stock is synced asynchronously when browsing thru products catalog. If there would be the dynamic `magento2-vsbridge-indexer` running in the background this situation wouldn't have happened. I mean - the products on the list are displayed based on ElasticSearch stock data. If it's not updated - there could be a situation that products avaialble in the Ela

[2019-05-15 09:42] #2905 closed

[2019-05-15 10:36] pkarw commented on #2904
Please make sure that Your pages and blocks were indexed properly into Elastic. If You were using the `yarn mage2vs import` then this PR may be an answer :D -> https://github.com/DivanteLtd/vue-storefront-api/pull/247

[2019-05-15 10:36] #2904 closed

[2019-05-15 11:26] DaanKouters commented on #2271
hi @zimme  i tested it with your changes, at first i still got the compile error, but i noticed you left "node_modules" in the exclude property.
When i remove that, compilation runs just fine.
So now the exclude property of tsconfig.json looks like:
[code]

But when i go to the storefront in browser, the console throws multiple errors on 'vuestorefront/node_modules/ts-node/src/index.ts:431:14'.

T

[2019-05-15 11:28] zimme commented on #2271
Try leaving `node_modules` as it was in `tsconfig.json`

and add these changes to `tsconfig-build.json`
[code]

[2019-05-15 11:41] DaanKouters commented on #2271
@zimme ok, when i leave the exclude as it was (with "node_modules") i get in compilation:
**Module build failed (from ./node_modules/ts-loader/index.js):
Error: TypeScript emitted no output for**

And adding the vsf paths to the exclude in tsconfig-build didn't make a noticable change, still the ts-node error 'node_modules/ts-node/src/index.ts:431:14'

[2019-05-15 16:23] arimus commented on #2583
Just a note for anyone else running into this ticket when finding this problem, without brew being the issue. I mistakenly believed that I could `npm install` instead of `yarn`, so the dependencies didn't get properly installed (as this project is using workspaces) and the build broke when it got to the compilation step.

[2019-05-15 17:53] kkdg commented on #2546
@filrak got it, working on it.

[2019-05-15 23:46] brgccf commented on #2904
Hi @pkarw , we saw the PR and followed your instructions but it did not solve our problem. Let me explain better what's happening: on the vsf If i'm on the home page And click on the product the CSM error do pop up, but If I go on the direct link ( open a new tab And paste the product URL ) It works Just fine, show the product without any errors, If you have any ideia on How to fix this or any clu

[2019-05-16 05:29] zimme commented on #2271
I saw that the regex to exclude everything except vsf- packages were wrong and I looked into ts-node and realized it didn't use the include/exclude from tsconfig so I'm testing setting an environment variable to ignore all but vsf- packages in node_modules which ignores the whole folder by default

[2019-05-16 06:02] alinadivante opened #2907 "Category page is not available when "useShortCatalogUrls" is set on true"
## Steps to reproduce the issue
1. Open local.json and set **_true_** for "useShortCatalogUrls"
2. Save changes and run VSF locally
3. Click on banners from Homepage
4. Go to Women category → view all

## Current behavior
"The product, category or CMS page is not available in Offline mode. Redirecting to Home."
I can't go to the main categories, because there are probably hardcoded redirects to ad

[2019-05-16 07:08] pkarw commented on #2904
Hey @brgccf thanks for Your feedback! In that case it seems like only the SSR has network access to host set in the `config.elastichsearch.host`. Please make sure that this is a public URL accessible both from: browser + from the `core/scripts/server.s` -> SSR renderer

[2019-05-16 07:44] pkarw commented on #2907
This is not an issue. This mode is not compliant with the `useUrlDispatcher`. @kkdg please make sure we have a note on that in our docs (https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/basics/configuration.md)

It was mentioned in the https://github.com/DivanteLtd/vue-storefront/blob/master/docs/guide/basics/url.md - however, it's not visible enough :/

[2019-05-16 07:44] #2907 closed

[2019-05-16 08:11] zimme commented on #2271
Ok, so I've been trying out different things here and I've been able to overcome the `Error: TypeScript emitted no output for` error and are now getting `TypeError: Unable to require `.d.ts` file.` instead.

I've added `TS_NODE_IGNORE=false` to make sure ts-node isn't ignoring things in `node_modules` and I've made sure the tsconfig files isn't excluding any `node_modules` related things and I can

[2019-05-16 08:29] zimme commented on #2271
This issue should be re-opened.

[2019-05-16 09:00] DaanKouters commented on #2271
hi @zimme firstly, thanks for your efforts
As i was searching for solutions i often came across it was a better practice to let the packages be prebuilt the typescript like you also say above.

This is going a bit above my hat right now, so if i can help with testing or something please let me know

[2019-05-16 11:46] pmaojo opened #2909 "Some images not visible on Android"
## Current behavior

Images are not shown.

## Expected behavior

Images should display.

## Steps to reproduce the issue

- Enter Chrome on Android phone (Mine is Xiaomi Mi 6).
- Open https://next.vuestorefront.io
- Look at "Everything new" section, no images, grey box.
- Open a product page.

## Can you handle fixing this bug by yourself?

Right now I don't know the origin of the bug.
I could tr

[2019-05-16 11:58] pmaojo commented on #2909
Also happening when PWA is installed on Android

[2019-05-16 12:13] pmaojo opened #2910 "Some structured data not available in product view"
## Current behavior

Current missing fields on Structured Data

![Captura de pantalla 2019-05-16 a las 13 11 04](https://user-images.githubusercontent.com/411551/57852881-3b206500-77dc-11e9-9d42-1d9c9ae1fe6e.png)

## Expected behavior

Add all possible fields. url, image..

## Can you handle fixing this bug by yourself?

- [ ] YES
- [ ] NO

## Which [Release Cycle](https://docs.vuestorefront.io/gu

[2019-05-16 12:15] pkarw commented on #2910
Hi @pmaojo could You please be more specific? :-) What do You mean by this and how do You see the actionable items regarding these fields? Adding the fields to Product page?

[2019-05-16 12:34] pmaojo opened #2911 "Remove chevron arrows when there is only one image in product page"
It would be good to hide chevron arrows when there is only one image in product page. Clicking with no result is not good UX

![Captura de pantalla 2019-05-16 a las 13 33 00](https://user-images.githubusercontent.com/411551/57854081-41fca700-77df-11e9-8e02-e1d571d1b8d6.png)

[2019-05-16 12:51] pmaojo commented on #2910
If you open https://search.google.com/structured-data/testing-tool/?hl=es#url=https%3A%2F%2Fdemo.storefrontcloud.io%2Fwomen%2Ftops-women%2Ftees-women%2Ftees-25%2Ftiffany-fitness-tee-1513.html%3FchildSku%3DWS09 Google warns that there is some info about the product that is not shared as structured data.

[2019-05-16 12:54] pmaojo commented on #2910
Well, this is not a bug really,
It could be an enhancement, so its a feature request.

[2019-05-16 13:02] pmaojo opened #2912 "Add to cart in a product of "Video Downloads" not working."
## Current behavior

When click on Add to Cart. An error card promots.

## Expected behavior

Product added to cart or real error displayed.

## Steps to reproduce the issue

Go to https://next.storefrontcloud.io/training/training-9/luma-yoga-for-life-51.html
Click "Add to Cart"

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for

[2019-05-16 20:02] alinadivante commented on #2912
@pmaojo This was due to the wrong product configuration in Magento. Now you can add this product to the cart :)

[2019-05-16 20:03] #2912 closed

[2019-05-16 21:47] pmaojo opened #2913 "Improve Size Guide feature to prevent loosing product options selected by user"
## What is the motivation for adding / enhancing this feature?

In a product page, If a user selects options( color and size for example) and clicks on "size guide" link:
- the link to guide is opened on the same window.
- A  sidebar with links is shown atf. In mobile view that sidebar would have to go down, not before content.
- no go back to product button
- if I click back on browser, I see my

[2019-05-16 23:36] alevis commented on #1330
It successfully builds and deploys but fails to launch on heroku.
After `npm start` it crashes with these errors;
[code]

[2019-05-17 05:44] alinadivante commented on #2909
Hello @pmaojo
I tried reproduce this issue on Xaomi Redmi Note 4 (Android version: 7.0 NRD90M) but all images are displayed.
Please provide more details.

[2019-05-17 06:01] danivadion commented on #1863
@allozaur this problem is still occurring for me. I have restarted elasticsearch but still no luck.
I am on an ec2 with Amazon Linux. Currently if i try curl localhost:3000 on ec2 it returns
(52) Empty reply from server.

[2019-05-17 08:55] RGijsberts commented on #2909
We saw this once on my colleague's phone which is a OnePlus 6 (I believe), also on Chrome. I was able top inspect for a while and noticed this line of css: mix-blend-mode: multiply; on the images. Disabling this line made the images appear.
That is all the inspecting I did at that time, and right now I have only 1 Android test device with me which is a Huawei P Smart and cannot reproduce this issu

[2019-05-17 09:57] alinadivante opened #2914 "Synchronization for the product page in the background"
## Relates to:
#2905

## What is the motivation for adding / enhancing this feature?
We discussed with patzick that it shouldn't be that I have information "No available product variants" but some variants of this product are available in magento.

## What are the acceptance criteria
Make synchronization for Product page in the background (same as on the category page)

## Can you complete this fe

[2019-05-17 10:16] RGijsberts commented on #2913
working on it

[2019-05-17 10:52] alinadivante opened #2915 "Remove deprecated parameters from config file"
## What is the motivation for adding / enhancing this feature?
"setupVariantByAttributeCode" and   "useShortCatalogUrls" are deprecated values, switched off by default one year ago.

## What are the acceptance criteria
Remove "setupVariantByAttributeCode" and   "useShortCatalogUrls"

## Can you complete this feature request by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.vu

[2019-05-17 10:57] michhy commented on #2576
Hi @mdesmet  may I know how its going please?
Thanks a lot!

[2019-05-17 11:48] pkarw commented on #2910
OK, now I get it so it's all about setting up the proper micro-schema / metadata

[2019-05-17 11:59] #2817 closed

[2019-05-17 12:30] alinadivante commented on #2909
Hi @pmaojo @RGijsberts today I was trying to check this problem on **10** different mobile devices (with Android and iOS). I tested on demo and next.storefrontcloud.io, with Chrome, Firefox and Safari (also PWA installed) and.. nothing, everything looks good for me

[2019-05-17 12:41] pmaojo commented on #2909
This night I will be able to inspect with my device and try to fix it

[2019-05-17 13:50] simonmaass commented on #2365
would love this addition!

[2019-05-17 21:28] pkarw commented on #2895
OK, the reason is You're using outdated CMS module. Please try the recommended one -> the `CmsPage` (the default routing is like: `{ name: 'cms-page', path: '/i/:slug', component: CmsPage }`)

[2019-05-17 21:28] pkarw commented on #2895
More on the CMS before and after VS 1.6: https://docs.vuestorefront.io/guide/data/static-data.html

[2019-05-17 21:28] #2895 closed

[2019-05-17 22:30] pkarw commented on #2897
Related to https://github.com/DivanteLtd/vue-storefront/commit/397fa73d2d0566101d69ccea67225a87110fe8e6#diff-c7d8372bca8ee09ad0d416ed0bbb929c

[2019-05-17 22:31] pkarw commented on #2897
We should somehow mark which image (path + size) has been `seen` by the user and therefore cached

[2019-05-17 23:05] pkarw commented on #2892
Fixed! :)

[2019-05-17 23:11] pkarw commented on #2897
Related to #2863

[2019-05-18 11:44] dimasch commented on #2730
@pkarw  In progress just now. ;)

[2019-05-18 14:47] fancydev18 opened #2918 "Tax price fields have wrong naming convention"
## Current behavior

Some object attributes don't respect the naming convention used by all others (underscore, not camelCase)
They are:
[code]

## Expected behavior

Respect naming convention used by all others, eg price_incl_tax

## Steps to reproduce the issue

1. Open network inspector
2. Visit
https://demo.vuestorefront.io/gear/gear-3/joust-duffle-bag-1.html

3. See response in
https://demo.s

[2019-05-18 16:23] fancydev18 commented on #837
@pkarw Why was this closed, please?

[2019-05-18 16:35] fancydev18 commented on #2700
Another solution is to remove the "I want to create an account" checkbox during the checkout. Just let the customer pay and complete order. Anything extra will reduce conversions.

On the screen shown after placing the order (after everything is paid etc), have a button to
*Create an account* to save your addresses and be eligible to potential discounts

This will also work well with Instant check

[2019-05-18 17:51] pkarw commented on #837
@fancydev18 this feature was out of the standard eCommerce features set we are able to add to the core - it requires additional integrations etc. it’s a great idea for community / 3rd party module to be published on our marketplace!

[2019-05-18 19:16] mariusa commented on #837
@pkarw thanks, makes sense

[2019-05-18 19:17] fancydev18 commented on #837
@pkarw Thanks, makes sense

[2019-05-18 20:32] dimasch commented on #2730
@pkarw Done.

[2019-05-20 04:52] heromiyo opened #2920 "No additional data adapter for category error on api"
## Current behavior
I setup storefront and api and connected to my magento instance.
when i do run both storefront and api am getting this error
on vue-storefront-api

No additional data adapter for category
Entering HmacProcessor::process
![image](https://user-images.githubusercontent.com/39757927/57997118-9795c400-7afd-11e9-8d57-7c7d1d71e9b1.png)

 vue-storefront
Error: Category query returned e

[2019-05-20 05:47] alinadivante opened #2921 "After refreshing page, some information disappears from the shopping summary."
## Relates to:
#2869

## Steps to reproduce the issue
1. Disable Flat rate Shipping method in Magento panel (set only Free shipping active)
2. Add any product to the cart
3. Open Shopping cart
4. Refresh page
5. Again open Shopping cart

## Current behavior
Some information (Shipping & Handling, Tax and Discount code) are removed from Shopping summary.
![image](https://user-images.githubuserconten

[2019-05-20 07:50] GabiDivante commented on #2892
@pkarw It works fine :) Though, I haven't thought about the order summary in the checkout, we have to change it the same way
![Selection_038](https://user-images.githubusercontent.com/49188852/58004539-be470100-7ae3-11e9-86cd-8b1935f0f972.png)
By the way, take a look at my comments in #2874 - we have to solve the problem of displaying reduced prices (or correct value of discount) in instant checko

[2019-05-20 07:56] vishal-7037 commented on #2895
@pkarw ,
Thank you. :+1:
It works now :)

[2019-05-20 08:50] GabiDivante commented on #2896
@pkarw Here, I have also forgotten about the order summary in the checkout - the quantity of the product is correct but the price is not.
![Peek 2019-05-20 10-49](https://user-images.githubusercontent.com/49188852/58008573-f999fd80-7aec-11e9-9178-0c72b0a6d8b0.gif)

[2019-05-20 08:52] pkarw commented on #2869
We must load the shipping methods `before` sending the totals request + using the `cart/refreshTotals` instead of `cart/serverTotals` no matter what. `cart/serverTotals` is not applying the shipping information -> https://github.com/DivanteLtd/vue-storefront/blob/86b6eee59450209f871e170d47c75a8b62859c0d/core/modules/cart/store/actions.ts#L443

[2019-05-20 08:53] pkarw commented on #2921
It's probably fixed with the https://github.com/DivanteLtd/vue-storefront/pull/2887

Can You please check it on the branch?

[2019-05-20 08:54] pkarw commented on #2920
This is not an error. Url Dispatcher tries to find out the category for `sw.js` url path - and the category doesn't exist. Do You have a category with `url_path` = `sw.js`?

The message from `vue-storefront-api` -> "No additional data adapter for category" is a debug message not an error either

[2019-05-20 08:55] pkarw commented on #2920
[](url)

[2019-05-20 08:55] #2920 closed

[2019-05-20 08:56] pkarw commented on #2918
We'll take care of that by the refactoring efforts. We'll apply the following changes:

- `priceInclTax` -> `price_incl_tax`
- `priceTax` -> `price_tax`
- `specialPriceInclTax` - `special_price_incl_tax`
- `specialPriceTax` - `special_price_tax`

We'll keep the older property names as depreciated for some time (would be awesome to add the eslint rule for checking the property names)

[2019-05-20 09:39] haelbichalex opened #2924 "Trying to setup a multistore environment with multiple urls and stores"
## Prerequisites

Please answer the following questions for yourself before submitting an issue.
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

# Is there something you don't understand? What is it? Describe it.

Related issue: #2870

We are trying to setup a multistore environment

[2019-05-20 09:50] alinadivante commented on #2921
Yep, now it works ;)

[2019-05-20 09:50] #2921 closed

[2019-05-20 09:53] pmaojo commented on #2909
That is it. The use of mix-blend-mode CSS property should be avoided.
- An ecommerce should have a guideness to upload their images, there is no need to make white transparent.
- As an starter theme using this CSS property looks like a non standard decision, and many developers will face this problem eventually, may be one of those Android failing browsers is being used by an investor.

Should thi

[2019-05-20 09:57] pkarw commented on #2909
In that case, I believe we should have this feature (cutting off the background as an option on the vs-api) level maybe? I mean: we can set the guidelines but the default Magento product set images are not compliant with it - and have just the white background :)

Maybe just some specific blend mode is not supported on the Android?
Can You help us checking the different options from:
https://devel

[2019-05-20 10:00] pkarw commented on #2909
This is overall strange as https://caniuse.com/#search=blend-mode shows that it should work on Chrome for Android anyway :(

[2019-05-20 10:04] pmaojo commented on #2909
https://stackoverflow.com/questions/30479321/chrome-css3-mix-blend-mode-bug-in-chrome

[2019-05-20 10:05] pmaojo commented on #2909
This fixes:

[code]

[2019-05-20 11:44] pkarw commented on #2909
Cool. Can You Please create a fix for 1.9.1?

[2019-05-20 11:46] pmaojo commented on #2909
Yes

[2019-05-20 14:28] fancydev18 commented on #2128
@pkarw Got same error. Here's how I fixed it:

1. In webpack.base.config.ts change these to correct paths:
[code]

2. Make require('@vue-storefront/...') work by using solution 0 here:
https://gist.github.com/branneman/8048520
in package.json add
[code]

In webpack.base.config.ts (and maybe others) add
[code]

[2019-05-20 14:32] pkarw commented on #2128
Thanks, do You think it's a general solution that should be provided as a PR to the core?

[2019-05-20 14:37] lukeromanowicz commented on #2128
@panique @fancydev18 @shelly28 could you please provide steps of a minimal reproduction including information about code, yarn and node version you are using?

[2019-05-20 14:58] fancydev18 commented on #2128
Actually, I've used npm instead of yarn. That's why it doesn't work, as it doesn't support "workspaces". I've commented what I learned here: https://gist.github.com/branneman/8048520

The simplest solution would be to keep using yarn for now, until npm supports workspaces too.
"module-alias" solution would add extra complexity.

Feel free to close this. At least others trying npm would know why it

[2019-05-20 14:58] fancydev18 commented on #2128
Looks like workspaces are planned for npm too: https://blog.npmjs.org/post/173239798780/beyond-npm6-the-future-of-the-npm-cli

[2019-05-20 15:00] lukeromanowicz commented on #2128
Thanks for sharing the solution with us :+1:

[2019-05-20 15:00] #2128 closed

[2019-05-20 19:23] fancydev18 commented on #1974
Hi @pkarw , why was this closed?
How can I help making it happen?

[2019-05-20 20:38] pmaojo commented on #2909
https://github.com/DivanteLtd/vue-storefront/pull/2926

[2019-05-21 00:46] grimasod commented on #2924
In local.json, you need to enter mapStoreUrlsFor with a code for for each store, e.g.
[code]
That should get you started with requesting the specified index.

We are running a multi-store site on a single domain, so I'm not sure about using different domain names. I guess it will create some challenges, because the browser will treat them as separate sites. The cart can still be synchronized via M

[2019-05-21 05:07] fancydev18 opened #2927 "magento2-rest-client shouldn't be required in package.json"
# Summary
[summary]: #summary

magento2-rest-client shouldn't be required in package.json

# Motivation
[motivation]: #motivation

vue-storefront should be backend-agnostic. Backend could be magento, vue-storefront-api, bigcommerce or anything else.

# Alternatives
[rationale-and-alternatives]: #rationale-and-alternatives

magento2-rest-client is used only in installer.js validateM2Integration()
M

[2019-05-21 08:07] haelbichalex commented on #2924
Thanks for your answer @grimasod.

Hm, I tried this, didn't change anything though.

I thought that's what the request header `x-vs-store-code` is for. That's why I set this based on the URL.

Maybe that's the best option, if we're able to synchronize the carts as well. I think Magento does this via the Session ID.
___

Does somebody know if Vue Storefront supports shared carts  in general?

[2019-05-21 10:21] bratok commented on #2506
Hi, colleagues.
In some  core modules i see using rootStore to dispatch actions.

Example:
...
addItem ({commit}, product) {
    commit(types.COMPARE_ADD_ITEM, {product})
    rootStore.dispatch('notification/spawnNotification', {
...

why you don`t use dispatch function from context?
Example:
...
addItem ({commit, dispatch}, product) {
    commit(types.COMPARE_ADD_ITEM, {product})
    dispatch('no

[2019-05-21 10:36] pkarw commented on #2506
Yes, it should get refactored to dispatch() - rootStore shouldn’t be used across view modules

[2019-05-21 10:38] pkarw commented on #2927
Thanks. It seems like unnecessary dependency - that’s true. However this dependency isn’t bundled in the app (it’s just used by the installer script). I don’t see much benefits removing this dependency and replacing it with (for example) a direct curl call.

[2019-05-21 10:38] #2927 closed

[2019-05-21 10:40] pkarw commented on #2924
@haelbichalex shared carts are supported by default. It should work as you described with two separate instances.

VS should be able to select the current store via: url, “x-vs-store-code” or env variable

[2019-05-21 10:43] pkarw commented on #2924
It might be of course an issue with switching the store by http header - it requires some debugging across server-entry and client-entry where the store is set - please feel free to dig a little bit deeper

[2019-05-21 10:45] bratok commented on #2506
Ok, thanks for the quick reply.

what about rootStore.state? Is it equal context.rootState?

[2019-05-21 11:12] haelbichalex commented on #2924
@pkarw allright, I'll try to make it work with two instances then. 👍

[2019-05-21 11:32] pkarw commented on #2730
Thanks Dima

[2019-05-21 12:07] nikhilbansal opened #2930 "Add to cart fails indefinitely for all products once an existing product in cart is deleted from Magento"
## Current behavior
Add to cart fails indefinitely for all new products once an existing product in cart is deleted from Magento
{"code":500,"result":"The product that was requested doesn't exist. Verify the product and try again."}

## Expected behavior
Should be able to add other products to cart once an existing product in cart is deleted from Magento

## Steps to reproduce the issue
1. Go to v

[2019-05-21 12:41] pkarw commented on #2930
This seems like an Magento issue. Please check magento2 github and create an issue when necessary. If the product is being removed from quote we sync it in VS - by some reason Magento is keeping the non-existing products in the quote and this causes an issue

[2019-05-21 14:11] pkarw commented on #1974
We resigned from explicitly supporting Vue CLI - and @filrak started with the `create-vsf-app` kind of tool -> https://github.com/DivanteLtd/vue-storefront/pull/2856

[2019-05-21 20:28] #2930 closed

[2019-05-21 21:14] patzick commented on #2806
Thanks @aniamusial !:)

[2019-05-21 21:14] #2806 closed

[2019-05-21 21:49] #2911 closed

[2019-05-21 23:50] Ravin0319 opened #2931 "Replace ElasticSearch with Algolia"
Need your comments/steps to remove ElasticSearch and Replace with Algolia in the entire Store.
https://www.algolia.com/doc/guides/building-search-ui/getting-started/vue/

I spent some time trying to debug the searchPanel and the search.ts file and the functions to understand where the connection is made to Elasticsearch but was not successful.

What i am trying to do is remove ElasticSearch entire

[2019-05-22 01:48] grimasod commented on #2924
By the way, as far as I know, it's still necessary to set "availableStores" and "storeViews" in local.json for VS-API for it to handle multiple stores on the Magento side.

I wasn't aware of the "x-vs-store-code" header, so haven't tried it out

[2019-05-22 05:52] grimasod commented on #2696
I'd like to share some ideas... I believe a good platform-agnostic solution could be to use GraphQL with the "API First" approach.

That is, first define the API for an ideal e-commerce backend, not based on any existing platform. This API could be implemented using a GraphQL server (such as Apollo). The GraphQL data sources can be mapped to anything, like Magento, WooCommerce, Prismic, Firebase,

[2019-05-22 06:05] grimasod commented on #2696
A further advantage, that I forgot to mention, would be ease of switching backend platforms. For example, when switching from Magento to an alternative system, it would only be necessary to change the GraphQL datasources, while the whole frontend could remain the same (theoretically!)

[2019-05-22 08:06] alinadivante opened #2932 "Make "browse our catalog" as blue link."
## What is the motivation for adding / enhancing this feature?
When the wish list or shopping cart is empty, the user can start browsing with one click on the "browse our catalog" link, but now we only have the hover effect on it. It will be better to highlight the "browse our catalog" link permanently.

![image](https://user-images.githubusercontent.com/36628922/58157101-ee270d80-7c77-11e9-80f7-3

[2019-05-22 08:39] #2864 closed

[2019-05-22 08:41] #2894 closed

[2019-05-22 08:42] #2902 closed

[2019-05-22 09:02] revlis-x opened #2933 "Configurable Products not accessible in CSR when children visibility is set to "not visible individually""
## Current behavior
In 1.9 one cannot access Configurable Products in CSR (e.g. clicked from category listing), when the visibility of the children is set to "not visible individually" in Magento. Instead one is redirected to Homepage with error message.
For further details view this slack thread: https://vuestorefront.slack.com/archives/CA68P1JUF/p1557923071162700

## Expected behavior
This was w

[2019-05-22 09:14] pkarw commented on #2933
Could You please paste the info form Slack into comments to avoid the risk of Slack removing the history due to messages limit (we're on free version)?

[2019-05-22 09:47] pmaojo opened #2934 "As a user I want to choose number of columns of products I see on the category view"
## What is the motivation for adding / enhancing this feature?
[not for mobile]

The number of columns determine two aspects:

- Size of product image thumbnails on the category page. Less columns - bigger images.
- Amount of products displayed. More columns - more products visible.

Could different column layout affect site ROI? It must affect. But there cannot be a generic rule for this, each e-

[2019-05-22 10:31] Jensderond commented on #2933
yogeshsuhagiya   [7 days ago]
I'm also facing the same issue after upgrading VS version

ZigaBBS   [7 days ago]
Me too, maybe it is problem in default.json config file, im setting it up now will report when i test

yogeshsuhagiya   [7 days ago]
@ZigaBBS Don't think so, there is something wrong with core code.

yogeshsuhagiya   [7 days ago]
VSF team developed and used `RouterManager`, might be this

[2019-05-22 11:05] pmaojo commented on #2932
I think this should be applied to all links.
As a standard, I would like the color of all links default _primary_ everywhere and bold.

[2019-05-22 11:34] pmaojo opened #2935 "Display default "Sort by" criteria on Sort by selector, on category view"
## What is the motivation for adding / enhancing this feature?

As I user, before changing sorting criteria I would like to know how is it actually sorted.

## What are the acceptance criteria

- [ ] display a label with the property used to sort products.

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for developer.
Pick one opt

[2019-05-22 11:53] pkarw commented on #2935
Not quite get it - there is a combo box with this: https://www.dropbox.com/s/geguyamqpomebv8/Screenshot%202019-05-22%2013.53.42.png?dl=0

[2019-05-22 11:58] alinadivante commented on #2935
@pkarw I think that the point is to display information on how the products are sorted by default ;)

[2019-05-22 12:00] pmaojo commented on #2935
hi!
Yes, @alinadivante

[2019-05-22 12:02] #2909 closed

[2019-05-22 13:59] pkarw commented on #2931
Would be great to have such a module as an open source. I thought the easiest way would be to create a `src/modules/algolia` module and put the UI components + Vuex store (for querying Algolia) just in there. So not trying to bind Algolia to VS directly but rather connect it as another UI Search feature (changing the Search component in the theme to this new one).

More comprehensive but also more

[2019-05-22 14:46] Ravin0319 commented on #2931
Hi @pkarw

Many thanks for responding!

I like the first option where the algolia is just a Search module. i will try this now and let you know if i was successful.

How can i connect Algolia data with Vuex store? Do we have docs explaining something similar to this? and what is benefit by doing this?

Also, I am trying to understand what this below line does in file:-
vue-storefront/core/modules/

[2019-05-22 17:05] pkarw commented on #2931
Hi Ravin You should create Your own module with your own view data store and implement your Vuex actions like “agolia/search” instead of “product/list”. You won’t probably need to “touch” elastic endpoints either vs api at all. API requests should be executed only from the vuex actions - in this case vuex actions from your module. Take a look on how “src/module-template” is extending vuex and foll

[2019-05-23 08:41] patzick commented on #2811
Thanks @965750!

[2019-05-23 08:41] #2811 closed

[2019-05-23 09:23] lucassith opened #2938 "Yarn fails on cloned code."
## Current behavior
[code]

## Expected behavior
Yarn installs all of the dependencies

## Steps to reproduce the issue
https://docs.vuestorefront.io/guide/installation/linux-mac.html#user-friendly-installation

## Can you handle fixing this bug by yourself?

- [ ] YES
- [x] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cycle.html) state this refers to? Info for d

[2019-05-23 09:39] Jensderond opened #2939 "Placeholders are no longer shown"
## Current behavior
The [ProductTile.vue](https://github.com/DivanteLtd/vue-storefront/blob/master/src/themes/default/components/core/ProductTile.vue) now never shows the placeholder because of `product-image--loaded` always being in the class.

I believe this is related to #2641 .

https://github.com/DivanteLtd/vue-storefront/blob/17b7ab198c516bd9f0738f6d39d3914331cf8792/src/themes/default/compon

[2019-05-23 14:17] Devors opened #2940 "If alwaysSyncPlatformPricesOver = true, - product.special_price always 0"
## Current behavior
reset `product.special_price` in both cases

## Expected behavior
do not reset if `product.priceInclTax < product.originalPriceInclTax`

## Repository
https://github.com/DivanteLtd/vue-storefront/blob/v1.9.0/core/modules/catalog/helpers/index.ts#L158

## Can you handle fixing this bug by yourself?
By removing `else` case?
- [X] YES
- [ ] NO

## Which [Release Cycle](https://doc

[2019-05-23 14:50] bellodaniel opened #2941 "Product does not exist - Magento 2"
## Current behavior

After Integrating Magento with Vue JS, everything looks good. However, I am getting an error when trying to add a product to the cart.
https://cl.ly/995d660fffbc
I get a 'Product not found' error, which is weird because actually, I am at the product page.

## Expected behavior

The add to cart operation should go through I should be able to add a product to the cart and go to

[2019-05-23 19:38] Jensderond commented on #2941
I've never had this error, could you check if there is anything in the logs from the API or the logs of Magento?

[2019-05-24 07:16] bellodaniel commented on #2941
@Jensderond I am reviewing the Magento logs but I don't see any error related to this:
https://cl.ly/cc93c8532bf1
https://cl.ly/d12ff0bea3b6
Wheres on vue-storefront/var/log the two files vue-storefront.log and vue-storefront-api.log are empty.
I don't see a new log when I try to add to cart on these files.
The only error I see is this:
https://cl.ly/f985899f7e8c
_{"code":500,"result":"Product wit

[2019-05-24 07:25] pkarw commented on #2941
Please just make sure You're connected to the right Magento backend :-) `vue-storefront-api:config/local.json` - magento2 section. Probably You're quering differtent magento backend than You got the prodcuts from

[2019-05-24 07:25] #2941 closed

[2019-05-24 08:08] lukeromanowicz commented on #2938
@lucassith It looks like a temporary pm2 repository issue. It seems to be already working back again. Please try again.

[2019-05-24 08:08] #2938 closed

[2019-05-24 08:13] Hackbard commented on #2893
Can't reproduce this Bug on Mac with Chrome 74, Safari 12.1 and Firefox 60.3

[2019-05-24 08:18] pkarw commented on #2940
I belive this is the price that cames from `render-list` Magneto2 endpoint. Any ideas how to solve it?

Debugging starting point: `taxcalc.ts`

[2019-05-24 08:18] Hackbard commented on #2932
I will try to take care of it.

[2019-05-24 08:25] bellodaniel commented on #2941
@pkarw This is the local.json in this file:
"magento2": {
    "url": "http://dev23.m2.test",
    "imgUrl": "https://dev23.m2.test/pub/media/catalog/product",
    "assetPath": "/../var/magento2-sample-data/pub/media",
    "magentoUserName": "",
    "magentoUserPassword": "",
    "httpUserName": "",
    "httpUserPassword": "",
    "api": {
      "url": "http://dev23.m2.test/rest",
      "consumerKey

[2019-05-24 09:03] webdiver commented on #2814
[vuestore-hackathon] I will tackle this one now.

[2019-05-24 09:04] VictorKadup commented on #2815
i will take care of it

[2019-05-24 09:13] Hackbard commented on #2637
I will give it a try

[2019-05-24 09:24] cewald commented on #2910
We try to fill in the missing data.
Not all suggestions could be fulfilled with the demo data, but at least some.

[2019-05-24 09:41] webdiver commented on #2814
It seems, the problem is the server itself.

The request is correctly send to the server:
[code]

But the response is:
[code]

[2019-05-24 09:52] klapperkopp commented on #1620
I am also stuck at this. Any progress by @ananth-iyer ?
maybe this is a hackathon topic @pkarw @PatrickKluwig

[2019-05-24 10:09] janmyszkier commented on #2940
:thinking: the code that @Devors seems to be a mess. Let's break this
[code]
into few points....
1. the first bad thing is that the comment in `else` is misleading, says `same price as original`, but the IF was `=` so else clearly takes care of NOT SAME case

2. Considering `product.priceInclTax` is in fact `final_price` (https://github.com/DivanteLtd/vue-storefront/blob/v1.9.0/core/modules/catalo

[2019-05-24 10:26] webdiver commented on #2787
[vs-hackathon] I tackle this one.

[2019-05-24 10:35] Hackbard commented on #2810
i will give it a shot

[2019-05-24 10:40] webdiver commented on #2787
Since there is no "Arrow-Back" anymore (as fas as I see), I implemented a solution, where the search will be stored in `user/recent_search` and after re-opening the search, the user sees the same results as before.

[2019-05-24 10:43] Flyingmana commented on #2743
shouldnt this be more of a cosmetic then a functional change?
vue-storefront is intended to connect with different systems, and its common that an Order has an entity ID, but exposes a different ID to the customer, which often allows more flexibility.

So it may make sense, that vue-storefront adds a new property to differentiate between entity_id and shown order_id

[2019-05-24 11:04] ResuBaka opened #2951 "Links in the changelog.md"
# Summary
[summary]: #summary

Add a hyperlink to the user and PR. To have them when you open the changelog.md

# Motivation
[motivation]: #motivation

This would be grade to have so when you clone the repository or open the changelog file directly you can go the the PR and not need to search it or go the the releases page.

One why this could be done without having long lines is to use a [referen

[2019-05-24 11:08] dlandmann commented on #2893
Error only on **Startpage** visible, if browsercache (Chrome and Safari testet) cleaned.

[2019-05-24 11:38] RGijsberts commented on #2757
in the vue-carousel documentation it says you should be able to navigate to a slide without the animation with this: navigateTo(index, false) but I can't get this to work.

[2019-05-24 12:08] mdesmet commented on #2743
I wish it was just a cosmetic change but the response from the order endpoint only returns the internal increment id, no other properties, so we have to get the external order id somewhere else. IMHO the analysis still stands.

[2019-05-24 12:18] Jensderond opened #2955 "Automate the build of the documentation"
## What is the motivation for adding / enhancing this feature?
When the documentation website is built automatically, people who are new with VSF will be able to always see the most recent docs.

## What are the acceptance criteria
The workflow of this could be copied from Storefront UI, [see an example here.](https://github.com/DivanteLtd/storefront-ui/pull/100)

- [ ] Automatically built the web

[2019-05-24 12:22] pkarw commented on #2955
This is something @kkdg is currently working on :)

[2019-05-24 12:39] heyfets commented on #2934
I'll take it.

[2019-05-24 12:59] alinadivante commented on #2934
@heyfets  maybe @StasiekDivante will suggest some graphic solution like image-size?
![image](https://user-images.githubusercontent.com/36628922/58329256-705c3100-7e34-11e9-9470-2cfa15c4f0be.png)

[2019-05-24 12:59] pkarw commented on #2940
@janmyszkier, @Devors this condition seems like a logic error. We probably should simplify to:

[code]

priceInclTax = final_price

This condition means like: if the final price isn't lower than the original price - there is no `special_price`

Please test it and if it fixes the issue please provide us with a PR

[2019-05-24 13:10] Hackbard commented on #818
@allozaur  is it published? Then the ticket can be closed?

[2019-05-24 13:27] RGijsberts commented on #2893
The Account button in the header, the one with the avatar, contains an element: <i class="material-icons block" data-v="">account_circle</i>

As you can see this element has two classes; .material-icons and .block .
.material-icons assigns a display:inline-block rule to this element, while .block should override this by assigning a display: block rule.

It seems that is a matter of which styleshee

[2019-05-24 13:29] Hackbard commented on #2544
Any news @awierzbiak ?

[2019-05-24 13:34] #2931 closed

[2019-05-24 14:26] awierzbiak commented on #2544
Sorry, didn't have time to finish this one 😞

[2019-05-24 15:11] bratok opened #2960 "getSearchAdapter always creates new instance for same adapterName"
## Current behavior

If you call getSearchAdapter successively several times with the same adapterName, a new instance will be created each time.

## Expected behavior

If you call getSearchAdapter successively several times with the same adapterName, a new instance creates only once. Other calls should  return  existing instance.

## Repository

https://github.com/DivanteLtd/vue-storefront/blob/m

[2019-05-24 21:10] filrak commented on #2696
@grimasod

Unfortunately it appeared to be much more than "some" cases after doing more integrations. Generally speaking you're right and this is also what we want to achieve. We also think that the more backend-agnostic modules we have - the better. The only difference is that we're moving VS-API layer to client side. We are experimenting with client-side mappers for backend-agnostic modules (rep

[2019-05-25 10:31] PierreVanvolsem opened #2962 "Yarn fails to install on cloned code Windows"
## Current behavior

Fails to install/link all dependencies.

## Expected behavior

Installing without issues.

## Steps to reproduce the issue

https://docs.vuestorefront.io/guide/installation/windows.html#installation-of-vue-storefront
fails a step 4.

## Repository

cloned code of master

## Can you handle fixing this bug by yourself?

- [x] YES
- [X ] NO

## Which [Release Cycle](https://docs.

[2019-05-25 13:55] ananth-iyer commented on #1620
@klapperkopp @filrak There are some codes written which are hard-coded deep inside the core, that needs to change. I will soon post the screenshot for suggestions to change it.

Note: That is related to products add to cart functionality

[2019-05-25 15:51] patzick commented on #2743
Thanks @Flyingmana !

[2019-05-25 22:06] #2962 closed

[2019-05-26 09:01] sree8637 commented on #2904
Hi @brgccf are you able to fix this, I am also getting the same issue when I navigate from the home menu to any product list. But I can search a product, then i can see the products and the product page opens correctly.
I applied fix on the PR mentiond by @pkarw but still facing same issue.

[2019-05-26 11:43] Ravin0319 commented on #2719
Any word on this?

[2019-05-26 19:11] PierreVanvolsem commented on #307
Hi,
I appreciate your work. Are there still people supporting/working on it?
I have a lack of experience with all this new technologie. Any advice ?
Thank you !

[2019-05-27 06:30] pkarw commented on #2896
Thanks! Fixed on branch https://github.com/DivanteLtd/vue-storefront/pull/2887

[2019-05-27 06:30] pkarw commented on #2869
Fixed in the https://github.com/DivanteLtd/vue-storefront/pull/2887

[2019-05-27 07:44] GabiDivante commented on #2637
Hi, @WGoldsworthy @Hackbard what about configurable products for which I have to choose for example color and size to add them to the cart?

[2019-05-27 08:14] alinadivante commented on #2558
@patzick  @mdesmet hello guys, I tested newsletter on develop branch, but unfortunately it doesn't work..
When I try update my preferences I have errors in dev console.
![image](https://user-images.githubusercontent.com/36628922/58405620-29ef1800-8068-11e9-8049-1c9923c4f057.png)
Also when I use "Subscribe" button.

[2019-05-27 08:46] Hackbard commented on #2637
Good Question, i have the same Question within another Ticket.
Maybe there should be a Standard Overlay what we can use everywhere if it is a  Configurable products ? Or i would make a if that the button is only renderd when it is simple.

[2019-05-27 09:11] patzick commented on #2810
Thanks @Hackbard :)

[2019-05-27 09:11] #2810 closed

[2019-05-27 09:17] patzick commented on #2886
Thanks @exlo89! :)

[2019-05-27 09:17] #2886 closed

[2019-05-27 09:21] patzick commented on #2910
Thanks @cewald !

[2019-05-27 09:21] #2910 closed

[2019-05-27 09:41] Zanuff opened #2964 "Remake order functionality non-deterministic behavior"
## Current behavior
Remake order functionality ends up with random number of products in cart if not locked on backend side. Probably due to the asynchronicity of the requests.

## Expected behavior
Remake order functionality should end up with the same number of products in cart after clicking remake order.

## Steps to reproduce the issue
1. Have an account with orders
2. Have an order with mult

[2019-05-27 09:56] GabiDivante commented on #2743
@Flyingmana I'm testing this solution on the branch develop and still order id on the thankyou page is different than in my orders

[2019-05-27 10:04] Zanuff opened #2965 "shipping address whole object not sent in checkout's shipping-information request"
## Current behavior
When updating address in checkout, only countryId field is sent in request payload.

## Expected behavior
Some systems may need whole address object to be sent to calculate totals correctly. When updating address in checkout, whole address object should be sent to the server.

## Steps to reproduce the issue
1. Go to checkout
2. Go to shipping step and update the address
3. Onl

[2019-05-27 10:08] patzick commented on #2787
Thanks @webdiver ! :)

[2019-05-27 10:08] #2787 closed

[2019-05-27 10:14] Zanuff opened #2966 "UserId not sent when creating account in checkout process"
## Current behavior
UserId not sent when creating account in checkout process. The create order request is being sent before the login is over.

## Expected behavior
UserId should be sent when creating account in checkout process. The create order request is sent after the login is over and userId has been acquired.

## Steps to reproduce the issue
1. Got to checkout process while logged out
2. Cr

[2019-05-27 10:15] Ravin0319 commented on #2931
@pkarw Thank you, You're inputs helped!

I was able to create my own module with store/actions to perform API calls and call this from my module ui components.

[2019-05-27 10:31] alinadivante commented on #2730
@dimasch we need to improve this, because now, if I mark "Copy address data from shipping" it is correctly filled, but if i change my mind and I want to choose "Use my billing data", then form is cleared. I have to unmark selected checkbox and mark it again.

![payment](https://user-images.githubusercontent.com/36628922/58414342-60825e00-807b-11e9-8593-0fadb3f85a7c.gif)

[2019-05-27 10:36] Zanuff opened #2967 "Per module configs instead of one big json"
## What is the motivation for adding / enhancing this feature?
Currently the configs are kept in one big file, which may quickly increase in size, resulting in hard to read huge config chunk.

## What are the acceptance criteria
Keep module config files per module for better separation. The architectural design is up to vue storefront team.

## Can you complete this feature request by yourself?
*

[2019-05-27 10:40] patzick commented on #2743
i've spoken with Gabi, i merged that to separate branch to faster merge that huge abount of PRs, no worries here :)

[2019-05-27 10:40] #2743 closed

[2019-05-27 11:41] patzick commented on #2932
Thanks @Hackbard ! ;D

[2019-05-27 11:41] #2932 closed

[2019-05-27 11:51] patzick commented on #2659
Thanks @Flyingmana!

[2019-05-27 11:51] #2659 closed

[2019-05-27 11:59] patzick commented on #2815
Thanks @VictorKadup ! :)

[2019-05-27 11:59] #2815 closed

[2019-05-27 12:39] mdesmet commented on #2743
@patzick: I meant to comment on this one, actually this change doesn't work as orderData.increment_id is not defined at that point. We have to fetch it from magento api. @Flyingmana  is on it already.

[2019-05-27 12:40] mdesmet commented on #2558
@alinadivante: I will have a look tonight.

[2019-05-27 13:16] cfritze opened #2968 "Won't display the article images on a listview"
Won't display the article images on a listview.

Lazyloading will not display the images correctly.

Happen on: PWA Homescreen

Client:
- Pixel 3
- Android 9
- Chrome 74.0.3729.157

Videolink:
http://xuud.de/screenvideo/shopwarepwa.mp4

[2019-05-27 13:21] patzick commented on #2730
I've merged this now, so it will be available for tests:)

[2019-05-27 13:26] patzick commented on #2933
Thanks @revlis-x !

[2019-05-27 13:26] #2933 closed

[2019-05-27 14:04] jahvi commented on #2271
@zimme 	How did you manage to overcome the `TypeScript emitted no output for .../index.ts` issue? I've been trying to give this a go but I haven't been able to get past that issue.

[2019-05-27 16:16] 4aficiona2 commented on #2968
happens to me too with Chrome version 74.0.3729.169

[2019-05-27 16:24] patzick commented on #2939
Thanks @Jensderond, i've merged that to 1.9.1

[2019-05-27 16:24] #2939 closed

[2019-05-27 18:09] fancydev18 opened #2974 "cli: proxy support, similar to vue-cli"
## What is the motivation for adding / enhancing this feature?

Please support devServer & devServer.proxy options in the upcoming cli, just like vue-cli:
https://cli.vuejs.org/config/#devserver

I think this functionality is built into webpack.

## Can you complete this feature request by yourself?
* [ ] YES
* [x] NO

## Which [Release Cycle](https://docs.vuestorefront.io/guide/basics/release-cyc

[2019-05-27 18:18] fancydev18 commented on #2696
Maybe this could be a nice to have. Since you're reconsidering the basis of a potential client eCommerce framework, why set limits required by 1.0 compatibility?

Projects on 1.x could remain on 1.x for as long as desired, or companies would pay developers for a new 2.x frontend, using only the same data (products, categories...)

[2019-05-27 18:32] pkarw commented on #2939
The placeholders are not displayed in the products gallery when clicking related products (CSR) - I wrote more on this issue to You @patzick on Slack

[2019-05-27 18:33] pkarw commented on #2968
Hi! Thanks for Your feedback. This issue has been just recently fixed in the “develop” branch (1.10rc1 work in progress)

[2019-05-27 18:33] #2968 closed

[2019-05-27 18:47] patzick commented on #2939
This will be fixed with 1.10 and #2925 used everywhere with pictures.

[2019-05-27 19:06] pkarw commented on #2967
Thanks! This sounds good to me, however it makes the docs/initial config a little bit less straightforward. I belive we should discuss it or implement at first stage as an optional feature (so we don’t scatter the main config but rather extend the module API to let the developers to provide their own config providers)

[2019-05-27 19:06] pkarw commented on #2967
Related to #2760

[2019-05-27 19:07] pkarw commented on #2931
Thanks for Your feedback. Great to hear that

[2019-05-27 20:57] Flyingmana commented on #2743
added this fetch via https://github.com/DivanteLtd/vue-storefront-api/pull/258

[2019-05-28 05:22] zimme commented on #2271
@jahvi The changes in the last 3 commits here is what I did.
https://github.com/zimme/vue-storefront/commits/zimme/process-vsf-packages-with-webpack

I also don't remember if I had the npm package with the vsf module as a dependency in vue-storefront or in the theme

[2019-05-28 06:49] thomsonsebastian opened #2976 "on Refresh, language is set back to default language."
The language is changed to the default language on refresh. I have followed the steps below.

Steps:
1. when logged in to the site, language is set to 'de-DE' using loadLanguageAsync(language).
2. logged out from the site.
3. log in to the site again, language is set to 'de-DE' as usual.
4. refresh the site. the language is changed from 'de-DE' to 'en-US' (the default language)

[2019-05-28 07:21] sree8637 opened #2977 "Using Bootstrap Vue for vue storefront theme"
Can someone shed some lights on how to use bootstrap vue in storefront. I have installed bootstrap vue inside my theme(copy of default theme) folder, and added import statements on index.js. Then I tried to apply some Bootstrap vue on my layouts, but the styles are not getting applied.

I am new to vue and vue storefront, so i dont know if I have missed some settings or any configurations.

[2019-05-28 07:32] alinadivante commented on #2560
@MikeSheward
If I use 'Remake order' from dropdown list
![image](https://user-images.githubusercontent.com/36628922/58459143-fb864100-812a-11e9-8338-2bec39020cb6.png) - it works (I'm redirected to checkout) - **BUT** if I will remove products from cart and I will try again remake the same order then it doesn't work. Im' redirected to Home page and "Shopping cart is empty. Please add some products

[2019-05-28 08:56] 4aficiona2 opened #2979 "Broken links in documentation: almost all of the Vuex links are broken"
## Current behavior

Vuex links in documentation are broken.

https://docs.vuestorefront.io/guide/vuex/introduction.html

## Expected behavior

Links work and user won't get an 404 error when clicking the links.

## Steps to reproduce the issue

https://docs.vuestorefront.io/guide/vuex/introduction.html

If I'd knew where to map the links I'd have proposed a solution / fixed the links in this pull

[2019-05-28 09:01] GabiDivante commented on #2637
Hi @Hackbard
I think this task is much more complex. It all depends on how many the product has attributes that you have to choose to add it to the cart. The display method may differ depending on the attributes - I do not know if it is possible to propose a default solution or design that will be reusable. Besides, there are also other types of products like bundle or grouped.
@pkarw hat do you t

[2019-05-28 09:06] globaltopmedia opened #2980 "Incorrect Docker name used for the vuestorefrontapi yarn restore step"
## Current behavior
If you follow the manual installation steps as outlined in https://docs.vuestorefront.io/guide/installation/linux-mac.html#install-the-vue-storefront-api
you will get the following error displayed when running the command:

`docker exec -it vuestorefrontapi_app_1 yarn restore
`
Error: No such container: vuestorefrontapi_app_1

## Expected behavior
No error, and the elastic.js r